
/**
 * Styling for mobile accordions
 */
.accordion {
	background-color: @accordion-bg;

	.accordion-panel {
		padding: 0;
	}
	.accordion-heading {
		background-color: @accordion-heading-bg;
		padding: @accordion-title-padding;

		&.active-panel {
			background-color: @accordion-heading-active-bg;
		}
	}

	.accordion-title {
		padding: @accordion-title-padding;
	}

	.accordion-body {
		padding: @accordion-body-padding;
	}
}

@media(@xs-only) {
	.accordion-xs {

		.accordion-heading {
			padding: @accordion-xs-title-padding;
			background-color: @accordion-xs-heading-bg;
			border-top: 1px solid #fff;
			border-bottom: 1px solid #ccc;

			.btn-accordion-control {
				display: none;
			}
			.icon-arrow-down {
				display: block;
				float:right;
				font-size: 12px;
				margin: 10px 10px 0 0;
			}

			&.active-panel {
				background-color: @accordion-xs-heading-active-bg;
				border-top: 1px solid darken(@accordion-xs-heading-active-bg, 10%);
				border-bottom: 1px solid darken(@accordion-xs-heading-active-bg, 10%);

				.btn-accordion-control {
					display: block;
				}
				.icon-arrow-down {
					display: none;
				}
				.accordion-title {
					a {
						color: @accordion-xs-heading-active-color;
					}
				}

			}
		}

		.accordion-title {
			margin: 0;
			a {
				color: @accordion-xs-heading-color;
			}
		}

		.accordion-body {
			padding:15px;
		}

	}
}