
// LESS for agg_new_results:results_none

#blocked-ip-address {

	.verticalButtons {
		text-align: center;

		a {
		  	display: block;
			color: @theme-tertiary;
			height: 130px;
		  	text-decoration: none;

			&:hover {
				color: #2859d3;
			}

			.icon {
				display: block;
				color: @theme-tertiary;
				font-size: 450%;
			  	text-decoration: none;

				&:hover {
					color: #2859d3;
			 	}
			}
			span {
			  	display:block;
			}
		}



	}
}