.btn-right {
	float:right;
}
.btn-wide {
	padding-left: 40px;
	padding-right: 40px;
}
.btn-fat {
	width: 315px;
}
.btn-block {
	width: 100%;
}
.btn-long-text {
	display: flex;
	justify-content: center;

	span {
		word-wrap: break-word;
		white-space: normal;
	}
}

@media (@xs-only) {
	/* text wrapping on mobile buttons */
	.btn-group-wrap .btn {
		white-space: normal;
	}
}
