.edit-details-modal .modal-body, .edit-details-form {
	padding: 0 !important;
}
.edit-details-wrapper {

	display: none;
	padding: 15px 0 15px 0;

	@media(@lg-only) {
		.first-panel {
			margin-bottom: 30px;
		}
	}

	> p {
		padding-left: 15px;
	}

	.edit-details-intro-text {
		margin: 0 0 15px 15px;
	}

	h5 {
		color: @dropdown-interactive-step-header-color;
	}

	@media(@xs-only) {
		padding-top: 0;
	}

	.panel-body {
		padding: 15px 0 15px 0;
	}

	ul {
		.list-unstyled;
	}

	li {
		word-wrap: break-word;
		margin-bottom:5px;
		@media(@lg-only) {
			&.push-right {
				margin-right: 15px;
			}
		}
	}

	h5 {
		font-size:16px;
		line-height: 1.7;
		@media(@sm-only) {
			font-size: 14px;
			line-height: 1.5;
		}
	}

	.btn-edit {
		text-transform: lowercase;
		line-height: 1;
		float: right;
	}

	.detail-title {
		font-size: 12px;
		text-transform:uppercase;
		white-space: nowrap;
		font-family: @font-family-theme-bold;
	}

	@media(@lg-only) {
		.icon {
			font-size:3em;
			color: @snapshot-icon;
			margin-right: 10px;
			height:50px;
		}
		.stick-btn-left {
			float: left;
			margin-left: 20px;
			margin-top: 17px;
		}
	}

	ul.primary-row-details {
		margin-top: 5px;

		li {
			@media(@lg-only) {
				float: left;
				margin: 21px 0 -15px 15px;
				height: 20px;
				&:last-child {
					margin-left: 0;
				}
				&.push-right {
					margin-right: 15px;
				}
			}
		}
	}

	@media(@sm-md-only) {
		.accordion-panel {
			margin-top: 15px;
		}
		.clear-left-md {
			clear: left;
		}
	}

	.edit-details-intro-text {
		display: inline-block;
		float: left;
		padding-left: 0px;
	}

	.panel.accordion-panel.expired-panel {
		display: none;
	}
}


@media(@xs-only) {
	.accordion-xs {

		.accordion-heading .btn-edit:extend(.btn-hollow-inverse all){}

		.detail-title {
			margin: 10px 0 10px 0;
		}
		.btn-edit {
			margin-right: 10px;
		}
		.accordion-heading .btn-edit {
			margin-top: 5px;
		}
	}
}
