// Changed variable @screen-sm to fix problem 1px difference between the max width of mobile(767px) and the min width of desktop(768px)
@screen-sm:                  767px;
@screen-sm-min:              @screen-sm;
@screen-xs-max:              @screen-sm-min;
@grid-float-breakpoint:      @screen-sm-min;
