//
// Navs - bootstrap extensions (for tabs)
// --------------------------------------------------

@media (max-width: @screen-xs-max) {

	.nav-tabs {
		li.active {
			display: none;
			background-color: @nav-tabs-active-background-color;
		}
		background-color: @nav-tabs-inactive-background-color;
	}
}