.snapshot {
    font-size: @font-size-small;

	.icon {
		font-size:4em;
		color: @snapshot-icon;
	}

	.snapshot-title {
		font-size: @font-size-h4;
		line-height: @font-size-h4;
	}
}
.snapshot.bubble {
	.icon {
		font-size:2.5em;
		padding-top:3px;
		color: @snapshot-icon-inverted;
	}
	.change-car-button-row {
		@media (@xs-only) {
			margin-top:0.5em;
		}
	}
	.btn {
		display:block;
		width:auto;
	}
	.snapshot-items {
		span {
			margin-left:1em;
		}
	}
}

.fieldset-column-side {
  .snapshot.row {
    margin-bottom: 20px;
    font-size: @font-size-base;

    p {
      margin-bottom: 5px;
    }

    .icon {
      font-size:2.5em;
      color: #8A8A8A;
    }
  }

  .sidebar-box {
    .snapshot.row {
      margin-bottom: 0;
      font-size: @font-size-small;
    }
  }
}