.coverLevelTabs {

	.clt-action {
		padding: 8px 0;
		margin-bottom: 8px;
		margin-right: 10px;
		cursor: pointer;
		font-size: 14px;
	  	line-height: 14px;
	  	border-radius: 8px;
		border: 1px solid @theme-tertiary;
		background-color: transparent;
		color: @theme-tertiary;

	}
	.active, .clt-action:hover {
		border: 1px solid @theme-secondary;
		background-color: transparent;
		color: @theme-secondary;
	}
	.clt-trip-filter {

		.checkbox {
			margin: 0;
			padding-left: 17px;
		}

		input, label {
			float:left;
		}

		label {
			margin-left: 5px;
		}
	}

	// xs styles
	@media(@xs-only) {
		& {
			margin-top: 0;
		}
		#currentTabsContainer {
			overflow-x: auto;
			width: 100%;
		}
		.clt-action {
			padding: 10px 5px;
			border: 1px solid #fff;
			border-bottom: none;
		  	font-size: 12px;
			/* not ideal */
			white-space: nowrap;
		}
	}
}