/*!
 * CTM-Platform v0.8.3
 * Copyright 2014 Compare The Market Pty Ltd
 * http://www.comparethemarket.com.au/
 */
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.modal-footer:after {
  clear: both;
}
body > div > header a.bottombar .btn-call {
  color: #ffffff;
}
body > div > header a.bottombar .btn-call:hover {
  color: #ffffff;
}
.compareBar .comparisonActive .btn.compareBtn {
  background-color: #00afd8;
  color: #ffffff;
}
.compareBar .comparisonActive .btn.compareBtn:hover,
.compareBar .comparisonActive .btn.compareBtn:focus {
  background-color: #007d9b;
  color: #ffffff;
  outline: 0;
}
.compareBar .comparisonActive .btn.compareBtn:active,
.compareBar .comparisonActive .btn.compareBtn.active {
  background-color: #064667;
  color: #ffffff;
}
.compareBar.active .comparisonActive .compareBtn.clearMode {
  background-color: #064667;
  color: #ffffff;
}
.compareBar.active .comparisonActive .compareBtn.clearMode:hover,
.compareBar.active .comparisonActive .compareBtn.clearMode:focus {
  background-color: #031f2d;
  color: #ffffff;
  outline: 0;
}
.compareBar.active .comparisonActive .compareBtn.clearMode:active,
.compareBar.active .comparisonActive .compareBtn.clearMode.active {
  background-color: #00afd8;
  color: #ffffff;
}
.sidebar .btn-download,
.bottombar .btn-download {
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
}
.bottombar .btn-call {
  background-color: #00afd8;
  color: #ffffff;
}
.bottombar .btn-call:hover,
.bottombar .btn-call:focus {
  background-color: #007d9b;
  color: #ffffff;
  outline: 0;
}
.bottombar .btn-call:active,
.bottombar .btn-call.active {
  background-color: #064667;
  color: #ffffff;
}
.car .slide-feature-back,
.car .slide-feature-emailquote,
.car .slide-feature-emailresults,
.car .slide-edit-quote-dropdown,
.car .slide-feature-filters,
.car .slide-feature-closeMoreInfo {
  display: none;
}
.car .slide-feature-back a,
.car .slide-feature-emailquote a,
.car .slide-feature-emailresults a,
.car .slide-edit-quote-dropdown a,
.car .slide-feature-filters a,
.car .slide-feature-closeMoreInfo a {
  white-space: nowrap;
}
.car .slide-feature-pagination {
  display: none;
}
.car[data-step="start"] .slide-feature-emailquote.privacyOptinChecked {
  display: block;
}
.car[data-step="options"] .slide-feature-back,
.car[data-step="details"] .slide-feature-back,
.car[data-step="address"] .slide-feature-back,
.car[data-step="options"] .slide-feature-emailquote.privacyOptinChecked,
.car[data-step="details"] .slide-feature-emailquote.privacyOptinChecked,
.car[data-step="address"] .slide-feature-emailquote.privacyOptinChecked {
  display: block;
}
.car[data-step="results"] .slide-feature-emailquote.privacyOptinChecked,
.car[data-step="results"] .slide-edit-quote-dropdown,
.car[data-step="results"] .slide-feature-filters {
  display: block;
}
.car[data-step="results"] .slide-feature-pagination {
  display: block;
}
.car.moreInfoVisible .slide-edit-quote-dropdown,
.car.moreInfoVisible .slide-feature-emailquote {
  display: none !important;
}
.car.moreInfoVisible .slide-feature-closeMoreInfo {
  display: block !important;
}
@media (min-width: 768px) {
  .resultsContainer.featuresMode.results-columns-sm-2 .featuresHeaders {
    width: 240px;
  }
  .resultsContainer.featuresMode.results-columns-sm-2 .resultsOverflow {
    width: 480px;
  }
  .resultsContainer.featuresMode.results-columns-sm-2 .result-row {
    width: 240px;
  }
  .resultsContainer.featuresMode.results-columns-sm-3 .featuresHeaders {
    width: 180px;
  }
  .resultsContainer.featuresMode.results-columns-sm-3 .resultsOverflow {
    width: 540px;
  }
  .resultsContainer.featuresMode.results-columns-sm-3 .result-row {
    width: 180px;
  }
  .resultsContainer.featuresMode.results-columns-sm-4 .featuresHeaders {
    width: 144px;
  }
  .resultsContainer.featuresMode.results-columns-sm-4 .resultsOverflow {
    width: 576px;
  }
  .resultsContainer.featuresMode.results-columns-sm-4 .result-row {
    width: 144px;
  }
  .resultsContainer.featuresMode.results-columns-sm-5 .featuresHeaders {
    width: 120px;
  }
  .resultsContainer.featuresMode.results-columns-sm-5 .resultsOverflow {
    width: 600px;
  }
  .resultsContainer.featuresMode.results-columns-sm-5 .result-row {
    width: 120px;
  }
}
@media (min-width: 992px) {
  .resultsContainer.featuresMode.results-columns-md-2 .featuresHeaders {
    width: 314px;
  }
  .resultsContainer.featuresMode.results-columns-md-2 .resultsOverflow {
    width: 626px;
  }
  .resultsContainer.featuresMode.results-columns-md-2 .result-row {
    width: 313px;
  }
  .resultsContainer.featuresMode.results-columns-md-3 .featuresHeaders {
    width: 235px;
  }
  .resultsContainer.featuresMode.results-columns-md-3 .resultsOverflow {
    width: 705px;
  }
  .resultsContainer.featuresMode.results-columns-md-3 .result-row {
    width: 235px;
  }
  .resultsContainer.featuresMode.results-columns-md-4 .featuresHeaders {
    width: 188px;
  }
  .resultsContainer.featuresMode.results-columns-md-4 .resultsOverflow {
    width: 752px;
  }
  .resultsContainer.featuresMode.results-columns-md-4 .result-row {
    width: 188px;
  }
  .resultsContainer.featuresMode.results-columns-md-5 .featuresHeaders {
    width: 160px;
  }
  .resultsContainer.featuresMode.results-columns-md-5 .resultsOverflow {
    width: 780px;
  }
  .resultsContainer.featuresMode.results-columns-md-5 .result-row {
    width: 156px;
  }
}
@media (min-width: 1200px) {
  .resultsContainer.featuresMode.results-columns-lg-2 .featuresHeaders {
    width: 380px;
  }
  .resultsContainer.featuresMode.results-columns-lg-2 .resultsOverflow {
    width: 760px;
  }
  .resultsContainer.featuresMode.results-columns-lg-2 .result-row {
    width: 380px;
  }
  .resultsContainer.featuresMode.results-columns-lg-3 .featuresHeaders {
    width: 285px;
  }
  .resultsContainer.featuresMode.results-columns-lg-3 .resultsOverflow {
    width: 855px;
  }
  .resultsContainer.featuresMode.results-columns-lg-3 .result-row {
    width: 285px;
  }
  .resultsContainer.featuresMode.results-columns-lg-4 .featuresHeaders {
    width: 228px;
  }
  .resultsContainer.featuresMode.results-columns-lg-4 .resultsOverflow {
    width: 912px;
  }
  .resultsContainer.featuresMode.results-columns-lg-4 .result-row {
    width: 228px;
  }
  .resultsContainer.featuresMode.results-columns-lg-5 .featuresHeaders {
    width: 190px;
  }
  .resultsContainer.featuresMode.results-columns-lg-5 .resultsOverflow {
    width: 950px;
  }
  .resultsContainer.featuresMode.results-columns-lg-5 .result-row {
    width: 190px;
  }
}
.nowrap {
  white-space: nowrap;
}
.journeyEngineSlide.resultsSlide {
  padding-top: 0;
}
@media (min-width: 768px) {
  .priceMode .result-row {
    margin-bottom: 30px;
  }
}
.result_unavailable_combined .companyLogo {
  margin-right: 20px;
  margin-bottom: 20px;
}
.result .frequency,
.result .excess {
  text-align: right;
}
.result .expandAllFeatures.active,
.result .collapseAllFeatures.active {
  color: #999999;
}
.result .specialConditions {
  color: #999999;
  margin-bottom: 0;
}
.result .promotion {
  color: #064667;
}
@media (min-width: 992px) {
  .result .promotion {
    text-align: right;
    margin-top: 20px;
  }
}
@media (max-width: 767px) {
  .result .promotion {
    margin: 0.5em 0;
  }
}
.result .monthlyBreakdown {
  padding-top: 3px;
}
.result small {
  font-style: italic;
}
.offer-terms-modal .modal-header .heading,
.offer-terms-modal .modal-body .heading {
  margin-left: 105px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.frequencyAmount {
  color: #00afd8;
  font-size: 34px;
  line-height: 34px;
}
.excessAmount,
.quoteNumber {
  font-size: 24px;
  line-height: 24px;
  margin-top: 10px;
}
.quoteNumberTitle,
.frequencyTitle,
.excessTitle {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  white-space: nowrap;
}
.frequency.monthly .monthlyBreakdown {
  font-size: 12px;
  line-height: 12px;
}
.priceMode .frequency.monthly .monthlyBreakdown {
  clear: both;
}
.frequency.monthly .monthlyBreakdown .totalPayment {
  text-transform: uppercase;
}
.offerTerms {
  text-decoration: underline;
  white-space: pre;
}
.promotion .icon {
  line-height: inherit;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .result .frequencyAmount,
  .result .excessAmount,
  .result .frequencyTitle,
  .result .excessTitle {
    float: none;
    width: auto;
  }
  .result .frequencyTitle,
  .result .excessTitle {
    margin-top: 0;
    text-align: right;
  }
  .result .btn-more-info {
    margin-top: 10px;
  }
  .offer-terms-modal .modal-header .heading,
  .offer-terms-modal .modal-body .heading,
  .offer-terms-modal .modal-header h2,
  .offer-terms-modal .modal-body h2 {
    margin-left: 105px;
    margin-top: 5px;
  }
}
@media (min-width: 480px) {
  .frequencyAmount,
  .excessAmount {
    float: left;
    width: 60%;
  }
  .frequencyTitle,
  .excessTitle {
    float: right;
    width: 38%;
    margin-top: 19px;
    margin-bottom: 3px;
    text-align: left;
    color: #999999;
  }
  .btn-more-info {
    margin-top: 0;
  }
  .priceMode .priceMode h2,
  .priceMode .priceMode .description,
  .priceMode .priceMode .promotion,
  .priceMode .priceMode .specialConditions {
    margin-left: 95px;
  }
}
@media (max-width: 767px) {
  .result .frequency,
  .result .excess {
    text-align: left;
  }
  .frequencyAmount,
  .excessAmount,
  .frequencyTitle,
  .excessTitle {
    float: none;
    width: auto;
    display: inline-block;
  }
  .priceMode .priceMode .promotion,
  .priceMode .priceMode .specialConditions {
    margin-left: 0;
  }
  .offer-terms-modal .modal-header .heading,
  .offer-terms-modal .modal-body .heading,
  .offer-terms-modal .modal-header h2,
  .offer-terms-modal .modal-body h2 {
    margin-left: 105px;
    margin-top: 25px;
    margin-bottom: 40px;
  }
}
@media (max-width: 480px) {
  .offer-terms-modal .modal-header h2,
  .offer-terms-modal .modal-body h2 {
    margin-top: 15px !important;
    margin-bottom: 30px !important;
  }
}
.featuresMode {
  margin-bottom: 30px;
}
.featuresMode .compare-toggle-wrapper {
  margin-bottom: 0;
}
.featuresMode .controlContainer {
  position: relative;
  height: 100%;
}
.featuresMode .controlContainer .expand-collapse-toggle {
  text-transform: uppercase;
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.featuresMode .productSummary p {
  clear: both;
}
.featuresMode .productSummary .btn-more-info {
  clear: both;
  width: 85%;
  margin: 12px auto 5px;
}
@media (min-width: 768px) {
  .featuresMode .productSummary .btn-more-info {
    position: absolute;
    bottom: 3px;
    left: 8%;
    width: 84%;
  }
}
.featuresMode .productSummary .frequency {
  padding-top: 15px;
  margin-left: 80px;
}
.featuresMode .productSummary .frequency.annual {
  margin-bottom: 13px;
}
.featuresMode .icon-tick {
  color: #00afd8;
}
.featuresMode .icon-cross {
  color: #ff5f5f;
}
.featuresMode .frequencyAmount,
.featuresMode .excessAmount,
.featuresMode .frequencyTitle,
.featuresMode .excessTitle {
  float: none;
  width: auto;
  margin-top: 0;
  text-align: right;
}
.featuresMode .result,
.featuresMode .productSummary {
  height: 182px;
}
@media (max-width: 767px) {
  .featuresMode .result,
  .featuresMode .productSummary {
    height: 150px;
  }
  .featuresMode .productSummary {
    padding: 24px 12px;
  }
  .featuresMode .productSummary h2 {
    margin-left: 90px;
    line-height: 0.9;
  }
  .featuresMode .productSummary .btn-more-info {
    clear: none;
    width: auto;
    margin: 12px 12px 0 90px;
  }
  .featuresMode .productSummary .content {
    margin: 0 -12px;
  }
  .featuresMode .labelInColumn .content {
    color: #000000;
    background: #efefef;
  }
  .featuresMode .fakeFeatures .labelInColumn .content {
    color: #fff;
    background: #00afd8;
  }
  .featuresMode .inverseRow.labelInColumn .content {
    color: #ffffff;
    background: #064667;
  }
  .featuresMode .excessFeature.labelInColumn .content {
    color: #000000;
    background: #c7eaf3;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .featuresMode .productSummary .frequency {
    padding-top: 10px;
    margin-left: 65px;
  }
  .featuresMode .productSummary .frequency.annual {
    margin-bottom: 28px;
  }
}
@media (min-width: 992px) {
  .featuresMode .monthlyBreakdown .totalPayment {
    display: block;
  }
}
@media (max-width: 520px) {
  .priceMode .frequencyTitle,
  .priceMode .excessTitle {
    display: block;
    margin-top: 0;
  }
}
.companyLogo.logo_BUDD {
  background-image: url("../../../common/images/logos/car/budget.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_BUDD {
    background-image: url("../../../common/images/logos/car/budget@2x.png");
    background-size: 60px 60px;
  }
}
.companyLogo.logo_AI {
  background-image: url("../../../common/images/logos/car/ai.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_AI {
    background-image: url("../../../common/images/logos/car/ai@2x.png");
    background-size: 60px 60px;
  }
}
.companyLogo.logo_EXPO {
  background-image: url("../../../common/images/logos/car/auspost.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_EXPO {
    background-image: url("../../../common/images/logos/car/auspost@2x.png");
    background-size: 60px 60px;
  }
}
.companyLogo.logo_VIRG {
  background-image: url("../../../common/images/logos/car/virgin.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_VIRG {
    background-image: url("../../../common/images/logos/car/virgin@2x.png");
    background-size: 60px 60px;
  }
}
.companyLogo.logo_REIN {
  background-image: url("../../../common/images/logos/car/real.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_REIN {
    background-image: url("../../../common/images/logos/car/real@2x.png");
    background-size: 60px 60px;
  }
}
.companyLogo.logo_1FOW {
  background-image: url("../../../common/images/logos/car/1stforwomen.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_1FOW {
    background-image: url("../../../common/images/logos/car/1stforwomen@2x.png");
    background-size: 60px 60px;
  }
}
.companyLogo.logo_EXDD {
  background-image: url("../../../common/images/logos/car/dodo.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_EXDD {
    background-image: url("../../../common/images/logos/car/dodo@2x.png");
    background-size: 60px 60px;
  }
}
.companyLogo.logo_WOOL {
  background-image: url("../../../common/images/logos/car/woolworths.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_WOOL {
    background-image: url("../../../common/images/logos/car/woolworths@2x.png");
    background-size: 60px 60px;
  }
}
.companyLogo.logo_IECO {
  background-image: url("../../../common/images/logos/car/ibuyeco.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_IECO {
    background-image: url("../../../common/images/logos/car/ibuyeco@2x.png");
    background-size: 60px 60px;
  }
}
.companyLogo.logo_OZIC {
  background-image: url("../../../common/images/logos/car/ozicare.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_OZIC {
    background-image: url("../../../common/images/logos/car/ozicare@2x.png");
    background-size: 60px 60px;
  }
}
/* Not retina, will need to update once this is live */
.companyLogo.logo_CBCK {
  background-image: url("../../../common/images/logos/car/cashback.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_CBCK {
    background-image: url("../../../common/images/logos/car/cashback.png");
    background-size: 60px 60px;
  }
}
/* Not retina, will need to update once this is live */
.companyLogo.logo_RETI {
  background-image: url("../../../common/images/logos/car/retirease.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_RETI {
    background-image: url("../../../common/images/logos/car/retirease.png");
    background-size: 60px 60px;
  }
}
.result_unavailable_combined {
  text-align: center;
}
.featuresMode .result_unavailable_combined .result,
.featuresMode .result_unavailable_combined .productSummary {
  height: auto;
}
.result_unavailable_combined.result-row {
  background: #fff;
  border: none !important;
  padding: 0;
}
.result_unavailable_combined.result-row h2 {
  color: #064667;
  font-size: 20px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .result_unavailable_combined.result-row h2 {
    margin: 30px 15px;
  }
}
.result_unavailable_combined.result-row .logos {
  background: #efefef;
  padding: 15px;
  border: 1px solid #e0e0e0;
}
.v2 .result_unavailable_combined .companyLogo {
  float: none;
  display: inline-block;
  background-color: transparent;
}
.bridgingContainer {
  margin-bottom: 30px;
  display: none;
}
@media (min-width: 768px) {
  .bridgingContainer {
    margin-top: 35px;
  }
  .bridgingContainer .paragraphedContent {
    border: 1px solid #064667;
  }
}
.bridgingContainer .no-padding {
  padding: 0;
}
.bridgingContainer .modal-closebar {
  top: 16px;
  z-index: 425;
}
@media (max-width: 767px) {
  .more-info-content .modal-closebar {
    display: none;
  }
}
.push-top-15 {
  margin-top: 15px;
}
.push-top-10 {
  margin-top: 10px;
}
.quoteNumber {
  color: #00afd8;
}
@media (min-width: 768px) {
  .quoteNumber {
    float: right;
  }
}
@media (min-width: 992px) {
  .quoteNumber {
    margin: 18px 0 0 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .quoteNumberTitle {
    float: right;
  }
}
/** Common between the two **/
.more-info-content .frequencyAmount,
.call-modal .frequencyAmount,
.more-info-content .excessAmount,
.call-modal .excessAmount,
.more-info-content .frequencyTitle,
.call-modal .frequencyTitle,
.more-info-content .excessTitle,
.call-modal .excessTitle {
  float: none;
  width: auto;
  margin: 0;
}
@media (min-width: 992px) {
  .more-info-content .frequencyAmount,
  .call-modal .frequencyAmount,
  .more-info-content .excessAmount,
  .call-modal .excessAmount,
  .more-info-content .frequencyTitle,
  .call-modal .frequencyTitle,
  .more-info-content .excessTitle,
  .call-modal .excessTitle {
    text-align: right;
  }
}
.more-info-content .frequencyTitle,
.call-modal .frequencyTitle,
.more-info-content .excessTitle,
.call-modal .excessTitle,
.more-info-content .quoteNumberTitle,
.call-modal .quoteNumberTitle {
  text-align: right;
  display: block;
}
.more-info-content .center-premium,
.call-modal .center-premium {
  margin: 0 auto;
  width: 45%;
}
.more-info-content .productName,
.call-modal .productName {
  margin: 20px 0;
}
@media (max-width: 767px) {
  .more-info-content .productName,
  .call-modal .productName {
    margin-top: 25px;
  }
}
@media (max-width: 480px) {
  .more-info-content .productName,
  .call-modal .productName {
    margin-top: 15px !important;
  }
}
.more-info-content .paragraphedContent,
.call-modal .paragraphedContent {
  padding: 15px;
}
.more-info-content {
  /* Right Side - Displayed on Med+ Only */
  /* end more-info-content */
}
.more-info-content > .row {
  margin: 0;
}
.more-info-content .btn-download {
  margin-right: 15px;
  margin-top: 10px;
}
.more-info-content .btn-sm {
  text-transform: uppercase;
}
@media (min-width: 0) {
  .more-info-content .excessAmount {
    margin-top: 10px;
  }
}
.more-info-content .frequency,
.more-info-content .excess {
  text-align: right;
}
.more-info-content .totalPayment {
  display: block;
}
@media (min-width: 992px) {
  .more-info-content .quoteNumberTitle {
    float: left;
    margin-top: 28px;
  }
}
@media (max-width: 767px) {
  .more-info-content .paragraphedContent {
    padding-bottom: 0;
  }
  .more-info-content .contentRow {
    background-color: #e6e6e6;
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #222222;
  }
  .more-info-content .contentRow .promotion {
    color: #064667;
  }
  .more-info-content .contentRow h5 {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.more-info-content ul {
  padding-left: 0;
  list-style: none;
}
.more-info-content li {
  padding: 0 0 5px 20px;
  position: relative;
}
.more-info-content li .icon {
  position: absolute;
  margin: 2px 0 0 -10px;
}
.more-info-content .moreInfoRightColumn .premiumContainer {
  float: right;
}
.more-info-content .moreInfoRightColumn .promotionOffer {
  clear: left;
  margin-top: 60px;
}
.call-modal {
  /*.control-label {
		@media(min-width: @screen-sm) {
			padding: 0;
		}
		text-align:right;
	}*/
}
.call-modal .modal-body {
  margin-right: 0;
  padding: 15px 15px 0 15px;
}
.call-modal .call-ph-num,
.call-modal .call-ph-num a:link {
  color: #00afd8;
  font-size: 34px;
  text-decoration: none;
}
.call-modal .sidebar .offer-terms {
  display: inline-block;
}
.call-modal .quoteNumber {
  margin: 0;
}
.call-modal .quoteNumberTitle {
  margin-top: 10px;
}
.call-modal .border-top {
  border-top: 1px solid #064667;
}
.call-modal .prefer-callback-text {
  text-align: right;
}
@media (max-width: 767px) {
  .call-modal .prefer-callback-text {
    text-align: center;
  }
}
.call-modal .callback-details-title {
  font-size: 16px;
}
/** PROVIDER OVERRIDES **/
.more-info-content.BUDD .onlineOffer,
.call-modal.BUDD .onlineOffer,
.more-info-content.BUDD .offlineDiscount,
.call-modal.BUDD .offlineDiscount {
  display: none;
}
.car .edit-details-wrapper ul.primary-row-details li:first-child {
  margin-left: 0;
  margin-top: 0;
}
@media (min-width: 1200px) {
  .car .edit-details-wrapper ul.primary-row-details li.vehicle-details-title {
    font-size: 21px;
    margin-top: 15px;
  }
}
.car .edit-details-wrapper ul.primary-row-details .vehicle-details-title {
  font-size: 14px;
  margin-top: 5px;
}
.car .edit-details-wrapper .panel.accordion-panel.expired-panel {
  display: none;
}
.car #quote_vehicle_factoryOptionsButton,
.car #quote_vehicle_accessoriesButton {
  display: none;
}
.car #quote_vehicle_factoryOptionsDialog ul,
.car #quote_vehicle_accessoriesDialog ul,
.car #quote_vehicle_factoryOptionsSelections ul,
.car #quote_vehicle_accessoriesSelections ul {
  list-style-type: none;
  padding: 0;
}
.car #quote_vehicle_factoryOptionsDialog li,
.car #quote_vehicle_accessoriesDialog li,
.car #quote_vehicle_factoryOptionsSelections li,
.car #quote_vehicle_accessoriesSelections li {
  display: inline-block;
  padding: 0 10px 5px;
  width: 50%;
}
.car #quote_vehicle_factoryOptionsDialog li .checkbox,
.car #quote_vehicle_accessoriesDialog li .checkbox,
.car #quote_vehicle_factoryOptionsSelections li .checkbox,
.car #quote_vehicle_accessoriesSelections li .checkbox {
  margin-top: 0px;
}
.car #quote_vehicle_factoryOptionsSelections li,
.car #quote_vehicle_accessoriesSelections li {
  width: 100%;
}
.car #quote_vehicle_accessoriesDialog span {
  display: block;
}
.car #quote_vehicle_accessoriesDialog .quote-optional-accessories .row {
  margin-left: 0;
  margin-right: 0;
}
.car #quote_vehicle_accessoriesDialog .quote-optional-accessories .inner-form > div {
  float: left;
  margin-right: 20px;
}
.car #quote_vehicle_accessoriesDialog .quote-optional-accessories .inner-form .ac-type {
  width: 235px;
}
.car #quote_vehicle_accessoriesDialog .quote-optional-accessories .inner-form .ac-included {
  width: 200px;
}
.car #quote_vehicle_accessoriesDialog .quote-optional-accessories .inner-form .ac-price {
  width: 180px;
  display: none;
}
.car #quote_vehicle_accessoriesDialog .quote-optional-accessories .inner-form .ac-add {
  display: none;
}
.car #quote_vehicle_accessoriesDialog .quote-optional-accessories .inner-form .ac-clear {
  display: none;
  margin-right: 0px;
}
.car #quote_vehicle_accessoriesDialog .quote-optional-accessories .inner-form .ac-add,
.car #quote_vehicle_accessoriesDialog .quote-optional-accessories .inner-form .ac-clear {
  margin-top: 1.7em;
}
.car #quote_vehicle_accessoriesDialog .added-items li,
.car #quote_vehicle_accessoriesSelections .added-items li,
.car #quote_vehicle_factoryOptionsSelections .added-items li {
  padding-left: 0px;
}
.car #quote_vehicle_accessoriesDialog .added-items li span,
.car #quote_vehicle_accessoriesSelections .added-items li span,
.car #quote_vehicle_factoryOptionsSelections .added-items li span,
.car #quote_vehicle_accessoriesDialog .added-items li a,
.car #quote_vehicle_accessoriesSelections .added-items li a,
.car #quote_vehicle_factoryOptionsSelections .added-items li a {
  float: right;
}
.car #quote_vehicle_accessoriesDialog .added-items li span:first-child,
.car #quote_vehicle_accessoriesSelections .added-items li span:first-child,
.car #quote_vehicle_factoryOptionsSelections .added-items li span:first-child {
  float: left;
}
.car #quote_vehicle_accessoriesDialog .added-items li a,
.car #quote_vehicle_accessoriesSelections .added-items li a,
.car #quote_vehicle_factoryOptionsSelections .added-items li a {
  color: red;
  margin-left: 2em;
  margin-top: 0.15em;
}
.car #quote_vehicle_accessoriesDialog .added-items li a.icon-cross:hover,
.car #quote_vehicle_accessoriesSelections .added-items li a.icon-cross:hover,
.car #quote_vehicle_factoryOptionsSelections .added-items li a.icon-cross:hover {
  text-decoration: none;
}
.lt-ie9 .car #quote_vehicle_factoryOptionsDialog li,
.lt-ie9 .car #quote_vehicle_accessoriesDialog li {
  width: 49%;
}
@media (max-width: 767px) {
  .car #quote_vehicle_factoryOptionsDialog li,
  .car #quote_vehicle_accessoriesDialog li {
    width: 100%;
  }
  .car #quote_vehicle_factoryOptionsDialog .quote-standard-accessories li,
  .car #quote_vehicle_accessoriesDialog .quote-standard-accessories li {
    text-align: center;
  }
  .car #quote_vehicle_accessoriesDialog .quote-optional-accessories .inner-form > div {
    float: left;
    margin-right: 0;
  }
  .car #quote_vehicle_accessoriesDialog .quote-optional-accessories .inner-form .ac-type {
    width: 100%;
  }
  .car #quote_vehicle_accessoriesDialog .quote-optional-accessories .inner-form .ac-included {
    width: 100%;
  }
  .car #quote_vehicle_accessoriesDialog .quote-optional-accessories .inner-form .ac-price {
    width: 100%;
  }
  .car #quote_vehicle_accessoriesDialog .quote-optional-accessories .inner-form .ac-add {
    display: none;
    width: 100%;
  }
  .car #quote_vehicle_accessoriesDialog .quote-optional-accessories .inner-form .ac-add button {
    width: 100%;
  }
  .car #quote_vehicle_accessoriesDialog .quote-optional-accessories .inner-form .ac-clear {
    display: none;
    width: 100%;
  }
  .car #quote_vehicle_accessoriesDialog .quote-optional-accessories .inner-form .ac-clear button {
    width: 100%;
  }
}
.car #quote_riskAddressFieldSet .content .fieldrow:first-child {
  display: none;
}
.car #quote_contactFieldSet .quote_accept_terms ol {
  padding-left: 15px;
}
.car .fieldset-column-side fieldset {
  margin-bottom: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .car #navbar-filter li.dropdown > a {
    margin-right: 0;
  }
}
.car #quote_vehicle_selection .spinner {
  margin-right: 40px;
}
.car #quote_drivers_youngToggleArea.show_N {
  display: none;
}
.car #quote_options_commencementDateFieldSet {
  margin-bottom: 0;
}
.car #promoImageContainer {
  padding-top: 25px;
  padding-bottom: 20px;
}
.car #promoPreCheckboxContainer {
  padding-top: 20px;
}
.car .carPromoImage {
  background-repeat: no-repeat;
  padding: 0;
  display: block;
  width: 300px;
  height: 160px;
  background-image: url("../competition/car-$1000-offer.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .car .carPromoImage {
    background-image: url("../competition/car-$1000-offer@2x.png");
    background-size: 300px 160px;
  }
}
.car .input-group-addon {
  cursor: pointer;
}
.car #quote_options_commencementDateFieldSet .select .input-group-addon {
  cursor: pointer;
  display: none;
}
@media (min-width: 768px) and (max-width: 991px) {
  .car #quote_options_commencementDateFieldSet .select .input-group-addon {
    display: block;
  }
}
@media (max-width: 767px) {
  .car #quote_options_commencementDateFieldSet .select .input-group-addon {
    display: block;
  }
}
.featuresMode .compare-basket {
  height: 182px;
}
.featuresMode .compare-basket .btn-features-compare {
  position: absolute;
  bottom: 7px;
  left: 8%;
  width: 84%;
}
.priceMode .compare-basket .companyLogo {
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  background-color: #fff;
  margin-right: 10px;
}
@media (min-width: 992px) {
  .car .modal-dialog.edit-details-modal {
    width: 970px;
  }
  .car .expired-panel #modal-commencement-date-get-quotes {
    width: 75%;
  }
}
@media (min-width: 1200px) {
  .car .modal-dialog.edit-details-modal {
    width: 1170px;
  }
}
.car .edit-details-wrapper.expired-quote p.edit-details-intro-text {
  display: none;
}
.car .edit-details-wrapper.expired-quote .panel.accordion-panel.expired-panel {
  margin-top: 0;
  display: block;
}
.car .edit-details-wrapper.expired-quote .panel.accordion-panel.expired-panel .column p {
  font-weight: bold;
  text-align: right;
}
@media (min-width: 768px) {
  .car .edit-details-wrapper.expired-quote {
    padding: 15px 0 0 0;
  }
  .car .edit-details-wrapper.expired-quote #edit-details-panel-group {
    border-top: 1px solid #6b6b6b;
    background-color: #efefef;
    padding-bottom: 15px;
    margin-top: 9px;
  }
}
@media (min-width: 1200px) {
  .car .edit-details-wrapper.expired-quote #edit-details-panel-group {
    padding-top: 9px;
  }
  .car .edit-details-wrapper.expired-quote .icon-arrow-right {
    font-size: 14px;
    color: #ffffff;
    margin: 0;
    height: auto;
  }
}
@media (max-width: 767px) {
  .car .edit-details-wrapper.expired-quote .expired-panel .column p {
    text-align: left !important;
  }
}
.journeyEngineLoader {
  min-height: 500px;
}
.journeyEngineLoader .loadingQuoteText {
  font-family: 'SourceSansProLight';
  font-size: 18px;
}
.journeyEngineLoader .loadingQuoteText .quoteContainer {
  padding-top: 30px;
}
.journeyEngineLoader .loadingQuoteText .quoteContainer .icon-quote-start,
.journeyEngineLoader .loadingQuoteText .quoteContainer .icon-quote-end {
  color: #efefef;
  font-size: 40px;
  float: left;
  width: 10%;
}
.journeyEngineLoader .loadingQuoteText .quoteContainer .quote {
  padding-top: 10px;
  float: left;
  width: 80%;
}
.journeyEngineLoader .loadingQuoteText .quoteContainer .quoteAuthor {
  font-family: 'SourceSansProLight';
  float: left;
  width: 100%;
  padding-top: 15px;
}
.journeyEngineLoader .loadingDisclaimerText {
  margin: 50px auto 0 auto;
}
@media (max-width: 767px) {
  .journeyEngineLoader {
    padding-top: 1.5em;
  }
}
