body {
  &[data-step=results] {
    .navbar {
      .inc-gst {
        display: none;
      }
    }

    &.priceMode {
      .navbar {
        .inc-gst {
          display: block;
          line-height: @navbar-height;
        }
      }
    }
  }

  .v6 {
    .inc-gst {
      color: @gray-light;
      text-align: center;
    }
  }
}

.priceMode.v6 {
  .result-row {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid @results-border-color;
    margin-bottom: 15px;

    .productTitle {
      .transition(color 0.3s ease-in-out);
    }

    &.compared {
      .transition(border-color 0.3s ease-in-out);
      border-color: @theme-secondary;

      .productTitle {
        color: @theme-secondary;
      }
    }

    @media (@xs-only) {
      padding: @results-price-row-padding / 2;

      // Product is available
      &[data-available="Y"] {
        cursor: default;

        .resultInsert.priceMode {
          padding-right: 0;

          &:after {
            content: "";
          }
        }
      }
    }
  }

  .companyLogo {
    float: none;

    @media (max-width: @screen-xs) {
      margin-left: 7px;
    }

    @media (@sm) {
      margin: 0 auto;
    }
  }

  .compare-toggle-wrapper {
    display: none;

    @media (@md) {
      display: block;

      .compare-tick {
        + label {
          margin-left: -15px;
        }

        .lt-ie9 &.checked + label + label,
        &:checked + label + label {
          color: @compare-label-selected-color;
          &:before {
            content: "Selected";
            color: @theme-secondary;
          }
        }

        .lt-ie9 &.checked,
        &:checked {
          & + label:before {
            background-color: @compare-tick-selected-color;
            border-radius: 100%;
            color: #fff;
            content: "\e931";
            padding: 0.35em;
            top: 2px;
            left: -2px;
          }
          & + label:after {
            content: "";
          }
        }
        .lt-ie9 &.checked {
          & + label:before {
            background-color: @compare-tick-selected-color;
            border-radius: 100%;
            color: #fff;
            content: "\e931";
            padding: 0.35em;
            top: 2px;
            left: -2px;
          }
          & + label:after {
            content: "";
          }
        }
      }

      .compare-label {
        top: -16px;
        left: 28px;
      }
    }
  }

  .right-col {
    @media (@md) {
      padding-left: 30px;
    }

    .call-actions-buttons {
      display: none;

      @media (@md) {
        display: block;
        float: left;
        margin: 10px auto;
        width: 30%;

        .btnContainer {
          float: left;
          width: 45%;
          margin-right: 5%;
        }
      }
    }
  }

  .call-actions-buttons {
    width: 75px;

    @media (@sm) {
      width: 100%;
    }

    .btnContainer {
      margin: 5px auto;
      a {
        padding: 5px 0;
      }
    }
  }

  h2 {
    color: @theme-dark;
    font-family: @font-family-theme-regular;

    @media (@xs-only) {
      font-size: 18px;
    }
  }

  a:not(.btn) {
    font-size: @font-size-small;
  }

  small {
    font-style: normal;
  }

  .frequencyTitle,
  .excessTitle,
  .frequency.monthly .monthlyBreakdown .totalPayment {
    text-transform: none;
  }

  .title-download-special-container {
    margin-bottom: 10px;
  }

  .excess-price-container {
    &:extend(.clearfix all);

    @media (@sm) {
      margin-left: -15px;
    }

    @media (@md) {
      float: left;
      width: 55%;
    }
  }

  .excess-container {
    &:extend(.clearfix all);
    float: left;
    padding-top: 5px;
    width: 60%;

    @media (@md) {
      width: 50%;
    }

    .excess {
      text-align: center;

      @media (@xs-only) {
        float: left;
        width: 39%;
      }

      div {
        float: none;
        width: auto;
      }

      .excessAmount {
        margin-top: 0;

        @media (@md) {
          font-size: 22px;
        }
      }

      .excessTitle {
        margin-top: 0;

        @media (@sm) {
          text-align: center;
        }
      }
    }

    a {
      display: block;
      line-height: 14px;

      @media (@xs-only) {
        font-size: 11px;
        float: right;
        line-height: 12px;
        width: 60%;
      }

      @media (@sm) {
        text-align: center;
      }
    }
  }

  .price-container {
    float: right;
    width: 40%;

    @media (@md) {
      width: 50%;
    }

    .frequency {
      text-align: center;

      &.monthly {
        .monthlyBreakdown {
          color: @gray-slight-dark;
          line-height: 14px;
        }
      }
    }

    .frequencyAmount,
    .frequencyTitle {
      float: none;
      margin-top: 0;
      text-align: center;
      width: 100%;
    }

    .frequencyAmount {
      @media (@lg) {
        font-size: 40px;
      }
    }
  }

  .promotion-cta-container {
    &:extend(.clearfix all);
    margin-top: 10px;
    margin-bottom: 10px;

    @media (@md) {
      float: right;
      width: 70%;
    }
  }

  .promotion-container {
    @media (@xs-sm-only) {
      .centerChildElement(55px);
      float: left;
      width: 59%;
    }

    @media (@md) {
      float: right;
    }

    .promotion {
      background-color: fade(@theme-accent-4, 10%);
      border-radius: @alert-border-radius;
      color: @theme-accent-4;
      font-size: @font-size-small;
      margin: 0;
      padding: 5px;
      width: 100%;

      @media (@sm) {
        padding: 10px;
        font-size: @font-size-base;
      }
    }
  }

  .cta-container {
    float: right;
    width: 39%;

    @media (@xs-sm-only) {
      .centerChildElement(55px);
    }

    @media (@md) {
      width: 45%;
    }

    .btn-cta {
      @media (@xs-only) {
        font-size: @font-size-base;
      }
    }
  }
}