/*!
 * CTM-Platform v0.8.3
 * Copyright 2015 Compare The Market Pty Ltd
 * http://www.comparethemarket.com.au/
 */
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.modal-footer:after {
  clear: both;
}
body > div > header a.bottombar .btn-call {
  color: #ffffff;
}
body > div > header a.bottombar .btn-call:hover {
  color: #ffffff;
}
.compareBar .comparisonActive .btn.compareBtn {
  background-color: #ab1d21;
  color: #ffffff;
}
.compareBar .comparisonActive .btn.compareBtn:hover,
.compareBar .comparisonActive .btn.compareBtn:focus {
  background-color: #771417;
  color: #ffffff;
  outline: 0;
}
.compareBar .comparisonActive .btn.compareBtn:active,
.compareBar .comparisonActive .btn.compareBtn.active {
  background-color: #333333;
  color: #ffffff;
}
.compareBar.active .comparisonActive .compareBtn.clearMode,
.filters-component .btn-save {
  background-color: #333333;
  color: #ffffff;
}
.compareBar.active .comparisonActive .compareBtn.clearMode:hover,
.compareBar.active .comparisonActive .compareBtn.clearMode:focus,
.filters-component .btn-save:hover,
.filters-component .btn-save:focus {
  background-color: #141414;
  color: #ffffff;
  outline: 0;
}
.compareBar.active .comparisonActive .compareBtn.clearMode:active,
.compareBar.active .comparisonActive .compareBtn.clearMode.active,
.filters-component .btn-save:active,
.filters-component .btn-save.active {
  background-color: #333333;
  color: #ffffff;
}
.sidebar .btn-download,
.bottombar .btn-download {
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
}
.bottombar .btn-call {
  background-color: #333333;
  color: #ffffff;
}
.bottombar .btn-call:hover,
.bottombar .btn-call:focus {
  background-color: #141414;
  color: #ffffff;
  outline: 0;
}
.bottombar .btn-call:active,
.bottombar .btn-call.active {
  background-color: #333333;
  color: #ffffff;
}
.unsubscribeForm #confirmation-compare-options h3 {
  text-align: center;
  margin-bottom: 20px;
}
.unsubscribeForm #confirmation-compare-options a .icon {
  background-color: transparent;
  color: #333333;
  font-size: 58px;
}
.unsubscribeForm #confirmation-compare-options a:hover .icon {
  color: #333333;
  background-color: transparent;
}
.unsubscribeForm h2 {
  text-align: center;
}
.roundedContainer {
  padding: 15px 30px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .roundedContainer {
    border-radius: 15px;
    border: 1px solid #ccc;
  }
}
.unsubscribeButtonContainer {
  margin: 20px 0 40px 0;
}
@media (max-width: 767px) {
  .unsubscribeButtonContainer > div {
    margin-top: 10px;
  }
}
