.carlmi, .homelmi {
  .compare-prices-cta {
    text-align: right;
  }

  @media (@xs-only) {
    .morePromptContainer {
      z-index: 395;
    }

    // navbar
    ul.navbar-nav li {
      span {
        h4, p {
          color: white;
        }
      }

      a.getQuote {
        float:right;
        padding-right:10px;
      }
    }
  }
}