.carlmi, .homelmi {

  // Add your slide feature here to be hidden by default
  .slide-feature-back
  {
    .slide-feature-hidden();

    // Necessary to make use of the journeyEngine slide-feature styles that animate max-width.
    a {
      white-space: nowrap;
    }
  }

  .slide-feature-pagination {
    display: none;
  }

  // Add your slide feature to the particular step that it needs to be visible
  &[data-step="results"] {
    //put the sorting/filtering bar here to be shown once it exists.
    .slide-feature-back {
      .slide-feature-is-visible();
    }

    .slide-feature-pagination {
      display: block;
    }

  }
}