// Custom health v4 coupon styles for the 2017 peak.

.coupon-banner-container {
	.coupon-banner-v4 {
		border-top: 4px solid @theme-accent-4;
		width: 100%;
		text-align: center;
		background-color: @gray-lighter;
		display: block;
		overflow:hidden;

		@media (@sm) {
			padding: 10px 0;
		}

		.coupon-icon-col {
			text-align: center;
			color: @theme-accent-4;
			font-size: 48px;
		}

		.coupon-text-col {
			padding: 4px 0 4px 5px;

			@media(@xs-only) {
				padding: 10px 15px;
			}

			.coupon-heading {
				color: @theme-accent-4;
				font-size: 16px;
				margin-bottom: 2px;
				text-align: left;

				@media(@xs-only) {
					font-size: 14px
				}
			}

			.coupon-para {
				text-align: left;

				@media(@xs-only) {
					font-size: 12px
				}
			}
		}

		.link {
			color: @link-color;
		}
	}

	// Shown on the results page under the CTA for each product.
	.coupon-pyrr-banner-hidden, .coupon-pyrr-banner-dynamic-hidden {
		display: none;
	}
	.coupon-pyrr-banner-dynamic-price {
		display: inline-block;
	}
}

.coupon-tile-container {
	margin-left: 15px;
	margin-right: 15px;

	.row {
		border: 1px solid @gray-light;
		border-top: 4px solid @theme-accent-4;
		margin-bottom: 15px;
		padding: 15px;

		@media (@sm) {
			padding: 15px 0;
		}

		.coupon-icon-col {
			color: @theme-accent-4;
			font-size: 36px;
		}

		.coupon-text-col {
			@media (@md-only) {
				padding-left: 19px;
			}

			.coupon-heading {
				color: @theme-accent-4;
				font-size: 16px;
				margin-bottom: 5px;
			}
		}
	}
}

// Hide the banner on various steps based off the class on the top element in the contentBanner field from the coupon database.
body[data-step=start] .hideCouponBannerOnStart,
body[data-step=benefits] .hideCouponBannerOnBenefits,
body[data-step=contact] .hideCouponBannerOnContact,
body[data-step=results] .hideCouponBannerOnResults,
body[data-step=apply] .hideCouponBannerOnApply,
body[data-step=payment] .hideCouponBannerOnPayment {
	display: none;
}