.form-horizontal {
  @media (min-width: @screen-sm-min) {
    .control-label {
      display: block;
    }
  }
}

.fieldrow {
  .help-icon-with-label {
    font-size: @font-size-base;

    a {
      line-height: @line-height-computed;
    }
  }
}

@media (max-width: @screen-xs) {
  .health {
    &[data-step="contact"] {
      #health-contact-fieldset {
        margin-bottom: 10px;

        & .form-group {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
  }
}

.abd-support-text {
  width: 65%;
  margin-left: 35%;
  p {
    line-height: 1.8 !important;
    .abd-badge {
      @media (max-width: @screen-xs) {
        @supports (-webkit-touch-callout: none) {
          max-width: 200px;
        }
        @supports not (-webkit-touch-callout: none) {
          max-width: 182px;
        }
      }
      background-color: #FFFFFF;
      color: #666666;
      border-radius: 20px;
      border: 1px solid #666666;
      font-size: 14px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      min-height: 25px;
      font-weight: bold;
      min-width: 130px;
      max-width: 210px;
      width: 80%;
    }
  }
}

#single_18_to_30, #single_has_abd_policy{
  @media (max-width: @screen-xs) {
    width: 100%;
    margin-left: 0;
  }
}

.row-content.has-success select,
.row-content.has-success select:active,
.row-content.has-success select:focus
{
	color: @text-color !important;
	border-color: @input-border !important;
}
.row-content.has-success .select .input-group-addon {
	color: @text-color !important;
	border-color: @input-border !important;
}

input.has-success,
input.has-success:active,
input.has-success:before,
input.has-success:after,
input.has-success:focus,
.row-content.has-success select.has-success,
.row-content.has-success select.has-success:active,
.row-content.has-success select.has-success:focus,
.row-content.has-success input,
.row-content.has-success input:active,
.row-content.has-success input:focus,
.row-content.has-success .btn-group label.btn:not(.active)
{
	color: #000A8E !important;
	border-color: #000A8E !important;
}
.has-success .btn-group label.btn.active,
.has-success label.active.btn-form-inverse:before {
	color: #FFFFFF !important;
}

.checkbox input + label {
	color: @text-color !important;
}
.checkbox input:checked + label {
	color: #000A8E !important;
}
.checkbox input:checked + label:before {
	color: #FFFFFF;
	background-color: #000A8E;
	border-color: #000A8E;
}

.select .input-group-addon {
  font-size: 1.8rem;
}

.row-content.has-success .select .input-group-addon.dropdown-toggle {
	color: #000A8E !important;
	border-color: #000A8E !important;
}

.form-control:focus ~.input-group-addon {
  border-color: #1c3f94;
}

.has-success .form-control:focus ~.input-group-addon{
  border-color: #000A8E;
}

.select .dropdown-menu > li:not([data-value='']).active > a,
.select .dropdown-menu > li:not([data-value='']) > a:focus,
.select .dropdown-menu > li:not([data-value='']) > a:hover {
	background-color: #000A8E;
}

.select .dropdown-menu > li[data-value=''].active > a,
.select .dropdown-menu > li[data-value=''] > a:focus,
.select .dropdown-menu > li[data-value=''] > a:hover {
	background-color: #FFFFFF;
	cursor: default;
}

fieldset {
  margin-top: 2rem;
}

fieldset #primaryHospitalCover{
  margin:0px;
}

fieldset #partnerHospitalCover{
  margin-top: -21px;
  margin-bottom: 0px;
}

.noResultsMsg {
  font-size: 1.25rem;
  white-space:pre-wrap;
  @media (min-width: @screen-md) {
    font-size: 1.4rem;
  }
  u:hover {
    cursor: pointer;
  }
}