
div.radio-rounded {
  &.has-icons {
    > label.btn.health-icon {
      margin: 0;

      &:before {
        font-family: 'ctm-health';
      }
    }
  }
}

// Mixins for icon sizes.
.roundIconSize(@icon-font-size, @label-font-size, @margin-offset, @min-height-offset, @selector){

  @{selector} {
		float: left;

		width: @icon-font-size * 1.3 + 2; // padding * 2 + font-size + border * 2
		font-size: @label-font-size;
		font-family: @font-family-theme-regular;
		color: @gray-dark;
		&:before{
			font-size: @icon-font-size;
			line-height: @icon-font-size * 1.3 + 2;
			width: @icon-font-size * 1.3 + 2; // padding * 2 + font-size + border * 2. also fixes ie 10 & 11
		}

		// minimum 2 lines of label text for float to work properly
		min-height: (@icon-font-size * 1.3 + 2) + ceil(@label-font-size * 2.2) + @min-height-offset; // Icon height + label-font-size's line-height * 2 + margin-bottom
		margin: @icon-font-size * 0.15 + @margin-offset;
	}
}

// ie8 fix s
html.ie8 body {
	div.roundedCheckboxIcons {
		label:before {
			font-size: 60px;
			padding: 0.3em;
		}
	}
}


/* Rounded Icons*/
div.roundedCheckboxIcons {
	float:left;
	padding: 0px;
	text-align: center;
	> label.btn {
		padding:0;
		border: none;
		background:transparent;
		outline:0 !important;
		color: @gray-dark;
		vertical-align:top;

		cursor: pointer;
		padding: 0;
		margin: 0;
		text-align: center;

		&:before {
			display: block;
			float: none;
			margin: 10px auto;
			padding: 0;
			border-radius: 50%;
			background-color: @icon-bg-color;
			border: 1px solid @icon-border-color;
			color: @theme-tertiary;
		}

		&:active,
		&.active {
			color: @gray-dark;
			&:before {
				background-color: @icon-bg-checked-color;
				border-color: @icon-border-checked-color;
				color: #fff;
			}
		}
	}

    .roundIconSize(50px, @font-size-base, 0, 15, label);

	@media (@sm-only) {
		.roundIconSize(40px, @font-size-small, 1, 15, label);
	}
	@media (@md-only) {
		.roundIconSize(50px, @font-size-small, -1, 15, label);
	}
}


.lt-ie9,
.lt-ie10 {
	div.roundedCheckboxIcons .has-icons {
		width: auto;
		.checkbox {
			label.checked:before {
				background-color: @icon-bg-checked-color !important;
				border-color: @icon-border-checked-color !important;
				color: #fff;
			}
		}

		.roundIconSize(60px, @font-size-base, 0, 15, label);
	}
}
