//
// guar.theme.generic.less file:
//


//TAM REALLY WANTS ORANGE BUTTONS

#summary-header a.button,.button-wrapper #next-step,.button-wrapper #reminder-button,#update-step,.button-wrapper #confirm-step,.button-wrapper #results-alt-buttons a,#aside a.button,#applyOnlineDialog #aolApplyButton a.button,#results-edit-benefits a.button,#moreDetailsDialog a.button,.green-button,#summary-header a.button,#content a.button,#aside a.button,#applyOnlineDialog #aolApplyButton a.button,#results-edit-benefits a.button,#moreDetailsDialog a.button,.green-button,.widebtn,.bigbtn,.updatebtn,.cancelbtn,.buybtnbig,#dialog_car_ok,.smlbtn,.moreinfobtn,.buybtn,.compare-selected,.ok-button,#resultsPage .button,body .blueButton,body .greenButton,
#compare-form-wrapper a.compare-button.active, #save-my-quote, #refine-quotes, #refine-quotes.active, a.product-more-info, a.we-call-you, .expanded a.product-more-info,
#compare-form-wrapper a.compare-button.close, .primary-button, #left-panel .edit-selection a,
#content a.button.prompt, #summary-header #save, .more-details, a .compareBtn
	{
	// background-image: -webkit-gradient(linear, left top, left bottom, from(#3788FF), to(#1A47FA));
	// background-image: -webkit-linear-gradient(top, #3788FF, #1A47FA);
	// background-image: -moz-linear-gradient(top, #3788FF, #1A47FA);
	// background-image: -ms-linear-gradient(top, #3788FF, #1A47FA);
	// background-image: -o-linear-gradient(top, #3788FF, #1A47FA);
	// background-image: linear-gradient(to bottom, #3788FF, #1A47FA);
	border: 1px solid @theme-primary;
	color: contrast(@theme-primary);
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0px 1px 0px rgba(255,255,255,0.1);
	text-shadow:0px -1px 0px rgba(0,0,0,0.2);
	#gradient > .vertical(lighten(@theme-primary, 7%), @theme-primary);

	&:hover {
		#gradient > .vertical(lighten(@theme-primary, 17%), @theme-primary);
	}
}