// Loaded after the framework core, and full framework build. Before the health specific modules build.
// See: framework.build.health.ctm.less

//
// Variables: See the Whitelabel style guide for the agreed mapping and 
// inheritance of any components.
// ---------------------------------------------------------------------------
//

//Using CTM as a base for colours and paddings.
@import (reference) '../../ctm/less/ctm.variables.health.less';

//-------------------------------------------------------------------------------
// HEALTH Variables:
//-------------------------------------------------------------------------------

@results-features-promos-color: @theme-medium;

@checkbox-health-compare-circle-checked: @theme-medium;

@more-info-promotion-color: @theme-secondary;
@more-info-about-color: @theme-medium;
@more-info-nextsteps-color: @theme-medium;