
// Load core variables, mixins, and
// framework core before the theme.
// See: framework.build.ctm.less

/**
	* [NOTE]
	* This file was copied from the default bootstrap
	* theme to serve as a starting point.
	*/


//Using CTM as a base for the customisations of bootstrap. In future this could inherit a 'core' version for even better rendering stack.

@import '../../ctm/less/ctm.theme.less';

//
// Footer
//
#footer {
	background: #D5D6CB;
	color: @theme-dark;
	padding-top: 20px;
	padding-bottom: 15px;
	.clearfix();
	p {
		.small;
	}

	#footer_mcafee {
		.pull-right;
		margin-left: 3px;
		margin-bottom: 3px;
	}
}
#copyright {
	color: #fff;
	padding: 10px;
	text-align: center;
	background-color: @theme-dark;
	.clearfix();
	p {
		margin: 0;
		.small;
		a { color: #fff; }
	}
}

// Ex: 14px base font * 85% = about 12px
small,
.small  { font-size: 11px; line-height: 14px; }

//
// Buttons
// --------------------------------------------------
// Common styles
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
	border: 0 none;
	outline: 0;
	// A shadow on press is default
	&:active,
	&.active {
		.box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
	}
}

// Mixin for generating new styles
.btn-styles(@btn-bg, @btn-active-bg: darken(@btn-bg, 36%), @btn-active-color:#fff, @btn-interact-bg: darken(@btn-bg, 12%), @btn-interact-color:#fff) {
	background-color: @btn-bg;
	&:hover,
	&:focus {
		background-color: @btn-interact-bg;
		color: @btn-interact-color;
		outline: 0;
	}
	&:active,
	&.active {
		background-color: @btn-active-bg;
		color: @btn-active-color;
	}
}

// Common styles
.btn {
	font-family: @font-family-theme-bold;
	.button-size(10px, 15px, @font-size-base, @line-height-base, @border-radius-base);

	// Remove the gradient for the pressed/active state
	&:active,
	&.active {
		background-image: none;
	}
}
// Apply the mixin to the buttons
.btn-default 	{ .btn-styles(@btn-default-bg, @theme-secondary); 	}
.btn-primary 	{ .btn-styles(@theme-primary, @theme-secondary);	}
.btn-secondary 	{ .btn-styles(@theme-secondary, @theme-primary);	}
.btn-tertiary 	{ .btn-styles(@theme-tertiary , @theme-secondary);	}

.btn-info    { .btn-styles(@btn-info-bg,    @btn-success-bg);	}
.btn-success { .btn-styles(@btn-success-bg, @btn-info-bg);		}
.btn-warning { .btn-styles(@btn-warning-bg, @btn-primary-bg);	}
.btn-danger  { .btn-styles(@btn-danger-bg,  @btn-danger-bg);	}

// Overrides for btn danger styles
.btn-danger{
	border: @btn-border-width solid @btn-danger-border;
	color: @btn-danger-border;
	&:hover,
	&:focus {
		color:@btn-danger-border;
	}
	&:active,
	&.active {
		color: @btn-danger-border;
	}
}

@media (@xs-only){
	.journeyNavButton{
		padding-bottom:15px;
		padding-top:15px;
	}
}

//
// Images
// --------------------------------------------------
.thumbnail,
.img-thumbnail {
	.box-shadow(0 1px 2px rgba(0,0,0,.075));
}

//
// Text
// --------------------------------------------------
.text-primary {
  color: @theme-primary;
  &:hover{
  	color: @theme-primary; // override the bootstrap default hover color
  }
}
.text-secondary {
	color: @theme-secondary;
}
.text-tertiary {
	color: @theme-tertiary;
}

.text-default {
	color: @theme-default;
}
.text-dark {
	color: @theme-dark;
}
.text-light {
	color: @theme-light;
}

.text-bold {
	font-weight: bold;
}
.text-italic {
	font-style: italic;
}
h5{
	.text-dark;
}
a{
	cursor: pointer; // forces invalid links (no href set) to have the proper cursor anyway
}

//
// Font icons
// --------------------------------------------------
.help-icon {
	outline: 0;
	color: @brand-primary;
	&:hover,
	&:focus {
		outline: 0;
		text-decoration: none;
	}
	padding:0 3px;

}

//
// Headers, Headerbars and all the special conditions for breakpoints.
// ---------------------------------------------------------------------------------
body > header {
	//Moved from navbar-multi-collapse because the xs-results-pagination needs to also dock and be part of this min height eventually.
	min-height: @navbar-height; //XS
	@media all and (min-width: @screen-sm) {
		min-height: 146px; //SM
	}
	@media all and (min-width: @screen-md) {
	   min-height: 174px; //MD and LG
	}
}

//Design Attributes of the header's contact us and in xs dropdown
.header-collapse-contact {
	background-color: @theme-secondary;
	@media (max-width: @screen-xs-max) {
		&,a { color: #fff; }
	}
	> ul li {
		white-space: nowrap;
		.hidden-xs > * { margin: 0; }
		p,small { color: #fff; }
		h4,h1 { line-height: 40px; display: inline-block; }
		h1 {
			font-family: @font-family-theme-bold;
			font-weight: 400;
		}
		[data-livechat="button"] {
			vertical-align: super;
			margin-left: 20px;
			margin-top: -4px;
		}
		@media (min-width: @screen-md-min) {
			.hidden-xs {
				h4,h1 { line-height: 67px; }
				h1 { font-size: 210%; }
			}
		}

	}
}

//On XS we should dock the headerbars.
@media (max-width: @screen-xs-max) {
	//Push the page down to make some space
	body[data-step="results"] {
		padding-top: @navbar-height;
	}
	.xs-results-pagination {
		.fixedInPlace;
		top: @navbar-height;
		z-index: (@zindex-dropdown-interactive-base - 90);

		display: none !important;
		body[data-step="results"] & {
			display: block !important;
		}
	}
	//Now fill that space with the parent container of our navbar-multi-collapse
	.header-top {
		.fixedInPlace;
		top: 0; //Overlap the padding top on the body with this.
		z-index: (@zindex-dropdown-interactive-base - 100);
		//border-bottom: 1px solid @theme-light;
		outline-width: 1px;
		outline-style: solid;
		outline-color: @theme-light;
		outline-color: rgba(0, 0, 0, 0.1);

		.benefits-component {
			.scrollable {
				//Max height gets set dynamically to the remaining height of the viewport.
				-webkit-overflow-scrolling: touch; //could be screwing up z-index stacking contexts.
				z-index: (@zindex-dropdown-interactive-base + 10);
			}
		}

		//Design Attributes of the mobile xs header's contact us dropdown
		.header-collapse-contact {
			background-color: @theme-secondary;
			color: #fff;
			> ul li {
				p, small, h1, h4 { color: #fff; display: block; }
				h1 {
					font-family: @font-family-theme-bold;
					font-size: 220%;
					margin-top: 0;
					font-weight: normal;
				}
				min-height: 600px;
			}
		}
		//.navbar-collapse-menu {}
		.header-buttons-logos {
			//.hamburger {}
			.contact.collapsed {
				background-color: @theme-secondary;
			}
		}

	}//.header-top

	.productSummary-parent.visible-xs {
		min-height: 67px;
		//Only visible on the results step
		display: none !important;
		body[data-step="apply"] & {
			display: block !important;
		}
	}

}


//
// Navbar
// --------------------------------------------------
.navbar {
	border: 0 none;
}
.navbar-affix.affix {
	position: static; //Override the affix by default
}

.navbar-default .navbar-nav {
	& > li {
		& > a,
		& > .transactionIdContainer {
			font-family: @font-family-theme-bold;
		}

		& > a {

			&.inactive{
				.opacity(0.25);
				cursor: default;
			}

			&.btn-default,
			&.btn-primary,
			&.btn-secondary,
			&.btn-tertiary {
				color: @label-color;
				&:focus{
					color: @label-color;
				}
				&:hover{
					color: @label-link-hover-color;
				}
			}
			&.btn-default {
				color:#e4e6d8; // todo find variable
				&:hover,
				&:focus,
				&:active, &.active{
					background-color: @theme-tertiary;
				}
			}
			&.btn-primary {
				background-color: @theme-primary;
				&:hover,
				&:focus,
				&:active, &.active {
					background-color: darken(@theme-primary, 12%);
				}
			}
			&.btn-secondary {
				background-color: @theme-secondary;
				&:hover,
				&:focus,
				&:active, &.active {
					background-color: darken(@theme-secondary, 12%);
				}
			}
			&.btn-tertiary {
				background-color: @theme-tertiary;
				&:hover,
				&:focus,
				&:active, &.active {
					background-color: darken(@theme-tertiary, 12%);
				}
			}
			//icons are hidden in the desktop menu bars.
			.icon {
				display: none;
			}
			@media (max-width: @screen-xs-max) {
				.icon {
					display: inline-block;
					& + span, & + div {
						margin-left: 12px;
					}
				}
			}
			//Special exemptions are always right and left arrows. Right arrows need to be doubleclassed with a hidden-xs to have an icon on desktop.
			.icon-arrow-left, .icon-arrow-right.hidden-xs  {
				display: inline-block;
			}
		}
		// & = li
		&.open .btn-default.dropdown-toggle,
		&.open .btn-primary.dropdown-toggle,
		&.open .btn-secondary.dropdown-toggle,
		&.open .btn-tertiary.dropdown-toggle {
			//here
			color: @theme-dark;
			background-color: @theme-light;
		}
	}
}

.datepicker {
	table tr td {
		&.old,
		&.new {
			//visibility: hidden;
		}
		&.disabled,
		&.disabled:hover {
			color: @theme-light;//lighten(@text-color, 60%);
		}
	}
	.clear{
		.btn-tertiary;
		color: white;
	}
	&.datepicker-inline{
		padding: 0;
		border:1px solid @input-border;
	}
}



#email-quote-dropdown{
	#saveQuoteSuccess + #callback-form-component{
		padding-top: 0;
	}
}

.productSummary-affix{
	// TODO - update with the mobile affix stuff.
	position: static; //Override the affix by default
	background-color: #fff;
	border-bottom: 2px solid @table-border-color;
	padding: 5px;

}
//On XS we should dock the productSummary.
@media (max-width: @screen-xs-max) {
	.productSummary-affix.visible-xs {
		.fixedInPlace;
		z-index: (@zindex-dropdown-interactive-base - 80);
	}
}

#navbar-main {
	-webkit-transition: all 60ms ease-in-out;
	-moz-transition: all 60ms ease-in-out;
	transition: all 60ms ease-in-out;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	border-bottom: 1px solid #fff;
}
//This allows multiple collapsing rows to sit on the same navbar row.
.header-top {
	background-color: @body-bg;
	z-index: @zindex-dropdown-interactive-base;

	.row > .navbar-collapse {
		//FIXME: These padding items reset internal padding that navbars have so they sit against the container sides but this idea breaks on mobile breakpoint. Needs work.
		padding-left: 0;
		padding-right: 0;
	}

	.navbar-collapse {
		max-height: none;
		&:before,
		&:after {
			display:inline;
			content:"";
		}
		.container { position: relative; }
	}
	.navbar-toggle {
		border-radius: 0;
		width: 40px;
		height: 40px;
		background-color: @navbar-default-toggle-hover-bg;
		margin: 0;
		color: @navbar-default-toggle-icon-bar-bg;
		.icon-bar {
			width: auto;
			background-color: @navbar-default-toggle-icon-bar-bg;
		}
		.icon {
			display: none;
			color: @navbar-default-toggle-icon-bar-bg;
		}
		.icon-cross {
			display: block;
			font-size: 18px;
		}
		&.collapsed { //Actually the default state
			background-color: @theme-tertiary;
			.icon { display: block; font-size: 21px; }
			.icon-cross { display: none; }
		}
		&.disabled{
			display: none;
		}
	}
	//Mobile doesn't have any top or bottom margins, they stack perfectly.
	.navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
	> .container {
		padding: 0;

		//
		// This is a hack which makes the elements on mobile go to the side.
		//
		@media (max-width: @grid-float-breakpoint-max) {
			margin: 0;
		}
	}

	//
	// This is a hack which makes the desktop elements come back in from the sides
	//
	@media (max-width: @screen-xs-max) {
		.header-collapse-contact,
		.header-buttons-logos {
			margin-left: -15px;
			margin-right: -15px;
		}
		.header-collapse-contact > .navbar-nav {
			margin-left: 0;
			margin-right: 0;
		}
	}
	@media (min-width: @screen-sm-min) {
		.header-collapse-contact, .header-buttons-logos {
			padding-left: 0;
			padding-right: 0;
		}
	}

}


//
// Customised Links and dropdowns inside a navbar
// --------------------------------------------------
@media (min-width: @screen-sm-min) {
	.navbar-nav {
		border-left: 1px solid #fff;

		> li {
			> a,
			&.open > a,
			a.active,
			a:focus,
			a:active,
			&.open > a:focus {
				border-right: 1px solid #fff;
				&:hover {
					border-color: #fff;
				}
			}
		}
	}

	// On non-mobile, fix the navbar to the top
	.navbar-affix.affix,
	body.dropdown-fitviewport .navbar-affix {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
}

//Special bar for results only on mobile.
.xs-results-pagination{
	.container{
		margin: 0;
		padding:0;
	}
    .navbar-nav{
      margin: 0;
      background-color: @theme-tertiary;
    }
    .spacer{
    	position: relative;
    	span{
    		display: block;
    		width: 100%;
    	}
    }

    li {
      float: left;
      border-left: 1px solid #fff;
      border-right: 1px solid #fff;
      > a {
        padding-top:    @navbar-padding-vertical;
        padding-bottom: @navbar-padding-vertical;
      }
      &.right{
      	float:right;
      }
      &:last-child{
      	border-right:none;
      }
      &:first-child{
      	border-left:none;
      }
    }

  }


//
// LOGO MAGIC
// --------------------------------------------------
#logo {

	background-repeat: no-repeat;
	padding: 0;

	// Allows the mobile first view to horizontally center
	// Doesn't seem to negatively affect other breakpoints, but if it does, we just flip them back to the commented versions in each breakpoint below.
	float: none;
	display: block;

	//XS Mobile first base
	width: 200px;
	height: 30px;
	margin: 8px auto 0 auto;

	background-size: 200px 30px;
	.highResImg('../graphics/logo-xs.png'; '../graphics/logo-xs-@2x.png'; 200px; 30px);

	//Scale up override for SM logo and retina support
	@media only screen and (min-width: @screen-sm-min) {
		width: 268px;
		height: 40px;
		margin: 17px 0 0 -4px;
		background-size: 268px 40px;
		.highResImg('../graphics/logo.png'; '../graphics/logo-@2x.png'; 268px; 40px; ~"");
	}

	//Scale up override for MD & LG logo and retina support
	@media (min-width: @screen-md-min) {
		width: 470px;
		height: 70px;
		margin: 17px 0 0 -7px;
		background-size: 470px 70px;
	}
}

// Apply the mixin to the buttons
.btn-default	{ .btn-styles(@theme-primary, contrast(@theme-primary), @theme-secondary);	}
//this causes a hover

.btn-primary	{ .btn-styles(@theme-primary, contrast(@theme-primary), @theme-secondary);	}
.btn-secondary	{ .btn-styles(@theme-secondary, contrast(@theme-secondary), @theme-primary);	}
.btn-tertiary	{ .btn-styles(@theme-tertiary , contrast(@theme-tertiary), @theme-secondary);	}

.btn-info		{ .btn-styles(@btn-info-bg, contrast(@btn-info-bg), @btn-success-bg);	}
.btn-success	{ .btn-styles(@btn-success-bg, contrast(@btn-success-bg), @theme-primary);		}
.btn-warning	{ .btn-styles(@btn-warning-bg, contrast(@btn-warning-bg), @btn-primary-bg);	}
.btn-danger		{ .btn-styles(@btn-danger-bg, contrast(@btn-danger-bg), @btn-danger-bg);	}

//Special override
.btn-cancel		{ .btn-styles(@theme-tertiary,  contrast(@theme-tertiary), @theme-secondary);	}

//Overrides core/results.less
.compareBar .comparisonInactive .productCount {
				color: @theme-primary;
			}

//Powered by CTM logo size.
.journeyEngineLoader {
	.spinner {
		width: 188px;
		height: 53px;
	}
	}

//There's a weird bug with the heights of iframes and it's parent - it's parent was 4px bigger than the iframe which was set to 50px.
.dynamicTopHeaderContent {
	height: 50px;
}

.simples .dynamicTopHeaderContent {
	display: none;
}

//
// There are more overrides for health in yhoo.theme.health.less
//