/*

	INSTRUCTIONS FOR UPDATING

	When receiving an update to the CTM icon font, follow these instructions to convert style.css into ctm.icon-font.less
	(remember to copy the font files EOT, SVG, TTF, WOFF into WebContent\brand\ctm\fonts)

	1. Ensure any 'ctm' is in uppercase: CTM

	2. Ensure path to font is ../fonts/

	3. Add '.icon,' to the selector '[class^="icon-"], [class*=" icon-"]'

	4. Add rule to .icon, [class^="icon-"], [class*=" icon-"]
			vertical-align: middle;

	4. Run this regex:
		FIND   : \:before \{\n\s*(.*)\n\}
		REPLACE:  {\n\t&:before { $1 }\n}

	5. Find in files any instances of:
			'\e
		or
			"\e
		and check that the unicode number maps to the correct icon font below.

	6. Check below for .icon-info-icon and if exists change to .icon-info

*/

@font-face {
	font-family: 'CTM';
	src:url('../fonts/CTM.eot?rw2wp9');
	src:url('../fonts/CTM.eot?#iefixrw2wp9') format('embedded-opentype'),
		url('../fonts/CTM.woff?rw2wp9') format('woff'),
		url('../fonts/CTM.ttf?rw2wp9') format('truetype'),
		url('../fonts/CTM.svg?rw2wp9#CTM') format('svg');
	font-weight: normal;
	font-style: normal;
}

//Seems to fix a chrome blurry rendering issue, and the font unloading problem is resolved under chrome M33. Remove this when chrome has updated.
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'CTM';
		src: url('../fonts/CTM.svg?rw2wp9#CTM') format('svg');
	}
}

.icon, [class^="icon-"], [class*=" icon-"] {
	font-family: 'CTM';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: text-top;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-tick {
	&:before { content: "\e600"; }
}
.icon-arrow-direct-left {
	&:before { content: "\e601"; }
}
.icon-arrow-direct-right {
	&:before { content: "\e602"; }
}
.icon-select-input {
	&:before { content: "\e603"; }
}
.icon-return {
	&:before { content: "\e604"; }
}
.icon-arrow-direct-down {
	&:before { content: "\e605"; }
}
.icon-arrow-direct-up {
	&:before { content: "\e606"; }
}
.icon-phone {
	&:before { content: "\e607"; }
}
.icon-menu {
	&:before { content: "\e608"; }
}
.icon-info {
	&:before { content: "\e609"; }
}
.icon-filter {
	&:before { content: "\e60a"; }
}
.icon-envelope {
	&:before { content: "\e60b"; }
}
.icon-cross {
	&:before { content: "\e60c"; }
}
.icon-cog {
	&:before { content: "\e60d"; }
}
.icon-circle-cut {
	&:before { content: "\e60e"; }
}
.icon-calendar {
	&:before { content: "\e60f"; }
}
.icon-arrow-right {
	&:before { content: "\e610"; }
}
.icon-arrow-left {
	&:before { content: "\e611"; }
}
.icon-arrow-up {
	&:before { content: "\e612"; }
}
.icon-arrow-down {
	&:before { content: "\e613"; }
}
.icon-print {
	&:before { content: "\e614"; }
}
