
// Loaded before framework core and theme.

//Using CTM as a base for colours and paddings.
@import (reference) '../../ctm/less/ctm.variables.less';

// ## Settings to see some brand differentiation 

//
// Variables
// --------------------------------------------------


// Theme colors
// -------------------------
@theme-light:                    #F2F2F2;
@theme-medium:                   #7f807a;
@theme-dark:                     #333;

@theme-default:                  @theme-dark;

@theme-primary:                  #ab1d21;//#AA1D21;
@theme-secondary:                @theme-dark;
@theme-tertiary:                 @theme-dark;

@theme-active:                   @theme-primary;

// Brand colors
// -------------------------
// overrriden from Bootstrap variables
@brand-primary:                  @theme-primary;
@brand-success:                  @theme-tertiary;
@brand-info:                     @theme-light;
@brand-warning:                  #a90000;
@brand-danger:                   #a90000;

//** Global text color on `<body>`.
@text-color:            @theme-dark;//@theme-medium;

//** Global textual link color.
@link-color:            @theme-primary; //@brand-primary;
//** Link hover color set via `darken()` function.
@link-hover-color:      lighten(@link-color, 15%);

// Headings
@headings-color:                 @theme-primary;

//Form fields
@input-border:                   lighten(#7F807A, 20%);

// Dropdowns
@dropdown-interactive-bg:        @theme-light;

//== Powered By Logos
//
//## This is a boolean flag which compiles in the CSS for poweredby logos or not. Else adds display none.
@poweredby-header-enabled: false;
@poweredby-footer-enabled: true;

//---------------------------------------------
// Price component links
//---------------------------------------------
@price-color: @theme-primary;

//Journey progress bar
//Default disabled
@journeyProgressBar-color:                      #8F9089; //#B4B5AC;
@journeyProgressBar-separator-color:            #D5D6CB;
@journeyProgressBar-border-color:               #D5D6CB;

//Hover active
@journeyProgressBar-color-hover:                @theme-primary;
@journeyProgressBar-separator-color-hover:      @theme-primary;
@journeyProgressBar-border-color-hover:         @theme-primary;

// Navbars
@navbar-default-color:           @theme-light;
@navbar-default-bg:              @theme-primary;
@navbar-default-border:          @theme-light;

// Wells
@well-text-help:                 @text-color;
@well-header-help:               @theme-primary;


//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

@state-success-text:             #59ab1d;//@brand-success;
@state-success-border:           @state-success-text;//@brand-success;
@state-success-bg:               lighten(@state-success-border, 53%); //#dff0d8;

@state-info-bg:                  #d9edf7;
@state-info-text:                darken(@state-info-bg, 40%);//@brand-info;
@state-info-border:              darken(@state-info-bg, 40%);//@brand-info;

@state-warning-bg:               #fcf8e3;
@state-warning-text:             darken(@state-warning-bg, 55%);//@brand-warning;
@state-warning-border:           darken(@state-warning-bg, 40%);//@brand-warning;

@state-danger-text:              #ff5f5f;
@state-danger-bg:                #ffefef;
@state-danger-border:            #ff5f5f;

//-------------------------------------------------------------------------------
// HEALTH RESULTS PAGE Variables:
//-------------------------------------------------------------------------------

//Results page variables
@compare-color: #F2F2F2;
@compare-odd-color: #F4F4F4;
@compare-section-bg-color: #F7F7F7;
@compare-text-color: @theme-dark;

@hospital-color: #1d57aa; //#485f94;
@hospital-hover-color: darken(@hospital-color, 7%);
@hospital-expanded-color: @hospital-color;

@extras-color: #3f7a15;//#59ab1d; //#34734C;
@extras-color-light: @extras-color; //#0db14b; //Used on More info - Extras Policy text
@extras-hover-color: @extras-color;
@extras-expanded-color: lighten(@extras-color, 7%);

@category-hospital-text-color: @hospital-color;
@category-hospital-color: lighten(@hospital-color, 55%); //#E3E9F7;
@category-hospital-odd-color: lighten(@hospital-color, 52%); //#DCE4F5;

@category-extras-text-color: @extras-color;
@category-extras-color: lighten(@extras-color, 65%); //#CDF7DD;
@category-extras-odd-color: lighten(@extras-color, 62%); //#D7F9E4;

//@section-xs-hospital-color: @theme-tertiary;
//@section-xs-extras-color: @theme-secondary;

@button-hospital-bg: @hospital-color;
@button-extras-bg: @extras-color;

@button-hospital-bg-light: @category-hospital-color;
@button-extras-bg-light: lighten(@extras-color, 45%); //@category-extras-color