@font-face {
    font-family: "meerkat";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/meerkat.eot?#iefix") format("embedded-opentype"), url("../fonts/meerkat.woff?") format("woff"), url("../fonts/meerkat.ttf?") format("truetype"), url("../fonts/meerkat.svg?#meerkat") format("svg");
}
[class^="meerkat-"], [class*=" meerkat-"] {
    font-family: "meerkat";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
}
.meerkat-briefcase::before {
    content: "";
}
.meerkat-computer::before {
    content: "";
}
.meerkat-crest::before {
    content: "";
}
.meerkat-gentleman::before {
    content: "";
}
.meerkat-gramaphone::before {
    content: "";
}
.meerkat-meerkat::before {
    content: "";
}
.meerkat-megaphone::before {
    content: "";
}
.meerkat-mission::before {
    content: "";
}
.meerkat-pipe::before {
    content: "";
}
.meerkat-projector::before {
    content: "";
}
.meerkat-quill::before {
    content: "";
}
.meerkat-recorder::before {
    content: "";
}
.meerkat-teapot::before {
    content: "";
}
.meerkat-telephone::before {
    content: "";
}
.meerkat-type::before {
    content: "";
}