.banner-top-container {
  .banner-show-promotions {
    display: none;
    background: #f0f0f0;
    color: @theme-accent-4;
    padding: 5px;
    text-align: right;

    .icon-angle-down {
      margin-top: 3px;
    }

    @media (@sm) {
      display: none;
    }
  }

  iframe {
    border: none;
    height: 100px;
    width: 100%;
  }
}

@media (@xs-only) {
  body[data-step=contact],
  body[data-step=apply],
  body[data-step=payment] {
    .banner-top-container {
      > div, iframe {
        display: none;

        &.banner-show-promotions {
          display: block;
        }
      }
    }
  }
}