/*.sublime-project
/*.sublime-workspace
/.classpath
/.externalToolBuilders
/.idea
/.project
/.settings
/build
/lib
/log
/node
/node_modules
/out
/WebContent
/src/main/webapp/META-INF/context.xml
/src/main/webapp/brand/*/js
/src/main/webapp/brand/*/css
/src/main/frontend/node
/src/main/frontend/node_modules
/src/main/pipeline/node_modules
/src/test/frontend/node
/src/test/frontend/node_modules
/src/test/frontend/npm-debug.log
/target
/test
/*.eml
/*.iml
*.Thumbs.db
