/*.sublime-project
/*.sublime-workspace
/.classpath
/.externalToolBuilders
/.idea
/.project
/.settings
/build
/lib
/log
/node_modules
/out
/target
/*.eml
/*.iml
/WebContent/META-INF/context.xml
/WebContent/brand/*/js
/WebContent/brand/*/css
*.Thumbs.db
test/javascript/node
test/javascript/node_modules
