/*.sublime-project
/*.sublime-workspace
/.classpath
/.externalToolBuilders
/.idea
/.project
/.settings
/build
/lib
/log
/out
/WebContent
/src/main/pipeline/node
/src/main/pipeline/node_modules
/src/main/pipeline/npm-debug.log
/src/main/pipeline/yarn.lock
/src/main/pipeline/yarn-error.log
/src/test/frontend/node
/src/test/frontend/node_modules
/src/test/frontend/npm-debug.log
/target
/test
/*.eml
/*.iml
*.Thumbs.db
LOG_FILE_IS_UNDEFINED
/touch_restart.txt
.DS_Stores
.factorypath
