/*!
 * CTM-Platform v0.8.3
 * Copyright 2015 Compare The Market Pty Ltd
 * http://www.comparethemarket.com.au/
 */
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.modal-footer:after {
  clear: both;
}
body > div > header a.bottombar .btn-call {
  color: #ffffff;
}
body > div > header a.bottombar .btn-call:hover {
  color: #ffffff;
}
.compareBar .comparisonActive .btn.compareBtn {
  background-color: #0db14b;
  color: #ffffff;
}
.compareBar .comparisonActive .btn.compareBtn:hover,
.compareBar .comparisonActive .btn.compareBtn:focus {
  background-color: #097833;
  color: #ffffff;
  outline: 0;
}
.compareBar .comparisonActive .btn.compareBtn:active,
.compareBar .comparisonActive .btn.compareBtn.active {
  background-color: #1c3e93;
  color: #ffffff;
}
.compareBar.active .comparisonActive .compareBtn.clearMode,
.filters-component .btn-save {
  background-color: #1c3e93;
  color: #ffffff;
}
.compareBar.active .comparisonActive .compareBtn.clearMode:hover,
.compareBar.active .comparisonActive .compareBtn.clearMode:focus,
.filters-component .btn-save:hover,
.filters-component .btn-save:focus {
  background-color: #122860;
  color: #ffffff;
  outline: 0;
}
.compareBar.active .comparisonActive .compareBtn.clearMode:active,
.compareBar.active .comparisonActive .compareBtn.clearMode.active,
.filters-component .btn-save:active,
.filters-component .btn-save.active {
  background-color: #0db14b;
  color: #ffffff;
}
.sidebar .btn-download,
.bottombar .btn-download {
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
}
.bottombar .btn-call {
  background-color: #0db14b;
  color: #ffffff;
}
.bottombar .btn-call:hover,
.bottombar .btn-call:focus {
  background-color: #097833;
  color: #ffffff;
  outline: 0;
}
.bottombar .btn-call:active,
.bottombar .btn-call.active {
  background-color: #1c3e93;
  color: #ffffff;
}
.competition strong {
  font-family: 'SourceSansProSemiBold';
}
body > div > header a.bottombar .btn-call {
  color: #ffffff;
}
body > div > header a.bottombar .btn-call:hover {
  color: #ffffff;
}
.compareBar .comparisonActive .btn.compareBtn {
  background-color: #0db14b;
  color: #ffffff;
}
.compareBar .comparisonActive .btn.compareBtn:hover,
.compareBar .comparisonActive .btn.compareBtn:focus {
  background-color: #097833;
  color: #fff;
  outline: 0;
}
.compareBar .comparisonActive .btn.compareBtn:active,
.compareBar .comparisonActive .btn.compareBtn.active {
  background-color: #1c3e93;
  color: #ffffff;
}
.compareBar.active .comparisonActive .compareBtn.clearMode,
.filters-component .btn-save {
  background-color: #1c3e93;
  color: #ffffff;
}
.compareBar.active .comparisonActive .compareBtn.clearMode:hover,
.compareBar.active .comparisonActive .compareBtn.clearMode:focus,
.filters-component .btn-save:hover,
.filters-component .btn-save:focus {
  background-color: #122860;
  color: #fff;
  outline: 0;
}
.compareBar.active .comparisonActive .compareBtn.clearMode:active,
.compareBar.active .comparisonActive .compareBtn.clearMode.active,
.filters-component .btn-save:active,
.filters-component .btn-save.active {
  background-color: #0db14b;
  color: #ffffff;
}
.sidebar .btn-download,
.bottombar .btn-download {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  border-width: 1px;
  border-style: solid;
}
.bottombar .btn-call {
  background-color: #0db14b;
  color: #ffffff;
}
.bottombar .btn-call:hover,
.bottombar .btn-call:focus {
  background-color: #097833;
  color: #fff;
  outline: 0;
}
.bottombar .btn-call:active,
.bottombar .btn-call.active {
  background-color: #1c3e93;
  color: #ffffff;
}
.competition strong {
  font-family: 'SourceSansProSemiBold';
}
/* MISSION IMPAWSIBLE CAMPAIGN CSS */
body.competition {
  background: #f3f0e9 url("../images/bg.gif") repeat center;
}
body.competition #pageContent {
  background: url("../images/bg-tile.gif") repeat-x bottom center;
}
body.competition .header-wrap {
  background: url("../images/bg-tile.gif") repeat-x bottom center;
  padding-bottom: 20px;
}
body.competition .navbar-default {
  background-color: #fff;
}
.competition-header {
  padding-bottom: 40px;
}
.competition-header img {
  width: 100%;
  height: auto;
}
body.competition,
body.competition p,
body.competition label,
body.competition td,
body.competition a,
body.competition input {
  font-family: courier,serif;
}
body.competition h1 {
  font-family: courier,serif;
  font-weight: bold;
  font-size: 36px;
  color: #000;
  text-align: center;
  border-bottom: 4px solid #000;
  padding: 10px 0px 20px;
  margin-bottom: 30px;
}
body.competition label {
  font-weight: bold;
}
body.competition input {
  font-weight: normal;
}
body.competition .items li {
  font-size: 16px;
  padding: 5px 0px;
}
body.competition .btn-next {
  padding: 16px 30px;
  background-color: #000;
  color: #fff;
  border-radius: 0px;
  width: 348px;
  font-size: 20px;
  margin-bottom: 40px;
  letter-spacing: 1px;
}
body.competition .btn-next:hover {
  padding: 12px 30px;
  background-color: transparent;
  color: #000;
  border: 4px inset #000;
  cursor: pointer;
}
body.competition .navbar {
  padding: 0px 0px 10px;
}
body.competition .navbar ul {
  padding: 0px;
}
body.competition .navbar ul li {
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
  padding: 0px;
}
body.competition .navbar ul li i {
  font-size: 46px;
  position: relative;
  bottom: -8px;
}
body.competition .navbar ul li a {
  font-family: Source Sans Pro, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22.4px;
  font-weight: normal;
  padding: 0px 10px 0px 10px;
}
body.competition .navbar ul li a:hover {
  color: #0db14b;
  text-decoration: none;
  cursor: pointer;
}
#copyright {
  padding: 20px 0px;
}
#copyright p,
#copyright p a,
#footer p,
#footer p a,
#footer ul li a {
  font-family: Source Sans Pro, Helvetica, sans-serif;
  color: #8a8a8a;
}
#footer p.disclaimer {
  font-size: 10px;
}
.quicklinks h4 {
  font-weight: 100;
  font-size: 18px;
  line-height: 32px;
}
.quicklinks ul {
  list-style-type: none;
  margin: 0px 0px 20px;
  padding: 0px 0px 20px;
}
.quicklinks ul li {
  display: inline-block;
  width: 14%;
}
#footer .quicklinks ul li a,
#footer .quicklinks ul li a:hover {
  color: #656661;
  font-size: 12px;
  text-decoration: none;
  cursor: pointer;
}
#footer p.disclaimer a,
#footer p.disclaimer a:hover {
  color: #1c3e93;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 767px) {
  body.competition h1 {
    font-size: 20px;
    padding: 20px 0px 20px;
    border-bottom: 3px solid #000;
    margin-bottom: 20px;
  }
  #logo img {
    width: 260px;
    padding-top: 10px;
  }
  #menu-footer-menu li {
    display: block;
    padding: 5px 15px 5px 15px;
    width: 100%;
  }
}
#logo img {
  background-image: url(../meerkat/meerkat-logo.png);
  background-size: 432px 62px;
  width: 432px;
  height: 62px;
}
@media (max-width: 340px) {
  body.competition h1 {
    font-size: 18px;
    padding: 20px 0px 20px;
    border-bottom: 3px solid #000;
    margin-bottom: 20px;
  }
  #logo img {
    width: 240px;
    padding-top: 10px;
  }
  #menu-footer-menu li {
    display: block;
    padding: 5px 15px 5px 15px;
    width: 100%;
  }
}
@media (max-width: 1023px) {
  body.competition .navbar ul li a {
    padding: 0px 5px 0px 0px;
    font-size: 12px;
  }
  body.competition .navbar ul li i {
    font-size: 30px;
  }
  body.competition .navbar ul li {
    margin-right: 0px;
  }
}
@media (max-width: 1279px) {
  body.competition .navbar ul li a {
    padding: 0px 10px 0px 10px;
    font-size: 14px;
  }
  body.competition .navbar ul li i {
    font-size: 34px;
  }
  body.competition .navbar ul li {
    margin-right: 10px;
  }
}
@font-face {
  font-family: "meerkat";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/meerkat.eot?#iefix") format("embedded-opentype"), url("../fonts/meerkat.woff?") format("woff"), url("../fonts/meerkat.ttf?") format("truetype"), url("../fonts/meerkat.svg?#meerkat") format("svg");
}
[class^="meerkat-"],
[class*=" meerkat-"] {
  font-family: "meerkat";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
}
.meerkat-briefcase::before {
  content: "";
}
.meerkat-computer::before {
  content: "";
}
.meerkat-crest::before {
  content: "";
}
.meerkat-gentleman::before {
  content: "";
}
.meerkat-gramaphone::before {
  content: "";
}
.meerkat-meerkat::before {
  content: "";
}
.meerkat-megaphone::before {
  content: "";
}
.meerkat-mission::before {
  content: "";
}
.meerkat-pipe::before {
  content: "";
}
.meerkat-projector::before {
  content: "";
}
.meerkat-quill::before {
  content: "";
}
.meerkat-recorder::before {
  content: "";
}
.meerkat-teapot::before {
  content: "";
}
.meerkat-telephone::before {
  content: "";
}
.meerkat-type::before {
  content: "";
}
