/*!
 * CTM-Platform v0.8.3
 * Copyright 2015 Compare The Market Pty Ltd
 * http://www.comparethemarket.com.au/
 */
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.modal-footer:after {
  clear: both;
}
body > div > header a.bottombar .btn-call {
  color: #ffffff;
}
body > div > header a.bottombar .btn-call:hover {
  color: #ffffff;
}
.compareBar .comparisonActive .btn.compareBtn {
  background-color: #0db14b;
  color: #ffffff;
}
.compareBar .comparisonActive .btn.compareBtn:hover,
.compareBar .comparisonActive .btn.compareBtn:focus {
  background-color: #097833;
  color: #ffffff;
  outline: 0;
}
.compareBar .comparisonActive .btn.compareBtn:active,
.compareBar .comparisonActive .btn.compareBtn.active {
  background-color: #1c3e93;
  color: #ffffff;
}
.compareBar.active .comparisonActive .compareBtn.clearMode,
.filters-component .btn-save {
  background-color: #1c3e93;
  color: #ffffff;
}
.compareBar.active .comparisonActive .compareBtn.clearMode:hover,
.compareBar.active .comparisonActive .compareBtn.clearMode:focus,
.filters-component .btn-save:hover,
.filters-component .btn-save:focus {
  background-color: #122860;
  color: #ffffff;
  outline: 0;
}
.compareBar.active .comparisonActive .compareBtn.clearMode:active,
.compareBar.active .comparisonActive .compareBtn.clearMode.active,
.filters-component .btn-save:active,
.filters-component .btn-save.active {
  background-color: #0db14b;
  color: #ffffff;
}
.sidebar .btn-download,
.bottombar .btn-download {
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
}
.bottombar .btn-call {
  background-color: #0db14b;
  color: #ffffff;
}
.bottombar .btn-call:hover,
.bottombar .btn-call:focus {
  background-color: #097833;
  color: #ffffff;
  outline: 0;
}
.bottombar .btn-call:active,
.bottombar .btn-call.active {
  background-color: #1c3e93;
  color: #ffffff;
}
/*

This theme override is related to AGG-2135.
It should be done globally to the CTM theme i.e. @btn-cta-xxx in ctm.variables.less but there are many tweaks to make at a vertical level.

So it's going to be done progressively. Include this file in your framework.build.xxx.ctm.less to change the CTA button from orange to green.

*/
.btn-cta {
  background-color: #0db14b;
  color: #ffffff;
  border-color: #0db14b;
  border-width: 1px;
  border-style: solid;
}
.btn-cta:hover,
.btn-cta:focus {
  background-color: #097833;
  color: #ffffff;
  outline: 0;
  border-color: #097833;
}
.btn-cta:active,
.btn-cta.active {
  background-color: #1c3e93;
  color: #ffffff;
  border-color: #91aaea;
}
.btn-call {
  background-color: #999999;
  color: #ffffff;
  border-color: #4d4d4d;
  border-width: 1px;
  border-style: solid;
}
.btn-call:hover,
.btn-call:focus {
  background-color: #7a7a7a;
  color: #ffffff;
  outline: 0;
  border-color: #2e2e2e;
}
.btn-call:active,
.btn-call.active {
  background-color: #999999;
  color: #1c3e93;
  border-color: #1c3e93;
}
@media (min-width: 768px) {
  .resultsContainer.featuresMode.results-columns-sm-2 .featuresHeaders {
    width: 239px;
  }
  .resultsContainer.featuresMode.results-columns-sm-2 .resultsOverflow {
    width: 478px;
  }
  .resultsContainer.featuresMode.results-columns-sm-2 .result-row {
    width: 239px;
  }
  .resultsContainer.featuresMode.results-columns-sm-3 .featuresHeaders {
    width: 180px;
  }
  .resultsContainer.featuresMode.results-columns-sm-3 .resultsOverflow {
    width: 537px;
  }
  .resultsContainer.featuresMode.results-columns-sm-3 .result-row {
    width: 179px;
  }
  .resultsContainer.featuresMode.results-columns-sm-4 .featuresHeaders {
    width: 145px;
  }
  .resultsContainer.featuresMode.results-columns-sm-4 .resultsOverflow {
    width: 572px;
  }
  .resultsContainer.featuresMode.results-columns-sm-4 .result-row {
    width: 143px;
  }
  .resultsContainer.featuresMode.results-columns-sm-5 .featuresHeaders {
    width: 122px;
  }
  .resultsContainer.featuresMode.results-columns-sm-5 .resultsOverflow {
    width: 595px;
  }
  .resultsContainer.featuresMode.results-columns-sm-5 .result-row {
    width: 119px;
  }
}
@media (min-width: 992px) {
  .resultsContainer.featuresMode.results-columns-md-2 .featuresHeaders {
    width: 313px;
  }
  .resultsContainer.featuresMode.results-columns-md-2 .resultsOverflow {
    width: 624px;
  }
  .resultsContainer.featuresMode.results-columns-md-2 .result-row {
    width: 312px;
  }
  .resultsContainer.featuresMode.results-columns-md-3 .featuresHeaders {
    width: 235px;
  }
  .resultsContainer.featuresMode.results-columns-md-3 .resultsOverflow {
    width: 702px;
  }
  .resultsContainer.featuresMode.results-columns-md-3 .result-row {
    width: 234px;
  }
  .resultsContainer.featuresMode.results-columns-md-4 .featuresHeaders {
    width: 189px;
  }
  .resultsContainer.featuresMode.results-columns-md-4 .resultsOverflow {
    width: 748px;
  }
  .resultsContainer.featuresMode.results-columns-md-4 .result-row {
    width: 187px;
  }
  .resultsContainer.featuresMode.results-columns-md-5 .featuresHeaders {
    width: 157px;
  }
  .resultsContainer.featuresMode.results-columns-md-5 .resultsOverflow {
    width: 780px;
  }
  .resultsContainer.featuresMode.results-columns-md-5 .result-row {
    width: 156px;
  }
}
@media (min-width: 1200px) {
  .resultsContainer.featuresMode.results-columns-lg-2 .featuresHeaders {
    width: 381px;
  }
  .resultsContainer.featuresMode.results-columns-lg-2 .resultsOverflow {
    width: 760px;
  }
  .resultsContainer.featuresMode.results-columns-lg-2 .result-row {
    width: 380px;
  }
  .resultsContainer.featuresMode.results-columns-lg-3 .featuresHeaders {
    width: 286px;
  }
  .resultsContainer.featuresMode.results-columns-lg-3 .resultsOverflow {
    width: 855px;
  }
  .resultsContainer.featuresMode.results-columns-lg-3 .result-row {
    width: 285px;
  }
  .resultsContainer.featuresMode.results-columns-lg-4 .featuresHeaders {
    width: 229px;
  }
  .resultsContainer.featuresMode.results-columns-lg-4 .resultsOverflow {
    width: 912px;
  }
  .resultsContainer.featuresMode.results-columns-lg-4 .result-row {
    width: 228px;
  }
  .resultsContainer.featuresMode.results-columns-lg-5 .featuresHeaders {
    width: 191px;
  }
  .resultsContainer.featuresMode.results-columns-lg-5 .resultsOverflow {
    width: 950px;
  }
  .resultsContainer.featuresMode.results-columns-lg-5 .result-row {
    width: 190px;
  }
}
.nowrap {
  white-space: nowrap;
}
.journeyEngineSlide.resultsSlide {
  padding-top: 0;
}
.result_unavailable_combined {
  text-align: center;
}
.featuresMode .result_unavailable_combined .result,
.featuresMode .result_unavailable_combined .productSummary {
  height: auto;
}
.result_unavailable_combined.result-row {
  background: #fff;
  border: none !important;
  padding: 0;
}
.result_unavailable_combined.result-row h2 {
  color: #1c3e93;
  font-size: 20px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .result_unavailable_combined.result-row h2 {
    margin: 30px 15px;
  }
}
.result_unavailable_combined.result-row .logos {
  background: #f1f1f1;
  padding: 15px;
  border: 1px solid #e0e0e0;
}
.result_unavailable_combined .companyLogo {
  margin-right: 20px;
  margin-bottom: 20px;
}
.v2 .result_unavailable_combined .companyLogo {
  float: none;
  display: inline-block;
  background-color: transparent;
}
.comparison-rate-disclaimer h6 {
  margin: 0;
}
@media (max-width: 767px) {
  .comparison-rate-disclaimer {
    padding: 15px;
  }
}
.frequencyTitle,
.excessTitle {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  color: #999999;
}
.frequencyAmount {
  font-size: 36px;
  line-height: 36px;
  color: #0db14b;
}
.excessAmount {
  font-size: 24px;
  line-height: 24px;
  color: #999999;
}
.interestRate .excessAmount,
.interestRate .excessTitle {
  color: #1c3e93;
}
@media (min-width: 768px) {
  .priceMode .result-row {
    margin-bottom: 30px;
  }
}
.result-row[data-available="N"] .companyLogo,
.result-row[data-available="E"] .companyLogo {
  background-color: transparent;
}
@media (min-width: 768px) {
  .priceMode .priceMode h2,
  .priceMode .priceMode .description {
    margin-left: 95px;
  }
  .priceMode .priceMode .comparisonRate {
    margin-top: 12px;
  }
  .priceMode .priceMode .btn-enquire-now {
    margin-top: 10px;
  }
  .priceMode .priceMode .btn-more-info {
    margin-top: 8px;
    display: block;
    text-decoration: underline;
    text-align: center;
  }
}
@media (min-width: 992px) {
  .push-top-20 {
    padding-top: 20px;
  }
  .priceMode .priceMode .frequencyAmount,
  .priceMode .priceMode .frequencyTitle,
  .priceMode .priceMode .excessAmount,
  .priceMode .priceMode .excessTitle {
    display: inline-block;
  }
  .priceMode .priceMode .frequencyTitle,
  .priceMode .priceMode .excessTitle {
    width: 50px;
    line-height: 11px;
    margin-left: 4px;
  }
  .priceMode .priceMode .interestRate,
  .priceMode .priceMode .comparisonRate {
    margin-top: 9px;
  }
}
@media (min-width: 1200px) {
  .priceMode .priceMode .btn-enquire-now {
    margin-top: 0;
  }
}
.featuresMode.resultsContainer {
  margin-bottom: 30px;
}
.featuresMode .controlContainer {
  position: relative;
  height: 100%;
}
.featuresMode .productSummary {
  position: relative;
}
.featuresMode .productSummary p {
  clear: both;
}
@media (min-width: 768px) {
  .featuresMode .productSummary .btn-enquire-now {
    position: absolute;
    bottom: 8px;
    left: 8%;
    width: 84%;
  }
}
@media (min-width: 1200px) {
  .featuresMode .productSummary .btn-enquire-now {
    left: 13%;
  }
}
.featuresMode .productSummary .frequency {
  margin-left: 90px;
}
.featuresMode .icon-tick {
  color: #0db14b;
}
.featuresMode .icon-cross {
  color: #ff5f5f;
}
.featuresMode .frequencyAmount,
.featuresMode .excessAmount,
.featuresMode .frequencyTitle,
.featuresMode .excessTitle {
  width: auto;
  margin-top: 0;
}
.featuresMode .result,
.featuresMode .productSummary {
  height: 182px;
}
@media (max-width: 767px) {
  .featuresMode .result,
  .featuresMode .productSummary {
    height: 150px;
  }
  .featuresMode .btn-enquire-now {
    clear: both;
  }
  .featuresMode .productSummary {
    padding: 24px 12px;
  }
  .featuresMode .productSummary h2 {
    margin-left: 90px;
    line-height: 0.9;
  }
  .featuresMode .productSummary .btn-more-info {
    clear: none;
    width: auto;
    margin: 12px 12px 0 90px;
  }
  .featuresMode .productSummary .content {
    margin: 0 -12px;
  }
  .featuresMode .labelInColumn .content {
    color: #000000;
    background: #f1f1f1;
  }
  .featuresMode .fakeFeatures .labelInColumn .content {
    color: #fff;
    background: #0db14b;
  }
  .featuresMode .inverseRow.labelInColumn .content {
    color: #ffffff;
    background: #1c3e93;
  }
  .featuresMode .excessFeature.labelInColumn .content {
    color: #ffffff;
    background: #b2b2b2;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .featuresMode .productSummary .frequency {
    padding-top: 10px;
    margin-left: 70px;
  }
  .featuresMode .productSummary .frequency.annual {
    margin-bottom: 28px;
  }
  .featuresMode .productSummary .frequencyAmount {
    font-size: 30px;
    line-height: 30px;
  }
  .featuresMode .productSummary .btn-more-info {
    width: auto;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .featuresMode .result,
  .featuresMode .productSummary {
    height: 180px;
  }
}
@media (min-width: 1200px) {
  .featuresMode .productSummary .frequency {
    margin-left: 80px;
  }
  .featuresMode .productSummary .frequency div {
    display: inline-block;
  }
  .featuresMode .productSummary .frequency .frequencyTitle {
    width: 70px;
    margin-left: 6px;
  }
  .featuresMode .productSummary .btn-enquire-now {
    width: 75%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .featuresMode .companyLogo {
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-size: 60px 60px !important;
  }
}
@media (min-width: 1200px) {
  .featuresMode .companyLogo {
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-size: 60px 60px !important;
  }
}
.brands-content {
  overflow: hidden;
}
.companyLogo.logo_ADLB {
  background-image: url("../../../common/images/logos/homeloan/Adelaide-Bank.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_ADLB {
    background-image: url("../../../common/images/logos/homeloan/Adelaide-Bank@2x.png");
    background-size: 80px 80px;
  }
}
.companyLogo.logo_AFG {
  background-image: url("../../../common/images/logos/homeloan/AFG.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_AFG {
    background-image: url("../../../common/images/logos/homeloan/AFG@2x.png");
    background-size: 80px 80px;
  }
}
.companyLogo.logo_AFG_GREEN {
  background-image: url("../../../common/images/logos/homeloan/AFG_GREEN.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_AFG_GREEN {
    background-image: url("../../../common/images/logos/homeloan/AFG_GREEN@2x.png");
    background-size: 80px 80px;
  }
}
.companyLogo.logo_AMP {
  background-image: url("../../../common/images/logos/homeloan/AMP.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_AMP {
    background-image: url("../../../common/images/logos/homeloan/AMP@2x.png");
    background-size: 80px 80px;
  }
}
.companyLogo.logo_ANZ {
  background-image: url("../../../common/images/logos/homeloan/ANZ.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_ANZ {
    background-image: url("../../../common/images/logos/homeloan/ANZ@2x.png");
    background-size: 80px 80px;
  }
}
.companyLogo.logo_AUSWIDE {
  background-image: url("../../../common/images/logos/homeloan/Auswide.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_AUSWIDE {
    background-image: url("../../../common/images/logos/homeloan/Auswide@2x.png");
    background-size: 80px 80px;
  }
}
.companyLogo.logo_BOC {
  background-image: url("../../../common/images/logos/homeloan/Bank-of-China.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_BOC {
    background-image: url("../../../common/images/logos/homeloan/Bank-of-China@2x.png");
    background-size: 80px 80px;
  }
}
.companyLogo.logo_BOM {
  background-image: url("../../../common/images/logos/homeloan/Bank-of-Melbourne.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_BOM {
    background-image: url("../../../common/images/logos/homeloan/Bank-of-Melbourne@2x.png");
    background-size: 80px 80px;
  }
}
.companyLogo.logo_BANKSA {
  background-image: url("../../../common/images/logos/homeloan/Bank-SA.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_BANKSA {
    background-image: url("../../../common/images/logos/homeloan/Bank-SA@2x.png");
    background-size: 80px 80px;
  }
}
.companyLogo.logo_BANKWEST {
  background-image: url("../../../common/images/logos/homeloan/Bankwest.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_BANKWEST {
    background-image: url("../../../common/images/logos/homeloan/Bankwest@2x.png");
    background-size: 80px 80px;
  }
}
.companyLogo.logo_BLUESTONE {
  background-image: url("../../../common/images/logos/homeloan/Bluestone.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_BLUESTONE {
    background-image: url("../../../common/images/logos/homeloan/Bluestone@2x.png");
    background-size: 80px 80px;
  }
}
.companyLogo.logo_BOQ {
  background-image: url("../../../common/images/logos/homeloan/BOQ.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_BOQ {
    background-image: url("../../../common/images/logos/homeloan/BOQ@2x.png");
    background-size: 80px 80px;
  }
}
.companyLogo.logo_CBA {
  background-image: url("../../../common/images/logos/homeloan/CBA.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_CBA {
    background-image: url("../../../common/images/logos/homeloan/CBA@2x.png");
    background-size: 80px 80px;
  }
}
.companyLogo.logo_CITI {
  background-image: url("../../../common/images/logos/homeloan/citibank.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_CITI {
    background-image: url("../../../common/images/logos/homeloan/citibank@2x.png");
    background-size: 80px 80px;
  }
}
.companyLogo.logo_HERITAGE {
  background-image: url("../../../common/images/logos/homeloan/heritage.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_HERITAGE {
    background-image: url("../../../common/images/logos/homeloan/heritage@2x.png");
    background-size: 80px 80px;
  }
}
.companyLogo.logo_HOMESTART {
  background-image: url("../../../common/images/logos/homeloan/HomeStart.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_HOMESTART {
    background-image: url("../../../common/images/logos/homeloan/HomeStart@2x.png");
    background-size: 80px 80px;
  }
}
.companyLogo.logo_ING {
  background-image: url("../../../common/images/logos/homeloan/ING.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_ING {
    background-image: url("../../../common/images/logos/homeloan/ING@2x.png");
    background-size: 80px 80px;
  }
}
.companyLogo.logo_KEY {
  background-image: url("../../../common/images/logos/homeloan/Keystart.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_KEY {
    background-image: url("../../../common/images/logos/homeloan/Keystart@2x.png");
    background-size: 80px 80px;
  }
}
.companyLogo.logo_LATROBE {
  background-image: url("../../../common/images/logos/homeloan/LaTrobe.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_LATROBE {
    background-image: url("../../../common/images/logos/homeloan/LaTrobe@2x.png");
    background-size: 80px 80px;
  }
}
.companyLogo.logo_LIBERTY {
  background-image: url("../../../common/images/logos/homeloan/Liberty-Financial.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_LIBERTY {
    background-image: url("../../../common/images/logos/homeloan/Liberty-Financial@2x.png");
    background-size: 80px 80px;
  }
}
.companyLogo.logo_MACQ {
  background-image: url("../../../common/images/logos/homeloan/Macquarie.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_MACQ {
    background-image: url("../../../common/images/logos/homeloan/Macquarie@2x.png");
    background-size: 80px 80px;
  }
}
.companyLogo.logo_ME {
  background-image: url("../../../common/images/logos/homeloan/MeBank.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_ME {
    background-image: url("../../../common/images/logos/homeloan/MeBank@2x.png");
    background-size: 80px 80px;
  }
}
.companyLogo.logo_MKM {
  background-image: url("../../../common/images/logos/homeloan/MKM.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_MKM {
    background-image: url("../../../common/images/logos/homeloan/MKM@2x.png");
    background-size: 80px 80px;
  }
}
.companyLogo.logo_NAB {
  background-image: url("../../../common/images/logos/homeloan/nab.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_NAB {
    background-image: url("../../../common/images/logos/homeloan/nab@2x.png");
    background-size: 80px 80px;
  }
}
.companyLogo.logo_NABBROKER {
  background-image: url("../../../common/images/logos/homeloan/NAB-Broker.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_NABBROKER {
    background-image: url("../../../common/images/logos/homeloan/NAB-Broker@2x.png");
    background-size: 80px 80px;
  }
}
.companyLogo.logo_PN {
  background-image: url("../../../common/images/logos/homeloan/P&N.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_PN {
    background-image: url("../../../common/images/logos/homeloan/P&N@2x.png");
    background-size: 80px 80px;
  }
}
.companyLogo.logo_PEPPER {
  background-image: url("../../../common/images/logos/homeloan/Pepper.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_PEPPER {
    background-image: url("../../../common/images/logos/homeloan/Pepper@2x.png");
    background-size: 80px 80px;
  }
}
.companyLogo.logo_GEORGE {
  background-image: url("../../../common/images/logos/homeloan/StGeorge.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_GEORGE {
    background-image: url("../../../common/images/logos/homeloan/StGeorge@2x.png");
    background-size: 80px 80px;
  }
}
.companyLogo.logo_SUNCORP {
  background-image: url("../../../common/images/logos/homeloan/Suncorp.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_SUNCORP {
    background-image: url("../../../common/images/logos/homeloan/Suncorp@2x.png");
    background-size: 80px 80px;
  }
}
.companyLogo.logo_ROCK {
  background-image: url("../../../common/images/logos/homeloan/TheRock.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_ROCK {
    background-image: url("../../../common/images/logos/homeloan/TheRock@2x.png");
    background-size: 80px 80px;
  }
}
.companyLogo.logo_WESTPAC {
  background-image: url("../../../common/images/logos/homeloan/Westpac.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_WESTPAC {
    background-image: url("../../../common/images/logos/homeloan/Westpac@2x.png");
    background-size: 80px 80px;
  }
}
.companyLogo.logo_WIDE {
  background-image: url("../../../common/images/logos/homeloan/Wide-Bay.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .companyLogo.logo_WIDE {
    background-image: url("../../../common/images/logos/homeloan/Wide-Bay@2x.png");
    background-size: 80px 80px;
  }
}
@media (max-width: 767px) {
  .result_unavailable_combined .companyLogo {
    background-size: 60px 60px !important;
  }
}
header {
  min-height: 40px !important;
}
div[class*="ToggleArea"].show_N,
div[class*="ToggleArea"].show_ {
  display: none;
}
div[class*="ToggleArea"].show_Y {
  display: block;
}
@media (min-width: 768px) {
  label.btn {
    white-space: normal;
  }
}
.snapshot-title {
  font-size: 23px;
}
.product-snapshot .companyLogo {
  float: right;
}
.product-snapshot .snapshot-rates,
.product-snapshot .snapshot-frequency {
  padding-top: 5px;
}
.product-snapshot .frequencyTitle,
.product-snapshot .frequencyAmount {
  display: inline-block;
}
.product-snapshot .frequencyAmount {
  font-size: 32px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .product-snapshot .interestRate {
    margin-top: 12px;
  }
}
.snapshot-product-header {
  margin-bottom: 10px;
}
.snapshot-product-header h4 {
  margin-top: 0;
  margin-bottom: 0;
}
.snapshotGoal span {
  text-transform: lowercase;
  color: #1c3e93;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .homeloan .dropdown-container form {
    padding: 10px;
  }
  .homeloan #filter-loan-amount {
    padding-right: 0;
  }
}
.homeloan .filters-component .footer .small {
  text-align: left;
}
.homeloan .filters-component .checkbox {
  margin-bottom: 0;
  float: left;
  width: 50%;
}
.homeloan .filters-component .checkbox + .checkbox {
  margin-top: 10px;
}
.homeloan .filters-component .checkbox input + label {
  padding-top: 0;
}
.morePromptContainer {
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .morePromptContainer {
    margin-top: 20px;
  }
}
.morePromptCell {
  line-height: 31px;
}
.morePromptCell:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.morePromptCell a {
  text-decoration: none;
}
.morePromptCell .icon-angle-down {
  color: #fff;
  vertical-align: middle;
  margin: 0 8px;
}
.morePromptCell .morePromptLink {
  background: #1c3e93;
  width: 262px;
  height: 31px;
  color: #FFF;
  margin: 0 8px;
  display: inline-block;
}
.fieldset.quoteSnapshot {
  margin-bottom: 20px;
}
.homeloan .slide-feature-back,
.homeloan .slide-feature-emailquote,
.homeloan .slide-feature-emailresults,
.homeloan .slide-edit-quote-dropdown,
.homeloan .slide-feature-filters,
.homeloan .blank-enquire {
  display: none;
}
.homeloan .slide-feature-back a,
.homeloan .slide-feature-emailquote a,
.homeloan .slide-feature-emailresults a,
.homeloan .slide-edit-quote-dropdown a,
.homeloan .slide-feature-filters a,
.homeloan .blank-enquire a {
  white-space: nowrap;
}
.homeloan .slide-feature-pagination {
  display: none;
}
.homeloan[data-step="results"] .blank-enquire,
.homeloan[data-step="results"] .slide-feature-back,
.homeloan[data-step="results"] .slide-feature-emailquote.privacyOptinChecked,
.homeloan[data-step="results"] .slide-feature-filters {
  display: block;
}
.homeloan[data-step="results"] .slide-edit-quote-dropdown,
.homeloan[data-step="results"] .slide-feature-pagination {
  display: block;
}
.homeloan[data-step="enquiry"] .slide-feature-back {
  display: block;
}
.more-info-content h5 {
  color: #1c3e93;
  font-size: 16px;
  line-height: 1.7;
}
.PDS-btn {
  margin-bottom: 10px;
}
.more-info-content {
  padding: 0 15px;
}
.more-info-content .priceMode > div {
  margin-bottom: 10px;
}
.more-info-content .frequency,
.more-info-content .excess {
  text-align: right;
}
.more-info-content .disclaimer {
  margin-top: 40px;
}
.more-info-content .btn-apply {
  margin-top: 10px;
}
.headerBar > div > .logoContainer {
  padding: 0;
}
.headerBar > div > .logoContainer .companyLogo {
  height: 80px;
}
.headerBar > div > .logoContainer .companyLogo:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.headerBar > div > .logoContainer .companyLogo img {
  display: inline-block;
  vertical-align: middle;
  word-break: break-word;
}
@media (min-width: 992px) {
  .more-info-content .priceMode .frequencyTitle,
  .more-info-content .priceMode .excessTitle {
    width: 80px;
    text-align: left;
  }
}
@media (min-width: 768px) {
  .bridgingContainer {
    max-width: 800px;
  }
  .headerBar > div > .logoContainer .companyLogo {
    padding-right: 10px;
  }
  .verticalCenterContainer {
    padding: 0;
    height: 80px;
  }
  .verticalCenterContainer:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .verticalCenterContainer h2,
  .verticalCenterContainer a {
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    word-break: break-word;
  }
  .verticalCenterContainer a {
    width: 159px;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .verticalCenterContainer a {
    width: 172px;
  }
}
@media (max-width: 767px) {
  .about {
    padding: 10px;
  }
  .headerBar > div > .verticalCenterContainer {
    padding: 0;
    height: 80px;
  }
  .headerBar > div > .verticalCenterContainer:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .headerBar > div > .verticalCenterContainer > h2 {
    margin: 0 0 0 5px;
    display: inline-block;
    vertical-align: middle;
    word-break: break-word;
  }
}
.featuresMode .compare-basket {
  height: 182px;
}
.featuresMode .compare-basket .btn-features-compare,
.featuresMode .compare-basket .btn-compare-clear {
  position: absolute;
  bottom: 7px;
  left: 8%;
  width: 84%;
}
.homeloan strong {
  font-family: 'SourceSansProSemiBold';
}
.homeloan #navbar-compare.navbar-affix.affix {
  top: 41px;
}
.homeloan .btn-view-brands strong {
  font-size: 1.2em;
  font-weight: normal;
}
.homeloan .confirmation .btn-cta {
  border: none;
}
.homeloan .enquire-now-blank {
  margin-top: 20px;
}
.homeloan .blank-enquire > div {
  padding-top: 15px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .homeloan .blank-enquire > div h5 {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .homeloan .blank-enquire > div {
    padding-top: 20px;
  }
}
.homeloan .product-type-container .checkbox {
  display: inline-block;
  width: 49%;
}
@media (min-width: 768px) {
  .yourLoanDetails-bubble {
    margin-top: 47px;
  }
}
