/*!
 * CTM-Platform v0.8.3
 * Copyright 2015 Compare The Market Pty Ltd
 * http://www.comparethemarket.com.au/
 */
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.modal-footer:after {
  clear: both;
}
body > div > header a.bottombar .btn-call {
  color: #ffffff;
}
body > div > header a.bottombar .btn-call:hover {
  color: #ffffff;
}
.compareBar .comparisonActive .btn.compareBtn {
  background-color: #0db14b;
  color: #ffffff;
}
.compareBar .comparisonActive .btn.compareBtn:hover,
.compareBar .comparisonActive .btn.compareBtn:focus {
  background-color: #097833;
  color: #ffffff;
  outline: 0;
}
.compareBar .comparisonActive .btn.compareBtn:active,
.compareBar .comparisonActive .btn.compareBtn.active {
  background-color: #1c3e93;
  color: #ffffff;
}
.compareBar.active .comparisonActive .compareBtn.clearMode,
.filters-component .btn-save {
  background-color: #1c3e93;
  color: #ffffff;
}
.compareBar.active .comparisonActive .compareBtn.clearMode:hover,
.compareBar.active .comparisonActive .compareBtn.clearMode:focus,
.filters-component .btn-save:hover,
.filters-component .btn-save:focus {
  background-color: #122860;
  color: #ffffff;
  outline: 0;
}
.compareBar.active .comparisonActive .compareBtn.clearMode:active,
.compareBar.active .comparisonActive .compareBtn.clearMode.active,
.filters-component .btn-save:active,
.filters-component .btn-save.active {
  background-color: #0db14b;
  color: #ffffff;
}
.sidebar .btn-download,
.bottombar .btn-download {
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
}
.bottombar .btn-call {
  background-color: #0db14b;
  color: #ffffff;
}
.bottombar .btn-call:hover,
.bottombar .btn-call:focus {
  background-color: #097833;
  color: #ffffff;
  outline: 0;
}
.bottombar .btn-call:active,
.bottombar .btn-call.active {
  background-color: #1c3e93;
  color: #ffffff;
}
/*

This theme override is related to AGG-2135.
It should be done globally to the CTM theme i.e. @btn-cta-xxx in ctm.variables.less but there are many tweaks to make at a vertical level.

So it's going to be done progressively. Include this file in your framework.build.xxx.ctm.less to change the CTA button from orange to green.

*/
.btn-cta {
  background-color: #0db14b;
  color: #ffffff;
  border-color: #0db14b;
  border-width: 1px;
  border-style: solid;
}
.btn-cta:hover,
.btn-cta:focus {
  background-color: #097833;
  color: #ffffff;
  outline: 0;
  border-color: #097833;
}
.btn-cta:active,
.btn-cta.active {
  background-color: #1c3e93;
  color: #ffffff;
  border-color: #91aaea;
}
.btn-call {
  background-color: #999999;
  color: #ffffff;
  border-color: #4d4d4d;
  border-width: 1px;
  border-style: solid;
}
.btn-call:hover,
.btn-call:focus {
  background-color: #7a7a7a;
  color: #ffffff;
  outline: 0;
  border-color: #2e2e2e;
}
.btn-call:active,
.btn-call.active {
  background-color: #999999;
  color: #1c3e93;
  border-color: #1c3e93;
}
body.simples header {
  display: none;
}
body.simples .navbar-brand {
  height: 40px;
}
body.simples .navbar-inverse {
  background-color: #002;
}
body.simples .navbar-form {
  margin-top: 5.5px;
  margin-bottom: 5.5px;
}
body.simples .navbar-link {
  text-decoration: underline;
}
body.simples .dropdown-header {
  color: #1c3e93;
  font-weight: bold;
}
body.simples .dropdown-menu {
  color: #333333;
}
body.simples .dropdown-menu > .disabled > a {
  color: #b2b2b2;
}
body.simples .dropdown-menu > li > a:hover,
body.simples .dropdown-menu .dropdown-menu > li > a:focus {
  background-color: #f1f1f1;
}
body.simples .fieldset {
  margin-top: 20px;
}
body.simples .table > tbody > tr > td,
body.simples .table > tbody > tr > th {
  border-top: 0;
}
body.simples .simples-home {
  padding: 20px 0;
}
body.simples .simples-home .simples-home-buttons {
  text-align: center;
  padding: 20px;
}
body.simples .simples-home .message-getnext + .message-inbound {
  margin-left: 10px;
}
body.simples .messagedetail-container .comment-title-tranid,
body.simples .messagedetail-container .comment-hideshow {
  display: none;
}
body.simples .messagedetail-container .comment-container,
body.simples .messagedetail-container .touch-container {
  margin-top: 30px;
}
body.simples .messagedetail-container button ~ .messagedetail-loadbutton {
  margin-left: 30px;
}
body.simples .postpone-container .row + .row {
  margin-top: 20px;
}
body.simples .postpone-container h5 {
  font-size: 14px;
}
body.simples .postpone-container .datepicker.datepicker-inline {
  border: none;
}
body.simples .postpone-container table.table > * > tr > td,
body.simples .postpone-container table.table > * > tr > th {
  padding: 5px;
}
body.simples .postpone-container table.table > * > tr:nth-child(odd) > td.active {
  background-color: #0db14b;
}
body.simples .left-border {
  border-left: 2px solid #ddd;
}
@media (min-width: 768px) {
  body.simples .modal-header {
    padding: 15px 15px 7px;
  }
  body.simples .modal-title {
    padding: 0;
  }
  body.simples .modal-body {
    padding: 0 15px 15px;
  }
  body.simples .simples-search input,
  body.simples .simples-search-quotedetails input {
    width: 200px;
  }
}
body.simples table.table td {
  word-break: break-word;
}
.modal h2 {
  margin-top: 0;
}
.modal .search-quotes-result-row {
  margin-bottom: 2px;
}
.modal .search-quotes-result-row.bg-success {
  background-color: #f1f1f1;
}
.modal .search-quotes-result-row > div {
  padding: 7.5px;
}
.moreinfo-container .modal .search-quotes-result-row > div {
  padding: 3.75px;
}
.modal .search-quotes-results .label.pull-left {
  margin-right: 7.5px;
}
.modal .search-quotes-results h2,
.modal .search-quotes-results h3 {
  font-size: 18px;
}
.modal .search-quotes-results h3,
.modal .search-quotes-results h5,
.modal .search-quotes-results h6 {
  margin-top: 0;
  margin-bottom: 0;
}
.modal .search-quotes-results .btn {
  margin-bottom: 3.75px;
}
.modal .moreinfo-container {
  clear: both;
  margin: 0 15px 15px;
}
.modal table.table > * > tr > td,
.modal table.table > * > tr > th {
  border: none;
  padding: 1px 0;
}
.modal table.table > * > tr:nth-child(odd) > td,
.modal table.table > * > tr:nth-child(odd) > th {
  background-color: transparent;
}
.simples-postpone-queue {
  padding: 20px 0;
}
.simples-postponed-message {
  color: #333333;
  border: 1px solid #d4d4d4;
  margin-bottom: 12px;
  position: relative;
}
.simples-postponed-message.upcoming-reminder .reminder {
  color: #a90000;
}
.simples-postponed-message.in-the-past {
  background-color: #ffdcdc;
  border-color: #a90000;
  color: #a90000;
}
.simples-postponed-message:hover,
.simples-postponed-message.disabled {
  text-decoration: none;
  color: #1c3e93;
  border-color: #1c3e93;
}
.simples-postponed-message.active,
.simples-postponed-message.active:hover {
  background-color: #0db14b;
  border-color: #0db14b;
  color: #fff;
}
.simples-postponed-message.active .reminder,
.simples-postponed-message.active:hover .reminder {
  color: #fff;
}
.simples-postponed-message.disabled,
.simples-postponed-message.active {
  cursor: default;
}
.simples-postponed-message ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.simples-postponed-message .spinner {
  position: absolute;
  top: 0;
  right: 8px;
}
.modal-dialog.simples-messagescolumn-dialog {
  width: 955px;
}
.modal-dialog.simples-messagescolumn-dialog .personal-messages-container {
  height: 245px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.modal-dialog.simples-messagescolumn-dialog .personal-messages-container span {
  display: block;
  margin: 0px 3px 3px 0px;
}
.modal-dialog.simples-postpone-dialog .postponeampmgroup,
.modal-dialog.simples-messagescolumn-dialog .postponeampmgroup {
  overflow: visible;
}
