/*!
 * CTM-Platform v0.8.3
 * Copyright 2015 Compare The Market Pty Ltd
 * http://www.comparethemarket.com.au/
 */
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.modal-footer:after {
  clear: both;
}
body > div > header a.bottombar .btn-call {
  color: #ffffff;
}
body > div > header a.bottombar .btn-call:hover {
  color: #ffffff;
}
.compareBar .comparisonActive .btn.compareBtn {
  background-color: #0db14b;
  color: #ffffff;
}
.compareBar .comparisonActive .btn.compareBtn:hover,
.compareBar .comparisonActive .btn.compareBtn:focus {
  background-color: #097833;
  color: #ffffff;
  outline: 0;
}
.compareBar .comparisonActive .btn.compareBtn:active,
.compareBar .comparisonActive .btn.compareBtn.active {
  background-color: #1c3e93;
  color: #ffffff;
}
.compareBar.active .comparisonActive .compareBtn.clearMode,
.filters-component .btn-save {
  background-color: #1c3e93;
  color: #ffffff;
}
.compareBar.active .comparisonActive .compareBtn.clearMode:hover,
.compareBar.active .comparisonActive .compareBtn.clearMode:focus,
.filters-component .btn-save:hover,
.filters-component .btn-save:focus {
  background-color: #122860;
  color: #ffffff;
  outline: 0;
}
.compareBar.active .comparisonActive .compareBtn.clearMode:active,
.compareBar.active .comparisonActive .compareBtn.clearMode.active,
.filters-component .btn-save:active,
.filters-component .btn-save.active {
  background-color: #0db14b;
  color: #ffffff;
}
.sidebar .btn-download,
.bottombar .btn-download {
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
}
.bottombar .btn-call {
  background-color: #0db14b;
  color: #ffffff;
}
.bottombar .btn-call:hover,
.bottombar .btn-call:focus {
  background-color: #097833;
  color: #ffffff;
  outline: 0;
}
.bottombar .btn-call:active,
.bottombar .btn-call.active {
  background-color: #1c3e93;
  color: #ffffff;
}
.travel strong {
  font-weight: normal;
  font-family: 'SourceSansProSemiBold';
}
@media (min-width: 768px) {
  .travel label.btn {
    white-space: normal;
  }
}
.travel .push-top {
  padding-top: 10px;
}
@media (min-width: 768px) {
  .travel[data-step="results"] .navbar-default {
    background-color: #fff;
  }
}
.priceTitle,
.excessTitle,
.luggageTitle,
.cdxfeeTitle,
.medicalTitle {
  text-transform: uppercase;
  font-size: 9px;
  line-height: 9px;
  white-space: nowrap;
  color: #999999;
}
.priceAmount {
  color: #0db14b;
  line-height: 30px;
  font-size: 30px;
}
.productTitle {
  line-height: 22px;
  font-size: 22px;
}
.productTitle .daysPerTrip {
  white-space: nowrap;
}
.available .companyLogo img {
  margin-top: 0px;
  max-height: 60px;
}
.resultsContainer.v2 .available .companyLogo {
  width: auto;
  height: 100%;
  line-height: inherit;
  float: none;
}
@media (max-width: 767px) {
  .resultsSlide {
    padding-top: 0px;
  }
  .resultsContainer[policytype="S"] .productTitle {
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .resultsContainer[policytype="A"] .productTitle {
    font-size: 16px;
    margin-bottom: 12px;
  }
  .resultsContainer[policytype="A"] .productTitle br {
    display: none;
  }
  .resultsContainer[policytype="S"] .multiProductTitle,
  .resultsContainer[policytype="A"] .singleProductTitle {
    display: none;
  }
  .resultsContainer[policytype="S"] .singleProductTitle,
  .resultsContainer[policytype="A"] .multiProductTitle {
    display: block;
  }
  .excessAmount {
    float: none;
    width: auto;
    display: inline-block;
    text-align: right;
    font-size: 18px;
    line-height: 18px;
  }
  .excessTitle {
    float: none;
    width: auto;
    display: inline-block;
    text-align: left;
  }
  .mainBenefitsContainer {
    border-top: 1px solid #e9e9e9;
    background: #F8F8F8;
    border-bottom: 1px solid #A1A39C;
  }
  .mainBenefitsHeading {
    padding-top: 10px;
    padding-bottom: 7px;
  }
  .mainBenefitsHeading > div {
    text-align: center;
  }
  .mainBenefitsPricing {
    padding-top: 0px;
    padding-bottom: 12px;
  }
  .mainBenefitsPricing > div {
    text-align: center;
  }
  .mainBenefitsPricing .medicalAmount,
  .mainBenefitsPricing .cdxfeeAmount,
  .mainBenefitsPricing .luggageAmount {
    font-size: 15px;
  }
  .resultsContainer[policytype="S"] .priceExcessContainer {
    margin-bottom: 12px;
  }
  .resultsContainer[policytype="A"] .priceContainer,
  .resultsContainer[policytype="A"] .excessContainer {
    line-height: 60px;
  }
  .resultsContainer[policytype="A"] .daysPerTrip {
    white-space: nowrap;
  }
  .priceContainer {
    text-align: left;
    padding: 0px;
  }
  .priceContainer .priceAmount {
    font-size: 23px;
    line-height: 23px;
  }
  .excessContainer .excessAmount {
    line-height: 23px;
  }
  .priceMode .result-row {
    padding-bottom: 0px;
    border-bottom: none;
  }
  .priceMode .result-row[data-available="Y"] .resultInsert.priceMode:after {
    top: 50%;
    margin-top: -35px;
  }
  .priceMode .result-row[data-available="Y"] .resultInsert.priceMode {
    padding-right: 35px;
  }
  .logoContainer {
    padding: 0 12px 0 10px;
    height: 70px;
  }
  .logoContainer .companyLogo {
    max-width: 80px;
    text-align: center;
  }
  .logoContainer .companyLogo:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
    /* Adjusts for spacing */
  }
  .logoContainer .companyLogo img {
    display: inline-block;
    vertical-align: middle;
    word-break: break-word;
  }
  .productTitle br {
    display: none;
  }
}
@media (min-width: 768px) {
  footer {
    margin-top: 30px;
  }
  .resultsOverflow {
    margin-bottom: 30px;
  }
  .resultsContainer.priceMode {
    padding-top: 10px;
  }
  .PDS,
  .moreInfo {
    margin-top: 10px;
  }
  .PDS a,
  .moreInfo a {
    text-decoration: underline;
  }
  .result .companyLogo {
    height: auto;
  }
  .results-table .result-row {
    padding: 0;
    margin-bottom: 30px;
  }
  .results-table .result-row .resultInsert > .row {
    margin-left: 0;
    margin-right: 0;
  }
  .results-table .result-row .resultInsert > .row > div {
    vertical-align: middle;
  }
  .results-table .result_unavailable_combined {
    margin-top: 60px;
    padding: 15px;
  }
  .results-table .result_unavailable_combined .companyLogo img {
    margin-top: 8px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .priceAmount {
    font-size: 23px;
    line-height: 23px;
  }
}
@media (min-width: 768px) {
  .vertical-center-row > div {
    height: 120px;
    text-align: center;
    padding: 15px 12px;
  }
  .vertical-center-row > div > div {
    height: 100%;
  }
  .vertical-center-row > div > div:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
    /* Adjusts for spacing */
  }
  .vertical-center-row > div > div > * {
    display: inline-block;
    vertical-align: middle;
    word-break: break-word;
  }
  .vertical-center-row > div.productTitle {
    text-align: left;
  }
  .vertical-center-row > div.productTitle div:before {
    margin-right: 0;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .vertical-center-row > div.productTitle {
    height: 70px;
  }
  .vertical-center-row > div.cta {
    height: 70px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .vertical-center-row > div.cta {
    text-align: center;
  }
  .vertical-center-row > div.cta div:before {
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .productTitle div span br {
    display: none;
  }
  .productTitle div span .daysPerTrip {
    font-size: 18px;
  }
}
@media (min-width: 1200px) {
  .productTitle div span {
    font-size: 18px;
  }
  .productTitle div .daysPerTrip {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .moreInfo {
    text-align: right;
  }
  div.vertical-center-row > div:first-child {
    padding: 10px 0px;
  }
}
@media (min-width: 768px) {
  .column-banded-row > div {
    border-left: 1px solid #e0e0e0;
    color: #333333;
    background-color: transparent;
  }
  .column-banded-row > div:first-child {
    border-left: 0 none;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .column-banded-row .excessAmount,
  .column-banded-row .cdxfeeAmount,
  .column-banded-row .priceAmount,
  .column-banded-row .cta {
    color: #333333;
    background-color: #f9f9f9;
  }
  .column-banded-row .priceAmount {
    color: #0db14b;
  }
  .column-banded-row .productTitle {
    color: #1c3e93;
    border-left: 0 none;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
  }
  .column-banded-row .cta {
    border-left: 0 none;
  }
}
@media (min-width: 1200px) {
  .column-banded-row .productTitle,
  .column-banded-row .medicalAmount,
  .column-banded-row .luggageAmount,
  .column-banded-row .cta {
    color: #333333;
    background-color: #f9f9f9;
  }
  .column-banded-row .priceAmount {
    color: #0db14b;
  }
  .column-banded-row .productTitle {
    color: #1c3e93;
  }
}
.PDS-btn {
  margin-bottom: 10px;
}
.more-info-content {
  padding: 0 15px;
}
.benefitsContainer {
  border: 1px solid #e0e0e0;
  padding: 0px;
}
.benefitsContainer tr td:first-child {
  text-align: right;
}
.benefitsContainer tr td + td {
  font-weight: normal;
  font-family: 'SourceSansProSemiBold';
}
.headerBar > div > .logoContainer {
  padding: 0;
}
.headerBar > div > .logoContainer .companyLogo {
  height: 80px;
}
.headerBar > div > .logoContainer .companyLogo:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.headerBar > div > .logoContainer .companyLogo img {
  display: inline-block;
  vertical-align: middle;
  word-break: break-word;
}
.headerBar > div > .verticalCenterContainer br {
  display: none;
}
@media (min-width: 768px) {
  .bridgingContainer {
    max-width: 800px;
  }
  .headerBar {
    margin-bottom: 10px;
  }
  .headerBar > div > .logoContainer .companyLogo {
    padding-right: 10px;
  }
  .verticalCenterContainer {
    padding: 0;
    height: 80px;
  }
  .verticalCenterContainer:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .verticalCenterContainer h2,
  .verticalCenterContainer a {
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    word-break: break-word;
  }
  .verticalCenterContainer a {
    width: 159px;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .verticalCenterContainer a {
    width: 172px;
  }
}
@media (max-width: 767px) {
  .about {
    padding: 10px;
  }
  .benefitsContainer {
    padding: 10px;
    margin-top: 20px;
  }
  .headerBar > div > .logoContainer {
    margin-top: 10px;
  }
  .headerBar > div > .verticalCenterContainer {
    padding: 0;
    height: 80px;
  }
  .headerBar > div > .verticalCenterContainer:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .headerBar > div > .verticalCenterContainer > h2 {
    margin: 0 0 0 5px;
    display: inline-block;
    vertical-align: middle;
    word-break: break-word;
  }
}
.travel .slide-feature-back,
.travel .coverLevelTabs,
.travel .resultsSummaryContainer {
  display: none;
}
.travel .slide-feature-back a,
.travel .coverLevelTabs a,
.travel .resultsSummaryContainer a,
.travel .slide-feature-back .resultsSummaryPlaceholder,
.travel .coverLevelTabs .resultsSummaryPlaceholder,
.travel .resultsSummaryContainer .resultsSummaryPlaceholder {
  white-space: nowrap;
}
.travel .sortbar-container {
  display: none;
}
@media screen and (min-width: 768px) {
  .travel #navbar-main {
    -webkit-transition: max-height 60ms;
    transition: max-height 60ms;
    max-height: 40px;
  }
}
.travel[data-step="results"] .slide-feature-back,
.travel[data-step="results"] .coverLevelTabs,
.travel[data-step="results"] .resultsSummaryContainer {
  display: block;
}
.travel[data-step="results"] .sortbar-container {
  display: block;
}
@media screen and (min-width: 768px) {
  .travel[data-step="results"] #navbar-main {
    max-height: 100px;
  }
}
.travel_details_destinations h5 {
  font-size: 16px;
  margin-top: 22px;
  margin-bottom: 0;
}
fieldset.travel_details_destinations .content .error-field + .row input.destcheckbox + label:before {
  color: #ffefef;
  border-color: #ff5f5f;
  background-color: #ffefef;
}
.tt-suggestion p {
  color: #000;
}
.tt-suggestion p .selected {
  color: #777;
}
.tt-suggestion.tt-is-under-cursor p {
  color: #fff;
}
#travel_email_note_row_legend {
  display: block;
  padding-top: 6px;
  font-size: 0.86em;
}
.postcodeDetails {
  display: none;
}
#contactDetails {
  margin-bottom: 35px;
}
.slideAction {
  padding-bottom: 60px;
}
.travel_details_datesTravellers .dateinput_container .hidden-datepicker {
  width: 85%;
  margin: 0 0 0 15px;
  bottom: 0;
  top: auto;
}
.datepicker div.datepicker-days.calSeperator {
  border-left: 1px solid #b2b2b2;
}
.datepicker div.datepicker-days.calSeperator {
  border-left: 1px solid #b2b2b2;
}
.sortbar-children .icon {
  display: inline-block;
  width: 14px;
  text-align: center;
}
.sortbar-children .icon:before {
  content: "\e910";
}
.sortbar-children .active [data-sort-dir='desc'] .icon:before {
  content: "\e912";
}
.sortbar-children .active [data-sort-dir='asc'] .icon:before {
  content: "\e911";
}
.sortbar-children .navbar-brand span {
  display: none;
}
@media screen and (max-width: 767px) {
  .sortbar-parent {
    padding-right: 0;
  }
  .sortbar-children > ul.navbar-nav {
    padding-right: 0;
    margin-right: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .sortbar-children ul li > * {
    line-height: 36px;
    vertical-align: middle;
  }
  .sortbar-children ul [data-sort-type="benefits.medical"],
  .sortbar-children ul [data-sort-type="benefits.cxdfee"] {
    line-height: 18px;
  }
}
@media screen and (min-width: 768px) {
  .sortbar-children {
    padding-right: 0;
  }
  .sortbar-children ul.navbar-nav > li {
    padding-left: 0;
    padding-right: 0;
    text-shadow: 0px 1px 0px #097833;
  }
  .sortbar-children ul.navbar-nav > li a {
    padding-left: 9px;
    padding-right: 9px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    border-color: #097d35;
  }
  .sortbar-children ul.navbar-nav > li .navbar-brand {
    display: block;
    width: 100%;
    height: 100%;
    text-align: right;
  }
  .sortbar-children ul.navbar-nav > li .navbar-brand:hover {
    color: #ffffff;
  }
  .sortbar-children ul.navbar-nav > li:first-child {
    border-right: 1px solid #097d35;
  }
  .sortbar-children ul.navbar-nav.navbar-inverse > li > a,
  .sortbar-children ul.navbar-nav.navbar-inverse > li.open > a,
  .sortbar-children ul.navbar-nav.navbar-inverse > li a.active,
  .sortbar-children ul.navbar-nav.navbar-inverse > li a:focus,
  .sortbar-children ul.navbar-nav.navbar-inverse > li a:active,
  .sortbar-children ul.navbar-nav.navbar-inverse > li.open > a:focus {
    border-right: 1px solid #097d35;
  }
  .sortbar-children ul.navbar-nav.navbar-inverse > li > a:hover,
  .sortbar-children ul.navbar-nav.navbar-inverse > li.open > a:hover,
  .sortbar-children ul.navbar-nav.navbar-inverse > li a.active:hover,
  .sortbar-children ul.navbar-nav.navbar-inverse > li a:focus:hover,
  .sortbar-children ul.navbar-nav.navbar-inverse > li a:active:hover,
  .sortbar-children ul.navbar-nav.navbar-inverse > li.open > a:focus:hover {
    border-color: #097d35;
  }
  .sortbar-children .active [data-sort-dir='asc']:before {
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    left: 50%;
    content: '';
    margin-left: -8px;
    border-color: transparent;
    border-style: solid;
    border-width: 0 8px 8px;
    border-bottom-color: #ffffff;
  }
  .sortbar-children .active [data-sort-dir='desc']:before {
    position: absolute;
    width: 0;
    height: 0;
    bottom: -8px;
    left: 50%;
    content: '';
    margin-left: -8px;
    border-color: transparent;
    border-style: solid;
    border-width: 8px 8px 0;
    border-top-color: #097833;
  }
}
@media screen and (min-width: 992px) {
  .sortbar-children .navbar-brand .optional-md {
    display: inline-block;
  }
}
@media screen and (min-width: 1200px) {
  .sortbar-children .navbar-brand .optional-lg {
    display: inline-block;
  }
}
@media screen and (min-width: 1200px) {
  .sortbar-children ul li > * {
    line-height: 36px;
    vertical-align: middle;
  }
  .sortbar-children ul [data-sort-type="benefits.medical"],
  .sortbar-children ul [data-sort-type="benefits.cxdfee"] {
    line-height: 18px;
  }
}
.resultsSummaryPlaceholder .highlight {
  color: #1c3e93;
  font-family: 'SourceSansProSemiBold';
}
@media (min-width: 768px) and (max-width: 991px) {
  .optional {
    display: none;
  }
  .sm-block {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .sm-md-block {
    display: block;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .resultsSummaryContainer h5 {
    font-size: 16px;
  }
}
.travelCompanyLogo {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 0;
  width: 100%;
  height: 60px;
}
@media (min-width: 768px) {
  .travelCompanyLogo {
    width: 100%;
    height: 80px;
  }
}
.logogrid .travelCompanyLogo,
.travel-brands-content div .travelCompanyLogo {
  margin-top: 5px;
  margin-bottom: 5px;
}
.resultsContainer.v2 .unavailable .travelCompanyLogo {
  float: left;
  margin-right: 20px;
  width: 60px;
}
@media (min-width: 768px) {
  .resultsContainer.v2 .unavailable .travelCompanyLogo {
    width: 80px;
  }
}
.logo_BUDD {
  background-image: url("../../../common/images/logos/car/budget.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .logo_BUDD {
    background-image: url("../../../common/images/logos/car/budget@2x.png");
  }
}
.logo_1COV {
  background-image: url("../../../common/images/logos/travel/1cover.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .logo_1COV {
    background-image: url("../../../common/images/logos/travel/1cover@2x.png");
  }
}
.logo_1FOW {
  background-image: url("../../../common/images/logos/travel/1stforwomen.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .logo_1FOW {
    background-image: url("../../../common/images/logos/travel/1stforwomen@2x.png");
  }
}
.logo_30UN {
  background-image: url("../../../common/images/logos/travel/under30.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .logo_30UN {
    background-image: url("../../../common/images/logos/travel/under30@2x.png");
  }
}
.logo_AGIS {
  background-image: url("../../../common/images/logos/travel/budget.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .logo_AGIS {
    background-image: url("../../../common/images/logos/travel/budget@2x.png");
  }
}
.logo_ACET {
  background-image: url("../../../common/images/logos/travel/acet.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .logo_ACET {
    background-image: url("../../../common/images/logos/travel/acet@2x.png");
  }
}
.logo_AMEX {
  background-image: url("../../../common/images/logos/travel/amex.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .logo_AMEX {
    background-image: url("../../../common/images/logos/travel/amex@2x.png");
  }
}
.logo_CLBS {
  background-image: url("../../../common/images/logos/travel/columbus.png?20141208");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .logo_CLBS {
    background-image: url("../../../common/images/logos/travel/columbus@2x.png?20141208");
  }
}
.logo_DUIN {
  background-image: url("../../../common/images/logos/travel/downunder.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .logo_DUIN {
    background-image: url("../../../common/images/logos/travel/downunder@2x.png");
  }
}
.logo_EASY {
  background-image: url("../../../common/images/logos/travel/easytravelinsurance.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .logo_EASY {
    background-image: url("../../../common/images/logos/travel/easytravelinsurance@2x.png");
  }
}
.logo_FAST {
  background-image: url("../../../common/images/logos/travel/fastcover.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .logo_FAST {
    background-image: url("../../../common/images/logos/travel/fastcover@2x.png");
  }
}
.logo_I4LS {
  background-image: url("../../../common/images/logos/travel/insure4less.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .logo_I4LS {
    background-image: url("../../../common/images/logos/travel/insure4less@2x.png");
  }
}
.logo_ITRK {
  background-image: url("../../../common/images/logos/travel/itrek.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .logo_ITRK {
    background-image: url("../../../common/images/logos/travel/itrek@2x.png");
  }
}
.logo_INGO {
  background-image: url("../../../common/images/logos/travel/insureandgo.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .logo_INGO {
    background-image: url("../../../common/images/logos/travel/insureandgo@2x.png");
  }
}
.logo_KANG {
  background-image: url("../../../common/images/logos/travel/kango.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .logo_KANG {
    background-image: url("../../../common/images/logos/travel/kango@2x.png");
  }
}
.logo_OTIS {
  background-image: url("../../../common/images/logos/travel/onlinetravelinsurance.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .logo_OTIS {
    background-image: url("../../../common/images/logos/travel/onlinetravelinsurance@2x.png");
  }
}
.logo_PPTI {
  background-image: url("../../../common/images/logos/travel/priceline.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .logo_PPTI {
    background-image: url("../../../common/images/logos/travel/priceline@2x.png");
  }
}
.logo_REAL {
  background-image: url("../../../common/images/logos/travel/real.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .logo_REAL {
    background-image: url("../../../common/images/logos/travel/real@2x.png");
  }
}
.logo_SKII {
  background-image: url("../../../common/images/logos/travel/skiinsurance.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .logo_SKII {
    background-image: url("../../../common/images/logos/travel/skiinsurance@2x.png");
  }
}
.logo_SCTI {
  background-image: url("../../../common/images/logos/travel/southerncross.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .logo_SCTI {
    background-image: url("../../../common/images/logos/travel/southerncross@2x.png");
  }
}
.logo_STIN {
  background-image: url("../../../common/images/logos/travel/simplytravelinsurance.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .logo_STIN {
    background-image: url("../../../common/images/logos/travel/simplytravelinsurance@2x.png");
  }
}
.logo_TSAV {
  background-image: url("../../../common/images/logos/travel/travelinsurancesaver.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .logo_TSAV {
    background-image: url("../../../common/images/logos/travel/travelinsurancesaver@2x.png");
  }
}
.logo_TICK {
  background-image: url("../../../common/images/logos/travel/ticktravelinsurance.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .logo_TICK {
    background-image: url("../../../common/images/logos/travel/ticktravelinsurance@2x.png");
  }
}
.logo_TINZ {
  background-image: url("../../../common/images/logos/travel/travelinsuranz.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .logo_TINZ {
    background-image: url("../../../common/images/logos/travel/travelinsuranz@2x.png");
  }
}
.logo_VIRG {
  background-image: url("../../../common/images/logos/travel/virgin.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .logo_VIRG {
    background-image: url("../../../common/images/logos/travel/virgin@2x.png");
  }
}
.logo_WEBJ {
  background-image: url("../../../common/images/logos/travel/Webjet.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .logo_WEBJ {
    background-image: url("../../../common/images/logos/travel/Webjet@2x.png");
  }
}
.logo_WOOL {
  background-image: url("../../../common/images/logos/travel/Woolworths.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .logo_WOOL {
    background-image: url("../../../common/images/logos/travel/Woolworths@2x.png");
  }
}
.logo_WLDC {
  background-image: url("../../../common/images/logos/travel/Worldcare.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .logo_WLDC {
    background-image: url("../../../common/images/logos/travel/Worldcare@2x.png");
  }
}
.logo_ZUJI {
  background-image: url("../../../common/images/logos/travel/zuji.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx), only screen and (min-resolution: 144dpi) {
  .logo_ZUJI {
    background-image: url("../../../common/images/logos/travel/zuji@2x.png");
  }
}
.underwriter-link {
  margin-top: 10px;
}
.underwriter-link strong {
  font-size: 1.2em;
  font-weight: normal;
  font-family: 'SourceSansProSemiBold';
}
@media (min-width: 992px) {
  .travel-brands-modal .modal-body {
    padding: 0px;
  }
  .travel-brands-modal .modal-body .travel-brands-content {
    height: 540px;
    overflow: auto;
    padding: 20px;
  }
}
.travel-brands-modal .modal-body .underwriters {
  margin-top: 10px;
}
.travel-brands-modal .modal-body .underwriters:before,
.travel-brands-modal .modal-body .underwriters:after {
  content: " ";
  display: table;
}
.travel-brands-modal .modal-body .underwriters:after {
  clear: both;
}
.travel-brands-modal .modal-body .underwriters:before,
.travel-brands-modal .modal-body .underwriters:after {
  content: " ";
  display: table;
}
.travel-brands-modal .modal-body .underwriters:after {
  clear: both;
}
.travel-brands-modal .modal-body .underwriters p {
  text-align: justify;
}
