* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body {
	margin: 0;
	padding: 15px;
	font-family: Arial,sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: #222;
	overflow: hidden;
}
h2 {
	margin: 0;
	font-family: SunLTBoldRegular,SunLTLightRegular,Arial,sans-serif;
	font-weight: 500;
	line-height: 1.1;
	color: #000000;
	font-size: 16px;
}
form {
	margin: 0;
}
button, input, select, textarea {
	margin: 0;
}
label {
	display: block;
	margin: 7px 0 5px;
}
.error-field {
	color: #a90000;
}
.error-field label {
	text-align: left;
	font-size: 0.9em;
}
.error-expirydate {
	padding: 0 15px;
}
.btn {
	-webkit-appearance: none;
	display: inline-block;
	margin-bottom: 2px;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	white-space: nowrap;
	padding: 11px 0;
	font-size: 14px;
	border-radius: 5px;
	width: 100%;
	border: 0;
	height: 3em;
}
.btn-default {
	color: #fff;
	background: #b2b2b2;
}
.btn-default:hover, .btn-default:focus {
	background-color: #656661;
}
.btn-primary {
	color: #fff;
	background: #c20000;
}
.btn-primary:hover, .btn-primary:focus {
	background-color: #ab0000;
}
.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #656661;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #b2b2b2;
	border-radius: 5px;
}

.form-control:focus {
	border-color: #000000;
	outline: 0;
	box-shadow: none;
}
.row {
	margin: 0 -15px 10px;
}
		.row:before, .row:after {
			content: " ";
			display: table;
		}
		.row:after {
			clear: both;
		}
		.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
			position: relative;
			min-height: 1px;
			padding: 0 15px;
		}
		.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left; }
.col-xs-6 { width: 50%; }

br {
	display: none;
}


@media (min-width: 480px) {
			.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 { float: left; }
			.col-sm-1 { width: 8.333333333333332%; }
			.col-sm-2 { width: 16.666666666666664%; }
			.col-sm-3 { width: 25%; }
			.col-sm-4 {
					width: 33.33333333333333%;
					padding-bottom: 0.3em;
					padding-top: 0.3em;
					}
			.col-sm-6 { width: 50%; }
			.col-sm-7 {
				width: 58.333333333333336%;
				padding-bottom: 0.3em;
				padding-top: 0.3em;
			}
			.col-sm-8 { width: 66.66666666666666%; }
			.col-sm-10 { width: 83.33333333333334%; }

			label {
				text-align: right;
			}
			.error-expirydate {
				margin-left: 33.33333333333333%;
			}

			.btn {
				-webkit-appearance: none;
				display: inline-block;
				margin-bottom: 15px;
				font-weight: normal;
				text-align: center;
				vertical-align: middle;
				cursor: pointer;
				white-space: nowrap;
				padding: 11px 0;
				font-size: 14px;
				border-radius: 5px;
				width: 100%;
				border: 0;
				height: 3em;
			}
	h2 {
		font-size: 21px;
		margin: 0;
		font-family: SunLTBoldRegular,SunLTLightRegular,Arial,sans-serif;
		font-weight: 500;
		line-height: 1.1;
		color: #000000;
		padding-bottom: 0.3em;
	}
}

/* Nexus 7 (portrait) ----------- */
@media (min-width: 480px) and (max-width: 603px) {
	.col-sm-2 .form-control {
		padding: 6px 7px;
	}

	.col-sm-2 {
		width: 17%;
	}


}
