.logoContainer {
  text-align: center;
  width: 100%;

  .icon-car {
    font-size: 2em;
    color: @gray-light;
  }
  .icon-home {
    font-size: 3em;
    color: @gray-light;
  }
}

.companyLogo {
  float: none;
  display: inline-block;
  width: 60px;
  height: 60px;
  background-size: 60px 60px;
}

.companyLogo.logo_BUDD {
  .highResImg('../../../graphics/logos/car/budget.png'; '../../../graphics/logos/car/budget@2x.png'; 60px; 60px);
}

.companyLogo.logo_AI {
  .highResImg('../../../graphics/logos/car/ai.png'; '../../../graphics/logos/car/ai@2x.png'; 60px; 60px);
}

.companyLogo.logo_EXPO {
  .highResImg('../../../graphics/logos/car/auspost.png'; '../../../graphics/logos/car/auspost@2x.png'; 60px; 60px);
}

.companyLogo.logo_VIRG {
  .highResImg('../../../graphics/logos/car/virgin.png'; '../../../graphics/logos/car/virgin@2x.png'; 60px; 60px);
}

.companyLogo.logo_REIN {
  .highResImg('../../../graphics/logos/car/real.png'; '../../../graphics/logos/car/real@2x.png'; 60px; 60px);
}

.companyLogo.logo_1FOW {
  .highResImg('../../../graphics/logos/car/1stforwomen.png'; '../../../graphics/logos/car/1stforwomen@2x.png'; 60px; 60px);
}

.companyLogo.logo_EXDD {
  .highResImg('../../../graphics/logos/car/dodo.png'; '../../../graphics/logos/car/dodo@2x.png'; 60px; 60px);
}

.companyLogo.logo_WOOL {
  .highResImg('../../../graphics/logos/car/woolworths.png'; '../../../graphics/logos/car/woolworths@2x.png'; 60px; 60px);
}

.companyLogo.logo_IECO {
  .highResImg('../../../graphics/logos/car/ibuyeco.png'; '../../../graphics/logos/car/ibuyeco@2x.png'; 60px; 60px);
}

.companyLogo.logo_OZIC {
  .highResImg('../../../graphics/logos/car/ozicare.png'; '../../../graphics/logos/car/ozicare@2x.png'; 60px; 60px);
}

.companyLogo.logo_RETI {
  .highResImg('../../../graphics/logos/car/retirease.png'; '../../../graphics/logos/car/retirease@2x.png'; 60px; 60px);
}

.companyLogo.logo_PROG {
  .highResImg('../../../graphics/logos/car/prog.png'; '../../../graphics/logos/car/prog@2x.png'; 60px; 60px);
}

/* Not retina, will need to update once this is live */
.companyLogo.logo_CBCK {
  .highResImg('../../../graphics/logos/car/cashback.png'; '../../../graphics/logos/car/cashback.png'; 60px; 60px);
}