/*
	INSTRUCTIONS FOR UPDATING: http://confluence:8090/display/CM/Icon+Font+Maintenance
*/

// Icon fonts below.
// When updating the icon fonts change the date on the end of the file to bust the cache. (Recommend using the date i.e YYYYMMDD)
// Also check the blurry rendering fix below this
@font-face {
  font-family: 'framework_font';
  src:url('../../../../assets/fonts/CTM.eot?20171129');
  src:url('../../../../assets/fonts/CTM.eot?#iefix20171129') format('embedded-opentype'),
  url('../../../../assets/fonts/CTM.woff?20171129') format('woff'),
  url('../../../../assets/fonts/CTM.ttf?20171129') format('truetype'),
  url('../../../../assets/fonts/CTM.svg?20171129#CTM') format('svg');
  font-weight: normal;
  font-style: normal;
}

//Seems to fix a chrome blurry rendering issue, and the font unloading problem is resolved under chrome M33. Remove this when chrome has updated.
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'framework_font';
    src: url('../../../../assets/fonts/CTM.svg?20171129#CTM') format('svg');
  }
}

.icon, [class^="icon-"], [class*=" icon-"] {
  font-family: 'framework_font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: text-top;
  display:inline-block;


  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // When an icon is inside an anchor/link inherit the line height so it's positioned correctly.
  a &,
  button & {
    line-height: inherit;
  }
}

.icon-tick {
  &:before { content: "\e600"; }
}
.icon-cross {
  &:before { content: "\e601"; }
}
.icon-info {
  &:before { content: "\e602"; }
}
.icon-circle-cut {
  &:before { content: "\e603"; }
}
.icon-arrow-left {
  &:before { content: "\e604"; }
}
.icon-arrow-right {
  &:before { content: "\e605";}
}
.icon-arrow-down {
  &:before { content: "\e606"; }
}
.icon-arrow-up {
  &:before { content: "\e607"; }
}
.icon-phone {
  &:before { content: "\e608"; }
}
.icon-phone-hollow {
  &:before { content: "\e628"; }
}
.icon-car-solid,
.icon-car {
  &:before { content: "\e609"; }
}
.icon-plane-solid {
  &:before { content: "\e60b"; }
}
.icon-plane {
  &:before { content: "\e60c"; }
}
.icon-heart-solid {
  &:before { content: "\e60f"; }
}
.icon-heart {
  &:before { content: "\e610"; }
}
.icon-house-solid {
  &:before { content: "\e611"; }
}
.icon-house {
  &:before { content: "\e612"; }
}
.icon-health-solid {
  &:before { content: "\e613"; }
}

.icon-contents {
  &:before { content: "\e61a"; }
}
.icon-utilities,
.icon-energy {
  &:before { content: "\e630"; }
}
.icon-ctp {
  &:before { content: "\e61d"; }
}
.icon-blog {
  &:before { content: "\e61e"; }
}
.icon-more {
  &:before { content: "\e61f"; }
}
.icon-devices {
  &:before { content: "\e620"; }
}
.icon-print {
  &:before { content: "\e621"; }
}
.icon-search {
  &:before { content: "\e622"; }
}
.icon-clock {
  &:before { content: "\e623"; }
}
.icon-tag {
  &:before { content: "\e624"; }
}
.icon-computer {
  &:before { content: "\e625"; }
}
.icon-tick-hollow {
  &:before { content: "\e626"; }
}

.icon-undo {
  &:before { content: "\e900"; }
}
.icon-trophy {
  &:before { content: "\e901"; }
}
.icon-filter {
  &:before { content: "\e902"; }
}
.icon-cog {
  &:before { content: "\e903"; }
}
.icon-envelope-alt {
  &:before { content: "\e904"; }
}
.icon-envelope {
  &:before { content: "\e905"; }
}
.icon-credit {
  &:before { content: "\e906"; }
}
.icon-star {
  &:before { content: "\e907"; }
}
.icon-star-empty {
  &:before { content: "\e908"; }
}
.icon-th-list {
  &:before { content: "\e909"; }
}
.icon-th-vert {
  &:before { content: "\e90a"; }
}
.icon-reorder {
  &:before { content: "\e90b"; }
}
.icon-ellipsis-vertical {
  &:before { content: "\e90c"; }
}
.icon-ellipsis-horizontal {
  &:before { content: "\e90d"; }
}
.icon-sort {
  &:before { content: "\e90e"; padding: 0 2px 0 3px; }
}
.icon-angle-left {
  &:before { content: "\e90f"; }
}
.icon-angle-right {
  &:before { content: "\e910"; }
}
.icon-angle-up {
  &:before { content: "\e911"; }
}
.icon-angle-down {
  &:before { content: "\e912"; }
}
.icon-calendar {
  &:before { content: "\e913"; }
}

.icon-radio-empty {
  &:before { content: "\e914"; }
}
.icon-radio-selected {
  &:before { content: "\e915"; }
}

.icon-quote-start {
  &:before { content: "\e629"; }
}
.icon-quote-end {
  &:before { content: "\e62a"; }
}
.icon-arrow-thick-down {
  &:before { content: "\e62b"; }
}
.icon-arrow-thick-up {
  &:before { content: "\e62c";}
}
.icon-arrow-thick-left {
  &:before { content: "\e62d"; }
}
.icon-arrow-thick-right {
  &:before { content: "\e62e"; }
}
.icon-location-pin {
  &:before { content: "\e62f"; }
}
.icon-single {
  &:before { content: "\e916"; }
}
.icon-couple {
  &:before { content: "\e917"; }
}
.icon-family {
  &:before { content: "\e918"; }
}
.icon-single-family {
  &:before { content: "\e919"; }
}
.icon-group {
  &:before { content: "\e91a"; }
}
.icon-tablet_rotate {
  &:before { content: "\e91b"; }
}
.icon-dollar {
  &:before { content: "\e91c"; }
}
.icon-plus {
  &:before { content: "\e929"; }
}
.icon-minus {
  &:before { content: "\e92a"; }
}
.icon-callback {
  &:before { content: "\e92b"; }
}

.icon-vert-hnc {
  &:before { content: "\e91d"; }
}
.icon-vert-ctp {
  &:before { content: "\e91e"; }
}
.icon-vert-energy {
  &:before { content: "\e91f"; }
}
.icon-fuel,
.icon-vert-fuel {
  &:before { content: "\e920"; }
}
.icon-ip,
.icon-vert-ip {
  &:before { content: "\e921"; }
}
.icon-roadside,
.icon-vert-roadside {
  &:before { content: "\e922"; }
}
.icon-vert-car {
  &:before { content: "\e923"; }
}
.icon-health,
.icon-vert-health {
  &:before { content: "\e924"; }
}
.icon-homeloan,
.icon-home-loans,
.icon-home,
.icon-home-contents,
.icon-vert-home {
  &:before { content: "\e925"; }
}
.icon-life,
.icon-vert-life {
  &:before { content: "\e926"; }
}
.icon-creditcard,
.icon-money-solid,
.icon-money,
.icon-vert-money {
  &:before { content: "\e927"; }
}
.icon-travel,
.icon-vert-travel {
  &:before { content: "\e928"; }
}
.icon-pet,
.icon-vert-pet {
  &:before { content: "\e937"; }
}
.icon-save-quote .path1:before {
  content: "\e92b";
}
.icon-save-quote .path2:before {
  content: "\e92c";
  margin-left: -1em;
}
.icon-save-quote .path3:before {
  content: "\e92d";
  margin-left: -1em;
}
.icon-save-quote .path4:before {
  content: "\e92e";
  margin-left: -1em;
}
.icon-callback {
  &:before { content: "\e92f"; }
}
.icon-pencil {
  &:before { content: "\e930"; }
}

.icon-skinny-tick {
  &:before { content: "\e931"; }
}
.icon-pin {
  &:before { content: "\e932"; }
}
.icon-no-symbol {
  &:before { content: "\e933"; }
}
.icon-ribbon {
  &:before { content: "\e934"; }
}
.icon-percentage-tag {
  &:before { content: "\e935"; }
}
.icon-customise {
  &:before { content: "\e936"; }
}
.icon-giftcard {
  &:before { content: "\e938"; }
}
.icon-home-v2 {
  &:before { content: "\e939"; }
}
.icon-sale-sign {
  &:before { content: "\e93a"; }
}
.icon-add {
  &:before { content: "\e93b"; }
}
.icon-exit {
  &:before { content: "\e93c"; }
}
.icon-group-travel {
  &:before { content: "\e93d"; }
}
.icon-travel-filters-sort {
  &:before { content: "\e93e"; }
}
.icon-trip-type-adventure:before {
  content: "\e93f";
}
.icon-trip-type-snow:before {
  content: "\e940";
}
.icon-trip-type-cruise:before {
  content: "\e941";
}