
// Enquiry page marketing message

.snapshot-title {
	font-size: @font-size-xlarge;
}

.product-snapshot {
	.companyLogo {
		float: right;
	}

	.snapshot-rates,
	.snapshot-frequency {
		padding-top: 5px;
	}

	.frequencyTitle,
	.frequencyAmount {
		display: inline-block;
	}

	.frequencyAmount {
		font-size: 32px;
	}

	@media(@sm-only) {
		.interestRate {
			margin-top: 12px;
		}
	}
}

.snapshot-product-header {
	margin-bottom: 10px;

	h4 {
		margin-top: 0;
		margin-bottom: 0;
	}
}

.snapshotGoal span {
	text-transform: lowercase;
	color: @fieldset-heading-colour;
}