/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@-a-f-g-name: 'AFG';
@-a-f-g-x: 80px;
@-a-f-g-y: 960px;
@-a-f-g-offset-x: -80px;
@-a-f-g-offset-y: -960px;
@-a-f-g-width: 80px;
@-a-f-g-height: 80px;
@-a-f-g-total-width: 1040px;
@-a-f-g-total-height: 1040px;
@-a-f-g-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-a-f-g: 80px 960px -80px -960px 80px 80px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'AFG';
@-a-f-g-2x-name: 'AFG@2x';
@-a-f-g-2x-x: 0px;
@-a-f-g-2x-y: 0px;
@-a-f-g-2x-offset-x: 0px;
@-a-f-g-2x-offset-y: 0px;
@-a-f-g-2x-width: 160px;
@-a-f-g-2x-height: 160px;
@-a-f-g-2x-total-width: 1040px;
@-a-f-g-2x-total-height: 1040px;
@-a-f-g-2x-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-a-f-g-2x: 0px 0px 0px 0px 160px 160px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'AFG@2x';
@-a-f-g-g-r-e-e-n-name: 'AFG_GREEN';
@-a-f-g-g-r-e-e-n-x: 720px;
@-a-f-g-g-r-e-e-n-y: 880px;
@-a-f-g-g-r-e-e-n-offset-x: -720px;
@-a-f-g-g-r-e-e-n-offset-y: -880px;
@-a-f-g-g-r-e-e-n-width: 80px;
@-a-f-g-g-r-e-e-n-height: 80px;
@-a-f-g-g-r-e-e-n-total-width: 1040px;
@-a-f-g-g-r-e-e-n-total-height: 1040px;
@-a-f-g-g-r-e-e-n-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-a-f-g-g-r-e-e-n: 720px 880px -720px -880px 80px 80px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'AFG_GREEN';
@-a-f-g-g-r-e-e-n-2x-name: 'AFG_GREEN@2x';
@-a-f-g-g-r-e-e-n-2x-x: 640px;
@-a-f-g-g-r-e-e-n-2x-y: 0px;
@-a-f-g-g-r-e-e-n-2x-offset-x: -640px;
@-a-f-g-g-r-e-e-n-2x-offset-y: 0px;
@-a-f-g-g-r-e-e-n-2x-width: 160px;
@-a-f-g-g-r-e-e-n-2x-height: 160px;
@-a-f-g-g-r-e-e-n-2x-total-width: 1040px;
@-a-f-g-g-r-e-e-n-2x-total-height: 1040px;
@-a-f-g-g-r-e-e-n-2x-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-a-f-g-g-r-e-e-n-2x: 640px 0px -640px 0px 160px 160px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'AFG_GREEN@2x';
@-a-m-p-name: 'AMP';
@-a-m-p-x: 720px;
@-a-m-p-y: 800px;
@-a-m-p-offset-x: -720px;
@-a-m-p-offset-y: -800px;
@-a-m-p-width: 80px;
@-a-m-p-height: 80px;
@-a-m-p-total-width: 1040px;
@-a-m-p-total-height: 1040px;
@-a-m-p-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-a-m-p: 720px 800px -720px -800px 80px 80px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'AMP';
@-a-m-p-2x-name: 'AMP@2x';
@-a-m-p-2x-x: 0px;
@-a-m-p-2x-y: 160px;
@-a-m-p-2x-offset-x: 0px;
@-a-m-p-2x-offset-y: -160px;
@-a-m-p-2x-width: 160px;
@-a-m-p-2x-height: 160px;
@-a-m-p-2x-total-width: 1040px;
@-a-m-p-2x-total-height: 1040px;
@-a-m-p-2x-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-a-m-p-2x: 0px 160px 0px -160px 160px 160px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'AMP@2x';
@-a-n-z-name: 'ANZ';
@-a-n-z-x: 960px;
@-a-n-z-y: 400px;
@-a-n-z-offset-x: -960px;
@-a-n-z-offset-y: -400px;
@-a-n-z-width: 80px;
@-a-n-z-height: 80px;
@-a-n-z-total-width: 1040px;
@-a-n-z-total-height: 1040px;
@-a-n-z-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-a-n-z: 960px 400px -960px -400px 80px 80px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'ANZ';
@-a-n-z-2x-name: 'ANZ@2x';
@-a-n-z-2x-x: 160px;
@-a-n-z-2x-y: 160px;
@-a-n-z-2x-offset-x: -160px;
@-a-n-z-2x-offset-y: -160px;
@-a-n-z-2x-width: 160px;
@-a-n-z-2x-height: 160px;
@-a-n-z-2x-total-width: 1040px;
@-a-n-z-2x-total-height: 1040px;
@-a-n-z-2x-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-a-n-z-2x: 160px 160px -160px -160px 160px 160px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'ANZ@2x';
@-adelaide-bank-name: 'Adelaide-Bank';
@-adelaide-bank-x: 400px;
@-adelaide-bank-y: 800px;
@-adelaide-bank-offset-x: -400px;
@-adelaide-bank-offset-y: -800px;
@-adelaide-bank-width: 80px;
@-adelaide-bank-height: 80px;
@-adelaide-bank-total-width: 1040px;
@-adelaide-bank-total-height: 1040px;
@-adelaide-bank-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-adelaide-bank: 400px 800px -400px -800px 80px 80px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'Adelaide-Bank';
@-adelaide-bank-2x-name: 'Adelaide-Bank@2x';
@-adelaide-bank-2x-x: 320px;
@-adelaide-bank-2x-y: 0px;
@-adelaide-bank-2x-offset-x: -320px;
@-adelaide-bank-2x-offset-y: 0px;
@-adelaide-bank-2x-width: 160px;
@-adelaide-bank-2x-height: 160px;
@-adelaide-bank-2x-total-width: 1040px;
@-adelaide-bank-2x-total-height: 1040px;
@-adelaide-bank-2x-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-adelaide-bank-2x: 320px 0px -320px 0px 160px 160px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'Adelaide-Bank@2x';
@-auswide-name: 'Auswide';
@-auswide-x: 400px;
@-auswide-y: 880px;
@-auswide-offset-x: -400px;
@-auswide-offset-y: -880px;
@-auswide-width: 80px;
@-auswide-height: 80px;
@-auswide-total-width: 1040px;
@-auswide-total-height: 1040px;
@-auswide-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-auswide: 400px 880px -400px -880px 80px 80px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'Auswide';
@-auswide-2x-name: 'Auswide@2x';
@-auswide-2x-x: 320px;
@-auswide-2x-y: 160px;
@-auswide-2x-offset-x: -320px;
@-auswide-2x-offset-y: -160px;
@-auswide-2x-width: 160px;
@-auswide-2x-height: 160px;
@-auswide-2x-total-width: 1040px;
@-auswide-2x-total-height: 1040px;
@-auswide-2x-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-auswide-2x: 320px 160px -320px -160px 160px 160px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'Auswide@2x';
@-b-o-q-name: 'BOQ';
@-b-o-q-x: 960px;
@-b-o-q-y: 80px;
@-b-o-q-offset-x: -960px;
@-b-o-q-offset-y: -80px;
@-b-o-q-width: 80px;
@-b-o-q-height: 80px;
@-b-o-q-total-width: 1040px;
@-b-o-q-total-height: 1040px;
@-b-o-q-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-b-o-q: 960px 80px -960px -80px 80px 80px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'BOQ';
@-b-o-q-2x-name: 'BOQ@2x';
@-b-o-q-2x-x: 0px;
@-b-o-q-2x-y: 320px;
@-b-o-q-2x-offset-x: 0px;
@-b-o-q-2x-offset-y: -320px;
@-b-o-q-2x-width: 160px;
@-b-o-q-2x-height: 160px;
@-b-o-q-2x-total-width: 1040px;
@-b-o-q-2x-total-height: 1040px;
@-b-o-q-2x-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-b-o-q-2x: 0px 320px 0px -320px 160px 160px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'BOQ@2x';
@-bank-s-a-name: 'Bank-SA';
@-bank-s-a-x: 960px;
@-bank-s-a-y: 720px;
@-bank-s-a-offset-x: -960px;
@-bank-s-a-offset-y: -720px;
@-bank-s-a-width: 80px;
@-bank-s-a-height: 80px;
@-bank-s-a-total-width: 1040px;
@-bank-s-a-total-height: 1040px;
@-bank-s-a-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-bank-s-a: 960px 720px -960px -720px 80px 80px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'Bank-SA';
@-bank-s-a-2x-name: 'Bank-SA@2x';
@-bank-s-a-2x-x: 160px;
@-bank-s-a-2x-y: 320px;
@-bank-s-a-2x-offset-x: -160px;
@-bank-s-a-2x-offset-y: -320px;
@-bank-s-a-2x-width: 160px;
@-bank-s-a-2x-height: 160px;
@-bank-s-a-2x-total-width: 1040px;
@-bank-s-a-2x-total-height: 1040px;
@-bank-s-a-2x-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-bank-s-a-2x: 160px 320px -160px -320px 160px 160px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'Bank-SA@2x';
@-bank-of-china-name: 'Bank-of-China';
@-bank-of-china-x: 320px;
@-bank-of-china-y: 800px;
@-bank-of-china-offset-x: -320px;
@-bank-of-china-offset-y: -800px;
@-bank-of-china-width: 80px;
@-bank-of-china-height: 80px;
@-bank-of-china-total-width: 1040px;
@-bank-of-china-total-height: 1040px;
@-bank-of-china-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-bank-of-china: 320px 800px -320px -800px 80px 80px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'Bank-of-China';
@-bank-of-china-2x-name: 'Bank-of-China@2x';
@-bank-of-china-2x-x: 320px;
@-bank-of-china-2x-y: 320px;
@-bank-of-china-2x-offset-x: -320px;
@-bank-of-china-2x-offset-y: -320px;
@-bank-of-china-2x-width: 160px;
@-bank-of-china-2x-height: 160px;
@-bank-of-china-2x-total-width: 1040px;
@-bank-of-china-2x-total-height: 1040px;
@-bank-of-china-2x-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-bank-of-china-2x: 320px 320px -320px -320px 160px 160px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'Bank-of-China@2x';
@-bank-of-melbourne-name: 'Bank-of-Melbourne';
@-bank-of-melbourne-x: 560px;
@-bank-of-melbourne-y: 800px;
@-bank-of-melbourne-offset-x: -560px;
@-bank-of-melbourne-offset-y: -800px;
@-bank-of-melbourne-width: 80px;
@-bank-of-melbourne-height: 80px;
@-bank-of-melbourne-total-width: 1040px;
@-bank-of-melbourne-total-height: 1040px;
@-bank-of-melbourne-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-bank-of-melbourne: 560px 800px -560px -800px 80px 80px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'Bank-of-Melbourne';
@-bank-of-melbourne-2x-name: 'Bank-of-Melbourne@2x';
@-bank-of-melbourne-2x-x: 480px;
@-bank-of-melbourne-2x-y: 0px;
@-bank-of-melbourne-2x-offset-x: -480px;
@-bank-of-melbourne-2x-offset-y: 0px;
@-bank-of-melbourne-2x-width: 160px;
@-bank-of-melbourne-2x-height: 160px;
@-bank-of-melbourne-2x-total-width: 1040px;
@-bank-of-melbourne-2x-total-height: 1040px;
@-bank-of-melbourne-2x-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-bank-of-melbourne-2x: 480px 0px -480px 0px 160px 160px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'Bank-of-Melbourne@2x';
@-bankwest-name: 'Bankwest';
@-bankwest-x: 880px;
@-bankwest-y: 800px;
@-bankwest-offset-x: -880px;
@-bankwest-offset-y: -800px;
@-bankwest-width: 80px;
@-bankwest-height: 80px;
@-bankwest-total-width: 1040px;
@-bankwest-total-height: 1040px;
@-bankwest-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-bankwest: 880px 800px -880px -800px 80px 80px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'Bankwest';
@-bankwest-2x-name: 'Bankwest@2x';
@-bankwest-2x-x: 480px;
@-bankwest-2x-y: 160px;
@-bankwest-2x-offset-x: -480px;
@-bankwest-2x-offset-y: -160px;
@-bankwest-2x-width: 160px;
@-bankwest-2x-height: 160px;
@-bankwest-2x-total-width: 1040px;
@-bankwest-2x-total-height: 1040px;
@-bankwest-2x-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-bankwest-2x: 480px 160px -480px -160px 160px 160px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'Bankwest@2x';
@-bluestone-name: 'Bluestone';
@-bluestone-x: 560px;
@-bluestone-y: 880px;
@-bluestone-offset-x: -560px;
@-bluestone-offset-y: -880px;
@-bluestone-width: 80px;
@-bluestone-height: 80px;
@-bluestone-total-width: 1040px;
@-bluestone-total-height: 1040px;
@-bluestone-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-bluestone: 560px 880px -560px -880px 80px 80px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'Bluestone';
@-bluestone-2x-name: 'Bluestone@2x';
@-bluestone-2x-x: 480px;
@-bluestone-2x-y: 320px;
@-bluestone-2x-offset-x: -480px;
@-bluestone-2x-offset-y: -320px;
@-bluestone-2x-width: 160px;
@-bluestone-2x-height: 160px;
@-bluestone-2x-total-width: 1040px;
@-bluestone-2x-total-height: 1040px;
@-bluestone-2x-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-bluestone-2x: 480px 320px -480px -320px 160px 160px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'Bluestone@2x';
@-c-b-a-name: 'CBA';
@-c-b-a-x: 880px;
@-c-b-a-y: 880px;
@-c-b-a-offset-x: -880px;
@-c-b-a-offset-y: -880px;
@-c-b-a-width: 80px;
@-c-b-a-height: 80px;
@-c-b-a-total-width: 1040px;
@-c-b-a-total-height: 1040px;
@-c-b-a-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-c-b-a: 880px 880px -880px -880px 80px 80px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'CBA';
@-c-b-a-2x-name: 'CBA@2x';
@-c-b-a-2x-x: 0px;
@-c-b-a-2x-y: 480px;
@-c-b-a-2x-offset-x: 0px;
@-c-b-a-2x-offset-y: -480px;
@-c-b-a-2x-width: 160px;
@-c-b-a-2x-height: 160px;
@-c-b-a-2x-total-width: 1040px;
@-c-b-a-2x-total-height: 1040px;
@-c-b-a-2x-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-c-b-a-2x: 0px 480px 0px -480px 160px 160px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'CBA@2x';
@-home-start-name: 'HomeStart';
@-home-start-x: 960px;
@-home-start-y: 240px;
@-home-start-offset-x: -960px;
@-home-start-offset-y: -240px;
@-home-start-width: 80px;
@-home-start-height: 80px;
@-home-start-total-width: 1040px;
@-home-start-total-height: 1040px;
@-home-start-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-home-start: 960px 240px -960px -240px 80px 80px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'HomeStart';
@-home-start-2x-name: 'HomeStart@2x';
@-home-start-2x-x: 160px;
@-home-start-2x-y: 480px;
@-home-start-2x-offset-x: -160px;
@-home-start-2x-offset-y: -480px;
@-home-start-2x-width: 160px;
@-home-start-2x-height: 160px;
@-home-start-2x-total-width: 1040px;
@-home-start-2x-total-height: 1040px;
@-home-start-2x-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-home-start-2x: 160px 480px -160px -480px 160px 160px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'HomeStart@2x';
@-i-n-g-name: 'ING';
@-i-n-g-x: 960px;
@-i-n-g-y: 560px;
@-i-n-g-offset-x: -960px;
@-i-n-g-offset-y: -560px;
@-i-n-g-width: 80px;
@-i-n-g-height: 80px;
@-i-n-g-total-width: 1040px;
@-i-n-g-total-height: 1040px;
@-i-n-g-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-i-n-g: 960px 560px -960px -560px 80px 80px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'ING';
@-i-n-g-2x-name: 'ING@2x';
@-i-n-g-2x-x: 320px;
@-i-n-g-2x-y: 480px;
@-i-n-g-2x-offset-x: -320px;
@-i-n-g-2x-offset-y: -480px;
@-i-n-g-2x-width: 160px;
@-i-n-g-2x-height: 160px;
@-i-n-g-2x-total-width: 1040px;
@-i-n-g-2x-total-height: 1040px;
@-i-n-g-2x-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-i-n-g-2x: 320px 480px -320px -480px 160px 160px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'ING@2x';
@-keystart-name: 'Keystart';
@-keystart-x: 960px;
@-keystart-y: 880px;
@-keystart-offset-x: -960px;
@-keystart-offset-y: -880px;
@-keystart-width: 80px;
@-keystart-height: 80px;
@-keystart-total-width: 1040px;
@-keystart-total-height: 1040px;
@-keystart-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-keystart: 960px 880px -960px -880px 80px 80px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'Keystart';
@-keystart-2x-name: 'Keystart@2x';
@-keystart-2x-x: 480px;
@-keystart-2x-y: 480px;
@-keystart-2x-offset-x: -480px;
@-keystart-2x-offset-y: -480px;
@-keystart-2x-width: 160px;
@-keystart-2x-height: 160px;
@-keystart-2x-total-width: 1040px;
@-keystart-2x-total-height: 1040px;
@-keystart-2x-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-keystart-2x: 480px 480px -480px -480px 160px 160px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'Keystart@2x';
@-la-trobe-name: 'LaTrobe';
@-la-trobe-x: 240px;
@-la-trobe-y: 960px;
@-la-trobe-offset-x: -240px;
@-la-trobe-offset-y: -960px;
@-la-trobe-width: 80px;
@-la-trobe-height: 80px;
@-la-trobe-total-width: 1040px;
@-la-trobe-total-height: 1040px;
@-la-trobe-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-la-trobe: 240px 960px -240px -960px 80px 80px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'LaTrobe';
@-la-trobe-2x-name: 'LaTrobe@2x';
@-la-trobe-2x-x: 640px;
@-la-trobe-2x-y: 160px;
@-la-trobe-2x-offset-x: -640px;
@-la-trobe-2x-offset-y: -160px;
@-la-trobe-2x-width: 160px;
@-la-trobe-2x-height: 160px;
@-la-trobe-2x-total-width: 1040px;
@-la-trobe-2x-total-height: 1040px;
@-la-trobe-2x-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-la-trobe-2x: 640px 160px -640px -160px 160px 160px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'LaTrobe@2x';
@-liberty-financial-name: 'Liberty-Financial';
@-liberty-financial-x: 480px;
@-liberty-financial-y: 800px;
@-liberty-financial-offset-x: -480px;
@-liberty-financial-offset-y: -800px;
@-liberty-financial-width: 80px;
@-liberty-financial-height: 80px;
@-liberty-financial-total-width: 1040px;
@-liberty-financial-total-height: 1040px;
@-liberty-financial-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-liberty-financial: 480px 800px -480px -800px 80px 80px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'Liberty-Financial';
@-liberty-financial-2x-name: 'Liberty-Financial@2x';
@-liberty-financial-2x-x: 640px;
@-liberty-financial-2x-y: 320px;
@-liberty-financial-2x-offset-x: -640px;
@-liberty-financial-2x-offset-y: -320px;
@-liberty-financial-2x-width: 160px;
@-liberty-financial-2x-height: 160px;
@-liberty-financial-2x-total-width: 1040px;
@-liberty-financial-2x-total-height: 1040px;
@-liberty-financial-2x-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-liberty-financial-2x: 640px 320px -640px -320px 160px 160px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'Liberty-Financial@2x';
@-m-k-m-name: 'MKM';
@-m-k-m-x: 640px;
@-m-k-m-y: 800px;
@-m-k-m-offset-x: -640px;
@-m-k-m-offset-y: -800px;
@-m-k-m-width: 80px;
@-m-k-m-height: 80px;
@-m-k-m-total-width: 1040px;
@-m-k-m-total-height: 1040px;
@-m-k-m-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-m-k-m: 640px 800px -640px -800px 80px 80px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'MKM';
@-m-k-m-2x-name: 'MKM@2x';
@-m-k-m-2x-x: 640px;
@-m-k-m-2x-y: 480px;
@-m-k-m-2x-offset-x: -640px;
@-m-k-m-2x-offset-y: -480px;
@-m-k-m-2x-width: 160px;
@-m-k-m-2x-height: 160px;
@-m-k-m-2x-total-width: 1040px;
@-m-k-m-2x-total-height: 1040px;
@-m-k-m-2x-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-m-k-m-2x: 640px 480px -640px -480px 160px 160px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'MKM@2x';
@-macquarie-name: 'Macquarie';
@-macquarie-x: 800px;
@-macquarie-y: 800px;
@-macquarie-offset-x: -800px;
@-macquarie-offset-y: -800px;
@-macquarie-width: 80px;
@-macquarie-height: 80px;
@-macquarie-total-width: 1040px;
@-macquarie-total-height: 1040px;
@-macquarie-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-macquarie: 800px 800px -800px -800px 80px 80px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'Macquarie';
@-macquarie-2x-name: 'Macquarie@2x';
@-macquarie-2x-x: 0px;
@-macquarie-2x-y: 640px;
@-macquarie-2x-offset-x: 0px;
@-macquarie-2x-offset-y: -640px;
@-macquarie-2x-width: 160px;
@-macquarie-2x-height: 160px;
@-macquarie-2x-total-width: 1040px;
@-macquarie-2x-total-height: 1040px;
@-macquarie-2x-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-macquarie-2x: 0px 640px 0px -640px 160px 160px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'Macquarie@2x';
@-me-bank-name: 'MeBank';
@-me-bank-x: 320px;
@-me-bank-y: 880px;
@-me-bank-offset-x: -320px;
@-me-bank-offset-y: -880px;
@-me-bank-width: 80px;
@-me-bank-height: 80px;
@-me-bank-total-width: 1040px;
@-me-bank-total-height: 1040px;
@-me-bank-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-me-bank: 320px 880px -320px -880px 80px 80px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'MeBank';
@-me-bank-2x-name: 'MeBank@2x';
@-me-bank-2x-x: 160px;
@-me-bank-2x-y: 640px;
@-me-bank-2x-offset-x: -160px;
@-me-bank-2x-offset-y: -640px;
@-me-bank-2x-width: 160px;
@-me-bank-2x-height: 160px;
@-me-bank-2x-total-width: 1040px;
@-me-bank-2x-total-height: 1040px;
@-me-bank-2x-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-me-bank-2x: 160px 640px -160px -640px 160px 160px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'MeBank@2x';
@-n-a-b-broker-name: 'NAB-Broker';
@-n-a-b-broker-x: 480px;
@-n-a-b-broker-y: 880px;
@-n-a-b-broker-offset-x: -480px;
@-n-a-b-broker-offset-y: -880px;
@-n-a-b-broker-width: 80px;
@-n-a-b-broker-height: 80px;
@-n-a-b-broker-total-width: 1040px;
@-n-a-b-broker-total-height: 1040px;
@-n-a-b-broker-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-n-a-b-broker: 480px 880px -480px -880px 80px 80px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'NAB-Broker';
@-n-a-b-broker-2x-name: 'NAB-Broker@2x';
@-n-a-b-broker-2x-x: 320px;
@-n-a-b-broker-2x-y: 640px;
@-n-a-b-broker-2x-offset-x: -320px;
@-n-a-b-broker-2x-offset-y: -640px;
@-n-a-b-broker-2x-width: 160px;
@-n-a-b-broker-2x-height: 160px;
@-n-a-b-broker-2x-total-width: 1040px;
@-n-a-b-broker-2x-total-height: 1040px;
@-n-a-b-broker-2x-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-n-a-b-broker-2x: 320px 640px -320px -640px 160px 160px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'NAB-Broker@2x';
@-p-n-name: 'P&amp;N';
@-p-n-x: 640px;
@-p-n-y: 880px;
@-p-n-offset-x: -640px;
@-p-n-offset-y: -880px;
@-p-n-width: 80px;
@-p-n-height: 80px;
@-p-n-total-width: 1040px;
@-p-n-total-height: 1040px;
@-p-n-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-p-n: 640px 880px -640px -880px 80px 80px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'P&amp;N';
@-p-n-2x-name: 'P&amp;N@2x';
@-p-n-2x-x: 480px;
@-p-n-2x-y: 640px;
@-p-n-2x-offset-x: -480px;
@-p-n-2x-offset-y: -640px;
@-p-n-2x-width: 160px;
@-p-n-2x-height: 160px;
@-p-n-2x-total-width: 1040px;
@-p-n-2x-total-height: 1040px;
@-p-n-2x-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-p-n-2x: 480px 640px -480px -640px 160px 160px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'P&amp;N@2x';
@-pepper-name: 'Pepper';
@-pepper-x: 800px;
@-pepper-y: 880px;
@-pepper-offset-x: -800px;
@-pepper-offset-y: -880px;
@-pepper-width: 80px;
@-pepper-height: 80px;
@-pepper-total-width: 1040px;
@-pepper-total-height: 1040px;
@-pepper-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-pepper: 800px 880px -800px -880px 80px 80px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'Pepper';
@-pepper-2x-name: 'Pepper@2x';
@-pepper-2x-x: 640px;
@-pepper-2x-y: 640px;
@-pepper-2x-offset-x: -640px;
@-pepper-2x-offset-y: -640px;
@-pepper-2x-width: 160px;
@-pepper-2x-height: 160px;
@-pepper-2x-total-width: 1040px;
@-pepper-2x-total-height: 1040px;
@-pepper-2x-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-pepper-2x: 640px 640px -640px -640px 160px 160px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'Pepper@2x';
@-st-george-name: 'StGeorge';
@-st-george-x: 960px;
@-st-george-y: 0px;
@-st-george-offset-x: -960px;
@-st-george-offset-y: 0px;
@-st-george-width: 80px;
@-st-george-height: 80px;
@-st-george-total-width: 1040px;
@-st-george-total-height: 1040px;
@-st-george-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-st-george: 960px 0px -960px 0px 80px 80px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'StGeorge';
@-st-george-2x-name: 'StGeorge@2x';
@-st-george-2x-x: 800px;
@-st-george-2x-y: 0px;
@-st-george-2x-offset-x: -800px;
@-st-george-2x-offset-y: 0px;
@-st-george-2x-width: 160px;
@-st-george-2x-height: 160px;
@-st-george-2x-total-width: 1040px;
@-st-george-2x-total-height: 1040px;
@-st-george-2x-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-st-george-2x: 800px 0px -800px 0px 160px 160px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'StGeorge@2x';
@-suncorp-name: 'Suncorp';
@-suncorp-x: 960px;
@-suncorp-y: 160px;
@-suncorp-offset-x: -960px;
@-suncorp-offset-y: -160px;
@-suncorp-width: 80px;
@-suncorp-height: 80px;
@-suncorp-total-width: 1040px;
@-suncorp-total-height: 1040px;
@-suncorp-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-suncorp: 960px 160px -960px -160px 80px 80px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'Suncorp';
@-suncorp-2x-name: 'Suncorp@2x';
@-suncorp-2x-x: 800px;
@-suncorp-2x-y: 160px;
@-suncorp-2x-offset-x: -800px;
@-suncorp-2x-offset-y: -160px;
@-suncorp-2x-width: 160px;
@-suncorp-2x-height: 160px;
@-suncorp-2x-total-width: 1040px;
@-suncorp-2x-total-height: 1040px;
@-suncorp-2x-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-suncorp-2x: 800px 160px -800px -160px 160px 160px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'Suncorp@2x';
@-the-rock-name: 'TheRock';
@-the-rock-x: 960px;
@-the-rock-y: 320px;
@-the-rock-offset-x: -960px;
@-the-rock-offset-y: -320px;
@-the-rock-width: 80px;
@-the-rock-height: 80px;
@-the-rock-total-width: 1040px;
@-the-rock-total-height: 1040px;
@-the-rock-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-the-rock: 960px 320px -960px -320px 80px 80px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'TheRock';
@-the-rock-2x-name: 'TheRock@2x';
@-the-rock-2x-x: 800px;
@-the-rock-2x-y: 320px;
@-the-rock-2x-offset-x: -800px;
@-the-rock-2x-offset-y: -320px;
@-the-rock-2x-width: 160px;
@-the-rock-2x-height: 160px;
@-the-rock-2x-total-width: 1040px;
@-the-rock-2x-total-height: 1040px;
@-the-rock-2x-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-the-rock-2x: 800px 320px -800px -320px 160px 160px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'TheRock@2x';
@-westpac-name: 'Westpac';
@-westpac-x: 960px;
@-westpac-y: 480px;
@-westpac-offset-x: -960px;
@-westpac-offset-y: -480px;
@-westpac-width: 80px;
@-westpac-height: 80px;
@-westpac-total-width: 1040px;
@-westpac-total-height: 1040px;
@-westpac-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-westpac: 960px 480px -960px -480px 80px 80px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'Westpac';
@-westpac-2x-name: 'Westpac@2x';
@-westpac-2x-x: 800px;
@-westpac-2x-y: 480px;
@-westpac-2x-offset-x: -800px;
@-westpac-2x-offset-y: -480px;
@-westpac-2x-width: 160px;
@-westpac-2x-height: 160px;
@-westpac-2x-total-width: 1040px;
@-westpac-2x-total-height: 1040px;
@-westpac-2x-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-westpac-2x: 800px 480px -800px -480px 160px 160px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'Westpac@2x';
@-wide-bay-name: 'Wide-Bay';
@-wide-bay-x: 960px;
@-wide-bay-y: 640px;
@-wide-bay-offset-x: -960px;
@-wide-bay-offset-y: -640px;
@-wide-bay-width: 80px;
@-wide-bay-height: 80px;
@-wide-bay-total-width: 1040px;
@-wide-bay-total-height: 1040px;
@-wide-bay-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-wide-bay: 960px 640px -960px -640px 80px 80px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'Wide-Bay';
@-wide-bay-2x-name: 'Wide-Bay@2x';
@-wide-bay-2x-x: 800px;
@-wide-bay-2x-y: 640px;
@-wide-bay-2x-offset-x: -800px;
@-wide-bay-2x-offset-y: -640px;
@-wide-bay-2x-width: 160px;
@-wide-bay-2x-height: 160px;
@-wide-bay-2x-total-width: 1040px;
@-wide-bay-2x-total-height: 1040px;
@-wide-bay-2x-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@-wide-bay-2x: 800px 640px -800px -640px 160px 160px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'Wide-Bay@2x';
@citibank-name: 'citibank';
@citibank-x: 960px;
@citibank-y: 800px;
@citibank-offset-x: -960px;
@citibank-offset-y: -800px;
@citibank-width: 80px;
@citibank-height: 80px;
@citibank-total-width: 1040px;
@citibank-total-height: 1040px;
@citibank-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@citibank: 960px 800px -960px -800px 80px 80px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'citibank';
@citibank-2x-name: 'citibank@2x';
@citibank-2x-x: 0px;
@citibank-2x-y: 800px;
@citibank-2x-offset-x: 0px;
@citibank-2x-offset-y: -800px;
@citibank-2x-width: 160px;
@citibank-2x-height: 160px;
@citibank-2x-total-width: 1040px;
@citibank-2x-total-height: 1040px;
@citibank-2x-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@citibank-2x: 0px 800px 0px -800px 160px 160px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'citibank@2x';
@heritage-name: 'heritage';
@heritage-x: 0px;
@heritage-y: 960px;
@heritage-offset-x: 0px;
@heritage-offset-y: -960px;
@heritage-width: 80px;
@heritage-height: 80px;
@heritage-total-width: 1040px;
@heritage-total-height: 1040px;
@heritage-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@heritage: 0px 960px 0px -960px 80px 80px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'heritage';
@heritage-2x-name: 'heritage@2x';
@heritage-2x-x: 160px;
@heritage-2x-y: 800px;
@heritage-2x-offset-x: -160px;
@heritage-2x-offset-y: -800px;
@heritage-2x-width: 160px;
@heritage-2x-height: 160px;
@heritage-2x-total-width: 1040px;
@heritage-2x-total-height: 1040px;
@heritage-2x-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@heritage-2x: 160px 800px -160px -800px 160px 160px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'heritage@2x';
@nab-name: 'nab';
@nab-x: 160px;
@nab-y: 960px;
@nab-offset-x: -160px;
@nab-offset-y: -960px;
@nab-width: 80px;
@nab-height: 80px;
@nab-total-width: 1040px;
@nab-total-height: 1040px;
@nab-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@nab: 160px 960px -160px -960px 80px 80px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'nab';
@nab-2x-name: 'nab@2x';
@nab-2x-x: 160px;
@nab-2x-y: 0px;
@nab-2x-offset-x: -160px;
@nab-2x-offset-y: 0px;
@nab-2x-width: 160px;
@nab-2x-height: 160px;
@nab-2x-total-width: 1040px;
@nab-2x-total-height: 1040px;
@nab-2x-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@nab-2x: 160px 0px -160px 0px 160px 160px 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' 'nab@2x';
@spritesheet-width: 1040px;
@spritesheet-height: 1040px;
@spritesheet-image: '..\..\..\graphics\logos\sprites\homeloan.png';
@spritesheet-sprites: @-a-f-g @-a-f-g-2x @-a-f-g-g-r-e-e-n @-a-f-g-g-r-e-e-n-2x @-a-m-p @-a-m-p-2x @-a-n-z @-a-n-z-2x @-adelaide-bank @-adelaide-bank-2x @-auswide @-auswide-2x @-b-o-q @-b-o-q-2x @-bank-s-a @-bank-s-a-2x @-bank-of-china @-bank-of-china-2x @-bank-of-melbourne @-bank-of-melbourne-2x @-bankwest @-bankwest-2x @-bluestone @-bluestone-2x @-c-b-a @-c-b-a-2x @-home-start @-home-start-2x @-i-n-g @-i-n-g-2x @-keystart @-keystart-2x @-la-trobe @-la-trobe-2x @-liberty-financial @-liberty-financial-2x @-m-k-m @-m-k-m-2x @-macquarie @-macquarie-2x @-me-bank @-me-bank-2x @-n-a-b-broker @-n-a-b-broker-2x @-p-n @-p-n-2x @-pepper @-pepper-2x @-st-george @-st-george-2x @-suncorp @-suncorp-2x @-the-rock @-the-rock-2x @-westpac @-westpac-2x @-wide-bay @-wide-bay-2x @citibank @citibank-2x @heritage @heritage-2x @nab @nab-2x;
@spritesheet: 1040px 1040px '..\..\..\graphics\logos\sprites\homeloan.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
