//Non XS modes:
.morePromptContainer {
	text-align:center;
	margin-bottom: 20px;
	@media(@xs-only) {
		margin-top: 20px;
	}
}

.morePromptCell {
	line-height: 31px;
	&:before {
		.beforeVerticalCentering();
	}

	a {
		text-decoration: none;
	}

	.icon-angle-down {
		color: #fff;
		vertical-align: middle;
		margin: 0 8px;
	}

	.morePromptLink {
		background: @results-morePromptLink-bg-color;
		width: 262px;
		height: 31px;
		color: #FFF;
		margin: 0 8px;
		display:inline-block;
	}
}
