//-------------------------------------------------------------------------------------------
// HOMELOAN MOREINFO DESIGN SPECIALISATIONS.
// Based primarily off travel so any enhancements should be considered across both.
//-------------------------------------------------------------------------------------------

@verticalCenteringHeight: 80px;

//-------------------------------------------------------------------------------------------
//Vertical Centering Mixins
.beforeVerticalCentering() {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	//margin-right: -0.25em; /* Adjusts for spacing */
}

.contentVerticalCentering() {
	display: inline-block;
	vertical-align: middle;
	word-break:break-word;
}

.more-info-content {
	h5 {
		color: #1c3e93;
		font-size: 16px;
		line-height: 1.7;
	}
}
//-------------------------------------------------------------------------------------------
//All breakpoints XS and up.

.PDS-btn {
	margin-bottom: 10px;
}

.more-info-content {
	padding: 0 15px;

	.priceMode > div {
		margin-bottom: 10px;
	}

	.frequency,
	.excess {
		text-align: right;
	}

	.disclaimer {
		margin-top: 40px;
	}

	.btn-apply {
		margin-top: 10px;
	}
}

.headerBar > div > .logoContainer {
	padding: 0;
	.companyLogo {
		height: @verticalCenteringHeight;
		&:before {
			.beforeVerticalCentering();
		}
		img {
			.contentVerticalCentering();
		}
	}
}

@media(@md) {
	.more-info-content .priceMode .frequencyTitle,
	.more-info-content .priceMode .excessTitle {
		width: 80px;
		text-align:left;
	}
}
@media(@sm) {
	.bridgingContainer {
		max-width: 800px;
	}

	.headerBar > div > .logoContainer {
		.companyLogo {
			padding-right:10px;
		}
	}

	.verticalCenterContainer {
		padding: 0;
		height: @verticalCenteringHeight;
		&:before {
			.beforeVerticalCentering();
		}
		h2, a {
			margin-bottom: 0;
			.contentVerticalCentering();
		}

		a {
			width:159px;

			@media(@md){
				width:172px;
			}
		}
	}
}

//-------------------------------------------------------------------------------------------
//XS ONLY breakpoints

@media(@xs-only) {

	.about {
		padding:10px;
	}

	.headerBar > div > .verticalCenterContainer {
		padding: 0;
		height: @verticalCenteringHeight;
		&:before {
			.beforeVerticalCentering();
		}
		> h2{
			margin: 0 0 0 5px;
			.contentVerticalCentering();
		}
	}
}
