
// Results page marketing message
header{

	min-height: 40px !important;
}

div[class*="ToggleArea"].show_N,
div[class*="ToggleArea"].show_ {
	display: none;
}
div[class*="ToggleArea"].show_Y {
	display: block;
}