@tick-color: @theme-secondary;
@cross-color: #FF5F5F;

@icon-bg-checked-color: @theme-secondary;
@icon-bg-hover-color: fade(@theme-tertiary, 20%);

@round-label-width-xs: 96px;
@round-label-width-sm: 85px;
@round-label-width-md: 90px;
@round-label-width-lg: 111px;

@round-size-default: 50px;
@round-size-sm: 40px;

// Colour of the interest rate percentage and label
@results-interest-rate-color: @theme-tertiary;