.health[data-step="results"] .results-control-container {
  .more-info-return-to-results,
  .more-info-save-quote,
  .more-info-affixed-header {
    display: none;
  }

  .results-filters-frequency,
  .filter-results-hidden-products,
  .results-pagination,
  .results-ref-sidebar {
    display:block;
  }
}

.moreInfoVisible[data-step="results"] .results-control-container {
  .results-filters-frequency,
  .filter-results-hidden-products,
  .results-pagination,
  .more-info-affixed-header {
    display:none;
  }

  .more-info-return-to-results,
  .more-info-save-quote {
    display: block;
  }

  &.affix {
    .more-info-affixed-header {
      display:block;
    }

    .more-info-return-to-results,
    .more-info-save-quote,
    .results-ref-sidebar,
    .more-info-affixed-header .lhcText {
      display: none;
    }
  }
}

.more-info-affixed-header {
  padding-bottom: 20px;

  div[class*="col-xs-"] {
    vertical-align: middle;
  }

  .vertical-align {
    line-height: 60px;
  }
}


.more-info-return-to-results,
.more-info-save-quote {
  line-height: 40px;
}

.more-info-save-quote {
  border-left: 2px solid @gray;
}

// Bridging page
.moreInfoDropdown {

  padding-top: 20px;

  @media (@xs-only) {
    background-color: @theme-light;
  }
  @media (@sm-only) {
    h2 {
      font-size: 20px;
    }
  }

  .modal-header {
    margin-top: 18px;
  }

  .productSummary {
    .companyLogo {
      margin: inherit;
    }

    &.mobile {
      margin-bottom: 20px;
    }
  }

  .productName {
    h2 {
      color: @theme-accent-4;
    }
  }

  .productExtraInfo {
    padding: 10px;
    border-bottom: 1px solid @gray-lighter;
  }


  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    align-items: center;
    justify-content: center;
  }

  .leftAlignedLink {
    text-align: left;
    padding-left: 0;
  }


  .heading {
    color: @theme-accent-4;
  }

  .download-hospital-brochure,
  .download-extras-brochure {
    &:hover {
      color: @theme-tertiary;
    }
  }
}