<?xml version="1.0" encoding="UTF-8"?>
<aggregator>

	<westpacGateway>
		 <!--You can find a test page at https://quickstream.support.qvalent.com/ahmg/prereg/ -->
		<tokenUrl>https://quickstream.support.qvalent.com/CommunityTokenRequestServlet</tokenUrl>
		<username>AHMG</username>
		<password>AHMG</password>
		<registerUrl>https://quickstream.support.qvalent.com/AccountRegistrationServlet</registerUrl>
		<cd_community>AHMG</cd_community>
		<cd_supplier_business>CTM</cd_supplier_business>
	</westpacGateway>

	<merge-root>soap-response</merge-root>
	<merge-xsl>merge-results.xsl</merge-xsl>
	<config-dir>aggregator/health_application</config-dir>
	<debug-dir>health_application/debug</debug-dir>
	<validation-file>WEB-INF/xsd/health/AHM/healthApplication.xsd</validation-file>

	<service name="AHM" type="soap">
		<soap-url>https://webagdev.ahm.com.au/WHICSServices/MembershipService.svc</soap-url>
		<content-type>application/soap+xml; charset=utf-8</content-type>
		<outbound-xsl>ahm/outbound.xsl</outbound-xsl>
		<inbound-xsl>ahm/inbound.xsl</inbound-xsl>
		<maskRequestIn-xsl>maskRequestIn.xsl</maskRequestIn-xsl>
		<maskRequestOut-xsl>ahm/maskRequestOut.xsl</maskRequestOut-xsl>
		<maskRespIn-xsl>ahm/maskRespIn.xsl</maskRespIn-xsl>
		<timeoutMillis>240000</timeoutMillis>
	</service>

</aggregator>
