// Loaded after the framework core, and full framework build. Before the health specific modules build.
// See: framework.build.health.amcl.less

//
// Variables: See the Whitelabel style guide for the agreed mapping and
// inheritance of any components.
// ---------------------------------------------------------------------------
//

//Using CTM as a base for colours and paddings.
@import (reference) '../../ctm/less/ctm.variables.health.less';

//-------------------------------------------------------------------------------
// HEALTH Variables:
//-------------------------------------------------------------------------------

@checkbox-health-compare-tick-checked: @theme-secondary;

@results-features-promos-color: @theme-tertiary;

@more-info-health-product-color: @theme-accent;
@more-info-about-color: @theme-accent;
@more-info-nextsteps-color: @theme-accent;

@more-info-product-color: @theme-tertiary;
