.control-sub-label .abd-modal-trigger,
.abd-support-text .abd-modal-trigger {
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  text-decoration: none;

  a {
    color: @primary500;
    text-decoration: none;
  }

  .help-icon {
    line-height: 20px;
    color: @primary500;
  }
}