.medicareCheck {
	border: 1px solid @gray;
	border-radius: 5px;
	margin-bottom: 15px;

	> div {
		padding: 0;
	}

	.question {
		padding: 5px;
		background-color: @gray-lighter;
		color: @theme-secondary;
		border-bottom: 1px solid @gray;
		font-size:16px;
		text-align:center;
	}

	.action {
		font-size: 14px;
		text-align:center;
		color: @theme-tertiary;
		padding: 5px;
	}
}