.medicareCheck {
	margin-bottom: 15px;

	.question {
		border: 1px solid @gray;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		padding: 5px;
		background-color: @gray-lighter;
		color: @theme-accent-4;
		font-size:16px;
		text-align:center;
	}

	.action {
		border: 1px solid @gray;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		border-top: none;
		font-size: 14px;
		text-align:center;
		color: @theme-tertiary;
		padding: 5px;
	}
}