.income_container {
  padding-left: 30px;

  .rebate-label {
    color: @theme-secondary;
  }

  .selectedRebate {
    color: @gray;
  }
}

#healthAboutYou {
  .income_container {
    .select {
      width: 300px;
    }
  }
}