.normal-header {
	background-color: @header-bg;
	height: 105px;
	h1 a {
		background: transparent url('../graphics/logo.png') no-repeat top left !important;
	}
}

.narrow-header {
	background-color: @header-bg;
	h1 a {
		background: transparent url('../graphics/logo-xs-@2x') no-repeat top left !important;
	}
}

#loading-popup, #transferring-popup {
	background: transparent url('../../legacy/images/loading_panel.png') no-repeat top left !important;
}

#steps {
	background-image: url('../../legacy/images/menu_bg.png') !important;
}

#steps.complete {
	background-image: url('../../legacy/images/menu_bg_complete.png') !important;
}

#steps li a {
	color: #ffffff;
	background-image: url('../../legacy/images/menu_separator.png') !important;
}

html #steps li:first-child a {
	background: url("../../legacy/images/menu_step_current.png") right center no-repeat !important;
}

html #steps li.current a {
	background: url("../../legacy/images/menu_step_current.png") right center no-repeat !important;
}

html #steps li.complete:last-child a {
	background: url("../../legacy/images/menu_step_current.png") right center no-repeat !important;
}

html #steps .complete a,html #steps li.complete:first-child a {
	background: url("../../legacy/images/menu_step_complete.png") right center no-repeat !important;
}

html #steps li.current a {
	background: url("../../legacy/images/menu_step_current.png") right center no-repeat !important;
}

h1,h2,h3,h4,h5,h2 span,#results-information h2,#results-information h2 span,.apply-online-template h5, #save-popup h5,#save-popup h6
	{
	font-family: arial;
	color: @theme-primary;//@theme-primary;//#1945fa;

}

#sidePanel h1 {
	color: @theme-primary;//#1945fa;
}

.qe-window h4 {
	color: @theme-secondary;//@theme-primary//#1945fa;
}

.right-panel-top,#policy_details .header,.side-message .header {
	background-image: url('../../legacy/images/quote_bg_top.png');
}

.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default
	{
	border: 1px solid @theme-primary;//#1945fa;
	background: @theme-primary;//#1945fa;
}

.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active
	{
	color: @theme-primary;//#1945fa;
}

.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus
	{
	border-color: @theme-primary;//#1945fa;
	background: @theme-primary;//#1945fa;
}

.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited {
	color: @theme-primary;//#1945fa;
}

.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default
	{
	// border: 1px solid #e3e8ec;
	// background-color: #f4f5f7;
	// background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eaecf0));
	// background-image: -webkit-linear-gradient(top, #ffffff, #eaecf0);
	// background-image: -moz-linear-gradient(top, #ffffff, #eaecf0);
	// background-image: -ms-linear-gradient(top, #ffffff, #eaecf0);
	// background-image: -o-linear-gradient(top, #ffffff, #eaecf0);
	// background-image: linear-gradient(to bottom, #ffffff, #eaecf0);
	#gradient > .vertical(#fff, #eaecf0);

	background-color: #fff;
	border: 1px solid #D3D3D3;
	color: #555555;
	font-weight: 600;
}

.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active
	{
	// background-image: -webkit-gradient(linear, left top, left bottom, from(#3788FF), to(#1A47FA));
	// background-image: -webkit-linear-gradient(top, #3788FF, #1A47FA);
	// background-image: -moz-linear-gradient(top, #3788FF, #1A47FA);
	// background-image: -ms-linear-gradient(top, #3788FF, #1A47FA);
	// background-image: -o-linear-gradient(top, #3788FF, #1A47FA);
	// background-image: linear-gradient(to bottom, #3788FF, #1A47FA);
	background-color: lighten(@theme-secondary, 14%);
	border: 1px solid @theme-secondary;
	color: contrast(@theme-secondary);
	font-weight: 600;
	#gradient > .vertical(lighten(@theme-secondary, 14%), @theme-secondary);

}

#summary-header a.button,.button-wrapper #next-step,.button-wrapper #reminder-button,#update-step,.button-wrapper #confirm-step,.button-wrapper #results-alt-buttons a,#aside a.button,#applyOnlineDialog #aolApplyButton a.button,#results-edit-benefits a.button,#moreDetailsDialog a.button,.green-button,#summary-header a.button,#content a.button,#aside a.button,#applyOnlineDialog #aolApplyButton a.button,#results-edit-benefits a.button,#moreDetailsDialog a.button,.green-button,.widebtn,.bigbtn,.updatebtn,.cancelbtn,.buybtnbig,#dialog_car_ok,.smlbtn,.moreinfobtn,.buybtn,.compare-selected,.ok-button,#resultsPage .button,body .blueButton,body .greenButton,
#compare-form-wrapper a.compare-button.active, #save-my-quote, #refine-quotes, #refine-quotes.active, a.product-more-info, a.we-call-you, .expanded a.product-more-info,
#compare-form-wrapper a.compare-button.close, .primary-button, #left-panel .edit-selection a,
#content a.button.prompt, #summary-header #save, .more-details, a .compareBtn
	{
	// background-image: -webkit-gradient(linear, left top, left bottom, from(#3788FF), to(#1A47FA));
	// background-image: -webkit-linear-gradient(top, #3788FF, #1A47FA);
	// background-image: -moz-linear-gradient(top, #3788FF, #1A47FA);
	// background-image: -ms-linear-gradient(top, #3788FF, #1A47FA);
	// background-image: -o-linear-gradient(top, #3788FF, #1A47FA);
	// background-image: linear-gradient(to bottom, #3788FF, #1A47FA);
	border: 1px solid @theme-secondary;
	color: contrast(@theme-secondary);
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0px 1px 0px rgba(255,255,255,0.1);
	text-shadow:0px -1px 0px rgba(0,0,0,0.2);
	#gradient > .vertical(lighten(@theme-secondary, 7%), @theme-secondary);

	&:hover {
		#gradient > .vertical(lighten(@theme-secondary, 17%), @theme-secondary);
	}
}

// #summary-header a.button:hover,.button-wrapper #next-step:hover,.button-wrapper #reminder-button:hover,#update-step:hover,.button-wrapper #confirm-step:hover,.button-wrapper #results-alt-buttons a:hover,#aside a.button:hover,#applyOnlineDialog #aolApplyButton a.button:hover,#results-edit-benefits a.button:hover,#moreDetailsDialog a.button:hover,.green-button:hover,#summary-header a.button:hover,#content a.button:hover,#aside a.button:hover,#applyOnlineDialog #aolApplyButton a.button:hover,#results-edit-benefits a.button:hover,#moreDetailsDialog a.button:hover,.green-button:hover,.widebtn:hover,.bigbtn:hover,.updatebtn:hover,.cancelbtn:hover,.buybtnbig:hover,#dialog_car_ok:hover,.smlbtn:hover,.moreinfobtn:hover,.buybtn:hover,.compare-selected:hover,.ok-button:hover,#resultsPage .button:hover,body .blueButton:hover,body .greenButton:hover,
// #compare-form-wrapper a.compare-button.active:hover, #save-my-quote:hover, #refine-quotes.active:hover, a.product-more-info:hover, a.we-call-you:hover, .expanded a.product-more-info:hover,
// #compare-form-wrapper a.compare-button.close:hover, .primary-button:hover, #left-panel .edit-selection a:hover,
// #content a.button.prompt:hover,#summary-header #save:hover,.more-details:hover, a .compareBtn:hover
// 	{
// 	background-image: -webkit-gradient(linear, left top, left bottom, from(#6DAAFF), to(#1A47FA));
// 	background-image: -webkit-linear-gradient(top, #6DAAFF, #1A47FA);
// 	background-image: -moz-linear-gradient(top, #6DAAFF, #1A47FA);
// 	background-image: -ms-linear-gradient(top, #6DAAFF, #1A47FA);
// 	background-image: -o-linear-gradient(top, #6DAAFF, #1A47FA);
// 	background-image: linear-gradient(to bottom, #6DAAFF, #1A47FA);
// }

#summary-header a.button span,.button-wrapper #next-step span,.button-wrapper #reminder-button span,.button-wrapper #prev-step span,#update-step span,.button-wrapper #confirm-step span,.button-wrapper #results-alt-buttons a span,#aside a.button span,#applyOnlineDialog #aolApplyButton a.button span,#results-edit-benefits a.button span,#moreDetailsDialog a.button span,.green-button span,.bigbtn span,.updatebtn span,.cancelbtn span,.buybtnbig span,#dialog_car_ok span,.smlbtn span,.moreinfobtn span,.buybtn span,.compare-selected span,.ok-button span,#resultsPage .button span ,
#content a.button.prompt span, #prev-step span
	{
	background: none;
	text-shadow:0px -1px 0px rgba(0,0,0,0.2);
}

#summary-header a.button,.button-wrapper #next-step,.button-wrapper #reminder-button,#update-step,.button-wrapper #confirm-step,.button-wrapper #results-alt-buttons a,#aside a.button,#applyOnlineDialog #aolApplyButton a.button,#results-edit-benefits a.button,#moreDetailsDialog a.button,.green-button,#summary-header a.button,#content a.button,#aside a.button,#applyOnlineDialog #aolApplyButton a.button,#results-edit-benefits a.button,#moreDetailsDialog a.button,.green-button, .buybtnbig
	{
	height: 33px;
}

.smlbtn,.moreinfobtn,.buybtn,.compare-selected,.ok-button,#resultsPage .button
	{
	height: 26px;
}

#compare-form-wrapper a.compare-button{
	background: lighten(@theme-secondary, 17%);
	border: 1px solid @theme-secondary;
	color: contrast(@theme-secondary,#6676AD);
}

/* Dialogs */
.dialogHeaderLeft,.dialogHeaderRight {
	background: @theme-secondary !important;
}

.applyOnline {
	background-image: url('../../legacy/images/dialog/header_920.png') !important;
}

#aol-call-to-action-top-left,#aol-call-to-action-top-right,#aol-call-to-action-top-center
	{
	background: @theme-primary;//#1945fa;
}

.ui-dialog .ui-dialog-title {
	color: @theme-primary;//#1945fa;
}

#results-popup h5 {
	background-image: url("../../legacy/images/dialog/header_540.gif") !important;
}

/* Utilities */
.energyConsumptionDialogContainer h2,.stateEnergyConcessionDialogContainer h2,.switchwiseCalculatorDialogContainer h2,.energyConsumptionDialogContainer h3,.stateEnergyConcessionDialogContainer h3,.switchwiseCalculatorDialogContainer h3,.energyConsumptionDialogContainer h4,.stateEnergyConcessionDialogContainer h4,.switchwiseCalculatorDialogContainer h4
	{
	color: @theme-primary;//#1945fa;
}
/* Travel */
.result-row .price {
	color: @theme-primary;//#1945fa;
}

/* Fuel */
#results-container .result-row .price span,#results-container .result-row .price1 span,#results-container .result-row .price2 span
	{
	color: @theme-primary;//#1945fa;
}

#quickForm .head,#aside .aside .head {
	background: url("../../legacy/images/bg_form_aside.png") center top no-repeat !important;
	padding: 5px 5px 0 5px;
	min-height: 20px;
	//white-space:
}

/** IP */

#reference_number a {
	height: 33px;
	width:120px;
}
#reference_number a span{
	width:auto;
}

#compare-form-wrapper{
	background: @theme-primary;//#1945fa;
}

#results-rows-wrapper .results-row .product.price h4{
	color: @theme-primary;//#1945fa;
}

#results-mast-wrapper .results-mast .what-next div{
	color: @theme-primary;//#1945fa;
}

/* health */
.health #results-header .current-results .apply-button{
	background-color: @theme-primary;//#1945fa;
}
.health #results-header .current-results .compare-button a{
	border:none;
}

/* car */
#results_compare{
	background: @theme-primary;//#1945fa;
}

.annualPayment, .instalmentTotal{
	color: @theme-primary;//#1945fa;
}

.moreDetailsDialogContainer .green{
	color: @theme-primary;//#1945fa;
}

.moreDetailsDialogContainer h5{
	color: @theme-primary;//#1945fa;
}

.compareBox {
	border-color: rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 0px rgba(255,255,255,0.1);
}
.noneSelected {
	background: rgba(0, 0, 0, 0.1);
}
.noneSelectedText{
	color:rgba(0,0,0,0.5);
	text-shadow: 0px 1px 0px rgba(255,255,255,0.1);
}

//unsubscribe pages overrides:
#unsubscribeForm h1 { color: @theme-secondary !important; }
#unsubscribeForm .blue-bar img { display:none; }
#unsubscribeForm .link {	color: @link-color !important; }