@font-face {
	font-family: "SunLt Light";
	src: url(../fonts/Sun_LT_300.eot);
	src: url(../fonts/Sun_LT_300.woff) format("woff");
	font-weight: 300;
}

@font-face {
	font-family: "SunLt Bold";
	src: url(../fonts/Sun_LT_700_.eot);
	src: url(../fonts/Sun_LT_700_.woff) format("woff");
	font-weight: 700;
}

/*-----------------------------------------------------------
Fonts
-----------------------------------------------------------*/

@font-face {
	font-family: 'SunLTLightRegular';
	src: url("../fonts/sun_lt_3_-webfont.eot");
	src: url("../fonts/sun_lt_3_-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sun_lt_3_-webfont.woff") format("woff"), url("../fonts/sun_lt_3_-webfont.ttf")
	format("truetype"), url("../fonts/sun_lt_3_-webfont.svg#SunLTLightRegular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SunLTBoldRegular';
	src: url("../fonts/sun_lt_7_-webfont.eot");
	src: url("../fonts/sun_lt_7_-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sun_lt_7_-webfont.woff") format("woff"), url("../fonts/sun_lt_7_-webfont.ttf")
	format("truetype"), url("../fonts/sun_lt_7_-webfont.svg#SunLTBoldRegular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'sunsemibold';
	src: url("../fonts/sun6____-webfont.eot");
	src: url("../fonts/sun6____-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sun6____-webfont.woff") format("woff"), url("../fonts/sun6____-webfont.ttf") format("truetype"), url("../fonts/sun6____-webfont.svg#sunsemibold") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'sunextrabold';
	src: url("../fonts/sun8____-webfont.eot");
	src: url("../fonts/sun8____-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sun8____-webfont.woff") format("woff"), url("../fonts/sun8____-webfont.ttf") format("truetype"), url("../fonts/sun8____-webfont.svg#sunextrabold") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'just_another_handregular';
	src: url('fonts/justanotherhand-webfont.eot');
	src: url('fonts/justanotherhand-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/justanotherhand-webfont.woff') format('woff'),
		url('fonts/justanotherhand-webfont.ttf') format('truetype'),
		url('fonts/justanotherhand-webfont.svg#just_another_handregular') format('svg');
	font-weight: normal;
	font-style: normal;
}