/** MIGRATED STYLES **/
#policy_details,
#policy_details .week,
#policy_details .fortnight,
#policy_details .month,
#policy_details .quarter,
#policy_details .halfyear,
#policy_details .annual {
	display:none;
}
#policy_details.week .week,
#policy_details.fortnight .fortnight,
#policy_details.annual .annual,
#policy_details.quarter .quarter,
#policy_details.halfyear .halfyear,
#policy_details.month .month {
	display:block;
}

.health-credit_card_details, .health-bank_details,
#update-content, #confirm-step, .health-payment-details_premium,
.health_declaration, .health-payment-details_update,
.health-payment_details-claims-group,
.health_person-details_middlename, .health_dependant_details_middleName {
	display:none;
}

.health_credit-card-details_paymentDay_group,
.health_credit-card-details_policyDay-group,
.health_credit-card-details_policyDay-message {
	display:none;
}

.health_bank-details_paymentDay_group,
.health_bank-details_policyDay-group,
#health_payment_bank_claim-selection,
.health_bank-details_policyDay-message {
	display:none;
}

.health_credit-card-details_policyDay-message,
.health_bank-details_policyDay-message,
.health_payment-day_message,
#health_medicareDetails_message {
	padding: 11px 0;
}

#health_payment_gateway-content, #health_payment_gateway-dialog, .health_payment_gateway-launchers, .health_payment_gateway-fails, .health_payment_gateway-success, .health_payment_gateway-credit, .health_payment_gateway-bank {
	display: none;
}
body.health_payment_gateway-active #health_payment_gateway-content {
	display: block;
}

.ausgovtrebateform {
	display:none;
}

.callCentreDeclaration {
	display:none !important;
}

.callCentre .callCentreDeclaration {
	display:block !important;
}

.callCentre .clientDeclaration {
	display:none !important;
}

/*.health_previous_fund_authority {
    display: none;
}*/

.health_dependant_details_maritalincomestatus{
	display: none;
}


/** END MIGRATED STYLES **/

/* HEALTH FUND SPECIFIC CSS CODES */

/* AHM */
body.AHM .health_previous_fund_authority {
	display:block !important;
}
body.AHM .ausgovtrebateform {
	display:block;
}
body.AHM .ausgovtrebateform em {
	display:none;
}
body.AHM .ausgovtrebateform em.AHM {
	display:inline;
}
body.AHM .health-credit_card_details .fieldrow {
	display:none;
}
body.AHM .health-credit_card_details .health_credit-card-details_day_group {
	display:block;
}
body.AHM .health_credit-card-details_day_group,
body.AHM .health_payment_bank_policyDay,
body.AHM .health_bank-details_day-group  {
	display:none !important;
}
body.AHM .health_bank-details_policyDay-group,
body.AHM .health_credit-card-details_policyDay-group {
	display:block !important;
}
body.AHM .health_dependant_details_schoolGroup input {
	display:none !important;
}

body.AHM .health-payment_details-claims-group {
	display:block !important;
}

/* FRANK */
body.FRA .health_credit-card-details_policyDay-group,
body.FRA .health_credit-card-details_policyDay-message,
body.FRA #clientMemberID .health_previous_fund_authority,
body.FRA .health_bank-details_policyDay-group,
body.FRA .health_bank-details_policyDay-message,
body.FRA .health-medicare_details  {
	display:block !important;
}

body.FRA .health_credit-card-details_day_group,
body.FRA .health_payment_bank_policyDay,
body.FRA .health_bank-details_day-group,
body.FRA #partnerMemberID .health_previous_fund_authority {
	display:none !important;
}


body.FRA .health_credit-card-details_policyDay-group .select,
body.FRA .health_bank-details_policyDay-group .select {
	position: absolute;
	visibility: hidden;
}

body.FRA .health_credit-card-details_policyDay-group .fieldrow_label,
body.FRA .health_bank-details_policyDay-group .fieldrow_label {
	visibility:hidden !important;
}



/* GMHBA */
body.GMH .health_bank-details_paymentDay_group,
body.GMH #clientMemberID .health_previous_fund_authority,
body.GMH .health-medicare_details,
body.GMH .health_credit-card-details_policyDay-group,
body.GMH .health_credit-card-details_policyDay-message {
	display:block !important;
}

body.GMH .health_credit-card-details_day_group,
body.GMH .health_bank-details_day-group,
body.GMH #partnerMemberID .health_previous_fund_authority {
	display:none !important;
}

body.GMH .health_credit-card-details_policyDay-group .select {
	position: absolute;
	visibility: hidden;
}

body.GMH .health_credit-card-details_policyDay-group .fieldrow_label {
	visibility:hidden !important;
}


/* GMF */
body.GMF .health_dependant_details_schoolGroup {
	display:none !important;
}


/* NIB */
body.NIB .health_previous_fund_authority,
body.NIB .health_person-details_authority_group,
body.NIB .health_bank-details_policyDay-group,
body.NIB .health_credit-card-details_policyDay-group,
body.NIB .health-payment_details-claims-group {
	display:block !important;
}

body.NIB .health_declaration,
body.NIB .health_credit-card-details_day_group,
body.NIB .health_bank-details_day-group {
	display:none !important;
}

/* AUF */
body.AUF .health_declaration,
body.AUF .health_credit-card-details_day_group,
body.AUF .health_bank-details_day-group {
	display:none !important;
}

body.AUF .health_bank-details_policyDay-group,
body.AUF .health_credit-card-details_policyDay-group {
	display:block !important;
}

/* WFD */
body.WFD #health_declaration-selection .content .fieldrow_label,
body.WFD .health_credit-card-details_policyDay-group .fieldrow_label,
body.WFD .health_bank-details_policyDay-group .fieldrow_label  {
	visibility:hidden !important;
}

body.WFD .health_credit-card-details_policyDay-group,
body.WFD .health_bank-details_policyDay-group {
	display:block !important;
}

body.WFD .health_credit-card-details_policyDay-message,
body.WFD .health_bank-details_policyDay-message {
	display:block !important;
}

body.WFD #health_declaration-selection .content .fieldrow_value input,
body.WFD #health_declaration-selection .content .fieldrow_value label,
body.WFD .health_credit-card-details_day_group,
body.WFD .health_payment_bank_policyDay,
body.WFD .health_bank-details_day-group {
	display:none !important;
}

body.WFD .health_credit-card-details_policyDay-group .select,
body.WFD .health_bank-details_policyDay-group .select {
	position: absolute;
	visibility: hidden;
}
