/* Initial Page */

.accessUser {
	display:none;
}
.callcentre .accessUser {
	display:inline;
}

#content {
	min-height:420px;
}

.health .hidden {
	display:none !important;
}

.health #content #update-step {
	width:200px;
}

#health-situation {
	margin-bottom:20px;
}

#headerError {
	background-image:none;
	background-color:#FBFBFB;
	border:1px solid #F4A97F;
	margin-top:24px;
	padding:20px;
	width:683px;
	display:none;
	border-radius:5px;
}

.FixedResults #helpToolTip {
	z-index: 105;/* bump above #HLT_InPageLeft */
}

.stage-5.health #header-save-your-quote {
	display:none !important;
}
.stage-5.health #reference_number {
	z-index: 50;
}
	.stage-5.health #reference_number h4 {
		margin-top:30px;
	}

.health #content #update-step,
.health #content #confirm-step,
.health.stage-4 #content #next-step {
	display:none;
}

.stage-0.health #content #confirm-step,
.stage-1.health #content #confirm-step,
.stage-2.health #content #confirm-step,
.stage-3.health #content #confirm-step,
.stage-5.health #content #confirm-step {
	display:none !important;
}

.stage-0 #content {
	min-height:700px;/*For iPad*/
}
.stage-0.health #slide0 {
	max-height:5000px !important;
}

.stage-4 #next-step,
.stage-5 #next-step {
	display:none !important;
}

.stage-0.health #policy_details,
.stage-1.health #policy_details,
.stage-2.health #policy_details {
	display:none !important;
}

.stage-5.health .marketing-panel {
	display:none !important;
}


.stage-2 #prev-step,
.stage-2 #next-step {
	display:none !important;
}

.slide5 h2 {
	margin-bottom:20px;
}

.stage-5.health #qe-wrapper .scrollable,
#slide5.qe-screen {
	width:980px;
}


.stage-4.health .health-assurance-message {
	display:block;
}

.stage-4.health .right-panel.marketing-panel {
	display:none !important;
}

#policy_snapshot {
	width:620px;
}

.health #policy_snapshot div li.N, .health #more_snapshotDialog div li.N {
	background-image: url("../brand/ctm/images/cross_sml.png");
}



.dialog_footer {
	position: absolute;
	left: 0;
	bottom: 0;
	background: url("../common/images/dialog/footer_637.gif") no-repeat scroll left top transparent;
	width: 637px;
	height: 14px;
	clear: both;
}

#policy_snapshot div li,
#more_snapshotDialog div li,
.health .promotion-box .read-more {
	display: block;
	padding-left: 15px;
	background: url("../brand/ctm/images/bullet_edit.png") left 3px no-repeat;
	text-decoration: none;
	margin: 5px 0 7px 20px;
	font-size: 98%;
}

#policy_snapshot h4,
#more_snapshotDialog h4 {
	font-family: 			"SunLT Bold","Open Sans",Helvetica,Arial,sans-serif;
	font-size: 				20px;
	padding: 				10px 0 4px 0px;
	color: 					#0C4DA2;
	position: 				relative;
	font-weight: 			bold;
	background:				transparent;
	margin-top:10px;
}


#policy_snapshot h5,
#more_snapshotDialog h5 {
	padding:10px 0 0 20px;
}

#policy_snapshot div.PDF,
#more_snapshotDialog div.PDF {
	margin-top:20px;
	color:#0C4DA2;
	font-size:13px;
	margin-left:20px;
	width:160px;
}

	#policy_snapshot .PDF a,
	#more_snapshotDialog .PDF a {
		font-size:100%;
	}

#confirmation-order-summary h5 {
	color:#0C4DA2;
	font-size:14px;
	padding:10px 0 10px 20px;
	margin:0;
	clear:both;
}

#confirmation_call h3 {
	font-size:				15pt;
	padding:				15px 20px;
	color:					#E54200;
}

#confirmation_call h3 span {
	color:					#4A4F51;
}

#confirmation_call a {
	display:				block;
	width:					186px;
	height:					33px;
	cursor:pointer: 		cursor:hand;
	margin:					0 0 0 20px;
	padding:				0 0 5px 0;
	text-decoration: 		none;
	background:				transparent url(../brand/ctm/images/button_bg_bl.png) top left no-repeat;
}

#confirmation_call a span {
	display: 				block;
	font-size:				11.25pt;
	font-weight:			bold;
	height: 				100%;
	width: 					100%;
	line-height: 			33px;
	margin:					0;
	padding:				0;
	text-align: 			center;
	color: 					#ffffff;
	background: 			transparent url(../brand/ctm/images/button_bg_bl_right.png) top right no-repeat;
	text-shadow: 			0px 1px 1px rgba(0,0,0,0.5);
}

#confirmation_call .headed-box-middle {
	padding:				0px 12px;
}

.stage-5 #policy_details .more {
	display:none;
}

#summary-header h2 {
	color: 					#4A4F51;
	font-family: 			"SunLT Light",Arial,Helvetica,sans-serif;
	font-size: 21px;
	font-weight: normal;
	line-height:110%;
	height:44px;
}

#summary-header a.button {
	margin:0;
	position:absolute;
	right:0px;
	top:18px;
}

#policy_snapshot .ui-tabs-nav li a,
#more_snapshotDialog .ui-tabs-nav li a {
	text-align:center;
	font-family:"SunLT Bold",Arial,Helvetica,Sans-serif;
	background-color:#FBFBFB;
	font-size:14px;
	font-family:"SunLT Bold",Arial,Helvetica,Sans-serif;
	color:#0CB24E;
	border:3px solid #D9D9D9;
	margin-bottom:-3px;
	margin-right:-3px;
}

#policy_snapshot .ui-tabs-nav li.ui-state-active a,
#more_snapshotDialog .ui-tabs-nav li.ui-state-active a {
	background-color:#0CB24E;
	color:#fff;
}

#policy_snapshot .ui-tabs-panel,
#more_snapshotDialog .ui-tabs-panel {
	border:3px solid #D9D9D9;
	padding:10px;
}

	#more_snapshotDialog .middle .panel-message li,
	.middle .panel-message li {
		color:#666666;
		font-size:14px;
		padding:6px;
	}

		#more_snapshotDialog .health-assurance-message .panel-message ul
		.health-assurance-message .panel-message ul {
			margin-bottom: 6px;
			margin-top: 12px;
		}

		#more_snapshotDialog .health-assurance-message .panel-message li,
		.health-assurance-message .panel-message li {
			padding-left:24px;
			background-position:left 4px;
			background-repeat:no-repeat;
			margin:0px;
		}

		#more_snapshotDialog .health-assurance-message .panel-message li.message-secure,
		.health-assurance-message .panel-message li.message-secure {
			background-image:url("../brand/ctm/images/icon_assurance_secure.png") !important;
		}
		#more_snapshotDialog .health-assurance-message .panel-message li.message-cooling,
		.health-assurance-message .panel-message li.message-cooling {
			background-image:url("../brand/ctm/images/icon_assurance_calendar.png")  !important;
		}
		#more_snapshotDialog .panel-message li.message-call,
		.health-assurance-message .panel-message li.message-call {
			background-image:url("../brand/ctm/images/icon_assurance_australia.png")  !important;
		}
		#more_snapshotDialog .health-assurance-message .panel-message li.message-no-charge,
		.health-assurance-message .panel-message li.message-no-charge {
			background-image:url("../brand/ctm/images/icon_assurance_no_charges.png")  !important;
		}

#health_healthCover_tier .fieldrow_value,
#health_declaration-selection .fieldrow_value {
	width:385px;
}

#health_healthCover_incomeMessage,
#health_application_dependants_incomeMessage,
#health_payment_details_premiumMessage {
	width:150px;
	float:right;
	margin-top:3px;
}

#health_payment_details_premiumMessage {
	display:block;
	width:150px;
	float:none;
	margin-top:3px;
}

#health_payment_details_premiumMessage {
	padding-top:10px;
	margin-left:24px;
}

.hasAltPremium #health_payment_details_premiumMessage {
	width:250px;
	margin-top:-5px;
}

#health_contactDetails_callMessage {
	position:absolute;
	top:-6px;
	right:20px;
	width:220px;
	font-size:12px;
}

#health_application_email {
	width:255px;
}
#health_application_emailMessage {
	position:absolute;
	right:20px;
	width:120px;
	font-size:11px;
	top:-4px;
}

.health .premium strong {
	font-size:18px;
	font-weight:600;
	font-family:arial,helvetica,sans-serif;
	letter-spacing:-0.25px;
}

.health-payment-details_premium .premium div,
.health-payment-details_premium .premium {
	margin-left:0px !important;
}

.health-payment-details_premium .fieldrow_label {
	padding-top:5px;
	font-size:115%;
	color:#0CB24E;
}

#confirmation-order-summary #policy_details {
	margin-left:0px;
}

	#confirmation-order-summary #policy_details .message {
		display:none !important;
	}

#health_medicareDetails_message {
	float: right;
	font-size: 11px;
	margin-left: 20px;
	padding-top:2px;
	line-height:120%;
	width: 250px;
	color:#0C4DA2;
}

.matchDataDetails li,
#confirmation_offers .content li,
#confirmation-order-summary li {
	margin:.15em 0 0 2em;
}

.matchDataDetails ul,
#confirmation_offers .content ul,
#confirmation-order-summary ul {
	list-style:disc;
}

.matchDataDetails p {
	margin-top:5px;
}

#reference_number {
	background-image:		url(../brand/ctm/images/bg_reference_no_short.png) !important;
	width:					296px !important;
	height:					45px !important;
}

#reference_number h4 {
	text-align:				left !important;
	text-indent:			6px;
	margin-top:				14px !important;
}

#reference_number a {
	top:					6px !important;
	left:					172px !important;
}
body.health.stage-1 .button-wrapper a span{
	font-size:				14px !important;
}
#content .button-wrapper #results-alt-buttons {
	display:				none;
}
.button-wrapper #results-alt-buttons span.or {
	margin:					18px 10px 0 10px;
	color:					#666666;
	background:				#ffffff;
	float: 					right;
	font-size: 				15px;
}

#resultsPage.benefitsOnly #results-summary,
#resultsPage.benefitsOnly #basket,
#resultsPage.benefitsOnly #HLT_InPageRight,
#resultsPage.benefitsOnly #HLT_InPageLeft,
#resultsPage.benefitsOnly #results-fixed-mask,
#resultsPage.benefitsOnly #results-bar,
#resultsPage.benefitsOnly #results-header,
#resultsPage.benefitsOnly #results-container {
	display:				none;
}

#resultsPage.benefitsOnly #health_benefitsHeader {
	margin-top:				76px;
}

.health.callcentre #resultsPage.benefitsOnly #health_benefitsHeader {
	margin-top:				106px;
}

#resultsPage.benefitsOnly {
	background:				none;
}

.health  #results-header .current-results .result-row.restricted .fund {
	padding:				17px 8px 3px 8px;
	height:					28px;
}

.health  #results-header .current-results .result-row.restricted .fund span {
	height:					28px;
}

.health  #results-header .current-results .result-row .fund a {
	display:				none;
	position:				absolute;
	top:					0;
	left:					0;
	width:					224px;
	height:					12px;
	background:				#cccccc url(../common/images/health/restricted_fund.png) top center no-repeat;
}

.health  #results-header .current-results .result-row.restricted .fund a{
	display:				block;
}

.health  #results-header .current-results .result-row.restricted .fund a .restricted_help {
	display:				block;
	position:				absolute;
	width:					10px;
	height:					12px;
	top:					0;
	right:					75px;
	visibility:				hidden;
}
body.FixedResults #helpToolTip.tip518 {
	position: fixed;
	top: 183px !important;
	z-index: 150;
}

#prev-step {
	background-image:		url(../brand/ctm/images/button_bg_grey.png) !important;
}

#prev-step span {
	background-image:		url(../brand/ctm/images/button_bg_right_grey.png) !important;
}

.termsConditionsError {
	width:176px;
	height:61px;
	background: url("../common/images/error/terms_and_conditions_box_alt.png") left top no-repeat;
	text-align:center;
	position:absolute;
	left:-165px;
	top:-12px;
	display:none;
}
	.termsConditionsError span {
		color:#EB5300;
		font-size:12px;
		line-height:120%;
		padding:15px 46px 0 20px;
		display:block;
	}

/* October 2013 - Healthy'N'Wealth Competition */
#healthynwealthy {
	display: none;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0;
	right: 0;
}
.stage-1 #healthynwealthy, .stage-1 #healthynwealthy.promotion {
	display: block;
}
#healthynwealthy.promotion {display:none; background-image:url("../brand/ctm/competition/october_promo.png");}
#healthynwealthy.confirmation {display:none; margin:0 0 20px 0; background-image:url("../brand/ctm/competition/october_promo.png");}

#healthynwealthy .right-panel-top,
#healthynwealthy .right-panel-middle,
#healthynwealthy .right-panel-bottom {
	background: none;
	height: 0;
}

#healthynwealthy .right-panel-middle {
	height:			400px;
}

/* OK to remove when competition no longer active */
body.stage-4 #slide4 {
	min-height:		820px !important;
}

/* Hide the confirmation image when returning to the confirmation outside of initial view */
body.confirmation #healthynwealthy {
	display: none !important;
	}