body {
	-webkit-text-size-adjust: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.new-btn {
	border-radius: 4px;
	color: #fff;
	font-size: 13px;
	display: block;
	text-align: center;
	padding: 10px 20px;
	text-decoration: none;
	border-width: 1px;
	border-style: solid;
}
.new-btn:hover {

}

.new-btn:active {

}

.new-btn.btn-primary {
	background: #0db14b;
	border-color: #009533;
}

.new-btn.btn-primary:hover,
.new-btn.btn-primary:focus {
	background: #097833;
	border-color: #075611;
}

.new-btn.btn-primary:active,
.new-btn.btn-primary.active {
	background: #1c3e93;
	border-color: #0a1c71;
}

.new-btn.btn-secondary,
.compare-benefits.new-btn.btn-tertiary.close,
.compare-benefits.new-btn.btn-tertiary.active {
	background: #FF6600;
	border-color: #B34700;
}

.new-btn.btn-secondary:hover,
.new-btn.btn-secondary:focus,
.compare-benefits.new-btn.btn-tertiary.active:hover,
.compare-benefits.new-btn.btn-tertiary.close:hover {
	background: #d46901;
	border-color: #b24700;
}

.new-btn.btn-secondary:active,
.new-btn.btn-secondary.active {
	background: #0db14b;
	border-color: #0b9029;
}

.new-btn.btn-tertiary {
	background: #ABABAB;
	border-color: #777777;
}

.new-btn.btn-tertiary:hover,
.new-btn.btn-tertiary:focus {
	background: #898989;
	border-color: #555555;
}

.new-btn.btn-tertiary:active,
.new-btn.btn-tertiary.active {
	background: #FF6600;
	border-color: #B34700;
}

.compare-benefits.new-btn.btn-tertiary {
	background: #ABABAB;
	border-color: #777777;
	cursor: default;
}

.compare-benefits.new-btn.btn-tertiary.close:hover,
.compare-benefits.new-btn.btn-tertiary.active:hover {
	cursor: pointer;
}

#compare-back-to-results {
	display: block;
	float: left;
	margin-top: 10px;
}


body.stage-1,
body.stage-2 {
	background: #EEE;
}

.stage-1 #wrapper,
.stage-1 .normal-header,
.stage-2 #wrapper,
.stage-2 .normal-header {
	box-shadow: none;
}

/* Contact Panel Overrides */
#contact-panel {
	width:					192px !important;
	height:					50px !important;
	margin-right:			-490px !important;
}
#contact-panel.extended {
	width:					374px !important;
}

#contact-panel .row {
	height:					auto !important;
	width:					auto !important;
	background-image:		none !important;
	background-color:		transparent !important;
	zoom: 1;
}

#contact-panel .lifebroker-contact-panel {
	width:					100%;
	height:					48px;
	overflow:				visible;
}

#contact-panel .lifebroker-contact-panel .option {
	position:				absolute;
	height:					43px;
	top:					0px;
	margin:					0 !important;
	padding:				7px 0 0 !important;
	background-position:	top left;
	background-repeat:		no-repeat;
	background-color:		transparent;
	zoom: 1;
}

#contact-panel.extended .lifebroker-contact-panel .option.call-us-now {
	width: 200px;
}

#contact-panel .lifebroker-contact-panel .option.call-us-now {
	width: 190px;
	padding-top: 5px;
	height: 41px;
	margin-left: -14px;
	background: #fff url("../brand/ctm/images/results_Life_IP/header-telephone.png") 11px 11px no-repeat;
	border: 1px solid #8a8a8a;
	border-radius: 3px;
	text-align: right;
}

#contact-panel.extended .lifebroker-contact-panel .option.call-us-now p {
	padding-right: 25px;	
}

#contact-panel .lifebroker-contact-panel .option.call-us-now p {
	padding: 1px 15px;
}

#contact-panel .lifebroker-contact-panel .option.call-us-now p.call-provider-message {
	color: #ababab;
	font-size: 11px;
}

#contact-panel .lifebroker-contact-panel .option.call-us-now p.provider-phone-number {
	color: #00b251;
	font-size: 21px;
}

#contact-panel .lifebroker-contact-panel .option.call-me-back {
	display:				none;
	width:					189px;
	right:					0px;
	background-image:		url("../brand/ctm/images/results_Life_IP/header-call-me-back.png");
}
#contact-panel .lifebroker-contact-panel .option.call-me-back:hover {background-position:bottom left;}
#contact-panel.extended .lifebroker-contact-panel .option.call-me-back {display:block;}

a.button-common {
	float: 					right;
	font-size:				9pt;
	font-weight:			bold;
	text-decoration:		none;
	padding: 				11px 10px 10px 35px;
	margin: 				4px 0 0 10px;
	-moz-border-radius: 	6px;
	-webkit-border-radius:	6px;
	-o-border-radius: 		6px;
	-ms-border-radius: 		6px;
	-khtml-border-radius:	6px;
	border-radius: 			6px;
	position: 				relative;
}

.button-common:hover {
	cursor: 				pointer;
}

.button-common span {
	position: 				absolute;
	left: 					10px;
	top: 					6px;
	width: 					20px;
	height: 				20px;
}

#revise-quote,
#save-my-quote {
	float: right;
	line-height: 18px;
	padding-left: 16px;
}

#revise-quote {
	margin-right: 10px;
}

#revise-quote span,
#save-my-quote span {
	height: 18px;
	display: block;
	float: left;
	width: 30px;
}

#revise-quote span {
	background:				url("../brand/ctm/images/results_Life_IP/btn_edit.png") no-repeat 0 0;
	filter:					progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../brand/ctm/images/results_Life_IP/btn_edit.png, sizingMethod='image');
}

#save-my-quote span {
	background:				url("../brand/ctm/images/results_Life_IP/btn_save.png") no-repeat 0 0;
	filter:					progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../brand/ctm/images/results_Life_IP/btn_save.png, sizingMethod='image');
}

a.product-more-info {
	text-transform: uppercase;
	color: #162F8A;
	text-align: left;
	display: block;
	text-decoration: none;
	font-weight: 700;
	position: absolute;
	left: -223px;
	width: 200px;
	margin-top: 3px;
}

.single a.product-more-info {
	margin-top: 10px;
	position: relative;
	left: auto;
	width: auto;
	text-align: center;
}

a.product-more-info:hover {

}

a.we-call-you {
	float:					left;
	color: 					#FFF !important;
	font-size:				12pt;
	padding: 				12px 20px 10px 45px;
	margin-left:			0;
	background:				#ff8400;
	background-image: 		-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffa200), color-stop(100%, #ff8400));
	background-image: 		-webkit-linear-gradient(#ffa200, #ff8400);
	background-image: 		-moz-linear-gradient(#ffa200, #ff8400);
	background-image: 		-o-linear-gradient(#ffa200, #ff8400);
	background-image: 		linear-gradient(#ffa200, #ff8400);
	-pie-background: 		linear-gradient(#ffa200, #ff8400);
	border: 				1px solid #df6f00;
	-moz-box-shadow: 		inset 0 1px 0 0 #fbe1b4;
	-webkit-box-shadow: 	inset 0 1px 0 0 #fbe1b4;
	-o-box-shadow: 			inset 0 1px 0 0 #fbe1b4;
	box-shadow: 			inset 0 1px 0 0 #fbe1b4;
}

a.we-call-you span {
	background:				url("../common/images/icons/phone-operator-white.png") no-repeat 0 0;
	filter:					progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../common/images/icons/phone-operator-white.png, sizingMethod='image');
	top:					8px;
	left:					20px;
}

a.we-call-you:hover {
	background:				#ffa200;
	background-image: 		-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff8400), color-stop(100%, #ffa200));
	background-image: 		-webkit-linear-gradient(#ff8400, #ffa200);
	background-image: 		-moz-linear-gradient(#ff8400, #ffa200);
	background-image: 		-o-linear-gradient(#ff8400, #ffa200);
	-pie-background: 		linear-gradient(#ff8400, #ffa200);
	-moz-box-shadow: 		inset 0 1px 0 0 #fbe1b4;
	-webkit-box-shadow: 	inset 0 1px 0 0 #fbe1b4;
	-o-box-shadow: 			inset 0 1px 0 0 #fbe1b4;
	box-shadow: 			inset 0 1px 0 0 #fbe1b4;
}

/* Important to ensure reference number hidden in results and faux Apply stages */
body.life.stage-0 #reference_number,
body.stage-1 #reference_number,
body.stage-2 #reference_number {
	display:				none !important;
}

body.ip.stage-0 #reference_number {
	display: block !important;
}

body.stage-0 #reference_number {
	background-image:		url(../brand/ctm/images/bg_reference_no_short_v2.png) !important;
	height:					40px;
}
body.stage-0 #reference_number a {display:none;}

/** SUMMARY HEADER STYLING
	*********************/

.stage-1 #navContainer,
.stage-2 #navContainer {
	padding: 22px 0 18px;
}

.stage-1 #navContainer #summary-header h2,
.stage-2 #navContainer #summary-header h2 {
	float:					left;
	width:					60%;
	line-height:			22px;
	padding-left: 56px;
	color: #162F8A;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: url("../brand/ctm/images/results_Life_IP/icon_heart.png") 0px 2px no-repeat;
	filter:					progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../brand/ctm/images/results_Life_IP/icon_heart.png, sizingMethod='image');
}

.stage-1 #navContainer #summary-header h2.error,
.stage-2 #navContainer #summary-header h2.error {
	display: none;
	height: 42px;
	line-height: 42px;
}

.stage-1 #navContainer #summary-header h2 span,
.stage-2 #navContainer #summary-header h2 span {
	display:				block !important;
	font-size:				50% !important;
}

/** REFINE ROW STYLING
	******************/

#refine-form-wrapper {
	display:				none;
	height:					55px;
	background: #0CAC43;
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.04), inset 0 3px 5px rgba(0,0,0,0.04);
}

#refine-form-wrapper .innertube {
	width:					980px;
	height:					55px;
	margin:					0 auto;
}

#refine-form-wrapper span {
	float:					left;
	height:					41px;
	margin:					13px 0 1px 5px;
}

#refine-form-wrapper .text {
	color:					#000;
	font-size: 8pt;
	font-weight: 700;
	line-height:			41px;
	text-transform: uppercase;
	margin-top: 7px;
}

#refine-form-wrapper .title {
	font-weight: normal;
	font-size:				12pt;
	text-transform: none;
}

#refine-form-wrapper .arrow {
	width:					22px;
	margin-top: 8px;
	background:				url("../brand/ctm/images/results_Life_IP/refine_arrow.png") 50% 50% no-repeat;
	filter:					progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../brand/ctm/images/results_Life_IP/refine_arrow.png, sizingMethod='image');
}

#refine-form-wrapper .refine-type {
	display:				none;
	float:					left;
	margin:					17px -1px 0 17px;
}

#refine-form-wrapper .delimeter {
	width:					12px;
	margin-top: 8px;
	background:				url("../brand/ctm/images/results_Life_IP/refine_delimeter.png") 50% 50% no-repeat;
	filter:					progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../brand/ctm/images/results_Life_IP/refine_delimeter.png, sizingMethod='image');
}

#refine-form-wrapper .title,
#refine-form-wrapper .input {
	margin-left:			0;
}

#refine-form-wrapper .dollar,
#refine-form-wrapper .input .body
{
	background: #065621;
	height: 30px;
}

#refine-form-wrapper .dollar {
	width: 19px;
	border-radius: 4px 0 0 4px;
	color: #fff;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	padding-left: 4px;
}

#refine-form-wrapper .input .body {
	border-radius: 0 4px 4px 0;
}

#refine-form-wrapper .input span {
	margin:					0;
}

#refine-form-wrapper .input .body {
	position:				relative;
	width:					90px;
	line-height:			42px;
}

#refine-form-wrapper .input .value,
#refine-form-wrapper .input input {
	position:				absolute;
	width:					82px !important;
	height:					17px !important;
	top: 7px;
	left:					3px;
	background: #065621;
	border-color: transparent;
	border:					none;
	outline:				none;
	margin:					0;
	padding:				0;
	line-height:			17px;
	color: #fff;
	font-size: 14px;
}

#refine-form-wrapper .input input {
	display:				none;
	color:					#0DB14B;
}

#refine-form-wrapper .input input:focus {
	outline:				none;
}

#refine-quotes {
	float: left;
	margin-left: 15px;
	margin-top: 10px;
	border-color: #fff;
}

/** ERROR MESSAGES WRAPPER
	*********************/
#results-errors-wrapper {
	display:				none;
	width:					auto;
	padding:				15px 0;
	background:				#ededed;
	border-top:				1px solid #b0b0b0;
	border-bottom:			1px solid #b0b0b0;
	overflow: auto;
}

#results-errors-wrapper .innertube {
	width: 	760px;
	padding: 30px 40px;
	margin: 				0 auto;
	background:				#ffffff;
	border: 1px solid #ccc;
	-moz-border-radius: 	5px;
	-webkit-border-radius: 	5px;
	-khtml-border-radius: 	5px;
	border-radius: 			5px;
	overflow: auto;
}

#results-errors-wrapper .innertube p {
	color: #222;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 18px;
}

#results-errors-wrapper .innertube .provider {
	width: 103px;
	height: 57px;
	margin: 16px 10px;
	float: left;
	background: url(images/logos/life/providerSpritesheet.png) left top no-repeat;
}

#results-errors-wrapper .innertube .provider.aia { background-position: left top; }
#results-errors-wrapper .innertube .provider.amp { background-position: -103px top; }
#results-errors-wrapper .innertube .provider.asteron { background-position: -206px top; }
#results-errors-wrapper .innertube .provider.bt-australia { background-position: -309px top; }
#results-errors-wrapper .innertube .provider.comm-insure { background-position: -412px top; }
#results-errors-wrapper .innertube .provider.macquarie { background-position: -515px top; }
#results-errors-wrapper .innertube .provider.metlife { background-position: -618px top; }
#results-errors-wrapper .innertube .provider.mlc { background-position: -721px top; }
#results-errors-wrapper .innertube .provider.onepath { background-position: -824px top; }
#results-errors-wrapper .innertube .provider.tal { background-position: -927px top; }
#results-errors-wrapper .innertube .provider.zurich { background-position: -1030px top; }
#results-errors-wrapper .innertube .provider.ozicare { background-position: -1133px top; }

/** COMPARE ROW STYLING
	******************/

#compare-row {
	height:					59px;
	background:				url("../brand/ctm/images/results_Life_IP/bkg_comparerow.png") top left repeat-x;
	filter:					progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../brand/ctm/images/results_Life_IP/bkg_comparerow.png, sizingMethod='image');
}

#refine-form-wrapper .innertube,
#compare-row .innertube {
	width:					980px;
	margin:					0 auto;
}

/** RESULTS HEADING STYLING
	**********************/

#results-mast-wrapper {
	display:				none;
	position:				relative;
	width:					100%;
	margin:					0;
	padding:				0;
	overflow:				hidden;
	height:					90px;
	min-height:				90px;
	max-height:				260px;
}

#results-mast-wrapper * {
	color:					#666666;
}

#results-mast-wrapper .primary,
#results-mast-wrapper .partner {
	position:				absolute;
	width:					50%;
	top:					0;
	min-height:				260px;
	overflow:				visible;
}

#results-mast-wrapper .primary {
	left:					0;
	background:				#dcdcdc;
}
#resultsPage.single #results-mast-wrapper .primary {background:#ededed;width:100%;width:100%;background:#ededed;}

.stage-2 #resultsPage.single #results-mast-wrapper .primary { background: #fff !important; }

#results-mast-wrapper .partner {
	left:					50%;
	background:				#ededed;
}
#resultsPage.single #results-mast-wrapper .partner {display:none;}

#results-mast-wrapper .results-mast {
	position:				relative;
	float:					right;
	width:					980px;
	right:					-490px;
	height:					260px;
}
#resultsPage.single #results-mast-wrapper .results-mast {right:50%;margin-right:-490px;}

#results-mast-wrapper .results-mast .col {
	margin:					0;
	padding:				0;
	float:					none !important;
}

#results-mast-wrapper .results-mast .col.left {
	width:					6px;
	background:				none;
}
#resultsPage.proceed #results-mast-wrapper .results-mast .col.left {
	
}

#results-mast-wrapper .results-mast .col.right {
	width:					6px;
	background:				none;
}

#resultsPage.proceed #results-mast-wrapper .results-mast .col.right {

}

#results-mast-wrapper .results-mast .col.mid {
	width:					968px;
	background:				none;
}

#resultsPage.proceed #results-mast-wrapper .results-mast .col.mid {
	
}

#results-mast-wrapper .results-mast .client {
	display:				inline-block;
	width:					483px;
	border:					none;
	float:					left !important;
	height:					70px;
	padding:				20px 0 0 0;
}

/*#resultsPage.proceed #results-mast-wrapper .results-mast .client {margin-top:5px;}*/

#results-mast-wrapper .results-mast .client p {
	font-size:				12pt;
	line-height:			12pt;
}

.stage-2 #results-mast-wrapper .results-mast .client .quotes-name p:first-child,
.stage-2 #results-mast-wrapper .results-mast .client .quotes-name p:first-child span {
	color: #fff;
}

#results-mast-wrapper .results-mast .client p .age,
#results-mast-wrapper .results-mast .client p .quotes {
	font-weight:			bold;
}

#results-mast-wrapper .results-mast .client p.name {
	font-size:				180% !important;
	margin-top:				5px;
}

#results-mast-wrapper .results-mast .client.left {
	border-right:			1px solid #ffffff;
}
#resultsPage.single #results-mast-wrapper .results-mast .client.left {width:100%;border:none;padding-right:1px;}

#results-mast-wrapper .results-mast .client.right {
	border-left:			1px solid #a3a3a3;
}
#resultsPage.single #results-mast-wrapper .results-mast .client.right {display:none;}

#results-mast-wrapper .results-mast .client .col,
#compare-benefits-wrapper .benefit .heading .col {
	float:					left !important;
	height:					52px;
	margin:					0 0 0 0;
}

#results-mast-wrapper .results-mast .client .col.icon,
#compare-benefits-wrapper .benefit .heading .col.icon {
	width:					52px;
	margin-left:			12px;
	margin-right:			5px;
	background:				url("../brand/ctm/images/results_Life_IP/icon_gender.png") 0 0 no-repeat;
	filter:					progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../brand/ctm/images/results_Life_IP/icon_gender.png, sizingMethod='image');
}
#compare-benefits-wrapper .benefit .heading .col.icon { margin-left: 0; }
#results-mast-wrapper .results-mast .client.right .col.icon {margin-left:37px;}
#results-mast-wrapper .results-mast .client .col.icon.female,
#compare-benefits-wrapper .benefit .heading .col.icon.female {background-position:-52px 0;}

#results-mast-wrapper .results-mast .client .col.age-smoker,
#compare-benefits-wrapper .benefit .heading .col.age-smoker {
	margin-right:			20px;
}

#results-mast-wrapper .results-mast .client .col.age-smoker div,
#compare-benefits-wrapper .benefit .heading .col.age-smoker div {
	width:					47px;
	height:					17px;
	margin:					5px auto 0 auto;
	background:				url("../brand/ctm/images/results_Life_IP/icon_smoker.png") 0 0 no-repeat;
	filter:					progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../brand/ctm/images/results_Life_IP/icon_smoker.png, sizingMethod='image');
}
#results-mast-wrapper .results-mast .client .col.age-smoker.smoker div,
#compare-benefits-wrapper .benefit .heading .col.age-smoker.smoker div {background-position:0 -17px;}

#compare-benefits-wrapper .benefit .heading .col.age-smoker {
	width: 70px;
	font-size: 18px;
	color: #676666;
}

#compare-benefits-wrapper .benefit .heading .col.age-smoker div {
	border: none;
}

#compare-benefits-wrapper .benefit .heading .col.quotes-name {
	text-align: left;
	font-size: 14px;
}

#compare-benefits-wrapper .benefit .heading .col.quotes-name .name {
	font-size: 28px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	margin-top: 3px;
}

#results-mast-wrapper .results-mast .client .col.select {
	display: none !important;
}

#results-mast-wrapper .results-mast .client .col.age-smoker,
#results-mast-wrapper .results-mast .client .col.quotes-name,
#results-mast-wrapper .results-mast .client .col.select,
#compare-benefits-wrapper .benefit .heading .col.age-smoker,
#compare-benefits-wrapper .benefit .heading .col.quotes-name,
#compare-benefits-wrapper .benefit .heading .col.select {
	margin-top:				5px;
}

#results-mast-wrapper .results-mast .client .col.select,
#results-mast-wrapper .results-mast .client .col.selected,
#compare-benefits-wrapper .benefit .heading .col.select,
#compare-benefits-wrapper .benefit .heading .col.selected {
	position:				relative;
	float:					right !important;
	width:					76px;
	height:					59px;
	margin-right:			25px;
	background:				none;
}

#results-mast-wrapper .results-mast .client .col.selected,
#compare-benefits-wrapper .benefit .heading .col.selected {
	width:					87px;
	background-image:		none;/*url("../brand/ctm/images/results_Life_IP/text_insurer_selected.png");
	filter:					progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../brand/ctm/images/results_Life_IP/text_insurer_selected.png, sizingMethod='image');
	background-position:	0px 8px;*/
	display:				none;
}
#results-mast-wrapper .results-mast .client.right .col.selected{margin-right:-7px;}
#resultsPage.proceed #results-mast-wrapper .results-mast .client.right .col.selected{margin-right:15px;}
#resultsPage.single #results-mast-wrapper .results-mast .client.left .col.selected {margin-right:15px;}

#results-mast-wrapper .results-mast .client .col.selected .logo {
	position:				relative;
	width:					83px/*45px*/;
	height:					53px/*25px*/;
	left:					0/*20px*/;
	top:					0/*25px*/;
	border:					1px solid #9d9d9d;
	background-color:		#ffffff;
	background-position:	50% 50%;
	background-repeat:		no-repeat;
}
#results-mast-wrapper .results-mast .client.adding .col.selected .logo {background-image:none;}

#results-mast-wrapper .results-mast .client .col.selected .logo .drop-selected-product {
	position:				absolute;
	display:				block;
	width:					14px;
	height:					14px;
	top:					-7px;
	right:					-7px;
	background:				url('../brand/ctm/images/results_Life_IP/closeIcon.png') 50% 50% no-repeat;
	filter:					progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../brand/ctm/images/results_Life_IP/closeIcon.png, sizingMethod='image');
	overflow:				hidden;
	text-indent:			-10000px;
}
#results-mast-wrapper .results-mast .client.adding .col.selected .logo .drop-selected-product {display:none;}

#results-mast-wrapper .results-mast .premium-summary {
	position:				relative;
	height:					32px;
	margin:					0 15px 10px 15px;
	background:				url("../brand/ctm/images/results_Life_IP/bkg_proceed_midrow.png") top left repeat-x;
	filter:					progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../brand/ctm/images/results_Life_IP/bkg_proceed_midrow.png, sizingMethod='image');
}

#results-mast-wrapper .results-mast .premium-summary span {
	color:					#ffffff;
	font-size:				10pt !important;
	line-height: 			32px;
	position:				absolute;
	top:					0;
}

#results-mast-wrapper .results-mast .premium-summary span.text {
	left: 					10px;
}

#results-mast-wrapper .results-mast .premium-summary span.prim,
#results-mast-wrapper .results-mast .premium-summary span.part {
	font-size:				155% !important;
	font-weight:			bold;
}

#results-mast-wrapper .results-mast .premium-summary span.prim {
	right:					505px;
}
#resultsPage.single #results-mast-wrapper .results-mast .premium-summary span.prim {right:10px;}

#results-mast-wrapper .results-mast .premium-summary span.part {
	right:					10px;
}
#resultsPage.single #results-mast-wrapper .results-mast .premium-summary span.part {display:none;}

#results-mast-wrapper .results-mast .what-next {
	margin:					0 15px;
}

#results-mast-wrapper .results-mast .what-next .col {
	float:					left !important;
	height:					48px;
	margin-right:			15px;
}

#results-mast-wrapper .results-mast .what-next a.we-call-you {
	margin-right:			15px;
}

#results-mast-wrapper .results-mast .what-next .text {
	font-size:				14pt !important;
	font-weight:			bold;
	line-height:			48px;
}

#results-mast-wrapper .results-mast .what-next .text.dk {
	color:					#333333;
	font-size:				18pt !important;
}

#results-mast-wrapper .results-mast .what-next .last {
	margin-right:			0 !important;
}

#results-mast-wrapper .results-mast .what-next .call-info {
	width:					469px;
}

#results-mast-wrapper .results-mast .what-next .call-info,
#results-mast-wrapper .results-mast .what-next .call-info .col {
	margin-right:			0;
}

#results-mast-wrapper .results-mast .what-next .call-info {
	float:					right !important;
	background:				#ffffff;
	border:					1px solid #a3a3a3;
	-moz-border-radius: 	6px;
	-webkit-border-radius:	6px;
	-o-border-radius: 		6px;
	-ms-border-radius: 		6px;
	-khtml-border-radius:	6px;
	border-radius: 			6px;
	-moz-box-shadow: 		inset 3px 3px 5px 0 #f2f2f2;
	-webkit-box-shadow: 	inset 3px 3px 5px 0 #f2f2f2;
	-o-box-shadow: 			inset 3px 3px 5px 0 #f2f2f2;
	box-shadow: 			inset 3px 3px 5px 0 #f2f2f2;
}

#results-mast-wrapper .results-mast .what-next div {
	clear:					left;
	font-weight:			bold;
	text-align:				center;
	padding-top:			10px;
	color:					#009934;
	font-size:				110%;
}

#results-mast-wrapper .results-mast .what-next .call-info table td {
	padding-left:			13px;
	height:					48px;
	vertical-align:			middle;
}

#results-mast-wrapper .results-mast .what-next .call-info .small {
	font-size:				9pt !important;
	line-height:			9pt;
}

#results-mast-wrapper .results-mast .what-next .call-info .block {
	width:					130px;
	font-weight:			normal;
}

#results-mast-wrapper .results-mast .what-next .call-info .delimeter {
	width:					2px;
	background:				url("../brand/ctm/images/results_Life_IP/bkg_proceed_calllb_delimeter.png?v2") center right no-repeat;
	filter:					progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../brand/ctm/images/results_Life_IP/bkg_proceed_calllb_delimeter.png?v2, sizingMethod='image');
}

#results-mast-wrapper .results-mast p.legal {
	color:					#999999;
	font-size:				8pt !important;
	text-align:				center;
	padding:				22px 15px 0 15px;
}

/** RESULTS ROWS STYLING
	**********************/

#results-rows-wrapper {
	display:				none;
	border-bottom:			1px solid #b0b0b0;
}

.stage-2 #results-rows-wrapper {
	border-bottom-color: transparent;
}

#results-rows-wrapper .primary,
#results-rows-wrapper .partner {
	float:					left;
	width:					50%;
	border-bottom:			1px solid #ffffff;
}

#results-rows-wrapper .primary {
	background:				#dcdcdc;
}
#resultsPage.single #results-rows-wrapper .primary{width:100%;background:#ededed;}

#results-rows-wrapper .partner {
	background:				#ededed;
}
#resultsPage.single #results-rows-wrapper .partner {display:none;}

.stage-2 #results-mast-wrapper .primary, 
.stage-2 #results-mast-wrapper .partner,
.stage-2 #results-rows-wrapper .primary, 
.stage-2 #results-rows-wrapper .partner {
	background: #fff !important;
}

#results-rows-wrapper .primary .innertube,
#results-rows-wrapper .partner .innertube{
	position:				relative;
	float:					right;
	width:					469px;
	padding:				0 20px 0 0;
	margin:					0;
}

#results-rows-wrapper .primary .innertube{
	border-right:			1px solid #ffffff;
}

#resultsPage.single #results-rows-wrapper .primary .innertube {
	float:					none;
	width:					980px;
	margin:					0 auto;
	padding:				0;
	border:					none;
}

#results-rows-wrapper .partner .innertube{
	float:					left;
	padding:				0 0 0 20px;
	border-left:			1px solid #b0b0b0;
}

.stage-2 #results-rows-wrapper .partner .innertube,
.stage-2 #results-rows-wrapper .primary .innertube,
.stage-2 #results-mast-wrapper .results-mast .client.right,
.stage-2 #results-mast-wrapper .results-mast .client.left {
	border-color: transparent !important;
}

#results-rows-wrapper .results-row[data-source="missing"] .product.price,
#results-rows-wrapper .results-row[data-source="missing"] .description,
#results-rows-wrapper .results-row[data-source="missing"] .seltocompare{
	display: none;
}

#resultsPage.single #results-rows-wrapper .results-row[data-source="missing"] .product p.title {
	font-size: 14pt;
}

#results-rows-wrapper .results-row[data-source="missing"] .box {
	height: 50px;
}

#results-rows-wrapper .results-row[data-source="missing"] .product.details {
	width: 308px;
}

.stage-2 #results-rows-wrapper .results-row .box.detail {
	background: #1c3e93;
	border-color: #0a1c71;
}

#results-rows-wrapper .results-row .box.detail a.close-button {
	display: none;
}

.stage-2 #results-rows-wrapper .results-row .box.detail a.close-button {
	left: auto;
	position: absolute;
	right: -17px;
	top: -15px;
	display: block;
	width: 34px;
	height: 32px;
	background: url('../brand/ctm/images/results_Life_IP/life-ip_sprites.png') -201px -1px no-repeat;
}

.stage-2 #results-rows-wrapper .results-row .box.detail p {
	color: #fff;
}

.stage-2 #results-rows-wrapper .results-row .product.company {
	width: 97px;
}

.stage-2 #resultsPage.single #results-rows-wrapper .results-row .product.company {
	width: 78px;
}

.stage-2 #results-rows-wrapper .results-row .product.price div.rowbtn,
.stage-2 #results-mast-wrapper .results-mast .premium-summary {
	display: none;
}

#resultsPage.single #results-rows-wrapper .results-row {
	height: 114px;
}

#results-rows-wrapper .results-row {
	position:				absolute;
	height:	168px;
	width:					469px;
	display:				none;
}
#results-rows-wrapper .results-row:first-child {margin-top:0;}
#resultsPage.single #results-rows-wrapper .results-row {width:980px;}
#resultsPage.proceed #results-rows-wrapper .results-row {margin-top:10px;}

#results-rows-wrapper .innertube {
	padding-bottom:			20px !important;
}

#resultsPage.single #results-rows-wrapper .results-row .box {
	height: 79px;
}

.stage-2 #resultsPage.single #results-rows-wrapper .results-row .box,
#results-rows-wrapper .results-row .box {
	position:				absolute;
}

.stage-2 #resultsPage.single #results-rows-wrapper .results-row .box { height: 83px; }
#results-rows-wrapper .results-row .box { height: 98px; }

.stage-2 #results-rows-wrapper .results-row .box {
	height: 84px;
}

#resultsPage.single #results-rows-wrapper .results-row .box.detail {
	padding: 20px;
}

#results-rows-wrapper .results-row .box.detail {
	top:					0px;
	left:					0px;
	width: 427px;
	padding: 20px 16px;
	background: #fff;
	border: 1px solid #C2C2C2;
	border-radius: 2px;
}

.special-offers-description {
	margin-bottom: 10px;
	font-size:11px;
}

.special-offers-description p {
	padding-bottom: 4px;
	padding-right: 15px;
}

#resultsPage.single #results-rows-wrapper .results-row .box.detail {width:938px;}

#results-rows-wrapper .results-row .box.detail .col {
	height:					114px;
}

#resultsPage.single #results-rows-wrapper .results-row .add-to-cart-button {
	width: auto;
	position: relative;
	right: auto;
	bottom: auto;
}

#results-rows-wrapper .results-row .add-to-cart-button {
	width:					90px;
	position: absolute;
	right: 0;
	bottom: 18px;
}

#results-rows-wrapper .results-row .add-to-cart-button .loading {
	display:				none;
	position:				absolute;
	width:					24px;
	height:					24px;
	top:					2px;
	left:					63px;
	background-image:		url("../brand/ctm/images/results_Life_IP/loading2.gif");
}
#results-rows-wrapper .results-row .add-to-cart-button.adding .loading {display:block;}

#results-rows-wrapper .results-row .box.add-to-cart-button.active {background-position:-180px 0;cursor:default;}
#results-rows-wrapper .results-row .box.add-to-cart-button:hover {background-position:-90px 0;}
#results-rows-wrapper .results-row .box.add-to-cart-button.active:hover {background-position:-180px 0;cursor:default;}

/** MORE INFO STYLING
	****************/

#resultsPage.single #results-rows-wrapper .results-row .more-info-slider {
	top: 104px;	
}

.stage-2 #results-rows-wrapper .results-row .more-info-slider {
	top: 110px;
}

#results-rows-wrapper .results-row .more-info-slider .call-me-back {
	display: block;
	background: #1C3E93;
	width: 423px;
	padding: 10px;
	position: relative;
	top: -4px;
	left: 13px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	color: #fff;
	margin-bottom: -10px;
	text-align: center;
}

#resultsPage.single #results-rows-wrapper .results-row .more-info-slider .call-me-back {
	width: 934px;
}

#resultsPage.single #results-rows-wrapper .results-row .more-info-slider .call-me-back br {
	display: none;
}

#results-rows-wrapper .results-row .more-info-slider .call-me-back p {
	padding: 5px 0;
	line-height: 20px;
}

#results-rows-wrapper .results-row .more-info-slider .call-me-back .phone {
	font-size: 24px;
}

#resultsPage.single #results-rows-wrapper .results-row .more-info-slider .call-me-back .phone {
	margin: 0 8px;
}

#results-rows-wrapper .results-row .more-info-slider .call-me-back .callback-button {
	background: #fff;
	color: #4a4a4a;
	margin-left: 10px;
	margin-top: 10px;
	display: inline-block;
}

#resultsPage.single #results-rows-wrapper .results-row .more-info-slider .call-me-back button .callback-button {
	margin-top: 0;
}

.stage-2 #results-rows-wrapper .results-row .more-info-slider .call-me-back {
	display: none;
}

.stage-2 #resultsPage.single #results-rows-wrapper .results-row .more-info-slider,
#results-rows-wrapper .results-row .more-info-slider {
	top: 118px;
}

#results-rows-wrapper .results-row .more-info-slider {
	position:				relative;
	left:					0;
	display:				none;
}

#results-rows-wrapper .results-row .more-info-slider table {
	width:					449px;
	margin:					0 auto;
}
#resultsPage.single #results-rows-wrapper .results-row .more-info-slider table {width:960px;}

#results-rows-wrapper .results-row .more-info-slider td {
}

#results-rows-wrapper .results-row .more-info-slider td.lft {
	width:					6px;
	background:				url("../brand/ctm/images/results_Life_IP/bkg_more-info_left_new.png") bottom right no-repeat;
}

#results-rows-wrapper .results-row .more-info-slider td.rht {
	width:					6px;
	background:				url("../brand/ctm/images/results_Life_IP/bkg_more-info_right_new.png") bottom left no-repeat;
}

#results-rows-wrapper .results-row .more-info-slider td.mid {
	width:					437px;
	background:				url("../brand/ctm/images/results_Life_IP/bkg_more-info_mid_new.png") bottom left repeat-x;
}
#resultsPage.single #results-rows-wrapper .results-row .more-info-slider td.mid {width:948px;}

#results-rows-wrapper .results-row .more-info-slider .innertube {
	float:					none !important;
	width:					auto !important;
	padding:				30px 15px 15px 15px !important;
	border:					none !important;
}

#results-rows-wrapper .results-row .more-info-slider .innertube .panel {
	display:				block;
	width:					auto;
}

#results-rows-wrapper .results-row .more-info-slider .innertube .panel.optional {
	display: none;
}

#resultsPage.single #results-rows-wrapper .results-row .more-info-slider .innertube .panel {float:left;width:50%;}

#results-rows-wrapper .results-row .more-info-slider h4 {
	font-size:				10pt !important;
}
#resultsPage.single #results-rows-wrapper .results-row .more-info-slider h4 {font-size:12pt !important;}

#results-rows-wrapper .results-row .more-info-slider ul {
	margin-bottom:			10px;
}

#results-rows-wrapper .results-row .more-info-slider li {
	padding: 				2px 0 2px 10px;
	margin-left:			10px;
	background: 			transparent url(../brand/ctm/images/bullet_edit.png) left 5px no-repeat;
	filter:					progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../brand/ctm/images/bullet_edit.png, sizingMethod='image');
}

/** RESULTS PRODUCT STYLING
	**********************/

#results-rows-wrapper .results-row .product {
	float:					left;
	height:					89px;
}

.stage-2 #results-rows-wrapper .results-row .product.details {
	height: 49px;
	padding-top: 14px;
}

.stage-2 #resultsPage.single #results-rows-wrapper .results-row .product.details {
	padding-top: 0;
}

.stage-2 #results-rows-wrapper .results-row .product.details p.title {
	font-size: 14pt;
	line-height: 16pt;
}

#results-rows-wrapper .results-row .product p {
	color:					#666666;
	font-size:				8pt;
	line-height:			10pt;
	padding:				0 5px;
}
#resultsPage.single #results-rows-wrapper .results-row .product p {font-size:10pt;line-height:12pt;padding:0 15px;}

#results-rows-wrapper .results-row .product p.title {
	font-size:				10pt;
	line-height:			11pt;
	font-weight:			bold;
	margin-bottom:			3px;
}
#resultsPage.single #results-rows-wrapper .results-row .product p.title {
	font-size: 20pt;
	font-weight: 500;
	line-height: 20pt;
	margin-top: 12.5pt;
}

.stage-2 #resultsPage.single #results-rows-wrapper .results-row .product.company {
	width: 80px;	
}

#resultsPage.single #results-rows-wrapper .results-row .product.company {
	width:					175px;
}

#results-rows-wrapper .results-row .product.company {
	width: 102px;
}

#results-rows-wrapper .results-row .product.details {
	width: 188px;
}
#resultsPage.single #results-rows-wrapper .results-row .product.details { width:470px; }

.stage-2 #results-rows-wrapper .results-row .product.details {
	width: 190px;
}

#results-rows-wrapper .results-row .product.price {
	width:					92px;
}
#resultsPage.single #results-rows-wrapper .results-row .product.price {width:292px;}

#resultsPage.single #results-rows-wrapper .results-row .product.price p {margin-top:3px;}

#resultsPage.single #results-rows-wrapper .results-row .product.company .logo {
	float: right;
	height: 90px;
	width: 83px;
}

#results-rows-wrapper .results-row .product.price .new-btn {
	padding: 6px 7px;	
}

#resultsPage.single #results-rows-wrapper .results-row .product.price .new-btn {
	padding: 10px 20px;
}

#results-rows-wrapper .results-row .product.company .logo {
	width: 93px;
	height: 60px;
	background-color:		#ffffff;
	background-position:	50% 50%;
	background-repeat:		no-repeat;
	border:					1px solid #b6b6b6;
	margin-top: -7px;
}

#resultsPage.proceed #results-rows-wrapper .results-row .product.company .logo {
	width: 85px;
	height: 92px;
}

#resultsPage.proceed #results-rows-wrapper .results-row .product.company .logo {
	border-bottom:			1px solid #b6b6b6;
}

#results-rows-wrapper .results-row .product.price {
	position:				relative;
}

#resultsPage.single #results-rows-wrapper .results-row .product.price div {
	right: 0;
}

#results-rows-wrapper .results-row .product.price div {
	position:				absolute;
	width: 96px;
	height:					40px;
	right:	-45px;
	top:					0px;
}

.single #results-rows-wrapper .results-row .product.price div {
	width: 125px;
}

#results-rows-wrapper .results-row .product.price div.amt {top:4px;}
#results-rows-wrapper .results-row .product.price div.rowbtn {top:72px;} 
#resultsPage.single #results-rows-wrapper .results-row .product.price div.amt {
	top:25px;
	width: auto;
	right:145px;
}

.stage-2 #resultsPage.single #results-rows-wrapper .results-row .product.price div.amt {
	right: -100px;
	top: 23px;
}

#resultsPage.single #results-rows-wrapper .results-row.pending .product.price div.amt {
	right: 145px;
}
#resultsPage.single #results-rows-wrapper .results-row .product.price div.rowbtn {top:11px;}

#results-rows-wrapper .results-row .product.price div.rowbtn .loading {
	display:				none;
	position:				absolute;
	width:					24px;
	height:					24px;
	bottom: 0;
	top: auto;
	right: 200px;
	background:				url("../brand/ctm/images/results_Life_IP/loading.gif") 50% 50% no-repeat;
}

#resultsPage.single #results-rows-wrapper .results-row .product.price div.rowbtn .loading {
	bottom: -42px;
	top: auto;
	right: -16px;
}

#results-rows-wrapper .results-row.pending .product.price div.rowbtn .loading {display:block;}

#results-rows-wrapper .results-row .product.price h4,
#results-rows-wrapper .results-row .product.price p {
	text-align:				right;
	padding:				0;
}

#results-rows-wrapper .results-row .product.price p {
	margin-bottom:			30px;
	padding:				0 !important;
}

#results-rows-wrapper .results-row .product.price h4 {
	color:					#ff6600;
	font-size:				14pt;
	line-height:			8pt;
	font-weight:			bold;
	margin-bottom: 6px;
	font-weight: normal;
}

.stage-2 #results-rows-wrapper .results-row .product.price div.amt {
	top: 24px;
	width: 150px;
}

.stage-2 #results-rows-wrapper .results-row .product.price h4 {
	font-size: 24pt;
	margin-bottom: 13px;
	text-align: right;
}

.stage-2 #results-rows-wrapper .results-row .product.price div {
	right: -45px;
}

#resultsPage.single #results-rows-wrapper .results-row .product.price h4 {
	font-size: 20pt;
	line-height: 8pt;
	margin-bottom: 19px;
}

#resultsPage.single #results-rows-wrapper .results-row .product.company .seltocompare {
	float: left;
	width: 55px;
	padding: 10px;
	margin-top: 0;
	height: 57px;
}

#results-rows-wrapper .results-row .product.company .seltocompare {
	width: 85px;
	background: #E5E5E5;
	border: 1px solid #C4C4C4;
	border-radius: 4px;
	padding: 4px;
	margin-top: 5px;
	height: 33px;
}
#resultsPage.proceed #results-rows-wrapper .results-row .product.company .seltocompare {
	display:				none;
}

#results-rows-wrapper .results-row .product.company .seltocompare .col {
	height: auto;
}

#results-rows-wrapper .results-row .product.company .seltocompare .col.text {
	text-align: center;
	font-size: 11px;
	font-weight: 700;
	float: left;
	width: 52px;
	margin-top: 5px;
}

#resultsPage.single #results-rows-wrapper .results-row .product.company .seltocompare .col.text {
	float: none;
	width: auto;
	margin-top: 0;
}

#results-rows-wrapper .results-row .product.company .seltocompare .col.mid {
	width: 25px !important;
	margin: 0 3px;
	float: left;
}

#resultsPage.single #results-rows-wrapper .results-row .product.company .seltocompare .col.mid {
	width:					33px !important;
	margin: 0 auto 5px;
	float: none;
}

#resultsPage.single #results-rows-wrapper .results-row .product.company .seltocompare .selector {
	margin-left: 5px;
}

#results-rows-wrapper .results-row .product.company .seltocompare .selector {
	display:				block;
	width:					26px;
	height:					26px;
	margin: 3px 0 0 0;
	background:				url("../brand/ctm/images/results_Life_IP/checkbox.png") 0 0 no-repeat;
}
#results-rows-wrapper .results-row .product.company .seltocompare .selector.active {background-position:-52px 0;}
#results-rows-wrapper .results-row .product.company .seltocompare .selector:hover {background-position:-26px 0;}
#results-rows-wrapper .results-row .product.company .seltocompare .selector.active:hover {background-position:-82px 0;}

#save-popup .fieldrow.credentials .fieldrow_value {float:none;}

.stage-2 #client-column-headers .select,
.stage-2 #client-column-headers .selected {
	display: none !important;
}

#what-happens-next-container {
	display: none;
	width: 980px;
	margin: 0 auto;
	padding: 0 0 32px;
}

.stage-2 #what-happens-next-container {
	display: block;
}

#what-happens-next-container {
	overflow: auto;
}

#what-happens-next-text {
	font-size: 20px;
	color: #162F8A;
	margin-bottom: 10px;
	display: block;
}

#what-happens-next-container .left,
#what-happens-next-container .right {
	display: block;
	float: left;
	width: 50%;
	padding: 20px 0;
	font-size: 14px;
}

#what-happens-next-container .reference_no_replace {
	font-size: 22px;
	font-weight: bold;
}

#what-happens-next-container .left p,
#what-happens-next-container .right p {
	padding: 6px 0;
}

#what-happens-next-container .left p:first-child,
#what-happens-next-container .right p:first-child {
	color: #0DB14B;
	font-size: 20px;
}

#what-happens-next-container .left p:first-child span {
	font-size: 32px;
}

#what-happens-next-container .right .new-btn {
	display: inline-block;
	font-weight: bold;
	font-size: 15px;
	margin-left: 10px;
}

#what-happens-next-container .left .icon {
	display: inline-block;
	background: url("../brand/ctm/images/results_Life_IP/life-ip_sprites.png") -138px 1px no-repeat;
	width: 26px;
	height: 27px;
	margin-right: 3px;
	position: relative;
	top: 3px;
	margin-left: 10px;
}

#what-happens-next-container .right .new-btn span {
	display: inline-block;
	background: url("../brand/ctm/images/results_Life_IP/life-ip_sprites.png") -112px 1px no-repeat;
	width: 24px;
	height: 24px;
	margin-right: 10px;
	position: relative;
	top: 6px;
	margin-top: -12px;
}

#what-happens-next-container p.legal {
	color: #8A8A8A;
	clear: both;
}

.noResultsJourney #refine-form-wrapper, 
.noResultsJourney #compare-form-wrapper,
.noResultsJourney #results-mast-wrapper,
.noResultsJourney #results-rows-wrapper {
	display: none !important;
	height: 0 !important;
}

.lbPartnerWrapper {
	padding: 15px 0;
}

.lbPartnerWrapper .text {
	border: 0;
	border-bottom: 1px solid #f7f7f7;
	clear: both;
	height: 1px;
	text-align: center;
	margin: 35px 0 24px;
}

.lbPartnerWrapper .text div {
	position: relative;
	padding: 1px 1em;
	display: inline-block;
	top: -28px;
	background: #fff;
	line-height: 57px;
	color: #1c3e93;
	font-size: 22px;
}

.lbPartnerWrapper .providers {
	padding-top: 20px;
}

.lbPartnerWrapper .providers img {
	margin: 0 30px 30px;
}

.promo-row .fieldrow_label {
	margin-left: 0;
	width: 176px;
}

.promo-row .fieldrow_value {
	margin-left: 0;
	margin-bottom: 0;
	max-width:420px;
}

.promo-container {
	width: 490px;
	background: #162F8A;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

.promo-row .fieldrow_value input[type="checkbox"] {
	margin: 10px 5px;
	margin-left: 14px;
}

.promo-row .fieldrow_value label {
	color: white;
	position: relative;
	top: -2px;
}

.promo-row .fieldrow_value a {
	color: white;
}

.promo-image {
	display: block;
	width: 439px;
	height: 100px;
}

.promo-image.ip {
	background-image: url("../brand/ctm/images/results_Life_IP/IP-Comp-journey-banner.png");
}

.promo-image.life {
	background-image: url("../brand/ctm/images/results_Life_IP/Life-Comp-journey-banner.png");
}