#page {
	min-height:550px;
}
body {
	overflow:scroll;
}
#headerShadow {
	background:url('images/results-shadow.png') repeat-x top left;
	height: 7px;
	position: relative;
 			top: -7px;
}
#navigation {
	display:none;
}

#reset, #forgotten-password {
 			margin-left: 20px;
 			padding-top: 6px;
}

#reset_email {
	width:200px;
}
#reset_password, #reset_confirm {
	width:100px;
}	
div#resetPasswordErrors, div#errorContainer {
	top: 100px;
	right: 5px;
}

#reset-button{
	margin-top: 20px;
}
#reset-confirm p, 
	#reset-error p{
	font-size:13px;
	margin:15px 0px 15px 15px;
}