#wrapper {
	background-color:white;
} 
#page {
	min-height:550px;
}
body {
	overflow:scroll;
}
#headerShadow {
	background:url('images/results-shadow.png') repeat-x top left;
	height: 20px;
	position: relative;
 			top: -7px;
}
#navigation {
	display:none;
}
#signup-button {
	background: transparent url('images/button-signup.png') no-repeat left;
	width:120px;
	height:36px;
	display:inline-block;
	margin:10px 10px 10px 234px;
	
}
#signup-button:hover {
	background: transparent url('images/button-signup-on.png') no-repeat left;
}
#signup-buttons {
	margin-top:50px;				
	margin-bottom:10px;			
}							
div#signupErrors div#errorContainer {
	top: 100px;
	right: 5px;
}
div#errorContainer {
	border-left: 100px solid white;
}
#return-to-home{
	background: transparent url("images/dialog/ok.gif") no-repeat;
	width:51px;
	height:36px;
	margin-left:190px;
	margin-top: 10px;
	display:inline-block;
}
#return-to-home:hover {
	background: transparent url("images/dialog/ok-on.gif") no-repeat;
}
#return-to-eml{
	background: transparent url("images/dialog/ok.gif") no-repeat;
	width:51px;
	height:36px;
	margin-left:190px;
	margin-top: 10px;
	display:inline-block;
}
#return-to-eml:hover {
	background: transparent url("images/dialog/ok-on.gif") no-repeat;
}
#signup {
	width:540px;
 			margin-left: 20px;
 			padding-top: 6px;				
}
#signup h3 {
	margin:5px 5px 20px 20px;
	font-weight:bold;
	font-size:20px;			
}
#signup h5 {
	margin:10px 5px 20px 5px;
	font-weight:bold;
	font-size:14px;
}
#side-image {
	background: transparent url("images/Flying_350.jpg") no-repeat;
	width:350px;
	height:555px;
	position: absolute;
	top: 117px;
	left: 565px;								
}
#mandatorytxt {
	font-size: 10px;
}
#compTerms {
	font-size: 12px;
}