/* page layout */
#wrapper {
	background-color: white;
}

#headerShadow {
	background: url('images/results-shadow.png') repeat-x top left;
	height: 20px;
	position: relative;
	top: -7px;
}

#navigation {
	display: none;
}

/* page content */
h1 {
	color: #0c4da2;
	font-size: 20px;
	display: inline-block;
}

.blue-bar img {
	vertical-align: top;
	margin-right: 5px;
}

.unsubscribe a,p,ol,.radio_buttons label {
	font-size: 14px;
}

.unsubscribe a:link,#unsubscribeFeedbackDialog a:link span {
	font-weight: bold;
	font-size: 15px;
}

.unsubscribe p,#unsubscribeFeedbackDialog p {
	margin: 10px 0;
	font-family: arial, sans-serif;
}

.unsubscribeContainer .standardButton {
	margin-right: 5px;
}

p.first {
	margin-bottom: 30px;
}

p.last {
	margin-top: 30px;
}

ol {
	list-style: initial;
	list-style-type: decimal;
	padding-left: 20px;
	margin-left: 10px;
}

.radio_buttons label {
	float: left;
	line-height: normal;
	margin-left: 5px;
}

.radio_buttons input {
	float: left;
	clear: left;
	margin: 3px 0 0 0;
	padding: 0;
}

.unsubscribeContainer .left-column {
	width: 67%;
}

.unsubscribeContainer .right-column {
	width: 32%;
}

.content {
	margin-left: 15px;
}

.social {
	padding-top: 12px;
}

.link {
	color: #1f459f;
	font-weight: bold;
	text-decoration: none;
}

.confirm-unsubscribe-container {
	display: none;
}

.confirm-unsubscribe-tooltip {
	border: 5px solid green;
	max-width: 480px; <
	css: rounded_corners value="10"/>
}

.miss-you {
	font-size: 20px;
	font-weight: bold;
}

a.send-feedback {
	margin: 15px 0;
}

.ui-dialog-titlebar {
	height: 20px;
}

#unsubscribeFeedbackDialog .left-column {
	width: 58%;
}

#unsubscribeFeedbackDialog .right-column {
	width: 39%;
}

.compare-buttons {
	margin-left: 2px;
}

.compare-buttons li {
	margin: 2px 3px;
}