/* Initial Page */
body.utilities #contact-panel {
	display: block;
}

#wrapper {
	min-height:420px;
}

.ui-datepicker-trigger {
	border: none;
	padding: 0;
	display: inline-block;
	margin: 0 4px 0 1px;
	background-color: none;
	cursor: pointer;
}

#contact-panel {
	right:	0;
}

#contact-panel .thoughtworld-contact-panel {
	width:					100%;
	height:					70px;
	overflow:				hidden;
}

#contact-panel .thoughtworld-contact-panel .option {
	position:				absolute;
	width: 					220px;
	height:					70px;
	left: 					0;
	top:					-5px;
	margin:					0 !important;
	padding:				0 !important;
	background-position:	top left;
	background-repeat:		no-repeat;
	background-color:		transparent;
	zoom: 1;
}

.thoughtworld-contact-panel .option.call-us-now {
	background-image:		url("../brand/ctm/images/results_utilities/header-call-us-now.png");
}

.applyOnline .thoughtworld-contact-panel .option.call-us-now {
	width: 					220px;
	height:					70px;
	margin:					0 auto 16px;
}