@main: #0db14b;
@sub-color: @sidebar-right-bg-color;
@third-color: #008284;

// Energy is not shown by default.
.leadCapture-not-living-at-property, .leadCapture-living-at-property {
  display: none;
}

.optional-tag {
  display: inline-block;
  text-transform: uppercase;
  color: black;
  background-color: #f0f0f0;
  padding: 2px 5px;
  margin: 5px 0;
}

.lead-capture {
  .radioBtnContainer {
    margin-top: 20px;
    display: flex;
  }

  .well.well-help {
    order: 2;
    background-color: @third-color;
    color: white;
    width: 70%;
    float: right;
    h4 {
      color: white;
    }
    &:after {
      border-right: 20px solid @third-color;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      left: -20px;
      bottom: 50%;
      transform: translateY(50%);
    }
  }

  h2 {
    margin-bottom: 5px;
    color: @third-color;
    position: relative;
  }

  .radioBtn {
    order: 1;
    margin-top: 30px;
    padding-right: 3%;
    width: 27%;
    float: left;
    text-align: center;
    position: relative;
    input {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
    }
    &.active {
      label {
        color: @main;
        border-color: @main;
      }
      .tick-checkbox {
        background-color: @main;
        border-color: @main;
      }
      .product-name, label > i {
        color: @main;
      }
    }
  }

  .product-name {
    font-size: 18px;
    color: @sub-color;
  }

  label {
    .tick-checkbox {
      position: absolute;
      left: -10px;
      top: -10px;
      border: 2px solid #95989a;
      background: white;
      border-radius: 8px;
      line-height: 1;
      z-index: 10;
      i {
        color: white;
        font-size: 18px;
        padding: 4px;
      }
    }
    > i {
      font-size: 46px;
      color: @sub-color;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      z-index: 0;
    }
    margin: 0;
    position: relative;
    border: 2px solid #dddddd;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    cursor: pointer;
  }
}

@media(max-width: 767px) {
  .lead-capture {
    .radioBtnContainer {
      display: block;
    }
    .radioBtn {
      width: auto;
      float: left;
      margin-top: 15px;
    }
    .well.well-help {
      float: left;
      width: 100%;
      &:after {
        border-top: 20px solid @third-color;
        border-left: 20px solid transparent;
        border-bottom: 20px solid transparent;
        border-right: 20px solid transparent;
        bottom: -20px;
        left: 45px;
      }
    }
  }
}