// SLIDER
.slider-control {
	@border-size: 3px;
	@height: 2px;
	@handle-size: 14px;

	.noUi-background {
		background: none;
	}
	.noUi-base, .noUi-origin {
		background: #868780; //Bar colour to left of handle
		cursor: pointer;
	}
	.noUi-origin {
		background: #E4E4E4; //Bar colour to right of handle
	}
	.noUi-target {
		border: 0;
		border-radius: 0;
		box-shadow: none;
		height: @height;
	}

	.noUi-horizontal {
		&.noUi-extended {
			padding-left: 0;
			margin: 5px 0;
		}
		.noUi-handle {
			border: none;
			cursor: pointer;
			box-shadow: none;
			.box-sizing(content-box);
			height: @handle-size;
			width: @handle-size;
			top: -(@handle-size / 2);
			left: 0;
			background: #868780;
			border-radius: @handle-size;
			border: 1px solid #868780;
			&:before, &:after {
				display: none;
			}
		}
		.slider-marker {
			&.down-range {
				&:before, &:after {
					border: 1px solid #868780;
					background: #868780;
				}
			}
		}
	}

	.slider-marker {
		height: inherit;
		float: left;

		&:after, &.first:before {
			content: '';
			background: @theme-light;
			display: block;
			width: @handle-size;
			height: @handle-size;
			border-radius: @handle-size;
			position: relative;
			top: -(@handle-size / 2);
			left: 100%;
			border: 1px solid #E4E4E4;
		}

		&.first:before {
			position: absolute;
			left: 0;
		}
	}

	.selection,
	.slider-legends {
		height: 1em;
		position: relative;
		padding-right: 15px;
		margin-bottom: (@border-size * 2);

		font-size: 80%;
		font-family: @font-family-theme-bold;
		color: #868780;
	}
	.slider-legend {
		float: left;
		text-align: right;

		span {
			display: inline-block;

			b {
				display: inline-block;
				position: relative;
				left: 50%;
				white-space: nowrap;
			}
		}

		&.first {
			position: absolute;
			text-align: left;
		}
		&.last {
			position: absolute;
			right: 0;
			b {
				left: 0;
			}
		}
	}
}
