.featuresMode {
	// These styles are to compliment the ones in home/results.less, aligning with the "more info/apply" buttons
	.compare-basket {
		height: 182px;

		.btn-features-compare, .btn-compare-clear {
			position: absolute;
			bottom: 7px;
			left: 8%;
			width: 84%;
		}
	}
}

.priceMode {
	.compare-basket {
		.navbar-text {
			margin-top: 11px;
			margin-bottom: 11px;
		}
	}
}