.filter-heading {
  font-size: 16px;
  color: @theme-accent-4;
}

.filter-sub-heading {
  color: @theme-accent-4;
  margin: 20px 0 10px 0;
}

.filter {

  .filter-by-container {
    .clearfix();

    .filter-toggle {
      float: right;
    }
  }

  .filter-select-all-none {
    color: @gray;
  }

  .checkbox {
    padding-top: 10px;
    color: @theme-tertiary;
  }

  .filter-by-container {
    position: relative;
    .filter-toggle {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .health-filter-hospital-benefits {
    margin-top: 10px;
  }

  &.filter-frequency {
    .btn-group .btn {
      word-wrap: normal;
    }
  }

}

.filters-update-container {
  margin-bottom: 0;
}