.results-filters-benefits,
.results-filters {
  h3 {
    margin-bottom: 1em;
  }
  h3,
  h4 {
    color: @theme-accent-4;
  }
}

.filter {
  .filter-by-container {
    .clearfix();

    .filter-toggle {
      float: right;
    }
  }

  .filter-select-all-none {
    color: @gray;
  }
}