.results-control-container {
  border-bottom: 1px solid @gray-light;
  background-color: #fff;
  &.affix {
    padding-top: 10px;
  }
  .quote-reference-number, .filter-results-hidden-products, .slide-feature-pagination {
    line-height: 40px; // height of the frequency control.
  }
  .quote-reference-number {
    font-size: 16px;
  }
  .filter-results-hidden-products {
    color: @gray;
  }
}