body {
  &:not([data-step="results"]),
  &.moreInfoVisible[data-step="results"] {
    .results-popular-products-banner {
      display: none;
    }
  }
}

.featuresMode {
  .result-row {
    @media (@lg) {
      margin-top: 34px;
    }

    &.result-has-popular-products {
      margin-top: 34px;
    }

    &.result-popular-products {
      .result-popular-products-tag {
        display: none;
      }
    }
  }

  &.results-show-popular-products-tag {
    .result-row {
      &.result-popular-products {
        border-color: @theme-secondary;

        .result-popular-products-tag {
          display: block;
          background-color: @theme-secondary;
          color: #fff;
          font-size: @font-size-base;
          line-height: 34px;
          height: 34px;
          position: absolute;
          top: -34px;
          left: -2px;
          right: -2px;
          text-align: center;

          @media (@sm) {
            font-size: @font-size-large;
          }

          .icon-info {
            color: #fff;
            font-size: @font-size-small;
            line-height: 18px;

            @media (@sm) {
              line-height: 22px;
            }
          }
        }

        .pin-result-icon {
          background-color: @results-border-color;
          &:after {
            border-color: @results-border-color transparent transparent transparent;
          }
        }

        &.hovered {
          .pin-result-icon {
            background-color: @theme-secondary;
            &:after {
              border-color: @theme-secondary transparent transparent transparent;
            }
          }
        }
      }
    }
  }
}

.results-popular-products-banner {
  background-color: @gray-lighter;
  border-bottom: 1px solid @gray-light;
  color: #fff;
  font-size: @font-size-large;
  padding-top: 5px;
  text-align: center;

  .nav-tabs {
    background-color: transparent;
    border: none;

    > li {
      display: inline-block;
      float: left;
      width: 50%;
      max-width: 180px;

      &.active {
        a,
        a:focus,
        a:hover {
          background-color: #fff;
          border: 1px solid @gray-light;
          border-bottom: 1px solid #fff;
          color: @text-color;
        }
      }

      a {
        transition: background-color 150ms ease-in-out, border-color 150ms ease-in-out;
        background-color: @theme-tertiary;
        border: 1px solid @theme-tertiary;
        border-radius: 0;
        color: #fff;
        padding: 7px;

        &:hover {
          background-color: #4965a9;
          border-color: #4965a9;
        }
      }
    }
  }

  .popular-products-text {
    color: @text-color;
    font-size: @font-size-base;
    line-height: 32px;

    @media (@sm) {
      text-align: left;
    }

    @media (@md) {
      font-size: 18px;
    }
  }
}