// NOTE: This file provides the design for the structure outlined in shared/results/v4.
//       For a list of what a .section or .category is, see ../../../shared/results/v4/less/results_structure.less

#resultsPage {
  margin-bottom: 20px;
  a.dialogPop {
    text-decoration: underline;
    color: #000000;
    font-family: @font-family-base;
  }
}

#results-sidebar {
  // need to remove this columns padding so we can apply left margin to all result-rows.
  padding: 0;
  border: 1px solid @results-border-color;
  border-left-color: @gray;
}

.noResults {
  margin-left: 20px;
}

// The product header
.resultInsert {

  /* Display Utilities only on hover of result insert */
  .display-on-hover {
    .opacity(0);
    .transition(~"opacity ease-in-out .25s");
  }

  .filter-component {
    position: absolute;
    top: 5px;
    padding: 5px;
    cursor: pointer;
    .user-select(none);
  }
  &:hover .display-on-hover {
    .opacity(1);
  }

  .remove-result {
    left: 0;
  }

  @pin-height: 25px;
  @pin-width: 20px;
  .pin-result-label {
    right: @pin-width + 10px;
  }

  .pin-result-icon {
    top: 0;
    color: #ffffff;
    right: 10px;
    width: @pin-width;
    height: @pin-height;
    background: @theme-tertiary;
    &:after {
      left: 0;
      top: @pin-height;
      position: absolute;
      content: "";
      border-style: solid;
      border-width: 5px @pin-width 0 0;
      border-color: @theme-tertiary transparent transparent transparent;
    }
  }

  .results-header-inner-container {
    border-bottom: 1px solid @results-border-color;
  }
  .productSummary {
    margin-bottom: 20px;
    .frequencyAmount {
      color: @link-color;
      cursor: pointer;
      font-size: 48px;
    }
    .frequencyAmount, .lhcText {
      float: left;
      width: 50%;
    }
    .lhcText {
      text-align: right;
      .small;
      display: flex;
      height: 50px;
      align-items: flex-end;
    }
  }

  .brochure-container {
    .small;
    margin: 20px 0;
    color: @theme-accent-4;
  }

}

.featuresMode {

  // The actual results container, to the right of the feature labels.
  .resultsOverflow {
    // Fix margins for rows on XS @todo may be unnecessary in v4
    .result-row {
      h2, h3 {
        color: @theme-accent-4;
      }
      @media (@xs-only) {
        margin-right: 10px;
      }
      @media (@sm) {
        margin-left: 10px;
      }
    }
  }

  // Each product column is a result-row, floated left so they fit beside each other.
  .result-row {
    border: 1px solid @results-border-color;
    &:hover {
      border-color: @results-border-color-pinned;
    }

    .featuresList {
      margin: auto 15px;
    }
    // .cell is used as parent wrapper as .category is re-used on non-cell divs.
    .cell {

      // A top level category e.g. the Non Cosmetic Plastic Surgery cell
      &.category { //.cell.category

        .transition(~"color ease-in-out .25s");

        // The label cell e.g. "Non Cosmetic Plastic Surgery"
        // The "Limits" label displayed inside a category's children list.
        > .labelInColumn,
        .limits-label {
          // default color is accent 1
          color: @theme-accent-4;
          .user-select(none);
          display: block;
        }
        .limits-label {
          margin-top: 5px;
        }
        &.expandable {
          .contentInner {
            color: @link-color;
          }
        }
        &.expanded {
          .contentInner {
            color: @theme-secondary;
          }
          .labelInColumn {
            border-bottom: 1px solid @results-border-color;
          }

        }

        .featureValue, .featureLabel {
          float: left;
        }
        .featureLabel {
          color: @theme-accent-4;
          width: 60%;
        }
        .featureValue {
          text-align: right;
          width: 40%;
        }

      }

      &.expandable {

        &.category {

          .children { // sub-features
            .cell {
              font-size: 12px;
              margin-left: 10px;
              &.featureGroupLimit {
                color: @gray;
              }
            }
            /*
                        &.hideChildren {
                          .cell.feature {
                            .invisible;
                          }
                        }*/
          }
        }

      }
    }
  }

  .content {
    padding: @results-column-side-padding-width 0;
    // Content of certain feature cells. This needs to be relative so the expander icon inside can be absolutely positioned.
    position: relative;
    overflow: hidden;
  }

  .extraText {
    display: none;
  }

  // Override styles for the excess and hospital cover sections.

  .featuresListHospitalOtherList {
    margin-top: 7.5px;
    padding: 10px 0;
    border-top: 1px solid @results-border-color;
    border-bottom: 1px solid @results-border-color;
  }
  .hospitalSelectionsExcessContainer {
    .featuresListExcess {
      .content {
        padding-bottom: 0;
      }
      // Overrides for the excess section:
      .excessDetailContainer {
        .excess-label {
          font-size: 10px;
          color: @gray-dark;
          text-transform: lowercase;
          margin-bottom: 0;
        }
      }

    }
  }

  // Overrides for the extras "other" list template:
  .featuresListExtrasOtherList {
    .cell {
      border-bottom: 1px solid @results-border-color;
    }
  }

}

// Outside the structure.
.resultsOtherBenefitsTooltip {
  color: @gray;
  .qtip-content > div {
    margin: 5px 0;
    .small;
  }
}

.results-control-container {
  border-bottom: 1px solid @gray-light;
  background-color: #fff;
  z-index: 18;
  &.affix {
    padding-top: 10px;
  }
  .quote-reference-number, .filter-results-hidden-products, .slide-feature-pagination {
    line-height: 40px; // height of the frequency control.
  }
  .quote-reference-number {
    font-size: 16px;
  }
  .filter-results-hidden-products {
    color: @gray;
  }
}