.featuresMode.resultsContainer {
  .results-v2 {
    .restrictedLabel {
      font-size: 14px;
      margin-bottom: 0;
    }

    .featuresListHospitalOtherList {
      margin-top: 0;
      padding-top: 0;
      border-top: none;
    }

    .featuresListExtrasOtherList {
      .hasShortlistableChildren {
        padding-bottom: 10px;
      }
    }

    .expander {
      position: relative;
      right: initial;
      top: initial;
      margin-top: 5px;
      margin-right: 5px;
    }

    .labelInColumn.category.expandable {
      .content {
        .contentInner {
          &::after {
            content: '\e600';
            color: @theme-secondary;
            font-family: 'framework_font';
            position: absolute;
            right: 10px;
          }
        }

        &.noCover {
          .contentInner {
            &::after {
              content: '\e601';
              color: @theme-accent-3;
            }
          }
        }

        &.restrictedCover {
          .contentInner {
            &::after {
              color: #f6b14b;
            }
          }
        }
      }
    }

    .cell.expandable.category {
      .children {
        position: relative;
        &.hideChildren {
          .cell.feature {
            visibility: hidden;
          }
        }
      }
    }

    .noCoverContainer {
      position: absolute;
      width: 100%;
      height: 100%;

      .noCoverLabel {
        position: relative;
        top: 35%;
        text-align: center;
      }
    }
  }
}