.health {
  &:not([data-step="results"]) {
    .refine-results {
      display: none;
    }
  }
}

.refine-results {
  float: right;
  line-height: 21px;
  padding: 9px 10px;

  @media (@sm) {
    display: none;
  }
}

.nav > li > a.refine-results {
  &:active,
  &:focus,
  &:hover {
    background-color: transparent;
  }

  @media (@md) {
    display: none;
  }
}

.refine-results-modal {
  .refine-results-discount {
    margin-top: 0;
    margin-bottom: 20px;
  }

  h3,
  .refine-results-sub-heading {
    color: @theme-accent-4;
  }

  .refine-results-sub-heading {
    font-size: @font-size-large;
    margin-bottom: 10px;
  }

  .refine-results-by-container {
    position: relative;
    margin-bottom: 20px;

    .refine-results-redirect-btn {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  .refine-results-call-back {
    color: @gray-dark;
    text-align: center;

    .refine-results-call-text,
    .refine-results-call-number {
      margin-bottom: 15px;
    }

    .refine-results-call-number {
      display: block;
      font-size: 28px;

      .icon-phone {
        color: @white;
        background-color: @theme-secondary;
        border-radius: 100%;
        width: 36px;
        height: 36px;
      }
    }

    .refine-results-view-all-times {
      display: block;
      margin-top: 10px;
    }
  }
}

.refine-results-mobile {
  section {
    background-color: #fff;
    position: absolute;
    padding: 15px;
    transition: transform 150ms ease-in-out;
    width: 100%;

    .current {
      transform: translateX(0);
    }

    &:not(.current) {
      transform: translateX(100%);
      position: fixed;
    }

    &.sliding {
      position: absolute;
    }

    &.slide-in {
      transform: translateX(0);
      position: absolute;
    }

    &.slide-out {
      transform: translateX(-100%);
      position: absolute;
    }

    .refine-results-mobile__sub-heading {
      font-size: @font-size-large;
    }

    .refine-results-mobile__item-container {
      margin: 15px -15px;

      .refine-results-mobile__item {
        position: relative;
        border-top: 1px solid #ddd;
        padding: 15px 40px 15px 15px;

        &::after {
          content: "\e910";
          font-family: 'framework_font';
          color: @theme-tertiary;
          font-size: 45px;
          position: absolute;
          right: 15px;
          top: 50%;
          margin-top: -30px;
        }
      }

      .refine-results-mobile__item-type {
        color: @theme-tertiary;
        font-weight: bold;
      }
    }
  }

  .health-refine-results-hospital-benefits {
    .nav-tabs {
      &.health-refineResults-hospital-benefits {
        background: none;

        li {
          width: 49%;
          &.active {
            display: inline-block;
          }
        }
      }
    }

    .tab-content {
      margin-top: 10px;
    }
  }

  .refine-results-checkbox-list {
    .checkbox {
      margin-top: 0;
      padding-top: 10px;
    }
  }

  .refine-results-brands-toggle {
    margin: 0 5px;
  }
}