.healthCallCentreSpecialHoursLink {
	text-decoration: underline;
	header & {
		position: absolute;
		right: 0;
		bottom: -6px;
		@media(@md) {
			bottom: 5px;
		}
	}
	.well-info & {
		color: @label-color;
	}
}
.navbar-text {
	@media(@sm) {
		position: relative;
	}
}