#promoPreCheckboxContainer {
	padding-top: 20px;
}

// Used in promotions. This style id is stored in a database field.
#promoImageContainer {
	padding-bottom: 20px;
}

.health1000promoImage  {
	background-repeat: no-repeat;
	padding: 0;
	display: block;
	width: 302px;
	height: 170px;
	.highResImg('../competition/health-$1000-offer.png'; '../competition/health-$1000-offer@2x.png'; 301px; 170px);
}

a.healthCompetitionApplicationTopHeaderContent,
a.healthPremiumIncreaseContent {
	font-size: 16px;
	text-align: center;
	padding: 10px;
	background-color: @theme-secondary;
	color: white;
	display: block;
	&:hover{
		text-decoration: none;
		color:white;
	}
}

#healthCompetitionModalImage {
	background-repeat: no-repeat;
	padding: 0;
	display: block;
	width: 750px;
	height: 236px;
	max-width: 100%;

	background-size: 750px 236px;
	.highResImg('../graphics/health/competition/Exclusive-Online-Offer.png'; '../graphics/health/competition/Exclusive-Online-Offer-@2x.png'; 750px; 236px);

	cursor: pointer;
}

.health-competition-modal .modal-content{
	width: 790px;
	margin-left: -35px;

	a {
		font-size: 12px;
		color: @theme-dark;
		margin-left: 105px;
	}
}