.all-opening-hours{
	.opening-hours{	
  		margin-top: 5px; 
	}
	h1{
		  font-size: 38px;
		  color: @theme-secondary;
	}
	h4,h3{
		  color: @theme-tertiary;
	}
	h3{
		font-weight: 600;
	}
	.day-description{
  		text-align: right;
  		font-weight: bold;
	} 
	.call-details div  .call-us {
		h1{
			line-height: 50px;
			text-align: left;
			font-weight: 500;
			span{
				  font-family: SourceSansProRegular, Helvetica, Arial, sans-serif;
				  font-size: 38px;
				  font-weight: 500;
				  height: auto;
				  text-align: left;
				  white-space: now;
			}
		}
		h4{
			line-height: 45px;
			text-align: left;		
			display: inline-block;
  			color: #333;
  			float:left;
  			font-size: 18px;
  			font-family: 'SourceSansProRegular',Helvetica,Arial,sans-serif;
		}
	}
	.special-hours{
		margin-top : 30px;
	}
}