.productSummaryDetails{
	h4{

	}
	background-color: #e4e6d8;
	padding: 20px;
	padding-top: 10px;
	font-size: @font-size-small;
	border-radius: @border-radius-small;
	margin-bottom: 28px;

	.footer{
		text-align: right;
	}
}

.policySummaryContainer{
	.policyPriceWarning{
		display: none;
		color:@state-danger-text;
		padding-top:5px;
		text-align: right;
		font-size: 10px;
	}
}