.featuresMode,
.policySummaryContainer  {
	.productSummary{
		&.horizontal {
			.companyLogo{
				width: 90px;
				line-height: 18px;
				float: left;

				@media (@xs-only) {
					height: 45px;
				}
				@media (@sm-only) {
					text-align: left;
				}
			}
		}

		&.no-logo{
			.companyLogo{
				.hidden;
			}
		}

		.price{
			margin-top: 5px;
		}



		.frequency{
			.frequencyAmount{
				font-family: @font-family-theme-bold;
				color: @price-color;
				font-size: 16px;
				@media (@sm) {
					font-size: 16px;
				}
				@media (@md) {
					font-size: 14px;
				}
				@media (@lg) {
					font-size: 20px;
				}
				text-align: center;
				line-height: 14px;
			}
			.frequencyTitle{
				color: @frequency-color;
				font-size: 10px;
				font-family: @font-family-sans-serif;
				font-weight: normal;
				font-family: @font-family-theme-bold;
				margin-left: -2px;
				letter-spacing: -0.06em;
			}
			.lhcText,
			.rounding{
				color: @theme-dark;
				font-size: 10px;
				line-height: 0.95;
				@media (@md) {
					font-size: 9px;
					line-height: 1.1;
				}
				@media (@lg) {
					font-size: 10px;
					line-height: 0.95;
				}
				text-align: center;
				display: block;
			}
		}

		&.horizontal{
			overflow: hidden;

			.companyLogo{

				@media (@xs-only) {
					position: absolute;
					overflow: hidden;
					text-align: left;
				}
				@media (@sm) {
					float: left;
				}
			}
			.price{
				@media (@xs-only) {
					margin-left:65px;
				}
				@media (@sm) {
					float: right;
				}

			}
			.frequency{
				.frequencyAmount,
				.lhcText,
				.rounding{
					text-align: right;
				}
			}
		}

		&.no-logo.horizontal{
			.price{
				float: none;
				.frequencyAmount{
					font-size: 32px;
					line-height: 20px;
					text-align: left;
				}
				.frequencyAmount,
				.lhcText,
				.rounding{
					text-align: left;
				}
			}
		}

		&.results{
			.frequencyAmount{
				color: @price-color;
			}
			.rounding{
				display: none;
			}
			height:111px;
			overflow: hidden;
		}
		.companyLogo {
			&:extend(.companyLogo);
			float: none;

			.ie8 &{
				width: 90px;
				height: 45px;
				margin-left: 30px !important; //This is ugly... but so is IE8! There is a -10px margin-left in core logos which this needs to combat
			}
		}
		&.compressed{

			// Compressed is the shorter version when the header bar is docked.
			height: 57px;
			padding: 0;

			.companyLogo{

				float:left;
				width: 26%;
				margin-top: 10px;
				margin-left: 3%;

				&.AHM{
					background-position: 0px -45px;
				}
				&.AUF{
					background-position: -90px -45px;
				}
				&.BUD{
					background-position: -180px -45px;
				}
				&.BUP{
					background-position: -270px -45px;
				}
				&.CBH{
					background-position: -360px -45px;
				}
				&.CTM{
					background-position: -450px -45px;
				}
				&.CUA{
					background-position: -540px -45px;
				}
				&.FRA{
					background-position: -630px -45px;
				}
				&.GMF{
					background-position: -720px -45px;
				}
				&.GMH{
					background-position: -810px -45px;
				}
				&.HCF{
					background-position: -900px -45px;
				}
				&.HIF{
					background-position: -990px -45px;
				}
				&.NIB{
					background-position: -1080px -45px;
				}
				&.THF{
					background-position: -1170px -45px;
				}
				&.QCH{
					background-position: -1260px -45px;
				}
			}


			.lhcText,
			.rounding{
				display: none;
			}

			.price{
				margin-top:10px;
				margin-right: 15%;
				width: 56%;
				float: right;
				span{
					display: block;
				}
			}
		}
	}
	.priceItemisation{
		overflow: hidden;
		line-height: 18px;

		.rounding{
			clear:both;
			font-size: @font-size-small;
			text-align: right;
		}

		.item{
			padding-bottom: 6px;

			.item-label-text{
				font-size: @font-size-small;
			}
			.item-value{
				text-align: right;
			}

			&.basePremium{
				.item-value{
					font-size: @font-size-large;
				}
			}

			&.totalPremium{
				border-top: solid 1px;
				border-color: @theme-light;
				font-family: @font-family-theme-bold;
				color: @price-color;
				padding-top: 10px;

				.item-label-text{
					font-size: @font-size-large;
				}
				.item-value{
					font-size: @font-size-h2;
					.frequencyTitle{
						color: @frequency-color;
						font-size: 10px;
						font-family: @font-family-sans-serif;
						font-weight: normal;
						font-family: @font-family-theme-bold;
						margin-top: 5px;
						letter-spacing: -0.06em;
						display: block;
						line-height: 1;
					}
				}
			}
		}
	}
}

/* Policy summary in right hand column */
.policySummaryContainer{
	@media (@xs-only) {
		position: relative;
		padding:5px;
	}
	@media (@sm) {
		&:not(.formMode){
			margin-bottom: 20px;
			margin-top: -52px;
		}
	}
}

.moreInfoMainDetails{
	.productSummary{
		margin-bottom: 10px;
		@media(@sm){
			margin-bottom: 20px;
		}
	}
}

.companyLogo{
	height: 45px;
	max-height: 45px;
	width: 90px;


	margin-left: auto;
	margin-right: auto;

	overflow: hidden;

	background-image: url('../../../common/images/logos/health/brands.png?version=20150331');
	background-repeat: no-repeat;
	background-size: inherit;



	&.AHM{
		background-position: 0px top;
	}
	&.AUF{
		background-position: -90px top;
	}
	&.BUD{
		background-position: -180px top;
	}
	&.BUP{
		background-position: -270px top;
	}
	&.CBH{
		background-position: -360px top;
	}
	&.CTM{
		background-position: -450px top;
	}
	&.CUA{
		background-position: -540px top;
	}
	&.FRA{
		background-position: -630px top;
	}
	&.GMF{
		background-position: -720px top;
	}
	&.GMH{
		background-position: -810px top;
	}
	&.HCF{
		background-position: -900px top;
	}
	&.HIF{
		background-position: -990px top;
	}
	&.NIB{
		background-position: -1080px top;
	}
	&.THF{
		background-position: -1170px top;
	}
	&.QCH{
		background-position: -1260px top;
	}
}