
.resultsMarketingMessage {
	top:200px;
	.insert{
		top:0;
	}
}


// Results page marketing message
.resultsMarketingMessage, .resultsLowNumberMessage {
	.opacity(0);
	margin-left: 50%;
	margin-right: 50%;
	position: relative;
	.transition(~"opacity 250ms ease-in-out");

	@media (@sm) {
		width: ((@screen-sm/2)-@grid-gutter-width);
	}
	@media (@md) {
		width: ((@screen-md/2)-@grid-gutter-width);
	}
	@media (@lg) {
		width: ((@screen-lg/2)-@grid-gutter-width);
	}

	.insert{
		padding: 5px 40px;
		padding-left:0;
		position: absolute;
		right:0;

		@media (@sm) {
			width: (@sm-results-column-width*2);
		}
		@media (@md) {
			width: (@md-results-column-width*2);
		}
		@media (@lg) {
			width: (@lg-results-column-width*2);
		}

		h4{
			color:@theme-tertiary;
		}

		.smaller{
			font-size: 12px;
		}
		.larger{
			font-size:30px;
			font-family: @font-family-theme-bold;
		}
		em{
			font-style: normal;
			color:@theme-secondary;
		}

		ul{
			margin: 0 22px;
			padding:0;
			list-style: none;
			li{
				margin-bottom:12px;
				position: relative;
			}
			li:before,
			li:after{
				font-family: 'CTM';

				font-weight: normal;
				position: absolute;
				top: 0;
				left: -24px;
				width: 20px;
				height: 20px;
				line-height: 20px;
			}
			li:before{
				content: "\e600"; //Unicode for .icon-tick
				color: @checkbox-health-marketing-tick-checked;
				left: -20px;
				top: -1px;
				font-size: 12px;
			}
			li:after{
				content: "\e603"; //Unicode for .icon-circle-cut
				color: @checkbox-health-marketing-circle-checked;
				font-size: 16px;
			}
		}
	}
	&.show{
		.transition(~"opacity 1000ms ease-in-out");
		@media (@md) {
			.opacity(1);
		}
		@media (@lg) {
			.opacity(1);
		}

	}
}

.resultsMarketingMessages {
	z-index: @results-zindex-resultsHeadersBg + 1;

	.resultsMarketingMessage{
		top:0;
	}

	&.affixed-compact{
		.resultsMarketingMessage{
			.insert{
				padding-top: 0;
			}
			h4, p{
				margin-top: 0;
				margin-bottom: 0;
			}
		}
		.resultsLowNumberMessage {
			.insert {
				top: auto;
	}
		}
	}

	&.show {
	z-index: (@results-zindex-resultsHeadersBg+10);
}

.resultsLowNumberMessage {
	z-index: (@results-zindex-resultsHeadersBg+11);
	font-family: @font-family-theme-light;
	.subtext {
	    // @gray-lighter is too hard to read
		color: lighten(@gray-light, 10%);
	}
	.insert {
		top: @compare-checkbox-height;
		* {
			@media (@md) {
				width: @md-results-column-width;
			}
			@media (@lg) {
				width: @lg-results-column-width;
			}
		}
		h4 {
			color: @gray-light;
			font-size: @font-size-base;
		}
	}
}
}

.ie8 {
	.resultsMarketingMessage, .resultsLowNumberMessage  {
		display:none;
		&.show {
			z-index : auto;
			display:block;
		}
	}
}