.health {

	// sections mixin called
	.resultsFeaturesSections(@section-color, @section-odd-color);


	// xs specific section styling
	@media(@xs-only){
		// common
		.featuresMode .hospitalCover .section.labelInColumn,
		.featuresMode .extrasCover .section.labelInColumn{
			> .content{
				color: @section-xs-text-color;
			}
		}
		// hospital
		.featuresMode .hospitalCover .section.labelInColumn > .content{
			background-color: @section-xs-hospital-color;
		}
		// extras
		.featuresMode .extrasCover .section.labelInColumn > .content{
			background-color: @section-xs-extras-color;
		}
	}


	//categories
	// common
	.resultsFeaturesCategories(@category-hospital-color, @category-hospital-odd-color, @feature-color);
	//hospital
	.featuresMode .hospitalCover .category > .content{
		color: @category-hospital-text-color;
	}
	// extras
	.resultsFeaturesCategories(@category-extras-color, @category-extras-odd-color, @feature-color, ~".extrasCover");
	.featuresMode .extrasCover .category > .content{
		color: @category-extras-text-color;
	}

	// xs specific category styling
	@media(@xs-only){

		.featuresMode .hospitalCover .category{
			.xsSection(@hospital-color, @category-hospital-color, #FFF, @hospital-expanded-color);
		}

		.featuresMode .extrasCover .category{
			.xsSection(@extras-color, @category-extras-color, #FFF, @extras-expanded-color);
		}

	}


	// rows mixin called
	.resultsFeaturesRows(@feature-color, @feature-odd-color);


	// alternate columns
	@media (@xs-only){
		.result-row:nth-child(2n+2) .labelInColumn {
			> .content{
				background-color: transparent !important;
			}
			.contentInner{
				visibility: hidden;
			}
		}
	}


	// special cases / overrrides
	.featuresMode{


		/** COLOURS **/

		.help-icon{
			color: @feature-text-color;
		}

		.hospitalCover{
			.category > .content > .help-icon,
			.icon-tick{
				color: @hospital-color;
			}

			.category.expanded > .content > .help-icon,
			.category > .content.expandableHover > .help-icon{
				color: #fff;
			}
		}

		.extrasCover{
			.category > .content > .help-icon,
			.icon-tick{
				color: @extras-color;
			}

			.category.expanded > .content > .help-icon,
			.category > .content.expandableHover > .help-icon{
				color: #fff;
			}
		}

		.promosFeature{
			.labelInColumn,
			.content{
				color: @results-features-promos-color;
			}
		}

		.section,
		.featuresHeaders .ambulanceSection,
		.ambulanceSection > .labelInColumn{
			> .content {
				color: @section-text-color;

			}
		}

		.content{
			font-size: 11px;
		}

		// make these look like section
		.section,
		.featuresHeaders .promosFeature,
		.promosFeature > .labelInColumn,
		.featuresHeaders .ambulanceSection,
		.ambulanceSection > .labelInColumn{
			> .content {

				font-family: @font-family-theme-bold;
				font-size: 18px;
				line-height: 22px;
				font-weight: normal;

				@media (@sm){
					.expander{
						display: none;
					}
				}
				.extraText{
					display: block;

					@media (@sm) {
						width: ((@sm-results-column-width + @sm-results-column-gutter-width) * 3);
					}
					@media (@md) {
						width: ((@md-results-column-width + @md-results-column-gutter-width) * 5);
					}
					@media (@lg) {
						width: ((@lg-results-column-width + @lg-results-column-gutter-width) * 5);
					}

					text-align: left;
					padding:0;

					font-family: @font-family-theme-light;
					font-size: 14px;
					overflow: hidden;
					.btn{
						padding: 2px 5px;
						margin-top:-2px;
						font-size:12px;
						font-family: @font-family-theme-light;
					}

					strong{
						font-family: @font-family-theme-bold;
						font-weight: normal;
					}
				}


			}
			&[data-skey="GeneralHealth"] ,
			&[data-skey="Hospital"]{
				.extraText{
					display: block;
					text-align: center;
					line-height: 40px;
				}
			}
			&.excessSection,
			&.selection_GeneralHealth  ,
			&.selection_Hospital {
				.extraText{
					// TEMP HIDING WHILE WE FIGURE OUR THE Z-INDEX ISSUE.
					display: none;
				}
			}


			&.expanded{
				&[data-skey="GeneralHealth"] ,
				&[data-skey="Hospital"]{
					.extraText{
						display: none;
					}
				}

			}
		}
		.promosFeature{
			> .content,
			&:nth-child(odd) > .content{
				background-color: @section-color;
			}
		}
		@media(@xs-only){
			.promosFeature{
				text-align: left;
				> .labelInColumn > .content{
					background-color: @promos-xs-section-color;
					color: white;
				}
			}
		}

		// categories style
		.category > .content{
			font-family: @font-family-theme-light;
			font-size: 14px;
		}

		// features style
		.featuresHeaders .children .feature{
			font-weight: bold;
		}
		.feature{
			color: @feature-text-color;
		}

		.featuresHeaders .featuresList > .feature > .content{
			padding-right:0;
		}

		// excess
		@media (@sm){
			.excessSection .feature{
				> .content{
					background-color: @excess-color;
				}
				&:nth-child(odd) > .content{
					background-color: @excess-odd-color;
				}
			}
		}
		@media(@xs-only){
			.excessSection {
				.feature{
					text-align: left;
				}
				> .labelInColumn > .content{
					background-color: @excess-xs-section-color;
					color: white;
				}
			}
		}

		.compared  {
			.promosFeature,
			.excessSection .feature{
				.compareBackgroundColor;
			}
		}

		// hospital sections
		.hospitalCover{
			> .content{
				color: @hospital-color;
			}
			&.expanding > .children{
				background-color: @category-hospital-color;
			}
		}
		.featuresHeaders .hospitalCover{
			> .content{
				background-color: @category-hospital-color;
			}
			&.expanded > .content,
			&.expanding > .content{
				background-color: @section-color;
			}

		}
		@media (@sm){
			.hospitalCover .category{
				&.expanded > .content,
				&.expanding > .content{
					background-color: @hospital-expanded-color;
					color: white;
				}
				> .content.expandableHover{
					background-color: @hospital-hover-color;
					color: white;
				}
			}
		}

		// extras sections
		.extrasCover{
			> .content {
				color: @extras-color;
			}
			&.expanding > .children{
				background-color: @category-extras-color;
			}
		}
		.featuresHeaders .extrasCover{
			> .content{
				background-color: @category-extras-odd-color;
			}
			&.expanded > .content,
			&.expanding > .content{
				background-color: @section-color;
			}
		}
		@media (@sm){
			.extrasCover .category {
				&.expanded > .content,
				&.expanding > .content{
					background-color: @extras-expanded-color;
					color: white;
				}
				> .content.expandableHover{
					background-color: @extras-hover-color;
					color: white;
				}
			}
		}

		.compared  {
			.section.hospitalCover {
				&.expandable.collapsed > .content{
					background-color: @category-hospital-color;
				}
			}
		}

		.compared  {
			.section.extrasCover {
				&.expandable.collapsed > .content{
					background-color: @category-extras-odd-color;

				}
			}
		}

		// ambulance section
		.ambulanceSection{

			border-top:1px solid #fff;
			border-bottom:1px solid #fff;

			@media (@sm){
				&.expanded > .content,
				> .content.expandableHover{
					background-color: @ambulance-text-color;
					color: white;
				}
				&:nth-child(odd) {
					&.expanded > .content,
					> .content.expandableHover{
						background-color: @ambulance-text-color;
					}
					> .content{
						background-color: @ambulance-color;
					}
				}
			}

			@media(@xs-only){
				&.expanded > .labelInColumn > .content{
					background-color: @ambulance-text-color;
					color: white;
				}
			}

			> .labelInColumn > .content,
			> .content{

				color: @ambulance-text-color;
				background-color: @ambulance-color;

				@media (@sm) {
					width: (@sm-results-column-width + (@sm-results-column-gutter-width*2));
				}
				@media (@md) {
					width: (@md-results-column-width + (@md-results-column-gutter-width*2));
				}
				@media (@lg) {
					width: (@lg-results-column-width +  (@lg-results-column-gutter-width*2));
				}
			}
		}
		.featuresHeaders .ambulanceSection,
		.result-row .ambulanceSection{
			> .content{
				padding-top:10px;
				padding-bottom: 6px;
				@media (@sm) {
					padding-right: (@results-column-side-padding-width + (@sm-results-column-gutter-width*2));
				}
				@media (@md) {
					padding-right: (@results-column-side-padding-width + (@md-results-column-gutter-width*2));
				}
				@media (@lg) {
					padding-right: (@results-column-side-padding-width + (@lg-results-column-gutter-width*2));
				}
			}
		}

		.featuresHeaders .ambulanceSection{
			> .content{
				@media (@sm) {
					padding-right: (@sm-results-column-gutter-width*2);
				}
				@media (@md) {
					padding-right: (@md-results-column-gutter-width*2);
				}
				@media (@lg) {
					padding-right: (@lg-results-column-gutter-width*2);
				}
			}
		}

		.featuresHeaders .ambulanceSection{
			> .content{
				padding-top:8px;
				color: @ambulance-text-color;
			}
			&.expanded > .content{
				color: white;
			}
			> .content.expandableHover{
				color: white;
			}
		}
		.ambulanceSection > .labelInColumn{
			> .content{
				color: white;
				background-color: @ambulance-text-color;
			}
			&.expanded > .content{
				background-color: @ambulance-text-color;
			}
		}

		// selection holders
		@media (@sm){
			.selectionHolder > .content{
				//padding-top: 10px;
			}
		}

		// expanded categories
		.category.expanded{
			border-bottom: 1px solid #FFFFFF;
		}


		.featuresHeaders .content{
			text-align: right;
		}

	}

	// results
	#resultsPage{
		background-color: white;
		@media(@xs-only){
			margin: 0 (-@grid-gutter-width/2);
		}
		@media(@sm){
			border-left: @results-page-border-width solid #D5D6CB;
			border-right: @results-page-border-width solid #D5D6CB;
			box-shadow: 2px 0 0 #D5D6CB, -2px 0 0 #D5D6CB;
		}
	}
	.resultsContainer{

		.icon-tick,
		.icon-cross{
			line-height: 18px;
			display: block;
			text-align: center;
		}

		.icon-cross{
			color: @cross-color;
		}
		.compared .icon-tick,
		.compared .icon-cross,
		.compared .content{
			color:@compare-text-color;
		}
		@media (@sm){
			.expanded > .content,
			.expanding > .content{
				> .icon-tick,
				> .icon-cross{
					color: #FFFFFF;
				}
			}
			.expandableHover {
				> .icon-tick,
				> .icon-cross{
					color: #FFFFFF;
				}
			}
		}

	}

} //.health

.callCentre{
	@media( @sm ){
		.result-row.active{
			.resultInsert,
			.featuresList > :not(.dualPricing):not(.ambulanceSection),
			.ambulanceSection.expanded >.children{
				border-left: 2px solid @theme-secondary;
				border-right: 2px solid @theme-secondary;
			}
			.featuresList{
				> .section.collapsed,
				> .ambulanceSection.collapsed{
					border-left: none;
					border-right: none;
				}
			}
		}
	}
}