// Simples messaging dialogs
.simples-dialogue {
	.alert;
	.alert-info;

	border: none;
	padding-bottom: 10px;

	&.green {
		.alert-success;
	}
	&.yellow {
		.alert-warning;
	}
	&.red, &.mandatory {
		.alert-danger;

		&.has-success .checkbox label {
			color: @alert-danger-text;
		}
	}

	h2, h3 {
		margin-top: 0;
		margin-bottom: 5px;
		color: inherit;

		&:after {
			.icon;
			content: "\e606"; //Unicode for .icon-arrow-down
			margin-left: 0.5em;
			font-size: 14px;
		}
		&.toggle {
			cursor: pointer;

			& + div {
				display: none;
			}
		}
		& + div {
			padding-top: 0;
		}
	}

	// Restore the font size etc
	.checkbox input + label {
		font-size: @font-size-base;
		line-height: @line-height-computed;
		padding-top: 0;
	}
}
