#navbar-main {
	.simplesSnapshot {
		padding-left: 40px;
	}
	span.snapshotJourneyName:empty + span,
	span.snapshotSituation:empty + span,
	span.snapshotState:empty + span {
		display:none;
	}
	.navbar-text-block {
		max-height: 30px;
	}
}