<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<springProperty scope="context" name="ctmLoggingPath" source="logging.path"
					defaultValue="localhost"/>

	<springProperty scope="context" name="jsonFileLoggingPath" source="ctm.logging.json.file.path"
					defaultValue="/var/log"/>


	<property name="APPNAME" value="webctm"/>
	<include resource="ctmbase.xml" />

	<appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
		<!-- in the absence of the class attribute, it is assumed that the
				desired discriminator type is
				ch.qos.logback.classic.sift.MDCBasedDiscriminator -->
		<discriminator>
			<key>loggerName</key>
			<defaultValue>default_xml</defaultValue>
		</discriminator>
		<sift>
			<appender name="FILE-${loggerName}" class="ch.qos.logback.core.FileAppender">
				<prudent>false</prudent>
				<!-- ${logLocation} comes from environmentConfigLocation properties file -->
				<file>${ctmLoggingPath}/${loggerName}.log</file>
				<encoder>
					<pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
				</encoder>
			</appender>
		</sift>
	</appender>

	<!--<if condition='p("LOG_JSON").equals("true")'>-->
		<!--<then>-->
			<appender name="JSON_FILE" class="ch.qos.logback.core.FileAppender">
				<prudent>false</prudent>
				<!-- ${logLocation} comes from environmentConfigLocation properties file -->
				<file>${jsonFileLoggingPath}/webCtmJson.log</file>
				<encoder class="com.ctm.commonlogging.logback.ExtLayoutWrappingEncoder">
					<layout class="net.logstash.logback.layout.LogstashLayout">
						<jsonFactoryDecorator class="com.ctm.commonlogging.common.LogstashFactoryDecorator"/>
						<fieldNames class="net.logstash.logback.fieldnames.ShortenedFieldNames"/>
						<includeContext>false</includeContext>
						<provider class="net.logstash.logback.composite.loggingevent.LoggingEventPatternJsonProvider">
							<pattern>{
								"accountId":"%logcxt{a}",
								"hostname":"${HOSTNAME}",
								"appname":"${APPNAME}",
								"env":"${ENV}",
								"context":"%servletctx",
								"transactionId":"%logcxt{t}",
								"brandCode":"%logcxt{b}",
								"verticalType":"${VERTICAL_TYPE:-%logcxt{v}}",
								"correlationId":"%logcxt{c}"}
							</pattern>
						</provider>
						<provider class="net.logstash.logback.composite.loggingevent.ArgumentsJsonProvider"/>
					</layout>
				</encoder>
			</appender>
		<!--</then>-->
	<!--</if>-->

	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>500</queueSize>
		<appender-ref ref="SIFT" />
	</appender>

	<logger name="com.ctm.web.core.logging.XMLOutputWriter" additivity="false">
		<appender-ref ref="ASYNC" />
	</logger>

	<!-- 3rd Party Loggers -->
	<logger name="log4j.logger.org.elasticsearch" level="INFO"/>
	<!-- Change this to DEBUG if you need the request and response from the backend services -->
	<logger name="com.ctm.web.email" level="INFO"/>
	<logger name="com.ctm.web.core.services.CommonRequestService" level="INFO"/>
	<logger name="com.ctm.web.core.intercepter.SpringFormParamMapInInterceptor" level="INFO"/>
</configuration>