// Mixin - Copied and modified colors/name from health's benefits.less
.brandCheckbox(@color) {
  .checkbox {
    color: @color;
    input {
      &:checked {
        & + label:before {
          background-color: @color;
          border-color: @color;
          color: #fff;
        }
      }
      .lt-ie9 &.checked {
        & + label:before {
          background-color: @color;
          border-color: @color;
          color: #fff;
        }
      }

      /* Focused state */
      &:focus + label:before {
        border-color: @color;
      }

    }
  }
}

.brand-selector {

  margin-bottom: 25px;

  @media (@xs-sm-only) {
    .children {
      .content-columns(2, 10);
    }
  }

  .brand-compare-price {
    h2 {
      color: @brand-compare-price-color;
    }
    .brandCheckbox(@brand-compare-price-color);
  }
  .brand-compare-features {
    h2 {
      color: @brand-compare-features-color;
    }
    .brandCheckbox(@brand-compare-features-color);

    @media (@md) {
      .children {
        .content-columns(3, 10);
      }
    }

  }

  .selectionContainer {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
  }

  .checkbox {
    display: inline-block;
    position: relative;

    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 4px;
    input + label {
      font-size: 110%;
      padding-right: 8px;
    }
    input {
      & + label:before {
        margin-top: -4px;
      }
    }
    overflow: hidden;
  }
}

.lt-ie9, .lt-ie10 {
  .brand-selector {
    @media (@md) {
      .selectionContainer {
        width: 49%;
        display: inline-block;
        vertical-align: top;
      }
    }
  }
}