//------------------------------

.resultsContainer.featuresMode {
  .generate-default-result-column-widths();
}

//------------------------------

.journeyEngineSlide.resultsSlide {
  padding-top: 0;
}

//-------------------------------------------------------------------------------------
// General result styling
//-------------------------------------------------------------------------------------

.result {
  small {
    font-style: italic;
  }
}

#results_v3 {
  @media(@lg-only) {
    margin-bottom: 190px;
  }

  @media(@md-only) {
    margin-bottom: 210px;
  }

  @media(@sm-only) {
    margin-bottom: 260px;
  }
}

//
// Comparison features disclosure
//

.comparisonFeaturesDisclosure {
  max-width:100%;
  left:0;
  background: @theme-tertiary;
  position: fixed;
  bottom: 0;
  margin: 0;
  padding: 10px 0px;
  border-top: 1px solid white;

  h4, a, p {
    color: white;
  }

  h4 {
    margin-top: 5px;
  }

  div p span.icon-arrow-right {
    margin-top:2px;
  }

  .hidden-xs a {
    text-decoration: underline;
  }
}

.disclaimer, .disclosure {
  font-size: 11px;
}

//
// Feature mode styling
//
.featuresMode {

  .compare-toggle-wrapper {
    margin-bottom: 0;
  }
  .controlContainer {
    position: relative;
    height: 100%;
  }
  .productSummary {
    text-align: center;
  }

  .icon-tick {
    color: @theme-secondary;
  }

  .icon-cross {
    color: @cross-color;
  }

  .expander{
    display: none;
  }
  .expandable {
    .expander{
      display: block;
    }
  }
  .result,
  .productSummary {
    height: 182px;
  }

  @media(@xs-only) {
    .result,
    .productSummary {
      height: 150px;
    }

    .productSummary {
      padding: (@results-feature-cell-padding * 2) @results-feature-cell-padding;

      // Using .content to pick up normal feature row styling
      // Needs -margin to combat the padding on .productSummary
      .content {
        margin: 0 -@results-feature-cell-padding;
      }

    }

    // Normal heading
    .labelInColumn {
      &.expandable .content {
        padding-right: 38px;
      }

      .content {
        color: contrast(@feature-odd-bg-color);
        background: @feature-odd-bg-color;
      }
    }

    // Special feature row with "inverse" colouring. Note this should be same specificity or less as expanded row.
    .inverseRow.labelInColumn {
      .content {
        color: @feature-inverse-color;
        background: @feature-inverse-bg-color;
      }
    }

    .inverseRow .content {
      display: none;
    }
  }
}