#redemptionForm{
  .required_input label.control-label:after {
    content: "\002A";
    color: @required-color;
    padding-left: 2px;
  }
}

.campaign-tile-container {
  .image-tile{
    height:400px;
    background-repeat: no-repeat;
    background-position: center top;

    @media (@md-only) {
      height:360px;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
    }

    @media (@sm-only) {
      height:250px;
    }
  }

  .aleks-1 {
    background-image: url("../graphics/reward/toy/aleks-1.jpg");
  }
  .aleks-2 {
    background-image: url("../graphics/reward/toy/aleks-2.jpg");
  }
  .aleks-3 {
    background-image: url("../graphics/reward/toy/aleks-3.jpg");
  }
  .sergei-1 {
    background-image: url("../graphics/reward/toy/sergei-1.jpg");
  }
  .sergei-2 {
    background-image: url("../graphics/reward/toy/sergei-2.jpg");
  }
  .sergei-3 {
    background-image: url("../graphics/reward/toy/sergei-3.jpg");
  }
  .aleks-sm,
  .sergei-sm {
    background-image: url("../graphics/reward/toy/toy-sm.png");
  }
}

.campaign-tile-container-xs {
  .alex-xs,
  .sergei-xs {
    width: 300px;
    height: 200px;
    .highResImg('../graphics/reward/toy/toy-xs.jpg'; '../graphics/reward/toy/toy-xs.jpg@2x.png'; 300px; 200px);
  }
}