.home {
	.edit-details-wrapper {

		.icon {
			padding-left: 15px;
		}

		.col-2-list {
			overflow:hidden;
			li {
				width: 50%;
				display: inline;
				float: left;
				padding-right: 15px;
			}
		}
		// Step 3 needs to float right and clear left, but only on lg.
		@media(@lg-only) {
			.pull-lg-right {
				float:right;
			}
			.clear-lg-left {
				clear: left;
			}
		}
		// Only clear both on sm+ but not lg.
		@media(@sm-md-only) {
			.clear-sm-both {
				clear: both;
			}
		}

	}
}