#xsFilterBarHomeExcessRow .btn.btn-form-inverse,
#xsFilterBarContentsExcessRow .btn.btn-form-inverse {
	padding-left: 0;
	padding-right: 0;
}

#navbar-filter-labels {
  .navbar-text {
    &.filter-home-excess-label,
    &.filter-contents-excess-label {    
      width: 120px;
    }
  }
}

#navbar-filter .landlordShowAll {
	width: 120px;
	ul.dropdown-menu {
		min-width: 230px;
		padding: 12px;
		span {
			font-size: 11px;
			display: block;
			margin-bottom: 10px;
			color: #696969;
			border-top: 1px solid #696969;
			padding-top: 10px;
		}
		li.checkbox {
			margin: 0;
			padding: 5px 0;
			text-align: left;
			margin-left: 35px;
			margin-bottom: 10px;
			font-size: 14px;
			color: #2859d3;
			&:last-child {
				margin-bottom: 0;
			}
			label {
				display: inline-block;
				height: 0;
				&:before {
					position: absolute;
					top: 0;
				}
			}
		}
	}
}