#xsFilterBarHomeExcessRow .btn.btn-form-inverse,
#xsFilterBarContentsExcessRow .btn.btn-form-inverse {
	padding-left: 0;
	padding-right: 0;
}

#navbar-filter-labels {
  .navbar-text {
    &.filter-home-excess-label,
    &.filter-contents-excess-label {    
      width: 120px;
    }
  }
}