.home {
	// Remove padding on slide side column
	.no-bottom-margin {
		margin-bottom: 0;
	}

	@media(@sm) {
		// Fix spacing between the security feature checkbox rows on sm+
		.firstSecurityFeatureRow {
			margin-bottom: 2px;
		}
	}
	.no-height {
		height: 0px;
		padding: 0px;
	}

	.esl-message {
		background-color: #f1f1f1;
		line-height: 40px;
		margin-right: 0;
		text-align: center;

		a:focus {
			color: @theme-tertiary;
			text-decoration: none;
		}

		@media (@sm) {
			background-color: inherit;
			text-align: left;
		}
	}

	.securityFeatures {
		display: none;
	}

  #navbar-filter {
    .navbar-right {
      position: relative;
      &::before {
        content: '';
        border-left: 1px solid;
        height: 26px;
        margin-top: -13px;
        position: absolute;
        top: 50%;
        left: 0;
      }
    }

    li {
      text-align: center;
      text-transform: capitalize;

      &.filter-excess {
        width: 120px;
      }

      &.filter-frequency {
        width: 120px;
      }

      > a {
        margin-right: 0;
        &:not(.btn) {
          border: none;
          padding: 10px;
        }

        &.updateFilters {
          border-color: #fff;
          font-size: 10px;
          margin-top: 6px;
          margin-left: 10px;
          padding: 4px 16px;
          text-transform: uppercase;
        }
      }
    }
  }
}