.home {
	// Remove padding on slide side column
	.no-bottom-margin {
		margin-bottom: 0;
	}

	@media(@sm) {
		// Fix spacing between the security feature checkbox rows on sm+
		.firstSecurityFeatureRow {
			margin-bottom: 2px;
		}
	}
	.no-height {
		height: 0px;
		padding: 0px;
	}

	.securityFeatures {
		display: none;
	}

  #navbar-filter {
    .navbar-right {
      position: relative;
      &::before {
        content: '';
        border-left: 1px solid;
        height: 26px;
        margin-top: -13px;
        position: absolute;
        top: 50%;
        left: 0;
      }
    }

    li {
      text-align: center;
      text-transform: capitalize;

      &.filter-excess {
        width: 120px;
      }

      &.filter-frequency {
        width: 120px;
      }

      > a {
        margin-right: 0;
        &:not(.btn) {
          border: none;
          padding: 10px;
        }

        &.updateFilters {
          border-color: #fff;
          font-size: 10px;
          margin-top: 6px;
          margin-left: 10px;
          padding: 4px 16px;
          text-transform: uppercase;
        }
      }
    }
  }
}

.landlord-filters-mobile {
	display: none;
	padding: 5px 0;
	a {
		width: 7%;
		float: left;
	}
	span {
		float: left;
		width: 30%;
		position: relative;
		padding: 0 1rem;
		i {
			position: absolute;
			left: -5px;
			top: 0;
		}
	}
}

.landlord-navbar-text {
	float: left;
}

@media (@sm) {
	.landlord-filters {
		padding: 5px 0;
	}
}

@media (@sm-only) {
	.home #navbar-filter li.filter-excess {
		width: 90px;
	}
	.home #navbar-filter-labels .navbar-text.filter-home-excess-label, .home #navbar-filter-labels .navbar-text.filter-contents-excess-label {
		width: 90px;
	}
	#navbar-filter-labels .navbar-text {
		font-size: 10px;
	}
}

@media (@xs-only) {
	.landlord-filters {
		display: none;
	}
	.landlord-filters-mobile {
		display: block;
	}
}
