/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@home-logo-BUDD-name: 'home-logo-BUDD';
@home-logo-BUDD-x: 324px;
@home-logo-BUDD-y: 162px;
@home-logo-BUDD-offset-x: -324px;
@home-logo-BUDD-offset-y: -162px;
@home-logo-BUDD-width: 80px;
@home-logo-BUDD-height: 80px;
@home-logo-BUDD-total-width: 484px;
@home-logo-BUDD-total-height: 404px;
@home-logo-BUDD-image: '../../../graphics/logos/sprites/home.png';
@home-logo-BUDD: 324px 162px -324px -162px 80px 80px 484px 404px '../../../graphics/logos/sprites/home.png' 'home-logo-BUDD';
@home-logo-BUDD-2x-name: 'home-logo-BUDD@2x';
@home-logo-BUDD-2x-x: 0px;
@home-logo-BUDD-2x-y: 0px;
@home-logo-BUDD-2x-offset-x: 0px;
@home-logo-BUDD-2x-offset-y: 0px;
@home-logo-BUDD-2x-width: 160px;
@home-logo-BUDD-2x-height: 160px;
@home-logo-BUDD-2x-total-width: 484px;
@home-logo-BUDD-2x-total-height: 404px;
@home-logo-BUDD-2x-image: '../../../graphics/logos/sprites/home.png';
@home-logo-BUDD-2x: 0px 0px 0px 0px 160px 160px 484px 404px '../../../graphics/logos/sprites/home.png' 'home-logo-BUDD@2x';
@home-logo-EXDD-name: 'home-logo-EXDD';
@home-logo-EXDD-x: 0px;
@home-logo-EXDD-y: 324px;
@home-logo-EXDD-offset-x: 0px;
@home-logo-EXDD-offset-y: -324px;
@home-logo-EXDD-width: 80px;
@home-logo-EXDD-height: 80px;
@home-logo-EXDD-total-width: 484px;
@home-logo-EXDD-total-height: 404px;
@home-logo-EXDD-image: '../../../graphics/logos/sprites/home.png';
@home-logo-EXDD: 0px 324px 0px -324px 80px 80px 484px 404px '../../../graphics/logos/sprites/home.png' 'home-logo-EXDD';
@home-logo-EXDD-2x-name: 'home-logo-EXDD@2x';
@home-logo-EXDD-2x-x: 162px;
@home-logo-EXDD-2x-y: 0px;
@home-logo-EXDD-2x-offset-x: -162px;
@home-logo-EXDD-2x-offset-y: 0px;
@home-logo-EXDD-2x-width: 160px;
@home-logo-EXDD-2x-height: 160px;
@home-logo-EXDD-2x-total-width: 484px;
@home-logo-EXDD-2x-total-height: 404px;
@home-logo-EXDD-2x-image: '../../../graphics/logos/sprites/home.png';
@home-logo-EXDD-2x: 162px 0px -162px 0px 160px 160px 484px 404px '../../../graphics/logos/sprites/home.png' 'home-logo-EXDD@2x';
@home-logo-REIN-name: 'home-logo-REIN';
@home-logo-REIN-x: 82px;
@home-logo-REIN-y: 324px;
@home-logo-REIN-offset-x: -82px;
@home-logo-REIN-offset-y: -324px;
@home-logo-REIN-width: 80px;
@home-logo-REIN-height: 80px;
@home-logo-REIN-total-width: 484px;
@home-logo-REIN-total-height: 404px;
@home-logo-REIN-image: '../../../graphics/logos/sprites/home.png';
@home-logo-REIN: 82px 324px -82px -324px 80px 80px 484px 404px '../../../graphics/logos/sprites/home.png' 'home-logo-REIN';
@home-logo-REIN-2x-name: 'home-logo-REIN@2x';
@home-logo-REIN-2x-x: 0px;
@home-logo-REIN-2x-y: 162px;
@home-logo-REIN-2x-offset-x: 0px;
@home-logo-REIN-2x-offset-y: -162px;
@home-logo-REIN-2x-width: 160px;
@home-logo-REIN-2x-height: 160px;
@home-logo-REIN-2x-total-width: 484px;
@home-logo-REIN-2x-total-height: 404px;
@home-logo-REIN-2x-image: '../../../graphics/logos/sprites/home.png';
@home-logo-REIN-2x: 0px 162px 0px -162px 160px 160px 484px 404px '../../../graphics/logos/sprites/home.png' 'home-logo-REIN@2x';
@home-logo-VIRG-name: 'home-logo-VIRG';
@home-logo-VIRG-x: 164px;
@home-logo-VIRG-y: 324px;
@home-logo-VIRG-offset-x: -164px;
@home-logo-VIRG-offset-y: -324px;
@home-logo-VIRG-width: 80px;
@home-logo-VIRG-height: 80px;
@home-logo-VIRG-total-width: 484px;
@home-logo-VIRG-total-height: 404px;
@home-logo-VIRG-image: '../../../graphics/logos/sprites/home.png';
@home-logo-VIRG: 164px 324px -164px -324px 80px 80px 484px 404px '../../../graphics/logos/sprites/home.png' 'home-logo-VIRG';
@home-logo-VIRG-2x-name: 'home-logo-VIRG@2x';
@home-logo-VIRG-2x-x: 162px;
@home-logo-VIRG-2x-y: 162px;
@home-logo-VIRG-2x-offset-x: -162px;
@home-logo-VIRG-2x-offset-y: -162px;
@home-logo-VIRG-2x-width: 160px;
@home-logo-VIRG-2x-height: 160px;
@home-logo-VIRG-2x-total-width: 484px;
@home-logo-VIRG-2x-total-height: 404px;
@home-logo-VIRG-2x-image: '../../../graphics/logos/sprites/home.png';
@home-logo-VIRG-2x: 162px 162px -162px -162px 160px 160px 484px 404px '../../../graphics/logos/sprites/home.png' 'home-logo-VIRG@2x';
@home-logo-WOOL-name: 'home-logo-WOOL';
@home-logo-WOOL-x: 246px;
@home-logo-WOOL-y: 324px;
@home-logo-WOOL-offset-x: -246px;
@home-logo-WOOL-offset-y: -324px;
@home-logo-WOOL-width: 80px;
@home-logo-WOOL-height: 80px;
@home-logo-WOOL-total-width: 484px;
@home-logo-WOOL-total-height: 404px;
@home-logo-WOOL-image: '../../../graphics/logos/sprites/home.png';
@home-logo-WOOL: 246px 324px -246px -324px 80px 80px 484px 404px '../../../graphics/logos/sprites/home.png' 'home-logo-WOOL';
@home-logo-WOOL-2x-name: 'home-logo-WOOL@2x';
@home-logo-WOOL-2x-x: 324px;
@home-logo-WOOL-2x-y: 0px;
@home-logo-WOOL-2x-offset-x: -324px;
@home-logo-WOOL-2x-offset-y: 0px;
@home-logo-WOOL-2x-width: 160px;
@home-logo-WOOL-2x-height: 160px;
@home-logo-WOOL-2x-total-width: 484px;
@home-logo-WOOL-2x-total-height: 404px;
@home-logo-WOOL-2x-image: '../../../graphics/logos/sprites/home.png';
@home-logo-WOOL-2x: 324px 0px -324px 0px 160px 160px 484px 404px '../../../graphics/logos/sprites/home.png' 'home-logo-WOOL@2x';
@spritesheet-width: 484px;
@spritesheet-height: 404px;
@spritesheet-image: '../../../graphics/logos/sprites/home.png';
@spritesheet-sprites: @home-logo-BUDD @home-logo-BUDD-2x @home-logo-EXDD @home-logo-EXDD-2x @home-logo-REIN @home-logo-REIN-2x @home-logo-VIRG @home-logo-VIRG-2x @home-logo-WOOL @home-logo-WOOL-2x;
@spritesheet: 484px 404px '../../../graphics/logos/sprites/home.png' @spritesheet-sprites;


