/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@home-logo-BUDD-name: 'home-logo-BUDD';
@home-logo-BUDD-x: 0px;
@home-logo-BUDD-y: 0px;
@home-logo-BUDD-offset-x: 0px;
@home-logo-BUDD-offset-y: 0px;
@home-logo-BUDD-width: 80px;
@home-logo-BUDD-height: 80px;
@home-logo-BUDD-total-width: 244px;
@home-logo-BUDD-total-height: 162px;
@home-logo-BUDD-image: '../../../graphics/logos/sprites/home.png';
@home-logo-BUDD: 0px 0px 0px 0px 80px 80px 244px 162px '../../../graphics/logos/sprites/home.png' 'home-logo-BUDD';
@home-logo-EXDD-name: 'home-logo-EXDD';
@home-logo-EXDD-x: 82px;
@home-logo-EXDD-y: 0px;
@home-logo-EXDD-offset-x: -82px;
@home-logo-EXDD-offset-y: 0px;
@home-logo-EXDD-width: 80px;
@home-logo-EXDD-height: 80px;
@home-logo-EXDD-total-width: 244px;
@home-logo-EXDD-total-height: 162px;
@home-logo-EXDD-image: '../../../graphics/logos/sprites/home.png';
@home-logo-EXDD: 82px 0px -82px 0px 80px 80px 244px 162px '../../../graphics/logos/sprites/home.png' 'home-logo-EXDD';
@home-logo-REIN-name: 'home-logo-REIN';
@home-logo-REIN-x: 0px;
@home-logo-REIN-y: 82px;
@home-logo-REIN-offset-x: 0px;
@home-logo-REIN-offset-y: -82px;
@home-logo-REIN-width: 80px;
@home-logo-REIN-height: 80px;
@home-logo-REIN-total-width: 244px;
@home-logo-REIN-total-height: 162px;
@home-logo-REIN-image: '../../../graphics/logos/sprites/home.png';
@home-logo-REIN: 0px 82px 0px -82px 80px 80px 244px 162px '../../../graphics/logos/sprites/home.png' 'home-logo-REIN';
@home-logo-VIRG-name: 'home-logo-VIRG';
@home-logo-VIRG-x: 82px;
@home-logo-VIRG-y: 82px;
@home-logo-VIRG-offset-x: -82px;
@home-logo-VIRG-offset-y: -82px;
@home-logo-VIRG-width: 80px;
@home-logo-VIRG-height: 80px;
@home-logo-VIRG-total-width: 244px;
@home-logo-VIRG-total-height: 162px;
@home-logo-VIRG-image: '../../../graphics/logos/sprites/home.png';
@home-logo-VIRG: 82px 82px -82px -82px 80px 80px 244px 162px '../../../graphics/logos/sprites/home.png' 'home-logo-VIRG';
@home-logo-WOOL-name: 'home-logo-WOOL';
@home-logo-WOOL-x: 164px;
@home-logo-WOOL-y: 0px;
@home-logo-WOOL-offset-x: -164px;
@home-logo-WOOL-offset-y: 0px;
@home-logo-WOOL-width: 80px;
@home-logo-WOOL-height: 80px;
@home-logo-WOOL-total-width: 244px;
@home-logo-WOOL-total-height: 162px;
@home-logo-WOOL-image: '../../../graphics/logos/sprites/home.png';
@home-logo-WOOL: 164px 0px -164px 0px 80px 80px 244px 162px '../../../graphics/logos/sprites/home.png' 'home-logo-WOOL';
@home-logo-BUDD-2x-name: 'home-logo-BUDD@2x';
@home-logo-BUDD-2x-x: 0px;
@home-logo-BUDD-2x-y: 0px;
@home-logo-BUDD-2x-offset-x: 0px;
@home-logo-BUDD-2x-offset-y: 0px;
@home-logo-BUDD-2x-width: 160px;
@home-logo-BUDD-2x-height: 160px;
@home-logo-BUDD-2x-total-width: 488px;
@home-logo-BUDD-2x-total-height: 324px;
@home-logo-BUDD-2x-image: '../../../graphics/logos/sprites/home@2x.png';
@home-logo-BUDD-2x: 0px 0px 0px 0px 160px 160px 488px 324px '../../../graphics/logos/sprites/home@2x.png' 'home-logo-BUDD@2x';
@home-logo-EXDD-2x-name: 'home-logo-EXDD@2x';
@home-logo-EXDD-2x-x: 164px;
@home-logo-EXDD-2x-y: 0px;
@home-logo-EXDD-2x-offset-x: -164px;
@home-logo-EXDD-2x-offset-y: 0px;
@home-logo-EXDD-2x-width: 160px;
@home-logo-EXDD-2x-height: 160px;
@home-logo-EXDD-2x-total-width: 488px;
@home-logo-EXDD-2x-total-height: 324px;
@home-logo-EXDD-2x-image: '../../../graphics/logos/sprites/home@2x.png';
@home-logo-EXDD-2x: 164px 0px -164px 0px 160px 160px 488px 324px '../../../graphics/logos/sprites/home@2x.png' 'home-logo-EXDD@2x';
@home-logo-REIN-2x-name: 'home-logo-REIN@2x';
@home-logo-REIN-2x-x: 0px;
@home-logo-REIN-2x-y: 164px;
@home-logo-REIN-2x-offset-x: 0px;
@home-logo-REIN-2x-offset-y: -164px;
@home-logo-REIN-2x-width: 160px;
@home-logo-REIN-2x-height: 160px;
@home-logo-REIN-2x-total-width: 488px;
@home-logo-REIN-2x-total-height: 324px;
@home-logo-REIN-2x-image: '../../../graphics/logos/sprites/home@2x.png';
@home-logo-REIN-2x: 0px 164px 0px -164px 160px 160px 488px 324px '../../../graphics/logos/sprites/home@2x.png' 'home-logo-REIN@2x';
@home-logo-VIRG-2x-name: 'home-logo-VIRG@2x';
@home-logo-VIRG-2x-x: 164px;
@home-logo-VIRG-2x-y: 164px;
@home-logo-VIRG-2x-offset-x: -164px;
@home-logo-VIRG-2x-offset-y: -164px;
@home-logo-VIRG-2x-width: 160px;
@home-logo-VIRG-2x-height: 160px;
@home-logo-VIRG-2x-total-width: 488px;
@home-logo-VIRG-2x-total-height: 324px;
@home-logo-VIRG-2x-image: '../../../graphics/logos/sprites/home@2x.png';
@home-logo-VIRG-2x: 164px 164px -164px -164px 160px 160px 488px 324px '../../../graphics/logos/sprites/home@2x.png' 'home-logo-VIRG@2x';
@home-logo-WOOL-2x-name: 'home-logo-WOOL@2x';
@home-logo-WOOL-2x-x: 328px;
@home-logo-WOOL-2x-y: 0px;
@home-logo-WOOL-2x-offset-x: -328px;
@home-logo-WOOL-2x-offset-y: 0px;
@home-logo-WOOL-2x-width: 160px;
@home-logo-WOOL-2x-height: 160px;
@home-logo-WOOL-2x-total-width: 488px;
@home-logo-WOOL-2x-total-height: 324px;
@home-logo-WOOL-2x-image: '../../../graphics/logos/sprites/home@2x.png';
@home-logo-WOOL-2x: 328px 0px -328px 0px 160px 160px 488px 324px '../../../graphics/logos/sprites/home@2x.png' 'home-logo-WOOL@2x';
@spritesheet-width: 244px;
@spritesheet-height: 162px;
@spritesheet-image: '../../../graphics/logos/sprites/home.png';
@spritesheet-sprites: @home-logo-BUDD @home-logo-EXDD @home-logo-REIN @home-logo-VIRG @home-logo-WOOL;
@spritesheet: 244px 162px '../../../graphics/logos/sprites/home.png' @spritesheet-sprites;
@retina-spritesheet-width: 488px;
@retina-spritesheet-height: 324px;
@retina-spritesheet-image: '../../../graphics/logos/sprites/home@2x.png';
@retina-spritesheet-sprites: @home-logo-BUDD-2x @home-logo-EXDD-2x @home-logo-REIN-2x @home-logo-VIRG-2x @home-logo-WOOL-2x;
@retina-spritesheet: 488px 324px '../../../graphics/logos/sprites/home@2x.png' @retina-spritesheet-sprites;

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
@home-logo-BUDD-group-name: 'home-logo-BUDD';
@home-logo-BUDD-group: 'home-logo-BUDD' @home-logo-BUDD @home-logo-BUDD-2x;
@home-logo-EXDD-group-name: 'home-logo-EXDD';
@home-logo-EXDD-group: 'home-logo-EXDD' @home-logo-EXDD @home-logo-EXDD-2x;
@home-logo-REIN-group-name: 'home-logo-REIN';
@home-logo-REIN-group: 'home-logo-REIN' @home-logo-REIN @home-logo-REIN-2x;
@home-logo-VIRG-group-name: 'home-logo-VIRG';
@home-logo-VIRG-group: 'home-logo-VIRG' @home-logo-VIRG @home-logo-VIRG-2x;
@home-logo-WOOL-group-name: 'home-logo-WOOL';
@home-logo-WOOL-group: 'home-logo-WOOL' @home-logo-WOOL @home-logo-WOOL-2x;
@retina-groups: @home-logo-BUDD-group @home-logo-EXDD-group @home-logo-REIN-group @home-logo-VIRG-group @home-logo-WOOL-group;


