// Mixins for icon sizes.
.radioIconSize(@icon-font-size, @label-font-size, @margin-offset){

	label {
		float: left;

		width: @icon-font-size * 1.3 + 2; // padding * 2 + font-size + border * 2
		font-size: @label-font-size;
		font-family: @font-family-theme-regular;
		color: @gray-dark;
		&:before{
		    font-family: framework_font;
			font-size: @icon-font-size;
			line-height: @icon-font-size * 1.3 + 2;
		}

		// minimum 2 lines of label text for float to work properly
		min-height: (@icon-font-size * 1.3 + 2) + ceil(@label-font-size * 2.2) + 15; // Icon height + label-font-size's line-height * 2 + margin-bottom
		margin: @icon-font-size * 0.15 + @margin-offset;
	}
}

// ie8 fix
html.ie8 {
	div.radioIcons {
		label:before {
			font-size: 60px;
			padding: 0.3em;
		}
	}
}

div.radioIcons {
	float:left;
	padding: 0px;
	text-align: center;
	> label.btn {
		outline:0 !important;
		color: @gray-dark;
		cursor: pointer;
		margin: 8px;
		padding: 10px;
		background-color: #ffffff;
		border: 1px solid @icon-border-color !important;
		border-radius: 5px !important;
		text-align: center;
		display: inline-block;
		width: 100px;

		&:before {
	        color: @icon-inactive-color;
			display: block;
			float: none;
			padding: 0;
		}

		&:active,
		&.active {
			background-color: @icon-bg-checked-color;
			border-color: @icon-border-checked-color;
			color: #ffffff;

			&:before {
		        color: #ffffff;
		    }
		}
	}

	@media (@xs) {
		.radioIconSize(50px, @font-size-base, 0);
	}
	@media (@sm-only) {
		.radioIconSize(40px, @font-size-small, 1);
	}
	@media (@md-only) {
		.radioIconSize(50px, @font-size-small, -1);
	}
}

