#benefitsForm .j13abtest{
    margin-top: 30px;
    .hospitalCoverToggles.hidden-xs {
        display:table;
        table-layout: fixed;
        width: 100%;
        margin-top:20px;
        .btn.benefit-category {
            display:table-cell;
            margin-left: 1%;
            margin-right: 1%;
            width: 18%;
            border: 1px solid @btn-benefit-category-border-color;
            background: @btn-benefit-category-bg-color;
            color: @btn-benefit-category-color;

            &.active {
                background: @btn-benefit-category-active-bg-color;
                color: @btn-benefit-category-active-color;
                outline: 0;
            }
        }
    }

    .hospitalCoverToggles {
        .btn-group-justified {
            margin-bottom: 5px;
            .btn {
                padding: 7px;
            }
        }

        .nonComprehensiveCover {
            text-align:center;
            margin-bottom: 10px;
            .btn {
                display:block;
                padding: 7px;
                margin-top: 5px;
                margin-bottom: 10px;
            }

            .limited {
                font-size: @font-size-small;
            }
        }
    }

    .grouping-header {
        width:60%;
        text-align:center;
    }

    .grouping-border {
        margin-top: 8px;
        border-top: 1px solid @benefits-grouping-border-color;
        width: 58%;
        margin-left: 1%;
        border-left: 1px solid @benefits-grouping-border-color;
        border-right: 1px solid @benefits-grouping-border-color;
        height: 10px;
    }

    .fourIconWidth {
        width: 46%;
        margin-left: 2%;
        display:inline-block;
    }

    .twoIconWidth {
        width: 22%;
        margin-left: 2%;
        display:inline-block;
    }

    .hospitalCoverToggles .grouping-border {
        margin-bottom: 8px;
    }

    .lastRow {
        display:block;
    }

    @media(@xs-only) {
        .healthBenefits .checkbox input {
            + label {
                line-height: 0.3em;
            }

            &:checked {
                + label {
                    line-height: 0.3em;
                    font-family: @font-family-theme-bold;
                    &:before {
                        font-family: 'framework_font';
                        content: "\e600";
                    }
                }
            }
        }

        .Hospital_container .healthBenefits .checkbox input:checked + label:before {
            background: @btn-benefit-category-bg-color;
            color: @btn-benefit-category-color;
        }
    }

    .coverExplanationContainer {
        margin-bottom: 30px;
        margin-top: 20px;
    }

    .help-icon {
        margin-top:2px;
        @media(@xs-only) {
            display:none;
        }
    }

    .benefits-list {
        margin-left: 15px;

        // custom column width because of the design
        .section{
            min-height: 1px;
            padding-left: 15px;
            padding-right: 15px;

            &.hasShortlistableChildren {
                padding-bottom:15px;
                h4 {
                    color: #000;
                }
            }

            @media (@sm) {
                float:left;
                &.custom-col-sm{
                    width:37.5%;
                }
                &.custom-col-lg{
                    width:62.5%;
                }
            }
        }

        .hasIcons {
            float: left;
            .categoriesCell {
                float:left;
                .checkbox {
                    padding: 0;

                    input {
                        &:disabled + label:before {
                            color: @health-benefits-icon-disabled-color;
                        }

                        &:checked,
                        &.checked {
                            & + label:before {
                                background-color: @health-benefits-icon-bg-checked-color;
                                border-color: @health-benefits-icon-border-checked-color;
                                color: #fff;
                            }
                        }
                    }

                    label {
                        display: inline-block;
                        padding: 0;
                        margin: 0;
                        text-align: center;

                        .iconLabel {
                            display: block;
                            height: 2.4em;
                            margin-top: 0.25em;

                            @media(@xs-only) {
                                font-size: 1em;
                            }
                        }

                        &:before {
                            display: table;
                            float: none;
                            margin: 0;
                            margin-bottom: 10px;
                            padding: 0.15em;
                            border-radius: 50%;
                            background-color: @health-benefits-icon-bg-color;
                            border-color: @health-benefits-icon-border-color;
                            color: @theme-tertiary;
                        }
                    }
                }
            }

            @media (@sm-only) {
                .benefitsIconSize(34px, @font-size-extra-small, 1);
            }
        }

        .subTitle{
            clear: left;
        }

        .noIcons {
            label{
                font-size: 1em;
                &:before{
                    border-color: @benefits-checkbox-border;
                }
            }
            // hack for the css3 multi columns, it is buggy when two columns doesn't have the same amount of children
            .categoriesCell:nth-child(5) {
                display: inline-block;
            }
        }

        .custom-col-lg{
            h2 {
                margin-left:0;
            }
            @media (@md) {
                .noIcons{
                    .content-columns(2, 10);
                }
            }
        }

        @media (@xs-only) {
            .noIcons{
                .content-columns(2, 10);
            }
        }

        .benefits-side-bar {
            @media (@sm) {
                padding-right: 30px;
                padding-left: 0;
            }

            .sidebar-wrapper {
                float:left;
                padding:0 15px;
                background-color: @sidebar-gray-bg-color;
                border-left: 1px solid @sidebar-gray-bg-border-color;

                .top-5-benefits {
                    list-style: none;
                    padding: 0;
                    margin: 20px 0;

                    li{
                        position: relative;
                        display: block;
                        color: @sidebar-gray-text-color;
                        clear: left;
                        padding: 10px 0;

                        &:before{
                            color: @sidebar-gray-icon-color;
                            float: left;
                            font-family: 'ctm-health';
                            font-size: 50px;
                            display: block;
                            margin-top: -24px;
                            margin-right: 10px;
                        }
                    }
                }
                
                .footer {
                    text-align: center;
                    margin: 20px 0;
                }

                @media (@sm) {
                    padding-top: 67px;
                }
            }
        }

    }
}

.lt-ie9,
.lt-ie10 {
    #benefitsForm .benefits-list {
        .hasIcons {
            .categoriesCell {
                width: auto;

                .checkbox {
                    label.checked:before {
                        background-color: @health-benefits-icon-bg-checked-color !important;
                        border-color: @health-benefits-icon-border-checked-color !important;
                        color: #fff;
                    }
                }

                .benefitsIconSize(60px, @font-size-base, 0);
            }
        }
    }
}