
#health-callback {
	h4,h1 {
		line-height: 40px;
		display: inline-block;
		color: @theme-dark;
		font-size: @font-size-h5;
		font-family: @font-family-theme-bold;
		span {
			color: contrast(@header-bg, @contact-headings-color, #fff);
			font-size: 28px;
		}
	}
	h1 {
		@media (@xs-only) {
			color: @theme-secondary;
		}
	}
	.quote-ref {
		color: #ffffff;
		background-color: @theme-dark;
	    display: inline-block;
	    font-size: 18px;
	    margin-right: 152px;
	    padding: 8px 20px;
	    position: absolute;
	    right: 0;
	    top: -20px;
  	}
	label {
		&.btn {
		    border: 2px solid @theme-secondary;
		    border-radius: 8px;
		    display: inline-block;
		    margin-top: 20px;
		    padding-left: 0;
		    padding-right: 0;
		    text-align: center;
		    width: 24%;
		    margin-left: 1%;
		    float: left;
		}
		&.btn:active,
		&.btn:focus,
		&.btn.focus,
		&.btn.active {
		    border-color: @theme-secondary !important;
		    background-color: @theme-secondary;
		    outline: 0;
		}
		input[type="radio"]:focus {
		    outline: 0;
		}
	}
	.fieldrow {
		> label {
			text-align: right;
			line-height: 2.4;

			@media (@xs-only) {
				text-align: left;
			}
		}
	}
	.main {
		border-right: 2px solid @theme-light;
	}
	.all-times {
		margin-top: 20px;
	}
	.day-description {
    	padding-left: 0;
	    padding-right: 0;
	}
	.switch {
		display: block;
		font-size: 12px;
		line-height: 0;

		&.call-type {
			line-height: 3em;
			font-size: 14px;
			font-weight: 600;
			text-align: center;
			width: 100%;
		}
	}
	small {
		font-size: 11px;
		color: @theme-dark;
		display: block;
		text-align: center;
	}
	.alert {
		margin-top: 18px;
	}
	.outline {
	    margin-top: 18px;
		background-color: #fbfbfb;
		border: 1px solid #f7f7f7;
		border-radius: 5px;
	}
    @media (@xs-only) {
		.switch {
			display: inline-block;
			float: right;
		}

		.call-details {
			&::before {
				border-top: 2px solid #ccc;
			    content: " ";
			    display: block;
			    margin: 40px auto 20px;
			    width: 100%;
			}
		}
	}
}
.health-callback.modal {
	.xs-results-pagination {
	 	.navbar-nav {
	 		background-color: #555;
		}
		.btn-back {

		}
	}
}