/**********************************************
	LESS PORTED FROM core/layouts.less
**********************************************/

.health-dependants{
	.definition{
		line-height: 14px;
        margin-left: 0 !important;
	}

	h5{
		color: @theme-tertiary;
	}
}