// new filter sidebar stuff.
// this could be core but who knows whats gonna happen with UTL etc.

.filters-update-container {
  background-color: #E6F7ED;
  border: 1px solid @theme-secondary;
  border-top: none;
  width: 96%;
  margin: 0 5px 0 2%;
  .filter-cancel-changes {
    margin-top: 10px;
    display: inline-block;
  }

  @media (@xs-only) {
    width: 100%;
    border: none;
    margin: 0;
    border-top: 1px solid @theme-secondary;
  }
}

.filter {

  .need-no-extras,
  .need-no-hospital {
    p {
      color: @gray-slight-dark;
    }
  }
  /**
  Override radio button group styles to keep "green" emphasis on the more info button.
  */
  .btn-form-inverse {
    &.active, &:active, &:focus {
      background-color: @gray-light;
      border-color: @gray-light;
    }
  }

  .btn-xs {
    padding: 1px 5px 2px;
    .icon {
      font-size: 10px;
      margin-top: 3px;
    }

  }

  // Make the provider list 2 columns
  .provider-list {
    -webkit-columns: auto 2; /* Chrome, Safari, Opera */
    -moz-columns: auto 2; /* Firefox */
    columns: auto 2;
  }
  @media(@xs-only) {
    div.checkbox {
      padding-bottom: 12px;
    }
  }
  // Add some extra margin to slider filter.
  .filter-slider {
    margin-top: 15px;
  }

  // Buttons tyles
  .filter-frequency {
    .btn {
      padding: 10px 5px;
      .small();
      @media (@md-only) {
        font-size: 11px;
      }
    }
  }

  .filter-toggle-all {
    display: inline-block;
    margin-top: 6px;
  }

  .checkbox {
    margin-bottom: 7px;
    label {
      display: inline;
      font-size: 13px;
      @media (@md-only) {
        font-size: 12px;
      }
      color: #555;
      //vertical-align: top;
    }
    .help-icon {
      float: right;
      margin-top: 3px;
    }
    input:checked + label,
    input.checked + label {
      color: #000;
    }
  }

}