// CSS classes to override particular styles for the new Dec 2015 redesign

#pageContent{
  position: relative;
  .transition(~"background-color 1000ms ease-in-out");
  background-color: @main-bg-colour;
}

.confirm-step {
  div:first-child {
	float: right;
  }
}

[data-step=results]{
  #pageContent{
    background-color: @page-content-bg;
    .transition(~"background-color 250ms ease-in-out");
  }
  #pageContentTop{
    opacity: 1;
    .transition(~"opacity 250ms ease-in-out");
  }
}

.fieldset,
.fieldset-column-side {
  &.lhc-group,
  &.rebate-group {
	border: none;
	h2 {
	  margin-left: 0px;
	}
  }

  &.confirmation,
  .confirmation {
	.content {
	  margin-left: 20px;
	}
	h2 {
	  font-size: 24px;
	  margin-left: 0px;
	}
  }

  .required_input label:after {
	content: "\002A";
	color: @required-color;
	padding-left: 2px;
  }
  .health-contact-details-optin-group .col-sm-offset-3,
  .competition-optin-group .col-sm-offset-3 {
	margin-left: 2%;
	width: 93%;
  }
}

/* Policy summary in right hand column */
.policySummaryContainer{
  @media (@sm) {
	&:not(.formMode){
	  margin-bottom: 20px;
	  margin-top: -30px;
	}
  }
}

#confirmation.more-info-content {
  background-color: @main-bg-colour;
}
&.instructional {
  .content,
  &.content{
	margin-left: 20px;
  }
}