#journeyEngineContainer {
	position: inherit;
}

.journeyEngineSlide.resultsSlide {
	padding-top: 0;
	@media (@xs-only) {
		padding-top: @page-offset-xs;
	}
}

#pageContent {
	position: relative;
	.transition(~"background-color 1000ms ease-in-out");
	background-color: @main-bg-colour;
}

[data-step=results]:not(.moreInfoVisible) {
	#pageContentTop {
		opacity: 1;
		.transition(~"opacity 250ms ease-in-out");
	}
}

.fieldset-column-side {

	@media (min-width: @screen-sm-min) {
		padding-top: 32px; //47px
	}
}

.btn-modal {
	&:extend(.btn-email all);
}

.btn-next, .btn-cta, .btn-save, .btn-cancel, .btn-download, .btn-edit {
	border-radius: 22px;
}

.btn-next {
  margin-top: 5px;
}
.slideAction,
.confirm-step {
	div:first-child {
		float: right;
	}
}
@media (@sm){
	.icon-phone {
		vertical-align: baseline;
		&:before {
			content: "\e608";
			font-size: 30px;
		}
	}
	.opening-hours {
		padding-left: 35px;
		letter-spacing:.5px;
	}
}
.featuresTemplateComponent .content {
	border-top: 1px solid #fff;
}
fieldset > .content,
.fieldset-card,
.fieldset-column-side .sidebar-box{
	background-color: #fff;
	border:1px solid @border-colour;
}

.fieldset-card,
.fieldset-column-side .sidebar-box {
	box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
}
.content{
	padding-top: 25px;
	@media (@xs) {
		padding-left: 25px;
		padding-right: 25px;
	}
}
//Overriding a 40px bottom
.fieldset {
  margin-bottom: 5px;
  h4 {
	color: @section-text-color;
  }

}
@media(@sm-only) {
	.btn-group-wrap .btn {
		white-space: normal;
	}
}
.fieldset,
.fieldset-column-side {
	&.lhc-group,
	&.rebate-group {
		border: none;
		.content{
	  		border: none;
			box-shadow: none;
		}
		h2 {
			margin-left: 0px;
		}
	}
	h2 {
		border-bottom: none;
		color: @header-color;
		font-weight: normal;
		font-family: @font-family-theme-bold;
		font-size: 38px;
		margin-bottom: 10px;
  	}
  	h4 {
		font-family: @font-family-base;
	}
	&.confirmation,
	.confirmation {
		h2 {
			font-size: 24px;
		}
	}
	.well-chatty {
		margin-left: 14px;
		margin-right: 14px;
	}
	.required_input label:after {
		content: "\002A";
		color: @required-color;
		padding-left: 2px;
	}
	.health-contact-details-optin-group .col-sm-offset-3,
	.competition-optin-group .col-sm-offset-3 {
		margin-left: 2%;
		width: 93%;
	}

	.definition {
		margin-left: 20px;
	}
}

.fieldset-column-side {
  padding-top: 0;

  .sidebar-box {
	font-size: 1.2em;
	padding: 20px;
	margin-bottom: 1em;

	.callCentreNumber {
	  color: @theme-secondary;
	  font-weight: 700;
	  // Make this slightly bigger than its parent
	  font-size: 1.2em;
	}
  }
}

/* Policy summary in right hand column */
.policySummaryContainer {
	@media (@sm) {
		&:not(.formMode) {
			margin-bottom: 20px;
			margin-top: -30px;
		}
	}
}

#confirmation.more-info-content {
	background-color: @main-bg-colour;
}

&.instructional {
  .content {
	h4,
	p {
		margin-left: 20px;
  	}
	}
}

/* SHOW/HIDE RIGHT PANELS */
body[data-step="start"]{
	.sidebar-box {
		&.quoteSnapshot {display:block;}
		&.callCentreHelp {display:block;}
		&.testimonials {display:block;}
		&.pricePromiseBox {display:block;}
	}
}
body[data-step="contact"] {
	.sidebar-box {
		&.quoteSnapshot {display:block;}
		&.callCentreHelp {display:none;}
		&.testimonials {display:none;}
		&.pricePromiseBox {display:none;}
	}
}
body[data-step="benefits"] {
	.sidebar-box {
		&.quoteSnapshot {display: block;}
		&.callCentreHelp {display: block;}
		&.testimonials {display: block;}
		&.pricePromiseBox {display: block;}
	}
}
body[data-step="apply"], body[data-step="payment"] {
	.sidebar-box {
		&.quoteSnapshot {display:none;}
		&.callCentreHelp {display:block;}
		&.testimonials {display:block;}
		&.pricePromiseBox {display:block;}
	}
}

