
.price-promise {
	.pricePromiseLogoBlue {
        background-image: url('../graphics/health/Price-Promise-Blue-Tilt.png');
		width: 80px;
		height: 56px;
		display: inline-block;
		margin: 0 auto;
		@media (@md) {
			background-size: contain;
			image-rendering: optimizeSpeed;
			image-rendering: -webkit-optimize-contrast;
			image-rendering: optimize-contrast;
			-ms-interpolation-mode: nearest-neighbor;
		}
	}
	h4 {
		margin-left: 10px;
		display: inline-block;
		width: 110px;
        vertical-align: top;
	}
}