/**********************************************
	LESS PORTED FROM core/resultsHeaderBar.less
**********************************************/

.resultsContainer {
  position: relative;
  z-index: @results-zindex-resultItems;


  // always in effect
  &.affixed-settings {

    .result-row {
      // To make up for the space no longer consumed by the .result element.
      padding-top: 330px;
    }

    .result {
      top: 0px;
      width: inherit;
    }
    .hide-on-affix {
      display: none;
    }
  }

  // .affixed is not in effect while going between pages.
  &.affixed {

    .result {
      display: none; // when in fixed mode, only display the items on the 'current page' - thanks to the pagination component for settings this.
      position: fixed;
    }

    .currentPage {
      .result {
        display: block;
      }
    }

  }

  &.affixed-compact {
    h3 {
      display: block; // for some reason it's hidden in the core.
    }
  }

  // only in effect during the pagination animation
  &.affixed-absoluted {
    .result {
      position: absolute;
    }
  }
}