//------------------------------

.resultsContainer.featuresMode {
  .generate-default-result-column-widths();
}

//------------------------------
.nowrap {
  white-space: nowrap;
}

.journeyEngineSlide.resultsSlide {
  padding-top: 0;
}

.restrictedTooltips {
  box-shadow: 2px 2px 4px @gray-slight-dark;
}

.result {
  .restrictedFund {
    background-color: transparent;
    cursor: help;
    margin-top: 32px;
    &:hover {
      background-color: transparent;
      color: #FF5F5F;
    }
  }
}

//
// Feature mode styling
//
.featuresMode {

  .btn-more-info {
    clear: both;
    width: 85%;
    margin: 12px auto 5px;
    @media (@sm) {
      position: absolute;
      bottom: 13px;
      left: 18%;
      width: 64%;
    }
  }

  .result {
    height: 205px;
  }
  .icon-tick {
    color: @theme-tertiary;
  }
  .icon-tick, .icon-cross {
    line-height: 18px;
  }
  .icon-cross {
    color: @cross-color;
  }

  // Product header.
  @media (@xs-only) {
    .result {
      height: 150px;
    }

    .productSummary {
      padding: (@results-feature-cell-padding * 2) @results-feature-cell-padding;

    }

    // Normal heading
    .labelInColumn {
      .content {
        color: contrast(@feature-odd-bg-color);
        //background: @feature-odd-bg-color;
      }
    }
  }

  .expandable > .content {
    cursor: pointer;
  }
  .expander {
    .icon-arrow-right;
    right: 5px;
    top: 50%;
    margin-top: -5px;
    position: absolute;
    font-size: 12px;
  }
  .expanded .labelInColumn > .content .expander,
  .expanding .labelInColumn > .content .expander,
  .expanded > .content .expander,
  .expanding > .content .expander {
    .icon-arrow-down;
  }

  &.v2 .resultsOverflow .section > .children .category > .content {
    border-top: 1px solid #e0e0e0;
  }
  .featuresHeaders .category > .content{
    padding: 6px 10px;
    padding-right: 20px;
  }
  .result-row .category > .content{
    font-family: @font-family-theme-bold;
    text-align: center;
    padding: 5px 10px;
  }
}

.resultsFeaturesSections(@section-color, @section-odd-color);

// rows mixin called
.resultsFeaturesRows(@feature-color, @feature-odd-color);

// alternate columns
@media (@xs-only) {
  .result-row:nth-child(2n+2) .labelInColumn {
    .contentInner {
      visibility: hidden;
    }
  }
  .featuresMode {
    .result-row {
      .feature > .content.c {
        background-color: #f9f9f9;
      }
    }
  }
}

// special cases / overrrides
.featuresMode {

  /** COLOURS **/

  .help-icon {
    //color: @feature-text-color;
  }


  .promosFeature {
    .labelInColumn,
    .content {
      color: @results-features-promos-color;
    }
  }

  .content {
    font-size: 13px;
  }

  // Fix padding for sub-benefit detail
  &.v2 .children .feature > .content {
    padding-top: 8px;
    padding-bottom: 0px;
    @media(@xs-only) {
      padding-bottom: 4px;
      padding-top: 4px;
    }
  }


  // make these look like a section
  .section,
  .featuresHeaders .promosFeature,
  .promosFeature > .labelInColumn,
  .featuresHeaders .ambulanceSection,
  .ambulanceSection > .labelInColumn {
    > .content {

      font-family: @font-family-theme-bold;
      font-size: 18px;
      line-height: 22px;

      @media (@sm) {
        .expander {
          display: none;
        }
      }
      .extraText {
        display: block;

        @media (@sm) {
          width: ((@sm-results-column-width + @sm-results-column-gutter-width) * 3);
        }
        @media (@md) {
          width: ((@md-results-column-width + @md-results-column-gutter-width) * 5);
        }
        @media (@lg) {
          width: ((@lg-results-column-width + @lg-results-column-gutter-width) * 5);
        }

        text-align: left;
        padding: 0;
        font-size: 14px;
        overflow: hidden;
      }

    }
    &[data-skey="GeneralHealth"],
    &[data-skey="Hospital"] {
      .extraText {
        text-align: center;
        line-height: 40px;
      }
    }

    &.selection_GeneralHealth,
    &.selection_Hospital,
    &.expanded[data-skey="GeneralHealth"],
    &.expanded[data-skey="Hospital"] {
      .extraText {
        display: none;
      }
    }

  }

  .promosFeature {
    > .content,
    &:nth-child(odd) > .content {
      background-color: @section-color !important;
    }
  }

  // categories style
  .category > .content {
    font-size: 14px;
  }

  // features style
  .featuresTemplateComponent,
  .result-row {
    &.active {
      .featuresElements,
      .result {
        border-left: @results-page-border-width solid @theme-tertiary;
        border-right: @results-page-border-width solid @theme-tertiary;
      }
      + div .featuresElements {
        border-left: none;
      }
    }
    .excessSection {
      > .h,
      > .c,
      > .labelInColumn {
        display: none;
      }
    }
  }

  // May need to hard code this to be each sections class.. the cover ones are excluded right now. @todo
  .selectionHolder > .content, .ambulanceSection > .content {
    padding-top: 10px;
    color: @theme-tertiary;
  }

  // this is for the "click to view all extras" row.
  .featuresHeaders .hospitalCover,
  .featuresHeaders .extrasCover {
    > .content {
      background-color: @category-hospital-color;
      z-index: 1;
      left: -1px;
      margin-left: 1px;
    }
    &.expanded > .content,
    &.expanding > .content {
      background-color: @section-color;
    }

  }
  // Override mixin style for excess.
  @media (@sm) {
    .excessSection .feature:nth-child(odd) > .content {
      background-color: #fff;
    }
  }
}