<?xml version="1.0" encoding="UTF-8"?>
<aggregator xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"			
			xsi:schemaLocation="http://com.disc_au.soap.aggregator ../schema/config.xsd"
			xmlns="http://com.disc_au.soap.aggregator">
		
	<merge-root>soap-response</merge-root>	
	<merge-xsl>merge-results.xsl</merge-xsl>	
	<config-dir>aggregator/avea_final_quote</config-dir>
	<error-dir>aggregator/avea_final_quote/app-logs-errors</error-dir>
	<debug-dir>aggregator/avea_final_quote/app-logs-debug</debug-dir>
	
	<service name="AVEA" type="soap">
		<soap-url>https://staging.avea.com.au:2001/QuotationService.svc</soap-url>
		<soap-action>http://services.fastr.com.au/Quotation/IQuotationService/RequestFinalQuotation</soap-action>
		<outbound-xsl>AVEA_outbound_final.xsl</outbound-xsl>
		<inbound-xsl>AVEA_inbound_final.xsl</inbound-xsl>
		<inbound-xsl-parms>productId=AVEA-01-01</inbound-xsl-parms>		
		<timeoutMillis>20000</timeoutMillis>
	</service>	
	
</aggregator>