/*---
title:   Features: Product Summary
section: Results v4
---
`.productSummary` sits within the result-row `.resultInsert` at the top of each product column in features mode. It is where the select product button is etc.

<code><pre>
&lt;div class="resultsOverflow"&gt;
      &lt;div class="results-table"&gt;
      &lt;div class="result-row" data-productid="PHIO-HEALTH-5615316"&gt;
        &lt;div class="result"&gt;
          &lt;div class="resultInsert"&gt;
            &lt;div class="productSummary"&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;/div&gt;
&lt;/div&gt;
</code></pre>
*/

.featuresMode {
  /*---
    title:   Results Header: Inner Container
    section: Features: Product Summary
    ---

    Inner Container wraps the content that needs to be constrained within the padding of the resultInsert.
    */
  .results-header-inner-container {
    margin: 10px 10px 15px 10px;
    @media(@sm) {
      margin: 10px 15px 25px 15px;
    }
  }
}

// end .featuresMode

/*---
/*---
    title:   Product Summary
    section: Features: Product Summary
    ---

    Product Summary is the div that contains the price/buy now button in features mode.
    */
.productSummary {

  // Logo Setup

  .companyLogo {
    &:extend(.companyLogo);
    float: none;
    .ie8 & {
      max-width: 90px;
      height: 45px;
      margin-left: 30px !important; //This is ugly... but so is IE8! There is a -10px margin-left in core logos which this needs to combat
    }
  }
  &.no-logo {
    .companyLogo {
      .hidden;
    }
  }

  // Price Structure & Design
  // Components are: .frequency, .frequencyAmount, .cents, .dollarSign, .comma, .frequencyTitle
  .frequency {
    text-align: center;
    .frequencyAmount {
      color: #000;
      @media (@sm) {
        color: #555;
      }
      text-align: center;
      // set font family:
      font-family: @results-price-font-family;
      .cents,
      .comma,
      .frequencyTitle {
        font-family: @results-price-cents-font-family;
      }
      // set font sizes
      font-size: 32px;
      @media (@md-only) {
        font-size: 42px;
      }
      @media (@lg-only) {
        font-size: 52px;
      }
      .dollarSign {
        font-size: 18px;
      }
      .cents, .frequencyTitle {
        font-size: 15px;
      }
      .comma {
        font-size: 80%;
      }

      // now position the elements.
      .cents,
      .dollarSign,
      .frequencyTitle {
        position: relative;
        vertical-align: super;
        top: -5px;
      }
      .dollarSign {
        top: 2px;
      }
      .cents {
        left: 3px;
      }

      &.comingSoon {
        font-size: 27px;
        padding-top: 10px;
      }
    }
    // end frequency amount
    .lhcText,
    .rounding {
      text-align: center;
      display: block;
      font-size: 11px;
      color: @gray-light;
      @media(@md) {
        font-size: 13px;
      }
    }

  }
  // end frequency
}

// end product summary
