/**
 * Styles for icons go in here!
 */
@cross-color: #FF5F5F;

.featuresMode {
  &.resultsContainer {
    .expander {
      &.leftPosition {
        position: relative !important;
        left: 0px;
        margin-top: 0px !important;
      }
      .icon-angle-down;
      right: 5px;
      @media(@sm-only) {
        right: 5px;
      }
      position: absolute !important;
      font-size: 18px;
    }
    .expanded > .category.expandable .expander {
      .icon-angle-up;
    }
    .featuresList {
      .icon-tick,
      .icon-cross {
        line-height: 18px;
        display: block;
        text-align: center;
      }

      .icon-tick {
        color: @theme-secondary;
      }
      .icon-cross {
        color: @cross-color;
      }
    }
    @media (@sm) {

      .help-icon {
        line-height: 18px;
        position: relative;
      }

      .expanded > .content,
      .expanding > .content {
        .help-icon,
        .icon-tick,
        .icon-cross {
          color: #fff;
        }
      }

      .expandableHover {
        .help-icon,
        .icon-tick,
        .icon-cross {
          color: #fff;
        }
      }
    }
  }
}

.results-filters {
  .expander {
    &::before {
      content: "\e912";
    }
  }
}