/*---
title:   Features: Scaffolding
section: Results v4
---
This file should define ONLY the scaffolding/structure to render a skeleton of the results page. Any base design should go in results_features_design.less. Things such as margins, padding, colors, borders etc should not be in this file.
*/
.featuresMode {

  .resultsOverflow {

    /*&.notScrolling {
      &:before {
        content: '';
        position: absolute;
        top: 0;
        width: 0;
        height: 100%;
        border-style: solid;
        border-width: @results-row-dropshadow-width;
        border-color: @main-bg-colour;
        z-index: 5;
      }
    }*/

    overflow: hidden;
    float: left;
    width: 100%;
    .touch & {
      //overflow-x: scroll !important;
      //-webkit-overflow-scrolling: touch; //elastic scroll on.
    }

    .results-table, .result-row {
      float: left;
    }

  }

  .labelInColumn {
    display: none;
  }

}

/**
 * Styles for expanding/collapsing feature rows
 */
.featuresMode {
  // If a .category or .section is collapsed, hide the children.
  .collapsed > .children {
    display: none;
  }

  // .expanding is a temporary class applied while row height balancing is being performed
  .expanding > .children {
    display: block;

    > .cell {
      visibility: hidden;
      height: 30px;
      overflow: hidden;
    }
  }

  // Show children when .category or .section is expanded
  .expanded > .children {
    display: block;
  }

  .expandable {
    // Make the cell look clickable
    > .content {
      cursor: pointer;
    }
  }

}