/*---
title:   Results Product Triangles
section: Health
---
Generates a triangle in the top right of a productSummary window (or a relatively positioned element). This mixin could be made core and refactored if more triangles are required

```example:html
<div class="featuresMode"><div class="restrictedFund"><div>Restricted</div></div></div>
```
```example:css
.top-right-triangle(@bg-color, @color) {
  float: right;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 75px 45px 0;
  border-color: transparent @bg-color transparent transparent;
  div {
    color: @color;
    position: absolute;
    top: 10px;
    right: 3px;
    -webkit-transform: rotate(32deg);
    -moz-transform: rotate(32deg);
    -ms-transform: rotate(32deg);
    -o-transform: rotate(32deg);
    transform: rotate(32deg);
  }
}
```
*/
@features-restricted-triangle-bg: rgb(169, 0, 0);
@features-restricted-triangle-color: #fff;
@features-selected-triangle-bg: #1C3E93;
@features-selected-triangle-color: #fff;

.top-right-triangle(@bg-color, @color) {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 75px 45px 0;
  border-color: transparent @bg-color transparent transparent;
  div {
    color: @color;
    position: absolute;
    top: 14px;
    left: 14px;
    -webkit-transform: rotate(32deg);
    -moz-transform: rotate(32deg);
    -ms-transform: rotate(32deg);
    -o-transform: rotate(32deg);
    transform: rotate(32deg);
    font-size: 10px;
  }
}

.featuresMode {
  .restrictedFund {
    .top-right-triangle(@features-restricted-triangle-bg, @features-restricted-triangle-color);
  }
  .selectedProduct {
    .top-right-triangle(@features-selected-triangle-bg, @features-selected-triangle-color);
    div {
      left: 20px;
    }
  }
}


