.homeloan {

  @media(@md-only) {
	.dropdown-container form {
	  padding: 10px;
	}
	#filter-loan-amount {
	  padding-right: 0;
	}
  }

	.filters-component {

		.footer .small {
			text-align: left;
		}
		.checkbox {
			margin-bottom: 0;
			float:left;
			width: 50%;
			& + .checkbox {
				margin-top: 10px;
			}
		}

		.checkbox input+label {
			padding-top: 0;
		}
	}

}