.homeloan {

	.filters-component {

		@media(@sm) {
			.disclaimer-negative-margin {
				margin-top: -30px;
			}
		}
		.checkbox {
			margin-bottom: 0;
			float:left;
			width: 50%;
			& + .checkbox {
				margin-top: 10px;
			}
		}

		.checkbox input+label {
			padding-top: 0;
		}
	}

}