.homeloan {

	#navbar-compare.navbar-affix.affix {
		top: 41px;
	}

	.confirmation .btn-cta {
		border: none;
	}

	.enquire-now-blank {
		margin-top: 20px;
	}

	.blank-enquire>div {
		padding-top: 15px;
		@media(@sm-only) {
			h5 {
				margin-top: 0;
			}
		}
		@media(@lg) {
			padding-top: 20px;
		}
	}

	.product-type-container {
		.checkbox {
			display: inline-block;
			width: 49%;
		}
	}

}

@media(@sm) {
	.yourLoanDetails-bubble {
		margin-top: 47px;
	}
}// sm+