.homeloan {

	// Add your slide feature here to be hidden by default
	.slide-feature-back,
	.slide-feature-emailquote,
	.slide-feature-emailresults,
	.slide-edit-quote-dropdown,
	.slide-feature-filters
	{
		.slide-feature-hidden();

		// Necessary to make use of the journeyEngine slide-feature styles that animate max-width.
		a {
			white-space: nowrap;
		}
	}

	.slide-feature-pagination {
		display: none;
	}

	// Add your slide feature to the particular step that it needs to be visible
	&[data-step="situation"] {
		.slide-feature-emailquote.privacyOptinChecked
		{
			.slide-feature-is-visible();
		}
	}

	&[data-step="results"] {
		.slide-feature-back,
		.slide-feature-emailquote.privacyOptinChecked,
		.slide-edit-quote-dropdown,
		.slide-feature-filters
		{
			.slide-feature-is-visible();
		}

		.slide-feature-pagination {
			display: block;
		}
	}

	&[data-step="enquiry"] {
		.slide-feature-back
		{
			.slide-feature-is-visible();
		}
	}


}