//------------------------------

.resultsContainer.featuresMode {
	.generate-default-result-column-widths();
}

//------------------------------
.nowrap {
	white-space: nowrap;
}

.journeyEngineSlide.resultsSlide {
	padding-top: 0;
}

//-------------------------------------------------------------------------------------
// General result styling
//-------------------------------------------------------------------------------------

//
// Provider chose not quote group
//
.result_unavailable_combined {
	text-align: center;

	.featuresMode & {
		.result,
		.productSummary {
			height: auto;
		}
	}

	&.result-row {
		// These override the normal .result-row styling
		background: #fff;
		border: none !important;
		padding: 0;

		h2 {
			color: @results-no-quote-text;
			font-size: 20px;
			margin-bottom: (@results-price-row-padding * 2);

			@media(@xs-only) {
				margin: (@results-price-row-padding * 2) @results-price-row-padding;
			}
		}

		.logos {
			background: @theme-light;
			padding: @results-price-row-padding;
			border: 1px solid @results-border-color;
		}
	}

	.companyLogo {
		// Add some spacing around 'chose not to quote' logos
		margin-right: 20px;
		margin-bottom: 20px;

		.v2 & {
			float: none;
			display: inline-block;
			background-color: transparent;
		}
	}
}// chose not to quote combined


.comparison-rate-disclaimer {
	h6 {
		margin: 0;
	}
	@media(@xs-only) {
		padding: 15px;
	}
}

.frequencyTitle,
.excessTitle {
	text-transform: uppercase;
	font-size: 12px;
	line-height: 12px;
	color: @results-price-product-base-color;
}

.frequencyAmount {
	font-size: 36px;
	line-height: 36px;
	color: @results-price-product-price-color;
}
.excessAmount {
	font-size: 24px;
	line-height: 24px;
	color: @results-price-product-base-color;
}

.interestRate {
	.excessAmount,
	.excessTitle {
		color: @results-interest-rate-color;
	}
}

@media(@sm) {
	.priceMode .result-row {
		margin-bottom: (@results-price-row-padding * 2);
	}
}

.result-row[data-available="N"],
.result-row[data-available="E"] {
	.companyLogo {
		background-color: transparent;
	}
}

@media(@sm) {
	.priceMode .priceMode {
		h2,
		.description {
			margin-left: 95px;
		}

		.comparisonRate {
			margin-top: 12px;
		}

		.btn-enquire-now {
			margin-top: 10px;
		}
		.btn-more-info {
			margin-top: 8px;
			display: block;
			text-decoration: underline;
			text-align: center;
		}
	}
}//media sm+

@media(@md) {

	.push-top-20 {
		padding-top: 20px;
	}

	.priceMode .priceMode {

		.frequencyAmount,
		.frequencyTitle,
		.excessAmount,
		.excessTitle {
			display: inline-block;
		}
		.frequencyTitle,
		.excessTitle {
			width: 50px;
			line-height: 11px;
			margin-left: 4px;
		}

		.interestRate,
		.comparisonRate {
			margin-top: 9px;
		}
	}
}

@media(@lg) {

	.priceMode .priceMode {
		.btn-enquire-now {
			margin-top: 0;
		}
	}

}// lg

//
// Feature mode styling
//
.featuresMode {
	&.resultsContainer {
		margin-bottom: 30px;
	}

	.controlContainer {
		position: relative;
		height: 100%;
	}

	.productSummary {
		position: relative;

		p {
			clear: both;
		}

		.btn-enquire-now {
			@media(@sm) {
				position: absolute;
				bottom: 8px;
				left: 8%;
				width: 84%;
			}
			@media(@lg) {
				left: 13%;
			}

		}

		.frequency {
			// Make room for the logo
			margin-left: 90px;
		}
	}

	.icon-tick {
		color: @tick-color;
	}
	.icon-cross {
		color: @cross-color;
	}

	.frequencyAmount,
	.excessAmount,
	.frequencyTitle,
	.excessTitle {
		width: auto;
		margin-top: 0;
	}

	.result,
	.productSummary {
		height: 182px;
	}

	@media(@xs-only) {
		.result,
		.productSummary {
			height: 150px;
		}

		.btn-enquire-now {
			clear: both;
		}

		.productSummary {
			padding: (@results-feature-cell-padding * 2) @results-feature-cell-padding;

			h2 {
				margin-left: 90px;
				line-height: 0.9;
			}
			.btn-more-info {
				clear: none;
				width: auto;
				margin: @results-feature-cell-padding @results-feature-cell-padding 0 90px;
			}

			// Using .content to pick up normal feature row styling
			// Needs -margin to combat the padding on .productSummary
			.content {
				margin: 0 -@results-feature-cell-padding;
			}

		}

		// Normal heading
		.labelInColumn {
			.content {
				color: contrast(@feature-odd-bg-color);
				background: @feature-odd-bg-color;
			}
		}

		// Not a real feature, but shares the styling.
		.fakeFeatures {
			.labelInColumn .content {
				color: #fff;
				background: @theme-secondary;
			}
		}

		// Special feature row with "inverse" colouring. Note this should be same specificity or less as expanded row.
		.inverseRow.labelInColumn {
			.content {
				color: @feature-inverse-color;
				background: @feature-inverse-bg-color;
			}
		}

		// Special case as per design
		.excessFeature.labelInColumn {
			.content {
				color: contrast(@btn-pagination-bg-color, #000, #fff, 46%);
				background: @btn-pagination-bg-color; //Match xs-results-pagination
			}
		}
	}

	@media(@sm-only) {
		.productSummary {
			.frequency {
				padding-top: 10px;

				// Make room for the logo
				margin-left: 70px;

				&.annual {
					// This makes room for monthly price content
					margin-bottom: 28px;
				}
			}

			.frequencyAmount {
				font-size: 30px;
				line-height: 30px;
			}

			.btn-more-info {
				width: auto;
			}
		}
	}// sm only

	@media(@md-only) {
		.result,
		.productSummary {
			height: 180px;
		}
	}// md only

	@media(@lg) {
		.productSummary {
			.frequency {
				// Make room for the logo
				margin-left: 80px;
			}

			.frequency {
				div {
					display: inline-block;
				}

				.frequencyTitle {
					width: 70px;
					margin-left: 6px;
				}
			}

			.btn-enquire-now {
				width: 75%;
			}

		}
	}// lg

	@media(@sm-only) {
		// Shrink the logo due to layout
		.companyLogo {
			width: 60px;
			height: 60px;
			line-height: 60px;
			background-size: 60px 60px !important; //important for iPad
		}
	}
	@media(@lg) {
		// Shrink the logo due to layout
		.companyLogo {
			width: 60px;
			height: 60px;
			line-height: 60px;
			background-size: 60px 60px !important; //important for iPad
		}
	}

}// features mode

