
// ResultsObj page marketing message
header{

	min-height: 40px !important;
}

div[class*="ToggleArea"].show_N,
div[class*="ToggleArea"].show_ {
	display: none;
}
div[class*="ToggleArea"].show_Y {
	display: block;
}

// NASTY HACK TODO
// This should be solved by making the column for fields wider
@media(@sm) {
	label.btn {
		white-space: normal;
	}
}