.promo-row .fieldrow_label {
  margin-left: 0;
  width: 176px;
}

.promo-row .fieldrow_value {
  margin-left: 0;
  margin-bottom: 0;
  max-width:420px;
}

.promo-container {
  width: 490px;
  margin-bottom: 10px;
}

.promo-row {
  margin-left: -2px;
}
.promo-row .fieldrow_value input[type="checkbox"] {
  margin: 10px 5px;
  margin-left: 14px;
}

.promo-row .fieldrow_value label {
  color: white;
  position: relative;
  top: -2px;
}

.promo-row .fieldrow_value a {
  color: white;
}

.promo-image {
  display: block;
  width: 439px;
  height: 100px;

}

.promo-image.life,
.promo-image.life-28 {
  background-image: url("../../../../brand/ctm/images/results_Life_IP/Life-Comp-journey-banner.png");
}

.promo-image.life-27 {
  background-image: url("../../../../brand/ctm/images/results_Life_IP/5000-journey-banner-life.jpg");
}

.promo-image.life-29 {
  background-image: url("../../../../brand/ctm/images/results_Life_IP/5000Competition.png");
  height: 158px;
}

.promo-image.life-30 {
  background-image: url("../../../../brand/ctm/images/results_Life_IP/5000JanCompetition.png");
  height: 135px;
}
.promo-image.life-31 {
  background-image: url("../../../../brand/ctm/images/results_Life_IP/5000-LIFEcompetition.jpg");
  height: 135px;
}
.promo-image.life-32 {
  background-image: url("../../../../brand/ctm/images/results_Life_IP/5000-LIFEcompetition.jpg");
  height: 135px;
}