.results-highlighted {
  color: @theme-tertiary;
  font-family: @font-family-theme-bold;
}

.fake-results-padding {
  padding: @padding-base-vertical @padding-base-horizontal;
  padding-top: 0;
}

#resultsAlsoCompares {
  .options-list {
    padding-top: @padding-base-vertical;

    > div {
      clear: both;
      display: block;
      width: 100%;
      padding: 0;

      .icon {
        color: @theme-secondary;
        width: 30px;
        text-align: center;
      }

      span {
        padding-left: @font-size-base / 3;
      }
    }
  }
}