/*!
 * CTM-Platform v0.8.3
 * Copyright 2015 Compare The Market Pty Ltd
 * http://www.comparethemarket.com.au/
 */
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.modal-footer:after {
  clear: both;
}
body > div > header a.bottombar .btn-call {
  color: #ffffff;
}
body > div > header a.bottombar .btn-call:hover {
  color: #ffffff;
}
.compareBar .comparisonActive .btn.compareBtn {
  background-color: #0db14b;
  color: #ffffff;
}
.compareBar .comparisonActive .btn.compareBtn:hover,
.compareBar .comparisonActive .btn.compareBtn:focus {
  background-color: #097833;
  color: #ffffff;
  outline: 0;
}
.compareBar .comparisonActive .btn.compareBtn:active,
.compareBar .comparisonActive .btn.compareBtn.active {
  background-color: #1c3e93;
  color: #ffffff;
}
.compareBar.active .comparisonActive .compareBtn.clearMode,
.filters-component .btn-save {
  background-color: #1c3e93;
  color: #ffffff;
}
.compareBar.active .comparisonActive .compareBtn.clearMode:hover,
.compareBar.active .comparisonActive .compareBtn.clearMode:focus,
.filters-component .btn-save:hover,
.filters-component .btn-save:focus {
  background-color: #122860;
  color: #ffffff;
  outline: 0;
}
.compareBar.active .comparisonActive .compareBtn.clearMode:active,
.compareBar.active .comparisonActive .compareBtn.clearMode.active,
.filters-component .btn-save:active,
.filters-component .btn-save.active {
  background-color: #0db14b;
  color: #ffffff;
}
.sidebar .btn-download,
.bottombar .btn-download {
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
  border-width: 1px;
  border-style: solid;
}
.bottombar .btn-call {
  background-color: #0db14b;
  color: #ffffff;
}
.bottombar .btn-call:hover,
.bottombar .btn-call:focus {
  background-color: #097833;
  color: #ffffff;
  outline: 0;
}
.bottombar .btn-call:active,
.bottombar .btn-call.active {
  background-color: #1c3e93;
  color: #ffffff;
}
h3 {
  text-align: center;
}
.loginButtonContainer {
  padding-left: 0;
}
.forgot-password {
  display: inline-block;
  margin-top: 7px;
}
.roundedContainer {
  padding: 15px 30px;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .roundedContainer {
    border-radius: 15px;
    border: 1px solid #ccc;
  }
}
.datepicker {
  z-index: 1060 !important;
}
.generic .slide-feature-my-quotes,
.generic .slide-feature-start-new-quote,
.generic .slide-feature-logout {
  display: none;
}
.generic[data-step="quotes"] .slide-feature-my-quotes,
.generic[data-step="quotes"] .slide-feature-start-new-quote,
.generic[data-step="quotes"] .slide-feature-logout {
  display: block;
}
@media screen and (min-width: 768px) {
  .generic[data-step="quotes"] #navbar-main {
    max-height: 100px;
  }
}
.quote-row {
  border: 1px solid #e0e0e0;
  background-color: #f9f9f9;
  margin-bottom: 15px;
  padding: 10px;
}
.quote-row .icon {
  font-size: 3em;
  margin-top: 10px;
  color: #1c3e93;
}
.quote-row .icon-quote:before {
  content: "\e60a";
}
.time-ago {
  text-align: center;
  font-size: 12px;
}
