.k_static {
  display: none;
}

#errorContainer {
  color: #EA0000;
}
#copyright a {
  color: @link-color !important;
}
#loading-anim {
  background: url("../../../common/images/loading.gif") no-repeat scroll left top transparent !important;
}
#loading-message {
  color: #333333;
}
#fatal-error-dialog .dialog_footer {
  background: url("../../../common/images/error_fatal/footer.gif?v5") no-repeat scroll left top transparent !important;
}
#fatal-error-dialog .dialog_header {
  background: url("../../../common/images/error_fatal/header_under.gif?v5") no-repeat scroll left top transparent !important;
}
.ui-dialog.fatal-error-dialog .ui-dialog-titlebar .ui-dialog-title {
  color: @theme-active !important;//#F46C00;
  background: transparent url("../../../common/images/error_fatal/warning.png?v5") center left no-repeat !important;
}
.fatal-error-dialog .ui-dialog-titlebar {
  background-image: url("../../../common/images/error_fatal/header_over.gif?v5") !important;
}
.fatal-error-dialog .ui-dialog-titlebar-close.ui-state-hover {
  border-color: @theme-active !important;//#F46C00;
  background-color: @theme-active !important;//#F46C00;
}
.fatal-error-dialog .ui-dialog-content {
  background-image: url("../../../common/images/error_fatal/content.gif?v5") !important;
}
#fatal-error-dialog .wrapper .ok > a {
  background: transparent url("../../legacy/images/button_bg.png?v5") top left no-repeat;
}
#fatal-error-dialog .wrapper .ok > a span {
  color: #ffffff;
  background: transparent url("../../legacy/images/button_bg_right.png?v5") top right no-repeat;
}
.popup h5 {
  color: @theme-secondary !important;
  font-family:"SunLT Light", "Open Sans", Helvetica, Arial, sans-serif;
}
.popup_450 h5 {
  background: url("../../legacy/images/dialog/header_450.gif") no-repeat scroll 0 0 transparent !important;
}
.popup_450 .content {
  background: white url("../../../common/images/dialog/content_450.gif") repeat-y !important;
}
.popup_450 .buttons {
  background: transparent url("../../../common/images/dialog/buttonpane_450.gif") no-repeat !important;
}
#wrapper {
  background-color:white;
}
#headerShadow {
  //background:url('../../../common/images/results-shadow.png') repeat-x top left;
  background:url('../../legacy/images/results-shadow.png') repeat-x top left !important;
}
.full-width .header {
  background-image: url("../../legacy/images/main_bg_top.png") !important;
  color: @theme-secondary !important;//#0C4DA2;
  font-family:"SunLT Bold", "Open Sans", Helvetica, Arial, sans-serif;
}
.full-width .content {
  background-image: url("../../legacy/images/main_bg_nc.png") !important;
}
.full-width .footer {
  background-image: url("../../legacy/images/main_bg_nc_bottom.png") !important;
}
.quote-row {
  border-top: 1px solid #DDDDDD;
}
.quote-row .quote-details span {
  color:#555555;
}
.quote-row .quote-details span.vehicle, .quote-row .quote-details span.title {
  color:black;
}
#new-date-button {
  background: transparent url("../../../common/images/dialog/ok.gif") no-repeat !important;
}
#new-date-button:hover {
  background: transparent url("../../../common/images/dialog/ok-on.gif") no-repeat !important;
}
.transactionId {
  color: @theme-tertiary !important;//#0CB24E;
}

#copyright,#footer,header,#page>h2 {
	display: none;
}

#logo {
	margin: 0 auto;
}

.journeyEngineLoader {
  @media (@xs) {
    width:100%;
  }
}
.spinner {
	white-space: nowrap;
}
#journeyEngineContainer {
	height: 300px;
	width: 100%;
	margin: auto;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}