.range-slider {
  input[type=range] {
    margin: auto;
    outline: none;
    padding: 0;
    width: 100%;
    height: 12px;
    background-color: @gray-lighter;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #473e4f), color-stop(100%, #51475a));
    background-image: -webkit-linear-gradient(#473e4f, #51475a);
    background-image: -moz-linear-gradient(#473e4f, #51475a);
    background-image: -o-linear-gradient(#473e4f, #51475a);
    background-image: linear-gradient(@theme-active, @theme-active);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    cursor: pointer;
    -webkit-appearance: none;

    &::-webkit-slider-runnable-track {
      box-shadow: none;
      border: none;
      background: transparent;
      -webkit-appearance: none;
    }

    &::-moz-range-track {
      box-shadow: none;
      border: none;
      background: transparent;
    }

    &::-moz-focus-outer {
      border: 0;
    }

    &::-webkit-slider-thumb {
      width: 25px;
      height: 25px;
      border: 0;
      background: #fff;
      border-radius: 100%;
      box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1);
      border: 1px solid grey;
      -webkit-appearance: none;
    }

    &::-moz-range-thumb {
      width: 14px;
      height: 14px;
      border: 0;
      background: #fff;
      border-radius: 100%;
      box-shadow: 0 0 1px 0px rgba(0, 0, 0, 0.1);
    }
  }
}