.call-me-back-form {
	.well{
		margin-top: 37px;
	}
}

#callMeBackTabButton {
	display: block;
	position: fixed;
	width: 179px;
	height: 48px;
	right: 50%;
	bottom: 0;
	z-index: 1042;
	margin-right: -429px;
	background: transparent url(../../../common/images/request_callback/button.png) top left no-repeat;
	&:hover{
		background-position: bottom left;
	}
}

@media (@xs-only) {
	.callMeBackTab {
		display: none;
	}
}