.dynamicTopHeaderContent {
	.top-bar {
		text-align: center;
		padding: 10px;
		background-color: @dynamicheadercontent-bg;
		display: block;
		a, span {
			color: #fff;
			font-size: @dynamicheadercontent-font-size;
		}
		a {
			&:hover{
				text-decoration: none;
				color: #fff;
			}
		}
	}
	.unsupported-browser-close {
		position: fixed;
		top: 5px;
		right: 5px;
		color: #fff;
		z-index: 9999;
		width: 24px;
		height: 24px;
	}
}