#kampyle {
	//
	// Style this up for SMALL breakpoint and above
	//
	@media (@sm) {
		bottom: 0;
		right: 0;
		position: fixed;
		z-index: 1001; // It used to be 20001 to be over everything...

		a {
			width: 89px;
			height: 89px;
			background: transparent url(../../../common/kampyle/images/feedback2.png) no-repeat;
			display: block;
			padding: 0;
			margin: 0;
			border: 0;
			border-radius: 0;
		}
	}

	// Special rules when CSS transform are supported.
	// Basically we rotate the element to create a triangular 'hit area' so the transparent area of the graphic is not clickable.
	html.csstransforms & {
		@media (@sm) {
			bottom: -65px;
			right: -65px;
			.rotate(45deg);
			width: 128px;
			height: 128px;
			overflow: hidden;

			a {
				.rotate(-45deg);
				position: relative;
				left: -44px;
				top: 19px;
			}
		}
	}

	//
	// Styles for XS only
	//
	@media (@xs-only) {
		margin: 0 auto 11px;

		a {
			background: #E64400;

			&:active, &:hover {
				background: #A52E00;
			}
		}
	}

	@media print {
		display: none !important;
	}
}
