.payment-frequency-buttons {
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;

  .control-label {
    color: #999;
    font-size: 12px;
    text-align: center;
  }

  @media (@sm) {
    display: none;
  }
}