.fuel {

  .xs-results-pagination {
    visibility: hidden;
  }

    // Add your slide feature here to be hidden by default
  .slide-feature-back,
  .slide-feature-price-history,
  .resultsSummaryContainer,
  .journeyProgressBar
  {
    .slide-feature-hidden();

    // Necessary to make use of the journeyEngine slide-feature styles that animate max-width.
    a, .resultsSummaryPlaceholder {
      white-space: nowrap;
    }
  }

  .sortbar-container {
    display: none;
  }

  // Add your slide feature to the particular step that it needs to be visible
  &[data-step="results"] {
    //put the sorting/filtering bar here to be shown once it exists.
    .slide-feature-back,
    .resultsSummaryContainer,
    .slide-feature-price-history {
      .slide-feature-is-visible();
    }

    .sortbar-container {
      display: block;
    }

    @media screen and (@sm) {
      #navbar-main {
        //max-height: (@navbar-height * 2);
        max-height: 100px; //TODO: tweak for the sort bar.
      }
    }
  }
}