.dual-pricing-modal {
  color: #666;

  h1 {
    font-family: @font-family-theme-regular;
  }

  h2 {
    color: @theme-dark;
    font-family: @font-family-theme-bold;
    margin-bottom: 0;
  }

  .need-to-review-cover {
    font-size: @font-size-small;
    line-height: 25px;
    text-align: right;
  }

  hr {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .row {
    margin-bottom: 15px;
    &:first-of-type {
      margin-bottom: 0;
    }
  }

  .dual-pricing-highlight {
    color: @theme-secondary;
  }

  .dual-pricing-date {
    font-size: 21px;
    font-family: @font-family-theme-bold;
  }

  .rounded-gray-bg {
    background-color: #999;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;

    @media (@xs-only) {
      margin: 10px 0;
    }
  }
}


/* Results Page */
.callCentre[data-step="results"] .resultInsert .productSummary {
  height: 220px;
}

[data-step="results"] {
  /* coming soon styles */
  .resultInsert .results-header-inner-container.comingsoon {

    .productSummary {
      .april-pricing {
        padding-bottom: initial;
        margin-bottom: initial;

        .altPriceContainer {
          width: 100%;
          height: 51px;
          padding-top: 0px;
          .price.premium .frequencyAmount {
            font-size: 16px;
            color: @dual-pricing-dark-font-colour;
            padding-bottom: 10px;
            padding-top: 0px;

            @media(@xs-only) {
              font-size: 12px;
            }
          }
        }

        .altPriceContainer {
          .frequencyAmount {
            text-align: center;
          }
        }

        .altPriceDetailsContainer {
          display: none;
        }
      }
    }
  }
}

/* Moreinfo Page */
.moreInfoVisible[data-step="results"] {
  .more-info-content {
    .hasDualPricing {
      h1.productName {
        padding-top: 20px;
      }

      .dual-pricing-container {
        @media (@sm) {
          display: flex;
          align-items: center;
        }

        .april-pricing,
        .current-pricing {
          @media (@sm) {
            display: inline-block;
          }

          .priceContainer {
            text-align: center;
            .heading {
              font-family: @font-family-sans-serif;
              color: @dual-pricing-light-gray;
              font-size: 18px;
            }
          }

          .lhcText {
            color: @dual-pricing-dark-font-colour;
          }

          .premiumsRising {
            color: @dual-pricing-light-gray;
            display: block;
            margin-top: 15px;

            @media (@xs) {
              margin-top: 0px;
            }
          }
        }

        .current-pricing {
          h3 {
            margin-bottom: 0;
          }

          .applyBy {
            color: @dual-pricing-light-gray;
          }

          .frequencyTitle {
            text-transform: lowercase;
          }
        }

        // halve all the font sizes for april pricing
        .april-pricing {
          @media (@sm) {
            border-left: 1px solid @dual-pricing-border-colour;
            padding-left: 20px;
            margin-left: 20px;
          }

          @media (@xs-only) {
            border-top: 1px solid @dual-pricing-border-colour;
            padding-top: 20px;
            margin-top: 20px;
          }

          .frequencyAmount {
            font-size: 40px;
            color: @dual-pricing-light-gray;

            .dollarSign {
              font-size: 18px;
            }

            .frequencyTitle,
            .deadline {
              display: none;
            }
          }

          .cents {
            font-size: 15px;
          }
        }
      }
    }

    /* coming soon styles */
    &.comingsoon {

      .dual-pricing-container {
        @media (@sm) {
          display: flex;
          align-items: center;
        }

        .april-pricing {

          @media (@xs-only) {
            display: flex;
            align-items: center;
          }

          @media (@xs-only) {
            border-top: 1px solid @dual-pricing-border-colour;
            padding-top: 20px;
            margin-top: 20px;
          }

          .frequencyAmount {
            color: @dual-pricing-light-gray;
            @media (@xs-only) {
              color: @dual-pricing-dark-font-colour;
            }
            font-family: inherit;
            font-size: 20px;
          }

          @media (@xs-only) {
            .heading,
            .detailsContainer {
              display: none;
            }

            .priceContainer {
              width: 100%;
            }
          }

          .premiumsRising {
            margin-top: 0px;
          }

          h3,
          .premiumsRising,
          .dual-pricing-learn-more {
            display: none;
          }
        }

        .current-pricing {
          @media (@xs-only) {
            .detailsContainer {
              display: none;
            }

            .priceContainer {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

#health_payment_details-selection {
  .alert-info {
    margin-left: 0;
    text-align: center;
  }
}

/* Down arrow mixin */
.downArrow(@biggerBy: 1) {
  .down-arrow {
    position: relative;
    margin-bottom: 40px;
    margin-top: 10px;

    &:after,
    &:before {
      border-top: 18px * @biggerBy solid #fff;
      border-left: 60px * @biggerBy solid transparent;
      border-right: 60px * @biggerBy solid transparent;
      left: 18px;
      margin-left: -20px;
      position: absolute;
      bottom: -20px;
      content: '';

      @media (@md) {
        border-top: 21px * @biggerBy solid #fff;
        border-left: 80px * @biggerBy solid transparent;
        border-right: 80px * @biggerBy solid transparent;
        left: 23px;
      }

      @media (@lg) {
        border-top: 25px * @biggerBy solid #fff;
        border-left: 100px * @biggerBy solid transparent;
        border-right: 100px * @biggerBy solid transparent;
        left: 30px;
      }
    }

    &:before {
      border-right: 60px * @biggerBy solid transparent;
      border-top: 18px * @biggerBy solid @dual-pricing-light-gray;
      border-left: 60px * @biggerBy solid transparent;
      bottom: -22px;
      margin-left: -20px;

      @media (@md) {
        border-right: 80px * @biggerBy solid transparent;
        border-top: 21px * @biggerBy solid @dual-pricing-light-gray;
        border-left: 80px * @biggerBy solid transparent;
      }

      @media (@lg) {
        border-right: 100px * @biggerBy solid transparent;
        border-top: 25px * @biggerBy solid @dual-pricing-light-gray;
        border-left: 100px * @biggerBy  solid transparent;
      }
    }
  }
}

.policySummary-sidebar.hasDualPricing {
  h1 {
    margin-top: -5px;
    padding-bottom: 7px;
    border-bottom: solid 1px;
    border-color: @theme-light;
  }

  .quote-reference {
    font-family: @font-family-theme-bold;

    span {
      margin-left: 0.25em;
    }
  }

  .productSummary {
    &.dualPricing {
      .frequencyTitle {
        text-transform: lowercase;
      }

      .downArrow();
    }

    .current-pricing {
      p {
        margin-bottom: 0;
      }
    }

    .april-pricing {
      p {
        margin-bottom: 0;
      }

      .frequencyAmount {
        font-size: 30px;
        line-height: 20px;
        margin-bottom: 10px;

        .dollarSign {
          font-size: 15px;
        }

        .cents {
          font-size: 12px;
        }

        .frequencyTitle {
          font-size: 12px;
          top: 11px;
          left: -18px;

          @media (@xs-sm-only) {
            top: 0;
            left: 0;
          }
        }

        &.comingSoon {
          font-size: 20px;
        }
      }

      .lhcText {
        font-size: 11px;
      }
    }
  }
}

#confirmation {
  .policySummary-sidebar.hasDualPricing {
    .productSummary {
      &.dualPricing {
        .downArrow(1.25);
        .down-arrow {
          @media (@lg) {
            margin-top: 20px;
            margin-bottom: 50px;
          }
          &:after,
          &:before {
            left: 35px;

            @media (@md) {
              left: 46px;
            }

            @media (@lg) {
              left: 55px;
            }
          }
        }

        p {
          font-size: @font-size-base;
          margin-bottom: 0;
        }
      }
    }
  }
}