//-------------------------------------------------------------------------------------------
// TRAVEL COMPANY LOGOS
//-------------------------------------------------------------------------------------------

@company-logo-background-width: 100%;
@company-logo-background-height: 100%;


.travelCompanyLogo {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	padding: 0;
	width: 100%;
	height: 60px;
	@media (min-width: @screen-sm) {
		width: 100%;
		height: 80px;
	}
}

.logogrid .travelCompanyLogo,
.travel-brands-content div .travelCompanyLogo{
  margin-top: 5px;
  margin-bottom: 5px;
}

.resultsContainer.v2 .unavailable .travelCompanyLogo {
	float:left;
	margin-right:20px;
	width: 60px;
	@media (min-width: @screen-sm) {
		width: 80px;
	}
}

.logo_BUDD {
	.highResSpriteImg(
		@travel-logo-BUDD-width,
		@travel-logo-BUDD-height,
		@travel-logo-BUDD-image,
		@travel-logo-BUDD-offset-x,
		@travel-logo-BUDD-offset-y,
		@travel-logo-BUDD-total-width,
		@travel-logo-BUDD-total-height,
		@travel-logo-BUDD-2x-image,
		@travel-logo-BUDD-2x-offset-x,
		@travel-logo-BUDD-2x-offset-y,
		@travel-logo-BUDD-2x-total-width,
		@travel-logo-BUDD-2x-total-height
	);
}

.logo_1COV {
	.highResSpriteImg(
		@travel-logo-1COV-width,
		@travel-logo-1COV-height,
		@travel-logo-1COV-image,
		@travel-logo-1COV-offset-x,
		@travel-logo-1COV-offset-y,
		@travel-logo-1COV-total-width,
		@travel-logo-1COV-total-height,
		@travel-logo-1COV-2x-image,
		@travel-logo-1COV-2x-offset-x,
		@travel-logo-1COV-2x-offset-y,
		@travel-logo-1COV-2x-total-width,
		@travel-logo-1COV-2x-total-height
	);
}

.logo_1FOW {
	.highResSpriteImg(
		@travel-logo-1FOW-width,
		@travel-logo-1FOW-height,
		@travel-logo-1FOW-image,
		@travel-logo-1FOW-offset-x,
		@travel-logo-1FOW-offset-y,
		@travel-logo-1FOW-total-width,
		@travel-logo-1FOW-total-height,
		@travel-logo-1FOW-2x-image,
		@travel-logo-1FOW-2x-offset-x,
		@travel-logo-1FOW-2x-offset-y,
		@travel-logo-1FOW-2x-total-width,
		@travel-logo-1FOW-2x-total-height
	);
}

.logo_30UN {
	.highResSpriteImg(
		@travel-logo-30UN-width,
		@travel-logo-30UN-height,
		@travel-logo-30UN-image,
		@travel-logo-30UN-offset-x * @logo-xs-scale,
		@travel-logo-30UN-offset-y * @logo-xs-scale,
		@travel-logo-30UN-total-width * @logo-xs-scale,
		@travel-logo-30UN-total-height * @logo-xs-scale,
		@travel-logo-30UN-2x-image,
		@travel-logo-30UN-2x-offset-x * @logo-xs-scale,
		@travel-logo-30UN-2x-offset-y * @logo-xs-scale,
		@travel-logo-30UN-2x-total-width * @logo-xs-scale,
		@travel-logo-30UN-2x-total-height * @logo-xs-scale
	);
}

.logo_ACET {
	.highResSpriteImg(
		@travel-logo-ACET-width * @logo-xs-scale,
		@travel-logo-ACET-height * @logo-xs-scale,
		@travel-logo-ACET-image,
		@travel-logo-ACET-offset-x * @logo-xs-scale,
		@travel-logo-ACET-offset-y * @logo-xs-scale,
		@travel-logo-ACET-total-width * @logo-xs-scale,
		@travel-logo-ACET-total-height * @logo-xs-scale,
		@travel-logo-ACET-2x-image,
		@travel-logo-ACET-2x-offset-x * @logo-xs-scale,
		@travel-logo-ACET-2x-offset-y * @logo-xs-scale,
		@travel-logo-ACET-2x-total-width * @logo-xs-scale,
		@travel-logo-ACET-2x-total-height * @logo-xs-scale
	);
}

.logo_AMEX {
	.highResSpriteImg(
		@travel-logo-AMEX-width * @logo-xs-scale,
		@travel-logo-AMEX-height * @logo-xs-scale,
		@travel-logo-AMEX-image,
		@travel-logo-AMEX-offset-x * @logo-xs-scale,
		@travel-logo-AMEX-offset-y * @logo-xs-scale,
		@travel-logo-AMEX-total-width * @logo-xs-scale,
		@travel-logo-AMEX-total-height * @logo-xs-scale,
		@travel-logo-AMEX-2x-image,
		@travel-logo-AMEX-2x-offset-x * @logo-xs-scale,
		@travel-logo-AMEX-2x-offset-y * @logo-xs-scale,
		@travel-logo-AMEX-2x-total-width * @logo-xs-scale,
		@travel-logo-AMEX-2x-total-height * @logo-xs-scale
	);
}

.logo_CLBS {
	.highResSpriteImg(
		@travel-logo-CLBS-width * @logo-xs-scale,
		@travel-logo-CLBS-height * @logo-xs-scale,
		@travel-logo-CLBS-image,
		@travel-logo-CLBS-offset-x * @logo-xs-scale,
		@travel-logo-CLBS-offset-y * @logo-xs-scale,
		@travel-logo-CLBS-total-width * @logo-xs-scale,
		@travel-logo-CLBS-total-height * @logo-xs-scale,
		@travel-logo-CLBS-2x-image,
		@travel-logo-CLBS-2x-offset-x * @logo-xs-scale,
		@travel-logo-CLBS-2x-offset-y * @logo-xs-scale,
		@travel-logo-CLBS-2x-total-width * @logo-xs-scale,
		@travel-logo-CLBS-2x-total-height * @logo-xs-scale
	);
}

.logo_DUIN {
	.highResSpriteImg(
		@travel-logo-DUIN-width * @logo-xs-scale,
		@travel-logo-DUIN-height * @logo-xs-scale,
		@travel-logo-DUIN-image,
		@travel-logo-DUIN-offset-x * @logo-xs-scale,
		@travel-logo-DUIN-offset-y * @logo-xs-scale,
		@travel-logo-DUIN-total-width * @logo-xs-scale,
		@travel-logo-DUIN-total-height * @logo-xs-scale,
		@travel-logo-DUIN-2x-image,
		@travel-logo-DUIN-2x-offset-x * @logo-xs-scale,
		@travel-logo-DUIN-2x-offset-y * @logo-xs-scale,
		@travel-logo-DUIN-2x-total-width * @logo-xs-scale,
		@travel-logo-DUIN-2x-total-height * @logo-xs-scale
	);
}

.logo_EASY {
	.highResSpriteImg(
		@travel-logo-EASY-width * @logo-xs-scale,
		@travel-logo-EASY-height * @logo-xs-scale,
		@travel-logo-EASY-image,
		@travel-logo-EASY-offset-x * @logo-xs-scale,
		@travel-logo-EASY-offset-y * @logo-xs-scale,
		@travel-logo-EASY-total-width * @logo-xs-scale,
		@travel-logo-EASY-total-height * @logo-xs-scale,
		@travel-logo-EASY-2x-image,
		@travel-logo-EASY-2x-offset-x * @logo-xs-scale,
		@travel-logo-EASY-2x-offset-y * @logo-xs-scale,
		@travel-logo-EASY-2x-total-width * @logo-xs-scale,
		@travel-logo-EASY-2x-total-height * @logo-xs-scale
	);
}

.logo_FAST {
	.highResSpriteImg(
		@travel-logo-FAST-width * @logo-xs-scale,
		@travel-logo-FAST-height * @logo-xs-scale,
		@travel-logo-FAST-image,
		@travel-logo-FAST-offset-x * @logo-xs-scale,
		@travel-logo-FAST-offset-y * @logo-xs-scale,
		@travel-logo-FAST-total-width * @logo-xs-scale,
		@travel-logo-FAST-total-height * @logo-xs-scale,
		@travel-logo-FAST-2x-image,
		@travel-logo-FAST-2x-offset-x * @logo-xs-scale,
		@travel-logo-FAST-2x-offset-y * @logo-xs-scale,
		@travel-logo-FAST-2x-total-width * @logo-xs-scale,
		@travel-logo-FAST-2x-total-height * @logo-xs-scale
	);
}

.logo_GOIN {
	.highResSpriteImg(
		@travel-logo-GOIN-width * @logo-xs-scale,
		@travel-logo-GOIN-height * @logo-xs-scale,
		@travel-logo-GOIN-image,
		@travel-logo-GOIN-offset-x * @logo-xs-scale,
		@travel-logo-GOIN-offset-y * @logo-xs-scale,
		@travel-logo-GOIN-total-width * @logo-xs-scale,
		@travel-logo-GOIN-total-height * @logo-xs-scale,
		@travel-logo-GOIN-2x-image,
		@travel-logo-GOIN-2x-offset-x * @logo-xs-scale,
		@travel-logo-GOIN-2x-offset-y * @logo-xs-scale,
		@travel-logo-GOIN-2x-total-width * @logo-xs-scale,
		@travel-logo-GOIN-2x-total-height * @logo-xs-scale
	);
}

.logo_I4LS {
	.highResSpriteImg(
		@travel-logo-I4LS-width * @logo-xs-scale,
		@travel-logo-I4LS-height * @logo-xs-scale,
		@travel-logo-I4LS-image,
		@travel-logo-I4LS-offset-x * @logo-xs-scale,
		@travel-logo-I4LS-offset-y * @logo-xs-scale,
		@travel-logo-I4LS-total-width * @logo-xs-scale,
		@travel-logo-I4LS-total-height * @logo-xs-scale,
		@travel-logo-I4LS-2x-image,
		@travel-logo-I4LS-2x-offset-x * @logo-xs-scale,
		@travel-logo-I4LS-2x-offset-y * @logo-xs-scale,
		@travel-logo-I4LS-2x-total-width * @logo-xs-scale,
		@travel-logo-I4LS-2x-total-height * @logo-xs-scale
	);
}

.logo_ITRK {
	.highResSpriteImg(
		@travel-logo-ITRK-width * @logo-xs-scale,
		@travel-logo-ITRK-height * @logo-xs-scale,
		@travel-logo-ITRK-image,
		@travel-logo-ITRK-offset-x * @logo-xs-scale,
		@travel-logo-ITRK-offset-y * @logo-xs-scale,
		@travel-logo-ITRK-total-width * @logo-xs-scale,
		@travel-logo-ITRK-total-height * @logo-xs-scale,
		@travel-logo-ITRK-2x-image,
		@travel-logo-ITRK-2x-offset-x * @logo-xs-scale,
		@travel-logo-ITRK-2x-offset-y * @logo-xs-scale,
		@travel-logo-ITRK-2x-total-width * @logo-xs-scale,
		@travel-logo-ITRK-2x-total-height * @logo-xs-scale
	);
}

.logo_INGO {
	.highResSpriteImg(
		@travel-logo-INGO-width * @logo-xs-scale,
		@travel-logo-INGO-height * @logo-xs-scale,
		@travel-logo-INGO-image,
		@travel-logo-INGO-offset-x * @logo-xs-scale,
		@travel-logo-INGO-offset-y * @logo-xs-scale,
		@travel-logo-INGO-total-width * @logo-xs-scale,
		@travel-logo-INGO-total-height * @logo-xs-scale,
		@travel-logo-INGO-2x-image,
		@travel-logo-INGO-2x-offset-x * @logo-xs-scale,
		@travel-logo-INGO-2x-offset-y * @logo-xs-scale,
		@travel-logo-INGO-2x-total-width * @logo-xs-scale,
		@travel-logo-INGO-2x-total-height * @logo-xs-scale
	);
}

.logo_KANG {
	.highResSpriteImg(
		@travel-logo-KANG-width * @logo-xs-scale,
		@travel-logo-KANG-height * @logo-xs-scale,
		@travel-logo-KANG-image,
		@travel-logo-KANG-offset-x * @logo-xs-scale,
		@travel-logo-KANG-offset-y * @logo-xs-scale,
		@travel-logo-KANG-total-width * @logo-xs-scale,
		@travel-logo-KANG-total-height * @logo-xs-scale,
		@travel-logo-KANG-2x-image,
		@travel-logo-KANG-2x-offset-x * @logo-xs-scale,
		@travel-logo-KANG-2x-offset-y * @logo-xs-scale,
		@travel-logo-KANG-2x-total-width * @logo-xs-scale,
		@travel-logo-KANG-2x-total-height * @logo-xs-scale
	);
}

.logo_OTIS {
	.highResSpriteImg(
		@travel-logo-OTIS-width * @logo-xs-scale,
		@travel-logo-OTIS-height * @logo-xs-scale,
		@travel-logo-OTIS-image,
		@travel-logo-OTIS-offset-x * @logo-xs-scale,
		@travel-logo-OTIS-offset-y * @logo-xs-scale,
		@travel-logo-OTIS-total-width * @logo-xs-scale,
		@travel-logo-OTIS-total-height * @logo-xs-scale,
		@travel-logo-OTIS-2x-image,
		@travel-logo-OTIS-2x-offset-x * @logo-xs-scale,
		@travel-logo-OTIS-2x-offset-y * @logo-xs-scale,
		@travel-logo-OTIS-2x-total-width * @logo-xs-scale,
		@travel-logo-OTIS-2x-total-height * @logo-xs-scale
	);
}

.logo_PPTI {
	.highResSpriteImg(
		@travel-logo-PPTI-width * @logo-xs-scale,
		@travel-logo-PPTI-height * @logo-xs-scale,
		@travel-logo-PPTI-image,
		@travel-logo-PPTI-offset-x * @logo-xs-scale,
		@travel-logo-PPTI-offset-y * @logo-xs-scale,
		@travel-logo-PPTI-total-width * @logo-xs-scale,
		@travel-logo-PPTI-total-height * @logo-xs-scale,
		@travel-logo-PPTI-2x-image,
		@travel-logo-PPTI-2x-offset-x * @logo-xs-scale,
		@travel-logo-PPTI-2x-offset-y * @logo-xs-scale,
		@travel-logo-PPTI-2x-total-width * @logo-xs-scale,
		@travel-logo-PPTI-2x-total-height * @logo-xs-scale
	);
}

.logo_REAL {
	.highResSpriteImg(
		@travel-logo-REAL-width * @logo-xs-scale,
		@travel-logo-REAL-height * @logo-xs-scale,
		@travel-logo-REAL-image,
		@travel-logo-REAL-offset-x * @logo-xs-scale,
		@travel-logo-REAL-offset-y * @logo-xs-scale,
		@travel-logo-REAL-total-width * @logo-xs-scale,
		@travel-logo-REAL-total-height * @logo-xs-scale,
		@travel-logo-REAL-2x-image,
		@travel-logo-REAL-2x-offset-x * @logo-xs-scale,
		@travel-logo-REAL-2x-offset-y * @logo-xs-scale,
		@travel-logo-REAL-2x-total-width * @logo-xs-scale,
		@travel-logo-REAL-2x-total-height * @logo-xs-scale
	);
}

.logo_SKII {
	.highResSpriteImg(
		@travel-logo-SKII-width * @logo-xs-scale,
		@travel-logo-SKII-height * @logo-xs-scale,
		@travel-logo-SKII-image,
		@travel-logo-SKII-offset-x * @logo-xs-scale,
		@travel-logo-SKII-offset-y * @logo-xs-scale,
		@travel-logo-SKII-total-width * @logo-xs-scale,
		@travel-logo-SKII-total-height * @logo-xs-scale,
		@travel-logo-SKII-2x-image,
		@travel-logo-SKII-2x-offset-x * @logo-xs-scale,
		@travel-logo-SKII-2x-offset-y * @logo-xs-scale,
		@travel-logo-SKII-2x-total-width * @logo-xs-scale,
		@travel-logo-SKII-2x-total-height * @logo-xs-scale
	);
}

.logo_SCTI {
	.highResSpriteImg(
		@travel-logo-SCTI-width * @logo-xs-scale,
		@travel-logo-SCTI-height * @logo-xs-scale,
		@travel-logo-SCTI-image,
		@travel-logo-SCTI-offset-x * @logo-xs-scale,
		@travel-logo-SCTI-offset-y * @logo-xs-scale,
		@travel-logo-SCTI-total-width * @logo-xs-scale,
		@travel-logo-SCTI-total-height * @logo-xs-scale,
		@travel-logo-SCTI-2x-image,
		@travel-logo-SCTI-2x-offset-x * @logo-xs-scale,
		@travel-logo-SCTI-2x-offset-y * @logo-xs-scale,
		@travel-logo-SCTI-2x-total-width * @logo-xs-scale,
		@travel-logo-SCTI-2x-total-height * @logo-xs-scale
	);
}

.logo_STIN {
	.highResSpriteImg(
		@travel-logo-STIN-width * @logo-xs-scale,
		@travel-logo-STIN-height * @logo-xs-scale,
		@travel-logo-STIN-image,
		@travel-logo-STIN-offset-x * @logo-xs-scale,
		@travel-logo-STIN-offset-y * @logo-xs-scale,
		@travel-logo-STIN-total-width * @logo-xs-scale,
		@travel-logo-STIN-total-height * @logo-xs-scale,
		@travel-logo-STIN-2x-image,
		@travel-logo-STIN-2x-offset-x * @logo-xs-scale,
		@travel-logo-STIN-2x-offset-y * @logo-xs-scale,
		@travel-logo-STIN-2x-total-width * @logo-xs-scale,
		@travel-logo-STIN-2x-total-height * @logo-xs-scale
	);
}

.logo_TSAV {
	.highResSpriteImg(
		@travel-logo-TSAV-width * @logo-xs-scale,
		@travel-logo-TSAV-height * @logo-xs-scale,
		@travel-logo-TSAV-image,
		@travel-logo-TSAV-offset-x * @logo-xs-scale,
		@travel-logo-TSAV-offset-y * @logo-xs-scale,
		@travel-logo-TSAV-total-width * @logo-xs-scale,
		@travel-logo-TSAV-total-height * @logo-xs-scale,
		@travel-logo-TSAV-2x-image,
		@travel-logo-TSAV-2x-offset-x * @logo-xs-scale,
		@travel-logo-TSAV-2x-offset-y * @logo-xs-scale,
		@travel-logo-TSAV-2x-total-width * @logo-xs-scale,
		@travel-logo-TSAV-2x-total-height * @logo-xs-scale
	);
}

.logo_TICK {
	.highResSpriteImg(
		@travel-logo-TICK-width * @logo-xs-scale,
		@travel-logo-TICK-height * @logo-xs-scale,
		@travel-logo-TICK-image,
		@travel-logo-TICK-offset-x * @logo-xs-scale,
		@travel-logo-TICK-offset-y * @logo-xs-scale,
		@travel-logo-TICK-total-width * @logo-xs-scale,
		@travel-logo-TICK-total-height * @logo-xs-scale,
		@travel-logo-TICK-2x-image,
		@travel-logo-TICK-2x-offset-x * @logo-xs-scale,
		@travel-logo-TICK-2x-offset-y * @logo-xs-scale,
		@travel-logo-TICK-2x-total-width * @logo-xs-scale,
		@travel-logo-TICK-2x-total-height * @logo-xs-scale
	);
}

.logo_TINZ {
	.highResSpriteImg(
		@travel-logo-TINZ-width * @logo-xs-scale,
		@travel-logo-TINZ-height * @logo-xs-scale,
		@travel-logo-TINZ-image,
		@travel-logo-TINZ-offset-x * @logo-xs-scale,
		@travel-logo-TINZ-offset-y * @logo-xs-scale,
		@travel-logo-TINZ-total-width * @logo-xs-scale,
		@travel-logo-TINZ-total-height * @logo-xs-scale,
		@travel-logo-TINZ-2x-image,
		@travel-logo-TINZ-2x-offset-x * @logo-xs-scale,
		@travel-logo-TINZ-2x-offset-y * @logo-xs-scale,
		@travel-logo-TINZ-2x-total-width * @logo-xs-scale,
		@travel-logo-TINZ-2x-total-height * @logo-xs-scale
	);
}

.logo_VIRG {
	.highResSpriteImg(
		@travel-logo-VIRG-width * @logo-xs-scale,
		@travel-logo-VIRG-height * @logo-xs-scale,
		@travel-logo-VIRG-image,
		@travel-logo-VIRG-offset-x * @logo-xs-scale,
		@travel-logo-VIRG-offset-y * @logo-xs-scale,
		@travel-logo-VIRG-total-width * @logo-xs-scale,
		@travel-logo-VIRG-total-height * @logo-xs-scale,
		@travel-logo-VIRG-2x-image,
		@travel-logo-VIRG-2x-offset-x * @logo-xs-scale,
		@travel-logo-VIRG-2x-offset-y * @logo-xs-scale,
		@travel-logo-VIRG-2x-total-width * @logo-xs-scale,
		@travel-logo-VIRG-2x-total-height * @logo-xs-scale
	);
}

.logo_WEBJ {
	.highResSpriteImg(
		@travel-logo-WEBJ-width * @logo-xs-scale,
		@travel-logo-WEBJ-height * @logo-xs-scale,
		@travel-logo-WEBJ-image,
		@travel-logo-WEBJ-offset-x * @logo-xs-scale,
		@travel-logo-WEBJ-offset-y * @logo-xs-scale,
		@travel-logo-WEBJ-total-width * @logo-xs-scale,
		@travel-logo-WEBJ-total-height * @logo-xs-scale,
		@travel-logo-WEBJ-2x-image,
		@travel-logo-WEBJ-2x-offset-x * @logo-xs-scale,
		@travel-logo-WEBJ-2x-offset-y * @logo-xs-scale,
		@travel-logo-WEBJ-2x-total-width * @logo-xs-scale,
		@travel-logo-WEBJ-2x-total-height * @logo-xs-scale
	);
}

.logo_WOOL {
	.highResSpriteImg(
		@travel-logo-WOOL-width * @logo-xs-scale,
		@travel-logo-WOOL-height * @logo-xs-scale,
		@travel-logo-WOOL-image,
		@travel-logo-WOOL-offset-x * @logo-xs-scale,
		@travel-logo-WOOL-offset-y * @logo-xs-scale,
		@travel-logo-WOOL-total-width * @logo-xs-scale,
		@travel-logo-WOOL-total-height * @logo-xs-scale,
		@travel-logo-WOOL-2x-image,
		@travel-logo-WOOL-2x-offset-x * @logo-xs-scale,
		@travel-logo-WOOL-2x-offset-y * @logo-xs-scale,
		@travel-logo-WOOL-2x-total-width * @logo-xs-scale,
		@travel-logo-WOOL-2x-total-height * @logo-xs-scale
	);
}

.logo_WLDC {
	.highResSpriteImg(
		@travel-logo-WLDC-width * @logo-xs-scale,
		@travel-logo-WLDC-height * @logo-xs-scale,
		@travel-logo-WLDC-image,
		@travel-logo-WLDC-offset-x * @logo-xs-scale,
		@travel-logo-WLDC-offset-y * @logo-xs-scale,
		@travel-logo-WLDC-total-width * @logo-xs-scale,
		@travel-logo-WLDC-total-height * @logo-xs-scale,
		@travel-logo-WLDC-2x-image,
		@travel-logo-WLDC-2x-offset-x * @logo-xs-scale,
		@travel-logo-WLDC-2x-offset-y * @logo-xs-scale,
		@travel-logo-WLDC-2x-total-width * @logo-xs-scale,
		@travel-logo-WLDC-2x-total-height * @logo-xs-scale
	);
}

.logo_ZUJI {
	.highResSpriteImg(
		@travel-logo-ZUJI-width * @logo-xs-scale,
		@travel-logo-ZUJI-height * @logo-xs-scale,
		@travel-logo-ZUJI-image,
		@travel-logo-ZUJI-offset-x * @logo-xs-scale,
		@travel-logo-ZUJI-offset-y * @logo-xs-scale,
		@travel-logo-ZUJI-total-width * @logo-xs-scale,
		@travel-logo-ZUJI-total-height * @logo-xs-scale,
		@travel-logo-ZUJI-2x-image,
		@travel-logo-ZUJI-2x-offset-x * @logo-xs-scale,
		@travel-logo-ZUJI-2x-offset-y * @logo-xs-scale,
		@travel-logo-ZUJI-2x-total-width * @logo-xs-scale,
		@travel-logo-ZUJI-2x-total-height * @logo-xs-scale
	);
}

@media (@sm) {
	.logo_BUDD {
		.highResSpriteImg(
			@travel-logo-BUDD-width,
			@travel-logo-BUDD-height,
			@travel-logo-BUDD-image,
			@travel-logo-BUDD-offset-x,
			@travel-logo-BUDD-offset-y,
			@travel-logo-BUDD-total-width,
			@travel-logo-BUDD-total-height,
			@travel-logo-BUDD-2x-image,
			@travel-logo-BUDD-2x-offset-x,
			@travel-logo-BUDD-2x-offset-y,
			@travel-logo-BUDD-2x-total-width,
			@travel-logo-BUDD-2x-total-height,
			1, ~""
		);
	}

	.logo_1COV {
		.highResSpriteImg(
			@travel-logo-1COV-width,
			@travel-logo-1COV-height,
			@travel-logo-1COV-image,
			@travel-logo-1COV-offset-x,
			@travel-logo-1COV-offset-y,
			@travel-logo-1COV-total-width,
			@travel-logo-1COV-total-height,
			@travel-logo-1COV-2x-image,
			@travel-logo-1COV-2x-offset-x,
			@travel-logo-1COV-2x-offset-y,
			@travel-logo-1COV-2x-total-width,
			@travel-logo-1COV-2x-total-height,
			1, ~""
		);
	}

	.logo_1FOW {
		.highResSpriteImg(
			@travel-logo-1FOW-width,
			@travel-logo-1FOW-height,
			@travel-logo-1FOW-image,
			@travel-logo-1FOW-offset-x,
			@travel-logo-1FOW-offset-y,
			@travel-logo-1FOW-total-width,
			@travel-logo-1FOW-total-height,
			@travel-logo-1FOW-2x-image,
			@travel-logo-1FOW-2x-offset-x,
			@travel-logo-1FOW-2x-offset-y,
			@travel-logo-1FOW-2x-total-width,
			@travel-logo-1FOW-2x-total-height,
			1, ~""
		);
	}

	.logo_30UN {
		.highResSpriteImg(
			@travel-logo-30UN-width,
			@travel-logo-30UN-height,
			@travel-logo-30UN-image,
			@travel-logo-30UN-offset-x,
			@travel-logo-30UN-offset-y,
			@travel-logo-30UN-total-width,
			@travel-logo-30UN-total-height,
			@travel-logo-30UN-2x-image,
			@travel-logo-30UN-2x-offset-x,
			@travel-logo-30UN-2x-offset-y,
			@travel-logo-30UN-2x-total-width,
			@travel-logo-30UN-2x-total-height,
			1, ~""
		);
	}

	.logo_ACET {
		.highResSpriteImg(
			@travel-logo-ACET-width,
			@travel-logo-ACET-height,
			@travel-logo-ACET-image,
			@travel-logo-ACET-offset-x,
			@travel-logo-ACET-offset-y,
			@travel-logo-ACET-total-width,
			@travel-logo-ACET-total-height,
			@travel-logo-ACET-2x-image,
			@travel-logo-ACET-2x-offset-x,
			@travel-logo-ACET-2x-offset-y,
			@travel-logo-ACET-2x-total-width,
			@travel-logo-ACET-2x-total-height,
			1, ~""
		);
	}

	.logo_AMEX {
		.highResSpriteImg(
			@travel-logo-AMEX-width,
			@travel-logo-AMEX-height,
			@travel-logo-AMEX-image,
			@travel-logo-AMEX-offset-x,
			@travel-logo-AMEX-offset-y,
			@travel-logo-AMEX-total-width,
			@travel-logo-AMEX-total-height,
			@travel-logo-AMEX-2x-image,
			@travel-logo-AMEX-2x-offset-x,
			@travel-logo-AMEX-2x-offset-y,
			@travel-logo-AMEX-2x-total-width,
			@travel-logo-AMEX-2x-total-height,
			1, ~""
		);
	}

	.logo_CLBS {
		.highResSpriteImg(
			@travel-logo-CLBS-width,
			@travel-logo-CLBS-height,
			@travel-logo-CLBS-image,
			@travel-logo-CLBS-offset-x,
			@travel-logo-CLBS-offset-y,
			@travel-logo-CLBS-total-width,
			@travel-logo-CLBS-total-height,
			@travel-logo-CLBS-2x-image,
			@travel-logo-CLBS-2x-offset-x,
			@travel-logo-CLBS-2x-offset-y,
			@travel-logo-CLBS-2x-total-width,
			@travel-logo-CLBS-2x-total-height,
			1, ~""
		);
	}

	.logo_DUIN {
		.highResSpriteImg(
			@travel-logo-DUIN-width,
			@travel-logo-DUIN-height,
			@travel-logo-DUIN-image,
			@travel-logo-DUIN-offset-x,
			@travel-logo-DUIN-offset-y,
			@travel-logo-DUIN-total-width,
			@travel-logo-DUIN-total-height,
			@travel-logo-DUIN-2x-image,
			@travel-logo-DUIN-2x-offset-x,
			@travel-logo-DUIN-2x-offset-y,
			@travel-logo-DUIN-2x-total-width,
			@travel-logo-DUIN-2x-total-height,
			1, ~""
		);
	}

	.logo_EASY {
		.highResSpriteImg(
			@travel-logo-EASY-width,
			@travel-logo-EASY-height,
			@travel-logo-EASY-image,
			@travel-logo-EASY-offset-x,
			@travel-logo-EASY-offset-y,
			@travel-logo-EASY-total-width,
			@travel-logo-EASY-total-height,
			@travel-logo-EASY-2x-image,
			@travel-logo-EASY-2x-offset-x,
			@travel-logo-EASY-2x-offset-y,
			@travel-logo-EASY-2x-total-width,
			@travel-logo-EASY-2x-total-height,
			1, ~""
		);
	}

	.logo_FAST {
		.highResSpriteImg(
			@travel-logo-FAST-width,
			@travel-logo-FAST-height,
			@travel-logo-FAST-image,
			@travel-logo-FAST-offset-x,
			@travel-logo-FAST-offset-y,
			@travel-logo-FAST-total-width,
			@travel-logo-FAST-total-height,
			@travel-logo-FAST-2x-image,
			@travel-logo-FAST-2x-offset-x,
			@travel-logo-FAST-2x-offset-y,
			@travel-logo-FAST-2x-total-width,
			@travel-logo-FAST-2x-total-height,
			1, ~""
		);
	}

	.logo_GOIN {
		.highResSpriteImg(
			@travel-logo-GOIN-width,
			@travel-logo-GOIN-height,
			@travel-logo-GOIN-image,
			@travel-logo-GOIN-offset-x,
			@travel-logo-GOIN-offset-y,
			@travel-logo-GOIN-total-width,
			@travel-logo-GOIN-total-height,
			@travel-logo-GOIN-2x-image,
			@travel-logo-GOIN-2x-offset-x,
			@travel-logo-GOIN-2x-offset-y,
			@travel-logo-GOIN-2x-total-width,
			@travel-logo-GOIN-2x-total-height,
			1, ~""
		);
	}

	.logo_I4LS {
		.highResSpriteImg(
			@travel-logo-I4LS-width,
			@travel-logo-I4LS-height,
			@travel-logo-I4LS-image,
			@travel-logo-I4LS-offset-x,
			@travel-logo-I4LS-offset-y,
			@travel-logo-I4LS-total-width,
			@travel-logo-I4LS-total-height,
			@travel-logo-I4LS-2x-image,
			@travel-logo-I4LS-2x-offset-x,
			@travel-logo-I4LS-2x-offset-y,
			@travel-logo-I4LS-2x-total-width,
			@travel-logo-I4LS-2x-total-height,
			1, ~""
		);
	}

	.logo_ITRK {
		.highResSpriteImg(
			@travel-logo-ITRK-width,
			@travel-logo-ITRK-height,
			@travel-logo-ITRK-image,
			@travel-logo-ITRK-offset-x,
			@travel-logo-ITRK-offset-y,
			@travel-logo-ITRK-total-width,
			@travel-logo-ITRK-total-height,
			@travel-logo-ITRK-2x-image,
			@travel-logo-ITRK-2x-offset-x,
			@travel-logo-ITRK-2x-offset-y,
			@travel-logo-ITRK-2x-total-width,
			@travel-logo-ITRK-2x-total-height,
			1, ~""
		);
	}

	.logo_INGO {
		.highResSpriteImg(
			@travel-logo-INGO-width,
			@travel-logo-INGO-height,
			@travel-logo-INGO-image,
			@travel-logo-INGO-offset-x,
			@travel-logo-INGO-offset-y,
			@travel-logo-INGO-total-width,
			@travel-logo-INGO-total-height,
			@travel-logo-INGO-2x-image,
			@travel-logo-INGO-2x-offset-x,
			@travel-logo-INGO-2x-offset-y,
			@travel-logo-INGO-2x-total-width,
			@travel-logo-INGO-2x-total-height,
			1, ~""
		);
	}

	.logo_KANG {
		.highResSpriteImg(
			@travel-logo-KANG-width,
			@travel-logo-KANG-height,
			@travel-logo-KANG-image,
			@travel-logo-KANG-offset-x,
			@travel-logo-KANG-offset-y,
			@travel-logo-KANG-total-width,
			@travel-logo-KANG-total-height,
			@travel-logo-KANG-2x-image,
			@travel-logo-KANG-2x-offset-x,
			@travel-logo-KANG-2x-offset-y,
			@travel-logo-KANG-2x-total-width,
			@travel-logo-KANG-2x-total-height,
			1, ~""
		);
	}

	.logo_OTIS {
		.highResSpriteImg(
			@travel-logo-OTIS-width,
			@travel-logo-OTIS-height,
			@travel-logo-OTIS-image,
			@travel-logo-OTIS-offset-x,
			@travel-logo-OTIS-offset-y,
			@travel-logo-OTIS-total-width,
			@travel-logo-OTIS-total-height,
			@travel-logo-OTIS-2x-image,
			@travel-logo-OTIS-2x-offset-x,
			@travel-logo-OTIS-2x-offset-y,
			@travel-logo-OTIS-2x-total-width,
			@travel-logo-OTIS-2x-total-height,
			1, ~""
		);
	}

	.logo_PPTI {
		.highResSpriteImg(
			@travel-logo-PPTI-width,
			@travel-logo-PPTI-height,
			@travel-logo-PPTI-image,
			@travel-logo-PPTI-offset-x,
			@travel-logo-PPTI-offset-y,
			@travel-logo-PPTI-total-width,
			@travel-logo-PPTI-total-height,
			@travel-logo-PPTI-2x-image,
			@travel-logo-PPTI-2x-offset-x,
			@travel-logo-PPTI-2x-offset-y,
			@travel-logo-PPTI-2x-total-width,
			@travel-logo-PPTI-2x-total-height,
			1, ~""
		);
	}

	.logo_REAL {
		.highResSpriteImg(
			@travel-logo-REAL-width,
			@travel-logo-REAL-height,
			@travel-logo-REAL-image,
			@travel-logo-REAL-offset-x,
			@travel-logo-REAL-offset-y,
			@travel-logo-REAL-total-width,
			@travel-logo-REAL-total-height,
			@travel-logo-REAL-2x-image,
			@travel-logo-REAL-2x-offset-x,
			@travel-logo-REAL-2x-offset-y,
			@travel-logo-REAL-2x-total-width,
			@travel-logo-REAL-2x-total-height,
			1, ~""
		);
	}

	.logo_SKII {
		.highResSpriteImg(
			@travel-logo-SKII-width,
			@travel-logo-SKII-height,
			@travel-logo-SKII-image,
			@travel-logo-SKII-offset-x,
			@travel-logo-SKII-offset-y,
			@travel-logo-SKII-total-width,
			@travel-logo-SKII-total-height,
			@travel-logo-SKII-2x-image,
			@travel-logo-SKII-2x-offset-x,
			@travel-logo-SKII-2x-offset-y,
			@travel-logo-SKII-2x-total-width,
			@travel-logo-SKII-2x-total-height,
			1, ~""
		);
	}

	.logo_SCTI {
		.highResSpriteImg(
			@travel-logo-SCTI-width,
			@travel-logo-SCTI-height,
			@travel-logo-SCTI-image,
			@travel-logo-SCTI-offset-x,
			@travel-logo-SCTI-offset-y,
			@travel-logo-SCTI-total-width,
			@travel-logo-SCTI-total-height,
			@travel-logo-SCTI-2x-image,
			@travel-logo-SCTI-2x-offset-x,
			@travel-logo-SCTI-2x-offset-y,
			@travel-logo-SCTI-2x-total-width,
			@travel-logo-SCTI-2x-total-height,
			1, ~""
		);
	}

	.logo_STIN {
		.highResSpriteImg(
			@travel-logo-STIN-width,
			@travel-logo-STIN-height,
			@travel-logo-STIN-image,
			@travel-logo-STIN-offset-x,
			@travel-logo-STIN-offset-y,
			@travel-logo-STIN-total-width,
			@travel-logo-STIN-total-height,
			@travel-logo-STIN-2x-image,
			@travel-logo-STIN-2x-offset-x,
			@travel-logo-STIN-2x-offset-y,
			@travel-logo-STIN-2x-total-width,
			@travel-logo-STIN-2x-total-height,
			1, ~""
		);
	}

	.logo_TSAV {
		.highResSpriteImg(
			@travel-logo-TSAV-width,
			@travel-logo-TSAV-height,
			@travel-logo-TSAV-image,
			@travel-logo-TSAV-offset-x,
			@travel-logo-TSAV-offset-y,
			@travel-logo-TSAV-total-width,
			@travel-logo-TSAV-total-height,
			@travel-logo-TSAV-2x-image,
			@travel-logo-TSAV-2x-offset-x,
			@travel-logo-TSAV-2x-offset-y,
			@travel-logo-TSAV-2x-total-width,
			@travel-logo-TSAV-2x-total-height,
			1, ~""
		);
	}

	.logo_TICK {
		.highResSpriteImg(
			@travel-logo-TICK-width,
			@travel-logo-TICK-height,
			@travel-logo-TICK-image,
			@travel-logo-TICK-offset-x,
			@travel-logo-TICK-offset-y,
			@travel-logo-TICK-total-width,
			@travel-logo-TICK-total-height,
			@travel-logo-TICK-2x-image,
			@travel-logo-TICK-2x-offset-x,
			@travel-logo-TICK-2x-offset-y,
			@travel-logo-TICK-2x-total-width,
			@travel-logo-TICK-2x-total-height,
			1, ~""
		);
	}

	.logo_TINZ {
		.highResSpriteImg(
			@travel-logo-TINZ-width,
			@travel-logo-TINZ-height,
			@travel-logo-TINZ-image,
			@travel-logo-TINZ-offset-x,
			@travel-logo-TINZ-offset-y,
			@travel-logo-TINZ-total-width,
			@travel-logo-TINZ-total-height,
			@travel-logo-TINZ-2x-image,
			@travel-logo-TINZ-2x-offset-x,
			@travel-logo-TINZ-2x-offset-y,
			@travel-logo-TINZ-2x-total-width,
			@travel-logo-TINZ-2x-total-height,
			1, ~""
		);
	}

	.logo_VIRG {
		.highResSpriteImg(
			@travel-logo-VIRG-width,
			@travel-logo-VIRG-height,
			@travel-logo-VIRG-image,
			@travel-logo-VIRG-offset-x,
			@travel-logo-VIRG-offset-y,
			@travel-logo-VIRG-total-width,
			@travel-logo-VIRG-total-height,
			@travel-logo-VIRG-2x-image,
			@travel-logo-VIRG-2x-offset-x,
			@travel-logo-VIRG-2x-offset-y,
			@travel-logo-VIRG-2x-total-width,
			@travel-logo-VIRG-2x-total-height,
			1, ~""
		);
	}

	.logo_WEBJ {
		.highResSpriteImg(
			@travel-logo-WEBJ-width,
			@travel-logo-WEBJ-height,
			@travel-logo-WEBJ-image,
			@travel-logo-WEBJ-offset-x,
			@travel-logo-WEBJ-offset-y,
			@travel-logo-WEBJ-total-width,
			@travel-logo-WEBJ-total-height,
			@travel-logo-WEBJ-2x-image,
			@travel-logo-WEBJ-2x-offset-x,
			@travel-logo-WEBJ-2x-offset-y,
			@travel-logo-WEBJ-2x-total-width,
			@travel-logo-WEBJ-2x-total-height,
			1, ~""
		);
	}

	.logo_WOOL {
		.highResSpriteImg(
			@travel-logo-WOOL-width,
			@travel-logo-WOOL-height,
			@travel-logo-WOOL-image,
			@travel-logo-WOOL-offset-x,
			@travel-logo-WOOL-offset-y,
			@travel-logo-WOOL-total-width,
			@travel-logo-WOOL-total-height,
			@travel-logo-WOOL-2x-image,
			@travel-logo-WOOL-2x-offset-x,
			@travel-logo-WOOL-2x-offset-y,
			@travel-logo-WOOL-2x-total-width,
			@travel-logo-WOOL-2x-total-height,
			1, ~""
		);
	}

	.logo_WLDC {
		.highResSpriteImg(
			@travel-logo-WLDC-width,
			@travel-logo-WLDC-height,
			@travel-logo-WLDC-image,
			@travel-logo-WLDC-offset-x,
			@travel-logo-WLDC-offset-y,
			@travel-logo-WLDC-total-width,
			@travel-logo-WLDC-total-height,
			@travel-logo-WLDC-2x-image,
			@travel-logo-WLDC-2x-offset-x,
			@travel-logo-WLDC-2x-offset-y,
			@travel-logo-WLDC-2x-total-width,
			@travel-logo-WLDC-2x-total-height,
			1, ~""
		);
	}

	.logo_ZUJI {
		.highResSpriteImg(
			@travel-logo-ZUJI-width,
			@travel-logo-ZUJI-height,
			@travel-logo-ZUJI-image,
			@travel-logo-ZUJI-offset-x,
			@travel-logo-ZUJI-offset-y,
			@travel-logo-ZUJI-total-width,
			@travel-logo-ZUJI-total-height,
			@travel-logo-ZUJI-2x-image,
			@travel-logo-ZUJI-2x-offset-x,
			@travel-logo-ZUJI-2x-offset-y,
			@travel-logo-ZUJI-2x-total-width,
			@travel-logo-ZUJI-2x-total-height,
			1, ~""
		);
	}
}