<?xml version="1.0" encoding="UTF-8"?>
<aggregator xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			xsi:schemaLocation="http://com.disc_au.soap.aggregator ../schema/config.xsd"
			xmlns="http://com.disc_au.soap.aggregator">

	<nabGateway>
		<gatewayURL>external/hambs/mockPaymentGateway.html</gatewayURL>
		<domain>http://localhost:8080</domain>
	</nabGateway>

	<!--<merge-root>soap-response</merge-root>-->
	<!--<merge-xsl>merge-results.xsl</merge-xsl>-->
	<!--<config-dir>aggregator/health_application</config-dir>-->
	<!--<error-dir>aggregator/health_application/app-logs-errors</error-dir>-->
	<!--<debug-dir>health_application/app-logs-debug</debug-dir>-->
	<!--<validation-file>WEB-INF/xsd/health/HIF/healthApplication.xsd</validation-file>-->

	<!--<service name="CTM" type="soap">-->
		<!--<soap-url>http://localhost:8080/ctm/rating/health/health_submit_to_file_or_sftp.jsp</soap-url>-->

		<!-- Password to encrypt and unlock the .zip file -->
		<!--<soap-password>test</soap-password>-->

		<!--<outbound-xsl>ctm/outbound.xsl</outbound-xsl>-->
		<!--<inbound-xsl>ctm/inbound.xsl</inbound-xsl>-->
		<!--<maskRequestOut-xsl>hif/maskRequestOut.xsl</maskRequestOut-xsl>-->
		<!--<maskRequestIn-xsl>maskRequestIn.xsl</maskRequestIn-xsl>-->
		<!--<timeoutMillis>240000</timeoutMillis>-->
	<!--</service>-->

	<!--
	* If save-location is specified, the application will be saved to disk as encrypted zip.
	AND/OR
	* If host is specified, the application will be encrypted to zip and streamed directly into the destination server.
	-->
	<export type="sftp">
		<!-- Where to save the encrypted .zip file to -->
		<save-location>aggregator/health_application/app-logs-app-data/HIF</save-location>

		<!-- Server details -->
		<!--
		<host>180.150.134.33</host>
		<username></username>
		<password></password>
		-->
	</export>

</aggregator>

