.results-pagination {

  @media (@lg) {
    &.wider.col-lg-offset-8 {
      margin-left: 60%;
    }
    &.wider.col-lg-4 {
      width: 40%;
    }
  }

  @media (@sm) {
    &.results-prologue-row {
      font-size: 18px;
    }

    &.wider.col-lg-offset-8 {
      margin-left: 50%;
    }

    &.wider.col-lg-4 {
      width: 50%;
    }

    .navbar-nav {
      border-left: none;
    }

    .nav > li {
      .user-select(none);
      font-family: @font-family-theme-bold;
      margin-left: 10px;

      a:hover:not(.icon.inactive), a.active:hover {
        border-bottom-color: @theme-secondary;
        border-bottom-width: 2px;
        color: @theme-secondary;
      }
      a.icon.inactive {
        cursor:default;
        opacity:0.3;
      }

      @media (@sm-only) {
        a {
          padding-left:10px;
          padding-right:10px;
        }
      }

      .btn-pagination {
        border: 1px solid @results-border-color;
        &.active, &:active {
          border-color: @results-border-color;
          border-bottom: 2px solid @theme-secondary;
        }
        background-color: #fff;
        color: @gray-slight-dark;
        &.active {
          color: @theme-secondary;
        }
      }
    }

    &.wider {
      .nav > li {
        .btn-pagination {
          margin-bottom: 1px;
          &.active, &:active {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  // The display arrow to indicate more pages of results to the right.
  &.floated-next-arrow,
  &.floated-previous-arrow{

    position: absolute;
    background-color: #BEBEBF;
    &:hover, &:active, &:focus {
      background-color: #1c3e93;
    }
    &.inactive {
      background-color: #BEBEBF;
      opacity: 0.3;
    }

    border-radius: 0 5px 5px 0;
    .icon {
      color: #fff;
      line-height: 1;
      padding: 10px;
    }
    @media (@sm-only) {
      right: -20px;
      top: 85px;
      height: 50px;
      width: 25px;
      font-size: 28px;
    }
    @media (@md-only) {
      right: -40px;
      top: 105px;
      height: 65px;
      width: 40px;
      font-size: 42px;
    }

    @media (@lg) {
      right: -49px;
      top: 130px;
      width: 50px;
      font-size: 48px;
      .icon {
        padding-left: 15px;
      }

    }

    .affixed & {
      //position: fixed;
      // how to make this affix properly to the right? we can set top properly but not left/right due to breakpoints?
    }
  }

  &.floated-previous-arrow {
    @media (@sm-only) {
      top: 140px;
    }
    @media (@md-only) {
      top: 175px;
    }
    @media (@lg) {
      top: 203px;
    }
  }

}

.affixed-settings {
  .results-pagination {
    &.floated-next-arrow,
    &.floated-previous-arrow {
      position:fixed;
      right:auto;
      @media (@sm-only) {
        margin-left: 478px;
      }
      @media (@md-only) {
        margin-left: 710px;
      }
      @media (@lg) {
        margin-left: 862px;
      }
    }
  }
}