

.quickFilterTitle {
	vertical-align: middle;
	padding-bottom: 0.5em;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	font-size: 1.1em;
	font-family: "SunLTBoldRegular", Arial, Helvetica, sans-serif;
	float:left;
}