// Make the loading popup on the reset password and loading generic (removes CTM logo).
#loading-popup {
	background: #FFFFFF url("../../legacy/images/dialog/header_540.gif") no-repeat scroll 0 0 !important;
	height: 150px !important;
	width: 540px !important;
	border-radius: 5px;

	#loading-anim {
		top: 70px;
	}
}

// Change the colour of the header on the retrieve quotes page when logged in
#quotes {
	h3 {
		margin-left: 0px !important;
		span {
			color: @theme-secondary;
		}
	}
}

// Change the colour of the quote reference number on the retrieve quotes page when logged in
.transactionId {
	color: @theme-secondary !important;
}

// Added for the error popup on the transfer page.
.btn:link {
	font-size: normal;
	font-weight: normal;
	border: 3px solid #fff !important;
	border-radius: 50%;
	padding: 0;
}

.btn {
	font-weight: normal;
	padding: 10px 15px;
}