.modal-body {
  .skip-contact-details-modal-content{
    margin-top: -20px;
    margin-left: -5px;
    margin-right: -5px;

    .row{
      padding-top: 20px;
      padding-bottom: 20px;

      h2 {
        color: @category-hospital-text-color;
      }

      .round-btns-with-outline {
        margin-top: -20px;
      }

    }

    .row.inverted {
      background-color: @theme-tertiary;
      color: @white;

      h1 {
        color: @white;
      }
    }
  }
}


