.quote-row {
  border: 1px solid #e0e0e0;
  background-color: #f9f9f9;
  margin-bottom: 15px;
  padding: 10px;

  .icon {
    font-size: 3em;
    margin-top: 10px;
    color: @snapshot-icon;
  }

  .icon-quote {
    .icon-car;
  }
}

.time-ago {
  text-align: center;
  font-size: @font-size-small;
}
.slide-feature-my-quotes {
  a {
    cursor: default;
    pointer-events: none;
  }
}