.sortable-header {
	padding: 0;
	background-color: @theme-tertiary;
	position: fixed;
	z-index: 10;
	width: 100%;

	ul {
		padding: 0;
		margin: 0;
		width: 100%;
		display: flex;
		flex-direction: row;
		border: 1px solid transparent;
		border-bottom: 0;
		border-top: 0;
		
		li {
			padding: 0;
			border: 0;
			display: flex;
			align-items: center;

			&:last-child {
			  	justify-content: flex-end;

				a {
					border-right: 0;
				}
			}
		}

		a {
			padding: 10px 15px;
			display: block;
			border-right: 1px solid transparent;
			text-align: center;
			color: #fff;
			align-self: stretch;
			width: 100%;
			justify-content: center;
			text-decoration: none;
		  	pointer-events: none;
		  	cursor: default;

			&:hover {
				@darkerBg: darken(@theme-tertiary, 10%);
			
				background-color: @darkerBg;
				
				&.sort-by[data-sortdir="desc"] {
					.icon {
						border-top-color: @darkerBg;
					}
				}
			}

		  	&.toggle {
				pointer-events: all;
				cursor: pointer;
			}
			
			&.sort-by {
				.icon {
					display: block;
					width: 0;
					height: 0;
					border: 10px solid transparent;
					position: absolute;
					left: 50%;
					margin-left: -10px;
				}
				
				&[data-sortdir="asc"] {
					.icon {
						border-bottom-color: #fff;
						bottom: 0;
					}
				}
				
				&[data-sortdir="desc"] {
					.icon {
						border-top-color: @theme-tertiary;
						bottom: -20px;
					}
				}
			}
		}
	}
}

.sortable-results-container {
	padding-top: 60px;
	
	.header {
		border-bottom: 1px solid @border-color;
		margin-bottom: 15px;
	}
	
	h1 {
		float: left; 
		
		+ button {
			float: right;
			margin-top: 20px;
			
			&.table-hidden span:after {
				content: "Expand";
			}
			
			span:after {
				content: "Collapse";
			}
		}
	}
}

.sortable-results-table {

	.sortable-results-row {
		border: 1px solid @border-color;
		margin-bottom: 10px;
		display: flex;
  		flex-direction: row;
  		
  		&:hover {
  			> div {
  				background: #E5F7ED;
  				
  				&:nth-child(even) {
  					background: #E0F1E7;
  				}
  			} 
  		}
	
		> div {
			padding: 10px 15px;
			border-right: 1px solid @border-color;
		  	word-break: break-word;

			&:nth-child(even) {
				background: #f8f8f8;
			}
			
			&:last-child {
				border-right: 0;
			  	text-align: right;
			}
			
			button {
				width: auto;
			  	margin-right: 5px;
			  	margin-bottom: 5px;
			}
		}
		
	}
	>.hidden {
	  display:none;
	}
	
}