
.modal-dialog.simples-messagescolumn-dialog {
	width: (@container-md - @modal-closebar-button-offset);

	.personal-messages-container {
		height: 245px;
		overflow-x: hidden;
		overflow-y: scroll;
		span {
			display: block;
			margin: 0px 3px 3px 0px;
		}
	}
}

.modal-dialog.simples-postpone-dialog,
.modal-dialog.simples-messagescolumn-dialog {
	.postponeampmgroup {
		overflow: visible;
	}
  	.timeWarning {
	  .error-field;
	  font-size: 13px;
	}
}