#health-callback-popup {
    width: 420px;
    position: absolute;
    border-radius: 5px 25px 5px 5px;
    z-index: 999;
    background-color: #ffffff;
    border: 2px solid @theme-secondary;
    padding: 10px 0 10px 10px;

	&.top-right {
		top: 1.5em;
		@media(@xs-only) {right:1.5em;}
		@media(@sm-only) {right:1.5em;}
		@media(@md-only) {
			left: 50%;
			margin-left: 117px;
		}
		@media(@lg-only) {
			left: 50%;
			margin-left: 117px;
		}
	}

	&.top-left {
		top: 10px;
		left: 10px;
	}

	&.bottom-right {
		bottom: 200px;
		right: 10px;
	}

	&.bottom-left {
		bottom: 200px;
		left: 10px;
	}

	h1 {
		color: @theme-dark;
		font-size: 28px;
	}
	h3 {
		color: @callback-dark-grey;
		margin-top: 0;
	}
	h3.request-callback {
		float: right;

		a {
			color: @theme-secondary;
		}
	}

	.close-popup {
		font-size: 12px;
	}

	.callbackDay label {
		height: 42px;
	}
}
.icon-callback {
	font-size: 18px;
	color: #ffffff;
	background-color: @theme-secondary;
	border-radius: 50%;
	text-align: center;
	width: 36px;
	height: 36px;
	margin: -5px 5px 0;
	padding: 8px;
	float: right;
}

.nav {
	li {
		a.callback-link {
			font-family: @font-family-theme-bold;
			&:hover,
			&:focus {
				background-color: #ffffff;
			}

			.icon-callback {
				display: block;
				margin: 12px auto 0;
				float: none;
			}
		}
	}
}
