.dual-pricing-modal {
  color: #666;

  @media (@sm) {
    font-size: @font-size-large;
  }

  h1 {
    font-family: @font-family-theme-regular;
  }

  h2 {
    background-color: @theme-accent-3;
    color: #fff;
    font-family: @font-family-theme-bold;
    margin: -20px -20px 20px -20px;
    padding: 10px;
    .icon-arrow-thick-up {
      margin-top: 5px;
      margin-right: 5px;
    }
  }

  .need-to-review-cover {
    font-size: @font-size-small;
    line-height: 25px;
    text-align: right;
  }

  hr {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .row {
    margin-bottom: 15px;
    &:first-of-type {
      margin-bottom: 0;
    }
  }

  .dual-pricing-highlight {
    color: @theme-secondary;
  }

  .dual-pricing-date {
    font-size: 21px;
    font-family: @font-family-theme-bold;
    @media (@sm) {
      border-top: 4px solid;
      box-shadow: -1px 0px 5px rgba(0, 0, 0, 0.15), 1px 1px 5px rgba(0, 0, 0, 0.15);
      display: block;
      margin: 10px 20px;
      padding: 5px 0 10px 0;
      span {
        display: block;
        &.dual-pricing-date-month {
          font-size: 18px;
        }
        &.dual-pricing-date-day {
          font-size: 35px;
          line-height: 35px;
          sup {
            font-size: 20px;
          }
        }
      }
    }
  }

  .rounded-gray-bg {
    background-color: #999;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-size: 24px;
    height: 40px;
    margin-top: 30px;
    width: 40px;
    line-height: 40px;

    @media (@xs-only) {
      margin: 10px 0;
    }
  }

  .dual-pricing-modal-frequency {
    margin: 15px 0;
  }

  .dual-pricing-update-frequency-btn {
    background-color: @gray;
    color: #fff;

    @media (@sm) {
      margin: 0 30px;
    }

    .dual-pricing-frequency-ok-text {
      display: block;
    }

    .dual-pricing-frequency-updated-text {
      display: none;
    }

    &.dual-pricing-frequency-updated {
      background-color: @theme-accent-1;

      .dual-pricing-frequency-ok-text {
        display: none;
      }

      .dual-pricing-frequency-updated-text {
        display: block;
      }
    }
  }

  a[href^="tel"] {
    @media (@xs-only) {
      display: block;
      font-size: 30px;
    }
  }
}

/* Results Page */
[data-step="results"]:not(.moreInfoVisible) {
  .result-premium-rising-tag {
    background-color: @theme-accent-3;
    color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;

    @media (@xs-only) {
      font-size: @font-size-small;
      margin-left: -10px;
      margin-right: -10px;
    }

    @media (@sm) {
      margin-left: -15px;
      margin-right: -15px;
      padding-left: 15px;
      padding-right: 15px;
    }

    @media (@lg) {
      margin: 30px 0 0 0;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .dual-pricing-learn-more {
    color: #fff;
    text-decoration: underline;

    @media (@lg) {
      margin-left: 10px;
    }
  }

  .dual-pricing-before-after-text {
    color: @gray;
    font-size: @font-size-small;
    text-align: center;
  }

  .resultInsert .productSummary.hasDualPricing {
    height: initial;

    .open-more-info {
      @media (@lg) {
        width: 60%;
        float: left;

        .lhcText {
          margin-top: -10px;
        }
      }
    }

    .price.premium {
      .frequency {
        height: initial;
      }

      .lhcText {
        min-height: 52px;
        padding-bottom: 10px;
      }

      @media (@lg) {
        .frequencyAmount,
        .lhcText {
          float: none;
          text-align: center;
          width: auto;
        }
      }
    }

    .dual-pricing-container {
      @media (@lg) {
        width: 40%;
        float: left;
      }
      .april-pricing {
        @media (@xs-only) {
          height: 81px;
        }

        .deadline,
        .frequencyAmount,
        .dollarSign,
        .cents {
          color: @theme-accent-3;
        }

        .price.premium {
          .frequencyAmount {
            font-size: 28px;
          }
        }

        .dollarSign {
          font-size: 15px;
          vertical-align: super;
        }

        .cents {
          font-size: 14px;
          vertical-align: super;
        }

        .frequencyTitle {
          display: none;
        }

        .altPriceContainer {
          text-align: center;
        }

        .altPriceDetailsContainer {
          color:#ccc;
          font-size: @font-size-base;
          text-align: left;

          .deadline {
            color:#333;
          }

          .dual-pricing-learn-more {
            display: block;
          }

          @media (@sm) {
            display: inline-block;
            width: 45%;
          }
        }
      }

      .current-pricing {
        .frequencyTitle {
          text-transform: lowercase;
        }
      }

      /* coming soon styles */
      &.comingsoon {
        .april-pricing {
          @media (@xs-only) {
            padding-top: 20px;
          }

          padding-bottom: initial;
          margin-bottom: initial;

          @media (@sm) {
            height: 88px;
            line-height: 88px;
          }

          @media (@lg) {
            line-height: 20px;
          }

          .altPriceContainer {
            width: 100%;
            .price.premium .frequencyAmount {
              font-size: 16px;
            }
          }

          .altPriceDetailsContainer {
            display: none;
          }
        }
      }
    }
  }
}

.priceAnimationStyles() {
  .current-pricing-done {
    background: fade(@theme-accent-1, 20%);

    .frequencyAmount {
      color: @theme-dark;
    }

    h3,
    .applyBy,
    .premiumsRising {
      color: @theme-accent-1;
    }
  }

  // halve all the font sizes for april pricing
  .april-pricing-done {
    background: lighten(@theme-accent-3, 30%);

    *,
    .frequencyAmount,
    .premiumsRising {
      color: @theme-accent-3;
    }
  }
}

.dualPricingStyling() {
  .dual-pricing-container {
    display: block;
    align-items: initial;

    .april-container {
      padding-right: 5px;
    }

    .current-container {
      padding-left: 0px;
    }

    .april-pricing,
    .current-pricing {
      .priceAnimationTransitions();
      border-radius: 10px;
      padding-bottom: 10px;
      text-align: center;

      h3 {
        margin-top: 5px;
        margin-bottom: 0px;

        @media(@xs-only) {
          padding-top: 10px;
        }
      }


      h3,
      .applyBy,
      .premiumsRising {
        font-size: 16px;

        @media(@xs-only) {
          font-size: 14px;
        }
      }
    }

    .april-pricing,
    .current-pricing,
    .april-pricing-details {
      text-align: center;
    }

    /* CURRENT PRICING */
    /* override the shared module styling */
    .current-pricing {
      background: @theme-accent-1;
      border-left: initial;
      padding-left: initial;
      margin-left: initial;

      .frequencyTitle {
        display: none;
      }

      &.no-background {
        background: none;
      }

      .frequencyAmount {
        line-height: 40px;
      }

      > .row {
        display: flex;

        .btn-container {
          display: flex;
          align-items: center;
          a {
            width: 100%;
          }
        }
      }

      .lhcText {
        display: none;
      }

      h3,
      .applyBy,
      .frequencyAmount {
        .priceAnimationTransitions();
        color: @white;
      }
    }

    .april-pricing-details,
    .current-pricing-details {
      font-size: 12px;
      color: @gray;
    }

    /* APRIL PRICING */
    .april-pricing {
      background: @theme-accent-3;

      .lhcText {
        display: none;
      }

      @media(@xs-only) {
        .frequencyTitle {
          display: none;
        }

        .dual-pricing-learn-more {
          display: none;
        }
      }

      @media(@sm) {
        margin-left: -10px;
        margin-right: 10px;
      }


      .cents,
      .dollarSign {
        @media(@lg) {
          font-size: 16px;
        }

        @media(@xs) {
          font-size: 12px;
        }
      }


      .frequencyAmount {
        font-size: 24px;

        &.comingSoon {
          font-size: 18px;
          line-height: 18px;
          margin: 5px 0;

          @media (@md) {
            line-height: 36px;
          }
        }
      }

      *,
      .premiumsRising,
      .frequencyAmount {
        .priceAnimationTransitions();
        color: @white;
      }
    }

    /* animation styles */
    .priceAnimationStyles();
  }
}

.priceAnimationTransitions() {
  transition: all @dual-pricing-transition-duration @dual-pricing-transition-easing;
  transition-delay: @dual-pricing-transition-delay-xs;

  @media (@sm) {
    transition-delay: @dual-pricing-transition-delay;
  }
}

.moreInfoVisible[data-step="results"] {

  @media(@xs-only) {
    .logo-header {
      display: flex;
      margin-bottom: 20px;
    }
  }

  .more-info-left-header-col {
    .dualPricingStyling();

    /* Overrides */
    .dual-pricing-container {
      .april-pricing {
        background: lighten(@theme-accent-3, 30%);

        .frequencyTitle {
          display: none;
        }

        h3,
        .premiumsRising {
          font-size: 14px;
        }

        *,
        .premiumsRising,
        .frequencyAmount {
          color: @theme-accent-3;
        }

        .frequencyAmount {
          &.comingSoon {
            font-size: 14px;
            line-height: 14px;
          }
        }
      }

      .current-pricing {
        background: fade(@theme-accent-1, 20%);
        width: 50%;

        > .row {
          display: block;
        }

        .frequencyAmount {
          color: @theme-dark;
        }

        h3,
        .applyBy,
        .premiumsRising {
          color: @theme-accent-1;
        }
      }

      .april-pricing-details,
      .current-pricing-details {
        display: none;
      }
    }
  }

  .moreInfoDropdown,
  .more-info-content {
    .hasDualPricing
    {
      .sidebar-widget {
        display: none;
      }

      .dualPricingStyling();
    }
  }
}

#health_payment_details-selection {
  .alert-info {
    margin-top: 15px;
  }
}

/* Sidebar styles */
.policySummary-sidebar.hasDualPricing {
  h1 {
    margin-top: 0;
  }
  .productSummary {
    &.dualPricing {
      .down-arrow {
        @media (@lg) {
          margin-top: 20px;
          margin-bottom: 50px;
        }
        &:after,
        &:before {
          left: 28px;

          @media (@md) {
            left: 35px;
          }

          @media (@lg) {
            left: 41px;
          }
        }
      }
    }
  }
}