.dual-pricing-modal {
  color: #666;

  h1 {
    font-family: @font-family-theme-regular;
  }

  h2 {
    color: @theme-dark;
    font-family: @font-family-theme-bold;
    margin-bottom: 0;
  }

  .need-to-review-cover {
    font-size: @font-size-small;
    line-height: 25px;
    text-align: right;
  }

  hr {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .row {
    margin-bottom: 15px;
    &:first-of-type {
      margin-bottom: 0;
    }
  }

  .dual-pricing-highlight {
    color: @theme-secondary;
  }

  .dual-pricing-date {
    font-size: 21px;
    font-family: @font-family-theme-bold;
  }

  .rounded-gray-bg {
    background-color: #999;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;

    @media (@xs-only) {
      margin: 10px 0;
    }
  }
}


/* Results Page */
[data-step="results"] {

  .resultInsert .productSummary .dual-pricing-container {
    .april-pricing {
      border-bottom: 1px solid @dual-pricing-border-colour;
      padding-bottom: 10px;
      margin-bottom: 10px;


      .deadline,
      .frequencyAmount,
      .dollarSign,
      .cents {
        color: @dual-pricing-border-colour;
      }

      .price.premium {
        padding-right: 15px;
        float: right;

        .frequencyAmount {
          font-size: 28px;
        }
      }

      .dollarSign {
        font-size: 15px;
      }

      .cents {
        font-size: 14px;
      }

      .frequencyTitle,
      .lhcText {
        display: none;
      }

      .altPriceContainer {
        width: 50%;
        display: inline-block;
      }

      .altPriceDetailsContainer {
        width: 45%;
        display:inline-block;
      }
    }

    .current-pricing {
      .frequencyTitle {
        text-transform: lowercase;
      }
    }

    /* coming soon styles */
    &.comingsoon {
      .april-pricing {
        padding-bottom: initial;
        margin-bottom: initial;

        .altPriceContainer {
          width: 100%;
          .price.premium .frequencyAmount {
            font-size: 16px;
          }
        }

        .altPriceDetailsContainer {
          display: none;
        }
      }
    }
  }
}

/* Moreinfo Page */
.moreInfoVisible[data-step="results"] {
  .hasDualPricing {
    h1.productName {
      padding-top: 20px;
    }

    .dual-pricing-container {
      display: flex;

      .april-pricing,
      .current-pricing {
        border-radius: 10px;
      }

      .current-pricing {
        background: @theme-accent-1;
      }

      // halve all the font sizes for april pricing
      .april-pricing {
        background: @theme-accent-3;
      }


      /* coming soon styles */
      &.comingsoon {

        .april-pricing {
          div {
            color: @white;
          }
        }

        .current-pricing {
          > * {
            color: @white;
          }
        }
      }
    }
  }
}

.priceAnimationStyles() {
  .current-pricing-done {
    background: lighten(@theme-accent-1, 30%);
  }

  // halve all the font sizes for april pricing
  .april-pricing-done {
    background: lighten(@theme-accent-3, 30%);

    .frequencyAmount {
      color: @theme-accent-3;
    }
  }
}

.moreInfoVisible[data-step="results"] .more-info-content {
  .hasDualPricing {
    h1.productName {
      padding-top: 20px;
    }

    .dual-pricing-container {
      display: flex;

      .april-pricing,
      .current-pricing {
        border-radius: 10px;
        transition: all 0.65s ease;
        padding-bottom: 10px;
      }

      .current-pricing-done {

        .row {
          display: flex;

          .btn-container {
            display: flex;
            justify-content: center;
            align-self: center;

            a {
              width: 100%;
            }
          }
        }

        background: lighten(@theme-accent-1, 35%);

        h3,
        .applyBy,
        .premiumsRising,
        .lhcText {
          color: @theme-accent-1;
        }


        .frequencyAmount,
        .cents{
          color: @theme-dark;
        }
      }

      // halve all the font sizes for april pricing
      .april-pricing-done {
        background: lighten(@theme-accent-3, 35%);

        *,
        .premiumsRising,
        .lhcText,
        .frequencyAmount {
          color: @theme-accent-3;
        }

        .dual-pricing-learn-more {
          display: none;
        }
      }

      /* coming soon styles */
      &.comingsoon {
        .priceAnimationStyles();
      }
    }
  }
}

