.form-horizontal {
  @media (min-width: @screen-sm-min) {
    .control-label {
      display: block;
    }
  }
}

body.health {
  .help-icon-with-label {
    font-size: 14px;
    a {
      line-height: 14px;
    }

    @media (@xs-only) {
      position: absolute;
      right: 15px;
    }
  }
}