.form-horizontal {
  @media (min-width: @screen-sm-min) {
    .control-label {
      display: block;
    }
  }
}

.fieldrow {
  .help-icon-with-label {
    font-size: @font-size-base;
    a {
      line-height: @line-height-computed;
    }
  }
}

@media(max-width:414px) {
  [data-step^=contact] #health-contact-fieldset { margin-bottom:10px; }
  [data-step^=contact] #health-contact-fieldset .form-group { padding-top:10px; padding-bottom:10px; }
}