
.intercom-launcher {
    backface-visibility: hidden;
    background: #004890;
    border-radius: 50%;
    bottom: 20px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.06),
    0 2px 32px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    height: 0;
    opacity: 0;
    outline: 0;
    position: fixed;
    right: 20px;
    transform: scale(0.5);
    transform-origin: center;
    transition: opacity 0.25s ease,
    transform 0.25s ease;
    width: 0;
    z-index: 2147483000;

    &:focus {
        outline: 0;
    }

    &.intercom-booted {
        height: 60px;
        opacity: 1;
        transform: scale(1);
        width: 60px;
    }

    * {
        cursor: pointer;
    }
}

.intercom-unread-count {
    backface-visibility: hidden;
    background: #fc576b;
    border-radius: 20px / 2;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    color: #fff;
    font-size: 20px * 0.6;
    height: 20px;
    line-height: 20px;
    min-width: 20px;
    opacity: 0;
    padding: 0 4px;
    position: absolute;
    right: -2px;
    text-align: center;
    top: -2px;
    transform: scale(0.5);
    transform-origin: center;
    transition: opacity 0.15s ease,
    transform 0.15s ease;

    &.active {
        opacity: 1;
        transform: scale(1);
    }
}

.intercom-icon-open,
.intercom-icon-close {
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    bottom: 0;
    position: absolute;
    top: 0;
    transition: transform 0.16s linear,
    opacity 0.08s linear;
    width: 100%;
}

.intercom-icon-open {
    background-image: url('../../../graphics/intercom_icon.svg');
    background-position: 50% 50%;
    background-size: 54% 60%;
    opacity: 1;
    transform: rotate(0deg) scale(1);

    .intercom-open & {
        opacity: 0;
        transform: rotate(30deg) scale(0);
    }
}

.intercom-icon-close {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcBAMAAACAI8KnAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAIVBMVEUAAAD///////////////////////////////////8AAADPn83rAAAACXRSTlMACq47u/I8r7wWzHxoAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAJJJREFUGNNdzzEKhDAQBdAvwtYWW9hbbSdCDrBnWBDS2Sx7A8HSKwgic1tNxj/jmirDC5P/UTSw01V4ri2nMr7xkg/HIAu+Qi6j9HhEcpB1gHFGGCuSTyQTlQ2Vg3ic4x49TVpzwcQXvI+3x/+r0p9eLAfyYhrIWNOSmfZkVlH2Kpm9Z+bJeh68oSYmnlGMnv1X7RZ2SET5id+LAAAAAElFTkSuQmCC');
    background-size: 25%;
    opacity: 0;
    transform: rotate(-30deg);

    .intercom-open & {
        opacity: 1;
        transform: rotate(0deg);
    }
}