// journeyProgressBar
// --------------------------------------------------
/* *********************************************
	Health Specific Overrides
 ******************************************** */
.progress-bar-row {
  border-top: 1px solid @border-color;
  background-color: @main-bg-colour;
}

@media(@sm-only) {
  .progress-bar-row {
    .journeyProgressBar_v2 {
      li.end {
        span {
          display: none;
        }
      }
    }
  }
}

@media(@md) {
  .progress-bar-row {
    .journeyProgressBar_v2 {
      li {
        span {
          position: relative;
          left: -50px;
          top: -25px;
          font-size: 14px;
        }
      }
    }
  }
}