/** Hiding the Next button at the bottom of journey as its in top right bar.
    XS is the only one that displays it at the bottom
 */
/*
.slideAction .journeyNavButton {
  @media (@sm) {
    display: none;
  }
}*/

.btn-next {
  min-height: 40px;
  padding: 10px 0 0 0;
  @media (@xs-only) {
    width: 300px;
    margin: 0 auto;
    height: 60px;
    font-size: 20px;
    padding-top: 15px;
  }
  @media (@lg) {
    font-size: @font-size-large;
    min-height: 48px;
    padding-top: 14px;
  }
}


@media (@xs-only) {
  body:not([data-step=results]) {
    .header-wrap {
      min-height: 67px;
    }
    &.couponShown {
      .header-wrap {
        min-height: 127px;
      }
    }
  }
}

.slideAction,
.confirm-step {
  div:first-child {
    float: right;
    text-align: right;
  }
}

body[data-step=contact],
#agr-modal {
  .required_input label.control-label:after {
    content: "\002A";
    color: @required-color;
    padding-left: 2px;
  }
  .health-required-blurb  {
    color: @gray-dark;
    font-size: 16px;
    span {
      color: @required-color;
    }
  }
}

.centerRowContents {
  float: none;
  margin: 0 auto;
}

.pageRangeStart,
.pageRangeEnd {
  font-weight: bold;
}