body {
  @media (@xs-only) {
    &[data-step=contact] {

      .mobile-logo-container .logoPanel,
      .mobile-logo-container .logoPanelCollapsed {
        display: block;
        margin: auto;
        width: 231px;
      }

      .mobile-logo-container .logoPanelCollapsedLink,
      .mobile-logo-container .logoPanelLink {
        padding-top: 10px;
        text-align: center;
      }

    }
  }
}