body.jeinit.remember-me-page {
  .journeyEngineLoader {
    display: none;
  }
}

.remember-me {
  min-height: 500px;

  h1, h2, h3, h4, h5, h6 {
    color: #333333;
  }

  &-form {
    margin-bottom: 20px;
    .btn {
      display: inline-block;
    }
    .form-group {
      border-bottom: 0;
    }
    .remember-me-dob-group {

      @media (@xs-only) {
        .control-label {
          margin-bottom: 15px;
          width: 100%;
        }
      }

      label.error {
        color: @theme-accent-3;
        font-size: 0.9em;
        text-align: left;
        display: block;
      }

      @media (@sm) {

        > div.col-sm-4 {
          width: auto;
        }

        .control-label {
          padding-top: 0;
          text-align: right;
          line-height: 2.5;
          width: auto;
        }
      }
    }
  }
}