.nav-tabs {
  > li {

    @media (@xs-only) {
      display: inline-block;
      float: none;
    }

    h2, h3 {
      color: @theme-tertiary;
    }

    h2 {
      font-size: 14px;
    }

    &.active {
      h2, h3 {
        color: @theme-accent-4;
      }

      a,
      a:focus,
      a:hover {
        border: none;
        border-bottom: 5px solid @theme-accent-4;
      }
    }

    a {
      border: none;
      padding: 5px 7px;

      &:hover {
        background-color: transparent;
      }
    }

    @media (@sm-only) {
      h3 {
        font-size: @font-size-base;
      }
    }
  }
}

.preAprilReformContent {
  display: block;
}

.postAprilReformContent {
  display: none;
}

.reformHospitalTabs {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;

  button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;

    &.active {
      background-color: #ccc;
    }
  }
}

.benefitTable {
  border: 1px solid @gray-light;
}

.benefitRow {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 1px solid @gray-lighter;

  .benefitTitle,
  .limitTitle {
    padding-left: 0px;
  }

  &.benefitRowHeader {
    background-color: @reform-blue;
    color: @white;
  }

  .newBenefitRow {
    padding-left: 10px;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    text-align: left;

    &.benefitHeaderTitle {
      border-left: 1px solid @white;
    }

    &.benefitRowTitle {
      border-left: 1px solid @gray-lighter;
    }

    &.align-center {
      text-align: center;
    }
  }
}

.benefitCount {
  color: #ffffff;
  background: @theme-accent-4;
  radius: 50%;
  border-radius: 50%;
  padding: 5px;
  height: 30px;
  width: 30px;
  font-size: 16px;
  display: inline-block;
  text-align: center;
}

.newBenefitStatus {
  display: block;
  top: 30%;
  position: relative;

  &.benefitStatusIcon_N {
    background: url('../images/icons/exclude_icon.svg') center center no-repeat;
    height: 17px;
  }

  &.benefitStatusIcon_Y {
    background: url('../images/icons/included_icon.svg') center center no-repeat;
    height: 17px;
  }

  &.benefitStatusIcon_R {
    background: url('../images/icons/restricted_icon.svg') center center no-repeat;
    height: 30px;
  }
}

.pink {
  background: @theme-accent-3;
}

.gray {
  background: @gray;
}
