.policySummary-sidebar {
  border: 1px solid @gray-light;
  padding: 10px;

  h1 {
    font-size: 23px;
    margin-top: 0;
  }

  h1,
  h5 {
    color: @theme-accent-4;
  }

  .productSummaryDetails {
    .footer {
      text-align: right;
    }
  }
}