.policySummary-sidebar {
  border: 1px solid @gray-light;
  padding: 10px;

  h1 {
    font-size: 23px;
    margin-top: 0;
  }

  h1,
  h5 {
    color: @theme-accent-4;
  }

  .productSummaryDetails {
    font-size: @font-size-small;
    .footer {
      text-align: right;
    }
  }
}

body[data-step="apply"] {
  .policySummary-sidebar {
    .productSummaryDetails {
      .startDate-wrapper {
        display: none;
      }
    }
  }
}

@media (@xs-only) {
  .productSummary-parent.visible-xs {
    margin-bottom: 20px;
    margin-top: -20px;
    min-height: 121px;
    .policySummaryContainer {
      padding-top: 5px;
      .productSummary.horizontal {
        .companyLogo {
          float: left;
        }
        .frequency {
          .frequencyAmount {
            .frequencyTitle {
              display: inline;
              top: 11px;
              left: -22px;
            }
          }
        }
      }
    }
  }
}