@CHARSET "UTF-8";
.fieldrow_label {
	background-color:#EFEFEF;
	font-size:0.8em;
	background-repeat:
} 
.fieldrow_value input {
	background-color:white;
	border:1px solid #CDCDCD;
	position: 
}
.section {
	margin-bottom:10px;
	padding-bottom:10px;
}
.panel {
	border:1px solid #EFEFEF;
}
.panel_header {
	background-color:#EFEFEF;
}
.panel_counter {
	background-color:white;
}
input.error , select.error {
	background-color:#FFE2D0;
	border:1px solid #ea5200;
}
.help_icon {
	background:url(/common/images/icon_help.jpg) no-repeat;
	width:18px;
	height:18px;
	display:inline;
	border: 1px solid yellow;
}