.travel-brands-content {
  @media(min-width: @screen-md-min) {
    height:540px;
    overflow:auto;
    padding:20px;
  }

  .underwriter-link {
    margin-top:10px;
  }
}

.travel-brands-modal .modal-body {
  @media(min-width: @screen-md-min) {
    padding: 0px;
  }

  .underwriters {
    margin-top:10px;
    .clearfix();

    p {
      text-align: justify;
    }
  }
}