//Non XS modes:
@media(@sm) {
	.morePromptContainer {
		text-align:center;
		position:fixed;
		bottom:0px;
	}

	.morePromptCell {
		line-height: 31px;
		&:before {
			.beforeVerticalCentering();
		}

		a {
			text-decoration: none;
		}

		.icon-angle-down {
			color: #fff;
			vertical-align: middle;
			margin: 0 8px;
		}

		.morePromptLink {
			background: @results-morePromptLink-bg-color;
			width: 262px;
			height: 31px;
			color: #FFF;
			margin: 0 8px;
			display:inline-block;
		}
	}
}