//-------------------------------------------------------------------------------------------
// TRAVEL RESULTS DESIGN SPECIALISATIONS. See core/results.less for the base style
// Enhances the priceMode (horizontal) display in results for travel.
//-------------------------------------------------------------------------------------------


//-------------------------------------------------------------------------------------------
//All breakpoints XS and up.

.resultsSummaryPlaceholder {
	.highlight {
		color: @results-resultsSummaryPlaceholder-highlight-color;	
		font-weight: bold;
	}			
}

@media(@sm-only) {
	.optional {
		display: none;
	}
}