@btn-call-actions-color: @theme-tertiary;
@btn-call-actions-bg-color: transparent;
@btn-call-actions-border-color: @btn-call-actions-color;

@btn-call-actions-hover-color: darken(@btn-call-actions-color, 12%);
@btn-call-actions-hover-bg-color: @btn-call-actions-bg-color;
@btn-call-actions-hover-border-color: @btn-call-actions-hover-color;

@btn-call-actions-active-color: @theme-secondary;
@btn-call-actions-active-bg-color: @btn-call-actions-bg-color;
@btn-call-actions-active-border-color: @btn-call-actions-active-color;