body {
  padding-top: 48px;

  nav.navbar-header.header-buttons-logos {
    font-size: 2px;
  }

  @media (min-width: 767px) {
    padding-top: 60px;
  }

  &[data-step="results"] {
    padding-top: 100px;
    @media(@xs-only) {
      padding-top: 60px !important;

      #pageContent{
        padding-top: 9px;
      }

      .header-top .navbar-toggle.collapsed.hamburger {
        padding-top: 5px;

        .icon {
          font-size: 28px;
        }
      }

    }
    .header-wrap {
      @media(@sm) {
        // fix IE issue with header size
        nav div.container div.row ul li ul li {
          max-height: 60px;
           a:hover {
             max-height: 60px;
           }
        }
      }

      &.stuck {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 40px 0px;
        @media(@sm) {
          box-shadow: none;
          .hamburger {
            .icon {
              font-size: 28px;
            }
          }
        }
        @media (min-width: 767px) {
          #logo {
            height: 32px;
            transition: all 200ms ease;
          }
        }
        @media(@xs-only) {
          transition: all 200ms ease;
          .header-top.dropdown-interactive-base.navMenu-row-fixed {
            padding-bottom: 0;
          }
          #logo {
            transition: all 200ms ease;
          }
          .container-fluid {
            height: 38px;
          }
          .navbar-toggle.collapsed.hamburger {
            height: 39px;
            padding-top: 2px;
            .icon {
              font-size: 26px;
            }
          }
        }
      }
    }
  }
}

body:not([data-step="results"]) {

  @media(@xs-only) {
      #pageContent{
        padding-top: 8px;
      }
  }

  #js-logo-link{
    font-size: 2px;
  }
  .header-wrap {
    nav.navbar-header.header-buttons-logos {
      @media(@sm) {
        padding-top: 0;
      }
    }
  }
  .header-wrap.stuck{
    transition: all 200ms ease;
    nav.navbar-header.header-buttons-logos {
      @media (min-width: 767px) {
        #logo {
          height: 32px;
          transition: all 200ms ease;
        }
      }
    }

    @media(@xs-only) {
      #logo {
        transition: all 200ms ease;
      }
      .container-fluid {
        height: 38px;
      }
    }
  }
}


.header-wrap {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20000;

  &.stuck {
    transition: all 200ms ease;
    box-shadow: rgba(0, 0, 0, .1) 0px 10px 40px 0px;
  }
}

.modal {
  z-index: 21000;
  padding-right: 0px !important;
}

body.roadside.gtmPromoBanner:not([data-step="results"]) {
    #pageContent {
        padding-top: 70px;
    }
}

body.roadside.gtmPromoBanner[data-step="results"] {
    #pageContent {
        padding-top: 80px;
    }
    header.header-wrap.stuck ~ #pageContent {
        padding-top: 0;
    }
	.ad-main-top.adStuck {
		display: none;
	}
}
