body {
  padding-top: 60px;

  nav.navbar-header.header-buttons-logos {
    padding-bottom: 8px;
    font-size: 2px;
    padding-top: 8px;
  }

  @media(@xs-only) {
    padding-top: 60px;
  }
  @media(@sm) {
    #js-logo-link {
      font-size: 4px;
    }
    #logo {
      margin-top: 8px;
    }
  }

  &[data-step="results"] {
    padding-top: 100px;
    @media(@xs-only) {
      padding-top: 60px !important;

      #pageContent{
        padding-top: 9px;
      }

      .header-top .navbar-toggle.collapsed.hamburger {
        padding-top: 5px;


        .icon {
          font-size: 28px;
        }
      }

    }
    .header-wrap {
      @media(@sm) {
        // fix IE issue with header size
        nav div.container div.row ul li ul li {
          max-height: 60px;
           a:hover {
             max-height: 60px;
           }
        }
      }

      &:not(.stuck){
        @media(@sm) {
          .header-top.dropdown-interactive-base.navMenu-row-fixed{
            .container-fluid {
              .col-sm-12 {
                padding-left: 9px;
              }
            }
          }
          nav.navbar-header.header-buttons-logos{
            padding-top: 4px;
            #logo {
              margin-top: 0px;
            }
          }
        }
      }
      .header-top {
        @media (@xs-only) {
          .container-fluid > div.col-sm-12 {
            margin-top: -1.6px;
          }
        }
      }
      &.stuck {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 40px 0px;
        @media(@sm) {
          box-shadow: none;
          .hamburger {
            .icon {
              font-size: 28px;
            }
          }
        }
        @media(@xs-only) {
          transition: all 200ms ease;
          .header-top.dropdown-interactive-base.navMenu-row-fixed {
            padding-bottom: 0;
          }
          #logo {
            width: 32px;
            height: 32px;
            background-size: 32px 32px;
            transition: all 200ms ease;
          }
          nav.navbar-header.header-buttons-logos {
            height: 44px;
            margin-top: -8px;
            padding-top: 12px;
          }
          .container-fluid {
            height: 38px;
          }
          .navbar-toggle.collapsed.hamburger {
            height: 39px;
            padding-top: 2px;
            .icon {
              font-size: 26px;
            }
          }
        }
      }
    }
  }
}

body:not([data-step="results"]) {

  @media(@xs-only) {
      #pageContent{
        padding-top: 8px;
      }
  }

  .header-top {
    @media (@sm) {
      .container-fluid > div.col-sm-12 {
        padding-left: 9px;
      }
    }
  }

  #js-logo-link{
    font-size: 2px;
  }
  .header-wrap {
    nav.navbar-header.header-buttons-logos {
      height: 60px;
      @media(@sm) {
        padding-top: 0;
        #logo {
          margin-top: 7px;
        }
      }
      @media(@xs-only) {
        padding-top: 8px;
      }
    }
  }
  .header-wrap.stuck{
    transition: all 200ms ease;
    #logo {
      margin-top: 6px;
      height: 32px;
    }
    nav.navbar-header.header-buttons-logos {
      padding-bottom: 6px;
      @media(@sm) {
        height: 44px;
      }
    }

    @media(@xs-only) {

      .header-top.dropdown-interactive-base.navMenu-row-fixed {
        padding-bottom: 6px;
      }
      #logo {
        width: 32px;
        background-size: 32px 32px;
        transition: all 200ms ease;
      }
      nav.navbar-header.header-buttons-logos {
        height: 44px;
        margin-top: -8px;
      }
      .container-fluid {
        height: 38px;
      }
    }
  }
}


.header-wrap {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20000;
  .header-top {
    @media (@xs-only) {
      .container-fluid > div.col-sm-12 {
        margin-top: -1.6px;
      }
    }
  }

  &.stuck {
    height: 44px;
    transition: all 200ms ease;
    box-shadow: rgba(0, 0, 0, .1) 0px 10px 40px 0px;
  }
}

.modal {
  z-index: 21000;
  padding-right: 0px !important;
}

body.roadside.gtmPromoBanner:not([data-step="results"]) {
    #pageContent {
        padding-top: 70px;
    }
}

body.roadside.gtmPromoBanner[data-step="results"] {
    #pageContent {
        padding-top: 80px;
    }
    header.header-wrap.stuck ~ #pageContent {
        padding-top: 0;
    }
	.ad-main-top.adStuck {
		display: none;
	}
}
