body {
  padding-top: 100px !important;
  @media(@md-only) {
    padding-top: 82px !important;
  }
  @media(@xs-only) {
    padding-top: 60px !important;
  }
}

.header-wrap {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20000;

  &.stuck {
    height: 44px;
    transition: all 200ms ease;
    box-shadow: rgba(0, 0, 0, .1) 0px 10px 40px 0px;
  }
}

.modal {
  z-index: 21000;
  padding-right: 0px !important;
}
