/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@1-f-o-w-r-o-a-d-s-i-d-e-31-name: '1FOW-ROADSIDE-31';
@1-f-o-w-r-o-a-d-s-i-d-e-31-x: 480px;
@1-f-o-w-r-o-a-d-s-i-d-e-31-y: 360px;
@1-f-o-w-r-o-a-d-s-i-d-e-31-offset-x: -480px;
@1-f-o-w-r-o-a-d-s-i-d-e-31-offset-y: -360px;
@1-f-o-w-r-o-a-d-s-i-d-e-31-width: 79px;
@1-f-o-w-r-o-a-d-s-i-d-e-31-height: 60px;
@1-f-o-w-r-o-a-d-s-i-d-e-31-total-width: 559px;
@1-f-o-w-r-o-a-d-s-i-d-e-31-total-height: 460px;
@1-f-o-w-r-o-a-d-s-i-d-e-31-image: '..\..\..\graphics\logos\sprites\roadside.png';
@1-f-o-w-r-o-a-d-s-i-d-e-31: 480px 360px -480px -360px 79px 60px 559px 460px '..\..\..\graphics\logos\sprites\roadside.png' '1FOW-ROADSIDE-31';
@1-f-o-w-name: '1FOW';
@1-f-o-w-x: 400px;
@1-f-o-w-y: 320px;
@1-f-o-w-offset-x: -400px;
@1-f-o-w-offset-y: -320px;
@1-f-o-w-width: 80px;
@1-f-o-w-height: 80px;
@1-f-o-w-total-width: 559px;
@1-f-o-w-total-height: 460px;
@1-f-o-w-image: '..\..\..\graphics\logos\sprites\roadside.png';
@1-f-o-w: 400px 320px -400px -320px 80px 80px 559px 460px '..\..\..\graphics\logos\sprites\roadside.png' '1FOW';
@1-f-o-w-2x-name: '1FOW@2x';
@1-f-o-w-2x-x: 160px;
@1-f-o-w-2x-y: 0px;
@1-f-o-w-2x-offset-x: -160px;
@1-f-o-w-2x-offset-y: 0px;
@1-f-o-w-2x-width: 160px;
@1-f-o-w-2x-height: 160px;
@1-f-o-w-2x-total-width: 559px;
@1-f-o-w-2x-total-height: 460px;
@1-f-o-w-2x-image: '..\..\..\graphics\logos\sprites\roadside.png';
@1-f-o-w-2x: 160px 0px -160px 0px 160px 160px 559px 460px '..\..\..\graphics\logos\sprites\roadside.png' '1FOW@2x';
@24-7-r-o-a-d-s-i-d-e-32-name: '24-7-ROADSIDE-32';
@24-7-r-o-a-d-s-i-d-e-32-x: 480px;
@24-7-r-o-a-d-s-i-d-e-32-y: 300px;
@24-7-r-o-a-d-s-i-d-e-32-offset-x: -480px;
@24-7-r-o-a-d-s-i-d-e-32-offset-y: -300px;
@24-7-r-o-a-d-s-i-d-e-32-width: 79px;
@24-7-r-o-a-d-s-i-d-e-32-height: 60px;
@24-7-r-o-a-d-s-i-d-e-32-total-width: 559px;
@24-7-r-o-a-d-s-i-d-e-32-total-height: 460px;
@24-7-r-o-a-d-s-i-d-e-32-image: '..\..\..\graphics\logos\sprites\roadside.png';
@24-7-r-o-a-d-s-i-d-e-32: 480px 300px -480px -300px 79px 60px 559px 460px '..\..\..\graphics\logos\sprites\roadside.png' '24-7-ROADSIDE-32';
@24-7-r-o-a-d-s-i-d-e-33-name: '24-7-ROADSIDE-33';
@24-7-r-o-a-d-s-i-d-e-33-x: 480px;
@24-7-r-o-a-d-s-i-d-e-33-y: 240px;
@24-7-r-o-a-d-s-i-d-e-33-offset-x: -480px;
@24-7-r-o-a-d-s-i-d-e-33-offset-y: -240px;
@24-7-r-o-a-d-s-i-d-e-33-width: 79px;
@24-7-r-o-a-d-s-i-d-e-33-height: 60px;
@24-7-r-o-a-d-s-i-d-e-33-total-width: 559px;
@24-7-r-o-a-d-s-i-d-e-33-total-height: 460px;
@24-7-r-o-a-d-s-i-d-e-33-image: '..\..\..\graphics\logos\sprites\roadside.png';
@24-7-r-o-a-d-s-i-d-e-33: 480px 240px -480px -240px 79px 60px 559px 460px '..\..\..\graphics\logos\sprites\roadside.png' '24-7-ROADSIDE-33';
@24-7-r-o-a-d-s-i-d-e-34-name: '24-7-ROADSIDE-34';
@24-7-r-o-a-d-s-i-d-e-34-x: 480px;
@24-7-r-o-a-d-s-i-d-e-34-y: 180px;
@24-7-r-o-a-d-s-i-d-e-34-offset-x: -480px;
@24-7-r-o-a-d-s-i-d-e-34-offset-y: -180px;
@24-7-r-o-a-d-s-i-d-e-34-width: 79px;
@24-7-r-o-a-d-s-i-d-e-34-height: 60px;
@24-7-r-o-a-d-s-i-d-e-34-total-width: 559px;
@24-7-r-o-a-d-s-i-d-e-34-total-height: 460px;
@24-7-r-o-a-d-s-i-d-e-34-image: '..\..\..\graphics\logos\sprites\roadside.png';
@24-7-r-o-a-d-s-i-d-e-34: 480px 180px -480px -180px 79px 60px 559px 460px '..\..\..\graphics\logos\sprites\roadside.png' '24-7-ROADSIDE-34';
@24-7-r-o-a-d-s-i-d-e-35-name: '24-7-ROADSIDE-35';
@24-7-r-o-a-d-s-i-d-e-35-x: 480px;
@24-7-r-o-a-d-s-i-d-e-35-y: 120px;
@24-7-r-o-a-d-s-i-d-e-35-offset-x: -480px;
@24-7-r-o-a-d-s-i-d-e-35-offset-y: -120px;
@24-7-r-o-a-d-s-i-d-e-35-width: 79px;
@24-7-r-o-a-d-s-i-d-e-35-height: 60px;
@24-7-r-o-a-d-s-i-d-e-35-total-width: 559px;
@24-7-r-o-a-d-s-i-d-e-35-total-height: 460px;
@24-7-r-o-a-d-s-i-d-e-35-image: '..\..\..\graphics\logos\sprites\roadside.png';
@24-7-r-o-a-d-s-i-d-e-35: 480px 120px -480px -120px 79px 60px 559px 460px '..\..\..\graphics\logos\sprites\roadside.png' '24-7-ROADSIDE-35';
@24-7-r-o-a-d-s-i-d-e-36-name: '24-7-ROADSIDE-36';
@24-7-r-o-a-d-s-i-d-e-36-x: 480px;
@24-7-r-o-a-d-s-i-d-e-36-y: 60px;
@24-7-r-o-a-d-s-i-d-e-36-offset-x: -480px;
@24-7-r-o-a-d-s-i-d-e-36-offset-y: -60px;
@24-7-r-o-a-d-s-i-d-e-36-width: 79px;
@24-7-r-o-a-d-s-i-d-e-36-height: 60px;
@24-7-r-o-a-d-s-i-d-e-36-total-width: 559px;
@24-7-r-o-a-d-s-i-d-e-36-total-height: 460px;
@24-7-r-o-a-d-s-i-d-e-36-image: '..\..\..\graphics\logos\sprites\roadside.png';
@24-7-r-o-a-d-s-i-d-e-36: 480px 60px -480px -60px 79px 60px 559px 460px '..\..\..\graphics\logos\sprites\roadside.png' '24-7-ROADSIDE-36';
@24-7-name: '24-7';
@24-7-x: 160px;
@24-7-y: 320px;
@24-7-offset-x: -160px;
@24-7-offset-y: -320px;
@24-7-width: 80px;
@24-7-height: 80px;
@24-7-total-width: 559px;
@24-7-total-height: 460px;
@24-7-image: '..\..\..\graphics\logos\sprites\roadside.png';
@24-7: 160px 320px -160px -320px 80px 80px 559px 460px '..\..\..\graphics\logos\sprites\roadside.png' '24-7';
@24-7-2x-name: '24-7@2x';
@24-7-2x-x: 320px;
@24-7-2x-y: 0px;
@24-7-2x-offset-x: -320px;
@24-7-2x-offset-y: 0px;
@24-7-2x-width: 160px;
@24-7-2x-height: 160px;
@24-7-2x-total-width: 559px;
@24-7-2x-total-height: 460px;
@24-7-2x-image: '..\..\..\graphics\logos\sprites\roadside.png';
@24-7-2x: 320px 0px -320px 0px 160px 160px 559px 460px '..\..\..\graphics\logos\sprites\roadside.png' '24-7@2x';
@365-r-r-o-a-d-s-i-d-e-177-name: '365R-ROADSIDE-177';
@365-r-r-o-a-d-s-i-d-e-177-x: 480px;
@365-r-r-o-a-d-s-i-d-e-177-y: 0px;
@365-r-r-o-a-d-s-i-d-e-177-offset-x: -480px;
@365-r-r-o-a-d-s-i-d-e-177-offset-y: 0px;
@365-r-r-o-a-d-s-i-d-e-177-width: 79px;
@365-r-r-o-a-d-s-i-d-e-177-height: 60px;
@365-r-r-o-a-d-s-i-d-e-177-total-width: 559px;
@365-r-r-o-a-d-s-i-d-e-177-total-height: 460px;
@365-r-r-o-a-d-s-i-d-e-177-image: '..\..\..\graphics\logos\sprites\roadside.png';
@365-r-r-o-a-d-s-i-d-e-177: 480px 0px -480px 0px 79px 60px 559px 460px '..\..\..\graphics\logos\sprites\roadside.png' '365R-ROADSIDE-177';
@365-r-r-o-a-d-s-i-d-e-178-name: '365R-ROADSIDE-178';
@365-r-r-o-a-d-s-i-d-e-178-x: 79px;
@365-r-r-o-a-d-s-i-d-e-178-y: 400px;
@365-r-r-o-a-d-s-i-d-e-178-offset-x: -79px;
@365-r-r-o-a-d-s-i-d-e-178-offset-y: -400px;
@365-r-r-o-a-d-s-i-d-e-178-width: 79px;
@365-r-r-o-a-d-s-i-d-e-178-height: 60px;
@365-r-r-o-a-d-s-i-d-e-178-total-width: 559px;
@365-r-r-o-a-d-s-i-d-e-178-total-height: 460px;
@365-r-r-o-a-d-s-i-d-e-178-image: '..\..\..\graphics\logos\sprites\roadside.png';
@365-r-r-o-a-d-s-i-d-e-178: 79px 400px -79px -400px 79px 60px 559px 460px '..\..\..\graphics\logos\sprites\roadside.png' '365R-ROADSIDE-178';
@365-r-name: '365R';
@365-r-x: 240px;
@365-r-y: 320px;
@365-r-offset-x: -240px;
@365-r-offset-y: -320px;
@365-r-width: 80px;
@365-r-height: 80px;
@365-r-total-width: 559px;
@365-r-total-height: 460px;
@365-r-image: '..\..\..\graphics\logos\sprites\roadside.png';
@365-r: 240px 320px -240px -320px 80px 80px 559px 460px '..\..\..\graphics\logos\sprites\roadside.png' '365R';
@365-r-2x-name: '365R@2x';
@365-r-2x-x: 320px;
@365-r-2x-y: 160px;
@365-r-2x-offset-x: -320px;
@365-r-2x-offset-y: -160px;
@365-r-2x-width: 160px;
@365-r-2x-height: 160px;
@365-r-2x-total-width: 559px;
@365-r-2x-total-height: 460px;
@365-r-2x-image: '..\..\..\graphics\logos\sprites\roadside.png';
@365-r-2x: 320px 160px -320px -160px 160px 160px 559px 460px '..\..\..\graphics\logos\sprites\roadside.png' '365R@2x';
@-a-g-a-r-r-o-a-d-s-i-d-e-179-name: 'AGAR-ROADSIDE-179';
@-a-g-a-r-r-o-a-d-s-i-d-e-179-x: 158px;
@-a-g-a-r-r-o-a-d-s-i-d-e-179-y: 400px;
@-a-g-a-r-r-o-a-d-s-i-d-e-179-offset-x: -158px;
@-a-g-a-r-r-o-a-d-s-i-d-e-179-offset-y: -400px;
@-a-g-a-r-r-o-a-d-s-i-d-e-179-width: 79px;
@-a-g-a-r-r-o-a-d-s-i-d-e-179-height: 60px;
@-a-g-a-r-r-o-a-d-s-i-d-e-179-total-width: 559px;
@-a-g-a-r-r-o-a-d-s-i-d-e-179-total-height: 460px;
@-a-g-a-r-r-o-a-d-s-i-d-e-179-image: '..\..\..\graphics\logos\sprites\roadside.png';
@-a-g-a-r-r-o-a-d-s-i-d-e-179: 158px 400px -158px -400px 79px 60px 559px 460px '..\..\..\graphics\logos\sprites\roadside.png' 'AGAR-ROADSIDE-179';
@-a-g-a-r-r-o-a-d-s-i-d-e-180-name: 'AGAR-ROADSIDE-180';
@-a-g-a-r-r-o-a-d-s-i-d-e-180-x: 237px;
@-a-g-a-r-r-o-a-d-s-i-d-e-180-y: 400px;
@-a-g-a-r-r-o-a-d-s-i-d-e-180-offset-x: -237px;
@-a-g-a-r-r-o-a-d-s-i-d-e-180-offset-y: -400px;
@-a-g-a-r-r-o-a-d-s-i-d-e-180-width: 79px;
@-a-g-a-r-r-o-a-d-s-i-d-e-180-height: 60px;
@-a-g-a-r-r-o-a-d-s-i-d-e-180-total-width: 559px;
@-a-g-a-r-r-o-a-d-s-i-d-e-180-total-height: 460px;
@-a-g-a-r-r-o-a-d-s-i-d-e-180-image: '..\..\..\graphics\logos\sprites\roadside.png';
@-a-g-a-r-r-o-a-d-s-i-d-e-180: 237px 400px -237px -400px 79px 60px 559px 460px '..\..\..\graphics\logos\sprites\roadside.png' 'AGAR-ROADSIDE-180';
@-a-g-a-r-name: 'AGAR';
@-a-g-a-r-x: 316px;
@-a-g-a-r-y: 400px;
@-a-g-a-r-offset-x: -316px;
@-a-g-a-r-offset-y: -400px;
@-a-g-a-r-width: 79px;
@-a-g-a-r-height: 60px;
@-a-g-a-r-total-width: 559px;
@-a-g-a-r-total-height: 460px;
@-a-g-a-r-image: '..\..\..\graphics\logos\sprites\roadside.png';
@-a-g-a-r: 316px 400px -316px -400px 79px 60px 559px 460px '..\..\..\graphics\logos\sprites\roadside.png' 'AGAR';
@-a-g-a-r-2x-name: 'AGAR@2x';
@-a-g-a-r-2x-x: 395px;
@-a-g-a-r-2x-y: 400px;
@-a-g-a-r-2x-offset-x: -395px;
@-a-g-a-r-2x-offset-y: -400px;
@-a-g-a-r-2x-width: 79px;
@-a-g-a-r-2x-height: 60px;
@-a-g-a-r-2x-total-width: 559px;
@-a-g-a-r-2x-total-height: 460px;
@-a-g-a-r-2x-image: '..\..\..\graphics\logos\sprites\roadside.png';
@-a-g-a-r-2x: 395px 400px -395px -400px 79px 60px 559px 460px '..\..\..\graphics\logos\sprites\roadside.png' 'AGAR@2x';
@-a-g-i-s-r-o-a-d-s-i-d-e-7-name: 'AGIS-ROADSIDE-7';
@-a-g-i-s-r-o-a-d-s-i-d-e-7-x: 0px;
@-a-g-i-s-r-o-a-d-s-i-d-e-7-y: 400px;
@-a-g-i-s-r-o-a-d-s-i-d-e-7-offset-x: 0px;
@-a-g-i-s-r-o-a-d-s-i-d-e-7-offset-y: -400px;
@-a-g-i-s-r-o-a-d-s-i-d-e-7-width: 79px;
@-a-g-i-s-r-o-a-d-s-i-d-e-7-height: 60px;
@-a-g-i-s-r-o-a-d-s-i-d-e-7-total-width: 559px;
@-a-g-i-s-r-o-a-d-s-i-d-e-7-total-height: 460px;
@-a-g-i-s-r-o-a-d-s-i-d-e-7-image: '..\..\..\graphics\logos\sprites\roadside.png';
@-a-g-i-s-r-o-a-d-s-i-d-e-7: 0px 400px 0px -400px 79px 60px 559px 460px '..\..\..\graphics\logos\sprites\roadside.png' 'AGIS-ROADSIDE-7';
@-b-u-d-d-name: 'BUDD';
@-b-u-d-d-x: 80px;
@-b-u-d-d-y: 320px;
@-b-u-d-d-offset-x: -80px;
@-b-u-d-d-offset-y: -320px;
@-b-u-d-d-width: 80px;
@-b-u-d-d-height: 80px;
@-b-u-d-d-total-width: 559px;
@-b-u-d-d-total-height: 460px;
@-b-u-d-d-image: '..\..\..\graphics\logos\sprites\roadside.png';
@-b-u-d-d: 80px 320px -80px -320px 80px 80px 559px 460px '..\..\..\graphics\logos\sprites\roadside.png' 'BUDD';
@-b-u-d-d-2x-name: 'BUDD@2x';
@-b-u-d-d-2x-x: 160px;
@-b-u-d-d-2x-y: 160px;
@-b-u-d-d-2x-offset-x: -160px;
@-b-u-d-d-2x-offset-y: -160px;
@-b-u-d-d-2x-width: 160px;
@-b-u-d-d-2x-height: 160px;
@-b-u-d-d-2x-total-width: 559px;
@-b-u-d-d-2x-total-height: 460px;
@-b-u-d-d-2x-image: '..\..\..\graphics\logos\sprites\roadside.png';
@-b-u-d-d-2x: 160px 160px -160px -160px 160px 160px 559px 460px '..\..\..\graphics\logos\sprites\roadside.png' 'BUDD@2x';
@-m247-name: 'M247';
@-m247-x: 320px;
@-m247-y: 320px;
@-m247-offset-x: -320px;
@-m247-offset-y: -320px;
@-m247-width: 80px;
@-m247-height: 80px;
@-m247-total-width: 559px;
@-m247-total-height: 460px;
@-m247-image: '..\..\..\graphics\logos\sprites\roadside.png';
@-m247: 320px 320px -320px -320px 80px 80px 559px 460px '..\..\..\graphics\logos\sprites\roadside.png' 'M247';
@-m247-2x-name: 'M247@2x';
@-m247-2x-x: 0px;
@-m247-2x-y: 160px;
@-m247-2x-offset-x: 0px;
@-m247-2x-offset-y: -160px;
@-m247-2x-width: 160px;
@-m247-2x-height: 160px;
@-m247-2x-total-width: 559px;
@-m247-2x-total-height: 460px;
@-m247-2x-image: '..\..\..\graphics\logos\sprites\roadside.png';
@-m247-2x: 0px 160px 0px -160px 160px 160px 559px 460px '..\..\..\graphics\logos\sprites\roadside.png' 'M247@2x';
@-r-a-c-w-name: 'RACW';
@-r-a-c-w-x: 0px;
@-r-a-c-w-y: 320px;
@-r-a-c-w-offset-x: 0px;
@-r-a-c-w-offset-y: -320px;
@-r-a-c-w-width: 80px;
@-r-a-c-w-height: 80px;
@-r-a-c-w-total-width: 559px;
@-r-a-c-w-total-height: 460px;
@-r-a-c-w-image: '..\..\..\graphics\logos\sprites\roadside.png';
@-r-a-c-w: 0px 320px 0px -320px 80px 80px 559px 460px '..\..\..\graphics\logos\sprites\roadside.png' 'RACW';
@-r-a-c-w-2x-name: 'RACW@2x';
@-r-a-c-w-2x-x: 0px;
@-r-a-c-w-2x-y: 0px;
@-r-a-c-w-2x-offset-x: 0px;
@-r-a-c-w-2x-offset-y: 0px;
@-r-a-c-w-2x-width: 160px;
@-r-a-c-w-2x-height: 160px;
@-r-a-c-w-2x-total-width: 559px;
@-r-a-c-w-2x-total-height: 460px;
@-r-a-c-w-2x-image: '..\..\..\graphics\logos\sprites\roadside.png';
@-r-a-c-w-2x: 0px 0px 0px 0px 160px 160px 559px 460px '..\..\..\graphics\logos\sprites\roadside.png' 'RACW@2x';
@spritesheet-width: 559px;
@spritesheet-height: 460px;
@spritesheet-image: '..\..\..\graphics\logos\sprites\roadside.png';
@spritesheet-sprites: @1-f-o-w-r-o-a-d-s-i-d-e-31 @1-f-o-w @1-f-o-w-2x @24-7-r-o-a-d-s-i-d-e-32 @24-7-r-o-a-d-s-i-d-e-33 @24-7-r-o-a-d-s-i-d-e-34 @24-7-r-o-a-d-s-i-d-e-35 @24-7-r-o-a-d-s-i-d-e-36 @24-7 @24-7-2x @365-r-r-o-a-d-s-i-d-e-177 @365-r-r-o-a-d-s-i-d-e-178 @365-r @365-r-2x @-a-g-a-r-r-o-a-d-s-i-d-e-179 @-a-g-a-r-r-o-a-d-s-i-d-e-180 @-a-g-a-r @-a-g-a-r-2x @-a-g-i-s-r-o-a-d-s-i-d-e-7 @-b-u-d-d @-b-u-d-d-2x @-m247 @-m247-2x @-r-a-c-w @-r-a-c-w-2x;
@spritesheet: 559px 460px '..\..\..\graphics\logos\sprites\roadside.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
