.zeusPage {
	#zeus_footer {
		padding: 20px 0 40px 0;

		.headingRow {
			padding-top: 40px;
			padding-bottom: 40px;

			h1 {
				@media(max-width: @screen-sm-max) {
					font-size: 25px;
				}
			}

			.floralLeft {
				text-align: right;

				img {
					width: 50%;

					@media(max-width: @screen-sm) {
						width: 40%;
					}
				}
			}

			.floralRight {
				text-align: left;

				img {
					width: 50%;

					@media(max-width: @screen-sm) {
						width: 40%;
					}
				}
			}
		}

		.inner-footer-box {
			background-color: @theme-tertiary;
			color: white;
			display: block;
			font-size: 25px;
			width: 100%;
			padding-bottom: 15px;

			&:hover {
				text-decoration: none;
			}

			@media(max-width: @screen-sm) {
				width: 70%;
				margin: 0 auto 40px auto;
			}

			img {
				display: block;
				width: 100%;
				padding-bottom: 15px;
			}
		}
	}
}

