.zeusPage {
	#zeus_footer {
		.headingRow {
			padding-top: 40px;
			padding-bottom: 40px;

			.floralLeft {
				text-align: right;

				img {
					width: 50%;
				}
			}

			.floralRight {
				text-align: left;

				img {
					width: 50%;
				}
			}
		}


		.inner-footer-box {
			background-color: @background;
			color: white;
			display: block;
			font-size: 25px;
			width: 100%;
			padding-bottom: 15px;

			&:hover {
				text-decoration: none;
			}

			img {
				display: block;
				width: 100%;
				padding-bottom: 15px;
			}
		}
	}
}

