.zeusPage {
	#zeusHeader {
		background-image: url("/ctm/assets/brand/ctm/images/zeus/1px_gradient.png");
		background-repeat: repeat-x;
		background-size: 1px 100%;

		.trackingHeader {
			text-align: center;
			color: white;
			margin: 0px;
			padding: 15px 0px;
		}

		img {
			height: 100px;
		}
	}
}