.zeusPage {
	#location_details {
		.meerkatCrest {
			width: 80%;
		}
	}

	#location_container {
		background-color: @background;
		padding: 15px 0;

		.globalMap {
			width: 100%;
		}

		.postcard {
			width: 80%;
			margin-top: -70px;
		}
	}
}

