.dual-pricing-modal {
  color: #666;

  h1 {
    font-family: @font-family-theme-regular;
  }

  h2 {
    color: @theme-dark;
    font-family: @font-family-theme-bold;
    margin-bottom: 0;
  }

  .need-to-review-cover {
    font-size: @font-size-small;
    line-height: 25px;
    text-align: right;
  }

  hr {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .row {
    margin-bottom: 15px;
    &:first-of-type {
      margin-bottom: 0;
    }
  }

  .dual-pricing-highlight {
    color: @theme-secondary;
  }

  .dual-pricing-date {
    font-size: 21px;
    font-family: @font-family-theme-bold;
  }

  .rounded-gray-bg {
    background-color: #999;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;

    @media (@xs-only) {
      margin: 10px 0;
    }
  }
}

#health_payment_details-selection {
  .alert-info {
    margin-left: 0;
    text-align: center;
  }
}

.downArrow() {
  .down-arrow {
    position: relative;
    margin-bottom: 40px;
    margin-top: 10px;
  }
  .down-arrow:after,
  .down-arrow:before {
    border-top: 25px solid @white;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    margin-left: -20px;
    position: absolute;
    bottom: -20px;
    content: '';
    left: 30px;
  }
  .down-arrow:before {
    border-right: 100px solid transparent;
    border-top: 25px solid;
    border-left: 100px solid transparent;
    border-top-color: @dual-pricing-light-gray;
    bottom: -22px;
    margin-left: -20px;
  }
}

.policySummary-sidebar {
  .productSummary {
    &.dualPricing {
      .frequencyTitle {
        text-transform: lowercase;
      }

    .downArrow();

    }

    .april-pricing {
      p {
        margin-bottom: 0;
        text-align: center;
      }

      .frequencyAmount {
        font-size: 30px;
        line-height: 20px;
        margin-bottom: 10px;

        .dollarSign {
          font-size: 15px;
        }

        .cents {
          font-size: 12px;
        }

        .frequencyTitle {
          font-size: 12px;
          left: -18px;
        }
      }

      .lhcText {
        font-size: 11px;
      }
    }
  }
}