.payment_assurance_message{

  padding-left:25px;

  @media(@xs-only){
    display: none;
  }
  .norton,
  .message,
  .cards {
    display:inline-block;
    margin-right:2em;
    vertical-align:top;
    div {
      margin-top:0.75em;
    }
  }
  .cards img {
    display: block;
    float: left;
    margin-right: 4px;
  }

  .message{

    line-height: 10px;

    h5 {
      margin-bottom: 0;
    }

    small{
      font-size: 10px;
    }

  }

  .cards{

    .clearfix();

    .visa, .mastercard, .amex {

      background-image: url('../../../graphics/credit-card-sprite.png');
      background-repeat: no-repeat;

      .highResBgSize(271px, 260px);

      width: 20px;
      height: 15px;

      margin-left:1px;

      float:left;

      width: 56px;
      height: 38px;
      margin-right:6px;

    }

    .visa {
      .highResBgPosition(-130px, -42px, 0, -2px);
    }

    .mastercard {
      .highResBgPosition(-130px, -132px, 0, -47px);
    }

    .amex {
      .highResBgPosition(-130px, -222px, 0, -92px);
    }
  }


}

.visa{
  .highResBgSize(200px, 260px);
}

.nortonIframe{
  width: 600px;
  iframe{
    height: 466px;
  }
}