.car {
	// Used in promotions. This style id is stored in a database field.
	#promoImageContainer {
		padding-top: 25px;
		padding-bottom: 20px;

	}

	#promoPreCheckboxContainer {
		padding-top: 20px;
	}

	.carPromoImage {
		background-repeat: no-repeat;
		padding: 0;
		display: block;
		width: 300px;
		height: 160px;
		.highResImg('../competition/car-$1000-offer.png'; '../competition/car-$1000-offer@2x.png'; 300px; 160px);
	}
}