#noResultsContainer {
	text-align: center;
	color: @text-color;

	.row {
		margin-bottom: 10px;

		h2 {
			margin-bottom: 0px;
			margin-top: 20px;
		}
	}

	.knockOutReasonsRow {
		margin-bottom: 20px;

		@media(@sm) {
			margin-bottom: 10px;
		}

		@media(@md) {
			margin-bottom: 10px;
		}

		@media(@lg) {
			margin-bottom: 10px;
		}

		.knockOutReasons {
			display: block;
			vertical-align: top;
			text-align: center;
			list-style: none;
			line-height: 2em;
			padding-left: 0px;
			margin-bottom: 0px;

			@media(@sm) {
				display: inline-block;
				text-align: left;
				padding-left: 20px;
			}

			@media(@md) {
				display: inline-block;
				text-align: left;
				padding-left: 20px;
			}

			@media(@lg) {
				display: inline-block;
				text-align: left;
				padding-left: 20px;
			}
		}
	}


	.companyRow {
		margin-bottom: 20px;

		.companyContainer {
			position: relative;
			float: left;
			width: 50%;
			min-height: 1px;
			padding-left: 15px;
			padding-right: 15px;
			margin-bottom: 30px;

			@media(@sm) {
				width: 33%;
			}

			@media(@md) {
				width: 25%;
			}

			@media(@lg) {
				width: 20%;
			}

			.companyLogo {
				display: block;
				margin: auto;
				float: none;
				margin-bottom: 5px;

				@media(@md) {
					width: 100px;
					height: 100px;
					background-size: 100px 100px;
				}
			}

			.callContainer {
				display: block;

				p {
					margin: 0;
				}

				a {
					margin: 0;
					color: @theme-secondary;
					font-size: @font-size-large;
				}

				a:hover {
					text-decoration: none;
				}
			}
		}
	}

	.findAnInsurerRow {
		margin-bottom: 40px;
	}
}