.journeyEngineLoader when (@positive-messaging-enabled = true) {

	min-height: 500px;

	.loadingQuoteText {
		font-family: @font-family-theme-light;
		font-size: @font-size-large;

		.quoteContainer {
			padding-top: 30px;

			.icon-quote-start, .icon-quote-end {
				color: @theme-light;
				font-size: 40px;
				float: left;
				width: 10%;
			}

			.icon-quote-end {
			}

			.quote {
				padding-top: 10px;
				float: left;
				width: 80%;

			}

			.quoteAuthor {
				font-family: @font-family-theme-light;
				float: left;
				width:100%;
				padding-top: 15px;
			}
		}
	}

	.loadingDisclaimerText {
		margin: 50px auto 0 auto;
	}
}

@media(@xs-only) {
.journeyEngineLoader when (@positive-messaging-enabled = true) {
	padding-top:1.5em;
}
}