.car {

	#injectIntoHeader {
		padding: @modal-inner-padding @modal-inner-padding (@modal-inner-padding - @modal-inner-padding) @modal-inner-padding;

		.row {
			margin-left: 0;
			margin-right: 0;
		}

		.accessoriesHeader {
			color: @theme-tertiary;
			border-bottom: 1px solid @theme-light;
		}
	}

	#quote_vehicle_factoryOptionsDialog,
	#quote_vehicle_accessoriesDialog,
	#quote_vehicle_factoryOptionsSelections,
	#quote_vehicle_accessoriesSelections {
		ul {
			list-style-type: none;
			padding:0;
		}
		li {
			display:inline-block;
			padding: 0 10px 5px;
			width:50%;

			.checkbox {
				margin-top:0px
			}
		}
	}

	#quote_vehicle_factoryOptionsSelections,
	#quote_vehicle_accessoriesSelections {
		li {
			width:100%;
		}
	}

	#quote_vehicle_accessoriesDialog {
		span {
			display: block;
		}
	}

	#quote_vehicle_accessoriesDialog {
		.quote-optional-accessories-listed {
			.row {
				margin-left: 0;
				margin-right: 0;
			}

			.accessoryRow {
				border-bottom: 1px solid @theme-light;
				padding: 10px 0 10px 0;

				:disabled {
					opacity: 0.5;
				}


			}

		}
	}

	#quote_vehicle_accessoriesDialog,
	#quote_vehicle_accessoriesSelections,
	#quote_vehicle_factoryOptionsSelections {
		.added-items {
			li {
				padding-left: 0px;
				span, a {
					float:right;
				}
				span:first-child {
					float:left;
				}
				a {
					color:red;
					margin-left:2em;
					margin-top:0.15em;
				}
				a.icon-cross:hover {
					text-decoration: none;
				}
			}
		}
	}
}

.lt-ie9 .car #quote_vehicle_factoryOptionsDialog,
.lt-ie9 .car #quote_vehicle_accessoriesDialog {
		li {
			width: 49%;
		}
}

@media(@xs-only){
	.car {
		#quote_vehicle_factoryOptionsDialog,
		#quote_vehicle_accessoriesDialog {
			li {
				width:100%;
			}
			.quote-standard-accessories {
				li {
					text-align:center;
				}
			}
		}
	}
}