#wrapper.login { padding-top: 80px; }
li.fieldrow span.fieldrow_value { margin: 9px 14px; padding: 1px; line-height: 15px; }
.button-wrapper { min-height: 46px; }
.button-wrapper #next-step { margin: 0; padding: 0; background-color: transparent; background-position: 0 50%; background-repeat: no-repeat; border: 0; cursor:pointer; }
.button-wrapper #next-step span { background-position: 100% 50%; }
