

.health #results-table .matchDataDetails h5, 
.health #results-table .matchDataHospital h5, 
.health #results-table .matchDataExtras h5, 
.health #results-table .matchDataAdditional h5, 
.health #matchCategoryHospital h5, 
.health #matchCategoryExtras h5, 
.health #matchCategoryAdditional h5 {
	font-size:13px !important;
	letter-spacing: 0px;
}

.health  #results-header .current-results .fund {
	font-size:12px !important;
}
.health.FixedResults #results-fixed #results-header {
	height: 264px; 
}

.life #life_contactDetails-selection .email-optin-row .fieldrow_label,
.ip #ip_contactDetails-selection .email-optin-row .fieldrow_label {
	display: none !important;
}

.life #life_contactDetails-selection .email-optin-row .fieldrow_value,
.ip #ip_contactDetails-selection .email-optin-row .fieldrow_value {
	margin-left: 205px !important;
}

.life #refine-form-wrapper .refine-type {
	margin-left:					19px;
}

.utilities div#results-summary div.update_provider_plans {
	font-size: 13px;
	font-weight: 700;
}

#fuelTypes input {
	margin-left: 3px;
}


body.health #contact-panel .row.mid {
	width: 290px;
	height: 37px;
	background-image: none;
	font-size: 1.2em;
	color: white;
	padding: 10px 10px 10px 10px;
	position: absolute;
	text-align: left;
	/*background:transparent url(images/call_us_now/background.png) top left no-repeat;*/

}


body.health #contact-panel .row.mid.showReducedHoursMessage {
	width: 290px;
	height: 51px;
	background:transparent url(images/call_us_now/backgroundReducedHoursMessage.png) top left no-repeat;
}

