//-------------------------------------------------------------------------------------------
// TRAVEL COMPANY LOGOS
//-------------------------------------------------------------------------------------------

@company-logo-background-width: 100%;
@company-logo-background-height: 100%;


.travelCompanyLogo {
	background-repeat: no-repeat;
	padding: 0;
}

.logogrid .travelCompanyLogo,
.brands-content div .travelCompanyLogo{
  margin-top: 5px;
  margin-bottom: 5px;
}

.logogrid > div.col-md-4 {
	min-height: 90px;
}

.resultsContainer.v2 .unavailable .travelCompanyLogo {
	float:left;
	margin-right:20px;
}

.travelCompanyLogo {
	 .providersHighResSpriteImages(~"travel"; ~"logo_"; ~"BUDD", ~"1COV", ~"1FOW", ~"30UN", ~"ACET", ~"AMEX", ~"CLBS", ~"DUIN", ~"EASY", ~"EXDD", ~"EXIG", ~"FAST", ~"GOIN", ~"I4LS", ~"ITRK", ~"INGO",~"JANE", ~"KANG", ~"OTIS", ~"MLTT", ~"NOWS", ~"PPTI", ~"REAL", ~"SKII", ~"SCTI", ~"STIN", ~"TSAV", ~"TICK", ~"TINZ", ~"VIRG", ~"WEBJ", ~"WOOL", ~"WLDC", ~"ZOOM", ~"ZUJI", ~"OZIC"; @logo-xs-scale; ~"");
 }

@media (@sm) {
	.travelCompanyLogo {
		.providersHighResSpriteImages(~"travel"; ~"logo_"; ~"BUDD", ~"1COV", ~"1FOW", ~"30UN", ~"ACET", ~"AMEX", ~"CLBS", ~"DUIN", ~"EASY", ~"EXDD", ~"EXIG", ~"FAST", ~"GOIN", ~"I4LS", ~"ITRK", ~"INGO",~"JANE", ~"KANG", ~"OTIS",~"MLTT", ~"NOWS", ~"PPTI", ~"REAL", ~"SKII", ~"SCTI", ~"STIN", ~"TSAV", ~"TICK", ~"TINZ", ~"VIRG", ~"WEBJ", ~"WOOL", ~"WLDC", ~"ZOOM", ~"ZUJI", ~"OZIC"; 1; ~"");
	}
}
