.coverLevelTabs.visible-xs {
	position: fixed;
	width: 100%;
	top: 40px;
	z-index: 9;
	background-color: @body-bg;

	.clt-action {
		border-radius: 0;
	}
}
@media only screen and (@xs-only) {
	.resultsContainer .resultsOverflow {
	    margin-top: 40px;
	}
}