.coverLevelTabs.visible-xs {
	width: 100%;
	z-index: 9;
	background-color: @body-bg;
	margin-bottom: 10px;

	.clt-action {
		border-radius: 0;
	}
}
@media only screen and (@xs-only) {
	.resultsContainer .resultsOverflow {
	    margin-top: 10px;
	}
}
