.dropdown-menu-excess-filter {
  top: 38px;
  left: -150px;
  min-width: 200px;

  /* this CS forms the triangles */
  &:before,
  &:after {
    position: absolute;
    width: 0;
    display: block;
    height: 0;
    left: 10%;
    content: '';
    border-style: solid;
    border-width: 9px;
  }
}

.dropdown-menu-more-filters {
  top: 38px;
  left: -915px;
  min-width: 1150px;

  .help-icon {
    line-height: inherit;
    margin-left: 5px;
  }

  .clt-action {
    margin: 10px 15px;
    font-family: @font-family-sans-serif;
  }

  /* this CS forms the triangles */
  &:before,
  &:after {
    position: absolute;
    width: 0;
    display: block;
    height: 0;
    left: 85%;
    content: '';
    border-style: solid;
    border-width: 9px;
  }

  .range-filter {
    &:not(:first-of-type) {
      padding-top: 20px;
    }
  }

  .range-value {
    text-align: center;
    color: @theme-active;
  }

  .min-range {
    float: left;
    color: @theme-default;
  }

  .max-range {
    float: right;
    color: @gray-light;
  }

  .travel-filters-cover-tabs {
    padding-right: 0;
  }
}

.dropdown-menu-excess-filter, .dropdown-menu-more-filters {
  /* this border color controls the outside, thin border */
  &:before {
    top: -19px;
    border-color: transparent transparent @dropdown-border-color transparent;
  }

  /* this border color controls the color of the triangle */
  &:after {
    top: -18px;
    border-color: transparent transparent @dropdown-bg-color transparent;
  }
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}

