body {
	padding-top: 0px !important;
}

body.travel {
	.col-sm-12.non-transparent-background.affix:not(.stuck) {
		position: relative;
	}
	.col-sm-12.non-transparent-background.affix.stuck {
		position: fixed;
	}
}

.travel {

	.policy-info {
		p {
			@media(@lg) {
				padding-left: 5px;
			}
		}
	}

	strong {
		font-weight: normal;
		font-family: @font-family-theme-bold;
	}

	// This should be solved by making the column for fields wider
	@media(@sm) {
		label.btn {
			white-space: normal;
		}
	}

	.push-top {
		padding-top: 10px;
	}

	// for cover level tabs background
	@media(@sm) {
		&[data-step="results"] .navbar-default {
		  background-color: #fff;
		}
	}

	.header-wrap {
		width: 100%;
		z-index: 20000;
	}

	.header-top {
		position: static;
	}

}

/* Only required whilst AMT is globally disabled */
body.travel.amt-disabled {
	#yourcoverfs {
		.cover-type {
			label.single-trip-policy {
				border-bottom-right-radius: 5px;
				border-top-right-radius: 5px;
				border-right-width: 1px;
			}
			label.multi-trip-policy {
				visibility: hidden;
			}
		}
	}
}

body.travel[data-step="results"] {

	#navbar-main div.row {
		div.container {
			div.navbar-desktop.coverLevelTabs.hidden-xs {
				display: flex;
			}
		}
	}

	@media(@xs-only) {
		.header-top {
			#js-logo-link{
				font-size: 2px;
			}
		}
	}
	@media(@md) {
		#js-logo-link{
			font-size: 2px;
		}
	}
	@media(@sm) {
		.col-sm-12.non-transparent-background:not(.stuck){
			nav.navbar-header.header-buttons-logos {

				#js-logo-link{
					font-size: 2px;
				}
			}
		}
	}
	@media(@sm) and (max-width: @screen-sm-max) {
		.col-sm-12.non-transparent-background.stuck {
			nav.navbar-header.header-buttons-logos {
				#js-logo-link{
					font-size: 2px;
				}
			}
		}
	}

	@supports (-moz-appearance:none) {
		#navbar-main > div.row:first-child {
			height: 47px;
			div.container {
				div.navbar-desktop.coverLevelTabs.hidden-xs {
					display: block;

					& > div:first-child {
						a {
							height: 30px;
							display: inline-block;
							padding-top: 15px;
						}
					}
					& > div:nth-child(2) {
						float: none;
						margin-left: 95px;
						margin-top: -77px;
					}
				}
			}
		}
	}
}

body.travel:not([data-step="results"]) {

	#pageContent {
		padding-top: 20px;
	}

	@media(@xs-only) {
		#pageContent {
			padding-top: 24px;
		}
		.col-sm-12.non-transparent-background.affix:not(.stuck) {
			nav.navbar-header.header-buttons-logos {
				#js-logo-link{
					font-size: 2px;
				}
			}
		}
		.col-sm-12.non-transparent-background.affix.stuck {
			margin-left: -15px;
			box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 40px 0px;
			nav.navbar-header.header-buttons-logos {
				margin-left: 0px;
				#js-logo-link{
					font-size: 2px;
				}
			}
		}
	}
	@media(min-width: 767px) and (max-width:  767px) {
		.col-sm-12.non-transparent-background.affix.stuck {
			nav.navbar-header.header-buttons-logos {
				#js-logo-link{
					font-size: 2px;
					#logo {
						margin-left: -14px;
						height: 32px;
						transition: all 200ms ease;
					}
				}
			}
		}
	}
	@media(@sm) {
		.col-sm-12.non-transparent-background.affix:not(.stuck){
			nav.navbar-header.header-buttons-logos {
				padding-bottom: 0;
				#js-logo-link{
					font-size: 6px;
				}
			}
		}
		.col-sm-12.non-transparent-background.affix.stuck {
			margin-left: -15px;
			box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 40px 0px;
			nav.navbar-header.header-buttons-logos {
				margin-left: 15px;
				#js-logo-link{
					font-size: 2px;
					#logo {
						height: 32px;
						transition: all 200ms ease;
					}
				}
			}
		}
	}

	.non-transparent-background {
		width: 100%;
		background-color: #fff;
		z-index: 100;
	}

}

body.travel.gtmPromoBanner:not([data-step="results"]) {
	header.header-wrap {
		.header-top {
			.col-sm-12.non-transparent-background.affix {
				&.stuck {
					top: 0;
				}
			}
		}
	}
	#pageContent {
		padding-top: 60px;
	}
}
