body {
	padding-top: 60px;
}

.travel {

	.policy-info {
		p {
			@media(@lg) {
				padding-left: 5px;
			}
		}
	}

	strong {
		font-weight: normal;
		font-family: @font-family-theme-bold;
	}

	// This should be solved by making the column for fields wider
	@media(@sm) {
		label.btn {
			white-space: normal;
		}
	}

	.push-top {
		padding-top: 10px;
	}

	// for cover level tabs background
	@media(@sm) {
		&[data-step="results"] .navbar-default {
		  background-color: #fff;
		}
	}

	.header-wrap {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 500;

		&.stuck {
			height: 44px;
			transition: all 200ms ease;
			box-shadow: rgba(0, 0, 0, .1) 0px 10px 40px 0px;
		}
	}
}


