/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@1cover-name: '1cover';
@1cover-x: 918px;
@1cover-y: 1216px;
@1cover-offset-x: -918px;
@1cover-offset-y: -1216px;
@1cover-width: 80px;
@1cover-height: 80px;
@1cover-total-width: 1470px;
@1cover-total-height: 1376px;
@1cover-image: '..\..\..\graphics\logos\sprites\travel.png';
@1cover: 918px 1216px -918px -1216px 80px 80px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' '1cover';
@1cover-2x-name: '1cover@2x';
@1cover-2x-x: 0px;
@1cover-2x-y: 976px;
@1cover-2x-offset-x: 0px;
@1cover-2x-offset-y: -976px;
@1cover-2x-width: 160px;
@1cover-2x-height: 160px;
@1cover-2x-total-width: 1470px;
@1cover-2x-total-height: 1376px;
@1cover-2x-image: '..\..\..\graphics\logos\sprites\travel.png';
@1cover-2x: 0px 976px 0px -976px 160px 160px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' '1cover@2x';
@1stforwomen-name: '1stforwomen';
@1stforwomen-x: 918px;
@1stforwomen-y: 1136px;
@1stforwomen-offset-x: -918px;
@1stforwomen-offset-y: -1136px;
@1stforwomen-width: 80px;
@1stforwomen-height: 80px;
@1stforwomen-total-width: 1470px;
@1stforwomen-total-height: 1376px;
@1stforwomen-image: '..\..\..\graphics\logos\sprites\travel.png';
@1stforwomen: 918px 1136px -918px -1136px 80px 80px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' '1stforwomen';
@1stforwomen-2x-name: '1stforwomen@2x';
@1stforwomen-2x-x: 1120px;
@1stforwomen-2x-y: 816px;
@1stforwomen-2x-offset-x: -1120px;
@1stforwomen-2x-offset-y: -816px;
@1stforwomen-2x-width: 160px;
@1stforwomen-2x-height: 160px;
@1stforwomen-2x-total-width: 1470px;
@1stforwomen-2x-total-height: 1376px;
@1stforwomen-2x-image: '..\..\..\graphics\logos\sprites\travel.png';
@1stforwomen-2x: 1120px 816px -1120px -816px 160px 160px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' '1stforwomen@2x';
@-k-a-n-g-t-r-a-v-e-l-214-name: 'KANG-TRAVEL-214';
@-k-a-n-g-t-r-a-v-e-l-214-x: 715px;
@-k-a-n-g-t-r-a-v-e-l-214-y: 1296px;
@-k-a-n-g-t-r-a-v-e-l-214-offset-x: -715px;
@-k-a-n-g-t-r-a-v-e-l-214-offset-y: -1296px;
@-k-a-n-g-t-r-a-v-e-l-214-width: 79px;
@-k-a-n-g-t-r-a-v-e-l-214-height: 60px;
@-k-a-n-g-t-r-a-v-e-l-214-total-width: 1470px;
@-k-a-n-g-t-r-a-v-e-l-214-total-height: 1376px;
@-k-a-n-g-t-r-a-v-e-l-214-image: '..\..\..\graphics\logos\sprites\travel.png';
@-k-a-n-g-t-r-a-v-e-l-214: 715px 1296px -715px -1296px 79px 60px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'KANG-TRAVEL-214';
@-k-a-n-g-t-r-a-v-e-l-215-name: 'KANG-TRAVEL-215';
@-k-a-n-g-t-r-a-v-e-l-215-x: 636px;
@-k-a-n-g-t-r-a-v-e-l-215-y: 1296px;
@-k-a-n-g-t-r-a-v-e-l-215-offset-x: -636px;
@-k-a-n-g-t-r-a-v-e-l-215-offset-y: -1296px;
@-k-a-n-g-t-r-a-v-e-l-215-width: 79px;
@-k-a-n-g-t-r-a-v-e-l-215-height: 60px;
@-k-a-n-g-t-r-a-v-e-l-215-total-width: 1470px;
@-k-a-n-g-t-r-a-v-e-l-215-total-height: 1376px;
@-k-a-n-g-t-r-a-v-e-l-215-image: '..\..\..\graphics\logos\sprites\travel.png';
@-k-a-n-g-t-r-a-v-e-l-215: 636px 1296px -636px -1296px 79px 60px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'KANG-TRAVEL-215';
@-k-a-n-g-t-r-a-v-e-l-216-name: 'KANG-TRAVEL-216';
@-k-a-n-g-t-r-a-v-e-l-216-x: 557px;
@-k-a-n-g-t-r-a-v-e-l-216-y: 1296px;
@-k-a-n-g-t-r-a-v-e-l-216-offset-x: -557px;
@-k-a-n-g-t-r-a-v-e-l-216-offset-y: -1296px;
@-k-a-n-g-t-r-a-v-e-l-216-width: 79px;
@-k-a-n-g-t-r-a-v-e-l-216-height: 60px;
@-k-a-n-g-t-r-a-v-e-l-216-total-width: 1470px;
@-k-a-n-g-t-r-a-v-e-l-216-total-height: 1376px;
@-k-a-n-g-t-r-a-v-e-l-216-image: '..\..\..\graphics\logos\sprites\travel.png';
@-k-a-n-g-t-r-a-v-e-l-216: 557px 1296px -557px -1296px 79px 60px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'KANG-TRAVEL-216';
@-k-a-n-g-t-r-a-v-e-l-217-name: 'KANG-TRAVEL-217';
@-k-a-n-g-t-r-a-v-e-l-217-x: 478px;
@-k-a-n-g-t-r-a-v-e-l-217-y: 1296px;
@-k-a-n-g-t-r-a-v-e-l-217-offset-x: -478px;
@-k-a-n-g-t-r-a-v-e-l-217-offset-y: -1296px;
@-k-a-n-g-t-r-a-v-e-l-217-width: 79px;
@-k-a-n-g-t-r-a-v-e-l-217-height: 60px;
@-k-a-n-g-t-r-a-v-e-l-217-total-width: 1470px;
@-k-a-n-g-t-r-a-v-e-l-217-total-height: 1376px;
@-k-a-n-g-t-r-a-v-e-l-217-image: '..\..\..\graphics\logos\sprites\travel.png';
@-k-a-n-g-t-r-a-v-e-l-217: 478px 1296px -478px -1296px 79px 60px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'KANG-TRAVEL-217';
@-webjet-name: 'Webjet';
@-webjet-x: 980px;
@-webjet-y: 728px;
@-webjet-offset-x: -980px;
@-webjet-offset-y: -728px;
@-webjet-width: 80px;
@-webjet-height: 80px;
@-webjet-total-width: 1470px;
@-webjet-total-height: 1376px;
@-webjet-image: '..\..\..\graphics\logos\sprites\travel.png';
@-webjet: 980px 728px -980px -728px 80px 80px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'Webjet';
@-webjet-2x-name: 'Webjet@2x';
@-webjet-2x-x: 1300px;
@-webjet-2x-y: 408px;
@-webjet-2x-offset-x: -1300px;
@-webjet-2x-offset-y: -408px;
@-webjet-2x-width: 160px;
@-webjet-2x-height: 160px;
@-webjet-2x-total-width: 1470px;
@-webjet-2x-total-height: 1376px;
@-webjet-2x-image: '..\..\..\graphics\logos\sprites\travel.png';
@-webjet-2x: 1300px 408px -1300px -408px 160px 160px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'Webjet@2x';
@-woolworths-name: 'Woolworths';
@-woolworths-x: 1300px;
@-woolworths-y: 728px;
@-woolworths-offset-x: -1300px;
@-woolworths-offset-y: -728px;
@-woolworths-width: 80px;
@-woolworths-height: 80px;
@-woolworths-total-width: 1470px;
@-woolworths-total-height: 1376px;
@-woolworths-image: '..\..\..\graphics\logos\sprites\travel.png';
@-woolworths: 1300px 728px -1300px -728px 80px 80px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'Woolworths';
@-woolworths-2x-name: 'Woolworths@2x';
@-woolworths-2x-x: 980px;
@-woolworths-2x-y: 568px;
@-woolworths-2x-offset-x: -980px;
@-woolworths-2x-offset-y: -568px;
@-woolworths-2x-width: 160px;
@-woolworths-2x-height: 160px;
@-woolworths-2x-total-width: 1470px;
@-woolworths-2x-total-height: 1376px;
@-woolworths-2x-image: '..\..\..\graphics\logos\sprites\travel.png';
@-woolworths-2x: 980px 568px -980px -568px 160px 160px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'Woolworths@2x';
@-worldcare-name: 'Worldcare';
@-worldcare-x: 1238px;
@-worldcare-y: 1136px;
@-worldcare-offset-x: -1238px;
@-worldcare-offset-y: -1136px;
@-worldcare-width: 80px;
@-worldcare-height: 80px;
@-worldcare-total-width: 1470px;
@-worldcare-total-height: 1376px;
@-worldcare-image: '..\..\..\graphics\logos\sprites\travel.png';
@-worldcare: 1238px 1136px -1238px -1136px 80px 80px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'Worldcare';
@-worldcare-2x-name: 'Worldcare@2x';
@-worldcare-2x-x: 1140px;
@-worldcare-2x-y: 568px;
@-worldcare-2x-offset-x: -1140px;
@-worldcare-2x-offset-y: -568px;
@-worldcare-2x-width: 160px;
@-worldcare-2x-height: 160px;
@-worldcare-2x-total-width: 1470px;
@-worldcare-2x-total-height: 1376px;
@-worldcare-2x-image: '..\..\..\graphics\logos\sprites\travel.png';
@-worldcare-2x: 1140px 568px -1140px -568px 160px 160px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'Worldcare@2x';
@acet-name: 'acet';
@acet-x: 399px;
@acet-y: 1296px;
@acet-offset-x: -399px;
@acet-offset-y: -1296px;
@acet-width: 79px;
@acet-height: 60px;
@acet-total-width: 1470px;
@acet-total-height: 1376px;
@acet-image: '..\..\..\graphics\logos\sprites\travel.png';
@acet: 399px 1296px -399px -1296px 79px 60px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'acet';
@acet-2x-name: 'acet@2x';
@acet-2x-x: 320px;
@acet-2x-y: 1296px;
@acet-2x-offset-x: -320px;
@acet-2x-offset-y: -1296px;
@acet-2x-width: 79px;
@acet-2x-height: 60px;
@acet-2x-total-width: 1470px;
@acet-2x-total-height: 1376px;
@acet-2x-image: '..\..\..\graphics\logos\sprites\travel.png';
@acet-2x: 320px 1296px -320px -1296px 79px 60px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'acet@2x';
@amex-name: 'amex';
@amex-x: 0px;
@amex-y: 816px;
@amex-offset-x: 0px;
@amex-offset-y: -816px;
@amex-width: 160px;
@amex-height: 160px;
@amex-total-width: 1470px;
@amex-total-height: 1376px;
@amex-image: '..\..\..\graphics\logos\sprites\travel.png';
@amex: 0px 816px 0px -816px 160px 160px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'amex';
@amex-2x-name: 'amex@2x';
@amex-2x-x: 160px;
@amex-2x-y: 816px;
@amex-2x-offset-x: -160px;
@amex-2x-offset-y: -816px;
@amex-2x-width: 160px;
@amex-2x-height: 160px;
@amex-2x-total-width: 1470px;
@amex-2x-total-height: 1376px;
@amex-2x-image: '..\..\..\graphics\logos\sprites\travel.png';
@amex-2x: 160px 816px -160px -816px 160px 160px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'amex@2x';
@budget-name: 'budget';
@budget-x: 1140px;
@budget-y: 728px;
@budget-offset-x: -1140px;
@budget-offset-y: -728px;
@budget-width: 80px;
@budget-height: 80px;
@budget-total-width: 1470px;
@budget-total-height: 1376px;
@budget-image: '..\..\..\graphics\logos\sprites\travel.png';
@budget: 1140px 728px -1140px -728px 80px 80px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'budget';
@budget-2x-name: 'budget@2x';
@budget-2x-x: 320px;
@budget-2x-y: 816px;
@budget-2x-offset-x: -320px;
@budget-2x-offset-y: -816px;
@budget-2x-width: 160px;
@budget-2x-height: 160px;
@budget-2x-total-width: 1470px;
@budget-2x-total-height: 1376px;
@budget-2x-image: '..\..\..\graphics\logos\sprites\travel.png';
@budget-2x: 320px 816px -320px -816px 160px 160px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'budget@2x';
@columbus-name: 'columbus';
@columbus-x: 758px;
@columbus-y: 1136px;
@columbus-offset-x: -758px;
@columbus-offset-y: -1136px;
@columbus-width: 80px;
@columbus-height: 80px;
@columbus-total-width: 1470px;
@columbus-total-height: 1376px;
@columbus-image: '..\..\..\graphics\logos\sprites\travel.png';
@columbus: 758px 1136px -758px -1136px 80px 80px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'columbus';
@columbus-2x-name: 'columbus@2x';
@columbus-2x-x: 480px;
@columbus-2x-y: 816px;
@columbus-2x-offset-x: -480px;
@columbus-2x-offset-y: -816px;
@columbus-2x-width: 160px;
@columbus-2x-height: 160px;
@columbus-2x-total-width: 1470px;
@columbus-2x-total-height: 1376px;
@columbus-2x-image: '..\..\..\graphics\logos\sprites\travel.png';
@columbus-2x: 480px 816px -480px -816px 160px 160px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'columbus@2x';
@downunder-name: 'downunder';
@downunder-x: 1078px;
@downunder-y: 1136px;
@downunder-offset-x: -1078px;
@downunder-offset-y: -1136px;
@downunder-width: 80px;
@downunder-height: 80px;
@downunder-total-width: 1470px;
@downunder-total-height: 1376px;
@downunder-image: '..\..\..\graphics\logos\sprites\travel.png';
@downunder: 1078px 1136px -1078px -1136px 80px 80px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'downunder';
@downunder-2x-name: 'downunder@2x';
@downunder-2x-x: 640px;
@downunder-2x-y: 816px;
@downunder-2x-offset-x: -640px;
@downunder-2x-offset-y: -816px;
@downunder-2x-width: 160px;
@downunder-2x-height: 160px;
@downunder-2x-total-width: 1470px;
@downunder-2x-total-height: 1376px;
@downunder-2x-image: '..\..\..\graphics\logos\sprites\travel.png';
@downunder-2x: 640px 816px -640px -816px 160px 160px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'downunder@2x';
@easytravelinsurance-name: 'easytravelinsurance';
@easytravelinsurance-x: 758px;
@easytravelinsurance-y: 1216px;
@easytravelinsurance-offset-x: -758px;
@easytravelinsurance-offset-y: -1216px;
@easytravelinsurance-width: 80px;
@easytravelinsurance-height: 80px;
@easytravelinsurance-total-width: 1470px;
@easytravelinsurance-total-height: 1376px;
@easytravelinsurance-image: '..\..\..\graphics\logos\sprites\travel.png';
@easytravelinsurance: 758px 1216px -758px -1216px 80px 80px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'easytravelinsurance';
@easytravelinsurance-2x-name: 'easytravelinsurance@2x';
@easytravelinsurance-2x-x: 800px;
@easytravelinsurance-2x-y: 816px;
@easytravelinsurance-2x-offset-x: -800px;
@easytravelinsurance-2x-offset-y: -816px;
@easytravelinsurance-2x-width: 160px;
@easytravelinsurance-2x-height: 160px;
@easytravelinsurance-2x-total-width: 1470px;
@easytravelinsurance-2x-total-height: 1376px;
@easytravelinsurance-2x-image: '..\..\..\graphics\logos\sprites\travel.png';
@easytravelinsurance-2x: 800px 816px -800px -816px 160px 160px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'easytravelinsurance@2x';
@fastcover-name: 'fastcover';
@fastcover-x: 1078px;
@fastcover-y: 1216px;
@fastcover-offset-x: -1078px;
@fastcover-offset-y: -1216px;
@fastcover-width: 80px;
@fastcover-height: 80px;
@fastcover-total-width: 1470px;
@fastcover-total-height: 1376px;
@fastcover-image: '..\..\..\graphics\logos\sprites\travel.png';
@fastcover: 1078px 1216px -1078px -1216px 80px 80px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'fastcover';
@fastcover-2x-name: 'fastcover@2x';
@fastcover-2x-x: 960px;
@fastcover-2x-y: 816px;
@fastcover-2x-offset-x: -960px;
@fastcover-2x-offset-y: -816px;
@fastcover-2x-width: 160px;
@fastcover-2x-height: 160px;
@fastcover-2x-total-width: 1470px;
@fastcover-2x-total-height: 1376px;
@fastcover-2x-image: '..\..\..\graphics\logos\sprites\travel.png';
@fastcover-2x: 960px 816px -960px -816px 160px 160px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'fastcover@2x';
@goin-name: 'goin';
@goin-x: 1238px;
@goin-y: 1216px;
@goin-offset-x: -1238px;
@goin-offset-y: -1216px;
@goin-width: 80px;
@goin-height: 80px;
@goin-total-width: 1470px;
@goin-total-height: 1376px;
@goin-image: '..\..\..\graphics\logos\sprites\travel.png';
@goin: 1238px 1216px -1238px -1216px 80px 80px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'goin';
@goin-2x-name: 'goin@2x';
@goin-2x-x: 980px;
@goin-2x-y: 408px;
@goin-2x-offset-x: -980px;
@goin-2x-offset-y: -408px;
@goin-2x-width: 160px;
@goin-2x-height: 160px;
@goin-2x-total-width: 1470px;
@goin-2x-total-height: 1376px;
@goin-2x-image: '..\..\..\graphics\logos\sprites\travel.png';
@goin-2x: 980px 408px -980px -408px 160px 160px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'goin@2x';
@insure4less-name: 'insure4less';
@insure4less-x: 160px;
@insure4less-y: 1296px;
@insure4less-offset-x: -160px;
@insure4less-offset-y: -1296px;
@insure4less-width: 80px;
@insure4less-height: 80px;
@insure4less-total-width: 1470px;
@insure4less-total-height: 1376px;
@insure4less-image: '..\..\..\graphics\logos\sprites\travel.png';
@insure4less: 160px 1296px -160px -1296px 80px 80px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'insure4less';
@insure4less-2x-name: 'insure4less@2x';
@insure4less-2x-x: 1280px;
@insure4less-2x-y: 816px;
@insure4less-2x-offset-x: -1280px;
@insure4less-2x-offset-y: -816px;
@insure4less-2x-width: 160px;
@insure4less-2x-height: 160px;
@insure4less-2x-total-width: 1470px;
@insure4less-2x-total-height: 1376px;
@insure4less-2x-image: '..\..\..\graphics\logos\sprites\travel.png';
@insure4less-2x: 1280px 816px -1280px -816px 160px 160px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'insure4less@2x';
@insureandgo-name: 'insureandgo';
@insureandgo-x: 240px;
@insureandgo-y: 1296px;
@insureandgo-offset-x: -240px;
@insureandgo-offset-y: -1296px;
@insureandgo-width: 80px;
@insureandgo-height: 80px;
@insureandgo-total-width: 1470px;
@insureandgo-total-height: 1376px;
@insureandgo-image: '..\..\..\graphics\logos\sprites\travel.png';
@insureandgo: 240px 1296px -240px -1296px 80px 80px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'insureandgo';
@insureandgo-2x-name: 'insureandgo@2x';
@insureandgo-2x-x: 160px;
@insureandgo-2x-y: 976px;
@insureandgo-2x-offset-x: -160px;
@insureandgo-2x-offset-y: -976px;
@insureandgo-2x-width: 160px;
@insureandgo-2x-height: 160px;
@insureandgo-2x-total-width: 1470px;
@insureandgo-2x-total-height: 1376px;
@insureandgo-2x-image: '..\..\..\graphics\logos\sprites\travel.png';
@insureandgo-2x: 160px 976px -160px -976px 160px 160px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'insureandgo@2x';
@itrek-name: 'itrek';
@itrek-x: 1220px;
@itrek-y: 728px;
@itrek-offset-x: -1220px;
@itrek-offset-y: -728px;
@itrek-width: 80px;
@itrek-height: 80px;
@itrek-total-width: 1470px;
@itrek-total-height: 1376px;
@itrek-image: '..\..\..\graphics\logos\sprites\travel.png';
@itrek: 1220px 728px -1220px -728px 80px 80px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'itrek';
@itrek-2x-name: 'itrek@2x';
@itrek-2x-x: 320px;
@itrek-2x-y: 976px;
@itrek-2x-offset-x: -320px;
@itrek-2x-offset-y: -976px;
@itrek-2x-width: 160px;
@itrek-2x-height: 160px;
@itrek-2x-total-width: 1470px;
@itrek-2x-total-height: 1376px;
@itrek-2x-image: '..\..\..\graphics\logos\sprites\travel.png';
@itrek-2x: 320px 976px -320px -976px 160px 160px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'itrek@2x';
@kango-name: 'kango';
@kango-x: 1380px;
@kango-y: 728px;
@kango-offset-x: -1380px;
@kango-offset-y: -728px;
@kango-width: 80px;
@kango-height: 80px;
@kango-total-width: 1470px;
@kango-total-height: 1376px;
@kango-image: '..\..\..\graphics\logos\sprites\travel.png';
@kango: 1380px 728px -1380px -728px 80px 80px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'kango';
@kango-2x-name: 'kango@2x';
@kango-2x-x: 480px;
@kango-2x-y: 976px;
@kango-2x-offset-x: -480px;
@kango-2x-offset-y: -976px;
@kango-2x-width: 160px;
@kango-2x-height: 160px;
@kango-2x-total-width: 1470px;
@kango-2x-total-height: 1376px;
@kango-2x-image: '..\..\..\graphics\logos\sprites\travel.png';
@kango-2x: 480px 976px -480px -976px 160px 160px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'kango@2x';
@onlinetravelinsurance-name: 'onlinetravelinsurance';
@onlinetravelinsurance-x: 838px;
@onlinetravelinsurance-y: 1136px;
@onlinetravelinsurance-offset-x: -838px;
@onlinetravelinsurance-offset-y: -1136px;
@onlinetravelinsurance-width: 80px;
@onlinetravelinsurance-height: 80px;
@onlinetravelinsurance-total-width: 1470px;
@onlinetravelinsurance-total-height: 1376px;
@onlinetravelinsurance-image: '..\..\..\graphics\logos\sprites\travel.png';
@onlinetravelinsurance: 838px 1136px -838px -1136px 80px 80px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'onlinetravelinsurance';
@onlinetravelinsurance-2x-name: 'onlinetravelinsurance@2x';
@onlinetravelinsurance-2x-x: 640px;
@onlinetravelinsurance-2x-y: 976px;
@onlinetravelinsurance-2x-offset-x: -640px;
@onlinetravelinsurance-2x-offset-y: -976px;
@onlinetravelinsurance-2x-width: 160px;
@onlinetravelinsurance-2x-height: 160px;
@onlinetravelinsurance-2x-total-width: 1470px;
@onlinetravelinsurance-2x-total-height: 1376px;
@onlinetravelinsurance-2x-image: '..\..\..\graphics\logos\sprites\travel.png';
@onlinetravelinsurance-2x: 640px 976px -640px -976px 160px 160px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'onlinetravelinsurance@2x';
@priceline-name: 'priceline';
@priceline-x: 998px;
@priceline-y: 1136px;
@priceline-offset-x: -998px;
@priceline-offset-y: -1136px;
@priceline-width: 80px;
@priceline-height: 80px;
@priceline-total-width: 1470px;
@priceline-total-height: 1376px;
@priceline-image: '..\..\..\graphics\logos\sprites\travel.png';
@priceline: 998px 1136px -998px -1136px 80px 80px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'priceline';
@priceline-2x-name: 'priceline@2x';
@priceline-2x-x: 800px;
@priceline-2x-y: 976px;
@priceline-2x-offset-x: -800px;
@priceline-2x-offset-y: -976px;
@priceline-2x-width: 160px;
@priceline-2x-height: 160px;
@priceline-2x-total-width: 1470px;
@priceline-2x-total-height: 1376px;
@priceline-2x-image: '..\..\..\graphics\logos\sprites\travel.png';
@priceline-2x: 800px 976px -800px -976px 160px 160px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'priceline@2x';
@real-name: 'real';
@real-x: 1158px;
@real-y: 1136px;
@real-offset-x: -1158px;
@real-offset-y: -1136px;
@real-width: 80px;
@real-height: 80px;
@real-total-width: 1470px;
@real-total-height: 1376px;
@real-image: '..\..\..\graphics\logos\sprites\travel.png';
@real: 1158px 1136px -1158px -1136px 80px 80px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'real';
@real-2x-name: 'real@2x';
@real-2x-x: 960px;
@real-2x-y: 976px;
@real-2x-offset-x: -960px;
@real-2x-offset-y: -976px;
@real-2x-width: 160px;
@real-2x-height: 160px;
@real-2x-total-width: 1470px;
@real-2x-total-height: 1376px;
@real-2x-image: '..\..\..\graphics\logos\sprites\travel.png';
@real-2x: 960px 976px -960px -976px 160px 160px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'real@2x';
@simplytravelinsurance-name: 'simplytravelinsurance';
@simplytravelinsurance-x: 1318px;
@simplytravelinsurance-y: 1136px;
@simplytravelinsurance-offset-x: -1318px;
@simplytravelinsurance-offset-y: -1136px;
@simplytravelinsurance-width: 80px;
@simplytravelinsurance-height: 80px;
@simplytravelinsurance-total-width: 1470px;
@simplytravelinsurance-total-height: 1376px;
@simplytravelinsurance-image: '..\..\..\graphics\logos\sprites\travel.png';
@simplytravelinsurance: 1318px 1136px -1318px -1136px 80px 80px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'simplytravelinsurance';
@simplytravelinsurance-2x-name: 'simplytravelinsurance@2x';
@simplytravelinsurance-2x-x: 1120px;
@simplytravelinsurance-2x-y: 976px;
@simplytravelinsurance-2x-offset-x: -1120px;
@simplytravelinsurance-2x-offset-y: -976px;
@simplytravelinsurance-2x-width: 160px;
@simplytravelinsurance-2x-height: 160px;
@simplytravelinsurance-2x-total-width: 1470px;
@simplytravelinsurance-2x-total-height: 1376px;
@simplytravelinsurance-2x-image: '..\..\..\graphics\logos\sprites\travel.png';
@simplytravelinsurance-2x: 1120px 976px -1120px -976px 160px 160px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'simplytravelinsurance@2x';
@skiinsurance-name: 'skiinsurance';
@skiinsurance-x: 838px;
@skiinsurance-y: 1216px;
@skiinsurance-offset-x: -838px;
@skiinsurance-offset-y: -1216px;
@skiinsurance-width: 80px;
@skiinsurance-height: 80px;
@skiinsurance-total-width: 1470px;
@skiinsurance-total-height: 1376px;
@skiinsurance-image: '..\..\..\graphics\logos\sprites\travel.png';
@skiinsurance: 838px 1216px -838px -1216px 80px 80px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'skiinsurance';
@skiinsurance-2x-name: 'skiinsurance@2x';
@skiinsurance-2x-x: 1280px;
@skiinsurance-2x-y: 976px;
@skiinsurance-2x-offset-x: -1280px;
@skiinsurance-2x-offset-y: -976px;
@skiinsurance-2x-width: 160px;
@skiinsurance-2x-height: 160px;
@skiinsurance-2x-total-width: 1470px;
@skiinsurance-2x-total-height: 1376px;
@skiinsurance-2x-image: '..\..\..\graphics\logos\sprites\travel.png';
@skiinsurance-2x: 1280px 976px -1280px -976px 160px 160px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'skiinsurance@2x';
@southerncross-name: 'southerncross';
@southerncross-x: 998px;
@southerncross-y: 1216px;
@southerncross-offset-x: -998px;
@southerncross-offset-y: -1216px;
@southerncross-width: 80px;
@southerncross-height: 80px;
@southerncross-total-width: 1470px;
@southerncross-total-height: 1376px;
@southerncross-image: '..\..\..\graphics\logos\sprites\travel.png';
@southerncross: 998px 1216px -998px -1216px 80px 80px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'southerncross';
@southerncross-2x-name: 'southerncross@2x';
@southerncross-2x-x: 0px;
@southerncross-2x-y: 1136px;
@southerncross-2x-offset-x: 0px;
@southerncross-2x-offset-y: -1136px;
@southerncross-2x-width: 160px;
@southerncross-2x-height: 160px;
@southerncross-2x-total-width: 1470px;
@southerncross-2x-total-height: 1376px;
@southerncross-2x-image: '..\..\..\graphics\logos\sprites\travel.png';
@southerncross-2x: 0px 1136px 0px -1136px 160px 160px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'southerncross@2x';
@spritesheet-name: 'spritesheet';
@spritesheet-x: 980px;
@spritesheet-y: 0px;
@spritesheet-offset-x: -980px;
@spritesheet-offset-y: 0px;
@spritesheet-width: 490px;
@spritesheet-height: 408px;
@spritesheet-total-width: 1470px;
@spritesheet-total-height: 1376px;
@spritesheet-image: '..\..\..\graphics\logos\sprites\travel.png';
@spritesheet: 980px 0px -980px 0px 490px 408px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'spritesheet';
@spritesheet-2x-name: 'spritesheet@2x';
@spritesheet-2x-x: 0px;
@spritesheet-2x-y: 0px;
@spritesheet-2x-offset-x: 0px;
@spritesheet-2x-offset-y: 0px;
@spritesheet-2x-width: 980px;
@spritesheet-2x-height: 816px;
@spritesheet-2x-total-width: 1470px;
@spritesheet-2x-total-height: 1376px;
@spritesheet-2x-image: '..\..\..\graphics\logos\sprites\travel.png';
@spritesheet-2x: 0px 0px 0px 0px 980px 816px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'spritesheet@2x';
@ticktravelinsurance-name: 'ticktravelinsurance';
@ticktravelinsurance-x: 1318px;
@ticktravelinsurance-y: 1216px;
@ticktravelinsurance-offset-x: -1318px;
@ticktravelinsurance-offset-y: -1216px;
@ticktravelinsurance-width: 80px;
@ticktravelinsurance-height: 80px;
@ticktravelinsurance-total-width: 1470px;
@ticktravelinsurance-total-height: 1376px;
@ticktravelinsurance-image: '..\..\..\graphics\logos\sprites\travel.png';
@ticktravelinsurance: 1318px 1216px -1318px -1216px 80px 80px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'ticktravelinsurance';
@ticktravelinsurance-2x-name: 'ticktravelinsurance@2x';
@ticktravelinsurance-2x-x: 320px;
@ticktravelinsurance-2x-y: 1136px;
@ticktravelinsurance-2x-offset-x: -320px;
@ticktravelinsurance-2x-offset-y: -1136px;
@ticktravelinsurance-2x-width: 160px;
@ticktravelinsurance-2x-height: 160px;
@ticktravelinsurance-2x-total-width: 1470px;
@ticktravelinsurance-2x-total-height: 1376px;
@ticktravelinsurance-2x-image: '..\..\..\graphics\logos\sprites\travel.png';
@ticktravelinsurance-2x: 320px 1136px -320px -1136px 160px 160px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'ticktravelinsurance@2x';
@travelinsurancesaver-name: 'travelinsurancesaver';
@travelinsurancesaver-x: 80px;
@travelinsurancesaver-y: 1296px;
@travelinsurancesaver-offset-x: -80px;
@travelinsurancesaver-offset-y: -1296px;
@travelinsurancesaver-width: 80px;
@travelinsurancesaver-height: 80px;
@travelinsurancesaver-total-width: 1470px;
@travelinsurancesaver-total-height: 1376px;
@travelinsurancesaver-image: '..\..\..\graphics\logos\sprites\travel.png';
@travelinsurancesaver: 80px 1296px -80px -1296px 80px 80px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'travelinsurancesaver';
@travelinsurancesaver-2x-name: 'travelinsurancesaver@2x';
@travelinsurancesaver-2x-x: 480px;
@travelinsurancesaver-2x-y: 1136px;
@travelinsurancesaver-2x-offset-x: -480px;
@travelinsurancesaver-2x-offset-y: -1136px;
@travelinsurancesaver-2x-width: 160px;
@travelinsurancesaver-2x-height: 160px;
@travelinsurancesaver-2x-total-width: 1470px;
@travelinsurancesaver-2x-total-height: 1376px;
@travelinsurancesaver-2x-image: '..\..\..\graphics\logos\sprites\travel.png';
@travelinsurancesaver-2x: 480px 1136px -480px -1136px 160px 160px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'travelinsurancesaver@2x';
@travelinsuranz-name: 'travelinsuranz';
@travelinsuranz-x: 0px;
@travelinsuranz-y: 1296px;
@travelinsuranz-offset-x: 0px;
@travelinsuranz-offset-y: -1296px;
@travelinsuranz-width: 80px;
@travelinsuranz-height: 80px;
@travelinsuranz-total-width: 1470px;
@travelinsuranz-total-height: 1376px;
@travelinsuranz-image: '..\..\..\graphics\logos\sprites\travel.png';
@travelinsuranz: 0px 1296px 0px -1296px 80px 80px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'travelinsuranz';
@travelinsuranz-2x-name: 'travelinsuranz@2x';
@travelinsuranz-2x-x: 1300px;
@travelinsuranz-2x-y: 568px;
@travelinsuranz-2x-offset-x: -1300px;
@travelinsuranz-2x-offset-y: -568px;
@travelinsuranz-2x-width: 160px;
@travelinsuranz-2x-height: 160px;
@travelinsuranz-2x-total-width: 1470px;
@travelinsuranz-2x-total-height: 1376px;
@travelinsuranz-2x-image: '..\..\..\graphics\logos\sprites\travel.png';
@travelinsuranz-2x: 1300px 568px -1300px -568px 160px 160px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'travelinsuranz@2x';
@under30-name: 'under30';
@under30-x: 1158px;
@under30-y: 1216px;
@under30-offset-x: -1158px;
@under30-offset-y: -1216px;
@under30-width: 80px;
@under30-height: 80px;
@under30-total-width: 1470px;
@under30-total-height: 1376px;
@under30-image: '..\..\..\graphics\logos\sprites\travel.png';
@under30: 1158px 1216px -1158px -1216px 80px 80px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'under30';
@under30-2x-name: 'under30@2x';
@under30-2x-x: 1140px;
@under30-2x-y: 408px;
@under30-2x-offset-x: -1140px;
@under30-2x-offset-y: -408px;
@under30-2x-width: 160px;
@under30-2x-height: 160px;
@under30-2x-total-width: 1470px;
@under30-2x-total-height: 1376px;
@under30-2x-image: '..\..\..\graphics\logos\sprites\travel.png';
@under30-2x: 1140px 408px -1140px -408px 160px 160px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'under30@2x';
@virgin-name: 'virgin';
@virgin-x: 1398px;
@virgin-y: 1136px;
@virgin-offset-x: -1398px;
@virgin-offset-y: -1136px;
@virgin-width: 59px;
@virgin-height: 80px;
@virgin-total-width: 1470px;
@virgin-total-height: 1376px;
@virgin-image: '..\..\..\graphics\logos\sprites\travel.png';
@virgin: 1398px 1136px -1398px -1136px 59px 80px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'virgin';
@virgin-2x-name: 'virgin@2x';
@virgin-2x-x: 640px;
@virgin-2x-y: 1136px;
@virgin-2x-offset-x: -640px;
@virgin-2x-offset-y: -1136px;
@virgin-2x-width: 118px;
@virgin-2x-height: 160px;
@virgin-2x-total-width: 1470px;
@virgin-2x-total-height: 1376px;
@virgin-2x-image: '..\..\..\graphics\logos\sprites\travel.png';
@virgin-2x: 640px 1136px -640px -1136px 118px 160px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'virgin@2x';
@zuji-name: 'zuji';
@zuji-x: 1060px;
@zuji-y: 728px;
@zuji-offset-x: -1060px;
@zuji-offset-y: -728px;
@zuji-width: 80px;
@zuji-height: 80px;
@zuji-total-width: 1470px;
@zuji-total-height: 1376px;
@zuji-image: '..\..\..\graphics\logos\sprites\travel.png';
@zuji: 1060px 728px -1060px -728px 80px 80px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'zuji';
@zuji-2x-name: 'zuji@2x';
@zuji-2x-x: 160px;
@zuji-2x-y: 1136px;
@zuji-2x-offset-x: -160px;
@zuji-2x-offset-y: -1136px;
@zuji-2x-width: 160px;
@zuji-2x-height: 160px;
@zuji-2x-total-width: 1470px;
@zuji-2x-total-height: 1376px;
@zuji-2x-image: '..\..\..\graphics\logos\sprites\travel.png';
@zuji-2x: 160px 1136px -160px -1136px 160px 160px 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' 'zuji@2x';
@spritesheet-width: 1470px;
@spritesheet-height: 1376px;
@spritesheet-image: '..\..\..\graphics\logos\sprites\travel.png';
@spritesheet-sprites: @1cover @1cover-2x @1stforwomen @1stforwomen-2x @-k-a-n-g-t-r-a-v-e-l-214 @-k-a-n-g-t-r-a-v-e-l-215 @-k-a-n-g-t-r-a-v-e-l-216 @-k-a-n-g-t-r-a-v-e-l-217 @-webjet @-webjet-2x @-woolworths @-woolworths-2x @-worldcare @-worldcare-2x @acet @acet-2x @amex @amex-2x @budget @budget-2x @columbus @columbus-2x @downunder @downunder-2x @easytravelinsurance @easytravelinsurance-2x @fastcover @fastcover-2x @goin @goin-2x @insure4less @insure4less-2x @insureandgo @insureandgo-2x @itrek @itrek-2x @kango @kango-2x @onlinetravelinsurance @onlinetravelinsurance-2x @priceline @priceline-2x @real @real-2x @simplytravelinsurance @simplytravelinsurance-2x @skiinsurance @skiinsurance-2x @southerncross @southerncross-2x @spritesheet @spritesheet-2x @ticktravelinsurance @ticktravelinsurance-2x @travelinsurancesaver @travelinsurancesaver-2x @travelinsuranz @travelinsuranz-2x @under30 @under30-2x @virgin @virgin-2x @zuji @zuji-2x;
@spritesheet: 1470px 1376px '..\..\..\graphics\logos\sprites\travel.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
