.travel {

	// Add your slide feature here to be hidden by default
	.slide-feature-back,
	.coverLevelTabs,
	.resultsSummaryContainer
	{
		.slide-feature-hidden();

		// Necessary to make use of the journeyEngine slide-feature styles that animate max-width.
		a, .resultsSummaryPlaceholder {
			white-space: nowrap;
		}
	}

	.navbar__travel-filters {
		display: none;
	}

	.sortbar-container {
		display: none;
	}

	@media screen and (@sm) {
		#navbar-main {
			.transition(~"max-height 60ms");
			//stacks ontop of an instant transition all value in ctm.theme.less
			max-height: @navbar-height;
		}
	}

	@media (@sm) {
		// Add your slide feature to the particular step that it needs to be visible
		&[data-step="start"] {
			#navbar-main,
			.nav .slide-feature-back {
				.slide-feature-hidden() !important;
			}
		}
	}

	&[data-step="results"] {
		//put the sorting/filtering bar here to be shown once it exists.
		.slide-feature-back,
		.coverLevelTabs,
		.resultsSummaryContainer {
			.slide-feature-is-visible();
		}

		.sortbar-container {
			display: block;
		}
		.progress-bar-row {
			.slide-feature-hidden() !important;
		}

		@media screen and (@sm) {
			#navbar-main {
				//max-height: (@navbar-height * 2);
				max-height: 100px; //TODO: tweak for the sort bar.
			}
		}

		@media screen and (@xs-only) {
			.navbar__travel-filters {
				display: block;

				.navbar-mobile {
					border-top: 1px solid @theme-light;
				}
			}
		}
	}

}
