//-------------------------------------------------------------------------------------------
// TRAVEL RESULTS DESIGN SPECIALISATIONS. See core/results.less for the base style
// Enhances the priceMode (horizontal) display in results for travel.
//-------------------------------------------------------------------------------------------

//For reference, these are in ctm.variables.less
//@results-border-color
//@results-price-column-odd-text
//@results-price-column-odd-bg
//@results-price-column-even-text
//@results-price-column-even-bg
//@results-price-product-base-color
//@results-price-product-title-color
//@results-price-product-price-color

//-------------------------------------------------------------------------------------------
//All breakpoints XS and up.

.priceTitle,
.excessTitle,
.luggageTitle,
.cdxfeeTitle,
.medicalTitle,
.rentalVehicleTitle {
	text-transform: uppercase;
	font-size: 9px;
	line-height: 9px;
	white-space: nowrap;
	color: @results-price-product-base-color;
}

@priceSize: 30px;
.priceAmount {
	color: @results-price-product-price-color;
	line-height: @priceSize;
	font-size: @priceSize;
}

.productTitle {
	line-height: 22px;
	font-size: 22px;
	.daysPerTrip {
		white-space: nowrap;
	}
}

@companyLogoImgHeight: 60px;
.available {
	.companyLogo {
		img {
			margin-top: 0px;
			max-height:@companyLogoImgHeight;
		}
	}
}

.resultsContainer.v2 .available .companyLogo {
	width: auto;
	height: 100%;
	line-height: inherit;
	float: none;
}

.resultsContainer.v2 {
	.travelResultsDisclaimerHeader {
		flex: 9;
		font-size: 12px;
		font-family: 'SourceSansProRegular';
		line-height: normal;

		@media (min-width: 768px) {
			font-size: 12px;
		}
	
		@media (min-width: 992px) {
			font-size: 14px;
		}
	
		@media (min-width: 1200px) {
			font-size: 16px;
		}
	}

	.travel-disclaimer-banner {
		display: flex;
		margin: 0 auto;
		background-color: @theme-tertiary;
		height: 80px;
		color: white;
		margin-bottom: 20px;
		align-items: center;
		width: 100%;
	
		.travel-disclaimer-banner-icon {
			display: flex;
			justify-content: center;
			font-size: 32px;
			flex: 2;
			text-align: center;
	
			@media (min-width: 992px) {
				flex: 1;
				font-size: 40px;
			}
		
			@media (min-width: 1200px) {
				flex: 1;
				font-size: 40px;
			}
		}
	
		.travel-disclaimer-banner-dismiss {
			flex: 1;
			text-align: center;
		}
	}
}

.result {
	.trip-type-list {
		display:block;
		margin-top:5px;
		.trip-type {
			display:inline-block;
			margin-right:1em;
			.icon {
				float:left;
				font-size:16px;
				border-radius:50%;
				color:#FFF;
				background:@theme-tertiary;
				border: 8px solid @theme-tertiary;
				margin-right:5px;
			}
			.type {
				float:right;
				font-size:12px;
				color:@theme-dark;
				line-height:30px;
			}
			&.cruise {

			}
			&.snow {

			}
			&.adventure {

			}
		}
	}
}


//-------------------------------------------------------------------------------------------
//XS ONLY breakpoints

@media(@xs-only) {

	//@companyLogoImgHeight:  55px;
	@priceSize: @font-size-h3;
	@benefitsAmountSize: ceil(@font-size-base * 1.07); // ~15px
	@excessAmountSize: @font-size-h5;

	.resultsSlide {
		padding-top: 0px;
	}

	.resultsContainer[policytype="S"] .productTitle {
		font-size: ceil(@font-size-base * 1.14); // ~16px
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	//AMT has another layout which requires long titles
	.resultsContainer[policytype="A"] .productTitle {
		font-size: ceil(@font-size-base * 1.14); // ~16px
		margin-bottom:12px;
		br {display: none;}
	}

	.resultsContainer[policytype="S"] .multiProductTitle,
	.resultsContainer[policytype="A"] .singleProductTitle {
		display:none;
	}

	.resultsContainer[policytype="S"] .singleProductTitle,
	.resultsContainer[policytype="A"] .multiProductTitle {
		display:block;
	}

	.excessAmount {
		float: none;
		width: auto;
		display: inline-block;
		text-align: right;
		font-size: @excessAmountSize;
		line-height: @excessAmountSize;
	}

	.excessTitle {
		float: none;
		width: auto;
		display: inline-block;
		text-align: left;
	}


	.mainBenefitsContainer {
		border-top: 1px solid #e9e9e9;
		background: #F8F8F8;
		border-bottom: 1px solid #A1A39C;
	}

	.mainBenefitsHeading {
		padding-top: 10px;
		padding-bottom: 7px;
		> div {
			text-align: center;
		}
	}

	.mainBenefitsPricing {
		padding-top: 0px;
		padding-bottom: 12px;
		> div {
			text-align: center;
		}
		.medicalAmount,
		.cdxfeeAmount,
		.luggageAmount {
			font-size: @benefitsAmountSize;
		}
	}

	//Only required on the single trip XS layout.
	.resultsContainer[policytype="S"] .priceExcessContainer {
		margin-bottom:12px;
	}

	//This attemps to line up the prices with the logo on the left.
	.resultsContainer[policytype="A"] .daysPerTrip {
			white-space: nowrap;
	}

	.priceContainer	{
		text-align: left;
		padding: 5px 0px 0px;
		.priceAmount {
			font-size: @priceSize;
			line-height: @priceSize;
		}
	}

	.excessContainer {
		padding: 0;
		.excessAmount {
			line-height: @priceSize;
		}
	}

	.gotoContainer {
		padding: 0;
		.btn {
			padding: 6px 5px;
			font-size: 12px;
			line-height: 1.5;
		}
	}

	.topContainer {
		padding-top: 3px;
	}

	.btmContainer, .infoContainer {
		padding-top: 5px;
	}

	.infoContainer {
			font-size: 12px;
			line-height: 1.4;
	}


	.priceMode {
		.result-row	{
			padding-bottom: 0px;
			border-bottom: none;
			@media (@xs-only) {
				&[data-available="Y"] .resultInsert.priceMode:after {
					content: '';
				}
			}
		}
	}

	// aligns the arrow - should be backported to core if the other vertical designs
	.priceMode .result-row[data-available="Y"] .resultInsert.priceMode:after {
		top: 50%;
		margin-top: -35px;
	}
	.priceMode .result-row[data-available="Y"] .resultInsert.priceMode {
		padding-right: 20px;
	}

	//Vertical Centering - the XS version!!
	.logoContainer {
		//Horizontal position... this overrides part of the grid paddings.
		padding: 0 12px 0 10px;
		height: 70px;
		.companyLogo {
			max-width: 80px; //Helps xs alignments.
			text-align: center;
			&:before {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
				margin-right: -0.25em; /* Adjusts for spacing */
			}
			img {
				display: inline-block;
				vertical-align: middle;
				word-break:break-word;
			}
		}
	}

	.productTitle {
		br {
			display:none;
		}
	}
}

//-------------------------------------------------------------------------------------------
//SM and greater breakpoints

@media(@sm) {

    footer {
		margin-top: 30px;
	}

	.resultsOverflow {
		margin-bottom: 30px;
	}

	//Undoes the excess of padding on the top
	.resultsContainer.priceMode {
		padding-top: 10px;
	}

	.PDS,
	.moreInfo {
		margin-top: 10px;
		//text-align:center; //??
		a {
			text-decoration: underline;
			//border-bottom: 2px solid #ccc;
			@media(@lg) {
				padding:0px;
			}
		}
	}
	.result .companyLogo {
		height: auto;
	}
	.results-table {
		.result-row	{
			padding: 0;
			margin-bottom: 30px;

			.resultInsert > .row {
				margin-left: 0;
				margin-right: 0;
				& > div  {
					vertical-align: middle;
				}
			}
		}
		.result_unavailable_combined {
		  	margin-top:60px;
			padding: 15px;
			.center p {
				text-align: center;
			}
		}
	}
}


@media(@sm-only) {
	@priceSize: 23px;
	.priceAmount {
		font-size: @priceSize;
		line-height: @priceSize;
	}
}

//-------------------------------------------------------------------------------------------
//SM and greater vertical centering magic

.vertical-center-row > div {
	@media(@sm) {

		//This is important - it sets the height of what we're vertically centering against.
		//min-height:120px; //freaks out IE8
		height: 120px;
		text-align: center;
		padding: 15px 12px;

		& > div {
			//text-align: center;
			height: 100%;

			&:before {
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
				margin-right: -0.25em; /* Adjusts for spacing */
			}
			& > * {
				display: inline-block;
				vertical-align: middle;
				word-break:break-word;
			}
		}
		&.productTitle {
			text-align: left;

			//Undo the offset for middle alignment when not middle aligning.
			div:before {
				margin-right: 0;
			}
		}
	}

	@media(@sm-md-only) {
		&.productTitle {
			//min-height: 70px; //freaks out IE8
			height: 70px;
		}
		&.cta {
			//min-height: 70px; //freaks out IE8
			height: 70px;
			text-align: center;
		}
	}

	@media(@lg) {
		//The combined minimum of everything on one row.
		//min-height:102px; //freaks out IE8

		//Undo the vertical centering on the CTA cell because of the sub elements.
		&.cta {
			text-align: center;
			div:before {
				height: auto;
			}
		}
	}
}

.vertical-center-row.trip-type-container > div {
	@media (@sm) {
		height: 130px;
	}

	@media(@sm-md-only) {
		&.productTitle {
			//min-height: 70px; //freaks out IE8
			height: 70px;
			> span:first-of-type {
				float: left;
				margin-top: 5px;
			}
		}
		&.cta {
			//min-height: 70px; //freaks out IE8
			height: 70px;
			text-align: center;
		}
		.trip-type-list {
			float: right;
			.trip-type {
				margin-right: 0;
				margin-left: 1em;
			}
		}
	}

	@media(@sm-only) {
		.trip-type-list {
			.trip-type {
				margin-left: 5px;
			}
		}
	}
}

.result {
	.trip-type-container {
		@media (@xs-only) {
			.trip-type-list {
				margin: 10px auto;
				.trip-type {
					margin: 0 5px 0 0;
					.type {
						font-size: @font-size-base;
					}
				}
			}
		}
	}
}

.vertical-center-row > div.trip-type-container {
	@media(@sm) {
		& > div {
			height: auto;
			&:first-of-type {
				margin-top:-8px;
			}
			> span:first-of-type {
				display:inline;
			}
		}
	}
	@media(@lg) {
		& > div {
			> span:first-of-type {
				line-height:16px;
			}
		}
	}
}


@media(@sm-md-only) {
	.productTitle div span {
		br {
			display:none;
		}
		.daysPerTrip {
			font-size:18px;
		}
	}
}

//-------------------------------------------------------------------------------------------
//MD and up breakpoints

// @media(@md) {

// }


//-------------------------------------------------------------------------------------------
//LG and up breakpoints

@media(@lg-only) {

	.productTitle div {
		span {
			font-size: 18px;
		}

		.daysPerTrip {
			font-size:16px;
		}
	}


}

@media(@lg) {
	.moreInfo {
		text-align: right;
	}

	div.vertical-center-row > div:first-child {
		padding: 10px 0px;
	}
}

//-------------------------------------------------------------------------------------------
//Special breakpoint selective overrides

//Normal column backgrounds
.column-banded-row {
	@media (@sm) {
		& > div {
			border-left: 1px solid @results-border-color;
			color: @results-price-column-even-text;
			background-color: @results-price-column-even-bg;
			&:first-child {
				border-left: 0 none;
			}
		}
	}
	//Accent column Mappings
	@media (@sm-md-only) {
		.excessAmount,
		.cdxfeeAmount,
		.priceAmount,
		.cta {
			color: @results-price-column-odd-text;
			background-color: @results-price-column-odd-bg;
		}
		.priceAmount {
			color: @results-price-product-price-color;
		}
		.productTitle {
			color: @results-price-product-title-color;
			border-left: 0 none;
			border-top: 1px solid @results-border-color;
			border-bottom: 1px solid @results-border-color;
		}
		.cta {
			border-left: 0 none;
		}
	}
	@media(@lg) {
		.productTitle,
		.medicalAmount,
		.luggageAmount.evenRow,
		.cdxfeeAmount.evenRow,
		.rentalVehicle,
		.cta {
			color: @results-price-column-odd-text;
			background-color: @results-price-column-odd-bg;
		}
		.priceAmount {
			color: @results-price-product-price-color;
		}
		.productTitle {
			color: @results-price-product-title-color;
		}
	}
}

/**
 ** SPECIAL OFFERS STYLING
 */
#resultsPage,
body[data-step="results"] #dynamic_dom {
	.productTitle.specialOffer,
	.more-info-content.specialOffer{
		.promotion {
			position:relative;
			float:right;
			height:auto;
			width:40%;
			padding-left:30px;
			margin-top: -2.7em;
			color: @theme-tertiary;
			font-size: 13px;
			line-height:16px;
			a {
				text-decoration: underline;
			};
			.icon {
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 32px;
				height: 32px;
				font-size: 22px;
				line-height: 24px;
			}
		}
		&.more-info-content {
			.promotion {
				float: none;
				width: auto;
				text-align: left;
				font-size:14px;
			}
		}
		@media(@xs) {
			&.productTitle {
				div:not(.promotion) {
					width: auto;
				}
			}
			&.more-info-content {
				.promotion {
					float: none;
					width: 70%;
					margin:1em auto;
				}
			}
		}
		@media(max-width: 480px) {
			&.more-info-content {
				.promotion {
					width: auto;
				}
			}
		}
		@media(@sm){
			&.productTitle {
				div:not(.promotion) {
					width:60%;
				}
			}
			&.more-info-content {
				.promotion {
					float: none;
					width: 70%;
					margin: 0 auto;
					padding: 1em 0 1em 30px;
					text-align: left;
					font-size:14px;
					.icon {
						top:0.4em;
					}
				}
			}
		}
		@media(@lg) {
			&.productTitle {
				div:not(.promotion) {
					width:auto;
				}
			}
			.innertube {
				height:100%;
				vertical-align: middle;
				&:before {
					display:none;
				}
				& > div {
					height: auto;
				}
			}
			.promotion {
				float:none;
				width:auto;
				margin-top: 0.5em;
			}
		}
	}
}

.offer-terms-modal {
	.modal-header, .modal-body {
		.heading {
			margin-left: 105px;
			margin-top: 5px;
			margin-bottom: 5px;
		}
		.travelCompanyLogo {
			float:left;
		}
		.termsWrapper {
			display:block;
			float:none;
			clear:left;
			@media(@xs-only) {
				margin-top:2em;
			}
		}
	}
}
