// Mixins for icon sizes.
.roundIconSize(@icon-font-size, @label-font-size, @margin-offset, @min-height-offset, @selector){
  @{selector} {
    float: left;
    width: @icon-font-size * 1.6 + 2; // padding * 2 + font-size + border * 2
    font-size: @label-font-size;
    font-family: @font-family-theme-regular;
    color: @gray-dark;
    &:before{
      font-size: @icon-font-size;
      line-height: @icon-font-size * 1.6 + 2;
      width: @icon-font-size * 1.6 + 2; // padding * 2 + font-size + border * 2. also fixes ie 10 & 11
    }

    // minimum 2 lines of label text for float to work properly
    min-height: (@icon-font-size * 1.6 + 2) + ceil(@label-font-size * 2.2) + @min-height-offset; // Icon height + label-font-size's line-height * 2 + margin-bottom
    margin: @icon-font-size * 0.15 + @margin-offset;
  }
}

// ie8 fix
html.ie8 body {
  div.roundedCheckboxIcons {
	label {
	  &:before {
		font-size: 60px;
		padding: 0.3em;
	  }
	}
  }
}


/* Rounded Icons*/
div.roundedCheckboxIcons {
  float:left;
  padding: 0px;
  text-align: center;
  overflow: visible;
  > label.btn {
	padding:0;
	border: none;
	background:transparent;
	outline:0 !important;
	cursor: pointer;
	display:inline-block;
	padding: 0;
	margin: 0;
	text-align: center;

	&:before {
	  display: block;
	  float: none;
	  margin: 10px 5px;
	  padding: 0;
	  border-radius: 50%;
	  background-color: @icon-bg-color;
	  border: 1px solid @icon-border-color;
	  color: @theme-tertiary;
	}

	&:active,
	&.active {
	  color: @gray-dark;

	  &:before {
		background-color: @icon-bg-checked-color;
		border-color: @icon-border-checked-color;
		color: #fff;
	  }
	}
  }

  @media (@xs) {
	.roundIconSize(40px, @font-size-base, 0, 15, label);
  }
  @media (@sm-only) {
	.roundIconSize( px, @font-size-small, 1, 15, label);
  }
  @media (@md-only) {
	.roundIconSize(50px, @font-size-small, -1, 15, label);
  }
}

.policy-type {
  > label.btn {
	&:before {
	  font-family: ctm-travel;
	}
  }
}

.travel_party, .trip_type {
  > label.btn {
	&:before {
	  font-family: framework_font;
	}
  }
}

.btn-group-justified > .btn, .btn-group-justified > .btn-group {
  width: auto !important;
}