
@plus: #083f96;

//== Rounded Icons
//
//##
@extras-color-light: #0db14b;
@icon-bg-color: #EDEDED;
@icon-bg-checked-color: @theme-secondary;
@icon-border-color: darken(@icon-bg-color, 12%);
@icon-border-checked-color: darken(@icon-border-color, 12%);
@icon-more-border-color:#162F8A;
@dropdown-border-color: #b2b2b2;
@dropdown-bg-color: #ffffff;