<?xml version="1.0" encoding="UTF-8"?>
<aggregator xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://com.disc_au.soap.aggregator ../schema/config.xsd"
            xmlns="http://com.disc_au.soap.aggregator">

    <nabGateway>
        <gatewayURL>external/hambs/mockPaymentGateway.html</gatewayURL>
        <domain>http://localhost:8080</domain>
    </nabGateway>

<!-- The Test site provided by NAB no longer works correctly, because the POST returns a blank originHost, which breaks the parent.PostMessage -->
<!--    <nabGateway>-->
<!--        <gatewayURL>https://membersuat.healthuat.aia.com.au/NAB/AIAHealth_CTM_IFrame.aspx</gatewayURL>-->
<!--        <domain>https://membersuat.healthuat.aia.com.au</domain>-->
<!--    </nabGateway>-->

    <config-dir>aggregator/health_application</config-dir>
    <debug-dir>health_application/debug</debug-dir>

</aggregator>