.coupon-banner-container {
	a.coupon-banner {
		font-size: 16px;
		text-align: center;
		padding: 10px;
		background-color: @theme-secondary;
		color: white;
		display: block;
		overflow:hidden;
		text-overflow:ellipsis;
		white-space: nowrap;  
		&:hover{
			text-decoration: none;
			color:white;
		}
		.link {
			color: @link-color;
		}
	}
}

.coupon-input-group,
.coupon-optin-group {
	.has-success {
		.form-control-validation(@input-color; @input-border; @input-bg);
	}

	// because we are not using in journey validation, here are some custom error styles
	.has-custom-error{
		.form-control-validation(@state-danger-text; @state-danger-border; @state-danger-bg; @state-danger-text; @state-danger-border; @state-danger-bg);
		//Button group error
		.form-control-button-group-validation(@state-danger-text; @state-danger-border; @state-danger-bg);
	}

	.coupon-error-container {
		color: @brand-warning;
		label {
			font-weight: normal;
			font-size: 0.9em;
			display: block; 
		}
	}
}

.coupon-confirmation {
	margin-top:20px;
}

.conpon-congrats {
	color: @theme-tertiary;
	font-size: 16px;
}

/** 
 * Background image src|width|height will be set individually for each campaign in vertial specific modules
 * TODO: to read the src from DB so we don't have to set this up for each promo 
 */
 
.coupon-modal-image,
.coupon-confirmation-image {
	width: 100%;
	background-repeat: no-repeat;
	padding: 0;
	display: block;
}