
@dev-background: #222;
@dev-border: #111;
@dev-border-light: #333;
@dev-highlight: #1c3e93;

.buildEnvInfo_div{
  font-family: "SourceSansProSemiBold","SourceSansProRegular",Helvetica,Arial,sans-serif;
  background-color: @dev-background;
  border-top:1px solid @dev-border;
  padding:4px;
  color:#555;
  overflow:hidden;
  font-size: 11px;
  text-transform:Uppercase;
  a{
    color: #7187bb
  }
  ul{
    list-style: none;
    margin:0;
    padding:0;
    li{
      float:left;
      line-height: 20px;
      padding-right:8px;
      padding-left:8px;
      padding-top: 3px;
      padding-bottom:3px;
      border-right:1px solid @dev-border;
      border-left:1px solid @dev-border-light;

      span{
        color:rgba(255, 255, 255, 0.4);
        padding:2px 6px;
        background-color:@dev-highlight;
        border-radius: 3px;
        text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);

      }
      &.devEnv {
        padding-left:8px;
        color: #fff;
        font-weight:bold;
        letter-spacing: 0.05em;
        text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);

        &.localhost {
          background-color: #0db14b;
        }
        &.nxi {
          background-color: #ff312f;
        }
        &.nxq {
          background-color: #c2a300;
        }
      }
    }
  }
  /* The CSS */
  select {
    color:rgba(255, 255, 255, 0.4);
    padding:2px 0px;
    background-color:@dev-highlight;
    border-radius: 3px;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.1);

    box-shadow: 0 1px 0 @dev-border;
    background: @dev-highlight;

    border:none;
    outline:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    width: 180px;
    padding:0;
  }

  /* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    select {padding-right:18px}
  }

  label {
    position:relative;
    margin:0;
  }
  label:after {
    content:'<>';
    color:rgba(255, 255, 255, 0.4);
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:0px;
    padding:0 0 2px;
    border-bottom:1px solid @dev-border;
    position:absolute;
    pointer-events:none;
  }
  label:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    position:absolute;
    pointer-events:none;
    display:block;
  }
}

#aggTimer.debugInfoHidden {
  display:none;
}
.fixedDevEnvDialog .closeDevEnvDialog {
  width:20px;
  height:30px;
  position:absolute;
  right:-4px;
  top:-8px;
  cursor: pointer;
}
.closeDevEnvDialog img {
  position:absolute;
  width:20px;
  right:-3px;
}
@media (max-width:768px) {
  .fixedDevEnvDialog {
    opacity:0.8;
    color:#555;
  }
}