.fieldset .content{
	position: relative;
}

.inlineHeadingWithButton{
	h5{
		display:inline-block;
		vertical-align: middle;
	}

	.btn{
		font-weight: normal;
		padding: 2px 5px;
		font-size: 12px;
		vertical-align: middle;
		margin-left: 10px;
	}
}