// Variables
@results-headerbar-bg: #fff;
@results-headerbar-height: 172px;
@results-headerbar-border-bottom: 1px solid #7B8386;
@topDockedPageNav-height: @navbar-height;

@results-zindex-base:				10;
@results-zindex-resultsHeadersBg: 	(@results-zindex-base+1);
@results-zindex-resultItems:		(@results-zindex-resultsHeadersBg+5);

.compareBar{

	height: 172px;
	position: relative;



	.comparisonInactive{
		padding-top:17px;
		position: relative;
		font-family: @font-family-theme-light;

		color: @gray-light;


		strong {
			font-weight: normal;
			font-family: @font-family-theme-bold;
			color: @theme-secondary;
		}

		em {
			font-weight: normal;
			font-family: @font-family-theme-bold;
			color: @theme-secondary;
			font-style: normal;
		}

		.compareCheckbox{
			display: inline-block;
			line-height: 1;
			input{
				&[disabled] {
					& + label:before,
					& + label:after {
						.opacity(1);
					}
				}
			}
		}

		.productCount {
			color: @theme-tertiary;
			font-weight: normal;
			font-family: @font-family-theme-bold;
			font-size: 1.4em;
			white-space: nowrap;
		}

		.smaller {
			font-size: 0.9em;
			display: block;
		}
	}

	@media (@sm) {
		.comparisonInactive{
			font-size: 1.32em;
		}
	}
	@media (@md-only) {
		.comparisonInactive{
			font-size: 1.15em;
		}
	}

	@media (@lg) {
		.comparisonInactive{
			font-size: 1.3em;
			line-height: 1.5em;
		}
	}



	.comparisonActive{

		h3{
			font-family: @font-family-theme-light;
			margin-top: 0;
			margin-bottom: 2px;
			color: @gray-light;
			font-size: 22px;
		}

		display: none;

		font-family: @font-family-theme-bold;

		ul{
			margin:0;
			padding:0;
			list-style: none;

			li{
				overflow: hidden;
				position: relative;
				vertical-align: middle;
				height: 24px;
				margin-bottom: 1px;

				.compareCloseIcon{
					float:left;
					margin-right: 4px;
					line-height: 1;
					top: 2px;
				}
				.name{
					float: left;
					width: 55px;
					text-overflow:ellipsis;
					color: @theme-tertiary;
					font-size: 14px;
					white-space: nowrap;
					overflow: hidden;
					line-height: 24px;
					height: 24px;
				}
				.placeholderLabel{
					color: #D5D6CB;
					width:100px;
					line-height: 24px;
				}
				.price{
					float: right;
					color: @theme-secondary;
					font-size: 16px;
					line-height: 24px;
					height: 24px;
					width: 75px;
					text-align: right;
				}
				.noneSelectedText{

				}

				@media (@md) {
					.name{
						width: 35px;
					}
					.price{
						font-size: 14px;
						width: 70px;
					}
				}
				@media (@lg) {
					.name{
						width: 65px;
					}
					.price{
						font-size: 16px;
						width: 75px;
					}
				}

			}
		}

		.btn{
			display: block;
			&.compareBtn{
				&:extend(.btn-shortlist all);
			}
			&.compareInActive{
				cursor:default;
			    .opacity(.65);
			}
		}

	}

	&.active{
		.comparisonInactive{
			display: none;
		}
		.comparisonActive{
			display: block;
		.compareBtn.clearMode{
				&:extend(.btn-clear all);
		}
	}

}

}

.affixed-compact{
	h3{
		display: none;
	}
	.compareBar{
		@media (@sm) {
			.comparisonInactive{
				padding-top: 10px;
				font-size: 0.95em ;
			}
		}
		@media (@md-only) {
			.comparisonInactive{
				font-size: 0.9em ;
			}
		}

		@media (@lg) {
			.comparisonInactive{
				font-size: 1.0em ;
				.productCount{
					font-size: 1.3em;
				}
			}
		}
	}
	
	.result .comparisonSummary{
		padding-top: 1px;
		li{
			height: 18px;
			.compareCloseIcon{
				top: 0;
			}
		}
	}
}

