.ctpMessagePopup {
  .modal-closebar {
    display: none;
  }

  .modal-footer {
    text-align: center;

    @media (@xs-only) {
      .btn {
        margin-top:10px;
      }
    }
  }

  @media (@xs-only) {
    .navbar {
      position: relative;
    }
  }
}