.car {
	// Remove padding on slide side column
	.fieldset-column-side {

		fieldset {
			margin-bottom: 0;
		}
	}
	// Filter bar on 2 lines otherwise.
	@media(@sm-only) {
		#navbar-filter li.dropdown>a {
			margin-right: 0;
		}
	}

	#quote_vehicle_selection .spinner {
		margin-right: 40px;
	}
}