.car {

  // Rego styles for step 2:
  #RegoFieldSet {
    .vehicle-details-title {
      font-size: 32px;
      line-height: 1;
    }
    .icon {
      margin-top: 5px;
    }
    .rego-car-details-row {
      padding-left: 0;
      font-size: 14px;
      list-style-type: none;
      li {
        float:left;
        margin-left: 10px;
        margin-top: 5px;
        &:first-child {
          margin-left: 0;
        }
      }

    }
    .rego-text {
      color: @gray-light;
      font-size: 32px;
      text-transform: uppercase;
      @media (@sm) {
        font-size: 42px;
      }
      @media (@lg) {
        font-size: 52px;
      }
      line-height: 1;
      margin-bottom: 0;
      font-family: @font-family-theme-light;
    }
  }

  // Remove padding on slide side column
  .fieldset-column-side {

    fieldset {
      margin-bottom: 0;
    }
  }

  #quote_vehicle_selection .spinner {
    margin-right: 40px;
  }

  #footer p.eslMessage {
    font-size: 14px;
  }

  // New filter styles to fit CAR-1304
  #navbar-filter {
    .navbar-right {
      position: relative;
      &::before {
        content: '';
        border-left: 1px solid;
        height: 26px;
        margin-top: -13px;
        position: absolute;
        top: 50%;
        left: 0;
      }
    }

    li {
      text-align: center;
      text-transform: capitalize;

      &.filter-cover-type {
        width: 209px;

        li {
          text-align: left;
        }

        &.skipNewCoverTypes {
          a {
            cursor: default;
            span {
              color: #fff;
            }

            .icon {
              display: none;
            }
          }
        }
      }

      &.filter-excess {
        width: 80px;

        &.default-600 {
          a {
            cursor: default;
            span {
              color: #fff;
            }

            .icon {
              display: none;
            }

            &:hover {
              background-color: transparent;
            }
          }
        }
      }

      &.filter-frequency {
        width: 120px;
      }

      > a {
        margin-right: 0;
        &:not(.btn) {
          border: none;
          padding: 10px;
        }

        &.updateFilters {
          border-color: #fff;
          font-size: 10px;
          margin-top: 6px;
          margin-left: 10px;
          padding: 4px 16px;
          text-transform: uppercase;
        }
      }

      &.filter-cover-type {
        > a {
          &:not(.btn) {
            padding: 10px 5px;
          }
        }
      }
    }
  }

  &.non-comprehensive-cover {
    .priceMode .promotion,
    .bridgingContainer .promotionOffer,
    .featuresNormalHeader .result-special-offer,
    .featuresList .comprehensiveOnly,
    .call-modal .offlineDiscount {
      display: none !important;
    }

    #results_v5 {
      .headers.featuresNormalHeader {
        .compare-basket,
        .productSummary {
          height: 297px;

          @media (@sm) {
            height: 321px;
          }
        }
      }
    }
  }
}