@provider-list: ~"BUDD", ~"AI", ~"EXPO", ~"VIRG", ~"REIN", ~"1FOW", ~"EXDD", ~"WOOL", ~"IECO", ~"OZIC", ~"RETI";

.priceMode .compare-basket .carCompanyLogo {
  background: #fff;
  display: block;
  float: left;
  margin-right: 10px;

  .providersHighResSpriteImages(~"car"; ~"logo_"; @provider-list; @logo-compare-scale;);
}

.companyLogo {
	.providersHighResSpriteImages(~"car"; ~"logo_"; @provider-list; 0.53333); // 80px
}

.moreInfoVisibleV2 {
	.more-info-content {
		.companyLogo {
			.providersHighResSpriteImages(~"car"; ~"logo_"; @provider-list; 0.6); // 90px
			@media (@sm) {
				.providersHighResSpriteImages(~"car"; ~"logo_"; @provider-list; 0.8); // 120px
			}
			@media (@md) {
				.providersHighResSpriteImages(~"car"; ~"logo_"; @provider-list; 0.9333); // 140px
			}
			@media (@lg) {
				.providersHighResSpriteImages(~"car"; ~"logo_"; @provider-list); // 150px
			}
		}
	}
}

:not(.ie8) & {
	.featuresMode {
		.companyLogo {
			.providersHighResSpriteImages(~"car"; ~"logo_"; @provider-list; @logo-xs-scale);
		}
	}
}

@media (max-width: 480px) {
	.companyLogo {
		.providersHighResSpriteImages(~"car"; ~"logo_"; @provider-list; 0.6); // 90px
	}
	.resultInsert {
		.companyLogo {
			.providersHighResSpriteImages(~"car"; ~"logo_"; @provider-list; 0.4); // 60px
		}
	}
	.moreInfoVisibleV2 {
		.more-info-content {
			.companyLogo {
				.providersHighResSpriteImages(~"car"; ~"logo_"; @provider-list; 0.37333); // 56px
			}
		}
	}
}