@provider-list: ~"BUDD", ~"AI", ~"EXPO", ~"VIRG", ~"REIN", ~"1FOW", ~"EXDD", ~"WOOL", ~"IECO", ~"OZIC", ~"RETI";

.priceMode .compare-basket .carCompanyLogo {
  background: #fff;
  display: block;
  float: left;
  margin-right: 10px;

  .providersHighResSpriteImages(~"car"; ~"logo_"; @provider-list; @logo-compare-scale;);
}

.companyLogo {
	.providersHighResSpriteImages(~"car"; ~"logo_"; @provider-list);
}

.resultInsert {
	.companyLogo {
		//.providersHighResSpriteImages(~"car"; ~"logo_"; @provider-list; @logo-results-scale);
		.providersHighResSpriteImages(~"car"; ~"logo_"; @provider-list; 0.5); // 75px
	}
}

:not(.ie8) & {
	.featuresMode {
		.companyLogo {
			.providersHighResSpriteImages(~"car"; ~"logo_"; @provider-list; @logo-xs-scale);
		}
	}
}

@media (max-width: 480px) {
	.companyLogo {
		//.providersHighResSpriteImages(~"car"; ~"logo_"; @provider-list; @logo-results-scale; ~"");
		.providersHighResSpriteImages(~"car"; ~"logo_"; @provider-list; 0.6; ~""); // 90px
	}
	.resultInsert {
		.companyLogo {
			//.providersHighResSpriteImages(~"car"; ~"logo_"; @provider-list; @logo-xs-scale);
			.providersHighResSpriteImages(~"car"; ~"logo_"; @provider-list; 0.4); // 60px
		}
	}
}