/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@car-logo-1FOW-name: 'car-logo-1FOW';
@car-logo-1FOW-x: 82px;
@car-logo-1FOW-y: 0px;
@car-logo-1FOW-offset-x: -82px;
@car-logo-1FOW-offset-y: 0px;
@car-logo-1FOW-width: 80px;
@car-logo-1FOW-height: 80px;
@car-logo-1FOW-total-width: 326px;
@car-logo-1FOW-total-height: 244px;
@car-logo-1FOW-image: '../../../graphics/logos/sprites/car.png';
@car-logo-1FOW: 82px 0px -82px 0px 80px 80px 326px 244px '../../../graphics/logos/sprites/car.png' 'car-logo-1FOW';
@car-logo-AI-name: 'car-logo-AI';
@car-logo-AI-x: 0px;
@car-logo-AI-y: 164px;
@car-logo-AI-offset-x: 0px;
@car-logo-AI-offset-y: -164px;
@car-logo-AI-width: 80px;
@car-logo-AI-height: 80px;
@car-logo-AI-total-width: 326px;
@car-logo-AI-total-height: 244px;
@car-logo-AI-image: '../../../graphics/logos/sprites/car.png';
@car-logo-AI: 0px 164px 0px -164px 80px 80px 326px 244px '../../../graphics/logos/sprites/car.png' 'car-logo-AI';
@car-logo-BUDD-name: 'car-logo-BUDD';
@car-logo-BUDD-x: 0px;
@car-logo-BUDD-y: 82px;
@car-logo-BUDD-offset-x: 0px;
@car-logo-BUDD-offset-y: -82px;
@car-logo-BUDD-width: 80px;
@car-logo-BUDD-height: 80px;
@car-logo-BUDD-total-width: 326px;
@car-logo-BUDD-total-height: 244px;
@car-logo-BUDD-image: '../../../graphics/logos/sprites/car.png';
@car-logo-BUDD: 0px 82px 0px -82px 80px 80px 326px 244px '../../../graphics/logos/sprites/car.png' 'car-logo-BUDD';
@car-logo-CBCK-name: 'car-logo-CBCK';
@car-logo-CBCK-x: 82px;
@car-logo-CBCK-y: 82px;
@car-logo-CBCK-offset-x: -82px;
@car-logo-CBCK-offset-y: -82px;
@car-logo-CBCK-width: 80px;
@car-logo-CBCK-height: 80px;
@car-logo-CBCK-total-width: 326px;
@car-logo-CBCK-total-height: 244px;
@car-logo-CBCK-image: '../../../graphics/logos/sprites/car.png';
@car-logo-CBCK: 82px 82px -82px -82px 80px 80px 326px 244px '../../../graphics/logos/sprites/car.png' 'car-logo-CBCK';
@car-logo-EXDD-name: 'car-logo-EXDD';
@car-logo-EXDD-x: 164px;
@car-logo-EXDD-y: 0px;
@car-logo-EXDD-offset-x: -164px;
@car-logo-EXDD-offset-y: 0px;
@car-logo-EXDD-width: 80px;
@car-logo-EXDD-height: 80px;
@car-logo-EXDD-total-width: 326px;
@car-logo-EXDD-total-height: 244px;
@car-logo-EXDD-image: '../../../graphics/logos/sprites/car.png';
@car-logo-EXDD: 164px 0px -164px 0px 80px 80px 326px 244px '../../../graphics/logos/sprites/car.png' 'car-logo-EXDD';
@car-logo-EXPO-name: 'car-logo-EXPO';
@car-logo-EXPO-x: 164px;
@car-logo-EXPO-y: 82px;
@car-logo-EXPO-offset-x: -164px;
@car-logo-EXPO-offset-y: -82px;
@car-logo-EXPO-width: 80px;
@car-logo-EXPO-height: 80px;
@car-logo-EXPO-total-width: 326px;
@car-logo-EXPO-total-height: 244px;
@car-logo-EXPO-image: '../../../graphics/logos/sprites/car.png';
@car-logo-EXPO: 164px 82px -164px -82px 80px 80px 326px 244px '../../../graphics/logos/sprites/car.png' 'car-logo-EXPO';
@car-logo-IECO-name: 'car-logo-IECO';
@car-logo-IECO-x: 0px;
@car-logo-IECO-y: 0px;
@car-logo-IECO-offset-x: 0px;
@car-logo-IECO-offset-y: 0px;
@car-logo-IECO-width: 80px;
@car-logo-IECO-height: 80px;
@car-logo-IECO-total-width: 326px;
@car-logo-IECO-total-height: 244px;
@car-logo-IECO-image: '../../../graphics/logos/sprites/car.png';
@car-logo-IECO: 0px 0px 0px 0px 80px 80px 326px 244px '../../../graphics/logos/sprites/car.png' 'car-logo-IECO';
@car-logo-OZIC-name: 'car-logo-OZIC';
@car-logo-OZIC-x: 82px;
@car-logo-OZIC-y: 164px;
@car-logo-OZIC-offset-x: -82px;
@car-logo-OZIC-offset-y: -164px;
@car-logo-OZIC-width: 80px;
@car-logo-OZIC-height: 80px;
@car-logo-OZIC-total-width: 326px;
@car-logo-OZIC-total-height: 244px;
@car-logo-OZIC-image: '../../../graphics/logos/sprites/car.png';
@car-logo-OZIC: 82px 164px -82px -164px 80px 80px 326px 244px '../../../graphics/logos/sprites/car.png' 'car-logo-OZIC';
@car-logo-REIN-name: 'car-logo-REIN';
@car-logo-REIN-x: 164px;
@car-logo-REIN-y: 164px;
@car-logo-REIN-offset-x: -164px;
@car-logo-REIN-offset-y: -164px;
@car-logo-REIN-width: 80px;
@car-logo-REIN-height: 80px;
@car-logo-REIN-total-width: 326px;
@car-logo-REIN-total-height: 244px;
@car-logo-REIN-image: '../../../graphics/logos/sprites/car.png';
@car-logo-REIN: 164px 164px -164px -164px 80px 80px 326px 244px '../../../graphics/logos/sprites/car.png' 'car-logo-REIN';
@car-logo-RETI-name: 'car-logo-RETI';
@car-logo-RETI-x: 246px;
@car-logo-RETI-y: 0px;
@car-logo-RETI-offset-x: -246px;
@car-logo-RETI-offset-y: 0px;
@car-logo-RETI-width: 80px;
@car-logo-RETI-height: 80px;
@car-logo-RETI-total-width: 326px;
@car-logo-RETI-total-height: 244px;
@car-logo-RETI-image: '../../../graphics/logos/sprites/car.png';
@car-logo-RETI: 246px 0px -246px 0px 80px 80px 326px 244px '../../../graphics/logos/sprites/car.png' 'car-logo-RETI';
@car-logo-VIRG-name: 'car-logo-VIRG';
@car-logo-VIRG-x: 246px;
@car-logo-VIRG-y: 82px;
@car-logo-VIRG-offset-x: -246px;
@car-logo-VIRG-offset-y: -82px;
@car-logo-VIRG-width: 80px;
@car-logo-VIRG-height: 80px;
@car-logo-VIRG-total-width: 326px;
@car-logo-VIRG-total-height: 244px;
@car-logo-VIRG-image: '../../../graphics/logos/sprites/car.png';
@car-logo-VIRG: 246px 82px -246px -82px 80px 80px 326px 244px '../../../graphics/logos/sprites/car.png' 'car-logo-VIRG';
@car-logo-WOOL-name: 'car-logo-WOOL';
@car-logo-WOOL-x: 246px;
@car-logo-WOOL-y: 164px;
@car-logo-WOOL-offset-x: -246px;
@car-logo-WOOL-offset-y: -164px;
@car-logo-WOOL-width: 80px;
@car-logo-WOOL-height: 80px;
@car-logo-WOOL-total-width: 326px;
@car-logo-WOOL-total-height: 244px;
@car-logo-WOOL-image: '../../../graphics/logos/sprites/car.png';
@car-logo-WOOL: 246px 164px -246px -164px 80px 80px 326px 244px '../../../graphics/logos/sprites/car.png' 'car-logo-WOOL';
@car-logo-1FOW-2x-name: 'car-logo-1FOW@2x';
@car-logo-1FOW-2x-x: 164px;
@car-logo-1FOW-2x-y: 0px;
@car-logo-1FOW-2x-offset-x: -164px;
@car-logo-1FOW-2x-offset-y: 0px;
@car-logo-1FOW-2x-width: 160px;
@car-logo-1FOW-2x-height: 160px;
@car-logo-1FOW-2x-total-width: 652px;
@car-logo-1FOW-2x-total-height: 488px;
@car-logo-1FOW-2x-image: '../../../graphics/logos/sprites/car@2x.png';
@car-logo-1FOW-2x: 164px 0px -164px 0px 160px 160px 652px 488px '../../../graphics/logos/sprites/car@2x.png' 'car-logo-1FOW@2x';
@car-logo-AI-2x-name: 'car-logo-AI@2x';
@car-logo-AI-2x-x: 0px;
@car-logo-AI-2x-y: 328px;
@car-logo-AI-2x-offset-x: 0px;
@car-logo-AI-2x-offset-y: -328px;
@car-logo-AI-2x-width: 160px;
@car-logo-AI-2x-height: 160px;
@car-logo-AI-2x-total-width: 652px;
@car-logo-AI-2x-total-height: 488px;
@car-logo-AI-2x-image: '../../../graphics/logos/sprites/car@2x.png';
@car-logo-AI-2x: 0px 328px 0px -328px 160px 160px 652px 488px '../../../graphics/logos/sprites/car@2x.png' 'car-logo-AI@2x';
@car-logo-BUDD-2x-name: 'car-logo-BUDD@2x';
@car-logo-BUDD-2x-x: 0px;
@car-logo-BUDD-2x-y: 164px;
@car-logo-BUDD-2x-offset-x: 0px;
@car-logo-BUDD-2x-offset-y: -164px;
@car-logo-BUDD-2x-width: 160px;
@car-logo-BUDD-2x-height: 160px;
@car-logo-BUDD-2x-total-width: 652px;
@car-logo-BUDD-2x-total-height: 488px;
@car-logo-BUDD-2x-image: '../../../graphics/logos/sprites/car@2x.png';
@car-logo-BUDD-2x: 0px 164px 0px -164px 160px 160px 652px 488px '../../../graphics/logos/sprites/car@2x.png' 'car-logo-BUDD@2x';
@car-logo-CBCK-2x-name: 'car-logo-CBCK@2x';
@car-logo-CBCK-2x-x: 164px;
@car-logo-CBCK-2x-y: 164px;
@car-logo-CBCK-2x-offset-x: -164px;
@car-logo-CBCK-2x-offset-y: -164px;
@car-logo-CBCK-2x-width: 160px;
@car-logo-CBCK-2x-height: 160px;
@car-logo-CBCK-2x-total-width: 652px;
@car-logo-CBCK-2x-total-height: 488px;
@car-logo-CBCK-2x-image: '../../../graphics/logos/sprites/car@2x.png';
@car-logo-CBCK-2x: 164px 164px -164px -164px 160px 160px 652px 488px '../../../graphics/logos/sprites/car@2x.png' 'car-logo-CBCK@2x';
@car-logo-EXDD-2x-name: 'car-logo-EXDD@2x';
@car-logo-EXDD-2x-x: 328px;
@car-logo-EXDD-2x-y: 0px;
@car-logo-EXDD-2x-offset-x: -328px;
@car-logo-EXDD-2x-offset-y: 0px;
@car-logo-EXDD-2x-width: 160px;
@car-logo-EXDD-2x-height: 160px;
@car-logo-EXDD-2x-total-width: 652px;
@car-logo-EXDD-2x-total-height: 488px;
@car-logo-EXDD-2x-image: '../../../graphics/logos/sprites/car@2x.png';
@car-logo-EXDD-2x: 328px 0px -328px 0px 160px 160px 652px 488px '../../../graphics/logos/sprites/car@2x.png' 'car-logo-EXDD@2x';
@car-logo-EXPO-2x-name: 'car-logo-EXPO@2x';
@car-logo-EXPO-2x-x: 328px;
@car-logo-EXPO-2x-y: 164px;
@car-logo-EXPO-2x-offset-x: -328px;
@car-logo-EXPO-2x-offset-y: -164px;
@car-logo-EXPO-2x-width: 160px;
@car-logo-EXPO-2x-height: 160px;
@car-logo-EXPO-2x-total-width: 652px;
@car-logo-EXPO-2x-total-height: 488px;
@car-logo-EXPO-2x-image: '../../../graphics/logos/sprites/car@2x.png';
@car-logo-EXPO-2x: 328px 164px -328px -164px 160px 160px 652px 488px '../../../graphics/logos/sprites/car@2x.png' 'car-logo-EXPO@2x';
@car-logo-IECO-2x-name: 'car-logo-IECO@2x';
@car-logo-IECO-2x-x: 0px;
@car-logo-IECO-2x-y: 0px;
@car-logo-IECO-2x-offset-x: 0px;
@car-logo-IECO-2x-offset-y: 0px;
@car-logo-IECO-2x-width: 160px;
@car-logo-IECO-2x-height: 160px;
@car-logo-IECO-2x-total-width: 652px;
@car-logo-IECO-2x-total-height: 488px;
@car-logo-IECO-2x-image: '../../../graphics/logos/sprites/car@2x.png';
@car-logo-IECO-2x: 0px 0px 0px 0px 160px 160px 652px 488px '../../../graphics/logos/sprites/car@2x.png' 'car-logo-IECO@2x';
@car-logo-OZIC-2x-name: 'car-logo-OZIC@2x';
@car-logo-OZIC-2x-x: 164px;
@car-logo-OZIC-2x-y: 328px;
@car-logo-OZIC-2x-offset-x: -164px;
@car-logo-OZIC-2x-offset-y: -328px;
@car-logo-OZIC-2x-width: 160px;
@car-logo-OZIC-2x-height: 160px;
@car-logo-OZIC-2x-total-width: 652px;
@car-logo-OZIC-2x-total-height: 488px;
@car-logo-OZIC-2x-image: '../../../graphics/logos/sprites/car@2x.png';
@car-logo-OZIC-2x: 164px 328px -164px -328px 160px 160px 652px 488px '../../../graphics/logos/sprites/car@2x.png' 'car-logo-OZIC@2x';
@car-logo-REIN-2x-name: 'car-logo-REIN@2x';
@car-logo-REIN-2x-x: 328px;
@car-logo-REIN-2x-y: 328px;
@car-logo-REIN-2x-offset-x: -328px;
@car-logo-REIN-2x-offset-y: -328px;
@car-logo-REIN-2x-width: 160px;
@car-logo-REIN-2x-height: 160px;
@car-logo-REIN-2x-total-width: 652px;
@car-logo-REIN-2x-total-height: 488px;
@car-logo-REIN-2x-image: '../../../graphics/logos/sprites/car@2x.png';
@car-logo-REIN-2x: 328px 328px -328px -328px 160px 160px 652px 488px '../../../graphics/logos/sprites/car@2x.png' 'car-logo-REIN@2x';
@car-logo-RETI-2x-name: 'car-logo-RETI@2x';
@car-logo-RETI-2x-x: 492px;
@car-logo-RETI-2x-y: 0px;
@car-logo-RETI-2x-offset-x: -492px;
@car-logo-RETI-2x-offset-y: 0px;
@car-logo-RETI-2x-width: 160px;
@car-logo-RETI-2x-height: 160px;
@car-logo-RETI-2x-total-width: 652px;
@car-logo-RETI-2x-total-height: 488px;
@car-logo-RETI-2x-image: '../../../graphics/logos/sprites/car@2x.png';
@car-logo-RETI-2x: 492px 0px -492px 0px 160px 160px 652px 488px '../../../graphics/logos/sprites/car@2x.png' 'car-logo-RETI@2x';
@car-logo-VIRG-2x-name: 'car-logo-VIRG@2x';
@car-logo-VIRG-2x-x: 492px;
@car-logo-VIRG-2x-y: 164px;
@car-logo-VIRG-2x-offset-x: -492px;
@car-logo-VIRG-2x-offset-y: -164px;
@car-logo-VIRG-2x-width: 160px;
@car-logo-VIRG-2x-height: 160px;
@car-logo-VIRG-2x-total-width: 652px;
@car-logo-VIRG-2x-total-height: 488px;
@car-logo-VIRG-2x-image: '../../../graphics/logos/sprites/car@2x.png';
@car-logo-VIRG-2x: 492px 164px -492px -164px 160px 160px 652px 488px '../../../graphics/logos/sprites/car@2x.png' 'car-logo-VIRG@2x';
@car-logo-WOOL-2x-name: 'car-logo-WOOL@2x';
@car-logo-WOOL-2x-x: 492px;
@car-logo-WOOL-2x-y: 328px;
@car-logo-WOOL-2x-offset-x: -492px;
@car-logo-WOOL-2x-offset-y: -328px;
@car-logo-WOOL-2x-width: 160px;
@car-logo-WOOL-2x-height: 160px;
@car-logo-WOOL-2x-total-width: 652px;
@car-logo-WOOL-2x-total-height: 488px;
@car-logo-WOOL-2x-image: '../../../graphics/logos/sprites/car@2x.png';
@car-logo-WOOL-2x: 492px 328px -492px -328px 160px 160px 652px 488px '../../../graphics/logos/sprites/car@2x.png' 'car-logo-WOOL@2x';
@car-logo-width: 326px;
@car-logo-height: 244px;
@car-logo-image: '../../../graphics/logos/sprites/car.png';
@car-logo-sprites: @car-logo-1FOW @car-logo-AI @car-logo-BUDD @car-logo-CBCK @car-logo-EXDD @car-logo-EXPO @car-logo-IECO @car-logo-OZIC @car-logo-REIN @car-logo-RETI @car-logo-VIRG @car-logo-WOOL;
@car-logo: 326px 244px '../../../graphics/logos/sprites/car.png' @car-logo-sprites;
@car-logo-2x-width: 652px;
@car-logo-2x-height: 488px;
@car-logo-2x-image: '../../../graphics/logos/sprites/car@2x.png';
@car-logo-2x-sprites: @car-logo-1FOW-2x @car-logo-AI-2x @car-logo-BUDD-2x @car-logo-CBCK-2x @car-logo-EXDD-2x @car-logo-EXPO-2x @car-logo-IECO-2x @car-logo-OZIC-2x @car-logo-REIN-2x @car-logo-RETI-2x @car-logo-VIRG-2x @car-logo-WOOL-2x;
@car-logo-2x: 652px 488px '../../../graphics/logos/sprites/car@2x.png' @car-logo-2x-sprites;

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
@car-logo-1FOW-group-name: 'car-logo-1FOW';
@car-logo-1FOW-group: 'car-logo-1FOW' @car-logo-1FOW @car-logo-1FOW-2x;
@car-logo-AI-group-name: 'car-logo-AI';
@car-logo-AI-group: 'car-logo-AI' @car-logo-AI @car-logo-AI-2x;
@car-logo-BUDD-group-name: 'car-logo-BUDD';
@car-logo-BUDD-group: 'car-logo-BUDD' @car-logo-BUDD @car-logo-BUDD-2x;
@car-logo-CBCK-group-name: 'car-logo-CBCK';
@car-logo-CBCK-group: 'car-logo-CBCK' @car-logo-CBCK @car-logo-CBCK-2x;
@car-logo-EXDD-group-name: 'car-logo-EXDD';
@car-logo-EXDD-group: 'car-logo-EXDD' @car-logo-EXDD @car-logo-EXDD-2x;
@car-logo-EXPO-group-name: 'car-logo-EXPO';
@car-logo-EXPO-group: 'car-logo-EXPO' @car-logo-EXPO @car-logo-EXPO-2x;
@car-logo-IECO-group-name: 'car-logo-IECO';
@car-logo-IECO-group: 'car-logo-IECO' @car-logo-IECO @car-logo-IECO-2x;
@car-logo-OZIC-group-name: 'car-logo-OZIC';
@car-logo-OZIC-group: 'car-logo-OZIC' @car-logo-OZIC @car-logo-OZIC-2x;
@car-logo-REIN-group-name: 'car-logo-REIN';
@car-logo-REIN-group: 'car-logo-REIN' @car-logo-REIN @car-logo-REIN-2x;
@car-logo-RETI-group-name: 'car-logo-RETI';
@car-logo-RETI-group: 'car-logo-RETI' @car-logo-RETI @car-logo-RETI-2x;
@car-logo-VIRG-group-name: 'car-logo-VIRG';
@car-logo-VIRG-group: 'car-logo-VIRG' @car-logo-VIRG @car-logo-VIRG-2x;
@car-logo-WOOL-group-name: 'car-logo-WOOL';
@car-logo-WOOL-group: 'car-logo-WOOL' @car-logo-WOOL @car-logo-WOOL-2x;
@retina-groups: @car-logo-1FOW-group @car-logo-AI-group @car-logo-BUDD-group @car-logo-CBCK-group @car-logo-EXDD-group @car-logo-EXPO-group @car-logo-IECO-group @car-logo-OZIC-group @car-logo-REIN-group @car-logo-RETI-group @car-logo-VIRG-group @car-logo-WOOL-group;


