/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@car-logo-1FOW-name: 'car-logo-1FOW';
@car-logo-1FOW-x: 152px;
@car-logo-1FOW-y: 0px;
@car-logo-1FOW-offset-x: -152px;
@car-logo-1FOW-offset-y: 0px;
@car-logo-1FOW-width: 150px;
@car-logo-1FOW-height: 150px;
@car-logo-1FOW-total-width: 606px;
@car-logo-1FOW-total-height: 454px;
@car-logo-1FOW-image: '../../../graphics/logos/car/spritesheet.png?ts=1473984491577';
@car-logo-1FOW: 152px 0px -152px 0px 150px 150px 606px 454px '../../../graphics/logos/car/spritesheet.png?ts=1473984491577' 'car-logo-1FOW';
@car-logo-AI-name: 'car-logo-AI';
@car-logo-AI-x: 304px;
@car-logo-AI-y: 152px;
@car-logo-AI-offset-x: -304px;
@car-logo-AI-offset-y: -152px;
@car-logo-AI-width: 150px;
@car-logo-AI-height: 150px;
@car-logo-AI-total-width: 606px;
@car-logo-AI-total-height: 454px;
@car-logo-AI-image: '../../../graphics/logos/car/spritesheet.png?ts=1473984491577';
@car-logo-AI: 304px 152px -304px -152px 150px 150px 606px 454px '../../../graphics/logos/car/spritesheet.png?ts=1473984491577' 'car-logo-AI';
@car-logo-BUDD-name: 'car-logo-BUDD';
@car-logo-BUDD-x: 0px;
@car-logo-BUDD-y: 152px;
@car-logo-BUDD-offset-x: 0px;
@car-logo-BUDD-offset-y: -152px;
@car-logo-BUDD-width: 150px;
@car-logo-BUDD-height: 150px;
@car-logo-BUDD-total-width: 606px;
@car-logo-BUDD-total-height: 454px;
@car-logo-BUDD-image: '../../../graphics/logos/car/spritesheet.png?ts=1473984491577';
@car-logo-BUDD: 0px 152px 0px -152px 150px 150px 606px 454px '../../../graphics/logos/car/spritesheet.png?ts=1473984491577' 'car-logo-BUDD';
@car-logo-EXDD-name: 'car-logo-EXDD';
@car-logo-EXDD-x: 152px;
@car-logo-EXDD-y: 152px;
@car-logo-EXDD-offset-x: -152px;
@car-logo-EXDD-offset-y: -152px;
@car-logo-EXDD-width: 150px;
@car-logo-EXDD-height: 150px;
@car-logo-EXDD-total-width: 606px;
@car-logo-EXDD-total-height: 454px;
@car-logo-EXDD-image: '../../../graphics/logos/car/spritesheet.png?ts=1473984491577';
@car-logo-EXDD: 152px 152px -152px -152px 150px 150px 606px 454px '../../../graphics/logos/car/spritesheet.png?ts=1473984491577' 'car-logo-EXDD';
@car-logo-EXPO-name: 'car-logo-EXPO';
@car-logo-EXPO-x: 304px;
@car-logo-EXPO-y: 0px;
@car-logo-EXPO-offset-x: -304px;
@car-logo-EXPO-offset-y: 0px;
@car-logo-EXPO-width: 150px;
@car-logo-EXPO-height: 150px;
@car-logo-EXPO-total-width: 606px;
@car-logo-EXPO-total-height: 454px;
@car-logo-EXPO-image: '../../../graphics/logos/car/spritesheet.png?ts=1473984491577';
@car-logo-EXPO: 304px 0px -304px 0px 150px 150px 606px 454px '../../../graphics/logos/car/spritesheet.png?ts=1473984491577' 'car-logo-EXPO';
@car-logo-IECO-name: 'car-logo-IECO';
@car-logo-IECO-x: 0px;
@car-logo-IECO-y: 0px;
@car-logo-IECO-offset-x: 0px;
@car-logo-IECO-offset-y: 0px;
@car-logo-IECO-width: 150px;
@car-logo-IECO-height: 150px;
@car-logo-IECO-total-width: 606px;
@car-logo-IECO-total-height: 454px;
@car-logo-IECO-image: '../../../graphics/logos/car/spritesheet.png?ts=1473984491577';
@car-logo-IECO: 0px 0px 0px 0px 150px 150px 606px 454px '../../../graphics/logos/car/spritesheet.png?ts=1473984491577' 'car-logo-IECO';
@car-logo-OZIC-name: 'car-logo-OZIC';
@car-logo-OZIC-x: 0px;
@car-logo-OZIC-y: 304px;
@car-logo-OZIC-offset-x: 0px;
@car-logo-OZIC-offset-y: -304px;
@car-logo-OZIC-width: 150px;
@car-logo-OZIC-height: 150px;
@car-logo-OZIC-total-width: 606px;
@car-logo-OZIC-total-height: 454px;
@car-logo-OZIC-image: '../../../graphics/logos/car/spritesheet.png?ts=1473984491577';
@car-logo-OZIC: 0px 304px 0px -304px 150px 150px 606px 454px '../../../graphics/logos/car/spritesheet.png?ts=1473984491577' 'car-logo-OZIC';
@car-logo-REIN-name: 'car-logo-REIN';
@car-logo-REIN-x: 152px;
@car-logo-REIN-y: 304px;
@car-logo-REIN-offset-x: -152px;
@car-logo-REIN-offset-y: -304px;
@car-logo-REIN-width: 150px;
@car-logo-REIN-height: 150px;
@car-logo-REIN-total-width: 606px;
@car-logo-REIN-total-height: 454px;
@car-logo-REIN-image: '../../../graphics/logos/car/spritesheet.png?ts=1473984491577';
@car-logo-REIN: 152px 304px -152px -304px 150px 150px 606px 454px '../../../graphics/logos/car/spritesheet.png?ts=1473984491577' 'car-logo-REIN';
@car-logo-RETI-name: 'car-logo-RETI';
@car-logo-RETI-x: 304px;
@car-logo-RETI-y: 304px;
@car-logo-RETI-offset-x: -304px;
@car-logo-RETI-offset-y: -304px;
@car-logo-RETI-width: 150px;
@car-logo-RETI-height: 150px;
@car-logo-RETI-total-width: 606px;
@car-logo-RETI-total-height: 454px;
@car-logo-RETI-image: '../../../graphics/logos/car/spritesheet.png?ts=1473984491577';
@car-logo-RETI: 304px 304px -304px -304px 150px 150px 606px 454px '../../../graphics/logos/car/spritesheet.png?ts=1473984491577' 'car-logo-RETI';
@car-logo-VIRG-name: 'car-logo-VIRG';
@car-logo-VIRG-x: 456px;
@car-logo-VIRG-y: 0px;
@car-logo-VIRG-offset-x: -456px;
@car-logo-VIRG-offset-y: 0px;
@car-logo-VIRG-width: 150px;
@car-logo-VIRG-height: 150px;
@car-logo-VIRG-total-width: 606px;
@car-logo-VIRG-total-height: 454px;
@car-logo-VIRG-image: '../../../graphics/logos/car/spritesheet.png?ts=1473984491577';
@car-logo-VIRG: 456px 0px -456px 0px 150px 150px 606px 454px '../../../graphics/logos/car/spritesheet.png?ts=1473984491577' 'car-logo-VIRG';
@car-logo-WOOL-name: 'car-logo-WOOL';
@car-logo-WOOL-x: 456px;
@car-logo-WOOL-y: 152px;
@car-logo-WOOL-offset-x: -456px;
@car-logo-WOOL-offset-y: -152px;
@car-logo-WOOL-width: 150px;
@car-logo-WOOL-height: 150px;
@car-logo-WOOL-total-width: 606px;
@car-logo-WOOL-total-height: 454px;
@car-logo-WOOL-image: '../../../graphics/logos/car/spritesheet.png?ts=1473984491577';
@car-logo-WOOL: 456px 152px -456px -152px 150px 150px 606px 454px '../../../graphics/logos/car/spritesheet.png?ts=1473984491577' 'car-logo-WOOL';
@car-logo-1FOW-2x-name: 'car-logo-1FOW@2x';
@car-logo-1FOW-2x-x: 304px;
@car-logo-1FOW-2x-y: 0px;
@car-logo-1FOW-2x-offset-x: -304px;
@car-logo-1FOW-2x-offset-y: 0px;
@car-logo-1FOW-2x-width: 300px;
@car-logo-1FOW-2x-height: 300px;
@car-logo-1FOW-2x-total-width: 1212px;
@car-logo-1FOW-2x-total-height: 908px;
@car-logo-1FOW-2x-image: '../../../graphics/logos/car/spritesheet@2x.png?ts=1473984491577';
@car-logo-1FOW-2x: 304px 0px -304px 0px 300px 300px 1212px 908px '../../../graphics/logos/car/spritesheet@2x.png?ts=1473984491577' 'car-logo-1FOW@2x';
@car-logo-AI-2x-name: 'car-logo-AI@2x';
@car-logo-AI-2x-x: 608px;
@car-logo-AI-2x-y: 304px;
@car-logo-AI-2x-offset-x: -608px;
@car-logo-AI-2x-offset-y: -304px;
@car-logo-AI-2x-width: 300px;
@car-logo-AI-2x-height: 300px;
@car-logo-AI-2x-total-width: 1212px;
@car-logo-AI-2x-total-height: 908px;
@car-logo-AI-2x-image: '../../../graphics/logos/car/spritesheet@2x.png?ts=1473984491577';
@car-logo-AI-2x: 608px 304px -608px -304px 300px 300px 1212px 908px '../../../graphics/logos/car/spritesheet@2x.png?ts=1473984491577' 'car-logo-AI@2x';
@car-logo-BUDD-2x-name: 'car-logo-BUDD@2x';
@car-logo-BUDD-2x-x: 0px;
@car-logo-BUDD-2x-y: 304px;
@car-logo-BUDD-2x-offset-x: 0px;
@car-logo-BUDD-2x-offset-y: -304px;
@car-logo-BUDD-2x-width: 300px;
@car-logo-BUDD-2x-height: 300px;
@car-logo-BUDD-2x-total-width: 1212px;
@car-logo-BUDD-2x-total-height: 908px;
@car-logo-BUDD-2x-image: '../../../graphics/logos/car/spritesheet@2x.png?ts=1473984491577';
@car-logo-BUDD-2x: 0px 304px 0px -304px 300px 300px 1212px 908px '../../../graphics/logos/car/spritesheet@2x.png?ts=1473984491577' 'car-logo-BUDD@2x';
@car-logo-EXDD-2x-name: 'car-logo-EXDD@2x';
@car-logo-EXDD-2x-x: 304px;
@car-logo-EXDD-2x-y: 304px;
@car-logo-EXDD-2x-offset-x: -304px;
@car-logo-EXDD-2x-offset-y: -304px;
@car-logo-EXDD-2x-width: 300px;
@car-logo-EXDD-2x-height: 300px;
@car-logo-EXDD-2x-total-width: 1212px;
@car-logo-EXDD-2x-total-height: 908px;
@car-logo-EXDD-2x-image: '../../../graphics/logos/car/spritesheet@2x.png?ts=1473984491577';
@car-logo-EXDD-2x: 304px 304px -304px -304px 300px 300px 1212px 908px '../../../graphics/logos/car/spritesheet@2x.png?ts=1473984491577' 'car-logo-EXDD@2x';
@car-logo-EXPO-2x-name: 'car-logo-EXPO@2x';
@car-logo-EXPO-2x-x: 608px;
@car-logo-EXPO-2x-y: 0px;
@car-logo-EXPO-2x-offset-x: -608px;
@car-logo-EXPO-2x-offset-y: 0px;
@car-logo-EXPO-2x-width: 300px;
@car-logo-EXPO-2x-height: 300px;
@car-logo-EXPO-2x-total-width: 1212px;
@car-logo-EXPO-2x-total-height: 908px;
@car-logo-EXPO-2x-image: '../../../graphics/logos/car/spritesheet@2x.png?ts=1473984491577';
@car-logo-EXPO-2x: 608px 0px -608px 0px 300px 300px 1212px 908px '../../../graphics/logos/car/spritesheet@2x.png?ts=1473984491577' 'car-logo-EXPO@2x';
@car-logo-IECO-2x-name: 'car-logo-IECO@2x';
@car-logo-IECO-2x-x: 0px;
@car-logo-IECO-2x-y: 0px;
@car-logo-IECO-2x-offset-x: 0px;
@car-logo-IECO-2x-offset-y: 0px;
@car-logo-IECO-2x-width: 300px;
@car-logo-IECO-2x-height: 300px;
@car-logo-IECO-2x-total-width: 1212px;
@car-logo-IECO-2x-total-height: 908px;
@car-logo-IECO-2x-image: '../../../graphics/logos/car/spritesheet@2x.png?ts=1473984491577';
@car-logo-IECO-2x: 0px 0px 0px 0px 300px 300px 1212px 908px '../../../graphics/logos/car/spritesheet@2x.png?ts=1473984491577' 'car-logo-IECO@2x';
@car-logo-OZIC-2x-name: 'car-logo-OZIC@2x';
@car-logo-OZIC-2x-x: 0px;
@car-logo-OZIC-2x-y: 608px;
@car-logo-OZIC-2x-offset-x: 0px;
@car-logo-OZIC-2x-offset-y: -608px;
@car-logo-OZIC-2x-width: 300px;
@car-logo-OZIC-2x-height: 300px;
@car-logo-OZIC-2x-total-width: 1212px;
@car-logo-OZIC-2x-total-height: 908px;
@car-logo-OZIC-2x-image: '../../../graphics/logos/car/spritesheet@2x.png?ts=1473984491577';
@car-logo-OZIC-2x: 0px 608px 0px -608px 300px 300px 1212px 908px '../../../graphics/logos/car/spritesheet@2x.png?ts=1473984491577' 'car-logo-OZIC@2x';
@car-logo-REIN-2x-name: 'car-logo-REIN@2x';
@car-logo-REIN-2x-x: 304px;
@car-logo-REIN-2x-y: 608px;
@car-logo-REIN-2x-offset-x: -304px;
@car-logo-REIN-2x-offset-y: -608px;
@car-logo-REIN-2x-width: 300px;
@car-logo-REIN-2x-height: 300px;
@car-logo-REIN-2x-total-width: 1212px;
@car-logo-REIN-2x-total-height: 908px;
@car-logo-REIN-2x-image: '../../../graphics/logos/car/spritesheet@2x.png?ts=1473984491577';
@car-logo-REIN-2x: 304px 608px -304px -608px 300px 300px 1212px 908px '../../../graphics/logos/car/spritesheet@2x.png?ts=1473984491577' 'car-logo-REIN@2x';
@car-logo-RETI-2x-name: 'car-logo-RETI@2x';
@car-logo-RETI-2x-x: 608px;
@car-logo-RETI-2x-y: 608px;
@car-logo-RETI-2x-offset-x: -608px;
@car-logo-RETI-2x-offset-y: -608px;
@car-logo-RETI-2x-width: 300px;
@car-logo-RETI-2x-height: 300px;
@car-logo-RETI-2x-total-width: 1212px;
@car-logo-RETI-2x-total-height: 908px;
@car-logo-RETI-2x-image: '../../../graphics/logos/car/spritesheet@2x.png?ts=1473984491577';
@car-logo-RETI-2x: 608px 608px -608px -608px 300px 300px 1212px 908px '../../../graphics/logos/car/spritesheet@2x.png?ts=1473984491577' 'car-logo-RETI@2x';
@car-logo-VIRG-2x-name: 'car-logo-VIRG@2x';
@car-logo-VIRG-2x-x: 912px;
@car-logo-VIRG-2x-y: 0px;
@car-logo-VIRG-2x-offset-x: -912px;
@car-logo-VIRG-2x-offset-y: 0px;
@car-logo-VIRG-2x-width: 300px;
@car-logo-VIRG-2x-height: 300px;
@car-logo-VIRG-2x-total-width: 1212px;
@car-logo-VIRG-2x-total-height: 908px;
@car-logo-VIRG-2x-image: '../../../graphics/logos/car/spritesheet@2x.png?ts=1473984491577';
@car-logo-VIRG-2x: 912px 0px -912px 0px 300px 300px 1212px 908px '../../../graphics/logos/car/spritesheet@2x.png?ts=1473984491577' 'car-logo-VIRG@2x';
@car-logo-WOOL-2x-name: 'car-logo-WOOL@2x';
@car-logo-WOOL-2x-x: 912px;
@car-logo-WOOL-2x-y: 304px;
@car-logo-WOOL-2x-offset-x: -912px;
@car-logo-WOOL-2x-offset-y: -304px;
@car-logo-WOOL-2x-width: 300px;
@car-logo-WOOL-2x-height: 300px;
@car-logo-WOOL-2x-total-width: 1212px;
@car-logo-WOOL-2x-total-height: 908px;
@car-logo-WOOL-2x-image: '../../../graphics/logos/car/spritesheet@2x.png?ts=1473984491577';
@car-logo-WOOL-2x: 912px 304px -912px -304px 300px 300px 1212px 908px '../../../graphics/logos/car/spritesheet@2x.png?ts=1473984491577' 'car-logo-WOOL@2x';
@car-logo-width: 606px;
@car-logo-height: 454px;
@car-logo-image: '../../../graphics/logos/car/spritesheet.png?ts=1473984491577';
@car-logo-sprites: @car-logo-1FOW @car-logo-AI @car-logo-BUDD @car-logo-EXDD @car-logo-EXPO @car-logo-IECO @car-logo-OZIC @car-logo-REIN @car-logo-RETI @car-logo-VIRG @car-logo-WOOL;
@car-logo: 606px 454px '../../../graphics/logos/car/spritesheet.png?ts=1473984491577' @car-logo-sprites;
@car-logo-2x-width: 1212px;
@car-logo-2x-height: 908px;
@car-logo-2x-image: '../../../graphics/logos/car/spritesheet@2x.png?ts=1473984491577';
@car-logo-2x-sprites: @car-logo-1FOW-2x @car-logo-AI-2x @car-logo-BUDD-2x @car-logo-EXDD-2x @car-logo-EXPO-2x @car-logo-IECO-2x @car-logo-OZIC-2x @car-logo-REIN-2x @car-logo-RETI-2x @car-logo-VIRG-2x @car-logo-WOOL-2x;
@car-logo-2x: 1212px 908px '../../../graphics/logos/car/spritesheet@2x.png?ts=1473984491577' @car-logo-2x-sprites;

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
@car-logo-1FOW-group-name: 'car-logo-1FOW';
@car-logo-1FOW-group: 'car-logo-1FOW' @car-logo-1FOW @car-logo-1FOW-2x;
@car-logo-AI-group-name: 'car-logo-AI';
@car-logo-AI-group: 'car-logo-AI' @car-logo-AI @car-logo-AI-2x;
@car-logo-BUDD-group-name: 'car-logo-BUDD';
@car-logo-BUDD-group: 'car-logo-BUDD' @car-logo-BUDD @car-logo-BUDD-2x;
@car-logo-EXDD-group-name: 'car-logo-EXDD';
@car-logo-EXDD-group: 'car-logo-EXDD' @car-logo-EXDD @car-logo-EXDD-2x;
@car-logo-EXPO-group-name: 'car-logo-EXPO';
@car-logo-EXPO-group: 'car-logo-EXPO' @car-logo-EXPO @car-logo-EXPO-2x;
@car-logo-IECO-group-name: 'car-logo-IECO';
@car-logo-IECO-group: 'car-logo-IECO' @car-logo-IECO @car-logo-IECO-2x;
@car-logo-OZIC-group-name: 'car-logo-OZIC';
@car-logo-OZIC-group: 'car-logo-OZIC' @car-logo-OZIC @car-logo-OZIC-2x;
@car-logo-REIN-group-name: 'car-logo-REIN';
@car-logo-REIN-group: 'car-logo-REIN' @car-logo-REIN @car-logo-REIN-2x;
@car-logo-RETI-group-name: 'car-logo-RETI';
@car-logo-RETI-group: 'car-logo-RETI' @car-logo-RETI @car-logo-RETI-2x;
@car-logo-VIRG-group-name: 'car-logo-VIRG';
@car-logo-VIRG-group: 'car-logo-VIRG' @car-logo-VIRG @car-logo-VIRG-2x;
@car-logo-WOOL-group-name: 'car-logo-WOOL';
@car-logo-WOOL-group: 'car-logo-WOOL' @car-logo-WOOL @car-logo-WOOL-2x;
@retina-groups: @car-logo-1FOW-group @car-logo-AI-group @car-logo-BUDD-group @car-logo-EXDD-group @car-logo-EXPO-group @car-logo-IECO-group @car-logo-OZIC-group @car-logo-REIN-group @car-logo-RETI-group @car-logo-VIRG-group @car-logo-WOOL-group;


