.car {

	// Add your slide feature here to be hidden by default
	.slide-feature-back,
	.slide-feature-emailquote,
	.slide-feature-emailresults,
	.slide-edit-quote-dropdown,
	.slide-feature-filters,
	.slide-feature-closeMoreInfo
	{
		.slide-feature-hidden();

		// Necessary to make use of the journeyEngine slide-feature styles that animate max-width.
		a {
			white-space: nowrap;
		}
	}

	.slide-feature-pagination {
		display: none;
	}

	// Add your slide feature to the particular step that it needs to be visible
	&[data-step="start"] {
		.slide-feature-emailquote.privacyOptinChecked
		{
			.slide-feature-is-visible();
		}
	}

	&[data-step="options"],
	&[data-step="details"],
	&[data-step="address"] {
		.slide-feature-back,
		.slide-feature-emailquote.privacyOptinChecked
		{
			.slide-feature-is-visible();
		}
	}

	&[data-step="results"] {
		.slide-feature-emailquote.privacyOptinChecked,
		.slide-edit-quote-dropdown,
		.slide-feature-filters
		{
			.slide-feature-is-visible();
		}

		.slide-feature-pagination {
			display: block;
		}
	}

}
.car.moreInfoVisible {

	// Add your slide feature here to be hidden by default
	.slide-edit-quote-dropdown,
	.slide-feature-emailquote
	{
		.slide-feature-hidden() !important;
	}

	.slide-feature-closeMoreInfo
	{
		.slide-feature-is-visible() !important;
	}
}