@cross-color: #FF5F5F;

@positive-messaging-enabled: true;

@car-quote-number: @theme-secondary;
@car-results-minor-text: @gray-light;

// Logo Vars
@logo-results-scale: 0.6667;
@logo-xs-scale: 0.46667;
@logo-compare-scale: 0.25;