.car {
	/* Ideally the radio input styling would be moved
	to a more generic location however given this is
	a split test and will only become permanent if
	successful and at that stage the radio buttons will
	likely become styled and will have a totally
	different struction - akin to the checkboxes
	*/
	#quote_vehicle_selection {
		#quote_vehicle_redbookCodeRow.radio-button-group-row {
			.control-label {
				padding-top: 0px;
			}
		}

		.radio-button-group {
			outline: 0;
			label {
				cursor: pointer;
				input {
					cursor: pointer;
				}
			}
		}

		.has-success {
			.radio-button-group {
				input:checked + label {
					color: @state-success-text;
				}
			}
		}

		.has-error {
			.radio-button-group {
				label {
					color: @state-danger-text;
				}
			}
		}
	}
}