.btn-group-vertical {
  width: 100%;

   > .btn {
      border-color: @btn-form-bg-color;
      margin-bottom: 15px;
      text-align: left;

      &:not(:first-child):not(:last-child),
      &:first-child:not(:last-child),
      &:last-child:not(:first-child) {
        border-radius: @btn-border-radius-base;
      }

      &:last-child {
        margin-bottom: 0;
      }

     &.active {
       &::before {
         content: "\e600";
         .user-select(none);
         font-family: 'framework_font';
         font-size: 16px;
         float: right;
         margin-top: -4px;
         padding: 0.22em;
         line-height: 1;
       }
     }

      input[type=radio] {
        display: none;
        .opacity(0);
      }
   }
}