.journeyEngineSlide {
  &.first {
    padding-top: 0;
  }
}

#results-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  margin: 30px;

}

.cross-sell-widget {
  background-color: @theme-tertiary;
  color: #fff;
  .cross-sell-text {
    padding: 15px 20px;
    .icon {
      font-size: 76px;
    }
  }
}
.circle {
  .icon {
    margin-left: 4px;
    margin-top: 3px;
    color: #fff;
  }
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: @gray-slight-dark;
  display: inline-block;
}

.fuel-band {
  .fuel-price {
    margin-left: 5px;
  }
  margin-top: 10px;
}