.header-wrap {
  @media (@sm) {
    min-height: 80px; //SM
  }
  @media (@md) {
    min-height: 110px; //MD and LG
  }
}

.container-fluid {
  &.no-padding {
    padding: 0;
  }
  .journeyEngineSlide {
    &.first {
      padding-top: 0;
    }
  }
}

/** Sidebar **/
@media (@sm) {
  #results-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    margin: 30px;

    .fieldrow {
      margin: 0 0 15px;
    }
    .fieldrow:last-child {
      margin-bottom: 0;
    }
  }
}

@media (@xs-only) {
  #google-map-container {
    #results-sidebar {
      padding:0;
    }
    .row {
      margin:0;
    }
  }
  .sidebar-widget {
    border: none;
    margin-bottom: 0;
    padding: 15px;
    background-color: #EDEDED;
    z-index: 999;
  }
}

.cross-sell-widget {
  background-color: @theme-tertiary;
  color: #fff;
  .cross-sell-text {
    padding: 15px 20px;
    .icon {
      font-size: 76px;
    }
  }
}

.circle {
  .icon {
    margin: 5px;
    color: #000;
  }
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #c7c7c7;
  display: inline-block;

  .fuel-band-5 & {
    background-color: #d10000;
  }
  .fuel-band-4 & {
    background-color: #ee6840;
  }
  .fuel-band-3 & {
    background-color: #f9c477;
  }
  .fuel-band-2 & {
    background-color: #17de62;
  }
  .fuel-band-1 & {
    background-color: #008634;
  }
}

.price-bands {
  @media (@sm) {
    .fuel-band {
      .fuel-price {
        margin-left: 5px;
      }
      margin-top: 10px;
    }
  }

  @media (@xs-only) {
    text-align: center;
    color: #000;
    font-size: @font-size-small;
    line-height: 1.5;
    overflow: hidden;
    p {
      background-color: #c7c7c7;
      margin:0;
    }
    .fuel-band {
      width:20%;
      float:left;
      &.fuel-band-5 {
        background-color: #d10000;
      }
      &.fuel-band-4 {
        background-color: #ee6840;
      }
      &.fuel-band-3 {
        background-color: #f9c477;
      }
      &.fuel-band-2 {
        background-color: #17de62;
      }
      &.fuel-band-1 {
        background-color: #008634;
      }
    }
  }
}

#price-band-container {
  min-height: 245px;
  padding-bottom: 0;
}

.short-disclaimer {
  font-style: italic;
  color: @theme-default;
  font-size: @font-size-small;
  letter-spacing: -0.025em;
}

#provider-disclaimer {
  text-align: right;
}