.push-top-10 {
  margin-top: 10px;
}
.map-info-window {
  max-width:275px;
  height:90px;
}
.map-address-container {
  float:left;
  width:60%;
  padding-right: 10px;
}
.map-price-container {
  float:left;
  width:40%;
  padding-top: 10px;
  text-align: right;
  .price {
    font-size: @font-size-h3;
    line-height: @font-size-h3;
  }
}

.googleMap .modal-body {
  padding: 0;
}