.map-info-window {
  margin: 0;
  @media (@xs-only) {
    padding-bottom: 10px;
    img {
      width: 50px;
    }
    .closeInfoWindow {
      span {
        padding-top: 10px;
      }
    }
  }
  @media (@sm) {
    width: 300px;
  }
  img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  h5 {
    color: @theme-tertiary;
  }
  .map-price-container {
    .price {
      font-size: @font-size-xlarge;
      font-family: @font-family-theme-bold;
      vertical-align: bottom;
      margin-left: 10px;
    }
  }
  > div {
    padding:0;
    &.fuel-site-logo {
      padding:10px;
    }
  }
}

.map-icon-label {
  .icon {
    font-size: 12px;
    color: #FFFFFF;
    line-height: 40px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    width: 21px;
  }
}

.googleMap .modal-body {
  padding: 0;
}
