.fuel {

  // Add your slide feature here to be hidden by default
  .journeyProgressBar,
  .slide-feature-emailquote {
    .slide-feature-hidden();

    // Necessary to make use of the journeyEngine slide-feature styles that animate max-width.
    a {
      white-space: nowrap;
    }
  }

  // Add your slide feature to the particular step that it needs to be visible
  @media (@sm) {
    #navbar-main {
      display: none !important;
    }
  }
}

.authHeaderContainer{
  float: right;
  .authHeaderElement {
    display: flex;
  }
  &&.smallAuth {
    height: 48px;
    margin-right: -30px;
    @media (min-width: 767px) {
      height: 60px;
    }
    .authHeaderElement {
      height:48px;
      @media (min-width: 767px) {
        height: 60px;
      }
    }
    ~.mobile-callCentreNo {
      margin-right: 235px;
    }
  }
}