//The reason for this is the positioning of the calendar picker is based on the position of this invisible picker.
.home {
	.input-group-addon {
		cursor: pointer;
	}
	.home_startDateFieldset {
		.select {
			.input-group-addon {
				cursor: pointer;
				display: none;

				@media (@sm-only) {
					display: block;
				}

				@media (@xs-only) {
					display: block;
				}
			}
		}
	}
}