.home {
	// Remove padding on slide side column
	.fieldset-column-side {
		padding-top: 0px;
	}

	.no-bottom-margin {
		margin-bottom: 0;
	}

	@media(@sm) {
		// Fix spacing between the security feature checkbox rows on sm+
		.firstSecurityFeatureRow {
			margin-bottom: 2px;
		}
	}
}