
.companyLogo {
	display: block;
	text-align: center;
	vertical-align: middle;
	float: left;
	background-repeat: no-repeat;
	padding: 0;
	width: 80px;
	height: 80px;
	background-size: 80px 80px;
}

.companyLogo.logo_BUDD {
	.highResImg('../../../common/images/logos/home/budget.png'; '../../../common/images/logos/home/budget@2x.png'; 60px; 60px);
}

.companyLogo.logo_VIRG {
	.highResImg('../../../common/images/logos/home/virgin.png'; '../../../common/images/logos/home/virgin@2x.png'; 60px; 60px);
}

.companyLogo.logo_REIN {
	.highResImg('../../../common/images/logos/home/real.png'; '../../../common/images/logos/home/real@2x.png'; 60px; 60px);
}

.companyLogo.logo_EXDD {
	.highResImg('../../../common/images/logos/home/dodo.png'; '../../../common/images/logos/home/dodo@2x.png'; 60px; 60px);
}

.companyLogo.logo_WOOL {
	.highResImg('../../../common/images/logos/home/woolworths.png'; '../../../common/images/logos/home/woolworths@2x.png'; 60px; 60px);
}
