.promotion-container {
    padding-top: 20px;

    .promo-image  {
        background-repeat: no-repeat;
        padding: 0;
        display: block;
        width: 269px;
        height: 153px;
        .highResImg('../competition/energy-1000-offer.png'; '../competition/energy-1000-offer@2x.png'; 269px; 153px);
    }
}