
/**
	In other journeys (car, home etc), the logo is floated beside the product detail, instead of in its own row.
	Hence we need to add these extra styles.
*/
.companyLogo {
  display:block;
  float: none;
  margin: 0 auto;
}
.logo_ACTEWAGL {
	.highResSpriteImg(
		@utilities-logo-ACTEWAGL-width,
		@utilities-logo-ACTEWAGL-height,
		@utilities-logo-ACTEWAGL-image,
		@utilities-logo-ACTEWAGL-offset-x,
		@utilities-logo-ACTEWAGL-offset-y,
		@utilities-logo-ACTEWAGL-total-width,
		@utilities-logo-ACTEWAGL-total-height,
		@utilities-logo-ACTEWAGL-2x-image,
		@utilities-logo-ACTEWAGL-2x-offset-x,
		@utilities-logo-ACTEWAGL-2x-offset-y,
		@utilities-logo-ACTEWAGL-2x-total-width,
		@utilities-logo-ACTEWAGL-2x-total-height,
		@logo-xs-scale
	);
}

.logo_ALINTA_ENERGY {
	.highResSpriteImg(
		@utilities-logo-ALINTA_ENERGY-width,
		@utilities-logo-ALINTA_ENERGY-height,
		@utilities-logo-ALINTA_ENERGY-image,
		@utilities-logo-ALINTA_ENERGY-offset-x,
		@utilities-logo-ALINTA_ENERGY-offset-y,
		@utilities-logo-ALINTA_ENERGY-total-width,
		@utilities-logo-ALINTA_ENERGY-total-height,
		@utilities-logo-ALINTA_ENERGY-2x-image,
		@utilities-logo-ALINTA_ENERGY-2x-offset-x,
		@utilities-logo-ALINTA_ENERGY-2x-offset-y,
		@utilities-logo-ALINTA_ENERGY-2x-total-width,
		@utilities-logo-ALINTA_ENERGY-2x-total-height,
		@logo-xs-scale
	);
}

.logo_CLICK_ENERGY {
	.highResSpriteImg(
		@utilities-logo-CLICK_ENERGY-width,
		@utilities-logo-CLICK_ENERGY-height,
		@utilities-logo-CLICK_ENERGY-image,
		@utilities-logo-CLICK_ENERGY-offset-x,
		@utilities-logo-CLICK_ENERGY-offset-y,
		@utilities-logo-CLICK_ENERGY-total-width,
		@utilities-logo-CLICK_ENERGY-total-height,
		@utilities-logo-CLICK_ENERGY-2x-image,
		@utilities-logo-CLICK_ENERGY-2x-offset-x,
		@utilities-logo-CLICK_ENERGY-2x-offset-y,
		@utilities-logo-CLICK_ENERGY-2x-total-width,
		@utilities-logo-CLICK_ENERGY-2x-total-height,
		@logo-xs-scale
	);
}

.logo_ENERGYAUSTRALIA {
	.highResSpriteImg(
		@utilities-logo-ENERGYAUSTRALIA-width,
		@utilities-logo-ENERGYAUSTRALIA-height,
		@utilities-logo-ENERGYAUSTRALIA-image,
		@utilities-logo-ENERGYAUSTRALIA-offset-x,
		@utilities-logo-ENERGYAUSTRALIA-offset-y,
		@utilities-logo-ENERGYAUSTRALIA-total-width,
		@utilities-logo-ENERGYAUSTRALIA-total-height,
		@utilities-logo-ENERGYAUSTRALIA-2x-image,
		@utilities-logo-ENERGYAUSTRALIA-2x-offset-x,
		@utilities-logo-ENERGYAUSTRALIA-2x-offset-y,
		@utilities-logo-ENERGYAUSTRALIA-2x-total-width,
		@utilities-logo-ENERGYAUSTRALIA-2x-total-height,
		@logo-xs-scale
	);
}

.logo_ONLINE_POWER_AND_GAS {
	.highResSpriteImg(
		@utilities-logo-ONLINE_POWER_AND_GAS-width,
		@utilities-logo-ONLINE_POWER_AND_GAS-height,
		@utilities-logo-ONLINE_POWER_AND_GAS-image,
		@utilities-logo-ONLINE_POWER_AND_GAS-offset-x,
		@utilities-logo-ONLINE_POWER_AND_GAS-offset-y,
		@utilities-logo-ONLINE_POWER_AND_GAS-total-width,
		@utilities-logo-ONLINE_POWER_AND_GAS-total-height,
		@utilities-logo-ONLINE_POWER_AND_GAS-2x-image,
		@utilities-logo-ONLINE_POWER_AND_GAS-2x-offset-x,
		@utilities-logo-ONLINE_POWER_AND_GAS-2x-offset-y,
		@utilities-logo-ONLINE_POWER_AND_GAS-2x-total-width,
		@utilities-logo-ONLINE_POWER_AND_GAS-2x-total-height,
		@logo-xs-scale
	);
}

.logo_ORIGIN {
	.highResSpriteImg(
		@utilities-logo-ORIGIN-width,
		@utilities-logo-ORIGIN-height,
		@utilities-logo-ORIGIN-image,
		@utilities-logo-ORIGIN-offset-x,
		@utilities-logo-ORIGIN-offset-y,
		@utilities-logo-ORIGIN-total-width,
		@utilities-logo-ORIGIN-total-height,
		@utilities-logo-ORIGIN-2x-image,
		@utilities-logo-ORIGIN-2x-offset-x,
		@utilities-logo-ORIGIN-2x-offset-y,
		@utilities-logo-ORIGIN-2x-total-width,
		@utilities-logo-ORIGIN-2x-total-height,
		@logo-xs-scale
	);
}

.logo_PEOPLE_ENERGY {
	.highResSpriteImg(
		@utilities-logo-PEOPLE_ENERGY-width,
		@utilities-logo-PEOPLE_ENERGY-height,
		@utilities-logo-PEOPLE_ENERGY-image,
		@utilities-logo-PEOPLE_ENERGY-offset-x,
		@utilities-logo-PEOPLE_ENERGY-offset-y,
		@utilities-logo-PEOPLE_ENERGY-total-width,
		@utilities-logo-PEOPLE_ENERGY-total-height,
		@utilities-logo-PEOPLE_ENERGY-2x-image,
		@utilities-logo-PEOPLE_ENERGY-2x-offset-x,
		@utilities-logo-PEOPLE_ENERGY-2x-offset-y,
		@utilities-logo-PEOPLE_ENERGY-2x-total-width,
		@utilities-logo-PEOPLE_ENERGY-2x-total-height,
		@logo-xs-scale
	);
}

.logo_POWERSHOP {
	.highResSpriteImg(
		@utilities-logo-POWERSHOP-width,
		@utilities-logo-POWERSHOP-height,
		@utilities-logo-POWERSHOP-image,
		@utilities-logo-POWERSHOP-offset-x,
		@utilities-logo-POWERSHOP-offset-y,
		@utilities-logo-POWERSHOP-total-width,
		@utilities-logo-POWERSHOP-total-height,
		@utilities-logo-POWERSHOP-2x-image,
		@utilities-logo-POWERSHOP-2x-offset-x,
		@utilities-logo-POWERSHOP-2x-offset-y,
		@utilities-logo-POWERSHOP-2x-total-width,
		@utilities-logo-POWERSHOP-2x-total-height,
		@logo-xs-scale
	);
}

.logo_SIMPLY_ENERGY {
	.highResSpriteImg(
		@utilities-logo-SIMPLY_ENERGY-width,
		@utilities-logo-SIMPLY_ENERGY-height,
		@utilities-logo-SIMPLY_ENERGY-image,
		@utilities-logo-SIMPLY_ENERGY-offset-x,
		@utilities-logo-SIMPLY_ENERGY-offset-y,
		@utilities-logo-SIMPLY_ENERGY-total-width,
		@utilities-logo-SIMPLY_ENERGY-total-height,
		@utilities-logo-SIMPLY_ENERGY-2x-image,
		@utilities-logo-SIMPLY_ENERGY-2x-offset-x,
		@utilities-logo-SIMPLY_ENERGY-2x-offset-y,
		@utilities-logo-SIMPLY_ENERGY-2x-total-width,
		@utilities-logo-SIMPLY_ENERGY-2x-total-height,
		@logo-xs-scale
	);
}

.logo_SUMO_POWER {
	.highResSpriteImg(
		@utilities-logo-SUMO_POWER-width,
		@utilities-logo-SUMO_POWER-height,
		@utilities-logo-SUMO_POWER-image,
		@utilities-logo-SUMO_POWER-offset-x,
		@utilities-logo-SUMO_POWER-offset-y,
		@utilities-logo-SUMO_POWER-total-width,
		@utilities-logo-SUMO_POWER-total-height,
		@utilities-logo-SUMO_POWER-2x-image,
		@utilities-logo-SUMO_POWER-2x-offset-x,
		@utilities-logo-SUMO_POWER-2x-offset-y,
		@utilities-logo-SUMO_POWER-2x-total-width,
		@utilities-logo-SUMO_POWER-2x-total-height,
		@logo-xs-scale
	);
}

@media (@sm) {
	.logo_ACTEWAGL {
		.highResSpriteImg(
			@utilities-logo-ACTEWAGL-width,
			@utilities-logo-ACTEWAGL-height,
			@utilities-logo-ACTEWAGL-image,
			@utilities-logo-ACTEWAGL-offset-x,
			@utilities-logo-ACTEWAGL-offset-y,
			@utilities-logo-ACTEWAGL-total-width,
			@utilities-logo-ACTEWAGL-total-height,
			@utilities-logo-ACTEWAGL-2x-image,
			@utilities-logo-ACTEWAGL-2x-offset-x,
			@utilities-logo-ACTEWAGL-2x-offset-y,
			@utilities-logo-ACTEWAGL-2x-total-width,
			@utilities-logo-ACTEWAGL-2x-total-height,
			1, ~""
		);
	}

	.logo_ALINTA_ENERGY {
		.highResSpriteImg(
			@utilities-logo-ALINTA_ENERGY-width,
			@utilities-logo-ALINTA_ENERGY-height,
			@utilities-logo-ALINTA_ENERGY-image,
			@utilities-logo-ALINTA_ENERGY-offset-x,
			@utilities-logo-ALINTA_ENERGY-offset-y,
			@utilities-logo-ALINTA_ENERGY-total-width,
			@utilities-logo-ALINTA_ENERGY-total-height,
			@utilities-logo-ALINTA_ENERGY-2x-image,
			@utilities-logo-ALINTA_ENERGY-2x-offset-x,
			@utilities-logo-ALINTA_ENERGY-2x-offset-y,
			@utilities-logo-ALINTA_ENERGY-2x-total-width,
			@utilities-logo-ALINTA_ENERGY-2x-total-height,
			1, ~""
		);
	}

	.logo_CLICK_ENERGY {
		.highResSpriteImg(
			@utilities-logo-CLICK_ENERGY-width,
			@utilities-logo-CLICK_ENERGY-height,
			@utilities-logo-CLICK_ENERGY-image,
			@utilities-logo-CLICK_ENERGY-offset-x,
			@utilities-logo-CLICK_ENERGY-offset-y,
			@utilities-logo-CLICK_ENERGY-total-width,
			@utilities-logo-CLICK_ENERGY-total-height,
			@utilities-logo-CLICK_ENERGY-2x-image,
			@utilities-logo-CLICK_ENERGY-2x-offset-x,
			@utilities-logo-CLICK_ENERGY-2x-offset-y,
			@utilities-logo-CLICK_ENERGY-2x-total-width,
			@utilities-logo-CLICK_ENERGY-2x-total-height,
			1, ~""
		);
	}

	.logo_ENERGYAUSTRALIA {
		.highResSpriteImg(
			@utilities-logo-ENERGYAUSTRALIA-width,
			@utilities-logo-ENERGYAUSTRALIA-height,
			@utilities-logo-ENERGYAUSTRALIA-image,
			@utilities-logo-ENERGYAUSTRALIA-offset-x,
			@utilities-logo-ENERGYAUSTRALIA-offset-y,
			@utilities-logo-ENERGYAUSTRALIA-total-width,
			@utilities-logo-ENERGYAUSTRALIA-total-height,
			@utilities-logo-ENERGYAUSTRALIA-2x-image,
			@utilities-logo-ENERGYAUSTRALIA-2x-offset-x,
			@utilities-logo-ENERGYAUSTRALIA-2x-offset-y,
			@utilities-logo-ENERGYAUSTRALIA-2x-total-width,
			@utilities-logo-ENERGYAUSTRALIA-2x-total-height,
			1, ~""
		);
	}

	.logo_ONLINE_POWER_AND_GAS {
		.highResSpriteImg(
			@utilities-logo-ONLINE_POWER_AND_GAS-width,
			@utilities-logo-ONLINE_POWER_AND_GAS-height,
			@utilities-logo-ONLINE_POWER_AND_GAS-image,
			@utilities-logo-ONLINE_POWER_AND_GAS-offset-x,
			@utilities-logo-ONLINE_POWER_AND_GAS-offset-y,
			@utilities-logo-ONLINE_POWER_AND_GAS-total-width,
			@utilities-logo-ONLINE_POWER_AND_GAS-total-height,
			@utilities-logo-ONLINE_POWER_AND_GAS-2x-image,
			@utilities-logo-ONLINE_POWER_AND_GAS-2x-offset-x,
			@utilities-logo-ONLINE_POWER_AND_GAS-2x-offset-y,
			@utilities-logo-ONLINE_POWER_AND_GAS-2x-total-width,
			@utilities-logo-ONLINE_POWER_AND_GAS-2x-total-height,
			1, ~""
		);
	}

	.logo_ORIGIN {
		.highResSpriteImg(
			@utilities-logo-ORIGIN-width,
			@utilities-logo-ORIGIN-height,
			@utilities-logo-ORIGIN-image,
			@utilities-logo-ORIGIN-offset-x,
			@utilities-logo-ORIGIN-offset-y,
			@utilities-logo-ORIGIN-total-width,
			@utilities-logo-ORIGIN-total-height,
			@utilities-logo-ORIGIN-2x-image,
			@utilities-logo-ORIGIN-2x-offset-x,
			@utilities-logo-ORIGIN-2x-offset-y,
			@utilities-logo-ORIGIN-2x-total-width,
			@utilities-logo-ORIGIN-2x-total-height,
			1, ~""
		);
	}

	.logo_PEOPLE_ENERGY {
		.highResSpriteImg(
			@utilities-logo-PEOPLE_ENERGY-width,
			@utilities-logo-PEOPLE_ENERGY-height,
			@utilities-logo-PEOPLE_ENERGY-image,
			@utilities-logo-PEOPLE_ENERGY-offset-x,
			@utilities-logo-PEOPLE_ENERGY-offset-y,
			@utilities-logo-PEOPLE_ENERGY-total-width,
			@utilities-logo-PEOPLE_ENERGY-total-height,
			@utilities-logo-PEOPLE_ENERGY-2x-image,
			@utilities-logo-PEOPLE_ENERGY-2x-offset-x,
			@utilities-logo-PEOPLE_ENERGY-2x-offset-y,
			@utilities-logo-PEOPLE_ENERGY-2x-total-width,
			@utilities-logo-PEOPLE_ENERGY-2x-total-height,
			1, ~""
		);
	}

	.logo_POWERSHOP {
		.highResSpriteImg(
			@utilities-logo-POWERSHOP-width,
			@utilities-logo-POWERSHOP-height,
			@utilities-logo-POWERSHOP-image,
			@utilities-logo-POWERSHOP-offset-x,
			@utilities-logo-POWERSHOP-offset-y,
			@utilities-logo-POWERSHOP-total-width,
			@utilities-logo-POWERSHOP-total-height,
			@utilities-logo-POWERSHOP-2x-image,
			@utilities-logo-POWERSHOP-2x-offset-x,
			@utilities-logo-POWERSHOP-2x-offset-y,
			@utilities-logo-POWERSHOP-2x-total-width,
			@utilities-logo-POWERSHOP-2x-total-height,
			1, ~""
		);
	}

	.logo_SIMPLY_ENERGY {
		.highResSpriteImg(
			@utilities-logo-SIMPLY_ENERGY-width,
			@utilities-logo-SIMPLY_ENERGY-height,
			@utilities-logo-SIMPLY_ENERGY-image,
			@utilities-logo-SIMPLY_ENERGY-offset-x,
			@utilities-logo-SIMPLY_ENERGY-offset-y,
			@utilities-logo-SIMPLY_ENERGY-total-width,
			@utilities-logo-SIMPLY_ENERGY-total-height,
			@utilities-logo-SIMPLY_ENERGY-2x-image,
			@utilities-logo-SIMPLY_ENERGY-2x-offset-x,
			@utilities-logo-SIMPLY_ENERGY-2x-offset-y,
			@utilities-logo-SIMPLY_ENERGY-2x-total-width,
			@utilities-logo-SIMPLY_ENERGY-2x-total-height,
			1, ~""
		);
	}

	.logo_SUMO_POWER {
		.highResSpriteImg(
			@utilities-logo-SUMO_POWER-width,
			@utilities-logo-SUMO_POWER-height,
			@utilities-logo-SUMO_POWER-image,
			@utilities-logo-SUMO_POWER-offset-x,
			@utilities-logo-SUMO_POWER-offset-y,
			@utilities-logo-SUMO_POWER-total-width,
			@utilities-logo-SUMO_POWER-total-height,
			@utilities-logo-SUMO_POWER-2x-image,
			@utilities-logo-SUMO_POWER-2x-offset-x,
			@utilities-logo-SUMO_POWER-2x-offset-y,
			@utilities-logo-SUMO_POWER-2x-total-width,
			@utilities-logo-SUMO_POWER-2x-total-height,
			1, ~""
		);
	}
}