.no-heading-margin {
  h2 {
    margin-bottom: 0;
  }

  .error-field {
    margin-top: 12px;

    label {
      margin-bottom: 0;
    }
  }
}

.resultsSummaryContainer {
  margin-top: 10px;
}

#checkboxes-all h6 {
  margin-top: 0;
}

.regionalFuelContainer {
  border: 1px solid @results-border-color;
  padding: 0px;

  td, th {
    text-align: center;
  }
  tr td:first-child,
  tr th:first-child{
    text-align:right;
  }

  tr th {
    font-weight: normal;
    font-family: @font-family-theme-bold;
  }

  .price {
    line-height: @font-size-base;
    font-size: @font-size-base;
  }
}

.journeyEngineSlide  {
  &.first {
    padding-top: 0;
  }
}