
fieldset {
  &.household-details {
    .btn-group {
      label {
        white-space: normal;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  &.additional-estimate-details {
    h5 {
      color: @headings-color;
      font-size: 14px;
    }

    .input-group {
      margin-bottom: 10px;
    }

    .help-icon {
      line-height: 20px;
      margin-left: 10px;
    }
  }
}

.moving-in-date,
.additional-estimate-details,
.additional-estimate-details-row {
  display: none;
}
