.bridgingContainer {
  margin-bottom: 30px;
  @media(min-width: @screen-sm-min) {
    margin-top:35px;
    .paragraphedContent {
      border: 1px solid @theme-tertiary;
    }
  }
  display: none;
  .no-padding {
    padding: 0;
  }
  .modal-closebar {
    top:16px;
    z-index: (@zindex-modal/2) - 100;
  }
}
@media(@xs-only) {
  .more-info-content {
    .modal-closebar {
      display:none;
    }
  }
}

.push-top-15 {
  margin-top: 15px;
}
.push-top-10 {
  margin-top: 10px;
}

.quoteNumber {
  color: @utilities-quote-number;
  @media (min-width: @screen-sm) {
    float:right;
  }
  @media (min-width: @screen-md) {
    margin: 23px 0 0 0;
  }
}
@media(@sm-only) {
  .quoteNumberTitle {
    float: right;
  }
}

/** Common between the two **/
.more-info-content, .call-modal {

  .productName {
    margin:	20px 0;
    @media(@xs-only) {
      margin-top: 25px;
    }
    @media(max-width: 480px) {
      margin-top: 15px !important;
    }
  }

  .quoteNumberTitle {
    text-align:right;
    display: block;
  }
  .paragraphedContent {
    padding: 15px;
  }
}
.more-info-content {

  > .row {
    margin: 0;
  }
  .btn-download {
    margin-right: 15px;
    margin-top: 10px;
  }
  .btn-sm {
    text-transform:uppercase;
  }
  .quoteNumberTitle {
    @media (min-width: @screen-md) {
      float:left;
      margin-top: 28px;
    }
  }
  @media(@xs-only) {
    .paragraphedContent {
      padding-bottom: 0;
    }
    .contentRow {
      background-color:  @moreInfo-contentRow-bg-color;
      margin-top: 15px;
      padding-top: 10px;
      border-top: @moreInfo-contentRow-border-top;

      .promotion {
        color: @moreInfo-contentRow-promotion-color;
      }

      h5 {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }

  ul {
    .list-unstyled;
  }
  li {
    padding: 0 0 5px 20px;
    position: relative;
    .icon {
      position: absolute;
      margin: 2px 0 0 -10px;
    }
  }

  /* Right Side - Displayed on Med+ Only */
  .moreInfoRightColumn {
    .promotion {
      clear:left;
    }
  }

  /* end more-info-content */
}

.call-modal {

  .modal-body {
    margin-right: 0;
    padding: 15px 15px 0 15px;
  }
  .call-ph-num, .call-ph-num a:link {
    color: @call-modal-phone-number-color;
    font-size: 34px;
    text-decoration: none;
  }

/*  .sidebar {
    .offer-terms {
      display:inline-block;
    }
  }*/
  .quoteNumber {
    margin: 0;
  }
  .quoteNumberTitle {
    margin-top:10px;
  }
  .border-top {
    border-top: 1px solid @call-modal-border-top-color;
  }
  /*.prefer-callback-text {
    .text-right;
  }
  @media(@xs-only) {
    .prefer-callback-text {
      .text-center;
    }
  }
  .callback-details-title {
    font-size: 16px;
  }*/

}

