@media (@md) {
  #results-summary-container {
    margin-left: 10px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 12px;

    .vertical-middle {
      line-height: 40px;
    }

    .segment {
      display: inline-block;
      margin-left: 8px;
      padding-left: 10px;
      border-left: 1px solid #fff;
    }
    .segment-last {
      padding-right: 10px;
      border-right: 1px solid #fff;
    }

    .usage {
      top: 6px;
      position: relative;
    }
  }
}