//
// journeyProgressBar
// --------------------------------------------------
/* *********************************************
	NOTE: THIS IS MOVED FROM CORE/LESS FOR HEALTH V2
	IT IS OVERRIDING THE EXISTING ONE. MAYBE THIS WILL BE SUCCESSFUL... MAYBE NOT
	IF IT IS THEN WE WILL NEED TO RUN BOTH OR MIGRATE ALL VERTICALS OVER
 ******************************************** */

.progress-bar-bg-confirmation {
  width: 100%;
  height: 40px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cfefc2+0,c3e4cf+100 */
  background: #cfefc2; /* Old browsers */
  background: -moz-linear-gradient(left, #cfefc2 0%, #c3e4cf 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #cfefc2 0%,#c3e4cf 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #cfefc2 0%,#c3e4cf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfefc2', endColorstr='#c3e4cf',GradientType=1 ); /* IE6-9 */
}

//
// journeyProgressBar
// --------------------------------------------------
.progress-bar-row {

  .container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  background-color: @body-bg;
  min-height: 26px;

  .progress-bar-container {
    height: 0;
  }
  //
  // journeyProgressBar
  // --------------------------------------------------
  .journeyProgressBar_v2 {
    position: relative;
    top: -39px;
    list-style: none;
    padding: 0;
    height: 0;
    @media (@sm) {
      padding: 0 0 10px 0;
    }

    margin-bottom: 0;


    li {
      white-space: nowrap;

      @media(min-width: @screen-md) {
        counter-increment: section;
      }

      text-align: center;
      line-height: 20px;
      display: inline-block;
      font-size: 13px;
      @media (@sm) {
        font-size: 14px;
        line-height: 18px;
      }
      position: relative;
      height: 22px;
      @media(@sm) {
        height: 28px;
      }
      &.end {
        width: 1%;
        div { width: 0 }
      }

      div > span {
        margin-left: 13px;
        position: relative;
        top: 9px;
      }
    }

    :not(.end) {
      a, div {
        &:before {
          @media (min-width: @screen-md) {
            content: counters(section, ".") "\A";
            border-radius: 50%;
          }
        }
      }
    }

    .current {
      a, div {
        &:before {
          background-color: @gray-base;
        }
      }
    }

    a, div {
      font-weight: 600;
      text-decoration: none;
      display: inline-block;
      text-indent: -9px;
      position: absolute;
      left: 9px;
      right: -2px;
      height: 21px;

      &:before {
        border: 3px solid;
        font-size: 20px;
        display: block;
        float: left;
        visibility: visible;
        left: 0;
        margin: 0;
        margin-left: -6px;
        padding: 12px;
        padding-top: 6px;
        padding-left: 21px;
        padding-bottom: 7px;
        line-height: 1;
        text-align: center;
        background-color: transparent;
        box-sizing: border-box;
        font-weight: 600;

        @media(min-width: @screen-md) {
          font-size: 12px;
          margin-top: 4px;
          padding: 5px 8px 7px 17px;
        }

      }
    }
    a {
      &:focus {
        outline: none;
      }
    }
    .complete {
      a, div {
        color: @gray-base;
        border-color: @gray-base;

        &.progress-step-disabled {
          color: @theme-default;
          border-color: @theme-default;
        }

        &:before {
          color: inherit;

          @media(min-width: @screen-md) {
            border-color: inherit;
            background-color: transparent;
            font-size: 12px;
          }
        }

        > span {
          margin-left: 13px;
          position: relative;
          top: 9px;
        }
      }


      &.end {
        a, div {
          &:before {
            color: @journeyProgressBar-separator-color-current;
          }
        }
      }
    }

    .current {
      div {
        color: @journeyProgressBar-color-current;
        border-color: @journeyProgressBar-border-color-current;
        &:before {
          color: white;
          border-color: @gray-base;
        }
      }
    }

    a {
      &:hover {
        span {
          color: @theme-tertiary;
        }
      }
    }
  }
}
