// ie8 fix
html.ie8 body.utilities_design_55 {
    fieldset.contact-details .content{
        padding-left: 45px;
    }
}

body.utilities_design_55 {
    // asterisk
    .contact-details label:after {
        content: "\002A";
        color: @brand-warning;
        padding-left: 2px;
    }

    .contact-details-optin-group label {
        font-weight:normal;
    }
}