body.utilities_design_55 {
  #utilities_estimateDetails_gas_usage.btn-group-justified,
  #utilities_estimateDetails_electricity_usage.btn-group-justified {
    > label.btn {
      // display:block;
      width: 30%;
      padding-top: 10px;
      outline: 0px;

      > h3 {
        margin-top: 0px;
        text-align: left;
        padding-bottom: 0px;
        margin-bottom: 0px;
      }

      @media (@xs-only) {
        width: 100%;

        > span {
          width: 100%;
          clear: both;
          margin: 0px;
          text-align: left;
          i {
            display: inline-block;
            text-align: left;
            margin-left: -20px;
          }
        }
      }

      border-width: 1px;
      border-radius: 10px;
    }

    @media (@sm) {
      border-spacing: 20px;
    }
  }
}