// ie8 fix
html.ie8 body.utilities_design_55 {
  .form-horizontal .gas-usage > .control-label {
    padding-left: 70px;
  }
}


body.utilities_design_55 {
  @media(@sm) {
    .gas-usage .btn-group-justified.visible-lg,
    .electricity-usage .btn-group-justified.visible-lg {
      border-spacing: 20px;

      > label.btn {
        width: 30%;
        padding-top: 10px;
        outline: 0px;

        > h3 {
          margin-top: 0px;
          text-align: left;
          padding-bottom: 0px;
          margin-bottom: 0px;
        }

        border-width: 1px;
        border-radius: 10px;
      }
    }

    .electricity-usage,
    .gas-usage {
      label {
        i {
          font-size: 80px;
        }

        span {
          .optionText {
            display: block;
          }
        }
      }
    }
  }

  @media (@sm-only) {
    .electricity-usage,
    .gas-usage {
      label {
        i {
          font-size: 50px;
        }
      }
    }
  }
}

@media (@sm-only) {
  #utilities_estimateDetails_electricity_meter label.btn {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (@xs-only) {
  .electricity-meter label {
    padding-left: 7px;
    padding-right: 7px;
  }
}