// The top section
.quoteSnapshot {

  .snapshot-title {
    font-size: @font-size-xlarge;
  }
  .segment {
    display: block;
  }
  .snapshot-intro {
    display: none;
  }
}

// The product detail section
.product-snapshot {

  .companyLogo {
    float: right;
  }

}

.snapshot-product-header {
  margin-bottom: 10px;

  h4 {
    margin-top: 0;
    margin-bottom: 0;
  }
}