@font-face {
  font-family: 'ctm-energy';
  src:url('../../../../assets/fonts/ctm-energy.eot');
  src:url('../../../../assets/fonts/ctm-energy.eot#iefix') format('embedded-opentype'),
  url('../../../../assets/fonts/ctm-energy.woff2') format('woff2'),
  url('../../../../assets/fonts/ctm-energy.ttf') format('truetype'),
  url('../../../../assets/fonts/ctm-energy.woff') format('woff'),
  url('../../../../assets/fonts/ctm-energy.svg#ctm-energy') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="energy-"], [class*=" energy-"] {
  font-family: 'ctm-energy';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.energy-bed-sm:before {
  content: "\e900";
}
.energy-bed-md:before {
  content: "\e901";
}
.energy-bed-hi:before {
  content: "\e902";
}
.energy-gas-sm:before {
  content: "\e903";
}
.energy-gas-md:before {
  content: "\e904";
}
.energy-gas-hi:before {
  content: "\e905";
}
.energy-house-sm:before {
  content: "\e906";
}
.energy-house-md:before {
  content: "\e907";
}
.energy-house-hi:before {
  content: "\e908";
}
.energy-people-sm:before {
  content: "\e909";
}
.energy-people-md:before {
  content: "\e90a";
}
.energy-people-hi:before {
  content: "\e90b";
}
.energy-plug-sm:before {
  content: "\e90c";
}
.energy-plug-md:before {
  content: "\e90d";
}
.energy-plug-hi:before {
  content: "\e90e";
}
.energy-combined:before {
  content: "\e90f";
}
.energy-electricity:before {
  content: "\e910";
}
.energy-gas:before {
  content: "\e911";
}

