#utilities_estimateDetails_gas_usage.btn-group-justified {
  > label.btn {
    display:inline-block;
    width:31%;

    @media(@xs-only){
      width:100%;
      >h3 {
        margin-top:0px;
        text-align:left;
      }
      >span {
        width:100%;
        clear:both;
        margin:0px;
        text-align:left;
        i {
          display:inline-block;
          text-align:left;
          margin-left: -20px;
        }
      }
    }

    border-width:1px;
    border-radius: 10px;
    @media(@lg-only) {
      &:first-child + label.btn  {
        margin-right: 20px;
        margin-left: 20px;
      }
      height:205px;
    }
  }
}