fieldset {
  &.household-details {
    .btn-group {
      label {
        white-space: normal;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  &.additional-estimate-details {
    h5 {
      color: @headings-color;
      font-size: 14px;
    }

    .input-group {
      margin-bottom: 10px;
    }

    .help-icon {
      line-height: 20px;
      margin-left: 10px;
    }
  }
}

.moving-in-date,
.additional-estimate-details,
.additional-estimate-details-row {
  display: none;
}

.additional-estimate-details-row {
  .row-content {
    h5 {
      line-height: 21px;
      padding: 0px;
      &.structural {
        display:none;
      }
      .help-icon { /* Fix for Safari */
        width:14px;
        height:20px;
      }
    }
  }
}
@media(min-width: @screen-md) {
  .additional-estimate-details-row {
    .electricity, .gas {
      h5.structural {
        display:block;
      }
      .has-error {
        h5 {
          visibility: hidden;
        }
        .error-field {
          position: absolute;
          top: 0px;
          label {
            line-height: 1em;
          }
        }
      }
    }
  }
}
@media(@lg-only) {
  .additional-estimate-details-row {
    .electricity, .gas {
      .has-error {
        .error-field {
          top: 10px;
        }
      }
    }
  }
}