/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@utilities-logo-ACTEWAGL-name: 'utilities-logo-ACTEWAGL';
@utilities-logo-ACTEWAGL-x: 82px;
@utilities-logo-ACTEWAGL-y: 0px;
@utilities-logo-ACTEWAGL-offset-x: -82px;
@utilities-logo-ACTEWAGL-offset-y: 0px;
@utilities-logo-ACTEWAGL-width: 80px;
@utilities-logo-ACTEWAGL-height: 80px;
@utilities-logo-ACTEWAGL-total-width: 326px;
@utilities-logo-ACTEWAGL-total-height: 244px;
@utilities-logo-ACTEWAGL-image: '../../../assets/graphics/logos/utilities/spritesheet.png';
@utilities-logo-ACTEWAGL: 82px 0px -82px 0px 80px 80px 326px 244px '../../../assets/graphics/logos/utilities/spritesheet.png' 'utilities-logo-ACTEWAGL';
@utilities-logo-ALINTA_ENERGY-name: 'utilities-logo-ALINTA_ENERGY';
@utilities-logo-ALINTA_ENERGY-x: 164px;
@utilities-logo-ALINTA_ENERGY-y: 82px;
@utilities-logo-ALINTA_ENERGY-offset-x: -164px;
@utilities-logo-ALINTA_ENERGY-offset-y: -82px;
@utilities-logo-ALINTA_ENERGY-width: 80px;
@utilities-logo-ALINTA_ENERGY-height: 80px;
@utilities-logo-ALINTA_ENERGY-total-width: 326px;
@utilities-logo-ALINTA_ENERGY-total-height: 244px;
@utilities-logo-ALINTA_ENERGY-image: '../../../assets/graphics/logos/utilities/spritesheet.png';
@utilities-logo-ALINTA_ENERGY: 164px 82px -164px -82px 80px 80px 326px 244px '../../../assets/graphics/logos/utilities/spritesheet.png' 'utilities-logo-ALINTA_ENERGY';
@utilities-logo-CLICK_ENERGY-name: 'utilities-logo-CLICK_ENERGY';
@utilities-logo-CLICK_ENERGY-x: 0px;
@utilities-logo-CLICK_ENERGY-y: 82px;
@utilities-logo-CLICK_ENERGY-offset-x: 0px;
@utilities-logo-CLICK_ENERGY-offset-y: -82px;
@utilities-logo-CLICK_ENERGY-width: 80px;
@utilities-logo-CLICK_ENERGY-height: 80px;
@utilities-logo-CLICK_ENERGY-total-width: 326px;
@utilities-logo-CLICK_ENERGY-total-height: 244px;
@utilities-logo-CLICK_ENERGY-image: '../../../assets/graphics/logos/utilities/spritesheet.png';
@utilities-logo-CLICK_ENERGY: 0px 82px 0px -82px 80px 80px 326px 244px '../../../assets/graphics/logos/utilities/spritesheet.png' 'utilities-logo-CLICK_ENERGY';
@utilities-logo-ENERGYAUSTRALIA-name: 'utilities-logo-ENERGYAUSTRALIA';
@utilities-logo-ENERGYAUSTRALIA-x: 82px;
@utilities-logo-ENERGYAUSTRALIA-y: 82px;
@utilities-logo-ENERGYAUSTRALIA-offset-x: -82px;
@utilities-logo-ENERGYAUSTRALIA-offset-y: -82px;
@utilities-logo-ENERGYAUSTRALIA-width: 80px;
@utilities-logo-ENERGYAUSTRALIA-height: 80px;
@utilities-logo-ENERGYAUSTRALIA-total-width: 326px;
@utilities-logo-ENERGYAUSTRALIA-total-height: 244px;
@utilities-logo-ENERGYAUSTRALIA-image: '../../../assets/graphics/logos/utilities/spritesheet.png';
@utilities-logo-ENERGYAUSTRALIA: 82px 82px -82px -82px 80px 80px 326px 244px '../../../assets/graphics/logos/utilities/spritesheet.png' 'utilities-logo-ENERGYAUSTRALIA';
@utilities-logo-MOMENTUM_ENERGY-name: 'utilities-logo-MOMENTUM_ENERGY';
@utilities-logo-MOMENTUM_ENERGY-x: 164px;
@utilities-logo-MOMENTUM_ENERGY-y: 0px;
@utilities-logo-MOMENTUM_ENERGY-offset-x: -164px;
@utilities-logo-MOMENTUM_ENERGY-offset-y: 0px;
@utilities-logo-MOMENTUM_ENERGY-width: 80px;
@utilities-logo-MOMENTUM_ENERGY-height: 80px;
@utilities-logo-MOMENTUM_ENERGY-total-width: 326px;
@utilities-logo-MOMENTUM_ENERGY-total-height: 244px;
@utilities-logo-MOMENTUM_ENERGY-image: '../../../assets/graphics/logos/utilities/spritesheet.png';
@utilities-logo-MOMENTUM_ENERGY: 164px 0px -164px 0px 80px 80px 326px 244px '../../../assets/graphics/logos/utilities/spritesheet.png' 'utilities-logo-MOMENTUM_ENERGY';
@utilities-logo-ONLINE_POWER_AND_GAS-name: 'utilities-logo-ONLINE_POWER_AND_GAS';
@utilities-logo-ONLINE_POWER_AND_GAS-x: 0px;
@utilities-logo-ONLINE_POWER_AND_GAS-y: 0px;
@utilities-logo-ONLINE_POWER_AND_GAS-offset-x: 0px;
@utilities-logo-ONLINE_POWER_AND_GAS-offset-y: 0px;
@utilities-logo-ONLINE_POWER_AND_GAS-width: 80px;
@utilities-logo-ONLINE_POWER_AND_GAS-height: 80px;
@utilities-logo-ONLINE_POWER_AND_GAS-total-width: 326px;
@utilities-logo-ONLINE_POWER_AND_GAS-total-height: 244px;
@utilities-logo-ONLINE_POWER_AND_GAS-image: '../../../assets/graphics/logos/utilities/spritesheet.png';
@utilities-logo-ONLINE_POWER_AND_GAS: 0px 0px 0px 0px 80px 80px 326px 244px '../../../assets/graphics/logos/utilities/spritesheet.png' 'utilities-logo-ONLINE_POWER_AND_GAS';
@utilities-logo-ORIGIN-name: 'utilities-logo-ORIGIN';
@utilities-logo-ORIGIN-x: 0px;
@utilities-logo-ORIGIN-y: 164px;
@utilities-logo-ORIGIN-offset-x: 0px;
@utilities-logo-ORIGIN-offset-y: -164px;
@utilities-logo-ORIGIN-width: 80px;
@utilities-logo-ORIGIN-height: 80px;
@utilities-logo-ORIGIN-total-width: 326px;
@utilities-logo-ORIGIN-total-height: 244px;
@utilities-logo-ORIGIN-image: '../../../assets/graphics/logos/utilities/spritesheet.png';
@utilities-logo-ORIGIN: 0px 164px 0px -164px 80px 80px 326px 244px '../../../assets/graphics/logos/utilities/spritesheet.png' 'utilities-logo-ORIGIN';
@utilities-logo-PEOPLE_ENERGY-name: 'utilities-logo-PEOPLE_ENERGY';
@utilities-logo-PEOPLE_ENERGY-x: 82px;
@utilities-logo-PEOPLE_ENERGY-y: 164px;
@utilities-logo-PEOPLE_ENERGY-offset-x: -82px;
@utilities-logo-PEOPLE_ENERGY-offset-y: -164px;
@utilities-logo-PEOPLE_ENERGY-width: 80px;
@utilities-logo-PEOPLE_ENERGY-height: 80px;
@utilities-logo-PEOPLE_ENERGY-total-width: 326px;
@utilities-logo-PEOPLE_ENERGY-total-height: 244px;
@utilities-logo-PEOPLE_ENERGY-image: '../../../assets/graphics/logos/utilities/spritesheet.png';
@utilities-logo-PEOPLE_ENERGY: 82px 164px -82px -164px 80px 80px 326px 244px '../../../assets/graphics/logos/utilities/spritesheet.png' 'utilities-logo-PEOPLE_ENERGY';
@utilities-logo-POWERSHOP-name: 'utilities-logo-POWERSHOP';
@utilities-logo-POWERSHOP-x: 164px;
@utilities-logo-POWERSHOP-y: 164px;
@utilities-logo-POWERSHOP-offset-x: -164px;
@utilities-logo-POWERSHOP-offset-y: -164px;
@utilities-logo-POWERSHOP-width: 80px;
@utilities-logo-POWERSHOP-height: 80px;
@utilities-logo-POWERSHOP-total-width: 326px;
@utilities-logo-POWERSHOP-total-height: 244px;
@utilities-logo-POWERSHOP-image: '../../../assets/graphics/logos/utilities/spritesheet.png';
@utilities-logo-POWERSHOP: 164px 164px -164px -164px 80px 80px 326px 244px '../../../assets/graphics/logos/utilities/spritesheet.png' 'utilities-logo-POWERSHOP';
@utilities-logo-SIMPLY_ENERGY-name: 'utilities-logo-SIMPLY_ENERGY';
@utilities-logo-SIMPLY_ENERGY-x: 246px;
@utilities-logo-SIMPLY_ENERGY-y: 0px;
@utilities-logo-SIMPLY_ENERGY-offset-x: -246px;
@utilities-logo-SIMPLY_ENERGY-offset-y: 0px;
@utilities-logo-SIMPLY_ENERGY-width: 80px;
@utilities-logo-SIMPLY_ENERGY-height: 80px;
@utilities-logo-SIMPLY_ENERGY-total-width: 326px;
@utilities-logo-SIMPLY_ENERGY-total-height: 244px;
@utilities-logo-SIMPLY_ENERGY-image: '../../../assets/graphics/logos/utilities/spritesheet.png';
@utilities-logo-SIMPLY_ENERGY: 246px 0px -246px 0px 80px 80px 326px 244px '../../../assets/graphics/logos/utilities/spritesheet.png' 'utilities-logo-SIMPLY_ENERGY';
@utilities-logo-SUMO_POWER-name: 'utilities-logo-SUMO_POWER';
@utilities-logo-SUMO_POWER-x: 246px;
@utilities-logo-SUMO_POWER-y: 82px;
@utilities-logo-SUMO_POWER-offset-x: -246px;
@utilities-logo-SUMO_POWER-offset-y: -82px;
@utilities-logo-SUMO_POWER-width: 80px;
@utilities-logo-SUMO_POWER-height: 80px;
@utilities-logo-SUMO_POWER-total-width: 326px;
@utilities-logo-SUMO_POWER-total-height: 244px;
@utilities-logo-SUMO_POWER-image: '../../../assets/graphics/logos/utilities/spritesheet.png';
@utilities-logo-SUMO_POWER: 246px 82px -246px -82px 80px 80px 326px 244px '../../../assets/graphics/logos/utilities/spritesheet.png' 'utilities-logo-SUMO_POWER';
@utilities-logo-ACTEWAGL-2x-name: 'utilities-logo-ACTEWAGL@2x';
@utilities-logo-ACTEWAGL-2x-x: 164px;
@utilities-logo-ACTEWAGL-2x-y: 0px;
@utilities-logo-ACTEWAGL-2x-offset-x: -164px;
@utilities-logo-ACTEWAGL-2x-offset-y: 0px;
@utilities-logo-ACTEWAGL-2x-width: 160px;
@utilities-logo-ACTEWAGL-2x-height: 160px;
@utilities-logo-ACTEWAGL-2x-total-width: 652px;
@utilities-logo-ACTEWAGL-2x-total-height: 488px;
@utilities-logo-ACTEWAGL-2x-image: '../../../assets/graphics/logos/utilities/spritesheet@2x.png';
@utilities-logo-ACTEWAGL-2x: 164px 0px -164px 0px 160px 160px 652px 488px '../../../assets/graphics/logos/utilities/spritesheet@2x.png' 'utilities-logo-ACTEWAGL@2x';
@utilities-logo-ALINTA_ENERGY-2x-name: 'utilities-logo-ALINTA_ENERGY@2x';
@utilities-logo-ALINTA_ENERGY-2x-x: 328px;
@utilities-logo-ALINTA_ENERGY-2x-y: 164px;
@utilities-logo-ALINTA_ENERGY-2x-offset-x: -328px;
@utilities-logo-ALINTA_ENERGY-2x-offset-y: -164px;
@utilities-logo-ALINTA_ENERGY-2x-width: 160px;
@utilities-logo-ALINTA_ENERGY-2x-height: 160px;
@utilities-logo-ALINTA_ENERGY-2x-total-width: 652px;
@utilities-logo-ALINTA_ENERGY-2x-total-height: 488px;
@utilities-logo-ALINTA_ENERGY-2x-image: '../../../assets/graphics/logos/utilities/spritesheet@2x.png';
@utilities-logo-ALINTA_ENERGY-2x: 328px 164px -328px -164px 160px 160px 652px 488px '../../../assets/graphics/logos/utilities/spritesheet@2x.png' 'utilities-logo-ALINTA_ENERGY@2x';
@utilities-logo-CLICK_ENERGY-2x-name: 'utilities-logo-CLICK_ENERGY@2x';
@utilities-logo-CLICK_ENERGY-2x-x: 0px;
@utilities-logo-CLICK_ENERGY-2x-y: 164px;
@utilities-logo-CLICK_ENERGY-2x-offset-x: 0px;
@utilities-logo-CLICK_ENERGY-2x-offset-y: -164px;
@utilities-logo-CLICK_ENERGY-2x-width: 160px;
@utilities-logo-CLICK_ENERGY-2x-height: 160px;
@utilities-logo-CLICK_ENERGY-2x-total-width: 652px;
@utilities-logo-CLICK_ENERGY-2x-total-height: 488px;
@utilities-logo-CLICK_ENERGY-2x-image: '../../../assets/graphics/logos/utilities/spritesheet@2x.png';
@utilities-logo-CLICK_ENERGY-2x: 0px 164px 0px -164px 160px 160px 652px 488px '../../../assets/graphics/logos/utilities/spritesheet@2x.png' 'utilities-logo-CLICK_ENERGY@2x';
@utilities-logo-ENERGYAUSTRALIA-2x-name: 'utilities-logo-ENERGYAUSTRALIA@2x';
@utilities-logo-ENERGYAUSTRALIA-2x-x: 164px;
@utilities-logo-ENERGYAUSTRALIA-2x-y: 164px;
@utilities-logo-ENERGYAUSTRALIA-2x-offset-x: -164px;
@utilities-logo-ENERGYAUSTRALIA-2x-offset-y: -164px;
@utilities-logo-ENERGYAUSTRALIA-2x-width: 160px;
@utilities-logo-ENERGYAUSTRALIA-2x-height: 160px;
@utilities-logo-ENERGYAUSTRALIA-2x-total-width: 652px;
@utilities-logo-ENERGYAUSTRALIA-2x-total-height: 488px;
@utilities-logo-ENERGYAUSTRALIA-2x-image: '../../../assets/graphics/logos/utilities/spritesheet@2x.png';
@utilities-logo-ENERGYAUSTRALIA-2x: 164px 164px -164px -164px 160px 160px 652px 488px '../../../assets/graphics/logos/utilities/spritesheet@2x.png' 'utilities-logo-ENERGYAUSTRALIA@2x';
@utilities-logo-MOMENTUM_ENERGY-2x-name: 'utilities-logo-MOMENTUM_ENERGY@2x';
@utilities-logo-MOMENTUM_ENERGY-2x-x: 328px;
@utilities-logo-MOMENTUM_ENERGY-2x-y: 0px;
@utilities-logo-MOMENTUM_ENERGY-2x-offset-x: -328px;
@utilities-logo-MOMENTUM_ENERGY-2x-offset-y: 0px;
@utilities-logo-MOMENTUM_ENERGY-2x-width: 160px;
@utilities-logo-MOMENTUM_ENERGY-2x-height: 160px;
@utilities-logo-MOMENTUM_ENERGY-2x-total-width: 652px;
@utilities-logo-MOMENTUM_ENERGY-2x-total-height: 488px;
@utilities-logo-MOMENTUM_ENERGY-2x-image: '../../../assets/graphics/logos/utilities/spritesheet@2x.png';
@utilities-logo-MOMENTUM_ENERGY-2x: 328px 0px -328px 0px 160px 160px 652px 488px '../../../assets/graphics/logos/utilities/spritesheet@2x.png' 'utilities-logo-MOMENTUM_ENERGY@2x';
@utilities-logo-ONLINE_POWER_AND_GAS-2x-name: 'utilities-logo-ONLINE_POWER_AND_GAS@2x';
@utilities-logo-ONLINE_POWER_AND_GAS-2x-x: 0px;
@utilities-logo-ONLINE_POWER_AND_GAS-2x-y: 0px;
@utilities-logo-ONLINE_POWER_AND_GAS-2x-offset-x: 0px;
@utilities-logo-ONLINE_POWER_AND_GAS-2x-offset-y: 0px;
@utilities-logo-ONLINE_POWER_AND_GAS-2x-width: 160px;
@utilities-logo-ONLINE_POWER_AND_GAS-2x-height: 160px;
@utilities-logo-ONLINE_POWER_AND_GAS-2x-total-width: 652px;
@utilities-logo-ONLINE_POWER_AND_GAS-2x-total-height: 488px;
@utilities-logo-ONLINE_POWER_AND_GAS-2x-image: '../../../assets/graphics/logos/utilities/spritesheet@2x.png';
@utilities-logo-ONLINE_POWER_AND_GAS-2x: 0px 0px 0px 0px 160px 160px 652px 488px '../../../assets/graphics/logos/utilities/spritesheet@2x.png' 'utilities-logo-ONLINE_POWER_AND_GAS@2x';
@utilities-logo-ORIGIN-2x-name: 'utilities-logo-ORIGIN@2x';
@utilities-logo-ORIGIN-2x-x: 0px;
@utilities-logo-ORIGIN-2x-y: 328px;
@utilities-logo-ORIGIN-2x-offset-x: 0px;
@utilities-logo-ORIGIN-2x-offset-y: -328px;
@utilities-logo-ORIGIN-2x-width: 160px;
@utilities-logo-ORIGIN-2x-height: 160px;
@utilities-logo-ORIGIN-2x-total-width: 652px;
@utilities-logo-ORIGIN-2x-total-height: 488px;
@utilities-logo-ORIGIN-2x-image: '../../../assets/graphics/logos/utilities/spritesheet@2x.png';
@utilities-logo-ORIGIN-2x: 0px 328px 0px -328px 160px 160px 652px 488px '../../../assets/graphics/logos/utilities/spritesheet@2x.png' 'utilities-logo-ORIGIN@2x';
@utilities-logo-PEOPLE_ENERGY-2x-name: 'utilities-logo-PEOPLE_ENERGY@2x';
@utilities-logo-PEOPLE_ENERGY-2x-x: 164px;
@utilities-logo-PEOPLE_ENERGY-2x-y: 328px;
@utilities-logo-PEOPLE_ENERGY-2x-offset-x: -164px;
@utilities-logo-PEOPLE_ENERGY-2x-offset-y: -328px;
@utilities-logo-PEOPLE_ENERGY-2x-width: 160px;
@utilities-logo-PEOPLE_ENERGY-2x-height: 160px;
@utilities-logo-PEOPLE_ENERGY-2x-total-width: 652px;
@utilities-logo-PEOPLE_ENERGY-2x-total-height: 488px;
@utilities-logo-PEOPLE_ENERGY-2x-image: '../../../assets/graphics/logos/utilities/spritesheet@2x.png';
@utilities-logo-PEOPLE_ENERGY-2x: 164px 328px -164px -328px 160px 160px 652px 488px '../../../assets/graphics/logos/utilities/spritesheet@2x.png' 'utilities-logo-PEOPLE_ENERGY@2x';
@utilities-logo-POWERSHOP-2x-name: 'utilities-logo-POWERSHOP@2x';
@utilities-logo-POWERSHOP-2x-x: 328px;
@utilities-logo-POWERSHOP-2x-y: 328px;
@utilities-logo-POWERSHOP-2x-offset-x: -328px;
@utilities-logo-POWERSHOP-2x-offset-y: -328px;
@utilities-logo-POWERSHOP-2x-width: 160px;
@utilities-logo-POWERSHOP-2x-height: 160px;
@utilities-logo-POWERSHOP-2x-total-width: 652px;
@utilities-logo-POWERSHOP-2x-total-height: 488px;
@utilities-logo-POWERSHOP-2x-image: '../../../assets/graphics/logos/utilities/spritesheet@2x.png';
@utilities-logo-POWERSHOP-2x: 328px 328px -328px -328px 160px 160px 652px 488px '../../../assets/graphics/logos/utilities/spritesheet@2x.png' 'utilities-logo-POWERSHOP@2x';
@utilities-logo-SIMPLY_ENERGY-2x-name: 'utilities-logo-SIMPLY_ENERGY@2x';
@utilities-logo-SIMPLY_ENERGY-2x-x: 492px;
@utilities-logo-SIMPLY_ENERGY-2x-y: 0px;
@utilities-logo-SIMPLY_ENERGY-2x-offset-x: -492px;
@utilities-logo-SIMPLY_ENERGY-2x-offset-y: 0px;
@utilities-logo-SIMPLY_ENERGY-2x-width: 160px;
@utilities-logo-SIMPLY_ENERGY-2x-height: 160px;
@utilities-logo-SIMPLY_ENERGY-2x-total-width: 652px;
@utilities-logo-SIMPLY_ENERGY-2x-total-height: 488px;
@utilities-logo-SIMPLY_ENERGY-2x-image: '../../../assets/graphics/logos/utilities/spritesheet@2x.png';
@utilities-logo-SIMPLY_ENERGY-2x: 492px 0px -492px 0px 160px 160px 652px 488px '../../../assets/graphics/logos/utilities/spritesheet@2x.png' 'utilities-logo-SIMPLY_ENERGY@2x';
@utilities-logo-SUMO_POWER-2x-name: 'utilities-logo-SUMO_POWER@2x';
@utilities-logo-SUMO_POWER-2x-x: 492px;
@utilities-logo-SUMO_POWER-2x-y: 164px;
@utilities-logo-SUMO_POWER-2x-offset-x: -492px;
@utilities-logo-SUMO_POWER-2x-offset-y: -164px;
@utilities-logo-SUMO_POWER-2x-width: 160px;
@utilities-logo-SUMO_POWER-2x-height: 160px;
@utilities-logo-SUMO_POWER-2x-total-width: 652px;
@utilities-logo-SUMO_POWER-2x-total-height: 488px;
@utilities-logo-SUMO_POWER-2x-image: '../../../assets/graphics/logos/utilities/spritesheet@2x.png';
@utilities-logo-SUMO_POWER-2x: 492px 164px -492px -164px 160px 160px 652px 488px '../../../assets/graphics/logos/utilities/spritesheet@2x.png' 'utilities-logo-SUMO_POWER@2x';
@utilities-logo-width: 326px;
@utilities-logo-height: 244px;
@utilities-logo-image: '../../../assets/graphics/logos/utilities/spritesheet.png';
@utilities-logo-sprites: @utilities-logo-ACTEWAGL @utilities-logo-ALINTA_ENERGY @utilities-logo-CLICK_ENERGY @utilities-logo-ENERGYAUSTRALIA @utilities-logo-MOMENTUM_ENERGY @utilities-logo-ONLINE_POWER_AND_GAS @utilities-logo-ORIGIN @utilities-logo-PEOPLE_ENERGY @utilities-logo-POWERSHOP @utilities-logo-SIMPLY_ENERGY @utilities-logo-SUMO_POWER;
@utilities-logo: 326px 244px '../../../assets/graphics/logos/utilities/spritesheet.png' @utilities-logo-sprites;
@utilities-logo-2x-width: 652px;
@utilities-logo-2x-height: 488px;
@utilities-logo-2x-image: '../../../assets/graphics/logos/utilities/spritesheet@2x.png';
@utilities-logo-2x-sprites: @utilities-logo-ACTEWAGL-2x @utilities-logo-ALINTA_ENERGY-2x @utilities-logo-CLICK_ENERGY-2x @utilities-logo-ENERGYAUSTRALIA-2x @utilities-logo-MOMENTUM_ENERGY-2x @utilities-logo-ONLINE_POWER_AND_GAS-2x @utilities-logo-ORIGIN-2x @utilities-logo-PEOPLE_ENERGY-2x @utilities-logo-POWERSHOP-2x @utilities-logo-SIMPLY_ENERGY-2x @utilities-logo-SUMO_POWER-2x;
@utilities-logo-2x: 652px 488px '../../../assets/graphics/logos/utilities/spritesheet@2x.png' @utilities-logo-2x-sprites;

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
@utilities-logo-ACTEWAGL-group-name: 'utilities-logo-ACTEWAGL';
@utilities-logo-ACTEWAGL-group: 'utilities-logo-ACTEWAGL' @utilities-logo-ACTEWAGL @utilities-logo-ACTEWAGL-2x;
@utilities-logo-ALINTA_ENERGY-group-name: 'utilities-logo-ALINTA_ENERGY';
@utilities-logo-ALINTA_ENERGY-group: 'utilities-logo-ALINTA_ENERGY' @utilities-logo-ALINTA_ENERGY @utilities-logo-ALINTA_ENERGY-2x;
@utilities-logo-CLICK_ENERGY-group-name: 'utilities-logo-CLICK_ENERGY';
@utilities-logo-CLICK_ENERGY-group: 'utilities-logo-CLICK_ENERGY' @utilities-logo-CLICK_ENERGY @utilities-logo-CLICK_ENERGY-2x;
@utilities-logo-ENERGYAUSTRALIA-group-name: 'utilities-logo-ENERGYAUSTRALIA';
@utilities-logo-ENERGYAUSTRALIA-group: 'utilities-logo-ENERGYAUSTRALIA' @utilities-logo-ENERGYAUSTRALIA @utilities-logo-ENERGYAUSTRALIA-2x;
@utilities-logo-MOMENTUM_ENERGY-group-name: 'utilities-logo-MOMENTUM_ENERGY';
@utilities-logo-MOMENTUM_ENERGY-group: 'utilities-logo-MOMENTUM_ENERGY' @utilities-logo-MOMENTUM_ENERGY @utilities-logo-MOMENTUM_ENERGY-2x;
@utilities-logo-ONLINE_POWER_AND_GAS-group-name: 'utilities-logo-ONLINE_POWER_AND_GAS';
@utilities-logo-ONLINE_POWER_AND_GAS-group: 'utilities-logo-ONLINE_POWER_AND_GAS' @utilities-logo-ONLINE_POWER_AND_GAS @utilities-logo-ONLINE_POWER_AND_GAS-2x;
@utilities-logo-ORIGIN-group-name: 'utilities-logo-ORIGIN';
@utilities-logo-ORIGIN-group: 'utilities-logo-ORIGIN' @utilities-logo-ORIGIN @utilities-logo-ORIGIN-2x;
@utilities-logo-PEOPLE_ENERGY-group-name: 'utilities-logo-PEOPLE_ENERGY';
@utilities-logo-PEOPLE_ENERGY-group: 'utilities-logo-PEOPLE_ENERGY' @utilities-logo-PEOPLE_ENERGY @utilities-logo-PEOPLE_ENERGY-2x;
@utilities-logo-POWERSHOP-group-name: 'utilities-logo-POWERSHOP';
@utilities-logo-POWERSHOP-group: 'utilities-logo-POWERSHOP' @utilities-logo-POWERSHOP @utilities-logo-POWERSHOP-2x;
@utilities-logo-SIMPLY_ENERGY-group-name: 'utilities-logo-SIMPLY_ENERGY';
@utilities-logo-SIMPLY_ENERGY-group: 'utilities-logo-SIMPLY_ENERGY' @utilities-logo-SIMPLY_ENERGY @utilities-logo-SIMPLY_ENERGY-2x;
@utilities-logo-SUMO_POWER-group-name: 'utilities-logo-SUMO_POWER';
@utilities-logo-SUMO_POWER-group: 'utilities-logo-SUMO_POWER' @utilities-logo-SUMO_POWER @utilities-logo-SUMO_POWER-2x;
@retina-groups: @utilities-logo-ACTEWAGL-group @utilities-logo-ALINTA_ENERGY-group @utilities-logo-CLICK_ENERGY-group @utilities-logo-ENERGYAUSTRALIA-group @utilities-logo-MOMENTUM_ENERGY-group @utilities-logo-ONLINE_POWER_AND_GAS-group @utilities-logo-ORIGIN-group @utilities-logo-PEOPLE_ENERGY-group @utilities-logo-POWERSHOP-group @utilities-logo-SIMPLY_ENERGY-group @utilities-logo-SUMO_POWER-group;


