/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@-a-c-t-e-w-a-g-l-name: 'ACTEWAGL';
@-a-c-t-e-w-a-g-l-x: 652px;
@-a-c-t-e-w-a-g-l-y: 404px;
@-a-c-t-e-w-a-g-l-offset-x: -652px;
@-a-c-t-e-w-a-g-l-offset-y: -404px;
@-a-c-t-e-w-a-g-l-width: 80px;
@-a-c-t-e-w-a-g-l-height: 80px;
@-a-c-t-e-w-a-g-l-total-width: 978px;
@-a-c-t-e-w-a-g-l-total-height: 808px;
@-a-c-t-e-w-a-g-l-image: '..\..\..\graphics\logos\sprites\utilities.png';
@-a-c-t-e-w-a-g-l: 652px 404px -652px -404px 80px 80px 978px 808px '..\..\..\graphics\logos\sprites\utilities.png' 'ACTEWAGL';
@-a-c-t-e-w-a-g-l-2x-name: 'ACTEWAGL@2x';
@-a-c-t-e-w-a-g-l-2x-x: 320px;
@-a-c-t-e-w-a-g-l-2x-y: 648px;
@-a-c-t-e-w-a-g-l-2x-offset-x: -320px;
@-a-c-t-e-w-a-g-l-2x-offset-y: -648px;
@-a-c-t-e-w-a-g-l-2x-width: 160px;
@-a-c-t-e-w-a-g-l-2x-height: 160px;
@-a-c-t-e-w-a-g-l-2x-total-width: 978px;
@-a-c-t-e-w-a-g-l-2x-total-height: 808px;
@-a-c-t-e-w-a-g-l-2x-image: '..\..\..\graphics\logos\sprites\utilities.png';
@-a-c-t-e-w-a-g-l-2x: 320px 648px -320px -648px 160px 160px 978px 808px '..\..\..\graphics\logos\sprites\utilities.png' 'ACTEWAGL@2x';
@-a-l-i-n-t-a-e-n-e-r-g-y-name: 'ALINTA_ENERGY';
@-a-l-i-n-t-a-e-n-e-r-g-y-x: 800px;
@-a-l-i-n-t-a-e-n-e-r-g-y-y: 648px;
@-a-l-i-n-t-a-e-n-e-r-g-y-offset-x: -800px;
@-a-l-i-n-t-a-e-n-e-r-g-y-offset-y: -648px;
@-a-l-i-n-t-a-e-n-e-r-g-y-width: 80px;
@-a-l-i-n-t-a-e-n-e-r-g-y-height: 80px;
@-a-l-i-n-t-a-e-n-e-r-g-y-total-width: 978px;
@-a-l-i-n-t-a-e-n-e-r-g-y-total-height: 808px;
@-a-l-i-n-t-a-e-n-e-r-g-y-image: '..\..\..\graphics\logos\sprites\utilities.png';
@-a-l-i-n-t-a-e-n-e-r-g-y: 800px 648px -800px -648px 80px 80px 978px 808px '..\..\..\graphics\logos\sprites\utilities.png' 'ALINTA_ENERGY';
@-a-l-i-n-t-a-e-n-e-r-g-y-2x-name: 'ALINTA_ENERGY@2x';
@-a-l-i-n-t-a-e-n-e-r-g-y-2x-x: 320px;
@-a-l-i-n-t-a-e-n-e-r-g-y-2x-y: 488px;
@-a-l-i-n-t-a-e-n-e-r-g-y-2x-offset-x: -320px;
@-a-l-i-n-t-a-e-n-e-r-g-y-2x-offset-y: -488px;
@-a-l-i-n-t-a-e-n-e-r-g-y-2x-width: 160px;
@-a-l-i-n-t-a-e-n-e-r-g-y-2x-height: 160px;
@-a-l-i-n-t-a-e-n-e-r-g-y-2x-total-width: 978px;
@-a-l-i-n-t-a-e-n-e-r-g-y-2x-total-height: 808px;
@-a-l-i-n-t-a-e-n-e-r-g-y-2x-image: '..\..\..\graphics\logos\sprites\utilities.png';
@-a-l-i-n-t-a-e-n-e-r-g-y-2x: 320px 488px -320px -488px 160px 160px 978px 808px '..\..\..\graphics\logos\sprites\utilities.png' 'ALINTA_ENERGY@2x';
@-c-l-i-c-k-e-n-e-r-g-y-name: 'CLICK_ENERGY';
@-c-l-i-c-k-e-n-e-r-g-y-x: 480px;
@-c-l-i-c-k-e-n-e-r-g-y-y: 648px;
@-c-l-i-c-k-e-n-e-r-g-y-offset-x: -480px;
@-c-l-i-c-k-e-n-e-r-g-y-offset-y: -648px;
@-c-l-i-c-k-e-n-e-r-g-y-width: 80px;
@-c-l-i-c-k-e-n-e-r-g-y-height: 80px;
@-c-l-i-c-k-e-n-e-r-g-y-total-width: 978px;
@-c-l-i-c-k-e-n-e-r-g-y-total-height: 808px;
@-c-l-i-c-k-e-n-e-r-g-y-image: '..\..\..\graphics\logos\sprites\utilities.png';
@-c-l-i-c-k-e-n-e-r-g-y: 480px 648px -480px -648px 80px 80px 978px 808px '..\..\..\graphics\logos\sprites\utilities.png' 'CLICK_ENERGY';
@-c-l-i-c-k-e-n-e-r-g-y-2x-name: 'CLICK_ENERGY@2x';
@-c-l-i-c-k-e-n-e-r-g-y-2x-x: 812px;
@-c-l-i-c-k-e-n-e-r-g-y-2x-y: 244px;
@-c-l-i-c-k-e-n-e-r-g-y-2x-offset-x: -812px;
@-c-l-i-c-k-e-n-e-r-g-y-2x-offset-y: -244px;
@-c-l-i-c-k-e-n-e-r-g-y-2x-width: 160px;
@-c-l-i-c-k-e-n-e-r-g-y-2x-height: 160px;
@-c-l-i-c-k-e-n-e-r-g-y-2x-total-width: 978px;
@-c-l-i-c-k-e-n-e-r-g-y-2x-total-height: 808px;
@-c-l-i-c-k-e-n-e-r-g-y-2x-image: '..\..\..\graphics\logos\sprites\utilities.png';
@-c-l-i-c-k-e-n-e-r-g-y-2x: 812px 244px -812px -244px 160px 160px 978px 808px '..\..\..\graphics\logos\sprites\utilities.png' 'CLICK_ENERGY@2x';
@-e-n-e-r-g-y-a-u-s-t-r-a-l-i-a-name: 'ENERGYAUSTRALIA';
@-e-n-e-r-g-y-a-u-s-t-r-a-l-i-a-x: 880px;
@-e-n-e-r-g-y-a-u-s-t-r-a-l-i-a-y: 648px;
@-e-n-e-r-g-y-a-u-s-t-r-a-l-i-a-offset-x: -880px;
@-e-n-e-r-g-y-a-u-s-t-r-a-l-i-a-offset-y: -648px;
@-e-n-e-r-g-y-a-u-s-t-r-a-l-i-a-width: 80px;
@-e-n-e-r-g-y-a-u-s-t-r-a-l-i-a-height: 80px;
@-e-n-e-r-g-y-a-u-s-t-r-a-l-i-a-total-width: 978px;
@-e-n-e-r-g-y-a-u-s-t-r-a-l-i-a-total-height: 808px;
@-e-n-e-r-g-y-a-u-s-t-r-a-l-i-a-image: '..\..\..\graphics\logos\sprites\utilities.png';
@-e-n-e-r-g-y-a-u-s-t-r-a-l-i-a: 880px 648px -880px -648px 80px 80px 978px 808px '..\..\..\graphics\logos\sprites\utilities.png' 'ENERGYAUSTRALIA';
@-e-n-e-r-g-y-a-u-s-t-r-a-l-i-a-2x-name: 'ENERGYAUSTRALIA@2x';
@-e-n-e-r-g-y-a-u-s-t-r-a-l-i-a-2x-x: 480px;
@-e-n-e-r-g-y-a-u-s-t-r-a-l-i-a-2x-y: 488px;
@-e-n-e-r-g-y-a-u-s-t-r-a-l-i-a-2x-offset-x: -480px;
@-e-n-e-r-g-y-a-u-s-t-r-a-l-i-a-2x-offset-y: -488px;
@-e-n-e-r-g-y-a-u-s-t-r-a-l-i-a-2x-width: 160px;
@-e-n-e-r-g-y-a-u-s-t-r-a-l-i-a-2x-height: 160px;
@-e-n-e-r-g-y-a-u-s-t-r-a-l-i-a-2x-total-width: 978px;
@-e-n-e-r-g-y-a-u-s-t-r-a-l-i-a-2x-total-height: 808px;
@-e-n-e-r-g-y-a-u-s-t-r-a-l-i-a-2x-image: '..\..\..\graphics\logos\sprites\utilities.png';
@-e-n-e-r-g-y-a-u-s-t-r-a-l-i-a-2x: 480px 488px -480px -488px 160px 160px 978px 808px '..\..\..\graphics\logos\sprites\utilities.png' 'ENERGYAUSTRALIA@2x';
@-m-o-m-e-n-t-u-m-e-n-e-r-g-y-name: 'MOMENTUM_ENERGY';
@-m-o-m-e-n-t-u-m-e-n-e-r-g-y-x: 812px;
@-m-o-m-e-n-t-u-m-e-n-e-r-g-y-y: 404px;
@-m-o-m-e-n-t-u-m-e-n-e-r-g-y-offset-x: -812px;
@-m-o-m-e-n-t-u-m-e-n-e-r-g-y-offset-y: -404px;
@-m-o-m-e-n-t-u-m-e-n-e-r-g-y-width: 80px;
@-m-o-m-e-n-t-u-m-e-n-e-r-g-y-height: 80px;
@-m-o-m-e-n-t-u-m-e-n-e-r-g-y-total-width: 978px;
@-m-o-m-e-n-t-u-m-e-n-e-r-g-y-total-height: 808px;
@-m-o-m-e-n-t-u-m-e-n-e-r-g-y-image: '..\..\..\graphics\logos\sprites\utilities.png';
@-m-o-m-e-n-t-u-m-e-n-e-r-g-y: 812px 404px -812px -404px 80px 80px 978px 808px '..\..\..\graphics\logos\sprites\utilities.png' 'MOMENTUM_ENERGY';
@-m-o-m-e-n-t-u-m-e-n-e-r-g-y-2x-name: 'MOMENTUM_ENERGY@2x';
@-m-o-m-e-n-t-u-m-e-n-e-r-g-y-2x-x: 0px;
@-m-o-m-e-n-t-u-m-e-n-e-r-g-y-2x-y: 488px;
@-m-o-m-e-n-t-u-m-e-n-e-r-g-y-2x-offset-x: 0px;
@-m-o-m-e-n-t-u-m-e-n-e-r-g-y-2x-offset-y: -488px;
@-m-o-m-e-n-t-u-m-e-n-e-r-g-y-2x-width: 160px;
@-m-o-m-e-n-t-u-m-e-n-e-r-g-y-2x-height: 160px;
@-m-o-m-e-n-t-u-m-e-n-e-r-g-y-2x-total-width: 978px;
@-m-o-m-e-n-t-u-m-e-n-e-r-g-y-2x-total-height: 808px;
@-m-o-m-e-n-t-u-m-e-n-e-r-g-y-2x-image: '..\..\..\graphics\logos\sprites\utilities.png';
@-m-o-m-e-n-t-u-m-e-n-e-r-g-y-2x: 0px 488px 0px -488px 160px 160px 978px 808px '..\..\..\graphics\logos\sprites\utilities.png' 'MOMENTUM_ENERGY@2x';
@-o-n-l-i-n-e-p-o-w-e-r-a-n-d-g-a-s-name: 'ONLINE_POWER_AND_GAS';
@-o-n-l-i-n-e-p-o-w-e-r-a-n-d-g-a-s-x: 640px;
@-o-n-l-i-n-e-p-o-w-e-r-a-n-d-g-a-s-y: 648px;
@-o-n-l-i-n-e-p-o-w-e-r-a-n-d-g-a-s-offset-x: -640px;
@-o-n-l-i-n-e-p-o-w-e-r-a-n-d-g-a-s-offset-y: -648px;
@-o-n-l-i-n-e-p-o-w-e-r-a-n-d-g-a-s-width: 80px;
@-o-n-l-i-n-e-p-o-w-e-r-a-n-d-g-a-s-height: 80px;
@-o-n-l-i-n-e-p-o-w-e-r-a-n-d-g-a-s-total-width: 978px;
@-o-n-l-i-n-e-p-o-w-e-r-a-n-d-g-a-s-total-height: 808px;
@-o-n-l-i-n-e-p-o-w-e-r-a-n-d-g-a-s-image: '..\..\..\graphics\logos\sprites\utilities.png';
@-o-n-l-i-n-e-p-o-w-e-r-a-n-d-g-a-s: 640px 648px -640px -648px 80px 80px 978px 808px '..\..\..\graphics\logos\sprites\utilities.png' 'ONLINE_POWER_AND_GAS';
@-o-n-l-i-n-e-p-o-w-e-r-a-n-d-g-a-s-2x-name: 'ONLINE_POWER_AND_GAS@2x';
@-o-n-l-i-n-e-p-o-w-e-r-a-n-d-g-a-s-2x-x: 160px;
@-o-n-l-i-n-e-p-o-w-e-r-a-n-d-g-a-s-2x-y: 488px;
@-o-n-l-i-n-e-p-o-w-e-r-a-n-d-g-a-s-2x-offset-x: -160px;
@-o-n-l-i-n-e-p-o-w-e-r-a-n-d-g-a-s-2x-offset-y: -488px;
@-o-n-l-i-n-e-p-o-w-e-r-a-n-d-g-a-s-2x-width: 160px;
@-o-n-l-i-n-e-p-o-w-e-r-a-n-d-g-a-s-2x-height: 160px;
@-o-n-l-i-n-e-p-o-w-e-r-a-n-d-g-a-s-2x-total-width: 978px;
@-o-n-l-i-n-e-p-o-w-e-r-a-n-d-g-a-s-2x-total-height: 808px;
@-o-n-l-i-n-e-p-o-w-e-r-a-n-d-g-a-s-2x-image: '..\..\..\graphics\logos\sprites\utilities.png';
@-o-n-l-i-n-e-p-o-w-e-r-a-n-d-g-a-s-2x: 160px 488px -160px -488px 160px 160px 978px 808px '..\..\..\graphics\logos\sprites\utilities.png' 'ONLINE_POWER_AND_GAS@2x';
@-o-r-i-g-i-n-name: 'ORIGIN';
@-o-r-i-g-i-n-x: 480px;
@-o-r-i-g-i-n-y: 728px;
@-o-r-i-g-i-n-offset-x: -480px;
@-o-r-i-g-i-n-offset-y: -728px;
@-o-r-i-g-i-n-width: 80px;
@-o-r-i-g-i-n-height: 80px;
@-o-r-i-g-i-n-total-width: 978px;
@-o-r-i-g-i-n-total-height: 808px;
@-o-r-i-g-i-n-image: '..\..\..\graphics\logos\sprites\utilities.png';
@-o-r-i-g-i-n: 480px 728px -480px -728px 80px 80px 978px 808px '..\..\..\graphics\logos\sprites\utilities.png' 'ORIGIN';
@-o-r-i-g-i-n-2x-name: 'ORIGIN@2x';
@-o-r-i-g-i-n-2x-x: 652px;
@-o-r-i-g-i-n-2x-y: 244px;
@-o-r-i-g-i-n-2x-offset-x: -652px;
@-o-r-i-g-i-n-2x-offset-y: -244px;
@-o-r-i-g-i-n-2x-width: 160px;
@-o-r-i-g-i-n-2x-height: 160px;
@-o-r-i-g-i-n-2x-total-width: 978px;
@-o-r-i-g-i-n-2x-total-height: 808px;
@-o-r-i-g-i-n-2x-image: '..\..\..\graphics\logos\sprites\utilities.png';
@-o-r-i-g-i-n-2x: 652px 244px -652px -244px 160px 160px 978px 808px '..\..\..\graphics\logos\sprites\utilities.png' 'ORIGIN@2x';
@-p-e-o-p-l-e-e-n-e-r-g-y-name: 'PEOPLE_ENERGY';
@-p-e-o-p-l-e-e-n-e-r-g-y-x: 732px;
@-p-e-o-p-l-e-e-n-e-r-g-y-y: 404px;
@-p-e-o-p-l-e-e-n-e-r-g-y-offset-x: -732px;
@-p-e-o-p-l-e-e-n-e-r-g-y-offset-y: -404px;
@-p-e-o-p-l-e-e-n-e-r-g-y-width: 80px;
@-p-e-o-p-l-e-e-n-e-r-g-y-height: 80px;
@-p-e-o-p-l-e-e-n-e-r-g-y-total-width: 978px;
@-p-e-o-p-l-e-e-n-e-r-g-y-total-height: 808px;
@-p-e-o-p-l-e-e-n-e-r-g-y-image: '..\..\..\graphics\logos\sprites\utilities.png';
@-p-e-o-p-l-e-e-n-e-r-g-y: 732px 404px -732px -404px 80px 80px 978px 808px '..\..\..\graphics\logos\sprites\utilities.png' 'PEOPLE_ENERGY';
@-p-e-o-p-l-e-e-n-e-r-g-y-2x-name: 'PEOPLE_ENERGY@2x';
@-p-e-o-p-l-e-e-n-e-r-g-y-2x-x: 640px;
@-p-e-o-p-l-e-e-n-e-r-g-y-2x-y: 488px;
@-p-e-o-p-l-e-e-n-e-r-g-y-2x-offset-x: -640px;
@-p-e-o-p-l-e-e-n-e-r-g-y-2x-offset-y: -488px;
@-p-e-o-p-l-e-e-n-e-r-g-y-2x-width: 160px;
@-p-e-o-p-l-e-e-n-e-r-g-y-2x-height: 160px;
@-p-e-o-p-l-e-e-n-e-r-g-y-2x-total-width: 978px;
@-p-e-o-p-l-e-e-n-e-r-g-y-2x-total-height: 808px;
@-p-e-o-p-l-e-e-n-e-r-g-y-2x-image: '..\..\..\graphics\logos\sprites\utilities.png';
@-p-e-o-p-l-e-e-n-e-r-g-y-2x: 640px 488px -640px -488px 160px 160px 978px 808px '..\..\..\graphics\logos\sprites\utilities.png' 'PEOPLE_ENERGY@2x';
@-p-o-w-e-r-s-h-o-p-name: 'POWERSHOP';
@-p-o-w-e-r-s-h-o-p-x: 892px;
@-p-o-w-e-r-s-h-o-p-y: 404px;
@-p-o-w-e-r-s-h-o-p-offset-x: -892px;
@-p-o-w-e-r-s-h-o-p-offset-y: -404px;
@-p-o-w-e-r-s-h-o-p-width: 80px;
@-p-o-w-e-r-s-h-o-p-height: 80px;
@-p-o-w-e-r-s-h-o-p-total-width: 978px;
@-p-o-w-e-r-s-h-o-p-total-height: 808px;
@-p-o-w-e-r-s-h-o-p-image: '..\..\..\graphics\logos\sprites\utilities.png';
@-p-o-w-e-r-s-h-o-p: 892px 404px -892px -404px 80px 80px 978px 808px '..\..\..\graphics\logos\sprites\utilities.png' 'POWERSHOP';
@-p-o-w-e-r-s-h-o-p-2x-name: 'POWERSHOP@2x';
@-p-o-w-e-r-s-h-o-p-2x-x: 800px;
@-p-o-w-e-r-s-h-o-p-2x-y: 488px;
@-p-o-w-e-r-s-h-o-p-2x-offset-x: -800px;
@-p-o-w-e-r-s-h-o-p-2x-offset-y: -488px;
@-p-o-w-e-r-s-h-o-p-2x-width: 160px;
@-p-o-w-e-r-s-h-o-p-2x-height: 160px;
@-p-o-w-e-r-s-h-o-p-2x-total-width: 978px;
@-p-o-w-e-r-s-h-o-p-2x-total-height: 808px;
@-p-o-w-e-r-s-h-o-p-2x-image: '..\..\..\graphics\logos\sprites\utilities.png';
@-p-o-w-e-r-s-h-o-p-2x: 800px 488px -800px -488px 160px 160px 978px 808px '..\..\..\graphics\logos\sprites\utilities.png' 'POWERSHOP@2x';
@-s-i-m-p-l-y-e-n-e-r-g-y-name: 'SIMPLY_ENERGY';
@-s-i-m-p-l-y-e-n-e-r-g-y-x: 560px;
@-s-i-m-p-l-y-e-n-e-r-g-y-y: 648px;
@-s-i-m-p-l-y-e-n-e-r-g-y-offset-x: -560px;
@-s-i-m-p-l-y-e-n-e-r-g-y-offset-y: -648px;
@-s-i-m-p-l-y-e-n-e-r-g-y-width: 80px;
@-s-i-m-p-l-y-e-n-e-r-g-y-height: 80px;
@-s-i-m-p-l-y-e-n-e-r-g-y-total-width: 978px;
@-s-i-m-p-l-y-e-n-e-r-g-y-total-height: 808px;
@-s-i-m-p-l-y-e-n-e-r-g-y-image: '..\..\..\graphics\logos\sprites\utilities.png';
@-s-i-m-p-l-y-e-n-e-r-g-y: 560px 648px -560px -648px 80px 80px 978px 808px '..\..\..\graphics\logos\sprites\utilities.png' 'SIMPLY_ENERGY';
@-s-i-m-p-l-y-e-n-e-r-g-y-2x-name: 'SIMPLY_ENERGY@2x';
@-s-i-m-p-l-y-e-n-e-r-g-y-2x-x: 0px;
@-s-i-m-p-l-y-e-n-e-r-g-y-2x-y: 648px;
@-s-i-m-p-l-y-e-n-e-r-g-y-2x-offset-x: 0px;
@-s-i-m-p-l-y-e-n-e-r-g-y-2x-offset-y: -648px;
@-s-i-m-p-l-y-e-n-e-r-g-y-2x-width: 160px;
@-s-i-m-p-l-y-e-n-e-r-g-y-2x-height: 160px;
@-s-i-m-p-l-y-e-n-e-r-g-y-2x-total-width: 978px;
@-s-i-m-p-l-y-e-n-e-r-g-y-2x-total-height: 808px;
@-s-i-m-p-l-y-e-n-e-r-g-y-2x-image: '..\..\..\graphics\logos\sprites\utilities.png';
@-s-i-m-p-l-y-e-n-e-r-g-y-2x: 0px 648px 0px -648px 160px 160px 978px 808px '..\..\..\graphics\logos\sprites\utilities.png' 'SIMPLY_ENERGY@2x';
@-s-u-m-o-p-o-w-e-r-name: 'SUMO_POWER';
@-s-u-m-o-p-o-w-e-r-x: 720px;
@-s-u-m-o-p-o-w-e-r-y: 648px;
@-s-u-m-o-p-o-w-e-r-offset-x: -720px;
@-s-u-m-o-p-o-w-e-r-offset-y: -648px;
@-s-u-m-o-p-o-w-e-r-width: 80px;
@-s-u-m-o-p-o-w-e-r-height: 80px;
@-s-u-m-o-p-o-w-e-r-total-width: 978px;
@-s-u-m-o-p-o-w-e-r-total-height: 808px;
@-s-u-m-o-p-o-w-e-r-image: '..\..\..\graphics\logos\sprites\utilities.png';
@-s-u-m-o-p-o-w-e-r: 720px 648px -720px -648px 80px 80px 978px 808px '..\..\..\graphics\logos\sprites\utilities.png' 'SUMO_POWER';
@-s-u-m-o-p-o-w-e-r-2x-name: 'SUMO_POWER@2x';
@-s-u-m-o-p-o-w-e-r-2x-x: 160px;
@-s-u-m-o-p-o-w-e-r-2x-y: 648px;
@-s-u-m-o-p-o-w-e-r-2x-offset-x: -160px;
@-s-u-m-o-p-o-w-e-r-2x-offset-y: -648px;
@-s-u-m-o-p-o-w-e-r-2x-width: 160px;
@-s-u-m-o-p-o-w-e-r-2x-height: 160px;
@-s-u-m-o-p-o-w-e-r-2x-total-width: 978px;
@-s-u-m-o-p-o-w-e-r-2x-total-height: 808px;
@-s-u-m-o-p-o-w-e-r-2x-image: '..\..\..\graphics\logos\sprites\utilities.png';
@-s-u-m-o-p-o-w-e-r-2x: 160px 648px -160px -648px 160px 160px 978px 808px '..\..\..\graphics\logos\sprites\utilities.png' 'SUMO_POWER@2x';
@spritesheet-name: 'spritesheet';
@spritesheet-x: 652px;
@spritesheet-y: 0px;
@spritesheet-offset-x: -652px;
@spritesheet-offset-y: 0px;
@spritesheet-width: 326px;
@spritesheet-height: 244px;
@spritesheet-total-width: 978px;
@spritesheet-total-height: 808px;
@spritesheet-image: '..\..\..\graphics\logos\sprites\utilities.png';
@spritesheet: 652px 0px -652px 0px 326px 244px 978px 808px '..\..\..\graphics\logos\sprites\utilities.png' 'spritesheet';
@spritesheet-2x-name: 'spritesheet@2x';
@spritesheet-2x-x: 0px;
@spritesheet-2x-y: 0px;
@spritesheet-2x-offset-x: 0px;
@spritesheet-2x-offset-y: 0px;
@spritesheet-2x-width: 652px;
@spritesheet-2x-height: 488px;
@spritesheet-2x-total-width: 978px;
@spritesheet-2x-total-height: 808px;
@spritesheet-2x-image: '..\..\..\graphics\logos\sprites\utilities.png';
@spritesheet-2x: 0px 0px 0px 0px 652px 488px 978px 808px '..\..\..\graphics\logos\sprites\utilities.png' 'spritesheet@2x';
@spritesheet-width: 978px;
@spritesheet-height: 808px;
@spritesheet-image: '..\..\..\graphics\logos\sprites\utilities.png';
@spritesheet-sprites: @-a-c-t-e-w-a-g-l @-a-c-t-e-w-a-g-l-2x @-a-l-i-n-t-a-e-n-e-r-g-y @-a-l-i-n-t-a-e-n-e-r-g-y-2x @-c-l-i-c-k-e-n-e-r-g-y @-c-l-i-c-k-e-n-e-r-g-y-2x @-e-n-e-r-g-y-a-u-s-t-r-a-l-i-a @-e-n-e-r-g-y-a-u-s-t-r-a-l-i-a-2x @-m-o-m-e-n-t-u-m-e-n-e-r-g-y @-m-o-m-e-n-t-u-m-e-n-e-r-g-y-2x @-o-n-l-i-n-e-p-o-w-e-r-a-n-d-g-a-s @-o-n-l-i-n-e-p-o-w-e-r-a-n-d-g-a-s-2x @-o-r-i-g-i-n @-o-r-i-g-i-n-2x @-p-e-o-p-l-e-e-n-e-r-g-y @-p-e-o-p-l-e-e-n-e-r-g-y-2x @-p-o-w-e-r-s-h-o-p @-p-o-w-e-r-s-h-o-p-2x @-s-i-m-p-l-y-e-n-e-r-g-y @-s-i-m-p-l-y-e-n-e-r-g-y-2x @-s-u-m-o-p-o-w-e-r @-s-u-m-o-p-o-w-e-r-2x @spritesheet @spritesheet-2x;
@spritesheet: 978px 808px '..\..\..\graphics\logos\sprites\utilities.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
