/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@utilities-logo-ACTEWAGL-name: 'utilities-logo-ACTEWAGL';
@utilities-logo-ACTEWAGL-x: 648px;
@utilities-logo-ACTEWAGL-y: 164px;
@utilities-logo-ACTEWAGL-offset-x: -648px;
@utilities-logo-ACTEWAGL-offset-y: -164px;
@utilities-logo-ACTEWAGL-width: 80px;
@utilities-logo-ACTEWAGL-height: 80px;
@utilities-logo-ACTEWAGL-total-width: 728px;
@utilities-logo-ACTEWAGL-total-height: 566px;
@utilities-logo-ACTEWAGL-image: '../../../graphics/logos/sprites/utilities.png';
@utilities-logo-ACTEWAGL: 648px 164px -648px -164px 80px 80px 728px 566px '../../../graphics/logos/sprites/utilities.png' 'utilities-logo-ACTEWAGL';
@utilities-logo-ACTEWAGL-2x-name: 'utilities-logo-ACTEWAGL@2x';
@utilities-logo-ACTEWAGL-2x-x: 486px;
@utilities-logo-ACTEWAGL-2x-y: 162px;
@utilities-logo-ACTEWAGL-2x-offset-x: -486px;
@utilities-logo-ACTEWAGL-2x-offset-y: -162px;
@utilities-logo-ACTEWAGL-2x-width: 160px;
@utilities-logo-ACTEWAGL-2x-height: 160px;
@utilities-logo-ACTEWAGL-2x-total-width: 728px;
@utilities-logo-ACTEWAGL-2x-total-height: 566px;
@utilities-logo-ACTEWAGL-2x-image: '../../../graphics/logos/sprites/utilities.png';
@utilities-logo-ACTEWAGL-2x: 486px 162px -486px -162px 160px 160px 728px 566px '../../../graphics/logos/sprites/utilities.png' 'utilities-logo-ACTEWAGL@2x';
@utilities-logo-ALINTA_ENERGY-name: 'utilities-logo-ALINTA_ENERGY';
@utilities-logo-ALINTA_ENERGY-x: 648px;
@utilities-logo-ALINTA_ENERGY-y: 0px;
@utilities-logo-ALINTA_ENERGY-offset-x: -648px;
@utilities-logo-ALINTA_ENERGY-offset-y: 0px;
@utilities-logo-ALINTA_ENERGY-width: 80px;
@utilities-logo-ALINTA_ENERGY-height: 80px;
@utilities-logo-ALINTA_ENERGY-total-width: 728px;
@utilities-logo-ALINTA_ENERGY-total-height: 566px;
@utilities-logo-ALINTA_ENERGY-image: '../../../graphics/logos/sprites/utilities.png';
@utilities-logo-ALINTA_ENERGY: 648px 0px -648px 0px 80px 80px 728px 566px '../../../graphics/logos/sprites/utilities.png' 'utilities-logo-ALINTA_ENERGY';
@utilities-logo-ALINTA_ENERGY-2x-name: 'utilities-logo-ALINTA_ENERGY@2x';
@utilities-logo-ALINTA_ENERGY-2x-x: 162px;
@utilities-logo-ALINTA_ENERGY-2x-y: 162px;
@utilities-logo-ALINTA_ENERGY-2x-offset-x: -162px;
@utilities-logo-ALINTA_ENERGY-2x-offset-y: -162px;
@utilities-logo-ALINTA_ENERGY-2x-width: 160px;
@utilities-logo-ALINTA_ENERGY-2x-height: 160px;
@utilities-logo-ALINTA_ENERGY-2x-total-width: 728px;
@utilities-logo-ALINTA_ENERGY-2x-total-height: 566px;
@utilities-logo-ALINTA_ENERGY-2x-image: '../../../graphics/logos/sprites/utilities.png';
@utilities-logo-ALINTA_ENERGY-2x: 162px 162px -162px -162px 160px 160px 728px 566px '../../../graphics/logos/sprites/utilities.png' 'utilities-logo-ALINTA_ENERGY@2x';
@utilities-logo-CLICK_ENERGY-name: 'utilities-logo-CLICK_ENERGY';
@utilities-logo-CLICK_ENERGY-x: 410px;
@utilities-logo-CLICK_ENERGY-y: 486px;
@utilities-logo-CLICK_ENERGY-offset-x: -410px;
@utilities-logo-CLICK_ENERGY-offset-y: -486px;
@utilities-logo-CLICK_ENERGY-width: 80px;
@utilities-logo-CLICK_ENERGY-height: 80px;
@utilities-logo-CLICK_ENERGY-total-width: 728px;
@utilities-logo-CLICK_ENERGY-total-height: 566px;
@utilities-logo-CLICK_ENERGY-image: '../../../graphics/logos/sprites/utilities.png';
@utilities-logo-CLICK_ENERGY: 410px 486px -410px -486px 80px 80px 728px 566px '../../../graphics/logos/sprites/utilities.png' 'utilities-logo-CLICK_ENERGY';
@utilities-logo-CLICK_ENERGY-2x-name: 'utilities-logo-CLICK_ENERGY@2x';
@utilities-logo-CLICK_ENERGY-2x-x: 324px;
@utilities-logo-CLICK_ENERGY-2x-y: 162px;
@utilities-logo-CLICK_ENERGY-2x-offset-x: -324px;
@utilities-logo-CLICK_ENERGY-2x-offset-y: -162px;
@utilities-logo-CLICK_ENERGY-2x-width: 160px;
@utilities-logo-CLICK_ENERGY-2x-height: 160px;
@utilities-logo-CLICK_ENERGY-2x-total-width: 728px;
@utilities-logo-CLICK_ENERGY-2x-total-height: 566px;
@utilities-logo-CLICK_ENERGY-2x-image: '../../../graphics/logos/sprites/utilities.png';
@utilities-logo-CLICK_ENERGY-2x: 324px 162px -324px -162px 160px 160px 728px 566px '../../../graphics/logos/sprites/utilities.png' 'utilities-logo-CLICK_ENERGY@2x';
@utilities-logo-ENERGYAUSTRALIA-name: 'utilities-logo-ENERGYAUSTRALIA';
@utilities-logo-ENERGYAUSTRALIA-x: 246px;
@utilities-logo-ENERGYAUSTRALIA-y: 486px;
@utilities-logo-ENERGYAUSTRALIA-offset-x: -246px;
@utilities-logo-ENERGYAUSTRALIA-offset-y: -486px;
@utilities-logo-ENERGYAUSTRALIA-width: 80px;
@utilities-logo-ENERGYAUSTRALIA-height: 80px;
@utilities-logo-ENERGYAUSTRALIA-total-width: 728px;
@utilities-logo-ENERGYAUSTRALIA-total-height: 566px;
@utilities-logo-ENERGYAUSTRALIA-image: '../../../graphics/logos/sprites/utilities.png';
@utilities-logo-ENERGYAUSTRALIA: 246px 486px -246px -486px 80px 80px 728px 566px '../../../graphics/logos/sprites/utilities.png' 'utilities-logo-ENERGYAUSTRALIA';
@utilities-logo-ENERGYAUSTRALIA-2x-name: 'utilities-logo-ENERGYAUSTRALIA@2x';
@utilities-logo-ENERGYAUSTRALIA-2x-x: 162px;
@utilities-logo-ENERGYAUSTRALIA-2x-y: 324px;
@utilities-logo-ENERGYAUSTRALIA-2x-offset-x: -162px;
@utilities-logo-ENERGYAUSTRALIA-2x-offset-y: -324px;
@utilities-logo-ENERGYAUSTRALIA-2x-width: 160px;
@utilities-logo-ENERGYAUSTRALIA-2x-height: 160px;
@utilities-logo-ENERGYAUSTRALIA-2x-total-width: 728px;
@utilities-logo-ENERGYAUSTRALIA-2x-total-height: 566px;
@utilities-logo-ENERGYAUSTRALIA-2x-image: '../../../graphics/logos/sprites/utilities.png';
@utilities-logo-ENERGYAUSTRALIA-2x: 162px 324px -162px -324px 160px 160px 728px 566px '../../../graphics/logos/sprites/utilities.png' 'utilities-logo-ENERGYAUSTRALIA@2x';
@utilities-logo-MOMENTUM_ENERGY-name: 'utilities-logo-MOMENTUM_ENERGY';
@utilities-logo-MOMENTUM_ENERGY-x: 82px;
@utilities-logo-MOMENTUM_ENERGY-y: 486px;
@utilities-logo-MOMENTUM_ENERGY-offset-x: -82px;
@utilities-logo-MOMENTUM_ENERGY-offset-y: -486px;
@utilities-logo-MOMENTUM_ENERGY-width: 80px;
@utilities-logo-MOMENTUM_ENERGY-height: 80px;
@utilities-logo-MOMENTUM_ENERGY-total-width: 728px;
@utilities-logo-MOMENTUM_ENERGY-total-height: 566px;
@utilities-logo-MOMENTUM_ENERGY-image: '../../../graphics/logos/sprites/utilities.png';
@utilities-logo-MOMENTUM_ENERGY: 82px 486px -82px -486px 80px 80px 728px 566px '../../../graphics/logos/sprites/utilities.png' 'utilities-logo-MOMENTUM_ENERGY';
@utilities-logo-MOMENTUM_ENERGY-2x-name: 'utilities-logo-MOMENTUM_ENERGY@2x';
@utilities-logo-MOMENTUM_ENERGY-2x-x: 486px;
@utilities-logo-MOMENTUM_ENERGY-2x-y: 0px;
@utilities-logo-MOMENTUM_ENERGY-2x-offset-x: -486px;
@utilities-logo-MOMENTUM_ENERGY-2x-offset-y: 0px;
@utilities-logo-MOMENTUM_ENERGY-2x-width: 160px;
@utilities-logo-MOMENTUM_ENERGY-2x-height: 160px;
@utilities-logo-MOMENTUM_ENERGY-2x-total-width: 728px;
@utilities-logo-MOMENTUM_ENERGY-2x-total-height: 566px;
@utilities-logo-MOMENTUM_ENERGY-2x-image: '../../../graphics/logos/sprites/utilities.png';
@utilities-logo-MOMENTUM_ENERGY-2x: 486px 0px -486px 0px 160px 160px 728px 566px '../../../graphics/logos/sprites/utilities.png' 'utilities-logo-MOMENTUM_ENERGY@2x';
@utilities-logo-ONLINE_POWER_AND_GAS-name: 'utilities-logo-ONLINE_POWER_AND_GAS';
@utilities-logo-ONLINE_POWER_AND_GAS-x: 0px;
@utilities-logo-ONLINE_POWER_AND_GAS-y: 486px;
@utilities-logo-ONLINE_POWER_AND_GAS-offset-x: 0px;
@utilities-logo-ONLINE_POWER_AND_GAS-offset-y: -486px;
@utilities-logo-ONLINE_POWER_AND_GAS-width: 80px;
@utilities-logo-ONLINE_POWER_AND_GAS-height: 80px;
@utilities-logo-ONLINE_POWER_AND_GAS-total-width: 728px;
@utilities-logo-ONLINE_POWER_AND_GAS-total-height: 566px;
@utilities-logo-ONLINE_POWER_AND_GAS-image: '../../../graphics/logos/sprites/utilities.png';
@utilities-logo-ONLINE_POWER_AND_GAS: 0px 486px 0px -486px 80px 80px 728px 566px '../../../graphics/logos/sprites/utilities.png' 'utilities-logo-ONLINE_POWER_AND_GAS';
@utilities-logo-ONLINE_POWER_AND_GAS-2x-name: 'utilities-logo-ONLINE_POWER_AND_GAS@2x';
@utilities-logo-ONLINE_POWER_AND_GAS-2x-x: 0px;
@utilities-logo-ONLINE_POWER_AND_GAS-2x-y: 0px;
@utilities-logo-ONLINE_POWER_AND_GAS-2x-offset-x: 0px;
@utilities-logo-ONLINE_POWER_AND_GAS-2x-offset-y: 0px;
@utilities-logo-ONLINE_POWER_AND_GAS-2x-width: 160px;
@utilities-logo-ONLINE_POWER_AND_GAS-2x-height: 160px;
@utilities-logo-ONLINE_POWER_AND_GAS-2x-total-width: 728px;
@utilities-logo-ONLINE_POWER_AND_GAS-2x-total-height: 566px;
@utilities-logo-ONLINE_POWER_AND_GAS-2x-image: '../../../graphics/logos/sprites/utilities.png';
@utilities-logo-ONLINE_POWER_AND_GAS-2x: 0px 0px 0px 0px 160px 160px 728px 566px '../../../graphics/logos/sprites/utilities.png' 'utilities-logo-ONLINE_POWER_AND_GAS@2x';
@utilities-logo-ORIGIN-name: 'utilities-logo-ORIGIN';
@utilities-logo-ORIGIN-x: 328px;
@utilities-logo-ORIGIN-y: 486px;
@utilities-logo-ORIGIN-offset-x: -328px;
@utilities-logo-ORIGIN-offset-y: -486px;
@utilities-logo-ORIGIN-width: 80px;
@utilities-logo-ORIGIN-height: 80px;
@utilities-logo-ORIGIN-total-width: 728px;
@utilities-logo-ORIGIN-total-height: 566px;
@utilities-logo-ORIGIN-image: '../../../graphics/logos/sprites/utilities.png';
@utilities-logo-ORIGIN: 328px 486px -328px -486px 80px 80px 728px 566px '../../../graphics/logos/sprites/utilities.png' 'utilities-logo-ORIGIN';
@utilities-logo-ORIGIN-2x-name: 'utilities-logo-ORIGIN@2x';
@utilities-logo-ORIGIN-2x-x: 324px;
@utilities-logo-ORIGIN-2x-y: 324px;
@utilities-logo-ORIGIN-2x-offset-x: -324px;
@utilities-logo-ORIGIN-2x-offset-y: -324px;
@utilities-logo-ORIGIN-2x-width: 160px;
@utilities-logo-ORIGIN-2x-height: 160px;
@utilities-logo-ORIGIN-2x-total-width: 728px;
@utilities-logo-ORIGIN-2x-total-height: 566px;
@utilities-logo-ORIGIN-2x-image: '../../../graphics/logos/sprites/utilities.png';
@utilities-logo-ORIGIN-2x: 324px 324px -324px -324px 160px 160px 728px 566px '../../../graphics/logos/sprites/utilities.png' 'utilities-logo-ORIGIN@2x';
@utilities-logo-PEOPLE_ENERGY-name: 'utilities-logo-PEOPLE_ENERGY';
@utilities-logo-PEOPLE_ENERGY-x: 164px;
@utilities-logo-PEOPLE_ENERGY-y: 486px;
@utilities-logo-PEOPLE_ENERGY-offset-x: -164px;
@utilities-logo-PEOPLE_ENERGY-offset-y: -486px;
@utilities-logo-PEOPLE_ENERGY-width: 80px;
@utilities-logo-PEOPLE_ENERGY-height: 80px;
@utilities-logo-PEOPLE_ENERGY-total-width: 728px;
@utilities-logo-PEOPLE_ENERGY-total-height: 566px;
@utilities-logo-PEOPLE_ENERGY-image: '../../../graphics/logos/sprites/utilities.png';
@utilities-logo-PEOPLE_ENERGY: 164px 486px -164px -486px 80px 80px 728px 566px '../../../graphics/logos/sprites/utilities.png' 'utilities-logo-PEOPLE_ENERGY';
@utilities-logo-PEOPLE_ENERGY-2x-name: 'utilities-logo-PEOPLE_ENERGY@2x';
@utilities-logo-PEOPLE_ENERGY-2x-x: 0px;
@utilities-logo-PEOPLE_ENERGY-2x-y: 324px;
@utilities-logo-PEOPLE_ENERGY-2x-offset-x: 0px;
@utilities-logo-PEOPLE_ENERGY-2x-offset-y: -324px;
@utilities-logo-PEOPLE_ENERGY-2x-width: 160px;
@utilities-logo-PEOPLE_ENERGY-2x-height: 160px;
@utilities-logo-PEOPLE_ENERGY-2x-total-width: 728px;
@utilities-logo-PEOPLE_ENERGY-2x-total-height: 566px;
@utilities-logo-PEOPLE_ENERGY-2x-image: '../../../graphics/logos/sprites/utilities.png';
@utilities-logo-PEOPLE_ENERGY-2x: 0px 324px 0px -324px 160px 160px 728px 566px '../../../graphics/logos/sprites/utilities.png' 'utilities-logo-PEOPLE_ENERGY@2x';
@utilities-logo-POWERSHOP-name: 'utilities-logo-POWERSHOP';
@utilities-logo-POWERSHOP-x: 486px;
@utilities-logo-POWERSHOP-y: 324px;
@utilities-logo-POWERSHOP-offset-x: -486px;
@utilities-logo-POWERSHOP-offset-y: -324px;
@utilities-logo-POWERSHOP-width: 80px;
@utilities-logo-POWERSHOP-height: 80px;
@utilities-logo-POWERSHOP-total-width: 728px;
@utilities-logo-POWERSHOP-total-height: 566px;
@utilities-logo-POWERSHOP-image: '../../../graphics/logos/sprites/utilities.png';
@utilities-logo-POWERSHOP: 486px 324px -486px -324px 80px 80px 728px 566px '../../../graphics/logos/sprites/utilities.png' 'utilities-logo-POWERSHOP';
@utilities-logo-POWERSHOP-2x-name: 'utilities-logo-POWERSHOP@2x';
@utilities-logo-POWERSHOP-2x-x: 324px;
@utilities-logo-POWERSHOP-2x-y: 0px;
@utilities-logo-POWERSHOP-2x-offset-x: -324px;
@utilities-logo-POWERSHOP-2x-offset-y: 0px;
@utilities-logo-POWERSHOP-2x-width: 160px;
@utilities-logo-POWERSHOP-2x-height: 160px;
@utilities-logo-POWERSHOP-2x-total-width: 728px;
@utilities-logo-POWERSHOP-2x-total-height: 566px;
@utilities-logo-POWERSHOP-2x-image: '../../../graphics/logos/sprites/utilities.png';
@utilities-logo-POWERSHOP-2x: 324px 0px -324px 0px 160px 160px 728px 566px '../../../graphics/logos/sprites/utilities.png' 'utilities-logo-POWERSHOP@2x';
@utilities-logo-SIMPLY_ENERGY-name: 'utilities-logo-SIMPLY_ENERGY';
@utilities-logo-SIMPLY_ENERGY-x: 492px;
@utilities-logo-SIMPLY_ENERGY-y: 486px;
@utilities-logo-SIMPLY_ENERGY-offset-x: -492px;
@utilities-logo-SIMPLY_ENERGY-offset-y: -486px;
@utilities-logo-SIMPLY_ENERGY-width: 80px;
@utilities-logo-SIMPLY_ENERGY-height: 80px;
@utilities-logo-SIMPLY_ENERGY-total-width: 728px;
@utilities-logo-SIMPLY_ENERGY-total-height: 566px;
@utilities-logo-SIMPLY_ENERGY-image: '../../../graphics/logos/sprites/utilities.png';
@utilities-logo-SIMPLY_ENERGY: 492px 486px -492px -486px 80px 80px 728px 566px '../../../graphics/logos/sprites/utilities.png' 'utilities-logo-SIMPLY_ENERGY';
@utilities-logo-SIMPLY_ENERGY-2x-name: 'utilities-logo-SIMPLY_ENERGY@2x';
@utilities-logo-SIMPLY_ENERGY-2x-x: 0px;
@utilities-logo-SIMPLY_ENERGY-2x-y: 162px;
@utilities-logo-SIMPLY_ENERGY-2x-offset-x: 0px;
@utilities-logo-SIMPLY_ENERGY-2x-offset-y: -162px;
@utilities-logo-SIMPLY_ENERGY-2x-width: 160px;
@utilities-logo-SIMPLY_ENERGY-2x-height: 160px;
@utilities-logo-SIMPLY_ENERGY-2x-total-width: 728px;
@utilities-logo-SIMPLY_ENERGY-2x-total-height: 566px;
@utilities-logo-SIMPLY_ENERGY-2x-image: '../../../graphics/logos/sprites/utilities.png';
@utilities-logo-SIMPLY_ENERGY-2x: 0px 162px 0px -162px 160px 160px 728px 566px '../../../graphics/logos/sprites/utilities.png' 'utilities-logo-SIMPLY_ENERGY@2x';
@utilities-logo-SUMO_POWER-name: 'utilities-logo-SUMO_POWER';
@utilities-logo-SUMO_POWER-x: 648px;
@utilities-logo-SUMO_POWER-y: 82px;
@utilities-logo-SUMO_POWER-offset-x: -648px;
@utilities-logo-SUMO_POWER-offset-y: -82px;
@utilities-logo-SUMO_POWER-width: 80px;
@utilities-logo-SUMO_POWER-height: 80px;
@utilities-logo-SUMO_POWER-total-width: 728px;
@utilities-logo-SUMO_POWER-total-height: 566px;
@utilities-logo-SUMO_POWER-image: '../../../graphics/logos/sprites/utilities.png';
@utilities-logo-SUMO_POWER: 648px 82px -648px -82px 80px 80px 728px 566px '../../../graphics/logos/sprites/utilities.png' 'utilities-logo-SUMO_POWER';
@utilities-logo-SUMO_POWER-2x-name: 'utilities-logo-SUMO_POWER@2x';
@utilities-logo-SUMO_POWER-2x-x: 162px;
@utilities-logo-SUMO_POWER-2x-y: 0px;
@utilities-logo-SUMO_POWER-2x-offset-x: -162px;
@utilities-logo-SUMO_POWER-2x-offset-y: 0px;
@utilities-logo-SUMO_POWER-2x-width: 160px;
@utilities-logo-SUMO_POWER-2x-height: 160px;
@utilities-logo-SUMO_POWER-2x-total-width: 728px;
@utilities-logo-SUMO_POWER-2x-total-height: 566px;
@utilities-logo-SUMO_POWER-2x-image: '../../../graphics/logos/sprites/utilities.png';
@utilities-logo-SUMO_POWER-2x: 162px 0px -162px 0px 160px 160px 728px 566px '../../../graphics/logos/sprites/utilities.png' 'utilities-logo-SUMO_POWER@2x';
@spritesheet-width: 728px;
@spritesheet-height: 566px;
@spritesheet-image: '../../../graphics/logos/sprites/utilities.png';
@spritesheet-sprites: @utilities-logo-ACTEWAGL @utilities-logo-ACTEWAGL-2x @utilities-logo-ALINTA_ENERGY @utilities-logo-ALINTA_ENERGY-2x @utilities-logo-CLICK_ENERGY @utilities-logo-CLICK_ENERGY-2x @utilities-logo-ENERGYAUSTRALIA @utilities-logo-ENERGYAUSTRALIA-2x @utilities-logo-MOMENTUM_ENERGY @utilities-logo-MOMENTUM_ENERGY-2x @utilities-logo-ONLINE_POWER_AND_GAS @utilities-logo-ONLINE_POWER_AND_GAS-2x @utilities-logo-ORIGIN @utilities-logo-ORIGIN-2x @utilities-logo-PEOPLE_ENERGY @utilities-logo-PEOPLE_ENERGY-2x @utilities-logo-POWERSHOP @utilities-logo-POWERSHOP-2x @utilities-logo-SIMPLY_ENERGY @utilities-logo-SIMPLY_ENERGY-2x @utilities-logo-SUMO_POWER @utilities-logo-SUMO_POWER-2x;
@spritesheet: 728px 566px '../../../graphics/logos/sprites/utilities.png' @spritesheet-sprites;


