// Mixins for icon sizes.
.benefitsIconSize(@icon-font-size, @label-font-size, @margin-offset){
  div.checkbox {
      float: left;

          label{
              width: 100%;
              font-size: @label-font-size;

              &:before{
                  font-size: @icon-font-size;
                  display: inline-block;
                  margin-right: 20px;
              }
          }

      // minimum 2 lines of label text for float to work properly
      min-height: @icon-font-size;
      margin: @icon-font-size * 0.15 + @margin-offset;
  }
}
@media (@sm) {
  fieldset.preferences {

      .hasIcons {
          div.row {
              width:50%;
              display:inline-block;
              margin-right:15px;
              > div.col-sm-offset-3 {
                  margin: 0px;
                  width: 100%;
                  padding: 0px;
              }
          }
          .checkbox {
              padding: 0;

              input {
                  &:checked,
                  &.checked {
                      & + label:before {
                          background-color: @icon-bg-checked-color;
                          border-color: @icon-border-checked-color;
                          color: #fff;
                      }
                  }
              }

              label {
                  display: inline-block;
                  padding: 0;
                  margin: 0;
                  text-align: left;
                  padding-top: 20px;

                  .title {
                      font-weight: bold;
                  }

                  .iconLabel {
                      display: block;
                      height: 2.4em;
                      margin-top: 0.25em;
                  }

                  &:before {
                      display: table;
                      margin: 0;
                      margin-top: -20px;
                      margin-bottom: 10px;
                      padding: 0.15em;
                      border-radius: 50%;
                      background-color: @icon-bg-color;
                      border-color: @icon-border-color;
                      color: @theme-tertiary;
                  }
              }
          }

          @media (@lg-only) {
            .benefitsIconSize(60px, @font-size-base, 0);
          }
          @media (@sm-only) {
            .benefitsIconSize(50px, @font-size-small, 1);
          }
          @media (@md-only) {
            .benefitsIconSize(50px, @font-size-small, -1);
          }
      }

  }

  .lt-ie9,
  .lt-ie10 {
      fieldset.preferences .hasIcons {
          width: auto;

          .checkbox {
              label.checked:before {
                  background-color: @icon-bg-checked-color !important;
                  border-color: @icon-border-checked-color !important;
                  color: #fff;
              }
          }

          .benefitsIconSize(60px, @font-size-base, 0);
      }
  }
}