// Mixins for icon sizes.
.radioIconSize(@icon-font-size, @label-font-size, @margin-offset){
  &.what-to-compare {
	min-height: @icon-font-size !important;
	label.btn {
		width: @icon-font-size;
	  	display:inline-block;
	  	margin:10px;
		> i {
		// width: @icon-font-size * 1.3 + 2; // padding * 2 + font-size + border * 2
		font-size: @label-font-size;
		&:before{
		  font-size: @icon-font-size;
		  display: inline-block;
		}
	  }
	}

	// minimum 2 lines of label text for float to work properly
	// min-height: (@icon-font-size * 1.3 + 2) + ceil(@label-font-size * 2.2) + 15; // Icon height + label-font-size's line-height * 2 + margin-bottom
	// margin: @icon-font-size * 0.15 + @margin-offset;
  }
}

/* Rounded Icons*/
div.roundedCheckboxIcons {


  label {
	&:before {
	  float: none;
	  margin: 0;
	  margin-bottom: 10px;
	  padding: 0.15em;
	  background-color: @icon-bg-color;
	  border-color: @icon-border-color;
	  color: @theme-tertiary;
	}


  }
  label.btn {
	background:@icon-bg-color;
	border-color: @icon-border-color;
	padding: 0;
	margin: 0;
	text-align: center;
	border-radius: 50% !important;

	i {
	  display:block;
	  height:2.4em;
	  margin-top:0.25em;
	}
	&:before{
	  float: none;
	  margin:0;
	  margin-bottom: 10px;
	  padding:0.15em;

	  background-color: @icon-bg-color;
	  border-color: @icon-border-color;
	  color: @theme-tertiary;
	}

	&.active {
		background: @icon-bg-checked-color !important;
		// border-color: @icon-border-checked-color;
	  	outline:0;
	  }

  }

  @media (@xs) {
	.radioIconSize(60px, @font-size-base, 0);
  }
  @media (@sm-only) {
	.radioIconSize(50px, @font-size-small, 1);
  }
  @media (@md-only) {
	.radioIconSize(50px, @font-size-small, -1);
  }
}

/*
div.roundedCheckboxIcons {
  label.btn i {
	border: 5px solid purple;
	font-size:10px;
  }
}*/