@media (@md) {
  #results-summary-container {
    margin-left: 10px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 12px;

    .vertical-middle {
      line-height: 40px;
    }

    .segment {
      display: inline-block;
      margin-left: 8px;
      padding-left: 10px;
      border-left: 1px solid #fff;
    }
    .segment-last {
      padding-right: 10px;
      border-right: 1px solid #fff;
    }

    .usage {
      top: 6px;
      position: relative;
    }
  }
}


// your details snapshot
.yourDetailsSnapshot  {
  background-color: white;
  border:1px solid @border-colour;

  .content {
    padding: 10px;
  }

  .row {
    font-size: 14px;
    padding-top:4px;
    padding-bottom:4px;
  }

  .title {
    font-weight: 600;

    > span {
      font-weight: normal;
    }
  }
}

// ie8 fix
html.ie8 body.utilities_design_55 {
  .quote-summary > .sidebar-box,
  .yourDetailsSnapshot {
    margin-top: -32px;
  }
}

body.utilities_design_55 {
  .product-snapshot {
    .snapshot-product-header {
      @media (@lg-only) {
        display: table;
      }
    }

    .logoContainer {
      padding-right:10px;

      @media (@sm) {
        .companyLogo {
          float: none;
        }
      }
    }
    .logoContainer + div {
      padding-right:15px;
      @media (@sm) {
        padding-left: 15px;
      }
    }

    .logoContainer, .logoContainer + div {
      @media (@lg-only) {
        display: table-cell;
        vertical-align: top;
      }
    }
  }

  @media (@sm-only) {
    .snapshot .icon-energy {
      font-size: 2.5em;
    }
  }

  // temporary alignment code until the headers are placed within the white box
  .fieldset-column-side.col-sm-3 {
    margin-top: 54px;
  }

  .fieldset-column-side {
    padding-top: 0;

    .sidebar-box {
      font-size: 1.2em;
      padding: 20px;
      margin-bottom: 1em;

      .callCentreNumber {
        color: @theme-secondary;
        font-weight: 700;
        // Make this slightly bigger than its parent
        font-size: 1.2em;
      }
    }
  }

  .content,
  .fieldset-card,
  .fieldset-column-side .sidebar-box{
    background-color: white;
    border:1px solid @border-colour;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1);
  }
}