@utilities-quote-number: @theme-secondary;

//== Rounded Icons
//
//##
@extras-color-light: #0db14b;
@icon-bg-color: #EDEDED;
@icon-bg-checked-color: @theme-secondary;
@icon-border-color: darken(@icon-bg-color, 12%);
@icon-border-checked-color: darken(@icon-border-color, 12%);
@icon-more-border-color:#162F8A;

// TEMPORARY. currently done as variables.less on a per vertical basis. need to put into a v3 bootstrap folder instead
@border-color: #E7E7E7;
@main-bg-colour: #F3F3F5;

@section-text-color: #545454;