// Mixins for icon sizes.
.benefitsIconSize(@icon-font-size, @label-font-size, @margin-offset){
	div.checkbox {
		label{
			font-size: @label-font-size;
			&:before{
				font-size: @icon-font-size;
				display: inline-block;
			}
		}
	}
}
body.health {
	&[data-step="benefits"] {
		.rotateEl(@degrees) {
			-webkit-transform: rotate(@degrees);
			-moz-transform: rotate(@degrees);
			-o-transform: rotate(@degrees);
			-ms-transform: rotate(@degrees);
			transform: rotate(@degrees);
		}

		@media (@sm) {
			.extrasOverlay {
				display: none;
			}
		}

		@media (@xs-only) {
			.benefitsOverflow {
				width: 200%;
				overflow: hidden;
				position: relative;
			}

			.hospitalOverlay,
			.extrasOverlay {
				border: 2px solid #1C3E93;
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: 50;
			}

			.extrasOverlay {
				display: block;
			}
		}

		.tieredHospitalCover {
			width: 45%;
			display: inline-block;
			vertical-align: top;

			.scrollable {
				margin-left: 15px;
			}

			.Hospital_container {
				padding-right: 15px;
			}

			.GeneralHealth_container {
				@media (@sm) {
					border-left: 1px solid #DDD;
				}
				padding-left: 20px;
			}

			.categoriesCell {
				height: 50px;
			}

			.benefits-list {
				margin-left: 15px;

				// custom column width because of the design
				.section {
					min-height: 1px;
					padding-left: 15px;
					padding-right: 15px;

					&.hasShortlistableChildren {
						padding-bottom: 15px;
						h4 {
							color: #000;
						}
					}
				}

				.situation-wrapper {

					&:before {
						display: block;
						font-family: 'ctm-health';
					}
				}

				.hasIcons {
					.categoriesCell {

						.checkbox {
							padding: 0;

							input {
								&:checked,
								&.checked {
									& + label {
										color: #22B24C;
										&:before {
											font-family: 'framework_font';
											font-size: 24px;
											background-color: @health-benefits-icon-bg-checked-color;
											border-color: @health-benefits-icon-bg-checked-color;
											color: #fff;
											content: "\e600";
											vertical-align: top;
										}

									}
								}
							}

							label {
								display: block;

								padding: 0;
								margin: 0;

								.iconLabel {
									display: block;
									height: 2.4em;
									margin-top: 0.25em;
								}

								&:before {
									font-family: 'ctm-health';
									display: table;
									float: none;
									margin: 0;
									margin-bottom: 10px;
									padding: 0.15em;
									border-radius: 50%;
									border-color: transparent;
									color: @theme-tertiary;
								}
							}

							.benefitTitle {
								font-size: 14px;
							}

							.benefitSummary {
								color: #999;
								a {
									color: #1C3E93;
								}
							}

							.benefitContent {
								display: inline-block;
								padding-left: 10px;
							}
						}

						@media (@xs) {
							.benefitsIconSize(24px, @font-size-base, 0);
						}
						@media (@sm-only) {
							.benefitsIconSize(24px, @font-size-small, 1);
						}
						@media (@md-only) {
							.benefitsIconSize(24px, @font-size-small, -1);
						}
					}
				}
			}

			.limited-pane,
			.Hospital-wrapper {
				padding-top: 15px;
			}

			.title {
				h2 {
					color: @theme-accent-4;
					margin-bottom: 0;
					font-size: 18px;
				}
			}

			@media (@xs-only) {
				.nav-tabs {
					background-color: transparent;
				}
			}
		}

		.lt-ie9,
		.lt-ie10 {
			#benefitsForm .benefits-list {
				.hasIcons {
					.categoriesCell {
						width: auto;

						.checkbox {
							label.checked:before {
								background-color: @health-benefits-icon-bg-checked-color !important;
								border-color: @health-benefits-icon-border-checked-color !important;
								color: #fff;
							}
						}

						.benefitsIconSize(24px, @font-size-base, 0);
					}
				}
			}
		}

		.selectionStatus {
			cursor: pointer;
			background: #1C3E93;
			color: #FFF;
			top: 50%;
			position: absolute;
			text-transform: uppercase;
			height: 35px;
			padding: 20px;

			&.hospital {
				right: -152px;
				padding: 5px;
				padding-left: 10px;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
				.rotateEl(-90deg);
			}

			&.extras {
				left: -145px;
				padding: 5px;
				padding-left: 10px;
				border-bottom-left-radius: 10px;
				border-bottom-right-radius: 10px;
				.rotateEl(90deg);
			}

			span {
				margin-left: 2px;
				border-radius: 50%;
				background: #22B24C;
				padding: 2px;
				width: 22px;
				display: inline-block;
				text-align: center;
			}
		}
	}

	.mainBenefitHeading {
		margin-bottom: 0px;

		h2 {
			font-size: 18px;
			color: #666666;
		}

		h4 {
			font-size: 14px;
			color: #999999;
		}
	}
}