.benefitsTab {

	.nav-tabs {
		> li {

			@media (@xs-only) {
				display: inline-block;
				float: none;
			}

			h2 {
				font-size: 14px;
				color: @theme-tertiary;
			}

			&.active {
				h2 {
					color: @theme-tertiary;
				}

				a {
					border: none;
					border-bottom: 5px solid @theme-accent-4;
				}
			}

			a {
				border: none;
				padding: 5px 7px;

				&:hover {
					background-color: transparent;
				}
			}
		}
	}
}