.benefitsTab {

	.nav-tabs {
		> li {

			@media (@xs-only) {
				display: inline-block;
				float: none;
			}

			h2 {
				font-size: 14px;
				color: @theme-tertiary;
			}

			&.active {
				h2 {
					color: @theme-tertiary;
				}

				a {
					border: none;
					border-bottom: 5px solid @theme-accent-4;
				}
			}

			a {
				border: none;
				padding: 5px 7px;
				border-radius: 0;
				&:hover {
					background-color: transparent;
				}
				color:red;
				&[data-benefit-cover-type=limited] {
					border-left: 1px solid @theme-accent-4;
				}
			}
		}
		@media(@sm-only) {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}
}