.benefitsScroller {
	text-align: center;
	padding-bottom: 30px;
	border-bottom: 1px solid @gray;
	margin-bottom: 20px;

	&.sidebar {
		text-align: left;
		padding-bottom: 0;
		border-bottom: none;
		margin-bottom: 0;
	}
}