.car {
	// Used in promotions. This style id is stored in a database field.
	#promoImageContainer {
		padding-top: 25px;
		padding-bottom: 20px;

	}

	#promoPreCheckboxContainer {
		padding-top: 20px;
	}

	.carPromoImage {
		background-repeat: no-repeat;
		padding: 0;
		display: block;
		width: 301px;
		height: 127px;
		.highResImg('../competition/Fuel-Promo-August-2014.png'; '../competition/Fuel-Promo-August-2014@2x.png'; 301px; 127px);
	}

	.carPromoImageCashOctober {
		background-repeat: no-repeat;
		padding: 0;
		display: block;
		width: 302px;
		height: 170px;
		.highResImg('../competition/Car-Cash-Promo-October-2014.png'; '../competition/Car-Cash-Promo-October-2014@2x.png'; 302px; 170px);
	}
}