.car {
	.edit-details-wrapper {

		ul.primary-row-details {

			li:first-child {
				margin-left: 0;
				margin-top: 0;
			}

			li {
				@media(@lg-only) {
					&.vehicle-details-title {
						font-size: @font-size-h4;
						margin-top: 15px;
					}
				}
			}

			.vehicle-details-title {
				font-size: @font-size-base;
				margin-top: 5px;
			}
		}

		.closeDetailsDropdown {
			display: inline-block;
			float: right;
			padding-left: 10px;
			margin-right: 15px;
		}

		.btn-edit {
			text-transform: none;
		}

	}
}