.car {
	.edit-details-wrapper {

		ul.primary-row-details {

			li:first-child {
				margin-left: 0;
				margin-top: 0;
			}

			li {
				@media(@lg-only) {
					&.vehicle-details-title {
						font-size: @font-size-h4;
						margin-top: 15px;
					}
				}
			}

			.vehicle-details-title {
				font-size: @font-size-base;
				margin-top: 5px;
			}
		}

		.panel.accordion-panel.expired-panel {
			display: none;
		}
	}
}