body.car[data-step=start] {
	.snapshot {
		.btn {
			display:none;
		}
	}
}

.header-wrap {
	.quoteSnapshot {
		position:absolute;
		right:0;
		top:0.7em;
		@media(@md) {top: 1.7em;}
		margin-bottom:0;
		display:none;
		h2 {
			margin-bottom:9px;
			font-size:18px;
		}
		.snapshot-title {
			font-size:16px;
			display:block;
			height:18px;
			overflow:hidden;
		}
	}
}

body.car[data-step=results] {
	.header-wrap {
		.quoteSnapshot {
			display: block;
		}
	}
}