// Load core variables, mixins, and
// framework core before the theme.
// See: framework.build.ctm.less

// [NOTE]
// This file was copied from the default bootstrap
// theme to serve as a starting point.

//
// Structure
//
h1{
	font-family: @font-family-theme-light;
}


// Ex: 14px base font * 85% = about 12px
small,
.small  { font-size: 11px; line-height: 14px; }


ul.themed {
	list-style-type: none;
	padding-left: 15px;

	> li {
		position: relative;
		margin-bottom: 4px;

		&:before {
			display: block;
			content: "•";
			position: absolute;
			top: 0;
			left: -16px;
			font-size: 2.1em;
			line-height: @line-height-computed;
		}
	}
}

.row {
	label {
		font-weight: normal;
	}
}

.slideAction{
	padding-bottom: 20px;
}





//
// Footer
//
#footer {
	background: @footer-bg-color;
	color: @footer-text-color;
	padding-top: 20px;
	padding-bottom: 15px;
	.clearfix();
	p {
		.small;
	}

	#footer_mcafee {
		.pull-right;
		margin-left: 3px;
		margin-bottom: 3px;
	}
}
#copyright {
	color: @footer-disclaimer-text-color;
	padding: 10px;
	text-align: center;
	background-color: @footer-disclaimer-bg-color;
	.clearfix();
	p {
		margin: 0;
		.small;
		a { color: @footer-disclaimer-link-text-color; }
	}
}





//
// Buttons
// --------------------------------------------------
// Common styles that need to be defined by bootstrap.
.btn-default,
.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
	//border: 0 none; //now in .btn
	outline: 0;
	// A shadow on press is default
	&:active,
	&.active {
		.box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
	}
}

// Common styles
.btn {
	font-family: @font-family-theme-bold;
	padding: @btn-padding-standard;
	line-height: @line-height-base;
	border-radius: @border-radius-base;
	border: 0 none; //No border - define as visible with .btn-styles() 10th bool-param.
	// Remove the gradient for the pressed/active state
	&:active,
	&.active {
		background-image: none;
	}
}

// Apply the mixin to the buttons
.btn-default	{ .btn-styles(@btn-default-bg, contrast(@btn-default-bg), @theme-secondary);	}
.btn-primary	{ .btn-styles(@theme-primary, contrast(@theme-primary), @theme-secondary);		}
.btn-secondary	{ .btn-styles(@theme-secondary, contrast(@theme-secondary), @theme-primary);	}
//TODO - this is being mixed in and shouldn't be
.btn-tertiary	{ .btn-styles(@theme-tertiary, contrast(@theme-tertiary), @theme-secondary);	}
//TODO - this is being mixed in and shouldn't be

.btn-info		{ .btn-styles(@btn-info-bg, contrast(@btn-info-bg), @btn-success-bg);			}
.btn-success	{ .btn-styles(@btn-success-bg, contrast(@btn-success-bg), @btn-info-bg);		}
.btn-warning	{ .btn-styles(@btn-warning-bg, contrast(@btn-warning-bg), @btn-primary-bg);		}
.btn-danger		{ .btn-styles(@btn-danger-bg, contrast(@btn-danger-bg), @btn-danger-bg);		}
.btn-danger{ // Overrides for btn danger styles
	border: @btn-border-width solid @btn-danger-border;
	color: @btn-danger-border;
	&:hover,
	&:focus {
		color:@btn-danger-border;
	}
	&:active,
	&.active {
		color: @btn-danger-border;
	}
}

.btn-back {
	.btn-styles(@btn-back-bg-color, @btn-back-color,
	@btn-back-active-bg-color, @btn-back-active-color,
	@btn-back-hover-bg-color, @btn-back-hover-color,
	@btn-back-border-color, @btn-back-active-border-color, @btn-back-hover-border-color); }

.btn-pagination	{
	.btn-styles(@btn-pagination-bg-color, @btn-pagination-color,
	@btn-pagination-active-bg-color, @btn-pagination-active-color,
	@btn-pagination-hover-bg-color, @btn-pagination-hover-color,
	@btn-pagination-border-color, @btn-pagination-active-border-color, @btn-pagination-hover-border-color); }

.btn-email {
	.btn-styles(@btn-email-bg-color, @btn-email-color,
	@btn-email-active-bg-color, @btn-email-active-color,
	@btn-email-hover-bg-color, @btn-email-hover-color,
	@btn-email-border-color, @btn-email-active-border-color, @btn-email-hover-border-color); }

.btn-dropdown {
	.btn-styles(@btn-dropdown-bg-color, @btn-dropdown-color,
	@btn-dropdown-active-bg-color, @btn-dropdown-active-color,
	@btn-dropdown-hover-bg-color, @btn-dropdown-hover-color,
	@btn-dropdown-border-color, @btn-dropdown-active-border-color, @btn-dropdown-hover-border-color); }

.btn-save {
	.btn-styles(@btn-save-bg-color, @btn-save-color,
	@btn-save-active-bg-color, @btn-save-active-color,
	@btn-save-hover-bg-color, @btn-save-hover-color,
	@btn-save-border-color, @btn-save-active-border-color, @btn-save-hover-border-color); }

.btn-cancel	{
	.btn-styles(@btn-cancel-bg-color, @btn-cancel-color,
	@btn-cancel-active-bg-color, @btn-cancel-active-color,
	@btn-cancel-hover-bg-color, @btn-cancel-hover-color,
	@btn-cancel-border-color, @btn-cancel-active-border-color, @btn-cancel-hover-border-color); }

.btn-next {
	.btn-styles(@btn-next-bg-color, @btn-next-color,
	@btn-next-active-bg-color, @btn-next-active-color,
	@btn-next-hover-bg-color, @btn-next-hover-color,
	@btn-next-border-color, @btn-next-active-border-color, @btn-next-hover-border-color); }

.btn-cta {
	.btn-styles(@btn-cta-bg-color, @btn-cta-color,
	@btn-cta-active-bg-color, @btn-cta-active-color,
	@btn-cta-hover-bg-color, @btn-cta-hover-color,
	@btn-cta-border-color, @btn-cta-active-border-color, @btn-cta-hover-border-color); }

.btn-shortlist {
	.btn-styles(@btn-shortlist-bg-color, @btn-shortlist-color,
	@btn-shortlist-active-bg-color, @btn-shortlist-active-color,
	@btn-shortlist-hover-bg-color, @btn-shortlist-hover-color,
	@btn-shortlist-border-color, @btn-shortlist-active-border-color, @btn-shortlist-hover-border-color); }

.btn-clear {
	.btn-styles(@btn-clear-bg-color, @btn-clear-color,
	@btn-clear-active-bg-color, @btn-clear-active-color,
	@btn-clear-hover-bg-color, @btn-clear-hover-color,
	@btn-clear-border-color, @btn-clear-active-border-color, @btn-clear-hover-border-color); }

.btn-download {
	.btn-styles(@btn-download-bg-color, @btn-download-color,
	@btn-download-active-bg-color, @btn-download-active-color,
	@btn-download-hover-bg-color, @btn-download-hover-color,
	@btn-download-border-color, @btn-download-active-border-color, @btn-download-hover-border-color, true); } //draw with borders activated

.btn-call {
	.btn-styles(@btn-call-bg-color, @btn-call-color,
	@btn-call-active-bg-color, @btn-call-active-color,
	@btn-call-hover-bg-color, @btn-call-hover-color,
	@btn-call-border-color, @btn-call-active-border-color, @btn-call-hover-border-color, true); } //draw with borders activated

//** Between pages, the journey nav button should have custom padding on XS.
@media (@xs-only){
	.journeyNavButton{
		padding-bottom:15px;
		padding-top:15px;
	}
}





//
// Images
// NOT USED by framework.build.core.less
// --------------------------------------------------
// .thumbnail,
// .img-thumbnail {
// 	.box-shadow(0 1px 2px rgba(0,0,0,.075));
// }





//
// Text
// --------------------------------------------------
.text-primary {
  color: @theme-primary;
  &:hover{
	color: @theme-primary; // override the bootstrap default hover color
  }
}
.text-secondary {
	color: @theme-secondary;
}
.text-tertiary {
	color: @theme-tertiary;
}

.text-default {
	color: @theme-default;
}
.text-dark {
	color: @theme-dark;
}
.text-light {
	color: @theme-light;
}

.text-bold {
	font-weight: bold;
}
.text-italic {
	font-style: italic;
}
h5{
	.text-dark;
}
a{
	cursor: pointer; // forces invalid links (no href set) to have the proper cursor anyway
}

//
// Font icons
// --------------------------------------------------
.help-icon {
	outline: 0;
	color: @icon-help-colour;
	&:hover,
	&:focus {
		outline: 0;
		text-decoration: none;
	}
	padding:0 3px;

}

//
// Headers, Headerbars and all the special conditions for breakpoints.
// ---------------------------------------------------------------------------------
body > header {
	> .header-top { background-color: @header-bg; }
	min-height: @navbar-height; //XS
	@media all and (min-width: @screen-sm) {
		min-height: 146px; //SM
	}
	@media all and (min-width: @screen-md) {
	   min-height: 174px; //MD and LG
	}
	a {
		color: @header-link-color;
		&:hover{ color: @header-link-hover-color }
}
}

//Design Attributes of the header's contact us and in xs dropdown
.header-collapse-contact {
	background-color: @theme-secondary;
	@media (max-width: @screen-xs-max) {
		&,a { color: #fff; }
	}
	> ul li {
		white-space: nowrap;
		.hidden-xs > * { margin: 0; }
		p,small { color: #fff; }
		h4,h1 {
			line-height: 40px;
			display: inline-block;
			//This one dynamically fades based on highest contrast.
			//color: contrast(@header-bg, @headings-color, lighten(@header-bg, 35%));
			//This one picks white based on highest contrast
			color: contrast(@header-bg, @headings-color, #fff);
		}
		h1 {
			font-family: @font-family-theme-bold;
			font-weight: 400;
		}
		[data-livechat="button"] {
			vertical-align: super;
			margin-left: 20px;
			margin-top: -4px;
		}
		@media (min-width: @screen-md-min) {
			.hidden-xs {
				h4,h1 { line-height: 67px; }
				h1 { font-size: 210%; }
			}
		}

	}
}

//On XS we should dock the headerbars.
@media (@xs-only) {
	//Push the page down to make some space
	body[data-step="results"] {
		padding-top: @navbar-height;
	}
	.xs-results-pagination {
		.fixedInPlace;
		top: @navbar-height;
		z-index: (@zindex-dropdown-interactive-base - 110);

		display: none !important;
		body[data-step="results"] & {
			display: block !important;
		}
	}
	.productSummary-parent.visible-xs {
		min-height: 67px;
		//Only visible on the results step
		display: none !important;
		body[data-step="apply"] & {
			display: block !important;
		}
	}

}

//This allows multiple collapsing rows to sit on the same navbar row.
.header-top {
	background-color: @body-bg;
	z-index: @zindex-dropdown-interactive-base;
	position: relative;

	.row > .navbar-collapse {
		//FIXME: These padding items reset internal padding that navbars have so they sit against the container sides but this idea breaks on mobile breakpoint. Needs work.
		padding-left: 0;
		padding-right: 0;
	}

	.navbar-collapse {
		max-height: none;
		&:before,
		&:after {
			display:inline;
			content:"";
		}
		.container { position: relative; }
	}
	.navbar-toggle {
		border-radius: 0;
		width: 40px;
		height: 40px;
		background-color: @navbar-default-toggle-hover-bg;
		margin: 0;
		color: @navbar-default-toggle-icon-bar-bg;
		.icon-bar {
			width: auto;
			background-color: @navbar-default-toggle-icon-bar-bg;
		}
		.icon {
			display: none;
			color: @navbar-default-toggle-icon-bar-bg;
		}
		.icon-cross {
			display: block;
			font-size: 18px;
		}
		&.collapsed { //Actually the default state
			background-color: @theme-tertiary;
			.icon { display: block; font-size: 21px; }
			.icon-cross { display: none; }
		}
		&.disabled{
			display: none;
		}
	}
	//Mobile doesn't have any top or bottom margins, they stack perfectly.
	.navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
	> .container {
		padding: 0;

		//
		// This is a hack which makes the elements on mobile go to the side.
		//
		@media (max-width: @grid-float-breakpoint-max) {
			margin: 0;
		}
	}

	//
	// This is a hack which makes the desktop elements come back in from the sides
	//
	@media (@xs-only) {
		.header-collapse-contact,
		.header-buttons-logos {
			margin-left: -15px;
			margin-right: -15px;
		}
		.header-collapse-contact > .navbar-nav {
			margin-left: 0;
			margin-right: 0;
		}

		.fixedInPlace;
		top: 0; //Overlap the padding top on the body with this.
		z-index: (@zindex-dropdown-interactive-base - 100);
		outline-width: 1px;
		outline-style: solid;
		outline-color: @theme-light;
		outline-color: rgba(0, 0, 0, 0.1);

		.benefits-component {
			.scrollable {
				//Max height gets set dynamically to the remaining height of the viewport.
				-webkit-overflow-scrolling: touch; //could be screwing up z-index stacking contexts.
				z-index: (@zindex-dropdown-interactive-base + 10);
			}
		}

		//Design Attributes of the mobile xs header's contact us dropdown
		.header-collapse-contact {
			background-color: @theme-secondary;
			color: #fff;
			> ul li {
				p, small, h1, h4 { color: #fff; display: block; }
				h1 {
					font-family: @font-family-theme-bold;
					font-size: 220%;
					margin-top: 0;
					font-weight: normal;
				}
				min-height: 600px;
			}
		}
		.header-buttons-logos {
			.contact.collapsed {
				background-color: @theme-secondary;
			}
		}
	}
	@media (@sm-only) {
		.header-collapse-contact, .header-buttons-logos {
			padding-left: 0;
			padding-right: 0;
		}
	}
}


//
// Navbar
// --------------------------------------------------
.navbar {
	border: 0 none;
}
.navbar-affix.affix {
	position: static; //Override the affix by default
}

.navbar-default .navbar-nav {
	& > li {
		& > a,
		& > .transactionIdContainer {
			font-family: @font-family-theme-bold;
		}
		& > a {
			&.inactive{
				.opacity(0.25);
				cursor: default;
			}
			// Specificity issues dictate that we override the override from .navbar-default
			&.btn-back {
				color: @btn-back-color;
				background-color: @btn-back-bg-color;
				&:hover,
				&:focus,
				&:active, &.active{
					background-color: @btn-back-hover-bg-color;
				}
			}
			&.btn-email {
				color: @btn-email-color;
				background-color: @btn-email-bg-color;
				&:hover, &:focus,
				&:active, &.active {
					background-color: @btn-email-hover-bg-color;
				}
			}
			&.btn-dropdown {
				color:@btn-dropdown-color;
				background-color: @btn-dropdown-bg-color;
				&:hover, &:focus,
				&:active, &.active {
					background-color: @btn-dropdown-hover-bg-color;
				}
			}
			&.btn-pagination {
				color: @btn-pagination-color;
				background-color: @btn-pagination-bg-color;
				&:hover, &:focus,
				&:active, &.active {
					background-color: @btn-pagination-active-bg-color;
				}
			}
			&.btn-cta {
				color: @btn-cta-color;
				background-color: @btn-cta-bg-color;
				&:hover, &:focus,
				&:active, &.active {
					background-color: darken(@btn-cta-bg-color, 12%);
				}
			}
			//icons are hidden in the desktop menu bars.
			.icon {
				display: none;
			}
			@media (max-width: @screen-xs-max) {
				.icon {
					display: inline-block;
					& + span, & + div {
						margin-left: 12px;
					}
				}
			}
			//Special exemptions are always right and left arrows. Right arrows need to be doubleclassed with a hidden-xs to have an icon on desktop.
			.icon-arrow-left, .icon-arrow-right.hidden-xs  {
				display: inline-block;
			}
		}
		// & = li
		&.open .btn-back.dropdown-toggle,
		&.open .btn-email.dropdown-toggle,
		&.open .btn-dropdown.dropdown-toggle,
		&.open .btn-pagination.dropdown-toggle {
			//here
			color: @dropdown-interactive-color;
			background-color: @dropdown-interactive-bg;
		}
	}
}

//
// Date Picker
// --------------------------------------------------
.datepicker {
	table tr td {
		&.old,
		&.new {
			//visibility: hidden;
		}
		&.disabled,
		&.disabled:hover {
			color: @theme-light;//lighten(@text-color, 60%);
		}
	}
	.clear{
		.btn-form;
		color: white;
	}
	&.datepicker-inline{
		padding: 0;
		border:1px solid @input-border;
	}
}



#email-quote-dropdown{
	#saveQuoteSuccess + #callback-form-component{
		padding-top: 0;
	}
}

.btn-cancel.saved-continue-link {
	.btn-link;
}

.productSummary-affix{
	// TODO - update with the mobile affix stuff.
	position: static; //Override the affix by default
	background-color: #fff;
	border-bottom: 2px solid @table-border-color;
	padding: 5px;

}
//On XS we should dock the productSummary.
@media (max-width: @screen-xs-max) {
	.productSummary-affix.visible-xs {
		.fixedInPlace;
		z-index: (@zindex-dropdown-interactive-base - 80);
	}
}

#navbar-main {
	-webkit-transition: all 60ms ease-in-out;
	-moz-transition: all 60ms ease-in-out;
	transition: all 60ms ease-in-out;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	//Add a line for non white backgrounds
	border-top: 1px solid @body-bg;
	margin-top: -1px; //now negate the existance of that line in terms of 'space' so it wont appear when the bar is docked.
	border-bottom: 1px solid @body-bg;
}


//
// Customised Links and dropdowns inside a navbar
// --------------------------------------------------
@media (min-width: @screen-sm-min) {
	.navbar-nav {
		border-left: 1px solid #fff;

		> li {
			> a,
			&.open > a,
			a.active,
			a:focus,
			a:active,
			&.open > a:focus {
				border-right: 1px solid #fff;
				&:hover {
					border-color: #fff;
				}
			}
		}
	}
	.header-collapse-contact > .navbar-nav {
		border-left: 0 none;
	}

	// On non-mobile, fix the navbar to the top
	.navbar-affix.affix,
	body.dropdown-fitviewport .navbar-affix {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
}

//Special bar for results only on mobile.
.xs-results-pagination{
	.container{
		margin: 0;
		padding:0;
	}
	.navbar-nav{
	  margin: 0;
		background-color: @btn-pagination-bg-color;
	}
	.spacer{
		position: relative;
		span{
			display: block;
			width: 100%;
		}
	}
	li {
	  float: left;
	  border-left: 1px solid #fff;
	  border-right: 1px solid #fff;
	  > a {
		padding-top:    @navbar-padding-vertical;
		padding-bottom: @navbar-padding-vertical;
	  }
	  &.right{
		  float:right;
	  }
	  &:last-child{
		  border-right:none;
	  }
	  &:first-child{
		  border-left:none;
	  }
	}
}


//
// LOGO MAGIC
// --------------------------------------------------
#logo {

	background-repeat: no-repeat;
	padding: 0;

	// Allows the mobile first view to horizontally center
	// Doesn't seem to negatively affect other breakpoints, but if it does, we just flip them back to the commented versions in each breakpoint below.
	float: none;
	display: block;

	//XS Mobile first base
	width: 200px;
	height: 30px;
	margin: 8px auto 0 auto;

	background-size: 200px 30px;
	.highResImg('../graphics/logo-xs.png'; '../graphics/logo-xs-@2x.png'; 200px; 30px);

	//Scale up override for SM logo and retina support
	@media only screen and (min-width: @screen-sm-min) {
		width: 268px;
		height: 40px;
		margin: 22px 0 0 -4px;
		background-size: 268px 40px;
		.highResImg('../graphics/logo.png'; '../graphics/logo-@2x.png'; 268px; 40px; ~"");
	}

	//Scale up override for MD & LG logo and retina support
	@media (min-width: @screen-md-min) {
		width: 420px;
		height: 72px;
		margin: 10px 0 0 -7px;
		background-size: 420px 72px;  
	}
}

//
// Modal overrides
// --------------------------------------------------
.modal-backdrop {
  &.in { .opacity(.8); }
}

//Just making a default style for tables in modals. Just because.
.modal-body {
	table {
		.table;
		.table-striped;
		.table-condensed;
		//.table-responsive;
	}
}

// Lists
.list-no-style{
	list-style-type: none;
}
.list-no-indent{
	padding-left: 0;
}

//
// List groups
// NOT USED by framework.build.core.less
// --------------------------------------------------

// .list-group {
// 	border-radius: @border-radius-base;
// 	.box-shadow(0 1px 2px rgba(0,0,0,.075));
// }
// .list-group-item.active,
// .list-group-item.active:hover,
// .list-group-item.active:focus {
// 	border-color: darken(@list-group-active-border, 7.5%);
// }



//== Wells (base styling)
//
//** See Well Variants below. Known as technical message to UI/UX

.well {
	border: 0;
	padding: 10px 20px;
	border-radius: @border-radius-large;
	margin-bottom: 28px;

	h4 {
		font-weight: 400;
		font-size: 21px;
		margin: 5px 0;
	}

	.larger{
		font-family:@font-family-theme-light;
		font-size: 22px;

		@media(@md){
			font-size: 32px; // This is different so the phone number doesn't wrap.
		}

	}

	.smaller{
		font-size: @font-size-small;
	}
}


//== Well Variants (aka MESSAGING as UI/UX terms it)
//
//** Known as technical message to UI/UX
.well-help {
	.well-variant(@well-bg-help, @well-text-help, @well-header-help);
}

//** Known as reassurance message to UI/UX
.well-info {
	.well-variant(@well-bg-info, @well-text-info);
	h1, h2, h3, h4, h5, h6 {
		color: @label-color;
		margin-top: 0;
	}
	* {
		& + h1, & + h2, & + h3, & + h4, & + h5, & + h6 {
			margin-top: 15px;
		}
	}
	a {
		//color: @label-color; //breaks white label
		text-decoration: underline;
		&.btn { text-decoration: none; }
		}
	}

//** Known as inline message to UI/UX
.well-chatty {
	.well-variant(@well-bg-chatty, @well-text-chatty);
}


.well-chatty a {
	color: @label-color;
}

// Move the speech tail to other side.
.well-help, .well-chatty {
	&:after {
		border-width: 20px 30px 0 0;
		left: 30px;
	}
}



//
// Forms
// --------------------------------------------------
fieldset {
	margin-bottom: (@padding-base-vertical*4);
}
//legend
//label
fieldset h2 {
	border-bottom: 1px solid @fieldset-heading-line-colour;
	padding-bottom: 8px;
	margin-top: 0;
	margin-bottom: (@padding-base-vertical*2);
	font-size: 20px;
	color: @fieldset-heading-colour;
}
.fieldset-column-side {

	@media (min-width: @screen-sm-min) {
		padding-top: 32px; //47px
	}

	.well + .well {
		margin-top: 40px;
	}

	img {
		max-width: 100%;
	}
}

// Checkboxes and radios
//
// Indent the labels to position radios/checkboxes as hanging controls.

.radio,
.checkbox {
	padding-left: 34px;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin-left: -30px;
}

.form-control {
	option[value=""] {
		color: @input-color-placeholder;
	}
	&[disabled],
	&[readonly],
	fieldset[disabled] & {
		cursor: not-allowed;
		border-color: @input-border-disabled;
		background-color: @input-bg-disabled;
	}
}

//.form-horizontal {
//	.checkbox {
//		padding-top: 8px;
//	}
//}

.form-group {
	margin-bottom: 15px;
}
.input-group-addon {
	color: @input-group-addon-color;
}
.fieldrow_legend {
	//.help-block; //Because we always write out empty fieldrow_legend this isn't suitable.
	color: @input-color-placeholder;
	// &:before {
	// 	content: '('
	// }
	// &:after {
	// 	content: ')'
	// }
}

// Hide radio elements in a button group otherwise if the buttons wrapped, the radio would be exposed.
.btn-group .btn input[type=radio] {
	//visibility: hidden;
	.opacity(0);
}

.btn-form-inverse { //used for button group radio toggles, where the active state is reversed
	.btn-styles(@btn-form-active-bg-color, @btn-form-active-color,
	@btn-form-bg-color, @btn-form-color,
	@input-bg, @input-color,
	@btn-form-active-border-color, @btn-form-border-color, @input-border, true);
}

.btn-form { //used for everything else
	.btn-styles(@btn-form-bg-color, @btn-form-color,
	@btn-form-active-bg-color, @btn-form-active-color,
	@btn-form-hover-bg-color, @btn-form-hover-color,
	@btn-form-border-color, @btn-form-active-border-color, @btn-form-hover-border-color); }

[data-toggle="radio"] > .btn-form-inverse { //not sure why there was an attribute selector at work here... they are slower.
	font-family: @font-family-sans-serif;
	&.active, &:active {
		color: @form-input-common-selected-text-colour;
	}
	// NOTE!! Button group states are part of .form-control-button-group-validation mixin after this declaration, but the current implementation is actually applying .disabled to the label and input of a .button-group.
	&[disabled],
	&.disabled,
	&[readonly] {
		cursor: not-allowed;//already defined by .btn.disabled
		//TODO: Check - There might be an opacity change coming in here from .btn.disabled
		border-color: @input-border-disabled;
		background-color: @input-bg-disabled;
		&.active {
			color: @input-bg-disabled;
			background-color: @input-border-disabled;
		}
	}
}
//Gets rid of the double border seen on button groups
.btn-group .btn+.btn {
	border-left-width: 0;
	&.active {
		border-left-width: @btn-border-width;
	}
}




// CTM Overrides for On/off switch ('bootstrap-switch' plugin) in framework/jquery/plugins/bootstrap-switch-2.0.0.min.js
.has-switch {
	border-radius: 20px;
	min-width: 60px;

	span, label, span.switch-right {
		color: #fff;
		text-align: center;
	}
	span {
		&.switch-small {
			width: 40%;
			font-weight: bold;
		}
		&.switch-right {
			width: 40%;
			padding-right: 2.25%;

		}
	}
	label {
		z-index: 9; //override default of 100

		&:before {
			content: '';
			display: inline-block;
			position: relative;
		}

		&.switch-small {
			width: 20%;

			&:before {
				border: 8px solid #fff;
				border-radius: 8px;
				top: 4px;
				margin-top: -10px;
			}
		}
	}

	.switch-off {
		&, label, span {
			background: @form-input-common-deselected-bg-colour;
		}
	}

	.switch-on {
		&, label, span {
			background: @form-input-common-selected-bg-colour;
		}
	}

	// Special overrides
	> div {
		&.switch-animate {
			.transition(left 0.1s);
		}
	}
	html.lt-ie9 &.disabled {
		> div, span, label {
			.opacity(.5);
		}
	}
	input[type=radio],
	input[type=checkbox] {
		display: block;
		visibility: hidden;
		position: absolute;
	}
}


// Form control feedback states
//
// Apply contextual and semantic states to individual form controls.

.error-field {
	color: @brand-warning;
	label {
		font-weight: normal;
		font-size: 0.9em;
		display: block; //So that multiple errors display stacked.
	}
}

// Warning
.has-warning {
	.form-control-validation(@state-warning-text; @state-warning-border; @state-warning-bg; @state-warning-text; @state-warning-border; @state-warning-bg);
	//Button group warning
	.form-control-button-group-validation(@state-warning-text; @state-warning-border; @state-warning-bg);
}
// Error
.has-error {
	.form-control-validation(@state-danger-text; @state-danger-border; @state-danger-bg; @state-danger-text; @state-danger-border; @state-danger-bg);
	//Button group error
	.form-control-button-group-validation(@state-danger-text; @state-danger-border; @state-danger-bg);
}
// Success
.has-success {
	.form-control-validation(@state-success-text; @state-success-border; @input-bg; @state-success-text; @state-success-border; @input-bg);
	//button group success is default style
}

//The missing disabled states. Allows for rows or forms to be given disabled state and disable all elements inside.
.disabled, fieldset[disabled] {
	.form-control-validation(
		@input-color-placeholder;
		@input-border-disabled;
		@input-bg-disabled;
		@input-color-placeholder;
		@input-border-disabled;
		@input-bg-disabled
	);
	.form-control-button-group-validation(
		@input-color-placeholder;
		@input-border-disabled;
		@input-bg-disabled
	);
	.btn-group>.btn { //Fixes errors around this somehow.
		cursor: not-allowed;
	}
}

// Success for typeahead
.twitter-typeahead {
	.tt-query,
	.tt-hint {
		.has-success & {
			.typeahead-form-control(@state-success-text,@state-success-border);
		}
	}
	.spinner {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 5;
	}
}

input[type=text],
input[type=password],
input[type=email]{
	+ .spinner{
		float: right;
		margin-top: (-@padding-base-vertical*2 - @line-height-computed/2);
	}
}





// // CTM Loading Spinner
// .cssanimations {
// 	.loading-spinner {
// 		//Green Text Blue Shadow
// 		&:before {
// 			content: '$';
// 			//color: @brand-success;
// 			color: #92DB66; //From logo
// 			text-shadow:
// 				0 0 0 rgb(40,79,179),
// 				0px -1px 0 rgb(37,76,176),
// 				0px -2px 0 rgb(35,74,174),
// 				0px -3px 0 rgb(32,71,171),
// 				0px -4px 0 rgb(30,69,169),
// 				0px -5px 0 rgb(27,66,166),
// 				0px -6px 0 rgb(25,64,164);
// 		}

// 		//Blue Text Green Shadow
// 		&:after {
// 			content: '$';
// 			//color: @brand-info;
// 			color: #2a51b5; //From logo
// 			text-shadow:
// 				0 0 0 rgb(145,217,100),
// 				0px -1px 0 rgb(142,214,97),
// 				0px -2px 0 rgb(140,212,95),
// 				0px -3px 0 rgb(137,209,92),
// 				0px -4px 0 rgb(135,207,90),
// 				0px -5px 0 rgb(132,204,87),
// 				0px -6px 0 rgb(130,202,85);
// 		}
// 	}
// }





//== QTIP based TOOLTIPS and POPOVERS
//
//## Inhouse - ctm.theme.less, ctm.mixins.less, qtip.less, health/tooltips.less.
//** qTip / non-bootstrap-popovers defaults
.popover {
	.qtip-variant(@qtip-default-border, @qtip-default-border-radius, @qtip-default-title-bg-color, @qtip-default-content-bg-color, @qtip-default-padding-title, @qtip-default-padding-content, @qtip-default-title-text-color, @qtip-default-content-text-color);
		}

.journeyEngineLoader {
	font-family: @font-family-theme-bold;

	.spinner {
		margin: 0 auto 10px;
		width: 80px;
		height: 53px;
		background: transparent url(../graphics/loading.png) top left no-repeat;
	}
	//There's probably a 'sexy' way to get this to work with the right font, but for now I'm just going to do a graphic.
	//.spinner:before,
	//.spinner:after {
		//content: '$';
		//display: inline-block;
		//font-size: 50px;
	//}
}