/*

This theme override is related to AGG-2135.
It should be done globally to the CTM theme i.e. @btn-cta-xxx in ctm.variables.less but there are many tweaks to make at a vertical level.

So it's going to be done progressively. Include this file in your framework.build.xxx.ctm.less to change the CTA button from orange to green.

*/

// Should be in ctm.variables.less
@btn-cta-bg-color: @theme-secondary;
@btn-cta-color: contrast(@btn-cta-bg-color);
@btn-cta-border-color: @btn-cta-bg-color;

@btn-cta-hover-bg-color: darken(@btn-cta-bg-color, 12%);
@btn-cta-hover-color: contrast(@btn-cta-hover-bg-color);
@btn-cta-hover-border-color: @btn-cta-hover-bg-color;

@btn-cta-active-bg-color: @theme-tertiary;
@btn-cta-active-color: contrast(@btn-cta-active-bg-color);
@btn-cta-active-border-color: @btn-cta-active-bg-color;

// Should be removed; already in ctm.theme.less
.btn-cta {
	.btn-styles(@btn-cta-bg-color, @btn-cta-color,
	@btn-cta-active-bg-color, @btn-cta-active-color,
	@btn-cta-hover-bg-color, @btn-cta-hover-color,
	@btn-cta-border-color, @btn-cta-active-border-color, @btn-cta-hover-border-color);
}

//TODO - change these to inverse in order to redefine only the instance where it's a call in the sidebar woooooo
@btn-call-inverse-color: #fff;
@btn-call-inverse-bg-color: @gray-light;
@btn-call-inverse-border-color: darken(@gray-light, 30%);

@btn-call-inverse-hover-color: @btn-call-inverse-color;
@btn-call-inverse-hover-bg-color: darken(@btn-call-inverse-bg-color, 12%);
@btn-call-inverse-hover-border-color: darken(@btn-call-inverse-border-color, 12%);

@btn-call-inverse-active-color: @theme-tertiary;
@btn-call-inverse-active-bg-color: @btn-call-inverse-bg-color;
@btn-call-inverse-active-border-color: @btn-call-inverse-active-color;

.btn-call {
	.btn-styles(@btn-call-inverse-bg-color, @btn-call-inverse-color,
	@btn-call-inverse-active-bg-color, @btn-call-inverse-active-color,
	@btn-call-inverse-hover-bg-color, @btn-call-inverse-hover-color,
	@btn-call-inverse-border-color, @btn-call-inverse-active-border-color, @btn-call-inverse-hover-border-color, true);
} //draw with borders activated