[data-step="results"] {
    .pyrrContainer {
        padding: 15px 10px 5px 10px;
        color: @gray;

        img {
            width: 100%;
        }

        .row {

            div {
                padding: 10px 10px 0 10px;
            }

            :first-child {
                padding: 10px 0 0 0;
            }

            :last-child {
                padding: 0px;
            }

            .coupon-blurb {
                font-size: 12px;
            }

            .coupon-value {
                font-size: 38px;
            }
        }

        .coupon-banner-v4 {
            display: none;
        }

        .coupon-pyrr-banner-hidden {
            display: block;
        }
    }

    .pyrrMoreInfoContainer {
        float: right;
        text-align: center;
        color: @gray;

        .topHalf {
            display: block;

            .coupon-image {
                display: inline-block;
                vertical-align: top;
                img {
                    width: 60%;
                }
            }

            .coupon-value {
                display: inline-block;
                vertical-align: middle;
                font-size: 38px;
            }
        }
        .coupon-blurb {
            display: block;
            margin: auto;
            width: 90%;
        }

        .coupon-banner-v4 {
            display: none;
        }

        .coupon-pyrr-banner-hidden {
            display: block;
        }
    }

    .pyrrContainerSimples {
        padding: 15px 10px 0 10px;
        color: @gray-dark;
        .row {
            .coupon-blurb {
                padding-top: 12px;
                font-size: 20px;
            }

            .coupon-value {
                font-size: 38px;
            }
        }
    }
}