[data-step="results"] {
    // Results page, under the CTA
    .pyrrContainer {
        padding: 15px 15px 5px 15px;
        color: @gray-dark;

        img {
            width: 100%;
        }

        .row {

            div {
                padding: 15px 0 0 10px;
            }

            :first-child {
                padding: 10px 0 0 0;
            }

            :last-child {
                padding: 0;
            }

            .coupon-blurb {
                font-size: 13px;
            }

            .coupon-value {
                color: @theme-secondary;
                line-height: 1.6em;
                font-size: 36px;
                font-weight: bold;
                padding-left: 10px;

                .smallDollar {
                    font-size: 16px;
                    top: -12px;
                }
            }
        }

        .coupon-banner-v4 {
            display: none;
        }

        .coupon-pyrr-banner-hidden {
            display: block;
        }
    }

    // More info page next to brands logo
    .pyrrMoreInfoContainer {
        float: right;
        text-align: left;
        color: @gray-dark;
        width: 40%;

        img {
            width: 100%;
        }

        .imgCol {
            padding: 0;
        }

        .blurbCol, .valueCol {
            padding: 0 10px;
        }

        .coupon-value {
            color: @theme-secondary;
            font-size: 38px;
            font-weight: bold;

            .smallDollar {
                font-size: 16px;
                top: -12px;
            }
        }

        .coupon-blurb {
            font-size: 16px;
            line-height: 1.2em;
        }

        .coupon-banner-v4 {
            display: none;
        }

        .coupon-pyrr-banner-hidden {
            display: block;
        }
    }

    // More info XS screen.
    .pyrrMoreInfoXSContainer {
        color: @gray-dark;

        img {
            width: 100%;
        }

        .row {
            width: 50%;
            margin: auto;
        }

        .imgCol {
            padding: 0;
        }

        .blurbCol {
            padding-left: 10px;
            padding-right: 0px;
            padding-top: 7px;
        }

        .valueCol {
            padding-left: 10px;
            padding-right: 0px;
        }

        .coupon-blurb {
            font-size: 14px;
        }

        .coupon-value {
            color: @theme-secondary;
            line-height: 1.4em;
            font-size: 36px;
            font-weight: bold;

            .smallDollar {
                font-size: 16px;
                top: -12px;
            }
        }

        .coupon-banner-v4 {
            display: none;
        }

        .coupon-pyrr-banner-hidden {
            display: block;
        }
    }

    // Simples more info page.
    .pyrrContainerSimples {
        display: inline-block;
        text-align: center;
        font-weight: bold;
        padding-bottom: 15px;

        .row {
            .coupon-blurb {
                color: @theme-tertiary;
                font-size: 24px;
            }

            .coupon-value {
                color: @gray-light;
                font-size: 38px;
            }
        }
    }

    .moreInfoTopLeftColumn {
        .pyrrMoreInfoInline {
            display: inline-block;
            border-left: 1px @gray-dark solid;
            padding-left: 25px;
        }
    }

}