button.opening-hours {
	margin-top: 18px;
}

table {

	tr {
		&.sorting-row,
		&:hover {
			td {
				&.sorter {
					span {
						display: block;
					}
				}
			}
		}
		
		&#opening-hours-noresults {
			td {
				text-align: center;
			}
		}
				
		td {
			
			&.sorter {
				width: 30px;
			
				span {
					display: none;
					margin-top: 3px;
				}
			
				span:hover {
					cursor: move; 
				}
			}
			
		}
		
	}

}