<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<window-title>Compare the Market</window-title>
	<stylesheet>avea/style.css</stylesheet>
	<jquery-stylesheet>avea/jquery-ui-1.8.1.custom.css</jquery-stylesheet>
	<images-folder>avea/images</images-folder>
	<exit-url>Compare The Market</exit-url>
	<root-url>http://www.comparethemarket.com.au</root-url>
	<quote-url>http://localhost:8080/ctm/car_quote.jsp</quote-url>	
	<privacy-policy-url>/ctm/legal/privacy_policy.jsp</privacy-policy-url>
	<website-terms-url>/ctm/legal/website_terms_of_use.pdf</website-terms-url>	
	<fsg-url>/ctm/legal/FSG.pdf</fsg-url>
	<pds-url>http://localhost:8080/pc/PDS/</pds-url>	
	<iSeries>
		<name>DISCDEV</name>
		<port>8011</port>
	</iSeries>
</settings>