html {
	sbackground: #fff;
	font-size: 10px;
	font-family: arial, sans-serif;
}
body {
	background: #fff url('../../brand/avea/images/background.png') repeat-x top center;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
	background-color: #ffffff;
	position: relative;
	-moz-box-shadow: 0 0 8px #9AC5F0; 	
}

#header {
	padding: 15px 40px 12px 40px;
	background-color: #fff;
	width: 880px;
	height: 70px;
}

#header h1 {
	float: left;
}

#header h1 a {
	background: transparent url('../../common/images/logo.gif') no-repeat top left;
	height:59px;
	width:189px;
	display: block;
	text-indent: -9999px;
}

/* Navigation block */
#navigation {
	height: 60px;
	float: right;
}

#navigation li {
	display: inline-block;
	margin-left: 16px;
}

#navigation li a {
	text-indent: -9999px;
	display: block;
}

#live-help a {
	background: transparent url('../../common/images/navigation-live-help.gif') no-repeat top left;
	width: 128px;
	height: 31px;
}
#live-help a:hover {
	background: transparent url('../../common/images/navigation-live-help-on.gif') no-repeat top left;
}
#save-quote a {
	background: transparent url('../../common/images/navigation-save-quote.gif') no-repeat top left;
	width: 123px;
	height: 28px;
    position: absolute;
    top: 15px;
    left: 655px;	
}
#save-quote a:hover {
	background: transparent url('../../common/images/navigation-save-quote-on.gif') no-repeat top left;
}
#exit-quote a {
	background: transparent url('../../common/images/navigation-exit-quote.gif') no-repeat top left;
	width: 123px;
	height: 28px;
    position: absolute;
    top: 15px;
    left: 800px;	
}
#exit-quote a:hover {
	background: transparent url('../../common/images/navigation-exit-quote-on.gif') no-repeat top left;
}

/* Main page styles */
#page {
	clear: both;
	background-color: #fff;
}
#navContainer {
	position:relative;
	top:-9px;
}
#steps {
	background: transparent url('../../common/images/progressBar/navigation-steps-bar.jpg') no-repeat top left;
	height: 45px;
	width: 855px;
	padding-left: 75px;
}



#steps li {
	display: inline;
	padding: 0 12px 0 9px;
	height: 36px;
	margin-left: -41px;
	
}

#steps li span {
	display: inline;
	background: transparent url('../../common/images/progressBar/badge_off.png') no-repeat center;
	padding: 10px;
	color: #fff;
	margin-right: 8px;
	font-size: 12px;
	font-weight: bold;
}

#steps li.complete span,
#steps li.current span {
	background-image: url('../../common/images/progressBar/badge_on.png');
	color: #1f419b;
	z-index: 1001;
	position: relative;
}

#steps li a {
	display: inline-block;
	height: 36px;
	padding: 0 28px 0 20px;
	line-height: 36px;
	color: #1f419b;
	text-decoration: none;
	font-size: 11px;
	position: relative;
	z-index: 1001;
}

#steps li.complete a,
#steps li.current a {
	background: transparent url('../../common/images/navigation-steps-background.png') no-repeat top right;
	color: #fff;
	z-index: 1001;
	position: relative;
}

#steps img.current {
	position: absolute;
	bottom: -7px;
	left: 50%;
	z-index: 1001;
	position: relative;	
}

#content {
	display: inline-block;
	vertical-align: top;
	position: relative;
	z-index: 20;
	height: 460px;
	width: 628px;
	border: 0px solid pink;
}

#qe-wrapper {
	background: transparent url('../../common/images/engine-panel-background.jpg') no-repeat;
	margin: 0px 0 0px 61px;
	padding: 17px;
	position: absolute;
	height: 420px;
	top:0px;
	left:0px;
}

#content a.tab-button {
	display: block;
	position: absolute;
	top: 180px;
	height: 49px;
	width: 27px;
	text-indent: -9999px;
	
}

#slide-prev {
	left: -26px;
	background: transparent url('../../common/images/button-tab-left.gif') no-repeat;
}
#slide-prev:hover {
	background: transparent url('../../common/images/button-tab-left-on.gif') no-repeat;
}
#slide-next {
	right: -26px;
	background: transparent url('../../common/images/button-tab-right.gif') no-repeat;
}

#slide-next:hover {
	background: transparent url('../../common/images/button-tab-right-on.gif') no-repeat;
}
#content a.button {
	display: block;
	width: 140px;
	height: 37px;
	text-indent: -9999px;
	background-repeat: no-repeat;
}

.button-wrapper #quote-step {
	position:absolute;
	top: 412px;
	left: 493px;	
	background-image: url('../../common/images/button-get-quote.png');
}
		
.button-wrapper #next-step {
	position:absolute;
	top: 412px;
	left: 493px;	
	background-image: url('../../common/images/button-next.png');
}

.button-wrapper #prev-step {
	position:absolute;
	top: 412px;
	left: 55px;
	background-image: url('../../common/images/button-prev.png');
}


/* External content box (Joomla) */
#external-content {
	position: relative;
	float: right;
	width: 288px;
	padding: 28px 0 12px 40px;
	z-index: 10;
	margin-right: 1px;
}

/* External content sample (actual content will need styling) */
#external-content .tip {
	background: white url('../../common/images/captain.png') no-repeat top right;
	min-height: 400px;
	width: 289px;
}

#external-content h3 {
	text-transform: uppercase;
	color: #1945fa;
	font-size: 14px;
	margin-bottom: 16px;
}

#external-content li {
	text-indent: 14px;
	line-height: 120%;
	margin-bottom: 12px;
	margin-right: 148px;
	font-size: 12px;
	color: #757b92;
	background: transparent url('../../common/images/bullet.gif') no-repeat left 2px;
}

#external-content img.captains-image {
	float: right;
	margin-left: 2px;
}

/* CC Window */
#qe-wrapper .scrollable {
	position: relative;
	overflow: hidden;
	height: 440px;
	width: 533px;
}

#qe-main {
	position: absolute;
	height: 360px;
	width: 20000em;
}

body.interim #qe-main {
	width: auto;
}

.qe-screen {
	width: 533px;
	float: left;
}

body.interim .qe-screen {
	width: 365px;
	margin-left: 50px;
}

.qe-window {
	padding-bottom: 12px;
}

.qe-window h4 {
	background: transparent url('../../common/images/cc-window-header.png') no-repeat center top;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
	height: 23px;
	line-height: 21px;
	padding-left: 22px;
}

#interim-window h4 {
	background-image: url('../../common/images/interim-header.png');
	padding-left: 32px;
}

.qe-window .content {
	background: transparent url('../../common/images/cc-window-container.png') no-repeat center bottom;
	min-height: 20px;
	padding: 8px 22px;
	font-size: 12px;
}

#interim-window .content {
	background-image: url('../../common/images/interim-container.png');
}

.qe-window p {
	margin-bottom: 8px;
}

/* Form elements */
.field {
	margin-bottom: 4px;
}

.field label {
	display: inline-block;
	width: 180px;
	vertical-align: top;
	margin-top: 3px;
}

/*
select,
.ui-autocomplete-input {
	width: 380px;
}
*/

.info {
	display: inline-block;
	margin-left: 12px;
	vertical-align: middle;
	cursor: pointer;
	width: 23px;
	height: 23px;
	background: transparent url('../../common/images/info.png') no-repeat;
}

.additional {
	display: inline-block;
	margin-left: 12px;
	vertical-align: middle;
	color: #999;
}



.field .ui-autocomplete-input {
	width: 176px
}

#qe-main button.ui-button-icon-only {
	width: 24px;
	height: 17px;
	vertical-align: top;
	margin-left: -1px;
}

.binary a.binary {
	display: inline-block;
	padding: 6px 0;
	text-align: center;
	width: 44px;
	margin-right: 2px;
	color: #1945fa;
	background-color: #f4f4f4;
	border: 1px solid #d2d2d2;
	cursor: pointer;
}

.binary a.binary-on {
	color: #fff;
	background: transparent url('../../common/images/binary-background.gif') repeat-x top left;
}
	
.ui-widget {
	font-size: 12px !important;
}
#copyright {
	background-color:#EDEDED;
}
#copyright>p {
    text-align: center;
    background-color: #EDEDED;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3px;
    color:#5080B1;
}
/* Sticky footer */
#footer {
	background-color:#EDEDED;
	border-top:1px solid #CDCDCD;
	position: relative;
	color: rgb(128, 128, 128);
	border-top: 1px solid #ffdc11;
	padding: 8px 40px 24px 40px;
	line-height: 120%;
}
#footer p {
	margin-top: 18px;
}
#footer_mcafee {
	margin-top: 18px;
	padding:10px;
	float:right;
}
#footer a {
	color: rgb(128, 128, 128);
}
.money_back_seal{
	display:none;
	right:317px;
	position:absolute;
	width:185px;
	height:68px;
	top:8px;
}
#headerimageforpoctest{
	position:absolute;
	width:185px;
	height:68px;
	left:0px;
	top:0px;
	cursor:pointer;
	cursor:hand;
}
