.form-group.select-tags-row {
	margin-bottom: 0;
}

ul.selected-tags {
	padding-left: 0;
	list-style: none;
	
	li {
		background: #fff;
		border: 2px solid @theme-secondary;
		border-radius: @border-radius-base;
		float: left;
		padding: 0 0 0 10px;
		color: @theme-secondary;
		margin: 8px 8px 0 0;
		font-size: 14px;
		line-height: 24px;
		cursor: pointer;
		
		span {
			padding-top: 3px;
			display: inline-block;
			float: left;
		}
		
		button {
			margin-left: 10px;
			border-radius: 0 0 0 0;
			color: #fff;
			background: transparent;
			background: @theme-secondary;
			padding: 4px 6px;
			float: right;
			
			&:focus {
				outline: none;
			}
		}

		&.hover {
			color: #a90000;
			border-color: #a90000;

			button {
				background: #a90000;
				color: #ffffff;
				display: inline-block;
			}

		}

	}
	
}