.form-group.select-tags-row {
	margin-bottom: 0;
}

ul.selected-tags {
	padding-left: 0;
	list-style: none;
	
	li {
		background: #fff;
		border: 2px solid @theme-secondary;
		border-radius: @border-radius-base;
		float: left;
		padding: 4px 10px;
		color: @theme-secondary;
		margin: 8px 8px 0 0;
		font-size: 14px;
		position: relative;
		
		span {
			padding-top: 3px;
			display: inline-block;
			float: left;
		}
		
		button {
			margin-left: 10px;
			border-radius: 0 @border-radius-small @border-radius-small 0;
			color: #fff;
			background: transparent;
			background: rgba(255,255,255,0);
			padding: 6px 8px;
			display: none;
			position: absolute;
			top: -2px;
			right: -22px;
			
			&:focus {
				outline: none;
			}
		}

		&.hover {
			color: #a90000;
			border-color: #a90000;
			margin-right: 30px;

			button {
				background: #a90000;
				color: #ffffff;
				display: inline-block;
			}

		}

	}
	
}