body.callCentre {
	#bank-account-fields-group {
		.bsb-validator-wrapper {
			padding-left:0;
		}
		.bank-row {
			display:none;
		}
		.bsb-validator-messages p {
			font-family: 'SourceSansProRegular';
			font-size: 0.9em;
			line-height:1em;
			padding:0;
			margin: 0 0 5px 0;
			&.error {
				color: #ff5f5f;
			}
			&.success {
				color: #0db14b;
			}
		}
	}
}