
.callbackPopupModal {
    border: 2px solid @theme-secondary;
    border-radius: 8px;
    display: block;
    width: 240px;
    position: absolute;

	&.top-right {
		top: 20px;
		right: 0;
	}

	&.top-left {
		top: 20px;
		left: 0;
	}

	&.bottom-right {
		bottom: 20px;
		right: 0;
	}

	&.bottom-left {
		bottom: 20px;
		left: 0;
	}
}