
#health-callback {
	h4,h1 {
		line-height: 40px;
		display: inline-block;
		color: @theme-dark;
		font-size: @font-size-h5;
		font-family: @font-family-theme-bold;
		span {
			color: contrast(@header-bg, @contact-headings-color, #fff);
			font-size: 28px;
		}
	}
	label {
		text-align: right;

		&.btn {
		    border: 2px solid @theme-secondary;
		    border-radius: 8px;
		    display: inline-block;
		    margin-top: 20px;
		    padding-left: 0;
		    padding-right: 0;
		    text-align: center;
		    width: 24%;
		}
		&.btn:active,
		&.btn:focus {
		    borde-color: @theme-secondary;
		    background-color: @theme-secondary;
		}
	}
	.main {
		border-right: 2px solid @theme-light;
	}
	.switch {
		display: block;
	}
    @media (@xs-only) {
		.switch {
			display: inline-block;
			float: right;
		}
	}
}
