.featuresMode {
	.compare-basket	{
		padding-top: 0px;
		h3 {
			font-family: @font-family-theme-light;
			margin-top: 0;
			margin-bottom: 2px;
			color: #999;
			font-size: 22px;
		}
		p {
			padding-top: 0.5em;
			position: relative;
			font-family: @font-family-theme-light;
			color: #999;
			line-height: 1.28em;
			font-size: 1.32em;
			@media (@md) {
				font-size: 1.15em;
			}
			@media (@lg) {
				font-size: 1.3em;
			}

			.compare-tick + label {
				margin-right:0;
			}

			.compare-tick + label:before,
			.compare-tick + label:after{
				opacity:1;
			}
		}
		.compare-max-count-label,
		.products-returned-count {
			font-weight: normal;
			font-family: @font-family-theme-bold;
		}
		.products-returned-count {
			font-size: 1.4em;
			line-height: 1.28em;
			white-space: nowrap;
		}
		.compared-products-list {
			margin-bottom: 6px;
			.name, .price {
				line-height:22px;
				height: 20px;
			}
			.name {
				font-size: 14px;
				width: 35px;
			}
			.price {
				float:right;
				font-size: 16px;
				width: 70px;
				line-height:26px;
			}
			.compare-placeholder {
				.name {
					width: 88px;
					text-overflow: clip;
				}
			}
		}
		.btn-features-compare.enter-compare-mode {
			background: @theme-secondary;
			border: 1px solid @theme-secondary;
			color: #ffffff;
			&:hover {
				background:#097833;
			}
		}
	}
}

.featuresMode.affixed-compact {
	.compare-basket {
		padding-top: 5px;
		h3 {
			display:none;
		}
		p {
			line-height: 1.28em;
			font-size: 0.95em;
			@media(@md) {
				font-size:0.9em;
			}
			@media(@lg) {
				line-height:1.5em;
				font-size:1em;
			}
			.smaller {
				font-size:0.9em;
				display:block;
			}
		}
		.products-returned-count {
			font-size: 1.4em;
		}
		.compared-products-list {
			margin-bottom: 6px;
			li {
				line-height: 22px;
				height:20px;
			}
			.name, .price {
				line-height: 18px;
				height: 16px;
			}
			.price {
				line-height: 20px;
				height: 20px;
			}
		}
		.btn-features-compare {
			padding: 5px;
		}
	}
}