.compareCheckbox {

	cursor: pointer;
	position: relative;

	@media (@xs-only) {
		display: none;
	}

	label {
		cursor: pointer;
	}

	input {

		.opacity(0);
		position: absolute;

		& + label {
			position: relative;
			width: 20px;
			height: @compare-checkbox-height;
			margin: 0;
			line-height: 1;
		}

		&+label:after,
		&+label:before {
			font-family: 'framework_font';
			font-weight: normal;
			position: absolute;
			cursor: pointer;
		}

		&+label:after {
			top: 3px;
			left: 1px;
			font-size: 16px;
			content: "\e603"; //Unicode for .icon-circle-cut
			color: @checkbox-health-compare-circle-unchecked;
		}

		&+label:before{
			left: 5px;
			top: 2px;
			font-size: 14px;
			content: "\e600"; //Unicode for .icon-tick
			color: @checkbox-health-compare-tick-unchecked;
		}

		&:checked {
			&+label:before {
				color: @checkbox-health-compare-tick-checked;
			}
			&+label:after {
				color: @checkbox-health-compare-circle-checked;
			}
		}

		.lt-ie9 &.checked {
			& + label:before {
				color: @checkbox-health-compare-tick-checked;
				content: "\e600 "; //Unicode for .icon-tick - requires this space to trigger content change which forces pseudo-element redraw.
			}
			& + label:after {
				color: @checkbox-health-compare-circle-checked;
				content: "\e603 "; //Unicode for .icon-circle-cut
			}
		}

		&:hover {
			cursor: pointer;
		}

		&[disabled] {
			& + label {
				cursor: default;
			}
			& + label:before,
			& + label:after {
				.opacity(.3);
				cursor: default;
			}
		}

	}

}