.progress-bar-row.confirmation .journeyProgressBar_v2 {
	display: none;
}

#confirmation {
	/* general styles */
	background-color: transparent;
	font-size: 22px;

	p {
		margin-bottom: 20px;
	}

	span {
		&.important-text {
			font-family: @font-family-theme-bold;
		}
		&.purchase,
		&.success-and-further-questions {
			display: none;
		}
	}

	ul {
		list-style-type: none;
		padding-left: 0px;

		li {
			margin-bottom: 10px;
			font-size: 16px;
		}
	}

	@media(@xs-only) {
		font-size: 16px;
	}

	/* placed here due to the two different layouts */
	.fundDetails {
		font-size: 16px;

		.phoneNumber {
			font-size: 30px;
		}

		p {
			margin-bottom: 10px;
			@media(@xs-only) {
				font-family: @font-family-theme-bold;
				font-size: 18px;
			}
		}

		@media(@xs-only) {
			.companyLogo {
				display: none;
			}
		}
	}

	/* main copy area*/
	.confirmation-complete {

		h1 {
			font-size: 30px;
			margin-bottom: 20px;
		}

		.companyLogo {
			max-height: none;
			max-width: none;

			.providersHighResSpriteImages(~"health"; ~""; @providerMoreInfoLogoNames);
			@media (@xs-only) {
				.providersHighResSpriteImages(~"health"; ~""; @providerMoreInfoLogoNames; 0.4);
			}
			@media (@sm-only) {
				.providersHighResSpriteImages(~"health"; ~""; @providerMoreInfoLogoNames; 0.9);
			}
			@media (@md-only) {
				.providersHighResSpriteImages(~"health"; ~""; @providerMoreInfoLogoNames; 0.8);
			}

			margin-left: 15px;
		}

		/* There is also a fieldset.nextSteps */
		div.nextSteps {
			margin-top: 60px;
		}
	}

	/* right hand column */
	.fieldset-column-side {
		@media(@xs-only){
			.policySummary-sidebar {
				margin-bottom: 25px;
			}
		}

		.policySummaryContainer:not(.formMode) {
			margin-top: 0px;
		}

		.productSummaryDetails {
			padding-bottom: 0px;
			margin-bottom: 0px;

			.brochurePlaceholder {
				margin-top: 20px;
			}
		}
	}

	/* cross sell */
	#confirmation-compare-options {
		margin-bottom: 0px;
		.options-list {
			margin-top: 40px;

			> div {
				min-height: 150px;
				width: 155px;
			}

			a {
				text-transform: none;
				font-size: 14px;

				.icon {
					color: @theme-tertiary;
					background-color: @icon-bg-color;

					width: 76px;
					height: 76px;
					border-radius: 76px;
					font-size: 38px;
					line-height: 60px;

					// filled in icon versions only for health for now
					&.icon-travel:before {
						content: "\e928";
					}

					&.icon-car:before {
						content: "\e923";
					}

					&.icon-life:before {
						content: "\e926";
					}

					&.icon-homeloan:before {
						content: "\e927";
					}

					&.icon-home:before {
						content: "\e925";
					}

					&.icon-fuel:before {
						content: "\e920";
					}

					&.icon-ip:before {
						content: "\e921";
					}

					&.icon-roadside:before {
						content: "\e922";
					}

					&.icon-utilities:before {
						content: "\e91f";
					}
					&.icon-pet:before {
						content: "\e937";
					}

				}
			}
		}
	}

	.policySummary-sidebar.hasDualPricing {
		.premium-rising-tag {
			background-color: @theme-accent-3;
			color: #fff;
			font-size: @font-size-small;
			margin: 10px -20px;
			padding: 10px;
			text-align: center;

			.dual-pricing-learn-more {
				display: none;
			}
		}

		.dual-pricing-before-after-text {
			color: #999;
			font-size: @font-size-small;
			text-align: center;
			margin-top: 10px;
		}

		.april-pricing {
			margin-top: 10px;
			p {
				display: none;
			}

			.price.premium {
				.frequencyAmount {
					color: @theme-accent-3;
				}
			}
		}

		hr {
			display: none;
		}
	}
}

.coupon-banner-container {
	display: none;
}