/**********************************************
	LESS PORTED FROM core/confirmation.less
**********************************************/

#health_confirmation-warning {
	ul {
		padding-left: 40px;
		list-style: disc;
		li {
			padding-bottom: 0px;
		}
	}
}