// new filter sidebar stuff.
// this could be core but who knows whats gonna happen with UTL etc.

.filters-update-container {
  background-color: #E6F7ED;
  border: 1px solid @theme-secondary;
  border-top: none;
  width: 96%;
  margin: -20px 5px 20px 2%;
  .filter-cancel-changes {
    margin-top: 10px;
    display: inline-block;
  }

  @media (@xs-only) {
    width: 100%;
    border: none;
    margin: 0;
    border-top: 1px solid @theme-secondary;
  }
}

.filter {

  .need-no-extras,
  .need-no-hospital {
    p {
      color: @gray-slight-dark;
    }
  }
  /**
  Override radio button group styles to keep "green" emphasis on the more info button.
  */
  .btn-form-inverse {
    &.active, &:active, &:focus {
      background-color: #0DB14B;
      border-color: @gray-light;
    }
  }

  .btn-xs {
    padding: 1px 5px 2px;
    .icon {
      font-size: 10px;
      margin-top: 3px;
    }

  }

  // Make the provider list 2 columns
  .provider-list {
    .content-columns(2, auto);
  }
  @media (@xs-only) {
    div.checkbox {
      padding-bottom: 12px;
      margin-top: 0;
    }
  }
  // Add some extra margin to slider filter.
  .filter-slider {
    margin-top: 15px;
  }

  .health-filter-excess {
    .selection {
      display: none;
    }
  }

  // Button styles
  .filter-frequency {
    .btn {
      padding: 10px 5px;
      .small();
      @media (@md-only) {
        font-size: 11px;
      }
    }
  }

  .filter-toggle-all {
    display: inline-block;
    margin-top: 6px;
  }

  .checkbox {
    margin-bottom: 7px;
    label {
      display: inline;
      font-size: 13px;
      @media (@md-only) {
        font-size: 12px;
      }
      color: #555;
      //vertical-align: top;
    }
    .help-icon {
      float: right;
      margin-top: 3px;
    }

    input {
      & + label:before {
        @media (@xs-only) {
          margin-top: 0;
        }
        @media(@sm) {
          border-radius: 3px;
          border: 1px solid lighten(@theme-dark, 60%);
          padding: 2px;
          margin-right: 5px;
          float: none;
          display: inline-block;
          font-size: 8px;
        }

        &:hover,
        &:focus {
          @media(@sm) {
            color: inherit;
            background-color: inherit;
          }
        }
      }

      &:checked {
        & + label:before {
          @media(@sm) {
            color: #000;
            background-color: inherit;
          }
        }
      }
    }
  }

  .filter-by-brand-container {
    display: none;
    &.expanded {
      display: block;
      & + .filter-by-brand-toggle {
        margin-top: 10px;
      }
    }
  }

  .filter-by-brand-toggle {
    display: inline-block;
    margin-top: 20px;
  }

  .filter-discount {
    margin-top: 20px;
    label {
      font-family: @font-family-theme-bold;
      font-size: (@font-size-large - 2);
      color: #000;
    }
  }

}