@font-face {
	font-family: 'ctm-health';
	src:url('../../../../assets/fonts/ctm-health.eot?20160303');
	src:url('../../../../assets/fonts/ctm-health.eot#iefix20160303') format('embedded-opentype'),
	url('../../../../assets/fonts/ctm-health.woff2?20160303') format('woff2'),
	url('../../../../assets/fonts/ctm-health.ttf?20160303') format('truetype'),
	url('../../../../assets/fonts/ctm-health.woff?20160303') format('woff'),
	url('../../../../assets/fonts/ctm-health.svg?20160303#ctm-health') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="hltIcons-"], [class*="hltIcons-"] {
	font-family: 'ctm-health';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.healthBenefits input + label:before ,
.health-situation-healthCvrType label:before {
	font-family: 'ctm-health';
}
/*
.hasIcons .CTM-hospital .checkbox input + label,
li.CTM-hospital{
	&:before { content: "\e905"; }
}
.hasIcons .CTM-privatehospital .checkbox input + label,
li.CTM-privatehospital{
	&:before { content: "\e906"; }
}
.hasIcons .CTM-acupuncture .checkbox input + label,
li.CTM-acupuncture{
	&:before { content: "\e90b"; }
}
.hasIcons .CTM-birth .checkbox input + label,
li.CTM-birth{
	&:before { content: "\e91b"; }
}
.hasIcons .CTM-chiropractor .checkbox input + label,
li.CTM-chiropractor{
	&:before { content: "\e91c"; }
}
.hasIcons .CTM-dental .checkbox input + label,
li.CTM-dental{
	&:before { content: "\e912"; }
}
.hasIcons .CTM-generaldental .checkbox input + label,
li.CTM-generaldental{
	&:before { content: "\e90f"; }
}
.hasIcons .CTM-heartsurgery .checkbox input + label,
li.CTM-heartsurgery{
	&:before { content: "\e910"; }
}
.hasIcons .CTM-joint .checkbox input + label,
li.CTM-joint{
	&:before { content: "\e911"; }
}
.hasIcons .CTM-massage .checkbox input + label,
li.CTM-massage{
	&:before { content: "\e914"; }
}
.hasIcons .CTM-naturopathy .checkbox input + label,
li.CTM-naturopathy{
	&:before { content: "\e915"; }
}
.hasIcons .CTM-optical .checkbox input + label,
li.CTM-optical{
	&:before { content: "\e916"; }
}
.hasIcons .CTM-physiotherapy .checkbox input + label,
li.CTM-physiotherapy{
	&:before { content: "\e918"; }
}
.hasIcons .CTM-podiatry .checkbox input + label,
li.CTM-podiatry{
	&:before { content: "\e91a"; }
}
.hasIcons .CTM-psychology .checkbox input + label,
li.CTM-psychology{
	&:before { content: "\e90c"; }
}
.hasIcons .CTM-plus .checkbox input + label,
li.CTM-plus{
	&:before { font-family:'framework_font'; content: "\e929"; }
}
*/
/* These all need to be replaced */
/*
.hasIcons .CTM-assistedreproduction .checkbox input + label,
li.CTM-assistedreproduction{
	&:before { content: "\e90c"; }
}
.hasIcons .CTM-majoreyesurgery .checkbox input + label,
li.CTM-majoreyesurgery{
	&:before { content: "\e90c"; }
}
.hasIcons .CTM-cosmeticsurgery .checkbox input + label,
li.CTM-cosmeticsurgery{
	&:before { content: "\e90c"; }
}
.hasIcons .CTM-sterilisation .checkbox input + label,
li.CTM-sterilisation{
	&:before { content: "\e90c"; }
}
.hasIcons .CTM-gastric .checkbox input + label,
li.CTM-gastric{
	&:before { content: "\e90c"; }
}
.hasIcons .CTM-dialysis .checkbox input + label,
li.CTM-dialysis{
  	&:before { content: "\e90c"; }
}
.hasIcons .CTM-palliative .checkbox input + label,
li.CTM-palliative{
  	&:before { content: "\e90c"; }
}
.hasIcons .CTM-rehabilitation .checkbox input + label,
li.CTM-rehabilitation{
  	&:before { content: "\e90c"; }
}



/* ---------------------------*/
/*

li.CTMNoIcon-assistedreproduction{
	&:before { content: "\e90e"; }
}
li.CTMNoIcon-cosmeticsurgery{
	&:before { content: "\e919"; }
}
li.CTMNoIcon-dialysis{
	&:before { content: "\e90d"; }
}
li.CTMNoIcon-gastric{
	&:before { content: "\e91e"; }
}
li.CTMNoIcon-majoreyesurgery{
	&:before { content: "\e913"; }
}
li.CTMNoIcon-palliative{
	&:before { content: "\e917"; }
}
li.CTMNoIcon-rehabilitation{
	&:before { content: "\e91f"; }
}
li.CTMNoIcon-sterilisation{
	&:before { content: "\e91d"; }
}

/* These all need to be replaced Cover type
.health-situation-healthCvrType label {
	&:before { content: "\e91d"; }
}*/

.icon-hospital-extras:before {
	content: "\e920";
}

.icon-hospital-only:before {
	content: "\e905";
}

.icon-extras-only:before {
	content: "\e904";
}

.healthBenefits {
	.HLTicon-hospital label:before {
		content: "\e906";
	}

	.HLTicon-heart-surgery label:before {
		content: "\e910";
	}

	.HLTicon-birth-related label:before {
		content: "\e91b";
	}

	.HLTicon-assisted-reproduction label:before {
		content: "\e90e";
	}

	.HLTicon-major-eye-surgery label:before {
		content: "\e913";
	}

	.HLTicon-joint-replacement label:before {
		content: "\e911";
	}

	.HLTicon-cosmetic-surgery label:before {
		content: "\e919";
	}

	.HLTicon-sterilisation label:before {
		content: "\e91d";
	}

	.HLTicon-gastric-banding label:before {
		content: "\e91e";
	}

	.HLTicon-dialysis label:before {
		content: "\e90d";
	}

	.HLTicon-palliative-care label:before {
		content: "\e917";
	}

	.HLTicon-in-hospital-rehabilitation label:before {
		content: "\e91f";
	}

	.HLTicon-general-dental label:before {
		content: "\e90f";
	}

	.HLTicon-major-dental label:before {
		content: "\e912";
	}

	.HLTicon-optical label:before {
		content: "\e916";
	}

	.HLTicon-physiotherapy label:before {
		content: "\e918";
	}

	.HLTicon-chiropractor label:before {
		content: "\e91c";
	}

	.HLTicon-podiatry label:before {
		content: "\e91a";
	}

	.HLTicon-acupuncture label:before {
		content: "\e90b";
	}

	.HLTicon-acupuncture label:before {
		content: "\e90b";
	}

	.HLTicon-naturopathy label:before {
		content: "\e915";
	}

	.HLTicon-remedial-massage label:before {
		content: "\e914";
	}

	.HLTicon-in-hospital-psychiatry label:before {
		content: "\e90c";
	}

	.HLTicon-endodontic label:before {
		content: "\e929";
	}

	.HLTicon-orthodontic label:before {
		content: "\e923";
	}

	.HLTicon-psychology label:before {
		content: "\e92c";
	}

	.HLTicon-glucose-monitor label:before {
		content: "\e927";
	}

	.HLTicon-hearing-aids label:before {
		content: "\e926";
	}

	.HLTicon-non-pbs-pharm label:before {
		content: "\e924";
	}

	.HLTicon-orthotics label:before {
		content: "\e922";
	}

	.HLTicon-speech-therapy label:before {
		content: "\e921";
	}

	.HLTicon-occupational-therapy label:before {
		content: "\e92b";
	}

	.HLTicon-dietetics label:before {
		content: "\e92a";
	}

	.HLTicon-eye-therapy label:before {
		content: "\e928";
	}

	.HLTicon-lifestyle-products label:before {
		content: "\e925";
	}

	.HLTicon-special-features label:before {

	}
}