@font-face {
	font-family: 'ctm-health';
	src:url('../../../../assets/fonts/ctm-health.eot');
	src:url('../../../../assets/fonts/ctm-health.eot#iefix') format('embedded-opentype'),
	url('../../../../assets/fonts/ctm-health.woff2') format('woff2'),
	url('../../../../assets/fonts/ctm-health.ttf') format('truetype'),
	url('../../../../assets/fonts/ctm-health.woff') format('woff'),
	url('../../../../assets/fonts/ctm-health.svg#ctm-health') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="hltIcons-"], [class*="hltIcons-"] {
	font-family: 'ctm-health';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body[data-step="benefits"] .checkbox input + label:before {
	font-family: 'ctm-health';
}


body[data-step="benefits"] .CTM-hospital .checkbox input + label,
li.CTM-hospital{
	&:before { content: "\e905"; }
}
body[data-step="benefits"] .CTM-privatehospital .checkbox input + label,
li.CTM-privatehospital{
	&:before { content: "\e906"; }
}
body[data-step="benefits"] .CTM-acupuncture .checkbox input + label,
li.CTM-acupuncture{
	&:before { content: "\e90b"; }
}
body[data-step="benefits"] .CTM-birth .checkbox input + label,
li.CTM-birth{
	&:before { content: "\e91b"; }
}
body[data-step="benefits"] .CTM-chiropractor .checkbox input + label,
li.CTM-chiropractor{
	&:before { content: "\e91c"; }
}
body[data-step="benefits"] .CTM-dental .checkbox input + label,
li.CTM-dental{
	&:before { content: "\e912"; }
}
body[data-step="benefits"] .CTM-generaldental .checkbox input + label,
li.CTM-generaldental{
	&:before { content: "\e90f"; }
}
body[data-step="benefits"] .CTM-heartsurgery .checkbox input + label,
li.CTM-heartsurgery{
	&:before { content: "\e910"; }
}
body[data-step="benefits"] .CTM-joint .checkbox input + label,
li.CTM-joint{
	&:before { content: "\e911"; }
}
body[data-step="benefits"] .CTM-massage .checkbox input + label,
li.CTM-massage{
	&:before { content: "\e914"; }
}
body[data-step="benefits"] .CTM-naturopathy .checkbox input + label,
li.CTM-naturopathy{
	&:before { content: "\e915"; }
}
body[data-step="benefits"] .CTM-optical .checkbox input + label,
li.CTM-optical{
	&:before { content: "\e916"; }
}
body[data-step="benefits"] .CTM-physiotherapy .checkbox input + label,
li.CTM-physiotherapy{
	&:before { content: "\e918"; }
}
body[data-step="benefits"] .CTM-podiatry .checkbox input + label,
li.CTM-podiatry{
	&:before { content: "\e91a"; }
}
body[data-step="benefits"] .CTM-psychology .checkbox input + label,
li.CTM-psychology{
	&:before { content: "\e90c"; }
}
body[data-step="benefits"] .CTM-plus .checkbox input + label,
li.CTM-plus{
	&:before { font-family:'framework_font'; content: "\e929"; }
}


li.CTMNoIcon-assistedreproduction{
	&:before { content: "\e90e"; }
}
li.CTMNoIcon-cosmeticsurgery{
	&:before { content: "\e919"; }
}
li.CTMNoIcon-dialysis{
	&:before { content: "\e90d"; }
}
li.CTMNoIcon-gastric{
	&:before { content: "\e91e"; }
}
li.CTMNoIcon-majoreyesurgery{
	&:before { content: "\e913"; }
}
li.CTMNoIcon-palliative{
	&:before { content: "\e917"; }
}
li.CTMNoIcon-rehabilitation{
	&:before { content: "\e91f"; }
}
li.CTMNoIcon-sterilisation{
	&:before { content: "\e91d"; }
}