@font-face {
	font-family: 'ctm-health';
	src:url('../../../../assets/fonts/ctm-health.eot?20160303');
	src:url('../../../../assets/fonts/ctm-health.eot#iefix20160303') format('embedded-opentype'),
	url('../../../../assets/fonts/ctm-health.woff2?20160303') format('woff2'),
	url('../../../../assets/fonts/ctm-health.ttf?20160303') format('truetype'),
	url('../../../../assets/fonts/ctm-health.woff?20160303') format('woff'),
	url('../../../../assets/fonts/ctm-health.svg?20160303#ctm-health') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="hltIcons-"], [class*="hltIcons-"] {
	font-family: 'ctm-health';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.healthBenefits input + label:before ,
.health-situation-healthCvrType label:before {
	font-family: 'ctm-health';
}
/*
.hasIcons .CTM-hospital .checkbox input + label,
li.CTM-hospital{
	&:before { content: "\e905"; }
}
.hasIcons .CTM-privatehospital .checkbox input + label,
li.CTM-privatehospital{
	&:before { content: "\e906"; }
}
.hasIcons .CTM-acupuncture .checkbox input + label,
li.CTM-acupuncture{
	&:before { content: "\e90b"; }
}
.hasIcons .CTM-birth .checkbox input + label,
li.CTM-birth{
	&:before { content: "\e91b"; }
}
.hasIcons .CTM-chiropractor .checkbox input + label,
li.CTM-chiropractor{
	&:before { content: "\e91c"; }
}
.hasIcons .CTM-dental .checkbox input + label,
li.CTM-dental{
	&:before { content: "\e912"; }
}
.hasIcons .CTM-generaldental .checkbox input + label,
li.CTM-generaldental{
	&:before { content: "\e90f"; }
}
.hasIcons .CTM-heartsurgery .checkbox input + label,
li.CTM-heartsurgery{
	&:before { content: "\e910"; }
}
.hasIcons .CTM-joint .checkbox input + label,
li.CTM-joint{
	&:before { content: "\e911"; }
}
.hasIcons .CTM-massage .checkbox input + label,
li.CTM-massage{
	&:before { content: "\e914"; }
}
.hasIcons .CTM-naturopathy .checkbox input + label,
li.CTM-naturopathy{
	&:before { content: "\e915"; }
}
.hasIcons .CTM-optical .checkbox input + label,
li.CTM-optical{
	&:before { content: "\e916"; }
}
.hasIcons .CTM-physiotherapy .checkbox input + label,
li.CTM-physiotherapy{
	&:before { content: "\e918"; }
}
.hasIcons .CTM-podiatry .checkbox input + label,
li.CTM-podiatry{
	&:before { content: "\e91a"; }
}
.hasIcons .CTM-psychology .checkbox input + label,
li.CTM-psychology{
	&:before { content: "\e90c"; }
}
.hasIcons .CTM-plus .checkbox input + label,
li.CTM-plus{
	&:before { font-family:'framework_font'; content: "\e929"; }
}
*/
/* These all need to be replaced */
/*
.hasIcons .CTM-assistedreproduction .checkbox input + label,
li.CTM-assistedreproduction{
	&:before { content: "\e90c"; }
}
.hasIcons .CTM-majoreyesurgery .checkbox input + label,
li.CTM-majoreyesurgery{
	&:before { content: "\e90c"; }
}
.hasIcons .CTM-cosmeticsurgery .checkbox input + label,
li.CTM-cosmeticsurgery{
	&:before { content: "\e90c"; }
}
.hasIcons .CTM-sterilisation .checkbox input + label,
li.CTM-sterilisation{
	&:before { content: "\e90c"; }
}
.hasIcons .CTM-gastric .checkbox input + label,
li.CTM-gastric{
	&:before { content: "\e90c"; }
}
.hasIcons .CTM-dialysis .checkbox input + label,
li.CTM-dialysis{
  	&:before { content: "\e90c"; }
}
.hasIcons .CTM-palliative .checkbox input + label,
li.CTM-palliative{
  	&:before { content: "\e90c"; }
}
.hasIcons .CTM-rehabilitation .checkbox input + label,
li.CTM-rehabilitation{
  	&:before { content: "\e90c"; }
}



/* ---------------------------*/
/*

li.CTMNoIcon-assistedreproduction{
	&:before { content: "\e90e"; }
}
li.CTMNoIcon-cosmeticsurgery{
	&:before { content: "\e919"; }
}
li.CTMNoIcon-dialysis{
	&:before { content: "\e90d"; }
}
li.CTMNoIcon-gastric{
	&:before { content: "\e91e"; }
}
li.CTMNoIcon-majoreyesurgery{
	&:before { content: "\e913"; }
}
li.CTMNoIcon-palliative{
	&:before { content: "\e917"; }
}
li.CTMNoIcon-rehabilitation{
	&:before { content: "\e91f"; }
}
li.CTMNoIcon-sterilisation{
	&:before { content: "\e91d"; }
}

/* These all need to be replaced Cover type
.health-situation-healthCvrType label {
	&:before { content: "\e91d"; }
}*/

.icon-hospital-extras:before {
	content: "\e920";
}

.icon-hospital-only:before {
	content: "\e905";
}

.icon-extras-only:before {
	content: "\e904";
}

.benefitClass(@class, @labelClass, @content) {
	.@{class} label {
		& when not (@labelClass = '') {
			.@{labelClass}:before {
				font-family: 'ctm-health';
				content: @content;
				font-size: 26px;
				color: @benefits-xs-icon-color;
				vertical-align: top;
				margin-right: 8px;
			}
		}
		& when (@labelClass = '') {
			&:before {
				content: @content;
			}
		}
	}
}

.healthBenefits {
	.benefitClass(HLTicon-hospital, '', "\e906");
	.benefitClass(HLTicon-heart-surgery, '', "\e910");
	.benefitClass(HLTicon-birth-related, '', "\e91b");
	.benefitClass(HLTicon-assisted-reproduction, '', "\e90e");
	.benefitClass(HLTicon-major-eye-surgery, '', "\e913");
	.benefitClass(HLTicon-joint-replacement, '', "\e911");
	.benefitClass(HLTicon-cosmetic-surgery, '', "\e919");
	.benefitClass(HLTicon-sterilisation, '', "\e91d");
	.benefitClass(HLTicon-gastric-banding, '', "\e91e");
	.benefitClass(HLTicon-dialysis, '', "\e90d");
	.benefitClass(HLTicon-palliative-care, '', "\e917");
	.benefitClass(HLTicon-in-hospital-rehabilitation, '', "\e91f");
	.benefitClass(HLTicon-general-dental, '', "\e90f");
	.benefitClass(HLTicon-major-dental, '', "\e912");
	.benefitClass(HLTicon-optical, '', "\e916");
	.benefitClass(HLTicon-physiotherapy, '', "\e918");
	.benefitClass(HLTicon-chiropractor, '', "\e91c");
	.benefitClass(HLTicon-podiatry, '', "\e91a");
	.benefitClass(HLTicon-acupuncture, '', "\e90b");
	.benefitClass(HLTicon-naturopathy, '', "\e915");
	.benefitClass(HLTicon-remedial-massage, '', "\e914");
	.benefitClass(HLTicon-in-hospital-psychiatry, '', "\e90c");
	.benefitClass(HLTicon-endodontic, '', "\e929");
	.benefitClass(HLTicon-orthodontic, '', "\e923");
	.benefitClass(HLTicon-psychology, '', "\e92c");
	.benefitClass(HLTicon-glucose-monitor, '', "\e927");
	.benefitClass(HLTicon-hearing-aids, '', "\e926");
	.benefitClass(HLTicon-non-pbs-pharm, '', "\e924");
	.benefitClass(HLTicon-orthotics, '', "\e922");
	.benefitClass(HLTicon-speech-therapy, '', "\e921");
	.benefitClass(HLTicon-occupational-therapy, '', "\e92b");
	.benefitClass(HLTicon-dietetics, '', "\e92a");
	.benefitClass(HLTicon-eye-therapy, '', "\e928");
	.benefitClass(HLTicon-lifestyle-products, '', "\e925");
}

@media(@xs-only){
	.j13abtest .healthBenefits {
		.benefitClass(HLTicon-hospital, iconLabel, "\e906");
		.benefitClass(HLTicon-heart-surgery, iconLabel, "\e910");
		.benefitClass(HLTicon-birth-related, iconLabel, "\e91b");
		.benefitClass(HLTicon-assisted-reproduction, iconLabel, "\e90e");
		.benefitClass(HLTicon-major-eye-surgery, iconLabel, "\e913");
		.benefitClass(HLTicon-joint-replacement, iconLabel, "\e911");
		.benefitClass(HLTicon-cosmetic-surgery, iconLabel, "\e919");
		.benefitClass(HLTicon-sterilisation, iconLabel, "\e91d");
		.benefitClass(HLTicon-gastric-banding, iconLabel, "\e91e");
		.benefitClass(HLTicon-dialysis, iconLabel, "\e90d");
		.benefitClass(HLTicon-palliative-care, iconLabel, "\e917");
		.benefitClass(HLTicon-in-hospital-rehabilitation, iconLabel, "\e91f");
		.benefitClass(HLTicon-general-dental, iconLabel, "\e90f");
		.benefitClass(HLTicon-major-dental, iconLabel, "\e912");
		.benefitClass(HLTicon-optical, iconLabel, "\e916");
		.benefitClass(HLTicon-physiotherapy, iconLabel, "\e918");
		.benefitClass(HLTicon-chiropractor, iconLabel, "\e91c");
		.benefitClass(HLTicon-podiatry, iconLabel, "\e91a");
		.benefitClass(HLTicon-acupuncture, iconLabel, "\e90b");
		.benefitClass(HLTicon-naturopathy, iconLabel, "\e915");
		.benefitClass(HLTicon-remedial-massage, iconLabel, "\e914");
		.benefitClass(HLTicon-in-hospital-psychiatry, iconLabel, "\e90c");
		.benefitClass(HLTicon-endodontic, iconLabel, "\e929");
		.benefitClass(HLTicon-orthodontic, iconLabel, "\e923");
		.benefitClass(HLTicon-psychology, iconLabel, "\e92c");
		.benefitClass(HLTicon-glucose-monitor, iconLabel, "\e927");
		.benefitClass(HLTicon-hearing-aids, iconLabel, "\e926");
		.benefitClass(HLTicon-non-pbs-pharm, iconLabel, "\e924");
		.benefitClass(HLTicon-orthotics, iconLabel, "\e922");
		.benefitClass(HLTicon-speech-therapy, iconLabel, "\e921");
		.benefitClass(HLTicon-occupational-therapy, iconLabel, "\e92b");
		.benefitClass(HLTicon-dietetics, iconLabel, "\e92a");
		.benefitClass(HLTicon-eye-therapy, iconLabel, "\e928");
		.benefitClass(HLTicon-lifestyle-products, iconLabel, "\e925");
	}
}
