#simples-help-box {
  position: fixed;
  right: -40px;
  bottom: -40px;
  z-index: 1;
  width: 90px;
  height: 90px;

  a {
    background-color: @theme-accent-4;
    border-radius: 100%;
    display: block;
    font-size: 60px;
    padding-left: 30px;
    width: 100px;
    height: 100px;
    text-decoration: none;
    position: relative;
    bottom: 20px;
    right: 20px;
  }
}