/*
@categoryTextColor, @hospital-color
@categoryBgColor,category-hospital-color
@categoryExpandedTextColor, #fff
@categoryExpandedBgColor hospital-expanded-color
*/

.text-hospital{
	color: @theme-tertiary;
}
.text-extras{
	color: @theme-tertiary;
}
.btn-close-more-info{
	.btn-hollow;
	border-radius: 22px;
	padding: 10px 40px;
	margin: 10px 10px;
}