/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@health-logo-AHM-name: 'health-logo-AHM';
@health-logo-AHM-x: 184px;
@health-logo-AHM-y: 0px;
@health-logo-AHM-offset-x: -184px;
@health-logo-AHM-offset-y: 0px;
@health-logo-AHM-width: 73px;
@health-logo-AHM-height: 45px;
@health-logo-AHM-total-width: 257px;
@health-logo-AHM-total-height: 254px;
@health-logo-AHM-image: '../../../graphics/logos/sprites/health.png';
@health-logo-AHM: 184px 0px -184px 0px 73px 45px 257px 254px '../../../graphics/logos/sprites/health.png' 'health-logo-AHM';
@health-logo-AUF-name: 'health-logo-AUF';
@health-logo-AUF-x: 92px;
@health-logo-AUF-y: 0px;
@health-logo-AUF-offset-x: -92px;
@health-logo-AUF-offset-y: 0px;
@health-logo-AUF-width: 90px;
@health-logo-AUF-height: 45px;
@health-logo-AUF-total-width: 257px;
@health-logo-AUF-total-height: 254px;
@health-logo-AUF-image: '../../../graphics/logos/sprites/health.png';
@health-logo-AUF: 92px 0px -92px 0px 90px 45px 257px 254px '../../../graphics/logos/sprites/health.png' 'health-logo-AUF';
@health-logo-BUD-name: 'health-logo-BUD';
@health-logo-BUD-x: 0px;
@health-logo-BUD-y: 0px;
@health-logo-BUD-offset-x: 0px;
@health-logo-BUD-offset-y: 0px;
@health-logo-BUD-width: 90px;
@health-logo-BUD-height: 45px;
@health-logo-BUD-total-width: 257px;
@health-logo-BUD-total-height: 254px;
@health-logo-BUD-image: '../../../graphics/logos/sprites/health.png';
@health-logo-BUD: 0px 0px 0px 0px 90px 45px 257px 254px '../../../graphics/logos/sprites/health.png' 'health-logo-BUD';
@health-logo-BUP-name: 'health-logo-BUP';
@health-logo-BUP-x: 184px;
@health-logo-BUP-y: 47px;
@health-logo-BUP-offset-x: -184px;
@health-logo-BUP-offset-y: -47px;
@health-logo-BUP-width: 70px;
@health-logo-BUP-height: 45px;
@health-logo-BUP-total-width: 257px;
@health-logo-BUP-total-height: 254px;
@health-logo-BUP-image: '../../../graphics/logos/sprites/health.png';
@health-logo-BUP: 184px 47px -184px -47px 70px 45px 257px 254px '../../../graphics/logos/sprites/health.png' 'health-logo-BUP';
@health-logo-CBH-name: 'health-logo-CBH';
@health-logo-CBH-x: 0px;
@health-logo-CBH-y: 94px;
@health-logo-CBH-offset-x: 0px;
@health-logo-CBH-offset-y: -94px;
@health-logo-CBH-width: 83px;
@health-logo-CBH-height: 45px;
@health-logo-CBH-total-width: 257px;
@health-logo-CBH-total-height: 254px;
@health-logo-CBH-image: '../../../graphics/logos/sprites/health.png';
@health-logo-CBH: 0px 94px 0px -94px 83px 45px 257px 254px '../../../graphics/logos/sprites/health.png' 'health-logo-CBH';
@health-logo-CTM-name: 'health-logo-CTM';
@health-logo-CTM-x: 0px;
@health-logo-CTM-y: 185px;
@health-logo-CTM-offset-x: 0px;
@health-logo-CTM-offset-y: -185px;
@health-logo-CTM-width: 60px;
@health-logo-CTM-height: 47px;
@health-logo-CTM-total-width: 257px;
@health-logo-CTM-total-height: 254px;
@health-logo-CTM-image: '../../../graphics/logos/sprites/health.png';
@health-logo-CTM: 0px 185px 0px -185px 60px 47px 257px 254px '../../../graphics/logos/sprites/health.png' 'health-logo-CTM';
@health-logo-CUA-name: 'health-logo-CUA';
@health-logo-CUA-x: 85px;
@health-logo-CUA-y: 94px;
@health-logo-CUA-offset-x: -85px;
@health-logo-CUA-offset-y: -94px;
@health-logo-CUA-width: 75px;
@health-logo-CUA-height: 45px;
@health-logo-CUA-total-width: 257px;
@health-logo-CUA-total-height: 254px;
@health-logo-CUA-image: '../../../graphics/logos/sprites/health.png';
@health-logo-CUA: 85px 94px -85px -94px 75px 45px 257px 254px '../../../graphics/logos/sprites/health.png' 'health-logo-CUA';
@health-logo-FRA-name: 'health-logo-FRA';
@health-logo-FRA-x: 0px;
@health-logo-FRA-y: 47px;
@health-logo-FRA-offset-x: 0px;
@health-logo-FRA-offset-y: -47px;
@health-logo-FRA-width: 90px;
@health-logo-FRA-height: 45px;
@health-logo-FRA-total-width: 257px;
@health-logo-FRA-total-height: 254px;
@health-logo-FRA-image: '../../../graphics/logos/sprites/health.png';
@health-logo-FRA: 0px 47px 0px -47px 90px 45px 257px 254px '../../../graphics/logos/sprites/health.png' 'health-logo-FRA';
@health-logo-GMF-name: 'health-logo-GMF';
@health-logo-GMF-x: 184px;
@health-logo-GMF-y: 94px;
@health-logo-GMF-offset-x: -184px;
@health-logo-GMF-offset-y: -94px;
@health-logo-GMF-width: 70px;
@health-logo-GMF-height: 45px;
@health-logo-GMF-total-width: 257px;
@health-logo-GMF-total-height: 254px;
@health-logo-GMF-image: '../../../graphics/logos/sprites/health.png';
@health-logo-GMF: 184px 94px -184px -94px 70px 45px 257px 254px '../../../graphics/logos/sprites/health.png' 'health-logo-GMF';
@health-logo-GMH-name: 'health-logo-GMH';
@health-logo-GMH-x: 0px;
@health-logo-GMH-y: 234px;
@health-logo-GMH-offset-x: 0px;
@health-logo-GMH-offset-y: -234px;
@health-logo-GMH-width: 90px;
@health-logo-GMH-height: 20px;
@health-logo-GMH-total-width: 257px;
@health-logo-GMH-total-height: 254px;
@health-logo-GMH-image: '../../../graphics/logos/sprites/health.png';
@health-logo-GMH: 0px 234px 0px -234px 90px 20px 257px 254px '../../../graphics/logos/sprites/health.png' 'health-logo-GMH';
@health-logo-HCF-name: 'health-logo-HCF';
@health-logo-HCF-x: 164px;
@health-logo-HCF-y: 141px;
@health-logo-HCF-offset-x: -164px;
@health-logo-HCF-offset-y: -141px;
@health-logo-HCF-width: 90px;
@health-logo-HCF-height: 31px;
@health-logo-HCF-total-width: 257px;
@health-logo-HCF-total-height: 254px;
@health-logo-HCF-image: '../../../graphics/logos/sprites/health.png';
@health-logo-HCF: 164px 141px -164px -141px 90px 31px 257px 254px '../../../graphics/logos/sprites/health.png' 'health-logo-HCF';
@health-logo-HIF-name: 'health-logo-HIF';
@health-logo-HIF-x: 119px;
@health-logo-HIF-y: 185px;
@health-logo-HIF-offset-x: -119px;
@health-logo-HIF-offset-y: -185px;
@health-logo-HIF-width: 52px;
@health-logo-HIF-height: 45px;
@health-logo-HIF-total-width: 257px;
@health-logo-HIF-total-height: 254px;
@health-logo-HIF-image: '../../../graphics/logos/sprites/health.png';
@health-logo-HIF: 119px 185px -119px -185px 52px 45px 257px 254px '../../../graphics/logos/sprites/health.png' 'health-logo-HIF';
@health-logo-NIB-name: 'health-logo-NIB';
@health-logo-NIB-x: 0px;
@health-logo-NIB-y: 141px;
@health-logo-NIB-offset-x: 0px;
@health-logo-NIB-offset-y: -141px;
@health-logo-NIB-width: 70px;
@health-logo-NIB-height: 42px;
@health-logo-NIB-total-width: 257px;
@health-logo-NIB-total-height: 254px;
@health-logo-NIB-image: '../../../graphics/logos/sprites/health.png';
@health-logo-NIB: 0px 141px 0px -141px 70px 42px 257px 254px '../../../graphics/logos/sprites/health.png' 'health-logo-NIB';
@health-logo-QCH-name: 'health-logo-QCH';
@health-logo-QCH-x: 72px;
@health-logo-QCH-y: 141px;
@health-logo-QCH-offset-x: -72px;
@health-logo-QCH-offset-y: -141px;
@health-logo-QCH-width: 90px;
@health-logo-QCH-height: 32px;
@health-logo-QCH-total-width: 257px;
@health-logo-QCH-total-height: 254px;
@health-logo-QCH-image: '../../../graphics/logos/sprites/health.png';
@health-logo-QCH: 72px 141px -72px -141px 90px 32px 257px 254px '../../../graphics/logos/sprites/health.png' 'health-logo-QCH';
@health-logo-THF-name: 'health-logo-THF';
@health-logo-THF-x: 62px;
@health-logo-THF-y: 185px;
@health-logo-THF-offset-x: -62px;
@health-logo-THF-offset-y: -185px;
@health-logo-THF-width: 55px;
@health-logo-THF-height: 45px;
@health-logo-THF-total-width: 257px;
@health-logo-THF-total-height: 254px;
@health-logo-THF-image: '../../../graphics/logos/sprites/health.png';
@health-logo-THF: 62px 185px -62px -185px 55px 45px 257px 254px '../../../graphics/logos/sprites/health.png' 'health-logo-THF';
@health-logo-WFD-name: 'health-logo-WFD';
@health-logo-WFD-x: 92px;
@health-logo-WFD-y: 47px;
@health-logo-WFD-offset-x: -92px;
@health-logo-WFD-offset-y: -47px;
@health-logo-WFD-width: 90px;
@health-logo-WFD-height: 44px;
@health-logo-WFD-total-width: 257px;
@health-logo-WFD-total-height: 254px;
@health-logo-WFD-image: '../../../graphics/logos/sprites/health.png';
@health-logo-WFD: 92px 47px -92px -47px 90px 44px 257px 254px '../../../graphics/logos/sprites/health.png' 'health-logo-WFD';
@spritesheet-width: 257px;
@spritesheet-height: 254px;
@spritesheet-image: '../../../graphics/logos/sprites/health.png';
@spritesheet-sprites: @health-logo-AHM @health-logo-AUF @health-logo-BUD @health-logo-BUP @health-logo-CBH @health-logo-CTM @health-logo-CUA @health-logo-FRA @health-logo-GMF @health-logo-GMH @health-logo-HCF @health-logo-HIF @health-logo-NIB @health-logo-QCH @health-logo-THF @health-logo-WFD;
@spritesheet: 257px 254px '../../../graphics/logos/sprites/health.png' @spritesheet-sprites;


