/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@health-logo-AHM-name: 'health-logo-AHM';
@health-logo-AHM-x: 162px;
@health-logo-AHM-y: 0px;
@health-logo-AHM-offset-x: -162px;
@health-logo-AHM-offset-y: 0px;
@health-logo-AHM-width: 160px;
@health-logo-AHM-height: 160px;
@health-logo-AHM-total-width: 646px;
@health-logo-AHM-total-height: 484px;
@health-logo-AHM-image: '../../../graphics/logos/health/spritesheet.png';
@health-logo-AHM: 162px 0px -162px 0px 160px 160px 646px 484px '../../../graphics/logos/health/spritesheet.png' 'health-logo-AHM';
@health-logo-AUF-name: 'health-logo-AUF';
@health-logo-AUF-x: 324px;
@health-logo-AUF-y: 162px;
@health-logo-AUF-offset-x: -324px;
@health-logo-AUF-offset-y: -162px;
@health-logo-AUF-width: 160px;
@health-logo-AUF-height: 160px;
@health-logo-AUF-total-width: 646px;
@health-logo-AUF-total-height: 484px;
@health-logo-AUF-image: '../../../graphics/logos/health/spritesheet.png';
@health-logo-AUF: 324px 162px -324px -162px 160px 160px 646px 484px '../../../graphics/logos/health/spritesheet.png' 'health-logo-AUF';
@health-logo-BUD-name: 'health-logo-BUD';
@health-logo-BUD-x: 0px;
@health-logo-BUD-y: 162px;
@health-logo-BUD-offset-x: 0px;
@health-logo-BUD-offset-y: -162px;
@health-logo-BUD-width: 160px;
@health-logo-BUD-height: 160px;
@health-logo-BUD-total-width: 646px;
@health-logo-BUD-total-height: 484px;
@health-logo-BUD-image: '../../../graphics/logos/health/spritesheet.png';
@health-logo-BUD: 0px 162px 0px -162px 160px 160px 646px 484px '../../../graphics/logos/health/spritesheet.png' 'health-logo-BUD';
@health-logo-BUP-name: 'health-logo-BUP';
@health-logo-BUP-x: 162px;
@health-logo-BUP-y: 162px;
@health-logo-BUP-offset-x: -162px;
@health-logo-BUP-offset-y: -162px;
@health-logo-BUP-width: 160px;
@health-logo-BUP-height: 160px;
@health-logo-BUP-total-width: 646px;
@health-logo-BUP-total-height: 484px;
@health-logo-BUP-image: '../../../graphics/logos/health/spritesheet.png';
@health-logo-BUP: 162px 162px -162px -162px 160px 160px 646px 484px '../../../graphics/logos/health/spritesheet.png' 'health-logo-BUP';
@health-logo-CBH-name: 'health-logo-CBH';
@health-logo-CBH-x: 324px;
@health-logo-CBH-y: 0px;
@health-logo-CBH-offset-x: -324px;
@health-logo-CBH-offset-y: 0px;
@health-logo-CBH-width: 160px;
@health-logo-CBH-height: 160px;
@health-logo-CBH-total-width: 646px;
@health-logo-CBH-total-height: 484px;
@health-logo-CBH-image: '../../../graphics/logos/health/spritesheet.png';
@health-logo-CBH: 324px 0px -324px 0px 160px 160px 646px 484px '../../../graphics/logos/health/spritesheet.png' 'health-logo-CBH';
@health-logo-CUA-name: 'health-logo-CUA';
@health-logo-CUA-x: 0px;
@health-logo-CUA-y: 0px;
@health-logo-CUA-offset-x: 0px;
@health-logo-CUA-offset-y: 0px;
@health-logo-CUA-width: 160px;
@health-logo-CUA-height: 160px;
@health-logo-CUA-total-width: 646px;
@health-logo-CUA-total-height: 484px;
@health-logo-CUA-image: '../../../graphics/logos/health/spritesheet.png';
@health-logo-CUA: 0px 0px 0px 0px 160px 160px 646px 484px '../../../graphics/logos/health/spritesheet.png' 'health-logo-CUA';
@health-logo-FRA-name: 'health-logo-FRA';
@health-logo-FRA-x: 0px;
@health-logo-FRA-y: 324px;
@health-logo-FRA-offset-x: 0px;
@health-logo-FRA-offset-y: -324px;
@health-logo-FRA-width: 160px;
@health-logo-FRA-height: 160px;
@health-logo-FRA-total-width: 646px;
@health-logo-FRA-total-height: 484px;
@health-logo-FRA-image: '../../../graphics/logos/health/spritesheet.png';
@health-logo-FRA: 0px 324px 0px -324px 160px 160px 646px 484px '../../../graphics/logos/health/spritesheet.png' 'health-logo-FRA';
@health-logo-GMH-name: 'health-logo-GMH';
@health-logo-GMH-x: 162px;
@health-logo-GMH-y: 324px;
@health-logo-GMH-offset-x: -162px;
@health-logo-GMH-offset-y: -324px;
@health-logo-GMH-width: 160px;
@health-logo-GMH-height: 160px;
@health-logo-GMH-total-width: 646px;
@health-logo-GMH-total-height: 484px;
@health-logo-GMH-image: '../../../graphics/logos/health/spritesheet.png';
@health-logo-GMH: 162px 324px -162px -324px 160px 160px 646px 484px '../../../graphics/logos/health/spritesheet.png' 'health-logo-GMH';
@health-logo-HCF-name: 'health-logo-HCF';
@health-logo-HCF-x: 324px;
@health-logo-HCF-y: 324px;
@health-logo-HCF-offset-x: -324px;
@health-logo-HCF-offset-y: -324px;
@health-logo-HCF-width: 160px;
@health-logo-HCF-height: 160px;
@health-logo-HCF-total-width: 646px;
@health-logo-HCF-total-height: 484px;
@health-logo-HCF-image: '../../../graphics/logos/health/spritesheet.png';
@health-logo-HCF: 324px 324px -324px -324px 160px 160px 646px 484px '../../../graphics/logos/health/spritesheet.png' 'health-logo-HCF';
@health-logo-NIB-name: 'health-logo-NIB';
@health-logo-NIB-x: 486px;
@health-logo-NIB-y: 0px;
@health-logo-NIB-offset-x: -486px;
@health-logo-NIB-offset-y: 0px;
@health-logo-NIB-width: 160px;
@health-logo-NIB-height: 160px;
@health-logo-NIB-total-width: 646px;
@health-logo-NIB-total-height: 484px;
@health-logo-NIB-image: '../../../graphics/logos/health/spritesheet.png';
@health-logo-NIB: 486px 0px -486px 0px 160px 160px 646px 484px '../../../graphics/logos/health/spritesheet.png' 'health-logo-NIB';
@health-logo-QCH-name: 'health-logo-QCH';
@health-logo-QCH-x: 486px;
@health-logo-QCH-y: 162px;
@health-logo-QCH-offset-x: -486px;
@health-logo-QCH-offset-y: -162px;
@health-logo-QCH-width: 160px;
@health-logo-QCH-height: 160px;
@health-logo-QCH-total-width: 646px;
@health-logo-QCH-total-height: 484px;
@health-logo-QCH-image: '../../../graphics/logos/health/spritesheet.png';
@health-logo-QCH: 486px 162px -486px -162px 160px 160px 646px 484px '../../../graphics/logos/health/spritesheet.png' 'health-logo-QCH';
@health-logo-width: 646px;
@health-logo-height: 484px;
@health-logo-image: '../../../graphics/logos/health/spritesheet.png';
@health-logo-sprites: @health-logo-AHM @health-logo-AUF @health-logo-BUD @health-logo-BUP @health-logo-CBH @health-logo-CUA @health-logo-FRA @health-logo-GMH @health-logo-HCF @health-logo-NIB @health-logo-QCH;
@health-logo: 646px 484px '../../../graphics/logos/health/spritesheet.png' @health-logo-sprites;


