/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@-a-h-m-name: 'AHM';
@-a-h-m-x: 257px;
@-a-h-m-y: 115px;
@-a-h-m-offset-x: -257px;
@-a-h-m-offset-y: -115px;
@-a-h-m-width: 73px;
@-a-h-m-height: 45px;
@-a-h-m-total-width: 1350px;
@-a-h-m-total-height: 324px;
@-a-h-m-image: '..\..\..\graphics\logos\sprites\health.png';
@-a-h-m: 257px 115px -257px -115px 73px 45px 1350px 324px '..\..\..\graphics\logos\sprites\health.png' 'AHM';
@-a-u-f-name: 'AUF';
@-a-u-f-x: 527px;
@-a-u-f-y: 70px;
@-a-u-f-offset-x: -527px;
@-a-u-f-offset-y: -70px;
@-a-u-f-width: 90px;
@-a-u-f-height: 45px;
@-a-u-f-total-width: 1350px;
@-a-u-f-total-height: 324px;
@-a-u-f-image: '..\..\..\graphics\logos\sprites\health.png';
@-a-u-f: 527px 70px -527px -70px 90px 45px 1350px 324px '..\..\..\graphics\logos\sprites\health.png' 'AUF';
@-b-u-d-name: 'BUD';
@-b-u-d-x: 257px;
@-b-u-d-y: 70px;
@-b-u-d-offset-x: -257px;
@-b-u-d-offset-y: -70px;
@-b-u-d-width: 90px;
@-b-u-d-height: 45px;
@-b-u-d-total-width: 1350px;
@-b-u-d-total-height: 324px;
@-b-u-d-image: '..\..\..\graphics\logos\sprites\health.png';
@-b-u-d: 257px 70px -257px -70px 90px 45px 1350px 324px '..\..\..\graphics\logos\sprites\health.png' 'BUD';
@-b-u-p-name: 'BUP';
@-b-u-p-x: 540px;
@-b-u-p-y: 115px;
@-b-u-p-offset-x: -540px;
@-b-u-p-offset-y: -115px;
@-b-u-p-width: 70px;
@-b-u-p-height: 45px;
@-b-u-p-total-width: 1350px;
@-b-u-p-total-height: 324px;
@-b-u-p-image: '..\..\..\graphics\logos\sprites\health.png';
@-b-u-p: 540px 115px -540px -115px 70px 45px 1350px 324px '..\..\..\graphics\logos\sprites\health.png' 'BUP';
@-c-b-h-name: 'CBH';
@-c-b-h-x: 717px;
@-c-b-h-y: 115px;
@-c-b-h-offset-x: -717px;
@-c-b-h-offset-y: -115px;
@-c-b-h-width: 48px;
@-c-b-h-height: 45px;
@-c-b-h-total-width: 1350px;
@-c-b-h-total-height: 324px;
@-c-b-h-image: '..\..\..\graphics\logos\sprites\health.png';
@-c-b-h: 717px 115px -717px -115px 48px 45px 1350px 324px '..\..\..\graphics\logos\sprites\health.png' 'CBH';
@-c-u-a-name: 'CUA';
@-c-u-a-x: 347px;
@-c-u-a-y: 70px;
@-c-u-a-offset-x: -347px;
@-c-u-a-offset-y: -70px;
@-c-u-a-width: 90px;
@-c-u-a-height: 45px;
@-c-u-a-total-width: 1350px;
@-c-u-a-total-height: 324px;
@-c-u-a-image: '..\..\..\graphics\logos\sprites\health.png';
@-c-u-a: 347px 70px -347px -70px 90px 45px 1350px 324px '..\..\..\graphics\logos\sprites\health.png' 'CUA';
@-f-r-a-name: 'FRA';
@-f-r-a-x: 437px;
@-f-r-a-y: 70px;
@-f-r-a-offset-x: -437px;
@-f-r-a-offset-y: -70px;
@-f-r-a-width: 90px;
@-f-r-a-height: 45px;
@-f-r-a-total-width: 1350px;
@-f-r-a-total-height: 324px;
@-f-r-a-image: '..\..\..\graphics\logos\sprites\health.png';
@-f-r-a: 437px 70px -437px -70px 90px 45px 1350px 324px '..\..\..\graphics\logos\sprites\health.png' 'FRA';
@-g-m-f-name: 'GMF';
@-g-m-f-x: 330px;
@-g-m-f-y: 115px;
@-g-m-f-offset-x: -330px;
@-g-m-f-offset-y: -115px;
@-g-m-f-width: 70px;
@-g-m-f-height: 45px;
@-g-m-f-total-width: 1350px;
@-g-m-f-total-height: 324px;
@-g-m-f-image: '..\..\..\graphics\logos\sprites\health.png';
@-g-m-f: 330px 115px -330px -115px 70px 45px 1350px 324px '..\..\..\graphics\logos\sprites\health.png' 'GMF';
@-g-m-h-name: 'GMH';
@-g-m-h-x: 617px;
@-g-m-h-y: 70px;
@-g-m-h-offset-x: -617px;
@-g-m-h-offset-y: -70px;
@-g-m-h-width: 90px;
@-g-m-h-height: 45px;
@-g-m-h-total-width: 1350px;
@-g-m-h-total-height: 324px;
@-g-m-h-image: '..\..\..\graphics\logos\sprites\health.png';
@-g-m-h: 617px 70px -617px -70px 90px 45px 1350px 324px '..\..\..\graphics\logos\sprites\health.png' 'GMH';
@-h-c-f-name: 'HCF';
@-h-c-f-x: 867px;
@-h-c-f-y: 70px;
@-h-c-f-offset-x: -867px;
@-h-c-f-offset-y: -70px;
@-h-c-f-width: 90px;
@-h-c-f-height: 31px;
@-h-c-f-total-width: 1350px;
@-h-c-f-total-height: 324px;
@-h-c-f-image: '..\..\..\graphics\logos\sprites\health.png';
@-h-c-f: 867px 70px -867px -70px 90px 31px 1350px 324px '..\..\..\graphics\logos\sprites\health.png' 'HCF';
@-h-i-f-name: 'HIF';
@-h-i-f-x: 665px;
@-h-i-f-y: 115px;
@-h-i-f-offset-x: -665px;
@-h-i-f-offset-y: -115px;
@-h-i-f-width: 52px;
@-h-i-f-height: 45px;
@-h-i-f-total-width: 1350px;
@-h-i-f-total-height: 324px;
@-h-i-f-image: '..\..\..\graphics\logos\sprites\health.png';
@-h-i-f: 665px 115px -665px -115px 52px 45px 1350px 324px '..\..\..\graphics\logos\sprites\health.png' 'HIF';
@-n-i-b-name: 'NIB';
@-n-i-b-x: 797px;
@-n-i-b-y: 70px;
@-n-i-b-offset-x: -797px;
@-n-i-b-offset-y: -70px;
@-n-i-b-width: 70px;
@-n-i-b-height: 42px;
@-n-i-b-total-width: 1350px;
@-n-i-b-total-height: 324px;
@-n-i-b-image: '..\..\..\graphics\logos\sprites\health.png';
@-n-i-b: 797px 70px -797px -70px 70px 42px 1350px 324px '..\..\..\graphics\logos\sprites\health.png' 'NIB';
@-p-h-logo-name: 'PH-Logo';
@-p-h-logo-x: 400px;
@-p-h-logo-y: 115px;
@-p-h-logo-offset-x: -400px;
@-p-h-logo-offset-y: -115px;
@-p-h-logo-width: 70px;
@-p-h-logo-height: 45px;
@-p-h-logo-total-width: 1350px;
@-p-h-logo-total-height: 324px;
@-p-h-logo-image: '..\..\..\graphics\logos\sprites\health.png';
@-p-h-logo: 400px 115px -400px -115px 70px 45px 1350px 324px '..\..\..\graphics\logos\sprites\health.png' 'PH-Logo';
@-peoplecare-name: 'Peoplecare';
@-peoplecare-x: 470px;
@-peoplecare-y: 115px;
@-peoplecare-offset-x: -470px;
@-peoplecare-offset-y: -115px;
@-peoplecare-width: 70px;
@-peoplecare-height: 45px;
@-peoplecare-total-width: 1350px;
@-peoplecare-total-height: 324px;
@-peoplecare-image: '..\..\..\graphics\logos\sprites\health.png';
@-peoplecare: 470px 115px -470px -115px 70px 45px 1350px 324px '..\..\..\graphics\logos\sprites\health.png' 'Peoplecare';
@-t-h-f-name: 'THF';
@-t-h-f-x: 610px;
@-t-h-f-y: 115px;
@-t-h-f-offset-x: -610px;
@-t-h-f-offset-y: -115px;
@-t-h-f-width: 55px;
@-t-h-f-height: 45px;
@-t-h-f-total-width: 1350px;
@-t-h-f-total-height: 324px;
@-t-h-f-image: '..\..\..\graphics\logos\sprites\health.png';
@-t-h-f: 610px 115px -610px -115px 55px 45px 1350px 324px '..\..\..\graphics\logos\sprites\health.png' 'THF';
@-w-f-d-name: 'WFD';
@-w-f-d-x: 707px;
@-w-f-d-y: 70px;
@-w-f-d-offset-x: -707px;
@-w-f-d-offset-y: -70px;
@-w-f-d-width: 90px;
@-w-f-d-height: 44px;
@-w-f-d-total-width: 1350px;
@-w-f-d-total-height: 324px;
@-w-f-d-image: '..\..\..\graphics\logos\sprites\health.png';
@-w-f-d: 707px 70px -707px -70px 90px 44px 1350px 324px '..\..\..\graphics\logos\sprites\health.png' 'WFD';
@brands-name: 'brands';
@brands-x: 0px;
@brands-y: 0px;
@brands-offset-x: 0px;
@brands-offset-y: 0px;
@brands-width: 1350px;
@brands-height: 70px;
@brands-total-width: 1350px;
@brands-total-height: 324px;
@brands-image: '..\..\..\graphics\logos\sprites\health.png';
@brands: 0px 0px 0px 0px 1350px 70px 1350px 324px '..\..\..\graphics\logos\sprites\health.png' 'brands';
@spritesheet-name: 'spritesheet';
@spritesheet-x: 0px;
@spritesheet-y: 70px;
@spritesheet-offset-x: 0px;
@spritesheet-offset-y: -70px;
@spritesheet-width: 257px;
@spritesheet-height: 254px;
@spritesheet-total-width: 1350px;
@spritesheet-total-height: 324px;
@spritesheet-image: '..\..\..\graphics\logos\sprites\health.png';
@spritesheet: 0px 70px 0px -70px 257px 254px 1350px 324px '..\..\..\graphics\logos\sprites\health.png' 'spritesheet';
@spritesheet-width: 1350px;
@spritesheet-height: 324px;
@spritesheet-image: '..\..\..\graphics\logos\sprites\health.png';
@spritesheet-sprites: @-a-h-m @-a-u-f @-b-u-d @-b-u-p @-c-b-h @-c-u-a @-f-r-a @-g-m-f @-g-m-h @-h-c-f @-h-i-f @-n-i-b @-p-h-logo @-peoplecare @-t-h-f @-w-f-d @brands @spritesheet;
@spritesheet: 1350px 324px '..\..\..\graphics\logos\sprites\health.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
