//More Info Panels

.more-info-promotion	{ color: @more-info-promotion-color;	}
.more-info-about 		{ color: @more-info-about-color;		}
.more-info-nextsteps	{ color: @more-info-nextsteps-color;	}


/* product headers buttons */
.btn-more-info{
	position: relative;
	span{
		@media (@xs-only) {
			display: none;
		}
	}
	@media (@md-only) {
		padding-left:0;
		padding-right:0;
		font-size: 13px;
		line-height: 14px;
	}
}

// Bridging page
.moreInfoDropdown{
	display: none;
}

.more-info-content {

	h2{
		font-family: @font-family-theme-bold;
	}
	background-color: #fff;

	ul{
		.list-unstyled;
	}
	ul.indent{
		padding-left: 15px;
	}
	ul.exclusions{
		.content-columns(2, @grid-gutter-width);
		li{
			padding-left: 20px;
			position: relative;
		}
		.icon-cross{
			position: absolute;
			color: @cross-color;
			margin-left: -20px;
			font-size: 12px;
		}
	}

}//.more-info-content

// Old CTA buttons variables for A/B testing
@old-btn-cta-bg-color: @theme-primary;
@old-btn-cta-color: contrast(@old-btn-cta-bg-color);
@old-btn-cta-border-color: @old-btn-cta-bg-color;

@old-btn-cta-hover-bg-color: darken(@old-btn-cta-bg-color, 12%);
@old-btn-cta-hover-color: contrast(@old-btn-cta-hover-bg-color);
@old-btn-cta-hover-border-color: @old-btn-cta-hover-bg-color;

@old-btn-cta-active-bg-color: @theme-secondary;
@old-btn-cta-active-color: contrast(@old-btn-cta-active-bg-color);
@old-btn-cta-active-border-color: @old-btn-cta-active-bg-color;

// A/B testing for old organge color buttons
.old-cta{
	&.btn-cta {
		.btn-styles(@old-btn-cta-bg-color, @old-btn-cta-color,
		@old-btn-cta-active-bg-color, @old-btn-cta-active-color,
		@old-btn-cta-hover-bg-color, @old-btn-cta-hover-color,
		@old-btn-cta-border-color, @old-btn-cta-active-border-color, @old-btn-cta-hover-border-color, true);
	}
}