.healthPricePromisePromotionRow,
.pricePromisePromotionDialogue {
  display: none;
}

.bestPrisePromiseReasonAndApprovalGroup .healthBestPrisePromiseAuthorisationRow div.col-sm-6.col-xs-12.row-content {
  width: 67%;
}

#bppAuthorisationGroup .healthBestPrisePromiseAuthorisationRow .best-price-promise-validation-messages p.error {
  color: #ff5f5f;
}

#bppAuthorisationGroup .healthBestPrisePromiseAuthorisationRow .best-price-promise-validation-messages p.success {
  color: #0db14b;
}