.price-promise {
  .pricePromiseLogoBlue {
    .highResImg('../graphics/health/Price-Promise-Blue-Tilt.png'; '../graphics/health/Price-Promise-Blue-Tilt@2x.png'; 80px 56px; ~"");
    width: 80px;
    height: 56px;
    margin: 0 auto;
    @media (@md) {
      background-size: contain;
      image-rendering: optimizeSpeed;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: optimize-contrast;
      -ms-interpolation-mode: nearest-neighbor;
    }
  }
  h4 {
    font-size: 16px;
    margin-bottom: 20px;
  }
}