.agg_privacy {
	overflow: visible;
	background-color: @alert-danger-bg;
	margin-bottom: 1em;

	&.has-field-values-ba {
		background-color: @alert-success-bg;
	}

	.payment-complete-text {
		color: @theme-secondary;
	}
}

.agg_privacy_container {
	min-height: 100px;
	padding: 10px;
}

body {
	.agg_privacy_container {
		visibility: hidden;
	}
}

body.privacy-off {
	.agg_privacy_container {
		visibility: visible;
	}
}