.featuresMode,
.policySummaryContainer  {
	.productSummary{
		&.horizontal {
			.companyLogo{
				max-width: 90px;
				max-height: @standard-logo-height;
				line-height: 18px;
				float: left;

				@media (@sm-only) {
					text-align: left;
				}
			}
		}

		&.no-logo{
			.companyLogo{
				.hidden;
			}
		}

		.price{
			margin: 0 auto 0 auto;
		}



		.frequency{
			.frequencyAmount{
				font-family: @font-family-theme-bold;
				color: @price-color;
				font-size: 16px;
				@media (@sm) {
					font-size: 16px;
				}
				@media (@md) {
					font-size: 14px;
				}
				@media (@lg) {
					font-size: 20px;
				}
				text-align: center;
				line-height: 14px;
			}
			.frequencyTitle{
				color: @frequency-color;
				font-size: 10px;
				font-family: @font-family-sans-serif;
				font-weight: normal;
				font-family: @font-family-theme-bold;
				margin-left: -2px;
				letter-spacing: -0.06em;
			}
			.lhcText,
			.rounding{
				color: @theme-dark;
				font-size: 10px;
				line-height: 0.95;
				@media (@md) {
					font-size: 9px;
					line-height: 1.1;
				}
				@media (@lg) {
					font-size: 10px;
					line-height: 0.95;
				}
				text-align: center;
				display: block;
			}
		}

		&.horizontal{
			overflow: hidden;

			.companyLogo{

				@media (@xs-only) {
					position: absolute;
					overflow: hidden;
					text-align: left;
				}
				@media (@sm) {
					float: left;
				}
			}
			.price{
				@media (@xs-only) {
					margin-left:65px;
				}
				@media (@sm) {
					float: right;
				}

			}
			.frequency{
				.frequencyAmount,
				.lhcText,
				.rounding{
					text-align: right;
				}
			}
		}

		&.no-logo.horizontal{
			.price{
				float: none;
				.frequencyAmount{
					font-size: 32px;
					line-height: 20px;
					text-align: left;
				}
				.frequencyAmount,
				.lhcText,
				.rounding{
					text-align: left;
				}
			}
		}

		&.results{
			.frequencyAmount{
				color: @price-color;
			}
			.rounding{
				display: none;
			}
			height:111px;
			overflow: hidden;
		}
		.companyLogo {
			&:extend(.companyLogo);
			float: none;

			.ie8 &{
				margin-left: 30px !important; //This is ugly... but so is IE8! There is a -10px margin-left in core logos which this needs to combat
			}
		}
		&.compressed{

			// Compressed is the shorter version when the header bar is docked.
			height: 57px;
			padding: 0;

			.companyLogo{

				:not(.ie8) & {

					position:absolute; /* Stops price colliding and being forced below */
				margin-top: 10px;
				margin-left: 3%;

				  .providersNormalSpriteImages(~"health"; ~""; ~"AHM",~"AUF",~"BUD",~"BUP",~"CBH",~"CTM",~"CUA",~"FRA",~"GMF",~"GMH",~"HCF",~"HIF",~"NIB",~"QCH",~"THF"; @logo-compressed-scale);
				}
			}


			.lhcText,
			.rounding{
				display: none;
			}

			.price{
				margin-top:10px;
				margin-right: 15%;
				width: 56%;
				float: right;
				span{
					display: block;
				}
			}
		}
	}
	.priceItemisation{
		overflow: hidden;
		line-height: 18px;

		.rounding{
			clear:both;
			font-size: @font-size-small;
			text-align: right;
		}

		.item{
			padding-bottom: 6px;

			.item-label-text{
				font-size: @font-size-small;
			}
			.item-value{
				text-align: right;
			}

			&.basePremium{
				.item-value{
					font-size: @font-size-large;
				}
			}

			&.totalPremium{
				border-top: solid 1px;
				border-color: @theme-light;
				font-family: @font-family-theme-bold;
				color: @price-color;
				padding-top: 10px;

				.item-label-text{
					font-size: @font-size-large;
				}
				.item-value{
					font-size: @font-size-h2;
					.frequencyTitle{
						color: @frequency-color;
						font-size: 10px;
						font-family: @font-family-sans-serif;
						font-weight: normal;
						font-family: @font-family-theme-bold;
						margin-top: 5px;
						letter-spacing: -0.06em;
						display: block;
						line-height: 1;
					}
				}
			}
		}
	}
}

.ie8 {
	.featuresMode,
	.policySummaryContainer {

	}
}

/* Policy summary in right hand column */
.policySummaryContainer{
	@media (@xs-only) {
		position: relative;
		padding:5px;
	}
	@media (@sm) {
		&:not(.formMode){
			margin-bottom: 20px;
			margin-top: -52px;
		}
	}
}

.moreInfoMainDetails{
	.productSummary{
		margin-bottom: 10px;
		@media(@sm){
			margin-bottom: 20px;
		}
	}
}

.companyLogo{
	max-height: @standard-logo-height;
	max-width: 90px;

	margin-left: auto;
	margin-right: auto;

	overflow: hidden;

  .providersNormalSpriteImagesVerticallyCentered(~"health"; ~""; ~"AHM",~"AUF",~"BUD",~"BUP",~"CBH",~"CTM",~"CUA",~"FRA",~"GMF",~"GMH",~"HCF",~"HIF",~"NIB",~"QCH",~"THF"; @standard-logo-height; @logo-price-spacer);
}