// Simples messaging dialogs
.simples-dialogue {

	padding: 0.5em 1em 0 1em;
	margin: 1em auto;
	border: 2px solid #333333;
	background-color: #f1f1f1;
	color: #333333;
	.blue {color:#485f94;}
	.red {color:#ff5f5f;}
	.black {color: #333333;}
	a {text-decoration: underline;}

	&.abd-filter-dialogue {
		.btn-group,
		p,
		p + p {
			margin: 0 0 9px;
		}
	}

	div, h2, h3, h4, p, ul, ol, label {
		display: block;
		font-size: @font-size-base;
		line-height: @line-height-computed;
		margin-top: 0;
		margin-bottom: 0.5em;
		color: #333333;

		&.toggle:after {
			.icon;
			content: "\e606"; //Unicode for .icon-arrow-down
			margin-left: 0.5em;
			font-size: 14px;
		}
		&.toggle {
			cursor: pointer;

			& + div {
				display: none;
			}
		}
		/*& + div {
			padding-top: 0;
		}*/
	}

	div.red, ol.red, ul.red {
		p, li, label {color: #ff5f5f;}
	}

	div.blue, ol.blue, ul.blue {
		p, ul, li, label {color: #485f94;}
	}

    div.checkbox {
      label {
        p {
          color: #ff5f5f;
			&.blue {color: #485f94;}
			&.black {color: #333333;}
        }
      }
    }

	h2 {
		font-family: @headings-font-family;
		font-size: ceil((@font-size-h3 * 1.25));
		line-height: floor((ceil((@font-size-h3 * 1.25)) * @line-height-base));
		margin-bottom: 0.1em;
	}

	h3 {
		font-size: @font-size-h3;
		line-height: floor((@font-size-h3 * @line-height-base));
		margin-bottom: 0.25em;
	}

	h4 {
		font-size: @font-size-h5;
		line-height: floor((@font-size-h5 * @line-height-base));
	}

	label.has-error {text-color: #ff5f5f;}

	// Restore the font size etc
	.checkbox input + label {
		font-size: @font-size-base;
		line-height: @line-height-computed;
		padding-top: 0;
		margin-bottom: 0.6em;
	}

	&.simples-affiliate-dialogue {
		h3 {
			text-transform: uppercase;
		}
	}

	p.blue, p.black {
		span.red {
			color: #ff5f5f;
		}
	}

	.red {
		.black {
			color: #333333;
		}
		.blue {
			color: #485f94;
		}
	}

	div.blue {
		p {
			color: inherit !important;
		}
	}
}

.simples {
  .simples-dialog-inbound,
  .simples-dialog-outbound {
    display:none;
  }
  .simples-dialogue-70,
  .simples-dialogue-71 {
      a {
          display: block;
          text-decoration: underline;
          margin: 5px 0px;
          font-weight: bold;
      }
  }

  .simples-dialogue-49,
  .simples-dialogue-52,
  .simples-dialogue-63 {
      display: block;
  }

  .simples-dialogue-105 {
      h2 {
          text-transform: uppercase;
      }
  }

  .simples-dialog-nextgen,
  .simples-dialog-nextgenoutbound,
  .simples-dialog-nextgencli,
  .simples-dialog-energycross,
  .simples-dialog-energytransfer,
  .simples-dialog-trialcampaignhealthengine,
  .simples-dialog-trialcampaignhealthenginecli {
      display: none;
  }

  &.nextgen,
  &.nextgenoutbound,
  &.nextgencli {
      &[data-step=start] {
          #pageContent {
              background-color: whitesmoke;
          }
      }

      &[data-step=results].moreInfoVisible,
      &[data-step=payment],
      &[data-step=apply] {
          #pageContent {
              background-color: whitesmoke;
          }
      }

      .simples-dialog-inbound {
          &.show-nextgen {
              display: none;
          }

          display: none;
      }

      .simples-dialog-outbound,
      .simples-dialog-cli,
      .simples-dialog-nextgen,
      .simples-dialog-nextgenoutbound,
      .simples-dialog-nextgencli,
      .simples-dialogue-63,
      .simples-dialogue-49,
      .simples-dialogue-52 {
          display: none;
      }
  }

  &.nextgen {
      .simples-dialog-inbound {
          &.show-nextgen {
              display: block !important;
          }
      }

      .simples-dialogue-63,
      .simples-dialog-nextgen,
      .simples-dialogue-49,
      .simples-dialogue-52 {
          display: block;
      }
  }

  &.nextgenoutbound {
      .simples-dialog-nextgenoutbound {
          display: block;
      }

      .simples-dialogue-48 {
          display: none !important;
      }
  }

  &.nextgencli {
      .simples-dialog-nextgencli {
          display: block;
      }
  }

  &.outbound {
      &[data-step=start] {
          #pageContent {
              background-color: whitesmoke;
          }
      }

      &[data-step=benefits] {
          #pageContent {
              background-color: whitesmoke;
          }
      }

      &[data-step=contact] {
          #pageContent {
              background-color: whitesmoke;
          }
      }

      &[data-step=results] {
          #pageContent {
              background-color: whitesmoke;
          }
      }

      &[data-step=results].moreInfoVisible,
      &[data-step=payment],
      &[data-step=apply] {
          #pageContent {
              background-color: @btn-hollow-red-color;
          }

          &.trial {
              #pageContent {
                  background-color: #c18eda;
              }
          }

          &.cli {
              #pageContent {
                  background-color: #9fc3e0;
              }
          }

          &.qmsContact {
            #pageContent {
              background-color: #ffa233;
            }
          }
      }
    .simples-dialog-outbound {
      display: block;
    }
  }

  &.nextgenoutbound,
  &.nextgencli {
      &[data-step=results].moreInfoVisible,
      &[data-step=payment],
      &[data-step=apply] {
          #pageContent {
              background-color: #ccffcc;
          }
      }
  }

  &.inbound {
    .simples-dialog-inbound {
      display: block;
    }

    &[data-step=results].moreInfoVisible,
    &[data-step=payment],
    &[data-step=apply] {
      &.trial {
        #pageContent {
          background-color: #efe2f5;
        }
      }
    }
  }

  &.outbound {
    &.trialcampaignhealthengine {
      .simples-dialog-trialcampaignhealthengine {
        display: block;
      }
      .simples-dialogue-20 {
        display: none;
      }
    }
    &.trialcampaignhealthenginecli {
      .simples-dialog-trialcampaignhealthenginecli {
        display: block;
      }
      .simples-dialogue-20 {
        display: none;
      }
    }
  }

  &.energycross {
      .simples-dialog-energycross {
          display: block;
      }
  }

  &.energytransfer {
      .simples-dialog-energytransfer {
          display: block;
      }
  }

  &.energycross,
  &.energytransfer {
      .simples-dialog-outbound,
      .simples-dialog-cli,
      .simples-dialog-nextgenoutbound,
      .simples-dialog-nextgencli,
      .simples-dialogue-48,
      .simples-dialogue-19,
      .simples-dialogue-63 {
          display: none;
      }

      &[data-step=results].moreInfoVisible,
      &[data-step=payment],
      &[data-step=apply] {
          #pageContent {
              background-color: #fcdb03;
          }
      }
  }

	#simples-dialogue-130 {
		a {
			color: black;
		}
	}

  #simples-dialogue-63,
  #simplea-dialogue-133 {
    display: none;
  }

  &.inbound {
    #simples-dialogue-63 {
      display: block;
    }
    #simples-dialogue-133 {
      display: none;
    }
  }

  &.outbound,
  &.cli,
  &.energycross,
  &.energytransfer {
    #simplea-dialogue-133 {
      display: block;
    }
    #simples-dialogue-63 {
      display: none;
    }
  }

  .featuresMode {
      .result-row.active {
          .result {
              border-color: @theme-tertiary;
          }
      }
  }

  #health_situation_cover_wrapper {
       .nz-medicare-rules {
           a {
               display: block;
               margin: 10px 0;
           }
           .copy {
               display:none;
               color:@text-color;
           }
       }
   }

  .simples-dialog-referral {
      display:none;
  }

  #collapseDialogue62 {
      margin-top: 10px;
  }

  &.moreInfoVisible {
      .simples-dialogue-109 {
          display: none;
      }

      .simples-dialogue-99, .simples-dialogue-129 {
          p {
              font-size: 14px;
          }

          ul {
              list-style: disc;
              padding-left: 40px;
          }
      }
  }
  .qe-window.fieldset,
  .form-group.fieldrow {
    &.no-label {
      label.control-label,
      legend {
        display: none;
      }
    }
    label.invisible {
      display: none;
    }
  }
  .form-group.fieldrow {
    margin-left: 0;
    margin-right: 0;

	  &.nestedGroup {
		  .row-content.has-error {
			  .error-field {
				  display: none !important;
			  }
		  }
	  }
  }

  &:not(.AHM) {
	  .simples-dialogue-222 {
		  display: none !important;
	  }
  }
}

#health_payment_medicare_colour-error {
	color: black;
}

body.simples {
	&.trial {
		.simples-dialogue-36,
		.simples-dialogue-38,
		.simples-dialogue-40 {
			display: block;
		}
	}
}

body.simples {
	&.trialCampaignAMA,
	&.trialCampaignNJL,
	&.trialCampaignRedlands {
		.simples-dialogue-19,
		.simples-dialogue-36,
		.simples-dialogue-48,
		.simples-dialogue-63 {
			display: block !important;
		}
		.simples-dialogue-20,
		.simples-dialogue-133{
			display: none !important;
		}
		&[data-step=results].moreInfoVisible,
		&[data-step=payment] {
			#pageContent {
				background-color: #0db14b !important;
			}
		}
	}
}