// Simples messaging dialogs
.simples-dialogue {
	.alert;
	.alert-info;
	
	border: none;
	padding-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;

	&.green {
		.alert-success;
	}
	&.yellow {
		.alert-warning;

		&.mandatory{
			.alert-warning;
		}
	}
	&.red, &.mandatory {
		.alert-danger;

		&.has-success .checkbox label {
			color: @alert-danger-text;
		}
	}

	h2, h3 {
		margin-top: 0;
		margin-bottom: 5px;
		color: inherit;

		&.toggle:after {
			.icon;
			content: "\e606"; //Unicode for .icon-arrow-down
			margin-left: 0.5em;
			font-size: 14px;
		}
		&.toggle {
			cursor: pointer;

			& + div {
				display: none;
			}
		}
		& + div {
			padding-top: 0;
		}
	}

	// Restore the font size etc
	.checkbox input + label {
		font-size: @font-size-base;
		line-height: @line-height-computed;
		padding-top: 0;
	}

	&.simples-affiliate-dialogue {
		h3 {
			text-transform: uppercase;
		}
	}
}

.simples {
	.simples-dialogue-70,
	.simples-dialogue-71 {
		a {
			display:block;
			text-decoration: underline;
			margin: 5px 0px;
			font-weight:bold;
		}
	}
	&.dummy {
		&[data-step=start] {
			#pageContent {
				background-color: blue;
			}
		}
	}
	&.outbound {
		&[data-step=start] {
			#pageContent {
				background-color: whitesmoke;
			}
		}

		&[data-step=benefits] {
			#pageContent {
				background-color: whitesmoke;
			}
		}

		&[data-step=contact] {
			#pageContent {
				background-color: whitesmoke;
			}
		}

		&[data-step=results] {
			#pageContent {
				background-color: whitesmoke;
			}
		}
	
		&[data-step=results].moreInfoVisible,
		&[data-step=payment],
		&[data-step=apply] {
			#pageContent {
				background-color: @btn-hollow-red-color;
			}
			&.trial {
				#pageContent {
					background-color: #c18eda;
				}
			}
		}

		.simples-dialog-inbound {
			display: none;
		}
	}

	&.inbound {
		.simples-dialog-outbound {
			display: none;
		}
	}

	.featuresMode {
		.result-row.active {
			.result {
				border-color: @theme-tertiary;
			}
		}
	}

	#health_situation_cover_wrapper {
		 .nz-medicare-rules {
			 a {
				 display: block;
				 margin: 10px 0;
			 }
			 .copy {
				 display:none;
				 color:@text-color;
			 }
		 }
	 }

	.simples-dialog-referral {
		display:none;
	}

	#collapseDialogue62 {
		margin-top: 10px;
	}

	&.moreInfoVisible {
		.simples-dialogue-109 {
			display: none;
		}

		.simples-dialogue-99 {
			p {
				font-size: 14px;
			}

			ul {
				list-style: disc;
				padding-left: 40px;
			}
		}
	}
}