// Simples messaging dialogs
.simples-dialogue {
	.alert;
	.alert-info;

	border: none;
	padding-bottom: 10px;

	&.green {
		.alert-success;
	}
	&.yellow {
		.alert-warning;
	}
	&.red, &.mandatory {
		.alert-danger;

		&.has-success .checkbox label {
			color: @alert-danger-text;
		}
	}

	h2, h3 {
		margin-top: 0;
		margin-bottom: 5px;
		color: inherit;

		&.toggle:after {
			.icon;
			content: "\e606"; //Unicode for .icon-arrow-down
			margin-left: 0.5em;
			font-size: 14px;
		}
		&.toggle {
			cursor: pointer;

			& + div {
				display: none;
			}
		}
		& + div {
			padding-top: 0;
		}
	}

	// Restore the font size etc
	.checkbox input + label {
		font-size: @font-size-base;
		line-height: @line-height-computed;
		padding-top: 0;
	}
}

.simples {
	&.outbound {
		&[data-step=start] {
			#pageContent {
				background-color: seagreen;
			}
		}

		&[data-step=benefits] {
			#pageContent {
				background-color: steelblue;
			}
		}

		&[data-step=contact],
		&[data-step=apply] {
			#pageContent {
				background-color: darkgrey;
			}
		}

		&[data-step=results] {
			#pageContent {
				background-color: darkorange;
			}
		}

		&[data-step=results].moreInfoVisible,
		&[data-step=payment] {
			#pageContent {
				background-color: indianred;
			}
		}

		.simples-dialog-inbound {
			display: none;
		}
	}

	&.inbound {
		.simples-dialog-outbound {
			display: none;
		}
	}

	.featuresMode {
		.result-row.active {
			.result {
				border-color: @theme-tertiary;
			}
		}
	}
}