#navbar-main {
	.simplesSnapshot {
		padding-left: 40px;
	}
	span.snapshotJourneyName:empty + span,
	span.snapshotSituation:empty + span,
	span.snapshotState:empty + span {
		display:none;
	}
	.navbar-text-block {
		max-height: 30px;
	}
}

.snapshot {
	font-size: 12px;
	padding-bottom: 4px;
	.snapshot-title {
		font-weight: 600;
		font-size: 12px;
		float: right;
	}
	ul.snapshot-list {
		margin-bottom: 4px;
		padding-left: 0px;
		list-style-type:none;
	}
	.snapshot-title, .snapshot-items {
		line-height:16px;
	}
	div:nth-child(2) {
		padding-left:0;
	}
}
