@hospital-color: #1d57aa; //#485f94;
@hospital-hover-color: darken(@hospital-color, 7%);
@hospital-expanded-color: @hospital-color;

@extras-color: #3f7a15;//#59ab1d; //#34734C;
@extras-color-light: @extras-color; //#0db14b; //Used on More info - Extras Policy text
@extras-hover-color: @extras-color;
@extras-expanded-color: lighten(@extras-color, 7%);

@category-hospital-text-color: @hospital-color;
@category-hospital-color: lighten(@hospital-color, 55%); //#E3E9F7;
@category-hospital-odd-color: lighten(@hospital-color, 52%); //#DCE4F5;

@category-extras-text-color: @extras-color;
@category-extras-color: lighten(@extras-color, 65%); //#CDF7DD;
@category-extras-odd-color: lighten(@extras-color, 62%); //#D7F9E4;

//@section-xs-hospital-color: @theme-tertiary;
//@section-xs-extras-color: @theme-secondary;

@button-hospital-bg: @hospital-color;
@button-extras-bg: @extras-color;

@results-features-promos-color: @theme-primary;

@button-hospital-bg-light: @category-hospital-color;
@button-extras-bg-light: lighten(@extras-color, 45%); //@category-extras-color

// duel pricing
@duel-pricing-frequencyAmount-colour : @theme-light;