@checkbox-health-compare-tick-checked: @theme-secondary;

@results-features-promos-color: @theme-tertiary;

@more-info-health-product-color: @theme-accent;
@more-info-about-color: @theme-accent;
@more-info-nextsteps-color: @theme-accent;

@more-info-product-color: @theme-tertiary;