@font-face {
   font-family: "SunLt Light";
   src: url(fonts/Sun_LT_300.eot);
   src: url(fonts/Sun_LT_300.woff) format("woff");
   font-weight: 300;
}

@font-face {
   font-family: "SunLt Bold";
   src: url(fonts/Sun_LT_700_.eot);
   src: url(fonts/Sun_LT_700_.woff) format("woff");
   font-weight: 700;
}