#comms-menuBar {
	position:					absolute;
	z-index:					99;
	top:						0;
	left:						0;
	width:						100%;
	overflow:					visible;
	background-color:			#000;
	height:						65px;
	color:						#fff;
	border-bottom: 				6px solid #86c65e;
}

#comms-menuBar #quote_search.error {
	border-color: 				red;
}


#comms-menuBar ul.quoteSystem {
	float:						right;
	margin-top:					17px;
}


#comms-menuBar ul.quoteSystem button {
	height:						26px;
	line-height:				20px;
}

#comms-menuBar ul.dashboard, #comms-menuBar ul.new {
	float:						left;
	margin-top:					38px;	
}

#comms-menuBar ul.dashboard>li, 
#comms-menuBar ul.new {
	border-top-left-radius:		5px;
	border-top-right-radius:	5px;
}
#comms-menuBar ul.dashboard li:hover{
	background-color:			#81BF55;
	color:						black;
}
#comms-menuBar li {
	float:						left;
	display:					inline-block;
	padding:					3px 12px;
	cursor:						pointer;
	position:					relative;
	line-height:				22px;
	font-size:					12px;
	width:						auto;
}

#comms-menuBar ul li {
	position:					relative;
}
#comms-menuBar ul li ul {
	position:					absolute;
	left:						-9999em;
	top:						auto;
}
#comms-menuBar ul li ul li {
	min-width:					150px;
	border-top:					1px solid rgba(255,255,255,.3);
	line-height:				normal;
	padding:					5px 10px;
}

#comms-menuBar ul li:hover ul {
	left:						0px;		
}
#comms-menuBar ul.new {
	background-color:			#931D21;
}
#comms-menuBar ul.new li.new {
	background-color:			#3855A5;	
}
#comms-menuBar ul.new li.new:hover {
	background-color:			#274289;	
}
#comms-menuBar ul.new li.quote {
	background-color:			#95CB68;
}
#comms-menuBar ul.new li.quote:hover {
	background-color:			#81B551;
}
body {
	height:						100%;
}
iframe#main {
	padding-top:				72px;
	height:						800px;	
} 