.life .right-panel .call-me-back,
.ip .right-panel .call-me-back {
	width: 272px;
}

#life-product-dialog .wrapper .right-panel-middle .panel, 
#life-confirmation .wrapper .right-panel-middle .panel,
#ip-product-dialog .wrapper .right-panel-middle .panel, 
#ip-confirmation .wrapper .right-panel-middle .panel {
	width: 250px;
}

.life #contact-panel h3,
.life #contact-panel p,
.ip #contact-panel h3,
.ip #contact-panel p {
	width: 186px;
	margin-left: auto;
	margin-right: auto;
}

.life #results-container,
.ip #results-container {
	position: relative;
}

.health  #results-header .current-results .fund {
	font-size:12px !important;
}
.health #results-fixed.extended #results-bar{
	top: 620px;/*an extra 20px*/
}
.health.FixedResults #results-fixed #results-bar{
	margin-top: 51px !important;
}
.health #resultsPage #left-panel .box.filter-selection .row.mid.lt {
	height:	253px !important;
}
#results-bar h3{
	margin-top: -15px;
}

.quote .moreDetailsDialogContainer ul{
	padding-left: 14px;
}
.quote .moreDetailsDialogContainer ul li{
	text-indent: 0px;
	margin-left: 5px
}
.quote #md-additional-excess .excessVal{
	position: absolute;
	top: -3px;
	right: 0;
	line-height: 18px;
}
#matchCategoryAmbulance .mid .expandable{
	margin-right: 15px !important;
}
.right-panel-middle {
	zoom: 1;
}
.streetSearch, .streetSearchNum, .streetSearchUnitShop{
	display:block;
}
.ajaxdrop_streetSearch, .ajaxdrop_streetSearchNum, .ajaxdrop_streetSearchUnitShop{
	z-index:10 !important;
	position: relative;
}
.std_street, .std_streetNum , .std_streetUnitShop {
	z-index:1;
	position: relative;
}
.qe-window h4 .help_icon {
	position: static !important;
	margin-top: -16px;
}
.qe-window h4 {
	position: static !important;
}
#header {
	z-index: 1000 !important;
	position: relative;
}
#contact-panel {
	z-index: 1000 !important;
}
#navContainer {
	z-index: 100 !important;
}

.life #resultsPage #left-panel .refine-results .button,
.ip #resultsPage #left-panel .refine-results .button {
	width:					150px !important;
	margin:					10px auto !important;
	background-image:		url(../../brand/ctm/images/button_bg_sml_bl.png) !important;
}

.life #resultsPage #left-panel .refine-results .button span,
.ip #resultsPage #left-panel .refine-results .button span {
	background-image:		url(../../brand/ctm/images/button_bg_sml_bl_right.png) !important;
}
.health #results-container {
	position: relative;
	z-index: 1;
}
.health #results-fixed {
	position: relative;
	z-index: 1000;
}
body.life #contact-panel h3,
body.ip #contact-panel h3{
		zoom: 1;
		*display: inline;
		padding-top: 			0px;
		padding-left:			5px !important;
}