

.health #results-table .matchDataDetails h5, 
.health #results-table .matchDataHospital h5, 
.health #results-table .matchDataExtras h5, 
.health #results-table .matchDataAdditional h5, 
.health #matchCategoryHospital h5, 
.health #matchCategoryExtras h5, 
.health #matchCategoryAdditional h5 {
	font-size:13px !important;
	letter-spacing: 0px;
}

.health  #results-header .current-results .fund {
	font-size:12px !important;
}
.health.FixedResults #results-fixed #results-header {
	height: 264px; 
}