.authHeaderContainer{
  float: right;
  .authHeaderElement {
    display: flex;
  }
  &&.smallAuth {
    height: 48px;
    margin-right: -30px;
    @media (min-width: 767px) {
      height: 60px;
    }
    .authHeaderElement {
      height:48px;
      @media (min-width: 767px) {
        height: 60px;
      }
    }
    ~.mobile-callCentreNo {
      margin-right: 235px;
    }
  }
}

/*
Fix for health confirmation page when screen 767px wide
*/
@media (min-width: @screen-xs-max) and (max-width: @screen-xs-max) {
  .header-top .header-collapse-contact {
    background-color: #ffffff;
  }

  .mobile-callCentreNo {
    .icon-phone:before {
      font-size: 14px;
    }
  }

  .mobileViewStepText.loaded {
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding-left: 30px;
    padding-top: 14px;
    background-color: whitesmoke;
    padding-bottom: 22px;
  }
  #pageContent {
    margin-top: 90px;
  }
  #pageContent.affixedPageContentTopMargin {
    margin-top: 30px;
  }
}