@journeyProgressBar-color-hover: lighten(@theme-tertiary, 40%);

//
// journeyProgressBar
// --------------------------------------------------
.progress-bar-row {
  background-color: @body-bg;
  padding: 5px 0 0 0;
  @media (@sm) {
    padding: 5px 0 20px 0;
  }
  min-height: 26px;

  //
  // journeyProgressBar
  // --------------------------------------------------
  .journeyProgressBar {
    list-style: none;
    padding: 0;
    @media (@sm) {
      padding: 0 0 10px 0;
    }

    margin-bottom: 0;

    li {
      white-space: nowrap;
      
      @media(min-width: @screen-md) {
        counter-increment: section;
      }

      text-align: center;
      line-height: @journeyProgressBar-lineheight;
      display: inline-block;
      font-size: @journeyProgressBar-size;
      @media (@sm) {
        font-size: @journeyProgressBar-size + 1;
        line-height: @journeyProgressBar-lineheight - 2;
      }
      position: relative;
      height: 22px;
      @media(@sm) {
        height: 28px;
      }
      &.end {
        width: 1%;
        div { width: 0 }
      }
      div > span {
        margin-left: 13px;
      }
    }

    :not(.end) {
      a, div {
        &:before {
          @media (min-width: @screen-md) {
            content: counters(section, ".") "\A";
            border-radius: 50%;
          }
        }
      }
    }

    a, div {
      color: @journeyProgressBar-color;
      text-decoration: none;
      border-bottom: @journeyProgressBar-border-size @journeyProgressBar-border-style @journeyProgressBar-border-color;
      display: inline-block;
      text-indent: -9px;
      position: absolute;
      left: 8px;
      right: @journeyProgressBar-horizontal-push;
      height: 21px;

      &:before {
        border: @journeyProgressBar-border-size @journeyProgressBar-border-style;
        font-size: 20px;
        display: block;
        float: left;
        visibility: visible;
        left: 0;
        margin: 0;
        margin-left: -6px;
        padding: 12px;
        padding-top: 6px;
        padding-left: 21px;
        padding-bottom: 7px;
        line-height: 1;
        text-align: center;
        color: @journeyProgressBar-color;
        background-color: #ffffff;
        box-sizing: border-box;

        @media(min-width: @screen-md) {
          font-size: 12px;
          margin-top: 4px;
          padding: 5px 8px 7px 17px;
        }

      }
    }
    a {
      &:focus {
        outline: none;
      }
    }
    .complete {
      a, div {
        color: @journeyProgressBar-color-complete;
        border-color: @journeyProgressBar-border-color-complete;
        border-bottom: @journeyProgressBar-border-size @journeyProgressBar-border-style;
        &:before {
          color: @journeyProgressBar-separator-color-complete;

          @media(min-width: @screen-md) {
            content: "\e931";
            font-family: 'framework_font';
            padding: 6px;
            padding-left: 16px;
            border-color: @journeyProgressBar-border-color-complete;
            background-color: @journeyProgressBar-border-color-complete;
            color: #ffffff;
            font-size: 12px;
          }

        }
      }
      &.end {
        a, div {
          &:before {
            color: @journeyProgressBar-separator-color-current;
          }
        }
      }
    }
    .current {
      div {
        color: @journeyProgressBar-color-current;
        border-color: @journeyProgressBar-border-color-current;
        &:before {
          color: @journeyProgressBar-separator-color-current;
          border-color: @journeyProgressBar-border-color-current;
        }
      }
    }
    a {
      &:hover {
        span {
          color: @journeyProgressBar-color-hover;
        }
      }
    }
  }
}