.featuresMode,
.policySummaryContainer  {
	.productSummary{
		&.horizontal {
			.companyLogo{
				max-width: 90px;
				max-height: @standard-logo-height;
				line-height: 18px;
				float: left;

				@media (@sm-only) {
					text-align: left;
				}
			}
		}

		&.no-logo{
			.companyLogo{
				.hidden;
			}
		}

		.price{
			margin: 0 auto 0 auto;
		}



		.frequency{
			.frequencyAmount{
				font-family: @font-family-theme-bold;
				color: @price-color;
				font-size: 16px;
				@media (@sm) {
					font-size: 16px;
				}
				@media (@md) {
					font-size: 14px;
				}
				@media (@lg) {
					font-size: 20px;
				}
				text-align: center;
				line-height: 14px;
			}
			.frequencyTitle{
				color: @frequency-color;
				font-size: 10px;
				font-family: @font-family-sans-serif;
				font-weight: normal;
				font-family: @font-family-theme-bold;
				margin-left: -2px;
				letter-spacing: -0.06em;
			}
			.lhcText,
			.rounding{
				color: @theme-dark;
				font-size: 10px;
				line-height: 0.95;
				@media (@md) {
					font-size: 9px;
					line-height: 1.1;
				}
				@media (@lg) {
					font-size: 10px;
					line-height: 0.95;
				}
				text-align: center;
				display: block;
			}
		}

		&.horizontal{
			overflow: hidden;

			.companyLogo{

				@media (@xs-only) {
					position: absolute;
					overflow: hidden;
					text-align: left;
				}
				@media (@sm) {
					float: left;
				}
			}
			.price{
				@media (@xs-only) {
					margin-left:65px;
				}
				@media (@sm) {
					float: right;
				}

			}
			.frequency{
				.frequencyAmount,
				.lhcText,
				.rounding{
					text-align: right;
				}
			}
		}

		&.no-logo.horizontal{
			.price{
				float: none;
				.frequencyAmount{
					font-size: 32px;
					line-height: 20px;
					text-align: left;
				}
				.frequencyAmount,
				.lhcText,
				.rounding{
					text-align: left;
				}
			}
		}

		&.results{
			.frequencyAmount{
				color: @price-color;
			}
			.rounding{
				display: none;
			}
			height:111px;
			overflow: hidden;
		}
		.companyLogo {
			&:extend(.companyLogo);
			float: none;

			.ie8 &{
				margin-left: 30px !important; //This is ugly... but so is IE8! There is a -10px margin-left in core logos which this needs to combat
			}
		}
		&.compressed{

			// Compressed is the shorter version when the header bar is docked.
			height: 57px;
			padding: 0;

			.companyLogo{

				:not(.ie8) & {

					position:absolute; /* Stops price colliding and being forced below */
					margin-top: 10px;
					margin-left: 3%;

					&.AHM {
						.normalSpriteImg(
							@health-logo-AHM-width,
							@health-logo-AHM-height,
							@health-logo-AHM-image,
							@health-logo-AHM-offset-x,
							@health-logo-AHM-offset-y,
							@health-logo-AHM-total-width,
							@health-logo-AHM-total-height,
							@logo-compressed-scale
						);
					}
					&.AUF {
						.normalSpriteImg(
							@health-logo-AUF-width,
							@health-logo-AUF-height,
							@health-logo-AUF-image,
							@health-logo-AUF-offset-x,
							@health-logo-AUF-offset-y,
							@health-logo-AUF-total-width,
							@health-logo-AUF-total-height,
							@logo-compressed-scale
						);
					}
					&.BUD {
						.normalSpriteImg(
							@health-logo-BUD-width,
							@health-logo-BUD-height,
							@health-logo-BUD-image,
							@health-logo-BUD-offset-x,
							@health-logo-BUD-offset-y,
							@health-logo-BUD-total-width,
							@health-logo-BUD-total-height,
							@logo-compressed-scale
						);
					}
					&.BUP {
						.normalSpriteImg(
							@health-logo-BUP-width,
							@health-logo-BUP-height,
							@health-logo-BUP-image,
							@health-logo-BUP-offset-x,
							@health-logo-BUP-offset-y,
							@health-logo-BUP-total-width,
							@health-logo-BUP-total-height,
							@logo-compressed-scale
						);
					}
					&.CBH {
						.normalSpriteImg(
							@health-logo-CBH-width,
							@health-logo-CBH-height,
							@health-logo-CBH-image,
							@health-logo-CBH-offset-x,
							@health-logo-CBH-offset-y,
							@health-logo-CBH-total-width,
							@health-logo-CBH-total-height,
							@logo-compressed-scale
						);
					}
					&.CTM {
						.normalSpriteImg(
							@health-logo-CTM-width,
							@health-logo-CTM-height,
							@health-logo-CTM-image,
							@health-logo-CTM-offset-x,
							@health-logo-CTM-offset-y,
							@health-logo-CTM-total-width,
							@health-logo-CTM-total-height,
							@logo-compressed-scale
						);
					}
					&.CUA {
						.normalSpriteImg(
							@health-logo-CUA-width,
							@health-logo-CUA-height,
							@health-logo-CUA-image,
							@health-logo-CUA-offset-x,
							@health-logo-CUA-offset-y,
							@health-logo-CUA-total-width,
							@health-logo-CUA-total-height,
							@logo-compressed-scale
						);
					}
					&.FRA {
						.normalSpriteImg(
							@health-logo-FRA-width,
							@health-logo-FRA-height,
							@health-logo-FRA-image,
							@health-logo-FRA-offset-x,
							@health-logo-FRA-offset-y,
							@health-logo-FRA-total-width,
							@health-logo-FRA-total-height,
							@logo-compressed-scale
						);
					}
					&.GMF {
						.normalSpriteImg(
							@health-logo-GMF-width,
							@health-logo-GMF-height,
							@health-logo-GMF-image,
							@health-logo-GMF-offset-x,
							@health-logo-GMF-offset-y,
							@health-logo-GMF-total-width,
							@health-logo-GMF-total-height,
							@logo-compressed-scale
						);
					}
					&.GMH {
						.normalSpriteImg(
							@health-logo-GMH-width,
							@health-logo-GMH-height,
							@health-logo-GMH-image,
							@health-logo-GMH-offset-x,
							@health-logo-GMH-offset-y,
							@health-logo-GMH-total-width,
							@health-logo-GMH-total-height,
							@logo-compressed-scale
						);
					}
					&.HCF {
						.normalSpriteImg(
							@health-logo-HCF-width,
							@health-logo-HCF-height,
							@health-logo-HCF-image,
							@health-logo-HCF-offset-x,
							@health-logo-HCF-offset-y,
							@health-logo-HCF-total-width,
							@health-logo-HCF-total-height,
							@logo-compressed-scale
						);
					}
					&.HIF {
						.normalSpriteImg(
							@health-logo-HIF-width,
							@health-logo-HIF-height,
							@health-logo-HIF-image,
							@health-logo-HIF-offset-x,
							@health-logo-HIF-offset-y,
							@health-logo-HIF-total-width,
							@health-logo-HIF-total-height,
							@logo-compressed-scale
						);
					}
					&.NIB {
						.normalSpriteImg(
							@health-logo-NIB-width,
							@health-logo-NIB-height,
							@health-logo-NIB-image,
							@health-logo-NIB-offset-x,
							@health-logo-NIB-offset-y,
							@health-logo-NIB-total-width,
							@health-logo-NIB-total-height,
							@logo-compressed-scale
						);
					}
					&.THF {
						.normalSpriteImg(
							@health-logo-THF-width,
							@health-logo-THF-height,
							@health-logo-THF-image,
							@health-logo-THF-offset-x,
							@health-logo-THF-offset-y,
							@health-logo-THF-total-width,
							@health-logo-THF-total-height,
							@logo-compressed-scale
						);
					}
				}
			}


			.lhcText,
			.rounding{
				display: none;
			}

			.price{
				margin-top:10px;
				margin-right: 15%;
				width: 56%;
				float: right;
				span{
					display: block;
				}
			}
		}
	}
	.priceItemisation{
		overflow: hidden;
		line-height: 18px;

		.rounding{
			clear:both;
			font-size: @font-size-small;
			text-align: right;
		}

		.item{
			padding-bottom: 6px;

			.item-label-text{
				font-size: @font-size-small;
			}
			.item-value{
				text-align: right;
			}

			&.basePremium{
				.item-value{
					font-size: @font-size-large;
				}
			}

			&.totalPremium{
				border-top: solid 1px;
				border-color: @theme-light;
				font-family: @font-family-theme-bold;
				color: @price-color;
				padding-top: 10px;

				.item-label-text{
					font-size: @font-size-large;
				}
				.item-value{
					font-size: @font-size-h2;
					.frequencyTitle{
						color: @frequency-color;
						font-size: 10px;
						font-family: @font-family-sans-serif;
						font-weight: normal;
						font-family: @font-family-theme-bold;
						margin-top: 5px;
						letter-spacing: -0.06em;
						display: block;
						line-height: 1;
					}
				}
			}
		}
	}
}

.ie8 {
	.featuresMode,
	.policySummaryContainer {

	}
}

/* Policy summary in right hand column */
.policySummaryContainer{
	@media (@xs-only) {
		position: relative;
		padding:5px;
	}
	@media (@sm) {
		&:not(.formMode){
			margin-bottom: 20px;
			margin-top: -52px;
		}
	}
}

.moreInfoMainDetails{
	.productSummary{
		margin-bottom: 10px;
		@media(@sm){
			margin-bottom: 20px;
		}
	}
}

.companyLogo{
	max-height: @standard-logo-height;
	max-width: 90px;


	margin-left: auto;
	margin-right: auto;

	overflow: hidden;

	&.AHM{
		.normalSpriteImg(
			@health-logo-AHM-width,
			@health-logo-AHM-height,
			@health-logo-AHM-image,
			@health-logo-AHM-offset-x,
			@health-logo-AHM-offset-y,
			@health-logo-AHM-total-width,
			@health-logo-AHM-total-height
		);
		margin: ceil((@standard-logo-height - @health-logo-AHM-height)/2) auto (floor((@standard-logo-height - @health-logo-AHM-height)/2) + @logo-price-spacer) auto;
	}
	&.AUF{
		.normalSpriteImg(
			@health-logo-AUF-width,
			@health-logo-AUF-height,
			@health-logo-AUF-image,
			@health-logo-AUF-offset-x,
			@health-logo-AUF-offset-y,
			@health-logo-AUF-total-width,
			@health-logo-AUF-total-height
		);
		margin: ceil((@standard-logo-height - @health-logo-AUF-height)/2) auto (floor((@standard-logo-height - @health-logo-AUF-height)/2) + @logo-price-spacer) auto;
	}
	&.BUD{
		.normalSpriteImg(
			@health-logo-BUD-width,
			@health-logo-BUD-height,
			@health-logo-BUD-image,
			@health-logo-BUD-offset-x,
			@health-logo-BUD-offset-y,
			@health-logo-BUD-total-width,
			@health-logo-BUD-total-height
		);
		margin: ceil((@standard-logo-height - @health-logo-BUD-height)/2) auto (floor((@standard-logo-height - @health-logo-BUD-height)/2) + @logo-price-spacer) auto;
	}
	&.BUP{
		.normalSpriteImg(
			@health-logo-BUP-width,
			@health-logo-BUP-height,
			@health-logo-BUP-image,
			@health-logo-BUP-offset-x,
			@health-logo-BUP-offset-y,
			@health-logo-BUP-total-width,
			@health-logo-BUP-total-height
		);
		margin: ceil((@standard-logo-height - @health-logo-BUP-height)/2) auto (floor((@standard-logo-height - @health-logo-BUP-height)/2) + @logo-price-spacer) auto;
	}
	&.CBH{
		.normalSpriteImg(
			@health-logo-CBH-width,
			@health-logo-CBH-height,
			@health-logo-CBH-image,
			@health-logo-CBH-offset-x,
			@health-logo-CBH-offset-y,
			@health-logo-CBH-total-width,
			@health-logo-CBH-total-height
		);
		margin: ceil((@standard-logo-height - @health-logo-CBH-height)/2) auto (floor((@standard-logo-height - @health-logo-CBH-height)/2) + @logo-price-spacer) auto;
	}
	&.CTM{
		.normalSpriteImg(
			@health-logo-CTM-width,
			@health-logo-CTM-height,
			@health-logo-CTM-image,
			@health-logo-CTM-offset-x,
			@health-logo-CTM-offset-y,
			@health-logo-CTM-total-width,
			@health-logo-CTM-total-height
		);
		margin: ceil((@standard-logo-height - @health-logo-CTM-height)/2) auto (floor((@standard-logo-height - @health-logo-CTM-height)/2) + @logo-price-spacer) auto;
	}
	&.CUA{
		.normalSpriteImg(
			@health-logo-CUA-width,
			@health-logo-CUA-height,
			@health-logo-CUA-image,
			@health-logo-CUA-offset-x,
			@health-logo-CUA-offset-y,
			@health-logo-CUA-total-width,
			@health-logo-CUA-total-height
		);
		margin: ceil((@standard-logo-height - @health-logo-CUA-height)/2) auto (floor((@standard-logo-height - @health-logo-CUA-height)/2) + @logo-price-spacer) auto;
	}
	&.FRA{
		.normalSpriteImg(
			@health-logo-FRA-width,
			@health-logo-FRA-height,
			@health-logo-FRA-image,
			@health-logo-FRA-offset-x,
			@health-logo-FRA-offset-y,
			@health-logo-FRA-total-width,
			@health-logo-FRA-total-height
		);
		margin: ceil((@standard-logo-height - @health-logo-FRA-height)/2) auto (floor((@standard-logo-height - @health-logo-FRA-height)/2) + @logo-price-spacer) auto;
	}
	&.GMF{
		.normalSpriteImg(
			@health-logo-GMF-width,
			@health-logo-GMF-height,
			@health-logo-GMF-image,
			@health-logo-GMF-offset-x,
			@health-logo-GMF-offset-y,
			@health-logo-GMF-total-width,
			@health-logo-GMF-total-height
		);
		margin: ceil((@standard-logo-height - @health-logo-GMF-height)/2) auto (floor((@standard-logo-height - @health-logo-GMF-height)/2) + @logo-price-spacer) auto;
	}
	&.GMH{
		.normalSpriteImg(
			@health-logo-GMH-width,
			@health-logo-GMH-height,
			@health-logo-GMH-image,
			@health-logo-GMH-offset-x,
			@health-logo-GMH-offset-y,
			@health-logo-GMH-total-width,
			@health-logo-GMH-total-height
		);
		margin: ceil((@standard-logo-height - @health-logo-GMH-height)/2) auto (floor((@standard-logo-height - @health-logo-GMH-height)/2) + @logo-price-spacer) auto;
	}
	&.HCF{
		.normalSpriteImg(
			@health-logo-HCF-width,
			@health-logo-HCF-height,
			@health-logo-HCF-image,
			@health-logo-HCF-offset-x,
			@health-logo-HCF-offset-y,
			@health-logo-HCF-total-width,
			@health-logo-HCF-total-height
		);
		margin: ceil((@standard-logo-height - @health-logo-HCF-height)/2) auto (floor((@standard-logo-height - @health-logo-HCF-height)/2) + @logo-price-spacer) auto;
	}
	&.HIF{
		.normalSpriteImg(
			@health-logo-HIF-width,
			@health-logo-HIF-height,
			@health-logo-HIF-image,
			@health-logo-HIF-offset-x,
			@health-logo-HIF-offset-y,
			@health-logo-HIF-total-width,
			@health-logo-HIF-total-height
		);
		margin: ceil((@standard-logo-height - @health-logo-HIF-height)/2) auto (floor((@standard-logo-height - @health-logo-HIF-height)/2) + @logo-price-spacer) auto;
	}
	&.NIB{
		.normalSpriteImg(
			@health-logo-NIB-width,
			@health-logo-NIB-height,
			@health-logo-NIB-image,
			@health-logo-NIB-offset-x,
			@health-logo-NIB-offset-y,
			@health-logo-NIB-total-width,
			@health-logo-NIB-total-height
		);
		margin: ceil((@standard-logo-height - @health-logo-NIB-height)/2) auto (floor((@standard-logo-height - @health-logo-NIB-height)/2) + @logo-price-spacer) auto;
	}
	&.THF{
		.normalSpriteImg(
			@health-logo-THF-width,
			@health-logo-THF-height,
			@health-logo-THF-image,
			@health-logo-THF-offset-x,
			@health-logo-THF-offset-y,
			@health-logo-THF-total-width,
			@health-logo-THF-total-height
		);
		margin: ceil((@standard-logo-height - @health-logo-THF-height)/2) auto (floor((@standard-logo-height - @health-logo-THF-height)/2) + @logo-price-spacer) auto;
	}
}