//
// Tooltips using the popovers.js module which uses qTip library.
//
.priceTooltips {
  .qtip-variant(@qtip-health-price-border, 5px, @qtip-health-price-bg-color, @qtip-health-price-bg-color, 0, 10px, @qtip-health-price-title-text-color, @qtip-health-price-content-text-color);
  max-width: 350px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.2);
  .qtip-content{
    font-size: 12px;
    strong{font-weight: bold;}
    span.highlighted {
      font-weight: normal;
      font-family: @font-family-theme-bold;
      font-size:110%;
      color: @qtip-health-price-highlight-color;
    };
  }
}


//== QTIP based TOOLTIPS and POPOVERS
//
//## /health/Tooltips.less
//** Tooltip override for price
@qtip-health-price-border: 1px solid #ccc;
@qtip-health-price-bg-color: #fff;
@qtip-health-price-title-text-color: @text-color;
@qtip-health-price-content-text-color:@text-color;
@qtip-health-price-highlight-color: #485f94; //highlighted text colour