/*---
title:   Results Features Mode
section: Health
---
*NOTE* Health is only in this "shared module" during development.

Health specific overrides to the features design and structure.
*/

@cross-color: #FF5F5F;
@features-detail-labels-background: #F2F2F2;
@features-detail-items-background: #E2E4E7;
@hospital-cover-color: @theme-tertiary;
@extras-cover-color: @theme-secondary;
@hospital-cover-border-bottom: @hospital-cover-color;
@extras-cover-border-bottom: @extras-cover-color;

.featuresMode {
  /* ------------------------*/
  /* RESULTS: HLT EXCESS     */
  /* Hide the "Excess" heading as it is not necessary to be displayed.  */
  /* ------------------------*/
  .excessSection > .h, .excessSection > .c {
    display: none;
  }
  // Fix the border at the top of the excess section.
  .excessSection {
    border-top: 1px solid @results-border-color;
    .content {
      .small;
    }
  }
  /* ---------------------------*/
  /* RESULTS: SELECTED BENEFITS */
  /* Specific styles for selected benefits  */
  /* ---------------------------*/
  .section {
    &.selection_Hospital > .content,
    &.hospitalCover h2 {
      border-bottom-color: @hospital-cover-border-bottom;
    }
    &.selection_GeneralHealth > .content,
    &.extrasCover h2{
      border-bottom-color: @extras-cover-border-bottom;
    }
  }

  /* ------------------------*/
  /* RESULTS: HIDE SECTIONS  */
  /* Hide the "other" features sections (hospital, extras) */
  /* ------------------------*/
  .cell.section.expandable {
    &.hospitalCover, &.extrasCover {
      display: none !important;
    }
  }

  /* ------------------------*/
  /* RESULTS: HLT Feature Styling  */
  /* ------------------------*/

  .result-row .featuresList,
  .featuresHeaders .featuresList {
    .children > .category .children .content {
      padding: 5px;
      background-color: @features-detail-items-background;
      border-bottom: 1px solid @results-border-color;
    }
    .children > .category .children .content:last-child {
      border-bottom: none;
    }
  }

  .featuresHeaders .featuresList {
    .children > .category .children .content {
      background-color: @features-detail-labels-background;
    }
  }

  // Ambulance, as it is not a ".section" requires a few style overrides.
  .category.ambulanceSection {
    border-bottom: 1px solid @results-border-color;
  }

  .result-row.active {
    .resultInsert {
      background-color: #E8EBF4;
      // borders too hard :|
    }
  }

  // Styling the HLT price component total premium.
  .price-component {
    .primary-price .primary-price-value {
      color: @theme-tertiary;
    }
  }

  .featuresHeaders, .result-row {
    .hospitalCover .children .category {
      &.expanded > .content,
      &.expanding > .content {
        // important due to specificity of zebra styling overriding
        background-color: @hospital-cover-color;
        color: #fff;
        *{
          color: #fff;
        }

      }
      > .content.expandableHover {
        background-color: @hospital-cover-color;
        color: #fff;
        *{
          color: #fff;
        }
      }
    }

    .extrasCover .children .category {
      &.expanded > .content,
      &.expanding > .content {
        background-color: @extras-cover-color;
        color: #fff;
        *{
          color: #fff;
        }
      }
      > .content.expandableHover {
        background-color: @extras-cover-color;
        color: #fff;
        *{
          color: #fff;
        }
      }
    }
  }

}