.coverLevelTabs {
	color: @gray-darker;

	.clt-action {
		font-family: @font-family-theme-bold;
		line-height: 14px;
		padding: 10px 0;
	}
	.clt-action {
		cursor: pointer;
		font-size: 12px;
		text-transform: uppercase;
		border: 1px solid #fff;
		border-top: none;
		background-color: @clt-inactive-bg-color;
	}
	.active, .clt-action:hover {
		background-color: @clt-active-bg;
		color: @clt-active-color;
	}

	// xs styles
	@media(@xs-only) {
		& {
			margin-top: 0;
		}
		#currentTabsContainer {
			overflow-x: auto;
			width: 100%;
		}
		.clt-action {
			padding: 10px 5px;
			border: 1px solid #fff;
			border-bottom: none;
			/* not ideal */
			white-space: nowrap;
		}
	}
}