/**
 * Used to style the debug_info.tag.
*/
.fixedDevEnvDialog {
	background:#F5F5F5;
	color:#888;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:10px;
	left:1px;
	padding:3px;
	bottom: 1px;
	position:fixed;
	z-index: 10005;
	width:220px;

	&.secondaryDevEnvDialog {
		bottom:28px;
	}

	&.warning {
		background:#000;
		color:#fff;
	}

	&.debugInfoHidden {
		width:auto;
	}

	@media (max-width: @screen-xs-max) {
		opacity:0.8;
		color:#555;
	}

	.closeDevEnvDialog {
		width:20px;
		height:30px;
		position:absolute;
		right:-4px;
		top:-8px;
		cursor: pointer;
		img {
			position:absolute;
			width:20px;
			right:-3px;
		}
	}
}
#aggTimer.debugInfoHidden {
	display:none;
}