// Container that the modal scrolls within
.modal {
  &.fade .modal-dialog {
	.translate(0, 0);
  }
}

.modal-body{
	-webkit-overflow-scrolling: touch; //could be screwing up z-index stacking contexts.
	overflow: auto; //fallback
	overflow-x: hidden; //if it doesn't response, cut it off
	overflow-y: auto; //correct
	//border-radius: 5px;
	h1, h2, h3 {
		margin-top: 0;
	}
}

.modal-footer {
	margin-top: 0;
	padding: 10px 20px;
	.btn{
		min-width: 100px;
	}
}

@media (min-width: @screen-sm-min) {

	@modal-closebar-button-offset: 23px;
	@modal-closebar-button-negoffset-right: @modal-closebar-button-offset;
	@modal-closebar-button-negoffset-top:   @modal-closebar-button-offset;

	.modal-dialog {
		width: (@container-sm - @modal-closebar-button-offset);
	}

	.modal-content {
		border: @modal-content-border-width-style;
		border-radius: @modal-content-border-radius;
	}

	.modal-header {
		border:none;
		padding: 20px;
		padding-bottom: 0;
	}
	.modal-footer {
		border:none;
		padding-bottom:0;
		padding-right: 0;
		background-color: @modal-footer-border-color;
	}

	.modal-closebar {
		position: absolute;
		right: -@modal-closebar-button-negoffset-right;
		top: -@modal-closebar-button-negoffset-top;
		z-index: (@zindex-modal+10);

		text-align: right;
		a {
			width: 33px;
			height: 33px;
			background-color: @modal-close-button-bg-color;
			margin: 0;
			color: @modal-close-button-text-color;
			border: @modal-close-button-border !important;
			padding: 0;
			.icon {
				display: none;
				color: @modal-close-button-text-color;
			}
			.icon-cross {
				display: block;
				font-size: 13px;
				margin-top: 7px;
			}
			border-radius: @modal-close-button-border-radius;
		}

	}
}

.modal-breakpoint-wide{
	width: 100%;
	@media (min-width: @screen-sm) {
		width: @container-sm;
	}
	@media (min-width: @screen-md) {
		width: @container-md;
	}
	@media (min-width: @screen-lg-min) {
		width: @container-lg;
	}
}

//Special display on XS
@closeHeight: 40px;

@media (max-width: @screen-xs-max) {
	.modal-dialog, .modal-breakpoint-wide {
		margin: 0;
	}
	.modal-content {
		border-width: 0;
		border-radius: 0;
		background-color: @modal-xs-content-bg-color;
	}
	.modal-footer {
		padding: 0;
		.btn{
			display: none;
		}
		&.mustShow{
			display: block;
			.btn{
				display: block;
			}
		}
	}
	.modal-closebar {
		text-align: right;
		a {
			.header-top .navbar-toggle;
			padding-left: 10px;
		}
	}
	.modal-body {
		background-color: @modal-xs-body-bg-color;
	}
	// Used for more info modals.
	.modal-tight .modal-body {
		padding: 0;
	}

	.modal-header {
		background-color: @modal-xs-header-content-bg-color;
		border-top: @modal-xs-header-border-top-width-style;
	}
}
