/*BOOTSNIP FOR MEGAMENU*/

// Kill the scroll on the body
body.dropdown-open {
  overflow: hidden !important
}

.dropdown-interactive {
	position: static !important;

	.dropdown-menu {
		padding: 0;
	}
}

.dropdown-menu-large {
	margin-right: @navbar-padding-horizontal;
	margin-left:  @navbar-padding-horizontal;
	padding: @navbar-padding-vertical @navbar-padding-horizontal;
	left: 0;
	right: 0;

	& > li > ul {
		padding: 0;
		margin: 0;

		& > li {
			list-style: none;

			& > a {
				display: block;
				padding: 3px 20px; //same as dropdown
				clear: both;
				white-space: normal;
				line-height: @line-height-base;
				color: @dropdown-link-color;

				&:hover,
				&:focus {
					text-decoration: none;
					color: @dropdown-link-hover-color;
					background-color: @dropdown-link-hover-bg;
				}
			}
		}
	}

	//Performed by applying .dropdown-menu as well
	// 	& .disabled > a,
	// 	& .disabled > a:hover,
	// 	& .disabled > a:focus {
	// 	color: #999999;
	// }

	& .disabled > a:hover,
	& .disabled > a:focus {
		text-decoration: none;
		background-color: transparent;
		background-image: none;
		filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
		cursor: not-allowed;
	}

	& .dropdown-header {
		color: #428bca;
		font-size: 18px;
	}

	.navbar-default & {
		background-color: @dropdown-interactive-bg;
		//border: 1px solid #fff;
	}
}

// .dropdown-backdrop {
// 	z-index: (@zindex-dropdown-interactive-base - 10);
// }

/* Introduced 'underlay' so I don't have to fight bootstrap */
.dropdown-backdrop-underlay {
  .dropdown-backdrop();
}

header .dropdown-backdrop,
header .dropdown-backdrop-underlay {
	z-index: 0;
	background-color: @modal-backdrop-bg;
	.opacity(.8);
}



@media (max-width: @grid-float-breakpoint-max) {
	.dropdown-menu-large {
		margin-left: 0;
		margin-right: 0;
	}
	.dropdown-menu-large > li {
		margin-bottom: 30px;
	}
	.dropdown-menu-large > li:last-child {
		margin-bottom: 0;
	}
	.dropdown-menu-large .dropdown-header {
		padding: 3px 15px !important;
	}
}

.dropdown-container {
	form {
		padding: 20px;
	}

	h2, h4, h5 {
		margin-top: 0;
	}

	.footer {
		clear: both;
		padding-top: 15px;
		text-align: right;
	}
}

.dropdown-interactive {
	.hr {
		border-top: 1px solid @gray-lighter;
		border-bottom: 1px solid lighten(@gray-lighter, 15%);
	}
}
