.dynamicTopHeaderContent {
	.top-bar {
		text-align: center;
		padding: 10px;
		background-color: @dynamicheadercontent-bg;
		display: block;
		a {
			color: white;
			font-size: @dynamicheadercontent-font-size;
			&:hover{
				text-decoration: none;
				color:white;
			}
		}
	}
}