//[data-livechat=target] is the main container target for injection of the button.
[data-livechat="button"] {
	display: none; //invisible by default
}
[data-livechat="target"] {

	&[data-livechat-state="true"] {
		[data-livechat="button"] {
			display: inline-block;
		}
	}
	
}
.select {
	select {
		visibility: visible !important; //Livechat weirdness actually causes a select visibility bug.
	}
}