// Placeholder sham

.fakeplaceholder {
    display: block;
    z-index: 1;
    position: absolute;
    color: @input-color;
    .opacity(.5);
    overflow: hidden;
    word-wrap: break-word;
}