#resultsBridgeLess {

	.resultsOverflow {
		overflow-x: hidden !important;
	}

	.result_unavailable_combined {
		.productSummary {
			height: auto;
		}
	}

	.productSummary {
		height: 175px;
	}

	.featuresMode {

		.compare-toggle-wrapper {
			float: right;
		}

		.monthlyBreakdown {
			padding: 5px 0;

			.totalPayment {
				display: inline-block;
			}
		}
	}

	.expand-collapse-toggle {
		text-transform: uppercase;
		position: absolute;
		right: 10px;
		bottom: 10px;
	}

	.fixedDockedHeader {
		display: none;
		position: fixed;
		z-index: 1;
		background-color: #FFFFFF;
		border: @results-border-color 1px solid;
		border-top: none;
	}

	.featuresDockedHeader {
		height: auto;
		display: none;
		position: fixed;
		z-index: 1;

		.featuresMode {
			background-color: #FFFFFF;
			margin-top: -10px;
			margin-bottom: 0px;
			padding: 0 10px 10px 10px;
			border-bottom: @results-border-color 1px solid;
		}

		.companyLogo {
			width: 60px;
			height: 60px;
			line-height: 60px;
			background-size: 60px 60px;
		}

		.frequency {
			margin: 10px 0 0 75px;
			padding-top: 10px;
			width: auto;
			text-align: left;

			.frequencyAmount {
				display: inline-block;
				text-align: left;
				width: auto;
			}

			.frequencyTitle {
				display: inline-block;
				text-align: left;
				width: auto;
			}
		}

		.btn-cta {
			padding-top: 5px;
			padding-bottom: 5px;
			margin-top: 0px;
		}
	}

	.headers.featuresNormalHeader {
		.controlContainer {
			border-left: @results-border-color 1px solid;
		}

		.compare-basket {
			padding: 15px;
			text-align: justify;

			.compare-max-count-label {
				font-weight: bold;
			}

			.products-returned-count {
				font-weight: bold;
			}
		}
	}

	.featuresNormalHeader {
		.companyLogo {
			width: 80px;
			height: 80px;
			line-height: 80px;
			background-size: 80px 80px;
		}

		.compareButtonsContainer {
			text-align: center;

			.btn-features-compare, .btn-compare-clear {
				position: inherit;
				width: 60%;
				margin-top: 12px;
				bottom: 40px;
				padding-top: 9px;
				padding-bottom: 9px;
			}
		}

		.frequency {
			margin-bottom: 0;
			margin-left: 15px;
			width: auto;
			padding-top: 21px;

			.frequencyAmount {
				display: inline-block;
				text-align: left;
				width: auto;
			}

			.frequencyTitle {
				display: inline-block;
				text-align: left;
				width: auto;
			}
		}
	}

	.applyNowWrapper {
		text-align: center;
		.btn-cta {
			display: inline-block;
			width: 70%;
		}
	}

	// Custom themeing for the elements in the cols/rows.
	.featuresList {
		.icon-tick, icon-cross {
			margin-top: 3px;
		}

		.btnContainerNoBtn {
			margin-top: 8px;
		}

		.btnContainer  {
			text-align: center;

			.btn {
				width: 70%;
				padding-top: 5px;
				padding-bottom: 5px;
				margin-top: 2px;
				display: inline-block;
			}

			.btn-download {
				margin-right: 5px;
				margin-left: 5px;
			}
		}

		ul {
			list-style: none;
			padding: 0 10px;

			li {
				padding-bottom: 10px;
				&:before {
					content: "- ";
				}
			}
		}

		.height10 {
			height: 5px;
		}
		.height20 {
			height: 15px;
		}
		.height30 {
			height: 25px;
		}
		.height40 {
			height: 35px;
		}
		.height50 {
			height: 45px;
		}
		.height60 {
			height: 55px;
		}
		.height70 {
			height: 65px;
		}
		.height80 {
			height: 75px;
		}
		.height90 {
			height: 85px;
		}
		.height100 {
			height: 95px;
		}
		.height110 {
			height: 105px;
		}
		.height120 {
			height: 115px;
		}
		.height130 {
			height: 125px;
		}
		.height140 {
			height: 135px;
		}
		.height150 {
			height: 145px;
		}
		.height160 {
			height: 155px;
		}
		.height170 {
			height: 165px;
		}
		.height180 {
			height: 175px;
		}
		.height190 {
			height: 185px;
		}
		.height200 {
			height: 195px;
		}
		.height210 {
			height: 205px;
		}
		.height220 {
			height: 215px;
		}
		.height230 {
			height: 225px;
		}
		.height240 {
			height: 235px;
		}
		.height250 {
			height: 245px;
		}
		.height260 {
			height: 255px;
		}
		.height270 {
			height: 265px;
		}
	}
}