#session_pop {
	display:none;
	z-index:9011;
	position:fixed;
	top:130px; left:50%;
	margin-left:-168px;
	width:325px;
	background-color:#eee;
	border:10px solid #fff;
	padding:15px; font-size:14px;

	& .noRecover,
	&.noRecover .recover {
		display:none;
	}
	&.noRecover .noRecover {
		display:block;
	}
	& p {
		display:block; margin:-2px 0 1em 0;
		line-height:17px; font-size:13px;
	}
}
#session_btn,
#session_btn_exit,
#session_btn_restart{
	display:block; width:80px;
	font-weight:bold;
	color:#fff; padding:5px 6px 6px 6px;
	background-color:#06f;
	margin:9px auto 5px auto;
	font-size:14px;
	cursor:pointer; cursor:hand; text-decoration:none;
	text-align:center;
}
#session_btn_restart {
	width:160px;
	margin-bottom:2em;
}
#session_overlay {
	display:none;
	z-index:9010;
	position: fixed;
	top:0; left:0;
	bottom: 0; right: 0;
	opacity:0.65;
	filter:alpha(opacity=65);
	-moz-opacity:0.65;
	background-color:#000;
}
#session_countdown {
	text-align:center;
	font-weight:bold;
	margin:12px 0 14px 0;
	font-size:16px;
}
#session_pop,
#session_btn,
#session_btn_exit,
#session_btn_restart {
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	-khtml-border-radius:6px;
}