// SLIDER
.slider-control {
	@border-size: 3px;
	@height: 14px;
	@handle-size: @height;
	@first-marker-left: (@height * .36);

	.noUi-background {
		background: none;
	}
	.noUi-base, .noUi-origin {
		background: @theme-secondary; //Bar colour to left of handle
		cursor: pointer;
	}
	.noUi-base {
		border-radius: (@height / 2) 0 0 (@height / 2);
	}
	.noUi-origin {
		border-radius: 0 (@height / 2) (@height / 2) 0;
		background: #fff; //Bar colour to right of handle
	}
	.noUi-target {
		border: 0;
		border-radius: 0;
		box-shadow: none;
		height: @height;
	}

	.noUi-horizontal {
		&.noUi-extended {
			padding-left: 0;
			margin: 5px 0;
		}
		.noUi-handle {
			cursor: pointer;
			box-shadow: none;
			.box-sizing(content-box);
			height: @handle-size;
			width: @handle-size;
			top: -@border-size;
			left: -@border-size;
			background: @theme-active;
			border-radius: @handle-size;
			border: @border-size solid #E4E6D8; //TODO colour from variable of customise cover dropdown bg

			&:before, &:after {
				display: none;
			}
		}
	}

	.slider-marker {
		height: inherit;
		float: left;

		&:after, &.first:before {
			content: '';
			background: #E4E6D8; //TODO colour from variable of customise cover dropdown bg
			display: block;
			width: (@height * .43);
			height: (@height * .43);
			border-radius: (@height * .43);
			position: relative;
			top: (@height * .29);
			left: 100%;
		}

		&.first:before {
			position: absolute;
			left: @first-marker-left;
		}
	}

	.selection,
	.slider-legends {
		//.clearfix();
		height: 1em;
		position: relative;
		padding-right: 15px;
		margin-bottom: (@border-size * 2);

		font-size: 80%;
		font-weight: bold;
		color: #868780; //TODO
	}
	.slider-legends {
		padding-left: @first-marker-left;
	}
	.slider-legend {
		float: left;
		text-align: right;

		span {
			display: inline-block;

			b {
				display: inline-block;
				position: relative;
				left: 50%;
				white-space: nowrap;
			}
		}

		&.first {
			position: absolute;
			text-align: left;
			b {
				left: -@first-marker-left;
			}
		}
		&.last {
			position: absolute;
			right: 0;
			b {
				left: 0;
			}
		}
	}
}
