.snapshot {
	font-size: @font-size-small;

	.icon {
		font-size:4em;
		color: @snapshot-icon;
	}

	.snapshot-title {
		font-size: @font-size-h4;
	}
}
.snapshot.bubble {
	.icon {
		color: @snapshot-icon-inverted;
		@media (@xs-only) {
			font-size:3em;
		}
	}
	.change-car-button-row {
		@media (@xs-only) {
			margin-top:0.5em;
		}
	}
	.btn {
		display:block;
		width:auto;
	}
	.snapshot-items {
		span {
			margin-left:1em;
		}
	}
}